@charset "utf-8";
/*common style*/
.verdana{font-family: "Verdana";}
body,html{margin:0;padding:0;font-size:16px;color:#000;font-family:"Microsoft YaHei","微软雅黑";line-heihgt:1.25rem;}
ul,li,img{margin:0;padding:0;list-style:none;border:none;}
a{color:#000;text-decoration:none;}
body{background: #f7f7f7;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;}
.relative{position:relative;}
.absolute{position: absolute;}
.fix     {position: fixed;}
.left{float: left;}
.right{float: right;}
.hide{display: none;}
html[xmlns] .clearfix {display: block;}
a,button,input,img,table,ul,li,tr,td,div{-webkit-tap-highlight-color:rgba(0,0,0,0);font-family: "微软雅黑";}
button:active{opacity: 0.85;}
.overflow-y{overflow-y: hidden;height: 100%;}
.content {width: 100%;position: relative;max-width: 40rem;margin: 0 auto;}
.content.overflow{overflow-x: hidden;}
.content,.page{background: #f3f3f3;}
.bd.pb40{padding-bottom: 3rem;}
a:active{opacity: 0.8;}
.bd.pt{padding-top: 2.75rem;}
.bd.absolute{position:absolute;top:0;bottom:0;overflow-y:scroll;-webkit-overflow-scrolling:touch;width:100%}
.bd.bt1{border-top: 1px solid #efefef;}
.bd.pd48{padding-bottom:58px;padding-top: 2.75rem;}
img.w100{width: 100%;}

.bd.bgfff{background: #fff;}
.content.relative,.page.relative{position: relative;}
.page.relative{overflow: inherit;}
.bd.pb60{padding-bottom: 60px;padding-top: 2.75rem;}
.hd.fixed{position: fixed}





/*head*/
.hd{width: 100%;height: 2.75rem;background: #fff;line-height: 2.75rem;text-align: center;color: #fff;padding: 0;position: relative;z-index: 102;border-bottom: 1px solid #efefef;}
.hd>a.left{padding: 0 0.5rem;position: absolute;left: 0.5rem;font-size: 1rem;color: #333}
.hd>a.left.relative{position: relative;}
.hd>a.left .fa{font-size: 1.5rem;position: relative;top: 0.2rem;}
.hd .h_menu{display: inline-block;position: relative;}
.hd.style .h_menu{display: inline-block;position: relative;left: 0;}
.hd .h_menu li{float: left;margin-right: 0.3rem;}
.hd .h_menu li a{display: inline-block;color: #333;height: 2.375rem;line-height:2.375rem; }
.hd.style .h_menu li a{color: #666;height: 2.625rem;line-height: 2.625rem;}
.hd .h_menu li.active a{color: #e72882;border-bottom: 0.125rem solid red;}
.hd>a.right{padding: 0 0.5rem;position: relative;right: 0.5rem;font-size: 1rem;color: #333;  }
.hd.style>a.right{color: #e72882;  }

/*提示*/
.weui_toast.tip{
    position: fixed;
    z-index: 3;
    width: 7.6em;
    min-height: inherit;
    padding: 1rem 0;
    top: 11.25rem;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(40, 40, 40, 0.75);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
}
.weui_toast.tip .weui_toast_content{margin-bottom: 0;}


/*index*/
.bannerNav{display: block;padding: 1.5rem 0.9rem;background: #fff;position: relative;  top: -0.6rem;}
.nacMenu{display: block;}
.nacMenu li{float: left;width: 22%;margin-right: 3%}
.nacMenu li a{display: block;text-align: center;color: #666;font-size: 0.875rem;}
.nacMenu li a img{width: 100%}
.nacMenu li:last-child{margin-right:0;}
.activeList{padding: 0.4rem 0.9rem;}
.activeList.mt0{margin-top: 0 !important;}
.activeList.p0{padding: 0;margin-top: -0.5rem;}
.activeMenu{display: block;}
.activeList.p0 li{border: 0;}
.activeMenu li{width: 100%;background: #fff;margin-bottom: 0.625rem;border: 1px solid #dbdbdb;
    position: relative;}
.activeMenu li>a{display: block;}
.activeMenu li:last-child{margin-bottom: 0;}
.t_d{width: 100%;position: relative;}
.t_d>a{display: block;width: 100%;height: 9rem;}
.t_d>a>.w100{width: 100%;height: 100%;}
.personP{position: absolute;width: 4.6rem;height: 4.6rem;left: 50%;margin-left: -2.3rem;bottom: -2.3rem;border-radius: 100%;padding: 0.1rem;background: #fff;}
.personP .defaultA{width: 100%;height: 100%;}
.personP .defaultP{width: 100%;height: 100%;position: relative;}
.personP .addressIcon{position: absolute;width: 1.6rem;height: 1.6rem;right: 0.1rem;bottom: 0.1rem;}
.b_d{padding: 2.5rem 0.625rem 0.625rem 0.625rem;}
.addressInfor{text-align: center;color: #999;font-size: 0.875rem;width: 100%;}
.addressInfor>img{width: 1.1rem;  position: relative;  top: 0.2rem;}
.addressInfor>img,.inforSpan{}
.k_j{padding: 0.625rem 0;font-size: 1rem;color: #333;}
.k_j span{display: inline-block;padding: 0.2rem 0.5rem;background: #ff0004;color: #fff;font-size: 0.875rem;margin-right: 0.2rem;}
.k_j span.hide{display: none;}
.k_j .k_j_j{background: #e72882;}
.k_j .k_j_y{background: #dddddd;}
.k_j .k_j_k{background: #e72882;}
.pross{display: table;margin-top: 1rem;width: 100%;position: relative;}
.pross_i,.pross_h{display: table-cell;vertical-align: middle;}
.pross_i{width: 75%;}
.pross_i p{font-size: 0.875rem;color: #666;}
.pross_i p.style{color: #333;}
.pross_i .fatherNum{width: 100%;background: #dddddd;border-radius: 7px;height: 1rem;margin: 0.3rem 0;overflow: hidden;position: relative;}
.pross_i .fatherNum .sonNum{height: 100%;border-radius: 7px 0 0 7px;background: #e72a83;display: inline-block;position: absolute;top: 0;}
.pross_h{width: 15%;position: absolute;right: 0;text-align: center;top: 1.3rem;color: #666;}
.pross_h.active{color: #e72a83;}
.pross_h .fa-heart-o{}
.pross_h .h_n{}
.fatherSpan{}
.other{}
.activeList.p0 .style{margin-bottom: 0.625rem;}
.swiper-slide>.a{display: block;}
.pross_h.style>a{font-size: 0.875rem;text-decoration: underline;color: #666;}
.pross_h.style{width: 20%;}
.activeList.p0 .b_d{padding: 0.625rem;}
.k_j_i{font-size: 0.875rem;color: #999;position: relative;padding-bottom: 0.625rem;}
.k_j_i:after{content: "";position: absolute;left: -0.625rem;right: -0.625rem;height: 1px;border-bottom: 1px solid #dbdbdb;bottom: 0;}


/*help*/
.navJ{width: 100%;}
.navJ li{width: 100%;border-bottom: 1px solid #efefef;}
.navJ li .j_h{display: block;background: #fff;font-size: 1rem;color: #333;padding: 0.625rem 1rem;}
.navJ li .j_b{padding: 0.625rem 1rem;background: #f3f3f3;color: #666;font-size: 0.875rem;display: none;}
.navJ li.on .j_b{display: inline-block;}

/*activeInfor*/
.infor{padding: 0.625rem 0;border-top: 1px solid #efefef;font-size: 0.875rem;color: #666;}
.infor.p0{padding: 0;}
.infor.p0>a{display: block;padding: 0.625rem 0;color: #666;}
.infor .icon{display: inline-block;position: relative;top: 0.2rem;}
.infor .icon_time{width: 1rem;height: 1rem;background: url("../images/time.png") no-repeat;background-size: 100% 100%;}
.infor .icon_address{width: 1rem;height: 1rem;background: url("../images/address.png") no-repeat;background-size: 100% 100%;}

.infor .title{font-size: 1rem;color: #999;}
.infor .i_con{margin-top: 1rem;display: block;}
.infor .i_con .left{display: table;}
.activeTitle{position: relative;left: 0.2rem;font-size: 1rem;color: #333;}
.infor .i_con .left div{display: table-cell;vertical-align: middle;}
.infor .i_con .left div>a{display: inline-block;width: 3.625rem;height: 3.625rem;border-radius: 100%;}
.infor .i_con .left div>a img{width: 100%;height: 100%;}
.infor .i_con .left div>img{position: absolute;right: 0.2rem;bottom: 0.2rem;width: 1.25rem;height: 1.25rem;border-radius: 100%;}
.infor .i_con .right{position: relative;top: 0.7rem;}
.infor .i_con .right .btn_s,.infor .i_con .right .btn_l{display: inline-block;outline: none;;border: 1px solid #efefef;border-radius: 2px;padding: 0.3rem 0.8rem;background: transparent;color: #999;}
.infor .i_con .right .btn_s{}
.infor .i_con .right .btn_l{}
.active_p{padding: 0 0.625rem;margin: 0.625rem 0 0 0;background: #fff;}
.active_n{display: block;}
.active_n li{float: left;width: 33.333%;padding: 0.625rem 0;display: block;text-align: center;}
.active_n li.active a{color: #e72a83;border-bottom: 2px solid #e72a83;}
.active_n li a{padding: 0.2rem 0;border-bottom: 2px solid transparent;color: #999;}
.ac_in{display: none;position: relative;}
.ac_in.active{display: block;}
.ac_in.bt1{border-top: 1px solid #efefef;}
.ac_d{}
.ac_mu{}
.ac_mu li{display: table;    padding: 0.625rem 0;}
.ac_mu li .ac_div,.per_in{display: table-cell;vertical-align: top;}
.per_in{width: 80%;padding: 0.5rem 0;border-bottom: 1px solid #efefef;position: relative;}
.ac_mu li .ac_div{padding-right: 0.625rem;position: relative;top: 0.5rem;}
.ac_mu li .ac_a{    width: 4rem;
    height: 4rem;
    display: inline-block;border-radius: 100%;}
.ac_mu li .ac_a img{width: 100%;height: 100%;}
.per_i_i{}
.per_i_i p{font-size: 0.875rem;color: #666;margin-bottom: 0.3rem;}
.per_i_i p img{display: inline-block;width: 4rem;height: 4rem;margin-right: 0.5rem;}
.per_i_i p.title{font-size: 1rem;color: #333;}
.starMenu{position: absolute;right: 0;top: 0;display: block;}
.starMenu li{float: left;margin-right: 0.2rem;padding: 0;}
.starMenu li .fa{font-size: 1rem;color: #999;}
.starMenu li.active .fa{color: #ffc809;}
a{position: relative;}
a>.weui_cell_ft:after {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);

    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 2px;
}
.b_s{
    display: inline-block;text-overflow:ellipsis; overflow:hidden; white-space:nowrap; width: 80%;position: relative;
    top: 0.4rem;
}

.k_j a.share_icon{display: inline-block;background: url("../images/share.png") no-repeat;width: 1.5rem;height: 1.5rem;background-size: 100% 100%;float: right;}
.ykjBg{background: url("../images/ykjBg.png") no-repeat;width: 5rem;height: 3rem;background-size: 100%;display: inline-block;position: relative;top: 1rem;}
.entryList li p.bt1.style.m0 {

    margin: 0;
}
.entryList.pl0 li a{padding: 0.625rem 0 0.625rem 0;width: 100%;}
.entryList li .inforList>span.w150{width: 150%;}


.pross.hide{display: none;}
div.block{padding: 0.625rem 0;display: block;}
div.block div.left{color: #999;}
div.block div.left span.color{color: #e72a83;font-weight: bold;}
.btn_js{ display: inline-block;position: relative;top: 0.5rem;
    outline: none;
    border: 1px solid #efefef;
    border-radius: 2px;
    padding: 0.3rem 0.8rem;
    background: transparent;
    color: #999;
    font-size: 0.875rem;
}

/*getCode*/
.get_c{}
.code_i{  margin-top: 0.625rem;  width: 98%;  border: 0;  outline: 0;  -webkit-appearance: none;  font-size: 0.875rem;  text-align: center;  color: #333;  padding: 0.875rem 0 0.625rem 2%;  background: #fff;  border-top: 1px solid #efefef;  border-bottom: 1px solid #efefef;  }

.weui_btn_area .weui_btn_primary.bg{ background: #343434 !important; }
.weui_btn_area .weui_btn_primary.mb10{ margin-bottom: 1.17647059em;}
.code_c{background: #fff;}
.c_img{background: #fff;text-align: center;padding: 2rem 0;}
.c_img.hide{display: none;}
.c_img>img{width: 5rem;height: 5rem;border-radius: 100%;}
.c_img p{margin-top: 0.625rem;font-size: 0.875rem;color: #666;}
.c_img p.mb30{margin-bottom: 30px;}
.c_img p .color{font-size: 1.125rem;color: #b8a06f;padding-bottom: 0.3rem;display: inline-block;}
.c_img.style .c_infor{text-align: center;color: #e93f90;padding: 2rem 0;font-size: 1rem;width: 80%;margin: 0 auto;}
.c_img.style .c_infor{color: #999;}
.c_infor{border-top: 1px solid #efefef;padding: 0 1rem;text-align: left;}
.active_i{padding-top: 1rem;}
.active_i p{font-size: 0.875rem;color: #666;}
.active_i p.title{color: #333;}
.active_i p span{}
.active_i p span.span_t{}



/*pay*/
.entryList{margin-top: 0.625rem;}
.entryList li{background: #fff;}
.entryList.imgStyle{padding-bottom: 10px;}
.entryList.imgStyle li{display: block;}
.entryList.imgStyle span{display: inline-block;width: 25%;text-align: center;margin-top: 0.625rem;}
.entryList.imgStyle span img{width: 3.75rem;height: 3.75rem;border-radius: 100%;}
.entryList li .couponImg,.entryList li .inforList,.entryList li .tipLeft,.entryList li .passIcon{display: table-cell;vertical-align: middle;}
.entryList li .inforList.style{padding: 0;}
.inforList {
    display: block;
    padding: 0px 3%;
    font-size: 14px;
    color: #666;
}
.entryList li .couponImg{width: 20%;position: relative;text-align: center;}
.entryList li .couponImg img.couponTip{position: absolute;width: 30%;right: -10%;top: -10%;}
.entryList li .couponImg img.couponImg1{width: 70px;height: 4.375rem;}
.entryList li .couponImg.style img.couponImg1{width: 5rem;height: 5rem;border-radius: 2px;}
.entryList li .inforList{width: 65%;}
.entryList li .inforList>span{display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;font-size: 14px;color: #999;}
.entryList li .inforList span.money{font-size: 1rem;color: #ff0404;}
.entryList li .inforList span.title{font-size: 1rem;color: #333;border: none;}
.entryList li .inforList span.title.styles{font-size: 1.125rem;}
.entryList li .inforList.top{vertical-align: top;}
.entryList li .inforList span.color1{color:#ff0404; font-size: 1.125rem;}
.entryList li .inforList span.title .inforTitle{font-size: 1rem;display: inline-block;text-overflow:ellipsis; overflow:hidden; white-space:nowrap; width: 120px;color: #333;}
.entryList li .inforList span.inforListInfor{display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;}
.weui_textarea.pt0{border: 0 !important;}
.entryList li .inforList span.color{text-align: right;color: #ff3b30;}
.entryList li .inforList span.inforListInfor.style{-webkit-line-clamp: 2;}
.entryList li .tipLeft,.entryList li .passIcon{font-size: 0.875rem;width: 10%;position: relative;text-align: center;}
.entryList li>a,.entryList li>div{display: table;width: 94%;height: 100%;border-top: 1px solid #efefef;padding: 0.625rem 3%;}
.entryList li>a:active{background-color: #ececec;}
.entryList li .tipLeft:after{    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 0.375rem;
    width: 0.375rem;
    border-width: 2px 2px 0 0;
    border-color: #a1a1a1;
    border-style: solid;
    position: relative;
    margin-left: .3em;}
.entryList.mainstyle li>div{width: 85%;padding: 0.625rem 5% 0.625rem 10%;}
.entryList li .spanIcon{display: inline-block;}
.entryList li .address_icon{background: url("../images/address.png") no-repeat;background-size: 100% 100%;width: 1rem; height: 1rem;position: relative;top: 0.2rem;}
.fillInfor{}
.fillInfor .title{padding: 0.625rem 1rem;color: #333;text-align: center;}
.weui_cell__bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    vertical-align: middle;
}
.weui_check__label p{position: relative;top: -0.2rem;}
.icon_hb{display: inline-block;width: 1.25rem;height: 1.25rem;background: url("../images/hb.png") no-repeat;background-size: 100% 100%;position: relative;top: 0.3rem;}
.icon_wx{display: inline-block;width: 1.5rem;height: 1.25rem;background: url("../images/weinxin.png") no-repeat;background-size: 100% 100%;position: relative;top: 0.3rem;}
button.weui_btn, input.weui_btn {

    height: 44px;
}
.entryList li p.bt1 {
    border-top: 1px solid #dbdbdb;
}
.entryList li p.bt1 span.color{font-size: 1rem;color: #e72b84;}
.entryList li .inforList span.color1{color: #e72b84;font-size: 0.875rem;}
.entryList li p.bt1.style{padding:0.625rem 0;margin: 0 0.625rem;}
.entryList li p {
    font-size: 14px;
    color: #999;
    display: block;
    padding: 0.625rem;
}
.entryList li p .numS{color: #999;}
.entryList.bd100 li .couponImg.style img.couponImg1 {
    width: 4rem;height: 4rem;border-radius: 2px;
    border-radius: 100%;
}
.infor .i_con .left div.relative>a{width: 3rem;height: 3rem;}
.entryList li .inforList.w75 {
    width: 75%;
}
.weui_vcode_btn {
    display: inline-block;
    height: 44px;
    margin-left: 5px;
    padding: 0 0.6em 0 0.7em;
    border-left: 1px solid #E5E5E5;
    line-height: 44px;
    vertical-align: middle;
    font-size: 0.875rem;
    color: #3CC51F;
}
.weui_cell_vcode {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.foot.style{background: #fff;border-top: 1px solid #efefef;padding: 0;}
.tabMenu li a.btn_cy,.tabMenu li a.btn_sd,.tabMenu li a.btn_yjs{height: 2.2rem;
    line-height: 2.2rem;background: #000;color: #fff;display: block;position: relative;top: 0.4rem;right: 0.4rem;border-radius: 4px;}
.foot.style .tabMenu li{padding: 0;color: #e72a83;}
.foot.style .tabMenu li.bold{font-weight: bold;}
.tabMenu li a.btn_yjs{background: #d7d7d7;}
.tabMenu li a.hide{display: none;}
.weui_dialog_confirm{z-index: 10000;position: relative;}
.weui_dialog_confirm .weui_dialog .weui_dialog_bd.style {padding: 0;text-align: center !important;}


/*数量的选择*/
a.num {
    color: #474747;
    display: inline-block;
    position: relative;
    top: 10px;;
}

a.num span {
    float: left;
    height: 28px;
    line-height: 28px;
    color: #474747;
}
.minus {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 29px;
    border: 1px solid #d4d5d6;
    background-color: #f8f8f8;
    cursor: pointer;
}
a.num input {
    width: 80px;
    height: 28px;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    text-align: center;
    padding: 0;
    display: inline-block;
    line-height: 28px;
    background-color: #fff;
    float: left;
}
.plus {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 29px;
    border: 1px solid #d4d5d6;
    background-color: #f8f8f8;
    margin-right: 5px;
    cursor: pointer;
}
.minus:after {
    content: "";
    position: absolute;
    width: 10px;
    border-top: 2px solid #333;
    top: 13px;
    left: 10px;
}



.plus:before {
    content: "";
    position: absolute;
    height: 10px;
    border-left: 2px solid #333;
    top: 9px;
    left: 14px;
}
.plus:after {
    content: "";
    position: absolute;
    width: 10px;
    border-top: 2px solid #333;
    top: 13px;
    left: 10px;
}

.numChioce{display: block;width: 147px;margin: 1rem auto;}
.numChioce li{float: left;width: 42px;height: 40px;border: 1px solid #dbdbdb;color: #666;line-height: 40px;text-align: center;margin-right: 4.5px;}
.numChioce li:last-child{margin-right: 0;}
.numChioce li.active{border: 1px solid #e72a83;color: #fff;background:#e72a83;}
.numInfor{color:#e72a83;font-size: 1.1rem;font-weight: bold;}
.ac_in .ac_in_p{font-size: 0.875rem;color: #666;padding:0 0 0.6rem 0;}
.entryList.style li{background: #f5f5f5;}
.entryList.style  li .inforList span{display: block;font-size: 0.875rem;}
.entryList.style li>div{border-top: 0;position: relative;}
.entryList.style li>div:before{position: absolute;content: "";left: 10px;top: 0;right: 10px;border-top: 1px solid #fefefe;}
.entryList.style  li .inforList span.color1{color: #e72a83;}
.entryList.style  li .inforList span.color2{color: #e72a83;font-weight: bold;}
.entryList.style  li{margin-bottom: 0.625rem;}
.entryList.style  li:last-child{margin-bottom: 0}
.ac_in.pb10{padding-bottom: 0.625rem;}

/*暂无数据提示*/
.notConTip.hide{display: none;}
.notConTip p{margin: 0;}
.notConTip{text-align: center;color: #999;padding: 1.25rem 0;position: absolute;top: 30%;width: 100%;}
.notConTip.relative{position: relative;}
.notConTip.mt15{margin: 1rem 0;font-size: 0.75rem;}
.notConTip img{width: 20%;margin-bottom: 0.26rem;}
.notConTip img.w10{width: 10%;}
.notConTip .notInfor{color: #999;font-size: 1rem;}
.notConTip .notInfor a{color: #ff6804;text-decoration: underline;}



/*payResult*/
.weui_btn_area .weui_btn_primary.bg1{ background: transparent !important;border: 1px solid #efefef;color: #999;}





/*participationRecord*/
.entryList.mt0{margin-top: 0;}
.entryList.block span.clearfix{display: block;}
.entryList.block li .couponImg.style img.couponImg1 {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
}
.entryList.block li .inforList span.color1{color: #e72b82; font-size: 0.875rem;}
.entryList.block li .inforList span.title span.left{color: #333 !important;font-size: 1rem !important;
    display: inline-block;
    width: 140px;
    text-overflow:ellipsis; overflow:hidden; white-space:nowrap;
}


/*calculationInfor*/
.calculation{width: 100%;height: 10rem;background: url("../images/js_infor.jpg") no-repeat;background-size: 100% 100%;text-align: center;overflow: hidden;}
.calculation .c_in{margin-top: 3.5rem;color: #fff;font-size: 1rem;}
.calculation .c_in .fs{font-size: 1.3rem;}
.c_infors{padding: 1rem;background: #fff;}
.c_infors .color1{font-size: 0.875rem;color: #333;line-height: 1.5rem;margin-bottom: 1rem;}
.c_infors .color2{font-size: 0.875rem;color: #999;line-height: 1.5rem;}
.c_infors .title{font-size: 1rem;display: block;}
.titleTip{font-size: 1rem;color: #666;background: #fff;padding:0.625rem  1rem 0;border-top: 1px solid #efefef;}
.entryList.liBt0 li:first-child>div{border-top: 0;}
.btnLook{position: relative;width: 100%;padding: 0.6rem 0;background: #fff;border-top: 1px solid #efefef;color: #666;font-size: 1rem;display: block;text-align: center;}
.btnLook.bt0{border-top: 0;}
.ac_mu li:last-child{padding-bottom: 0;}
.btnLook .fa{position: absolute;}

.animatesBottom{
    left: 68%;
    top: 10px;
}
.animates {
    position: absolute;

    -webkit-animation: animatesBottom 1s;
    -moz-animation: animatesBottom 1s;
    animation: animatesBottom 1s;
    animation-iteration-count: 1000;
    -webkit-animation-iteration-count: 1000;
    -moz-animation-iteration-count: 1000;
}

@-webkit-keyframes animatesBottom {
    0% {
        top: 10px;
        opacity: 1;
    }
    25% {
        top: 13px;
        opacity: 0.8;
    }
    50% {
        top: 15px;
        opacity: 0.5;
    }
    75% {
        top: 18px;
        opacity: 0.3;
    }
    100% {
        top: 20px;
        opacity: 0;
    }
}
@-moz-keyframes animatesBottom {
    0% {
        top: 10px;
        opacity: 1;
    }
    25% {
        top: 13px;
        opacity: 0.8;
    }
    50% {
        top: 15px;
        opacity: 0.5;
    }
    75% {
        top: 18px;
        opacity: 0.3;
    }
    100% {
        top: 20px;
        opacity: 0;
    }
}
.animatesTop {
    left: 58%;
    top: 20px;
}
.animates {
    position: absolute;
    -webkit-animation: animatesTop 1s;
    -moz-animation: animatesTop 1s;
    animation: animatesTop 1s;
    animation-iteration-count: 1000;
    -webkit-animation-iteration-count: 1000;
    -moz-animation-iteration-count: 1000;
}

@-webkit-keyframes animatesTop {
    0% {
        top: 20px;
        opacity: 1;
    }
    25% {
        top: 18px;
        opacity: 0.8;
    }
    50% {
        top: 15px;
        opacity: 0.5;
    }
    75% {
        top: 13px;
        opacity: 0.3;
    }
    100% {
        top: 10px;
        opacity: 0;
    }
}
@-moz-keyframes animatesTop {
    0% {
        top: 20px;
        opacity: 1;
    }
    25% {
        top: 18px;
        opacity: 0.8;
    }
    50% {
        top: 15px;
        opacity: 0.5;
    }
    75% {
        top: 13px;
        opacity: 0.3;
    }
    100% {
        top: 10px;
        opacity: 0;
    }
}

/*lotteryRules*/
.l_p{padding: 1rem;color: #666;font-size: 0.875rem;line-height: 1.5;}



/*myRecord*/
.recordMenu{display: flex;background: #fff;}
.recordMenu li{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1; }
.recordMenu li a{
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    margin: 0 1rem;
    color: #999;
    display: block;
    border-bottom: 2px solid transparent;
}
.recordMenu li a.active{border-bottom-color: #e72a83;color: #e72a83;}
.k_j{padding: 0.625rem 0;font-size: 1rem;color: #333;}
.k_j>div{display: inline-block;padding: 0.2rem 0.5rem;background: #ff0004;color: #fff;font-size: 0.875rem;margin-right: 0.2rem;}
.k_j>div.hide{display: none;}
.k_j .k_j_j{background: #e72882;}
.k_j .k_j_y{background: #dddddd;}
.k_j .k_j_k{background: #e72882;}
.k_j.p0{padding: 0;}
.entryList li .pross p{padding: 0;}
.pross.mt0{margin-top: 0;}
.entryList li .pross.style p{color: #999;}
.entryList li .pross.style .pross_i .fatherNum {

    height: 0.4rem;
    margin: 0.2rem 0;
    position: relative;
}


.entryList li .pross.style .pross_i .fatherNum .sonNum {
   position: absolute;
    top: 0;
}
.infor.style{margin: 0 auto;border-bottom: 1px solid #efefef;}
.entryList.bt0 li{border-top: 0;}
.entryList.mb10 li{margin-top: 0.625rem;}
.entryList li a.tipA{font-size: 0.875rem;color: #ff3b30;padding-right: 1rem;}
.k_j_y.bg1{}
.k_j_k.bg2{background: #ff0231;}
.infor.style.hide{display: none;}
.k_j_y.bg3{background: #343434;color: #fff;position: relative;overflow: auto;;}
.lj_type{
    position: absolute;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    background: #ff0004;
    color: #666;
    font-size: 0.875rem;
    margin-right: 0.2rem;
    top: 1.8rem;left: 0;
    z-index: 1000;

}
.lj_type.hide{display: none;}
.lj_type.bg{}
.lj_type.bg1{}

a>.weui_cell_ft.style:after{right: 12px;}
.entryList.liMb10 li{margin-bottom: 0.625rem;}
.entryList.bt0 li:first-child a{border-top: 0;}
.fraction {
    color: #ffa902;
    font-size: 18px;
    position: relative;
    top: 4px;
}
.c666{color: #666;display: inline-block;}
.weui_cell.pd0 {
    padding: 0;
}
.weui_textarea.pd10 {
    font-family: "微软雅黑";
    font-size: 14px;
    color: #333;
    width: 96%;
    border: 1px solid #efefef;
    padding: 2%;
}
.weui_btn_area .weui_btn_primary.bg3{background: #000;}
.weui_btn_primary:not(.weui_btn_disabled):active {
    background: #000;
    opacity: 0.8;
}
/**/
.c666.left{position: relative;top: 0.2rem;padding-right: 0.625rem;display: inline-block;}
.score {
    display: block;
    padding: 15px;
    background: #fff;
    margin-bottom: 10px;
}
.starList li.active {
    color: #ffa902;
}
.starList li {
    float: left;
    margin-right: 5px;
    font-size: 20px;
}
.starList li .fa {
    font-size: 1rem;
    color: #999;
}




/*foot*/
.foot{position: fixed;left: 0;right: 0;bottom: 0;height: 3rem;text-align: center;line-height: 3rem;background: #000;padding: 5px 0;}
.tabMenu{width: 100%;}
.tabMenu li{width: 25%;padding: 5px 0;float: left;}



.tabMenu li.active{display: inline-block;}
.tabMenu li a{display: inline-block;font-size: 0.875rem;height: 2.5rem;line-height:1.25rem;color: #888;position: relative;width: 100%;}
.tabMenu li a .fa{font-size: 1.125rem;}
.tabMenu li.active a{color: #fff;}
.tabMenu li a .foot_icon{display: inline-block;width: 1.2rem;height: 1rem;}
.tabMenu li a .index_icon1{background: url("../images/sy_icon1-1.png") no-repeat;background-size: 100% 100%;}
.tabMenu li a .index_icon2{background: url("../images/sy_icon2-1.png") no-repeat;background-size: 100% 100%;}
.tabMenu li a .index_icon3{background: url("../images/sy_icon3-1.png") no-repeat;background-size: 100% 100%;}
.tabMenu li a .index_icon4{background: url("../images/sy_icon4-1.png") no-repeat;background-size: 100% 100%;}
.tabMenu li.active a .index_icon1{background: url("../images/sy_icon1-2.png") no-repeat;background-size: 100% 100%;}
.tabMenu li.active a .index_icon2{background: url("../images/sy_icon2-2.png") no-repeat;background-size: 100% 100%;}
.tabMenu li.active a .index_icon3{background: url("../images/sy_icon3-2.png") no-repeat;background-size: 100% 100%;}
.tabMenu li.active a .index_icon4{background: url("../images/sy_icon4-2.png") no-repeat;background-size: 100% 100%;}


/*modiflrPersonCenter*/
.person_head{background: #fff;text-align: center;}
.defaultImg{margin: 1rem auto;width: 5rem;height: 5rem;border-radius: 100%;}
.weui_label span.text{position: relative;top: -0.3rem;}





/*pensonCenter*/
.person_infor{background:#fff;overflow: hidden;border-bottom: 1px solid #dbdbdb;}
.card_infor{margin: 2rem 0 0 0.5rem;display: table;}
.card_img{width: 5rem;height: 5rem;}
.card_img img{border-radius: 100%;}
.card_img,.cardInfor{display: table-cell;vertical-align: middle;}
.card_img>img{width: 5rem;height: 5rem;border-radius: 100%;margin-right: 0.6rem;}
.cardInfor{}
.cardInfor p{font-size: 1rem;color: #fff;line-height: 1.25rem;}
.cardInfor p.name{}
.cardInfor p.phone span.verdana,.cardNum span.verdana{color: #fff;}
.cardNum{font-size: 1rem;position: absolute;right: 0.6rem;bottom: 0.6rem;color: #fff;}
.pay_list{width: 100%;background: #fff;border-top: 1px solid #dbdbdb;}
.pay_list li{width: 33.3%;text-align: center;float: left;padding: 0.6rem 0;}
.pay_list li .payInfoy{display: inline-block;border-right: 1px solid #dbdbdb;width: 100%; }
.pay_list li:last-child .payInfoy{border-right: none;}
.pay_list li>div .spanIcon{display: inline-block;width: 1.25rem;height: 1.25rem;position: relative;top: 0.125rem;}




.pay_list li>div span{font-size: 0.875rem;}
.pay_list li>div .color{font-size: 1rem;color: #666;}
.weui_cells.weui_cells_access{margin-top: 0.6rem;}








/*登陆*/
.errMessage{color: #ff0404;}
.weui_btn_area .weui_btn.sign_in{background: transparent;border: 1px solid #ff6702;color: #ff6702;}
.btn_forget{font-size: 0.875rem;text-decoration: underline;color: #81b57b;}
.weui_btn_area.mt10{margin-top: 0.625rem;}
.weui_btn_area.clearfix{display: block;}
.log_tip{font-size: 0.875rem;color: #999;}


/*提示弹窗*/
.weui_mask_transparent.fixed{position:fixed;z-index:10000}
.errDailog .weui_mask_transparent{position:absolute;left:0;right:0;top:0;bottom:0;background:0 0}
.errDailog .weui_toast{position:absolute;width:8em;min-height:7.5em;margin-left:-4em;margin-top:-3.75em;top: 40%;}
.weui_toast{z-index:300;}
.weui_toast_content{text-align:center;font-size:0.875rem;}
#smile-icon{margin:1.25rem 0 0.625rem;}
.weui_cell .weui_label{display: table;}
.weui_cell .weui_label>span{position: relative;top: 3px;}
.codeInput{width: 55%;}
.getCode{height: 35px;line-height: 35px;position: absolute;width: 38%;top: 5px;background: #ff6702;border: none;outline: none;font-size: 0.875rem;color: #fff;border-radius: 0.125rem;}
.getCode.disabled{background: #ccc;}
.getCode:active{opacity: 0.85;}


/*applyLeave*/
.weui_cells.weui_cells_form.mt0{margin-top: 0;}
.weui_cell .weui_label, .weui_cells .weui_cell{font-size: 0.875rem;}
.zk p{color: #f73a3a;}
.zk p.hide{display: none;}
.weui_cells_form input {font-family: "微软雅黑";font-size: 0.875rem;}
.weui_cell.weui_cell_select {padding: 0 15px;}
.weui_select {font-family: "微软雅黑";padding: 0;color: #333;}
textarea{font-family: "微软雅黑";}
.weui_cell .weui_label .spanImgBg,.weui_cell .weui_label .spanText{display: table-cell;vertical-align: middle;}
.weui_cell .weui_label .color{color: #4b53c8;}
.weui_cells_form .weui_cell_ft.taLeft{font-size: 0.875rem;text-align: left;position: relative;color: #3d4145;}
.weui_cells_form .weui_cell_ft.taLeft span:before{content: "; "}
.weui_cells_form .weui_cell_ft.taLeft span:first-child:before{content: ""}
.weui_cell .weui_cell_ft.taLeft:after{content:" ";display:inline-block;-webkit-transform:rotate(45deg);transform:rotate(45deg);height:0.375rem;width:0.375rem;border-width:2px 2px 0 0;border-color:#C8C8CD;border-style:solid;position:absolute;top:5px;right:0;margin-left:.3em}
.weui_cell_bd.date{position:relative}
.weui_cell_bd.style{position:relative}
.weui_cell_bd.date:after{position:absolute;content:"";width:0;height:0;border:0.25rem solid #333;border-top-color:#333;border-left-color:transparent;border-bottom-color:transparent;border-right-color:transparent;right:0;top:0.625rem}
.weui_cell_bd.style input{background:0 0;position:relative;z-index:10}
.weui_cell_bd.style .fa{position:absolute;top:0.25rem;right:0;color:#00d449;z-index:0}
.weui_cell:before{left:0}
.weui_cell.mb15{margin-bottom:0.625rem;border-bottom:1px solid #efefef}
.weui_cell_select .weui_cell_bd.date:after{position:absolute;content:"";width:0;height:0;border:0.25rem solid #333;border-top-color:#333;border-left-color:transparent;border-bottom-color:transparent;border-right-color:transparent;right:0;top:2.375rem;webkit-transform:rotate(0);transform:rotate(0)}
.weui_cells a.weui_cell:active{background-color:#ececec;}
.weui_btn_area .weui_btn{font-family: "微软雅黑";margin-top: 0;}
.weui_btn_area .weui_btn.actived{background: #9a9a9a;}
.weui_btn_area .weui_btn.actived:active{background: #9a9a9a;color: rgba(255,255,255,1)}
.weui_btn.b0,.weui_btn.b0:after{border:0;border-radius:0;}

.weui_btn_area.styleAdd{margin: 0.635rem 0 0 0;}
.weui_btn_area.styleAdd a{font-size: 0.875rem;color: #fff;}
.weui_btn_area.fixed{margin:0;width:100%;z-index:10;position:fixed;left:0;right:0;height:50px;text-align:center;line-height:50px;bottom:-8px}
.weui_cells.bg{background:#f7f7f7}
.weui_cells.bg .weui_cell{background:#fff}
.content,.page{position:absolute;top:0;right:0;bottom:0;left:0}
.addressChioce,.advancedSearch{position:fixed;z-index:10;left:0;top:0;right:0;bottom:0;background:#f7f7f7;overflow-y: auto;}
.weui_cells.style .weui_cell:after{content:" ";display:inline-block;-webkit-transform:rotate(45deg);transform:rotate(45deg);height:0.375rem;width:0.375rem;border-width:0.125rem 0.125rem 0 0;border-color:#C8C8CD;border-style:solid;position:relative;top:-2px;top:-1px;margin-left:.3em}
.weui_cells.style1{margin-top:0.625rem;}
.weui_search_bar.style{background:#fff;height:3.375rem;display:block;width:100%}
.weui_search_bar.style span.left{display:inline-block;width:10%;height:1.875rem;font-size:1.5rem;text-align:center;line-height:1.875rem;color:#333}
.weui_search_bar.style .weui_search_outer{width:90%}
.weui_search_bar.style .weui_search_inner{padding-left:0.625rem;height:2.25rem;line-height:2.25rem}
.weui_search_bar.style .weui_search_inner .weui_icon_search{right:0;display:inline-block;width:16%;left:auto;text-align:center;height: 2.25rem;line-height: 2.25rem;}
.weui_search_bar.style .weui_search_inner .weui_icon_search:after{content:"";position:absolute;left:0;top:2px;bottom:-2px;width:1px;border-left:1px solid #efefef}
.weui_search_bar.style .weui_search_inner .weui_icon_search:before{color:#48a8e4;font-weight:700}
.weui_search_bar.style .weui_search_cancel{width:6%;text-align:center;color:#48a8e4}
.weui_search_bar.style .weui_search_cancel,.weui_search_bar.style .weui_search_inner .weui_search_input{font-size:12px;font-family:"微软雅黑";position:absolute;top:0;width:80%;padding:9px 6px}
.highSerch{display:inline-block;width:15%;height:2.25rem;line-height:2.25rem;text-align:center;color:#48a8e4;font-size:0.75rem;position:relative}
.weui_search_bar.style .weui_search_inner .weui_icon_clear{right:17%;padding:0 5px;top:2px}
.weui_cells.mt0{margin-top: 0;}


/*applicatioApproval*/
.weui_cell {min-height: 23px;}
.weui_btn_area .weui_btn_primary.disabled{background: #ccc;}
.noMoney{font-size: 1rem;color: #666;text-align: center;margin: 6.25rem 0;}


/*not_registered*/
.content.bg1{background: #dbdbdb;}
.loading{position: absolute;top: 50%;left: 50%;margin-left: -15px;margin-top: -15px;}
.description{position: relative;top: 12.5rem;width: 94%;padding: 0 3%;}
.c_wu{position: absolute;top: 3rem;}







/*myOrder*/
.orderMenu{width: 100%;background: #fff;border-bottom: 1px solid #dbdbdb;}
.orderMenu li{width: 25%;text-align: center;float: left;font-size: 0.9rem;}
.orderMenu li a{color: #666;padding: 0.6rem 0;display: inline-block;width: 100%;}
.orderMenu li a .order{display: inline-block;}




.orderList{width: 100%;}
.orderList li{width: 100%;background: #fff;margin-top: 0.625rem;border-top: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;}
.orderList.style li:first-child{margin-top: 0;}
.orderList li>a{display: block;width: 100%;}
.orderList li .orderHead{font-size: 0.875rem;padding: 0.8rem 1rem;display: block;border-bottom: 1px solid #efefef;}
.orderList li .orderHead .orderNum{color: #333;}
.orderList li .orderHead .time{color: #999;}
.orderList li .orderHead .type{color: #ff3b30;font-size: 1rem;}
.orderList li .orderCon{display: table;width: 100%;}
.orderList li .orderCon .orderImg,.orderList li .orderCon .orderInfor{display: table-cell;}
.orderList li .orderCon .orderImg{padding: 0.6rem 1rem;width: 30%;}
.orderList li .orderCon .orderImg img{width: 4.875rem;height: 4.875rem;}
.orderList.style li .orderCon .btnRemove{width: auto;height: auto;background: transparent;color: #333;font-size: 1rem;top: 0.5rem;}
.picker-item{font-size: 1rem;}


/*.orderList li .orderCon .orderInfor{padding: 0.6rem 1rem 0 0;width: 65%;}*/
.orderList li .orderCon .orderInfor{padding-right:1rem;width: 65%;}
.orderList li .orderCon .top{display: block;position: relative;top: -0.475rem;}
.orderList li .orderCon .bottom{vertical-align: bottom;display: block;position: relative;top: 0.425rem;}
.orderList li .orderCon span{}
.orderList li .orderCon p{margin: 0;}
.orderList li .orderCon .btnType{line-height: 1.8rem;}
.orderList li .orderCon .btnType,.orderList li .orderCon .btnSureShop{outline: none;text-align:center;width: 4.5rem;height: 1.8rem;background: #ff6702;border: 1px solid #ff6702;border-radius: 0.125rem;color: #fff;font-family: "微软雅黑";font-size: 0.825rem;}
.orderList li .orderCon .btnSureShop.hide{display: none;}
.orderList li .orderCon .btnRemove,.orderList li .orderCon .btnReturn{border: none;outline: none;text-align:center;width: 4.5rem;height: 1.8rem;background: #ccc;border-radius: 0.125rem;color: #fff;font-family: "微软雅黑";font-size: 0.825rem;}
.orderList li .orderCon .btnType:active{opacity: 0.8;}
.orderList li .orderCon .btnSureShop:active{opacity: 0.8;}
.payInfor{background: #fff;margin-top: 10px;}
.payAll{padding: 0.625rem 15px;border-top: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;}
.payAll p{color: #999;text-align: right;margin: 0;}
.payAll span{color: #333;}
.payAll span.moreSpan{}
.payAll a{color: #4cb68d;}
.payNum{color: #ff6702;padding: 0.875rem 0.98rem;text-align: right;}
.okTui{color: #ff6804;}

/*couponRecord*/
.applicatioOpetion{width: 100%;margin-bottom: 0.625rem;position: relative;z-index: 100;border-bottom: 1px solid #dbdbdb;}
.applicatioNav{width: 100%;background: #fff;display: block;}
.applicatioNav.style li {width: 33.3%;}
.applicatioNav li{float: left;text-align: center;font-size: 1rem;width: 50%;position: relative;}
.applicatioNav li:first-child:after{content: "";position: absolute;right: 0;top: 0;width: 1px;bottom: 0;border-right: 1px solid #efefef;}
.applicatioNav.style li:after{content: "";position: absolute;right: 0;top: 0;width: 1px;bottom: 0;border-right: 1px solid #efefef;}
.applicatioNav.style li.last-child:after{border-right: 0;}
.applicatioNav li a{display: inline-block;width: 100%;padding: 0.6rem 0;border-bottom: 3px solid transparent;color: #333;}
.applicatioNav li a.active{color: #f65050;border-bottom: 3px solid #f65050;}
.coupon{width: 100%;}
.couponList{}
.weui_btn_disabled {color: rgba(255, 255, 255, 0.8);}
.couponList li{padding: 0.25rem 0.93rem;background: #fff;margin-top: 0.625rem;border-top: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;}
.couponList li p{font-size:1rem;margin: 0.3rem 0;display: block;}
.couponList li p span{color: #999;font-size: 0.875rem;}
.couponList li p span.time{color: #999;}
.couponList li p span.moeny{color: #ff9452;position: relative;right: 0.75rem;}
.couponList li p span.color{color: #333;font-size: 1rem;}
.couponList li p span.color1{color: #333;font-size: 1rem;}
.couponList li p span.moenyNum{color: #333;font-size: 1rem;}
.couponList li .bottom{position: relative;padding-top: 0.25rem;}
.couponList li .bottom:before{position: absolute;left: -0.93rem;right: -0.93rem;content: "";height: 1px;border-top: 1px solid #efefef;top: 0;}
.couponList li .bottom p{text-align: right;}
.couponList li .sale{color: #ff9452}
.couponList li .saleSpan{display: inline-block;border-radius: 0.125rem;background: #ff9452;color: #fff;padding: 1px 4px;}
.couponList li .time{}


/*oilCardRechaged*/
.oilCardHead{background: #fff;border-bottom: 1px solid #dbdbdb;padding: 0.8rem 0;}
.oilCardHead p{text-align: center;margin: 0.1rem 0;font-size: 0.875rem;color: #666;}
.oilCardHead p .title{font-size: 1rem;color: #333;}
.oilCardHead p .money{font-size: 1rem;color: #ff3b30;}
.oilCardHead p span{color: #999;}
.oilCardCon{margin: 0.625rem 0;}
.oilCardMenu{border-top: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;padding: 0.93rem 0.93rem 0.63rem 0.93rem;display: block;background: #fff;margin-bottom: 0.825rem;}
.oilCardMenu li{float: left;width: 32%;margin-right: 2%;margin-bottom: 0.3rem;border-radius: 0.4rem;}
.oilCardMenu li.mr0{margin-right: 0;}
.oilCardMenu li.active div,.oilCardMenu li.active input{border-color: #ff9452;color: #ff9452;}


.oilCardMenu li div,.oilCardMenu li input{font-family: "微软雅黑";display: inline-block;width: 100%;border: 1px solid #dbdbdb;color: #333;padding: 1.2rem 0;border-radius: 0.4rem;text-align: center;font-size: 0.875rem;line-height: normal;}
.oilCardMen li input{padding: 1.3rem 0;}


.oilCardMenu.style li div,.oilCardMenu.style li input{font-family: "微软雅黑";display: inline-block;width: 100%;border-radius: 0.4rem;text-align: center;font-size: 0.875rem;height: 62px;line-height: 62px;padding: 0;}
.oilCardMenu.style li input{padding: 18px 0;height: 26px;line-height: 26px;}


.rechargedOption{padding: 0 0.93rem;}
.rechargedOption a.weui_btn{background: #ff6702;}
.rechargedOption p{font-size: 0.875rem;color: #999;margin: 0.25rem 0;}
.rechargedOption p.btnRecharged{text-align: right;}
.rechargedOption p.btnRecharged a{color: #ff9452;font-size: 1rem;}

/*rechargeRecord*/
.recoedList{border-collapse:collapse;width: 100%;}
.recoedList tr th{border-bottom:1px solid #dbdbdb;background: #f7f7f7;font-size: 0.875rem;padding: 0.625rem 0;color: #666;font-weight: 100;}
.recoedList tr td{border-bottom:1px solid #dbdbdb;color: #333;background: #fff;text-align: center;padding: 0.625rem 0;font-size: 0.875rem;}
.optionType.style.w50 li.second,.optionType.style.w50 li.last{width: 50%;}
.optionType.style.w50 li.second button.btnEmpty{background: #ccc;color: #fff;}

/*myInvoice*/
.invoiceList{width: 100%;}
.invoiceList li{border-bottom: 1px solid #dbdbdb;border-top: 1px solid #dbdbdb;background: #fff;margin-top: 0.875rem;}
.invoiceList li .invoiceHead{display: block;padding: 0.625rem 0.93rem;border-bottom: 1px solid #efefef;}
.invoiceList li .invoiceHead span{color: #333;}
.invoiceList li .invoiceHead .fa-align-right{font-size: 2.25rem;}
.invoiceList li .invoiceCon{padding: 0.625rem 0.93rem;display: none;}
.invoiceList li .invoiceCon p{font-size: 0.875rem;display: block;color: #666;margin: 0.25rem 0;}
.invoiceList li .invoiceCon span{}
.invoiceList li .invoiceCon .first{width: 30%;font-size: 1rem;color: #333;}
.invoiceList li .invoiceCon .second{width: 30%;text-align: center;font-size: 1rem;color: #333;}
.invoiceList li .invoiceCon .last{width: 30%;text-align: right;font-size: 1rem;color: #333;}
.weui_cells_checkbox.style1:before,.weui_cells_checkbox.style1:after{border: none;}
.invoiceList li .invoiceHead.style{padding: 0;}
.invoiceList li .invoiceHead .fa-angle-down,.invoiceList li .invoiceHead .fa-angle-right{font-size: 1.25rem;}
.invoiceList li .invoiceHead .weui_cell_bd{font-size: 1rem;}
.invoiceList li .invoiceCon.style{padding: 0;}
.invoiceList li .invoiceCon.style span.color{color: #333;font-size: 1rem;}
.invoiceList li .invoiceCon.style span.spanBlock{font-size: 0.875rem;border-radius: 0.2rem;display: inline-block;padding: 0px 0.25rem;background: #fe6602;color: #fff;}
.invoiceList li .invoiceCon.style span.color1{color: #fe6602;font-size: 1rem;}
.weui_cells_checkbox .weui_cell_hd.style{position: relative;top: -0.625rem;}
.weui_cells_checkbox.style1 .weui_check:checked + .weui_icon_checked:before{color: #fe7b25;}
.invoiceHead.style .inline_block{display: inline-block;float: left;}
.invoiceHead.style .inline_block.style{padding: 0.625rem 0;width: 82%;}
.weui_cells_checkbox.style1 .weui_cell:active{background: #fff;}
.weui_cells_checkbox.style1 .weui_cell.style{padding: 0.625rem 0 0.625rem 15px;}
.invoice.style{width: 100%;margin: 0;}
.pay_infor{width: 100%;text-align: center;padding: 1.5rem 0;background: #fff;border-bottom: 1px solid #efefef;}
.pay_infor p{width: 100%;font-size: 1rem}
.pay_infor p.title{color: #333;}
.pay_infor p.moneyNum{font-size: 1.25rem;color: #333;}
.weui_cells_checkbox.style1.first:after{border-bottom: 1px solid #dbdbdb;}
.weui_cells_checkbox.style1.first.bb0:after{border-bottom: none;}
.weui_cells_checkbox.style1.bb0 .weui_cell:active{background: transparent;}
.weui_cells_checkbox.style1.bb0 .weui_cell{padding-right: 0;padding-top: 0;}

/*index*/
.formIndex{width: 60%;display: inline-block;position: relative;}
.formIndex .search_input{font-size: 0.875rem;border: none;padding: 0.4rem 1.5rem 0.4rem 2rem;border-radius: 0.125rem;font-family: "微软雅黑";}
.formIndex .fa-search{position: absolute;left: 0.5rem;color: #333;top: 0.75rem}
.formIndex .weui_icon_clear {position: absolute;top: -0.1rem;left: 11.3rem;padding: 0 0.625rem;}
.formIndex .weui_icon_clear.hide{display: none;}
.swiper-slide img.w100{height: 12rem;width: 100%;}
.btnApply,.btnApplyed{position: absolute;bottom: 0.8rem;left: 50%;width: 7.5rem;height: 2.25rem;line-height: 2.25rem;text-align: center;margin-left: -3.75rem;border: none;outline: none;background: #9ec62e;border-radius: 0.25rem;color: #fff;font-size: 1rem;font-family: "微软雅黑";display: inline-block;}
.btnApplyed{background: #ccc;}
.btnApplyed.hide{display: none;}
.ulLink{display: block;margin-bottom: 0.625rem;}
.ulLink li{float: left;width: 50%;}
.ulLink li a{display: inline-block;width: 100%;height: 100%;}
.ulLink li img{width: 100%;height: 100%;}
.ulLink li.first {height: 160px;}
.ulLink li.second {height: 80px;}
.ulLink li.last {height: 80px;}
.ulLink li a:active{opacity: 1;}
.shopList{display: block;width: 94%;padding: 0.625rem 3%;background: #fff;}
.shopList li{float: left;width: 32%;margin-right: 2%;height: 8.125rem;}
.shopList li.mr0{margin-right: 0;}
.shopList li a{display: inline-block;width: 100%;height: 100%;}
.shopList li a img{width: 100%;height: 100%;}
.shopList li a:active{opacity: 1;}



/*classification*/
.shoppingMenu{position: fixed;left: 0;top: 2.5rem;bottom: 3rem;min-height: 24.25rem;background: #fff;}
.shoppingMenu li{border-bottom: 1px solid #efefef;}
.shoppingMenu li a{display: inline-block;text-align: center;padding:0.5rem 1rem;border-left: 2px solid transparent;font-size: 0.875rem;color: #666;background: #fff;min-width: 3.625rem;}
.shoppingMenu.style li a{padding: 2rem 1rem;}
.shoppingMenu li.active{}
.shoppingMenu li.active a{border-left-color: #fe695c;color: #ff0404;}

.shoppingList{width: 100%;padding-bottom: 3.6rem;}
.shoppingList li{width: 100%;margin-top: 0.625rem;background: #fff;}
.shoppingList li a{width: 100%;display: block;}
.shoppingList li a .shop_list_bg{border-radius: 0.2rem 0.2rem 0 0;}
.shoppingList li a .shop_list_bg img{height: 8rem;width: 100%;}
/*.shoppingList li a .shop_list_bg1{background: url(../images/shopList1.jpg) no-repeat;height: 6rem;background-size: 100% 100%;}*/
/*.shoppingList li a .shop_list_bg2{background: url(../images/shopList2.jpg) no-repeat;height: 6rem;background-size: 100% 100%;}*/
/*.shoppingList li a .shop_list_bg3{background: url(../images/shopList3.jpg) no-repeat;height: 6rem;background-size: 100% 100%;}*/
/*.shoppingList li a .shop_list_bg4{background: url(../images/shopList4.jpg) no-repeat;height: 6rem;background-size: 100% 100%;}*/
.shoppingList li a .shop_infor{padding: 0.2rem 0.4rem;border: 1px solid #dbdbdb;border-top: none;}
.shoppingList li a p{font-size: 0.875rem;color: #333;display: block;}
.shoppingList li a p.title{}
.shoppingList li a p.smallTile{font-size: 0.75rem;color: #666;}
.shoppingList li a p span{font-size: 0.875rem;color: #ff0404;}

/*classificationInfor*/
.shopping.style{position: relative;width: 100%;left:0;right: 0;}


/*.shopping .shoppingList{padding-bottom: 0;}*/
.shopping.style .shoppingList li {margin-top: 0;}
.shopping.style .shoppingList li a .shop_list_bg{border-radius: 0;height: 8rem;}
.shopping.style .shoppingList li a p{margin: 0.2rem 0;}
.shopType{margin: 0.625rem 0;background: #fff;border-top: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;}
.weightClass{display: block;}
.weightClass li{width: 25%;text-align: center;font-size: 1rem;color: #333;float: left;line-height: 2rem;padding: 0.875rem 0;}
.weightClass span{}
.weightClass .weightDiv{width: 90%;height: 2rem;line-height: 2rem;text-align: center;color: #666;border: 1px solid #dbdbdb;}
.weightClass .weightDiv.active{color: #ff0404;border: 1px solid #ff0404;}
img.shopInfor.w100{width: 100%;margin-bottom: 0.625rem;}
.optionType{display: block;}
.optionType li{float: left;height: 3rem;}
.optionType li.first{width: 20%;}
.optionType li.second{width: 40%;}
.optionType li.last{width: 40%;}
.optionType li a{display: block;width: 100%;height: 100%;position: relative;line-height: 4rem;}
.optionType li a .caret{display: block;position: absolute;width: 1rem;height: 1rem;line-height: 1rem;text-align: center;border-radius: 100%;background: #f73a3a;color: #fff;font-size: 0.75rem;right: 0.625rem;top: 0.625rem;}
.optionType li button{font-family: "微软雅黑";outline: none;border: none;width: 100%;height: 100%;font-size: 1rem;color: #fff;}
.optionType li .addCart{background: #9a9a9a;}
.optionType li .nowBuy{background: #ff6702;}
.optionType li a.nowBuy{display: inline-block;line-height: 3rem;color: #fff;}


/*gasStationList*/
.hotStation{width: 100%;background: #fff;border-top: 1px solid #dbdbdb;}
.hotStation>div.hide{display: none;}
.hotStation.mt{margin-top: 0.625rem;}
.stationTitle{font-size: 1rem;color: #ff0404;padding: 0.6rem 0.625rem;border-bottom: 1px solid #efefef;}
.stationTitle .colorBlock{position: relative;top: 0.2rem;display: inline-block;width: 0.25rem;height: 1.5rem;background: #ff0404;}
.stationTitle span{position: relative;top: -0.23rem;}
.stationList{width: 100%;}
.stationList li{padding: 0.875rem 1.2rem;border-bottom: 1px solid #dbdbdb;}
.stationList li>a{display: block;}
.stationList li .orderCon>a{display: block;width: 100%;height: 100%;}
.stationList li p{display: block;}
.stationList li p span{font-size: 0.875rem;color: #999;}
.stationList li>a{display: block;}
.stationList li p:last-child span.left{position: relative; top: 0.25rem;}
.stationList li p:last-child>span:last-child.right{color: #ff6702;display: inline-block;padding: 0.125rem 0.25rem;border: 1px solid #ff6702;border-radius: 0.25rem;font-size: 0.875rem;}
.stationList li p a .address{width:1rem;position: relative;top: -0.125rem;}
.stationList li p .color1{color: #333;font-size: 1rem;}
.stationList li p .color2{color: #ff6702;}
.stationList li p span.kz{display: inline-block;width: 200px;overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}
.loadding.hide{display: none;}
.loadding{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.5);}
.loadding img{position: absolute;width: 50px;height: 50px;left: 50%;top: 50%;margin-left: -25px;margin-top: -25px;}
/*gasStationInfor*/
.stationDiv{background: #fff;}
.stationDiv>img{height: 10.3rem;}
.stationDiv p{display: block;color: #888;padding: 0.5rem 0.875rem;}
.stationDiv p a{color: #7ebd8b;display: inline-block;padding: 0.125rem 0.25rem;border-radius: 0.25rem;font-size: 0.875rem;}
.stationList.style li p a{color: #ff6702;border-color: #ff6702;}
.stationList.style li p:last-child span{position: relative;top: 0.25rem;}
.style.stationList li{padding: 0.875rem 0.625rem;}
.oilCardCon.style{background: #fff;border-top: 1px solid #dbdbdb;margin-bottom: 0.625rem;}
.oilCardCon.style .title,.fillMoney{color: #999;padding: 0.625rem 0 0 0.625rem;}
.fillMoney{background: #fff;padding: 0.625rem;}
.oilCardCon.style .oilCardMenu{border-top: none;}
.oilCardCon.style .oilCardMenu li div span:first-child{font-size: 1rem;color: #333;}
.oilCardCon.style .oilCardMenu li div span:last-child{font-size: 0.875rem;color: #666;}
.oilCardCon.style .oilCardMenu li.active div span{color: #ff9452;}
.oilCardCon.style .oilCardMenu li div{padding: 0.625rem 0;}
.weui_cells.bg{background: #fff;}
.weui_cells.bg .weui_cell>div{width: 40%;text-align: center;color: #333;height: 100%;line-height: 2.5rem;}
.weui_cells.bg .weui_cell>div.moneyDiv input{width: 75%;height: 2rem;line-height: 2rem;border: none;text-align: center;font-size: 0.875rem;color: #333;outline: none;font-family: "微软雅黑";}
.weui_cells.bg .weui_cell>div.oilDiv{position: absolute;right: 0;}
.weui_cells_checkbox .weui_check_label.w50{float: left;width: 30%;}
.weui_cells_checkbox .weui_check_label.w50 .weui_check:checked + .weui_icon_checked:before{color: #fe7a23;}
.weui_cells_checkbox .weui_check_label.color .weui_check:checked + .weui_icon_checked:before{color: #fe7a23;}
.weui_btn_primary.stylecolor{border-radius: 0;background: #ff6702;}
.bd.style .weui_cells:after{border: none;}



/*carTeam*/
.carTeamMenu{width: 100%;}
.carTeamMenu li{padding: 0.8rem 3%;background: #fff;border-bottom: 1px solid #dbdbdb;display: table;width: 94%;}
.carTeamMenu li>div{display: table-cell;vertical-align: middle;}
.carTeamMenu li p{font-size: 0.875rem;color: #666;margin-bottom: 0.2rem;}
.carTeamMenu li p:last-child{margin-bottom: 0;}
.carTeamMenu li p.title{font-size: 1rem;color: #000;}
.carTeamMenu li .weuiBtn{float: right;}
.weuiBtn.disabled{background: #cccccc  }
.carTeamMenu li .weuiBtn.hide{display: none;}
.weuiBtn.weui-btn_primary:not(.weui-btn_disabled):visited {
    color: #FFFFFF;
}
.weuiBtn.weui-btn  {
    margin-top: 0
}
.weuiBtn.weui-btn_mini {
    display: inline-block;
    padding: 0 1.32em;
    line-height: 2.3;
    font-size: 13px;
    margin-right: 0;
}
.weuiBtn.weui-btn_primary {
    background-color: #ff6702;
}
.weuiBtn.weui-btn {
    position: relative;
    display: block;


    width: 80px;;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 2;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}
.weuiBtn.weui-btn:after {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 10px;
}























/*小弹窗*/
.weui_dialog_confirm.style .weui_dialog .weui_dialog_hd{padding: 0;font-family: "微软雅黑"}
.weui_dialog_confirm.style p{text-align: center;margin: 3px 0;}
.weui_dialog_confirm.style .weui_dialog_ft{}
.weui_dialog_confirm.style p.tips{font-size: 14px;color: #999;margin-bottom: 10px;}
.largeTitle{font-size: 18px;color: #000;font-weight: bold;}
.smallTitle{font-size: 18px;color: #000;}



@media screen and (max-width: 768px) {

    body,html{font-size: 20px;}
}

@media screen and (max-width: 640px) {

}
@media screen and (max-width: 568px) {
    body,html{font-size: 18px;}
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 415px) {

}
@media screen and (max-width: 384px) {


}
@media screen and (max-width: 375px) {


}
@media screen and (max-width: 360px) {
    body,html{font-size: 16px;}
}
@media screen and (max-width: 320px) {

}
