<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body class="bgfbf">
    <div class="wrapper">
        <div class="dishContent clearfix">
            <div class="person_infor">
                <div class="card">
                    <div class="card_infor">
                        <div class="card_img">
                            <img src="../../assets/mobile/images/default.png" alt=""/>
                        </div>
                        <div class="cardInfor">
                            <p class="name">陈小洁</p>
                            <p class="phone"><span class="verdana">15036656545</span></p>
                        </div>
                    </div>
                    <div class="cardNum">
                        会员卡 <br>
                        NO：<span class="verdana">65656545</span>
                    </div>
                </div>
                <ul class="pay_list clearfix">
                    <li>
                        <div class="payInfoy">
                            <span class="spanIcon moneyIcon"></span>
                            <span>会员余额</span><br/>
                            <span class="color">￥<span class="verdana">900.00</span></span>
                        </div>
                    </li>
                    <li>
                        <div class="payInfoy">
                            <span class="spanIcon sordIcon"></span>
                            <span>积分</span><br/>
                            <span class="color"><span class="verdana">900.00</span></span>
                        </div>
                    </li>
                    <li>
                        <div class="payInfoy">
                            <span class="spanIcon zheIcon"></span>
                            <span>红包</span><br/>
                            <span class="color">￥<span class="verdana">900.00</span></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="weui-cells">

                <a class="weui-cell weui-cell_access" href="myOrder.html">
                    <div class="weui-cell__bd">
                        <p>
                            <span class="span_icon spa_regard"></span>
                            <span class="text">
                                    我的订单
                            </span>
                        </p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
                <a class="weui-cell weui-cell_access" href="scoreExchange.html">
                    <div class="weui-cell__bd">
                        <p>
                            <span class="span_icon spa_jilu"></span>
                            <span class="text">
                                积分兑换红包
                            </span>
                        </p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>

                <a class="weui-cell weui-cell_access" href="moneyRechaged.html">
                    <div class="weui-cell__bd">
                        <p>
                            <span class="span_icon spa_piao"></span>
                            <span class="text">
                                    会员卡充值
                                </span>
                        </p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
                <a class="weui-cell weui-cell_access" href="personInfor.html">
                    <div class="weui-cell__bd">
                        <p>
                            <span class="span_icon spa_juan"></span>
                            <span class="text">
                                    个人资料
                                </span>
                        </p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>



