@charset "utf-8";
body,html{font-family: Microsoft YaHei,Arial, Helvetica, sans-serif;-webkit-font-smoothing: antialiased;}
html{overflow-y:auto;overflow-x:hidden;min-width:100%;}
body,p,html{margin: 0;padding: 0;}
ul,li,img{margin:0;padding:0;list-style:none;border:none; vertical-align:middle;}
a{color:#000;text-decoration:none;}
a,button{cursor: pointer;}
a::selection,button::selection,.sc-menu li::selection{background:transparent;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;*display: inline;*zoom: 1;}
textarea,select,input,button{outline: none;border: none;font-family: "微软雅黑";}
.hide{display: none;}
.right{float: right;}
.left{float: left;}
a:link{text-decoration: none;}
body{background: #eeeef1;}
.wrapper{width: 100%;position: relative;margin: 0 auto;min-width: 1024px;}
.content{width: 100%;position: relative;}
.contentMain .center{width: 1024px;margin: 0 auto;}

/*head*/
.head{width: 100%;background: #fff;}
.head_main{width: 90%;margin: 0 5%;position: relative;}
.logo{width: 100px;height: 35px;position: absolute;left:0;top: 12px;}
.logo a{display: inline-block;width: 100%;height: 100%;}
.logo a img{width: 100%;height: 100%;}
.menu{display: block;width: 1024px;margin: 0 auto;}
.menu li{float: left;width: 110px;height: 60px;line-height: 60px;text-align: center;margin-right: 18px;}
.menu li.active{}
.menu li a{font-size: 16px;color: #333;border-bottom: 3px solid transparent;display: inline-block;width: 100%;height: 57px;}
.menu li.active a{color: #ff0404;border-bottom: 3px solid #ff0404; }


/*index*/
.autoImg{position: relative;}
.l_about{background: #fff;padding: 20px 0;width: 100%;}
.about{width: 1024px;margin: 0 auto;}
.l_a_title{width: 100%;text-align: center;font-size: 20px;}
.l_a_title_img1{display: inline-block;width: 39px;height: 41px;background: url(../images/title1.png) no-repeat;background-size: 100% 100%;}
.l_a_title .span_infor{color: #9f6f4f;position: relative;top: -15px;left: 5px;}
.l_a_con{font-size: 14px;color: #666;text-align: center;margin: 15px 0;line-height: 24px;}
.l_service{width: 100%;padding: 20px 0 30px;}
.service{width: 1024px;margin: 0 auto;}
.l_a_title_img2{display: inline-block;width: 41px;height: 42px;background: url(../images/title2.png) no-repeat;background-size: 100% 100%;}
.service_menu{display: block;width: 680px;margin: 0 auto;}
.service_menu li{float: left;width: 143px;height: 143px;text-align: center;color: #333;margin-right: 36px;}
.service_menu li a{display: inline-block;width: 100%;height: 100%;}
.service_menu li.active a{color: #fff;}
.service_menu li .service_img1{background: url(../images/service1-1.png) no-repeat;display: inline-block;width: 89px;height: 60px;background-size: 100% 100%;}
.service_menu li .service_img2{background: url(../images/service2-1.png) no-repeat;display: inline-block;width: 63px;height: 60px;background-size: 100% 100%;}
.service_menu li .service_img3{background: url(../images/service3-1.png) no-repeat;display: inline-block;width: 66px;height: 60px;background-size: 100% 100%;}
.service_menu li .service_img4{background: url(../images/service4-1.png) no-repeat;display: inline-block;width: 69px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img1{background: url(../images/service1-2.png) no-repeat;display: inline-block;width: 89px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img2{background: url(../images/service2-2.png) no-repeat;display: inline-block;width: 63px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img3{background: url(../images/service3-2.png) no-repeat;display: inline-block;width: 66px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img4{background: url(../images/service4-2.png) no-repeat;display: inline-block;width: 69px;height: 60px;background-size: 100% 100%;}
.service_menu li .service_img{margin:30px 0 5px;}
.service_menu li.mt .service_img{margin-bottom: 0;margin-top: 25px;}
.service_menu li.mt span.style{display: inline-block;width: 100px;position: relative;top: -3px;}
.service_menu li.mr0{margin-right: 0;}
.service_menu li.active{background: #ce2020;border-radius:100%;color: #fff;}
.service_menu.style{display: block;width: 860px;margin: 0 auto;}
.service_menu li{float: left;width: 143px;height: 143px;text-align: center;color: #333;margin-right: 36px;}
.service_menu li .service_img5{background: url(../images/service5-1.png) no-repeat;display: inline-block;width: 68px;height: 72px;background-size: 100% 100%;}
.service_menu li .service_img6{background: url(../images/service6-1.png) no-repeat;display: inline-block;width: 62px;height: 60px;background-size: 100% 100%;}
.service_menu li .service_img7{background: url(../images/service7-1.png) no-repeat;display: inline-block;width: 66px;height: 60px;background-size: 100% 100%;}
.service_menu li .service_img8{background: url(../images/service8-1.png) no-repeat;display: inline-block;width: 61px;height: 60px;background-size: 100% 100%;}
.service_menu li .service_img9{background: url(../images/service9-1.png) no-repeat;display: inline-block;width: 67px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img5{background: url(../images/service5-2.png) no-repeat;display: inline-block;width: 68px;height: 72px;background-size: 100% 100%;}
.service_menu li.active .service_img6{background: url(../images/service6-2.png) no-repeat;display: inline-block;width: 62px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img7{background: url(../images/service7-2.png) no-repeat;display: inline-block;width: 66px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img8{background: url(../images/service8-2.png) no-repeat;display: inline-block;width: 61px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img9{background: url(../images/service9-2.png) no-repeat;display: inline-block;width: 67px;height: 60px;background-size: 100% 100%;}
.l_team{width: 100%;background: #fff;}
.l_team_title{background: #ce2020;width: 100%;height: 60px;line-height: 60px;text-align: center;color: #fff;font-size: 14px;}
.l_team_title span{font-size: 18px;}
.l_team_bg{margin: 0 auto;width: 1024px;height:478px;background: url(../images/team.jpg) no-repeat;background-size: 100% 100%;position: relative;}
.l_team_bg a{position: absolute;bottom: 15px;right: 15px;font-size: 14px;color: #fff;}
.l_a_title_img3{display: inline-block;width: 41px;height: 42px;background: url(../images/title3.png) no-repeat;background-size: 100% 100%;}
.l_step{width: 100%;background: #fff;padding: 20px 0;position: relative;}
.step{width: 1024px;margin: 0 auto;background: transparent;}
.l_block{width: 100%;height: 1px;background: #dbdbdb;position: absolute;z-index: 10;top: 150px;}
.l_step_con{margin: 20px auto;display: block;width: 920px;position: relative;z-index: 11;}
.l_step_menu li{font-size: 18px;text-align: center;line-height: 120px;float: left;width: 118px;height: 120px;border-radius: 100%;margin-right: 40px;background: #ce2020;color: #fff;border: 1px solid transparent;}
.l_step_menu li.mr0{margin-right: 0;}
.l_step_menu li.active{background: #fff;color: #ce2020;border-color: #ce2020;}
.l_a_title_img4{display: inline-block;width: 41px;height: 42px;background: url(../images/title4.png) no-repeat;background-size: 100% 100%;}
.l_a_title_img5{display: inline-block;width: 41px;height: 42px;background: url(../images/title5.png) no-repeat;background-size: 100% 100%;}
.l_consultation{width: 100%;padding: 30px 0;}
.consultation{width: 1024px;margin: 10px auto;}
.consultation_menu{display: block;width: 900px;margin: 0 auto;}
.consultation_menu li{height: 100px;margin-bottom: 20px;float: left;width: 410px;margin-right: 20px;padding: 15px;background: #fff;}
.consultation_menu li.mr0{margin-right: 0;}
.consultation_menu li a{display: inline-block;width: 100%;height: 100%;}
.consultation_menu li .consultation_infor{display: block;width: 100%;}
.consultation_title{}
.consultation_title .day{width: 50px;height: 50px;line-height: 50px;text-align: center;color: #fff;background: #ce2020;}
.consultation_title .month{width: 50px;height: 50px;line-height: 50px;text-align: center;color: #fff;background: #000;}
.consultation_con{width: 345px;margin-left: 15px;}
.consultation_con .title{font-size: 16px;color: #333;margin-bottom: 10px;}
.consultation_con .con{font-size: 14px;color: #999;line-height: 20px;}
.l_customer{background: #fff;width: 100%;padding: 20px 0;}
.active-ul {margin-top: 10px;}
#marquee{width: 1024px;height: 80px;margin: 0 auto;overflow: hidden;}
.active-ul li {float: left; height: 66px;width: 1024px;}
.active-ul li a{display: inline-block;margin-right: 10px;text-align: center;height: 50px;}
.active-ul li a.mr0{margin-right: 0;}
.active-ul li a img{width: 100px;height: 50px;}
.active-left,.active-right{width: 40px;height: 40px;text-align: center;top: 50%;position: absolute;margin-top: -20px;}
.active-left{left: 0;}
.active-right{right: 0;}
.active-left:hover,.active-right:hover{cursor: pointer;}

.l_consultingInfor{}
.consultingInfor{}
.jdly{padding: 25px 0;background: #fff;border-bottom: 1px solid #dbdbdb;}
.pTitle{text-align: center;font-size: 30px;color: #060000;}
.shopUl{width: 1024px;margin: 20px auto 0 auto;display: block;padding: 10px 50px;}
.shopUl li{float: left;width: 27%;margin-right: 9.5%;}
.shopUl li.mr0{margin-right: 0;}
.shopUl li a{display: inline-block;text-align: center;width: 100%;height:100%;}
.shopUl li a img{width: 265px;height: 220px;}
.shopUl li a span{font-size: 14px;color: #666;display: inline-block;padding-top: 15px;}
.shopUl li a span.spanTitle{font-size: 18px;color: #060000;}



/*caseAnalysis*/
.l_case{width: 100%;padding: 30px 0;background: #fff;}
.case{width: 1024px;margin: 0 auto;}
.case_menu{width: 100%;}
.case_menu li{width: 180px;margin-right: 31px;float: left;height: 34px;line-height: 34px;text-align: center;position: relative;background: #e0e0e0;color: #666;}
.case_menu li:hover{background: #ce2222;color: #fff;cursor: pointer;}
.case_menu li:hover .fa{display: inline-block;}
.case_menu li.mr0{margin-right: 0;}
.case_menu li .fa{display: none;position: absolute;bottom: -13px;font-size: 20px;color: #ce2020;left: 50%;margin-left: -10px;}
.case_menu li.active{background: #ce2020;color: #fff;}
.case_menu li.active .fa{display: inline-block;}
.l_case_infor{width: 100%;padding: 20px 0;}
.case_head{width: 100%;padding: 10px 0;border: 1px solid transparent;margin-bottom: 10px;}
.case_head:hover{border: 1px solid red;}
.case_head:hover .case_block{visibility: hidden;}
.case_block{display: inline-block;width: 10px;height: 10px;background: #ce2020;position: relative;top: -1px;}
.case_title{font-size: 16px;color: #333;}
.case_con{font-size: 14px;color: #999;line-height: 24px;text-indent: 28px;}
.case_time{width: 100%;position: relative;margin-top: 30px;}
.case_xian{width: 100%;height: 1px;background: #efefef;position: absolute;top: 10px;}
.caseTime{font-size: 14px;color: #666;display: inline-block;background: #fff;position: relative;z-index: 100;}
.caseTime a{font-size: 14px;color: #666;}

/*contact*/
.l_contact{width: 100%;background: #fff;}
.contact{width: 1024px;margin: 0 auto;padding: 20px 0;}
.c_type{display: block;font-size: 20px;color: #b18d75;padding: 10px 0 20px;}
.c_type span{font-size: 16px;color: #333;}
.l_contact_menu{width: 100%;margin-bottom: 10px;display: block;}
.contact_block{width: 100%;padding: 0 460px;height: 1px;background: #dbdbdb;margin: 30px 0 20px -460px;}
.l_contact_menu li{float: left;width: 310px;margin-right: 47px;color: #fff;height: 60px;line-height: 60px;text-align: center;}
.l_contact_menu li.first{background: #6b9eca;}
.l_contact_menu li.second{background: #ed7471;}
.l_contact_menu li.next{background: #82ba76;width: 190px;}
.l_contact_menu li.last{background: #82ba76;width: 310px;}
.l_contact_menu li.mr0{margin-right: 0;}
#allmap{width: 100%;height: 600px;}

/*talentRecruitment */
.l_talent{width: 100%;padding: 20px 0;}
.talent{width: 1024px;margin: 0 auto;}
.l_talent_head{width: 100%;display: block;}
.l_talent_head>div{float: left;width: 25%;text-align: center;height: 40px;line-height: 40px;color: #fff;background: #ff8a03;}
.l_talent_menu{width: 100%;}
.l_talent_menu li{width: 100%;border-bottom: 1px solid #dbdbdb;}
.l_talent_menu li .l_talent_name{width: 100%;padding: 20px 0;display: block;}
.l_talent_name>div{width: 25%;text-align: center;color: #333;float: left;}
.l_talent_infor{background: #fff;padding: 30px;font-size: 14px;color: #666;line-height: 24px;}
.btn_td{display: inline-block;outline: none;border: none;width: 100px;text-align: center;height: 36px;line-height: 36px;border-radius: 4px;background: #ff5103;color: #fff;margin: 15px 0;}
.l_talent_menu li .l_talent_infor{display: none;}
.l_talent_menu li.on .l_talent_infor{display: block;}

/*business*/
.l_business{width: 100%;padding: 20px 0;background: #fff;}
.business{width: 1024px;margin: 0 auto;display: block;}
.l_business_menu{width: 200px;}
.l_business_menu li{width: 100%;height: 40px;margin-bottom: 10px;line-height: 40px;text-align: center;}
.l_business_menu li.first{text-align: left;height: 36px;border-bottom: 1px solid #dbdbdb;}
.l_business_menu li a{color: #666;display: inline-block;width: 100%;height: 100%;background: #e0e0e0;}
.l_business_menu li a:hover{background: #ce2020;color: #fff;}
.l_business_menu li.active a{background: #ce2020;color: #fff;}
.l_business_con{width: 800px;margin-left: 24px;}
.l_b_c_head{width: 100%;padding: 10px 0;border-bottom: 1px solid #dbdbdb;margin-bottom: 10px;}
.l_b_c_head>img{width: 40px;height: 40px;}
.l_b_c_head>.title{}
img.w100{width: 100%;}
.l_b_c_infor{line-height: 26px;color: #999;width: 100%;display: block;margin-top: 20px;}
.l_b_c_infor>div{width: 48%;float: left;margin: 0 1%;font-size: 14px;}
.l_b_c_infor>div .caret{display: inline-block;width: 6px;height: 6px;background: #999;border-radius: 100%;position: relative;top: -4px;}




/*professional*/
html.overflow{overflow: hidden;}
.l_business.style{background: #eeeef1;}
.professional_menu{display: inline-block;width: 100%;}
.professional_menu li{float: left;width: 244px;margin-right: 33px;margin-bottom: 30px;}
.professional_menu li.mr0{margin-right: 0;}
.professional_menu li a{display: inline-block;width: 100%;}
.person{width: 100%;height: 256px;position: relative;overflow: hidden;}
.person img{width: 100%;height: 100%;}
.person_mask_bg,.person_mask{position: absolute;left: 0;right: 0;height: 100%;bottom: -100%;}
.person_mask{}
.person_mask .infor{font-size: 14px;color: #efefef;line-height: 24px;width: 100%;text-align: center;margin-top: 40px;}
.person_mask_bg{background: #000;opacity: 0.6;filter:alpha(opacity=60);}
.person_infor{width: 100%;background: #fff;overflow: hidden;}
.person_infor p{line-height: 26px;text-align: center;margin: 10px 0;}
.person_infor .name{font-size: 20px;color: #333;}
.person_infor .type{font-size: 16px;color: #666;}


.dailog{position: fixed;left: 0;right: 0;bottom: 0;top: 0;z-index: 10;background: #eeeef1;}
.dailog_con{width: 1024px;display: block;margin: 0 auto;margin-top: 50px;}
.person_img{background: #fff;padding: 15px;}
.person_img>img{width: 420px;}
.lawyer_infor{width: 100%;margin: 10px 0;}
.lawyer_infor>img{width: 174px;height: 174px;margin: 25px auto;display: block;}
.lawyer_infor p{margin: 5px 0;color: #666;}
.lawyer_infor p img{}
.lawyer_infor p.phone{}
.lawyer_infor p.email{}
.dailog .close{position: absolute;width: 40px;height: 40px;background: #292837;font-size: 20px;color: #fff;line-height: 40px;text-align: center;right: 50px;top: 40px;}
.dailog .close:hover{cursor: pointer;}
.dailog_menu{width: 100%;height: 100%;overflow-y: scroll;}
.dailog_menu>li{display: none;}
.dailog_menu>li.active{display: block;}
.person_i_infor{width: 520px;padding: 15px;margin-left: 20px;background: #fff;height: 727px;overflow: auto;}
.lawyer_head{width: 100%;border-bottom: 1px solid #dbdbdb;}
.lawyer_head p{margin: 10px 0;}
.lawyer_head p.name{font-size: 20px;}
.lawyer_head p.type{font-size: 16px;color: #666;}
.lawyer_con{}
.lawyer_con p{margin: 10px 0;font-size: 14px;color: #999;}
.lawyer_menu{display: block;width: 100%;margin: 30px 0;}
.lawyer_menu li{border-radius: 2px;float: left;width: 100px;margin-right: 20px;position: relative;height: 36px;line-height: 36px;background: #e0e0e0;color: #666;text-align: center;}
.lawyer_menu li:hover{background: #ce2222;color: #fff;}
.lawyer_menu li:hover .fa{display: inline-block;}
.lawyer_menu li .fa{color: #ce2020;position: absolute;font-size: 20px;bottom: -12px;left: 50%;margin-left: -6px;display: none;}
.lawyer_menu li:hover{cursor: pointer;}
.lawyer_menu li.active{background: #ce2020;color: #fff;}
.lawyer_menu li.active .fa{display: inline-block;}
.lawyer_div{font-size: 14px;color: #999;line-height: 24px;display: none;}
.lawyer_div.active{display: inline-block;}


/*consultingCenter*/
.l_consulting{width: 100%;background: #fff;position: relative;}
.l_consulting_menu{width: 100%;}
.l_consulting_menu li{width: 100%;padding: 20px 0;border-bottom: 1px solid #efefef;}
.l_consulting_menu li:hover{background: #efefef;}
.consulting{width: 1024px;display: block;margin: 0 auto;}
.consulting_img{width: 240px;height: 240px;}
.consulting_img>img{width: 100%;height: 100%;}
.consulting_infor{width: 760px;margin-left: 20px;}
.consulting_infor p{line-height: 26px;}
.consulting_infor .title{font-size: 16px;color: #333;margin-bottom: 10px;}
.consulting_infor .consulting_con{font-size: 14px;color: #999;}
.consulting_infor .consulting_link{text-align: right;}
.consulting_infor .consulting_link a{color: #999;}
.consulting_infor .consulting_link a:hover{color: #666;text-decoration: underline;}
.consulting_infor.style{margin-left: 0;margin-right: 20px;}
.consulting_infor.style  .consulting_link{text-align: left;}

/*about*/
.l_about{color: #666;}
.l_about .title{margin-bottom: 30px;}
.l_about .infor{font-size: 14px;line-height: 24px;}
.center{text-align: center;font-size: 14px;color: #999;text-indent: -28px;}
.center p{line-height: 24px;}



/*分页*/
.paging{position: absolute;left: 50%;margin-top: 20px;}
.page-pre,.page-next{float: left;border-radius: 4px;background: #f2f2f2;color: #666;font-size: 16px;width: 40px;height: 30px;text-align: center;line-height: 30px;}
.page-next{margin-left: 5px;}
.page-menu{float: left;}
.page-menu li{float: left;border-radius: 4px;background: #f2f2f2;margin-left: 5px;color: #999;width: 40px;height: 30px;text-align: center;line-height: 30px;font-size: 12px;}
.page-menu li.active{background: #ff6702;color: #fff;}
.page-pre:hover,.page-next:hover{cursor: pointer;}
.page-next{margin-right: 4px;}
.page-menu li:hover{cursor: pointer;}
.page-num{border: 1px solid #ccc;text-align: center;width: 50px;height: 25px;line-height: 25px;color: #666;font-size: 12px;}
.btn-jump{width: 50px;height: 30px;text-align: center;background: #ff6702;font-size: 12px;color: #fff;font-family: "微软雅黑";}
.page-num:focus{color: #ff6702;}







@charset "utf-8";
body,html{font-family: Microsoft YaHei,Arial, Helvetica, sans-serif;-webkit-font-smoothing: antialiased;}
body{font-family: "微软雅黑",Arial, Helvetica, sans-serif;overflow-x: hidden;-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;}

body,p,html{margin: 0;padding: 0;}
ul,li,img{margin:0;padding:0;list-style:none;border:none; vertical-align:middle;}
a{color:#000;text-decoration:none;}
a,button{cursor: pointer;}
a::selection,button::selection,.sc-menu li::selection{background:transparent;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;*display: inline;*zoom: 1;}
textarea,select,input,button{outline: none;border: none;}
.hide{display: none;}
.right{float: right;}
.left{float: left;}
html,body,p,h1,h2,h3,h4,h5,h6,form,input,textarea,select,button,fieldset,legend,img,ul,ol,li,dl,dt,dd,th,td,pre,blockquote{margin:0;padding:0}
html{height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased}
body{background-color:#fafafa;color:#666;min-height:100%;}
table{border-collapse:collapse;border-spacing:0}
img,fieldset{border:0;vertical-align:middle}
a{text-decoration:none}
a:visited{}a:hover{text-decoration:underline}
a:active{}ul,li,ol{list-style:none}
a:link{text-decoration: none;}
body{background: #fff;}
.wrapper{width: 100%;position: relative;margin: 0 auto;min-width: 1200px;}
.content{width: 100%;position: relative;margin: 0 0 80px;padding-top: 25px;}
.contentMain .center{width: 1200px;margin: 0 auto;}
button,a,input{font-family: "微软雅黑";}


/*head*/
.head{width: 100%;background: #fff;border-bottom: 1px solid #dbdbdb;}
.head_main{width: 90%;margin: 0 5%;position: relative;}
.logo{width: 100px;height: 35px;position: absolute;left: 0;top: 12px;}
.logo a{display: inline-block;width: 100%;height: 100%;}
.logo a img{width: 100%;height: 100%;}
.menu{display: block;width: 1090px;margin: 0 auto;}
.menu li{float: left;width: 110px;text-align: center;margin-right: 53px;}
.menu li.mr0{margin-right: 0;}
.menu li.active{}
.menu li a{font-size: 16px;color: #333;border-bottom: 3px solid transparent;display: inline-block;width: 100%;position: relative;top: 1px;}
.menu li.active a{color: #fe5205;border-bottom: 3px solid #fe5205; }


/*index-content*/
strong,b{font-weight:normal}
em,i{font-style:normal}
iframe{display:block}
fieldset{border:1px solid #c0c0c0;margin:0 2px 18px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
s{text-decoration:none;}

/*consultingCenter*/
.l_consulting{width: 100%;background: #fff;position: relative;}
.l_consulting_menu{width: 100%;}
.l_consulting_menu li{width: 100%;padding: 20px 0;border-bottom: 1px solid #efefef;}
.l_consulting_menu li:hover{background: #efefef;}
.consulting{width: 1024px;display: block;margin: 0 auto;}
.consulting_img{width: 240px;height: 240px;}
.consulting_img>img{width: 100%;height: 100%;}
.consulting_infor{width: 760px;margin-left: 20px;}
.consulting_infor p{line-height: 26px;}
.consulting_infor .title{font-size: 16px;color: #333;margin-bottom: 10px;}
.consulting_infor .consulting_con{font-size: 14px;color: #999;}
.consulting_infor .consulting_link{text-align: right;}
.consulting_infor .consulting_link a{color: #999;}
.consulting_infor .consulting_link a:hover{color: #666;text-decoration: underline;}
.consulting_infor.style{margin-left: 0;margin-right: 20px;}
.consulting_infor.style  .consulting_link{text-align: left;}


/*talentRecruitment */
.l_talent{width: 100%;padding: 20px 0;}
.talent{width: 1024px;margin: 0 auto;}
.l_talent_head{width: 100%;display: block;}
.l_talent_head>div{float: left;width: 25%;text-align: center;height: 40px;line-height: 40px;color: #fff;background: #ff8a03;}
.l_talent_menu{width: 100%;}
.l_talent_menu li{width: 100%;border-bottom: 1px solid #dbdbdb;}
.l_talent_menu li .l_talent_name{width: 100%;padding: 20px 0;display: block;}
.l_talent_name>div{width: 25%;text-align: center;color: #333;float: left;}
.l_talent_infor{background: #fff;padding: 30px;font-size: 14px;color: #666;line-height: 24px;}
.btn_td{display: inline-block;outline: none;border: none;width: 100px;text-align: center;height: 36px;line-height: 36px;border-radius: 4px;background: #ff5103;color: #fff;margin: 15px 0;}
.l_talent_menu li .l_talent_infor{display: none;}
.l_talent_menu li.on .l_talent_infor{display: block;}

/*contact*/
.l_contact{width: 100%;background: #fff;}
.contact{width: 1024px;margin: 0 auto;padding: 20px 0;}
.c_type{display: block;font-size: 20px;color: #b18d75;padding: 10px 0 20px;}
.c_type span{font-size: 16px;color: #333;}
.l_contact_menu{width: 100%;margin-bottom: 10px;display: block;}
.contact_block{width: 100%;padding: 0 460px;height: 1px;background: #dbdbdb;margin: 30px 0 20px -460px;}
.l_contact_menu li{float: left;width: 310px;margin-right: 47px;color: #fff;height: 60px;line-height: 60px;text-align: center;}
.l_contact_menu li.first{background: #6b9eca;}
.l_contact_menu li.second{background: #ed7471;}
.l_contact_menu li.next{background: #82ba76;width: 190px;}
.l_contact_menu li.last{background: #82ba76;width: 310px;}
.l_contact_menu li.mr0{margin-right: 0;}
#allmap{width: 100%;height: 600px;}

/*about*/
.l_about{color: #666;}
.l_about .title{margin-bottom: 30px;}
.l_about .infor{font-size: 14px;line-height: 24px;}
.center{text-align: center;font-size: 14px;color: #999;text-indent: -28px;}
.center p{line-height: 24px;}

/*public*/
.cf:after {content:"";clear:both;display:block;height:0;overflow:hidden}
.cf {zoom:1}
.fl{display:inline;float:left}.fr{display:inline;float:right}
.lh36 {line-height:36px}
.lh30 {line-height:30px}
.pl20 {padding-left:20px}

h2{font-family:"microsoft yahei";font-size:14px;}
.wd240{width:240px;}
.wd252{width:100%;}
.ht399{height:399px;}
.ht14{height:14px;}
.lh33{line-height:33px;}
.lh23{line-height:23px;}
.lh12{line-height:12px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pr20{padding-right:20px;}
.wd204{width:204px;}
.wd443{width:443px;}
.wd185{width:185px;}
.ml19{margin-left:19px;}
.pt30{padding-top:30px;}
.pb12{padding-bottom:12px;}
.bt{border-top:1px solid #eae7e7;}
.gray{color:#999;}
.blee{border-left:1px solid #eeeeee;}
.fwblod{font-weight:bold;}


/* nav-wrap */
.nav-wrap{position:relative;*z-index:2;width:100%;}
.navWrap{position:relative;width:1200px;height:44px;margin:0 auto;}
.goods{position:absolute;top:0;left:0;width:240px;height:44px;}
.goods:hover .all-goods{display: inline-block;}
.goods:hover{cursor: pointer;}
.goods>.title{background: #ef6e30;font-weight: 100;position: relative;}
.goods .fa{font-size: 16px;color: #fff;position: absolute;top: 15px;right: 10px;}
.goods h2 a,.goods>.title{display:block;height:44px;padding-left:20px;line-height:44px;color:#fff;}
.goods h2 a:hover{text-decoration:none;}

.nav-list{height:44px;margin-left: 240px;}
.nav-list li{float:left;margin: 0 10px 0 25px;}
.nav-list a{display:block;height:30px;line-height:30px;float:left;padding:0 10px;text-align:center;color:#333;text-decoration:none;border-radius: 4px;font-size: 16px;}
.nav-list a:hover{background:#f0eded;color: #ef6e30;}
.nav-list a.on{background: #f0eded;color: #ef6e30;}
.all-goods{display: none;position:absolute;top:44px;left:0;width:238px;background:#FAFAFA;border:solid #ff6600;border-width:0 1px 1px;overflow:visible;z-index: 9999999;}
.all-goods .item{width:238px;height:56px;border-bottom:1px solid #dbdbdb;background:#fff;position: relative;}
.all-goods .btnone{border-top:none;}
.all-goods .item .product{position:absolute;z-index:999;width:237px;}
.all-goods .item .icon_span{position: absolute;left: 10px;top: 10px;display: inline-block;width: 28px;}
.all-goods .item.active .icon_span,.all-goods .item.active .product .faRight{color:#ff6600;}
.all-goods .item .product .shops{width:207px;height:55px;padding-left:28px;border-width:1px 0;font-weight:normal;}
.all-goods .item .product .shops a{color:#666;font-size:14px;}
.all-goods .item .product .shops a:hover{color:#ff6600;}
.all-goods .item .product .faRight{display:block;position:absolute;top:13px;left:217px;width:6px;height:9px;}
.all-goods .active .product .shops{;background-position:-12px -235px;background-color:#fff;border-bottom:1px solid #dbdbdb;width:210px;}
.all-goods .active .product h3 a{color:#ff6600;}
.all-goods .product-wrap{position:absolute;width:478px;z-index:99;border:1px solid #ff6600;background:#fff;padding:20px 0px 20px 20px;display:none;}
.all-goods .product-wrap p{color:#999;}
.all-goods .pos01{left:237px;top:-1px;}
.all-goods .pos02{left:237px;top:-1px;}
.all-goods .pos03{left:237px;top:-1px;}
.all-goods .pos04{left:237px;top:-1px;}
.all-goods .pos05{left:237px;top:-1px;}
.all-goods .pos06{left:237px;bottom:-1px;}
.all-goods .pos07{left:237px;bottom:-2px;}
.all-goods .pos08{left:237px;bottom:-2px;}
.all-goods .pos09{left:237px;bottom:-2px;}
.all-goods .pos010{left:237px;bottom:-2px;}
.all-goods .product-wrap h2{font-size:16px;color:#333;font-weight:bold;}
.all-goods .product-wrap h2 a{height:auto;line-height:16px;color:#666;padding-left:0;}

.all-goods .product-wrap ul li{float:left;display:inline;margin-right:15px;margin-top:8px;white-space:nowrap;}
.all-goods .product-wrap ul li a{color:#666;display:inline-block;line-height:18px;text-decoration:none;font-size: 14px;}
.all-goods .product-wrap ul li a:hover{text-decoration:none;background-position:-8px -219px;color:#ff6600;}
.all-goods .product-wrap div dd,.all-goods .product-wrap div dl a{display:block;width:238px;height:120px;overflow:hidden;}

.shops{padding-left: 30px;height: 59px;border:2px solid transparent;}
.shops>.title{color: #f07c48;margin-top: 5px;}
.shop-menu{width: 208px;}
.shop-menu li{float: left;width: 33.333%;}
.shop-menu li a{font-size: 14px;color: #666;}



#search-2014 {position: relative;z-index: 11;width: 459px;left: 30px;}
#search-2014 .form {
    width: auto;

}
#search-2014 .form {
    width: 459px;
    height: 36px;
}

#search-2014 .text {
    float: left;
    width: 315px;
    height: 24px;
    line-height: 24px;
    color: #666;
    padding: 5px;
    margin-bottom: 4px;
    border-width: 1px 0 1px 0;
    border-color: #ec5152;
    border-style: solid;
    outline: 0;
    font-size: 14px;
    font-family: "微软雅黑";
}
#search-2014 .button {
    float: left;
    width: 60px;
    height: 36px;
    background: #ec5152;
    border: none;
    line-height: 1;
    color: #fff;

    font-size: 16px;
    cursor: pointer;
}
.cw-icon {
    position: relative;
    cursor: default;
    zoom: 1;
}

.type{width: 70px;float: left;  height: 34px;line-height: 34px;text-align: center;color: #666;font-size: 14px;}
.type:hover{cursor: pointer;}
.search-type{border: 1px solid #ec5152;border-right: 0;position: relative;}
.w1{position: absolute;width: 1px;height: 20px;background: #ccc;top: 7px;right: 0;}
.type-menu{width: 70px;border: 1px solid #ec5152;border-top: 0;border-bottom: 0;background: #fff;}
.type-menu li{line-height: 34px;height: 34px;;width: 100%;border-bottom: 1px solid #ec5152;
    text-indent: -10px;}
/*.type-name{position: relative;left: -5px;}
.fa-angle-down{position: absolute;top: 10px;}*/





.s_h{width: 100%;height: 37px;line-height: 37px;background: url(../images/louBg.png);background-size: 100% 100%;margin-bottom: 25px;}
.s_h_t{display: inline-block;width: 37px;height: 37px;color: #fff;text-align: center;}
.s_h_h{font-size: 16px;color: #333;display: inline-block;position: relative;left: 5px;}
.s_h_a{font-size: 14px;color: #666;}
.s_c{display: block;}
.s_c_h{width: 205px;}
.s_c_h>img{width: 100%;}
.s_c_h_c{border: 1px solid #dbdbdb;background: #f9f9f9;border-top: 0;border-right: none;}
.s_c_menu{display: block;padding-bottom: 5px;height: 249px;}
.s_c_menu li{border: 1px solid #e5e5e5;margin-left: 4px;float: left;margin-top: 10px;}
.s_c_menu li a{font-size: 14px;color: #333;padding: 5px;display: inline-block;}
.s_c_c{width: 995px;display: inline-block;}
.s_c_f{width: 995px;position: relative;top: -5px;}
.s_slider{display: inline-block;}
.s_slider>img{width: 594px;height: 257px;}
.s_c_c .s_left,.s_c_f  .s_left{float: left;border: 1px solid #dbdbdb;width: 197px; height: 256px;text-align: center;display: inline-block;}
.s_c_c .s_left a>img{position: relative;top: 30px;width: 115px;height: 150px;}
.s_left a{display: block;width: 100%;height: 100%;}
.s_c_c .s_left,.s_c_f  .s_left{border-right: 0;}
.s_c_c .s_left.br1,.s_c_f  .s_left.br1{border-right: 1px solid #dbdbdb;}
.s_c_c .s_left.bb0{border-bottom: 0;}
.s_c_f  .s_left{padding: 35px 36px;}
.bigTitle,.smallTitle,.clothTitle{width: 125px;white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden; text-align: left;margin: 0 auto;}
.bigTitle{font-size: 18px;color: #333;font-weight: bold;margin-top: 25px;}
.smallTitle{font-size: 14px;color: #666;}
.clothTitle{font-size: 16px;color: #999;margin-top: 35px;text-align: center;}
.clothMoney{text-align: center;}
.clothMoney .nowPrice{font-size: 14px;color: #d00a4d;font-weight: bold;}
.clothMoney .oldPrice{font-size: 14px;color: #999;text-decoration: line-through;}
.clothMoney .discount{display: inline-block;padding: 2px;background: #8a8a8a;color: #fff;font-size: 12px;border-radius: 2px;}
.salesVolume{font-size: 14px;color: #999;}


.hotShop{width: 100%;margin: 30px auto;}
.h_s_c{width: 1200px;margin: 0 auto;}
.h_s_c span{color: #666;font-size: 24px;}
.h_s_c .title{font-size: 16px;color: #666;margin-bottom: 20px;}
.h_s_m{display: block;}
.h_s_m li{width: 32%;margin-right: 2%;float: left;}
.h_s_m li.mr0{margin-right: 0;}
.h_s_m li img{width: 100%;}


/*index*/
.autoImg{position: relative;}
.l_about{background: #fff;padding: 20px 0;width: 100%;}
.about{width: 1024px;margin: 0 auto;}
.l_a_title{width: 100%;text-align: center;font-size: 20px;}
.l_a_title_img1{display: inline-block;width: 39px;height: 41px;background: url(../images/title1.png) no-repeat;background-size: 100% 100%;}
.l_a_title .span_infor{color: #9f6f4f;position: relative;top: -15px;left: 5px;}
.l_a_con{font-size: 14px;color: #666;text-align: center;margin: 15px 0;line-height: 24px;}
.l_service{width: 100%;padding: 20px 0 30px;}
.service{width: 1024px;margin: 0 auto;}
.l_a_title_img2{display: inline-block;width: 41px;height: 42px;background: url(../images/title2.png) no-repeat;background-size: 100% 100%;}
.service_menu{display: block;width: 680px;margin: 0 auto;}
.service_menu li{float: left;width: 143px;height: 143px;text-align: center;color: #333;margin-right: 36px;}
.service_menu li a{display: inline-block;width: 100%;height: 100%;}
.service_menu li.active a{color: #fff;}
.service_menu li .service_img1{background: url(../images/service1-1.png) no-repeat;display: inline-block;width: 89px;height: 60px;background-size: 100% 100%;}
.service_menu li .service_img2{background: url(../images/service2-1.png) no-repeat;display: inline-block;width: 63px;height: 60px;background-size: 100% 100%;}
.service_menu li .service_img3{background: url(../images/service3-1.png) no-repeat;display: inline-block;width: 66px;height: 60px;background-size: 100% 100%;}
.service_menu li .service_img4{background: url(../images/service4-1.png) no-repeat;display: inline-block;width: 69px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img1{background: url(../images/service1-2.png) no-repeat;display: inline-block;width: 89px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img2{background: url(../images/service2-2.png) no-repeat;display: inline-block;width: 63px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img3{background: url(../images/service3-2.png) no-repeat;display: inline-block;width: 66px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img4{background: url(../images/service4-2.png) no-repeat;display: inline-block;width: 69px;height: 60px;background-size: 100% 100%;}
.service_menu li .service_img{margin:30px 0 5px;}
.service_menu li.mt .service_img{margin-bottom: 0;margin-top: 25px;}
.service_menu li.mt span.style{display: inline-block;width: 100px;position: relative;top: -3px;}
.service_menu li.mr0{margin-right: 0;}
.service_menu li.active{background: #ce2020;border-radius:100%;color: #fff;}
.service_menu.style{display: block;width: 860px;margin: 0 auto;}
.service_menu li{float: left;width: 143px;height: 143px;text-align: center;color: #333;margin-right: 36px;}
.service_menu li .service_img5{background: url(../images/service5-1.png) no-repeat;display: inline-block;width: 68px;height: 72px;background-size: 100% 100%;}
.service_menu li .service_img6{background: url(../images/service6-1.png) no-repeat;display: inline-block;width: 62px;height: 60px;background-size: 100% 100%;}
.service_menu li .service_img7{background: url(../images/service7-1.png) no-repeat;display: inline-block;width: 66px;height: 60px;background-size: 100% 100%;}
.service_menu li .service_img8{background: url(../images/service8-1.png) no-repeat;display: inline-block;width: 61px;height: 60px;background-size: 100% 100%;}
.service_menu li .service_img9{background: url(../images/service9-1.png) no-repeat;display: inline-block;width: 67px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img5{background: url(../images/service5-2.png) no-repeat;display: inline-block;width: 68px;height: 72px;background-size: 100% 100%;}
.service_menu li.active .service_img6{background: url(../images/service6-2.png) no-repeat;display: inline-block;width: 62px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img7{background: url(../images/service7-2.png) no-repeat;display: inline-block;width: 66px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img8{background: url(../images/service8-2.png) no-repeat;display: inline-block;width: 61px;height: 60px;background-size: 100% 100%;}
.service_menu li.active .service_img9{background: url(../images/service9-2.png) no-repeat;display: inline-block;width: 67px;height: 60px;background-size: 100% 100%;}
.l_team{width: 100%;background: #fff;}
.l_team_title{background: #ce2020;width: 100%;height: 60px;line-height: 60px;text-align: center;color: #fff;font-size: 14px;}
.l_team_title span{font-size: 18px;}
.l_team_bg{margin: 0 auto;width: 1024px;height:478px;background: url(../images/team.jpg) no-repeat;background-size: 100% 100%;position: relative;}
.l_team_bg a{position: absolute;bottom: 15px;right: 15px;font-size: 14px;color: #fff;}
.l_a_title_img3{display: inline-block;width: 41px;height: 42px;background: url(../images/title3.png) no-repeat;background-size: 100% 100%;}
.l_step{width: 100%;background: #fff;padding: 20px 0;position: relative;}
.step{width: 1024px;margin: 0 auto;background: transparent;}
.l_block{width: 100%;height: 1px;background: #dbdbdb;position: absolute;z-index: 10;top: 150px;}
.l_step_con{margin: 20px auto;display: block;width: 920px;position: relative;z-index: 11;}
.l_step_menu li{font-size: 18px;text-align: center;line-height: 120px;float: left;width: 118px;height: 120px;border-radius: 100%;margin-right: 40px;background: #ce2020;color: #fff;border: 1px solid transparent;}
.l_step_menu li.mr0{margin-right: 0;}
.l_step_menu li.active{background: #fff;color: #ce2020;border-color: #ce2020;}
.l_a_title_img4{display: inline-block;width: 41px;height: 42px;background: url(../images/title4.png) no-repeat;background-size: 100% 100%;}
.l_a_title_img5{display: inline-block;width: 41px;height: 42px;background: url(../images/title5.png) no-repeat;background-size: 100% 100%;}
.l_consultation{width: 100%;padding: 30px 0;}
.consultation{width: 1024px;margin: 10px auto;}
.consultation_menu{display: block;width: 900px;margin: 0 auto;}
.consultation_menu li{height: 100px;margin-bottom: 20px;float: left;width: 410px;margin-right: 20px;padding: 15px;background: #fff;}
.consultation_menu li.mr0{margin-right: 0;}
.consultation_menu li a{display: inline-block;width: 100%;height: 100%;}
.consultation_menu li .consultation_infor{display: block;width: 100%;}
.consultation_title{}
.consultation_title .day{width: 50px;height: 50px;line-height: 50px;text-align: center;color: #fff;background: #ce2020;}
.consultation_title .month{width: 50px;height: 50px;line-height: 50px;text-align: center;color: #fff;background: #000;}
.consultation_con{width: 345px;margin-left: 15px;}
.consultation_con .title{font-size: 16px;color: #333;margin-bottom: 10px;}
.consultation_con .con{font-size: 14px;color: #999;line-height: 20px;}
.l_customer{background: #fff;width: 100%;padding: 20px 0;}
.active-ul {margin-top: 10px;}
#marquee{width: 1024px;height: 80px;margin: 0 auto;overflow: hidden;}
.active-ul li {float: left; height: 66px;width: 1024px;}
.active-ul li a{display: inline-block;margin-right: 10px;text-align: center;height: 50px;}
.active-ul li a.mr0{margin-right: 0;}
.active-ul li a img{width: 100px;height: 50px;}
.active-left,.active-right{width: 40px;height: 40px;text-align: center;top: 50%;position: absolute;margin-top: -20px;}
.active-left{left: 0;}
.active-right{right: 0;}
.active-left:hover,.active-right:hover{cursor: pointer;}

.l_consultingInfor{}
.consultingInfor{}
.jdly{padding: 25px 0;background: #fff;border-bottom: 1px solid #dbdbdb;}
.pTitle{text-align: center;font-size: 16px;color: #333;}
.shopUl{width: 1024px;margin: 20px auto 0 auto;display: block;padding: 0 50px;}
.shopUl li{float: left;width: 27%;margin-right: 9.5%;}
.shopUl li.mr0{margin-right: 0;}
.shopUl li a{display: inline-block;text-align: center;width: 100%;height:100%;}








/*onlineMall*/
.breadDiv{width: 100%;height: 50px;line-height: 50px;border-top: 1px solid #dbdbdb;}
.breadDiv.bt0{border-top: 0;}
.breadDiv>.center{width: 1200px;margin: 0 auto;display: block;height: 50px;}
.breadDiv>div.shopNum{font-size: 16px;color: #333;}
.center .breadNav{position: relative;left: 15px;}
.center .breadNav li{position: relative;padding: 0 12px;}
.center .breadNav li a .fa{position: relative;left: 16px;}

.breadDiv .color{color: #ef6e30;}
.breadNav{display: block;}
.breadNav li{float: left;}
.breadNav li a{color: #333;font-size: 14px;}
.breadNav li a:hover{text-decoration: underline;}
.shopDiv{width: 100%;background: #f4f4f4;}
.shopNav{width: 1200px;;margin: 0 auto;height: 50px;line-height: 50px;}
.shopNav li{float: left;margin-right: 50px;height: 100%;}
.shopNav li a{display: inline-block;width: 100%;height: 100%;padding: 0 15px;position: relative;}
.shopNav li a:hover{text-decoration: none;}
.shopNav li a.active{color: #ef6e30;}
.shopNav li a .fa{color: #333;}
.shopNav li a.active .fa.active{color: #ef6e30;}
.shopNav li a .fa{position: absolute;left: 55px;}
.shopNav li a .fa-caret-up{top: 12px}
.shopNav li a .fa-caret-down{bottom: 12px;}



#shops{}
.shop_ist{width: 1170px;margin: 30px auto 0;padding: 15px;display: block;background: #f4f4f4;border: 1px solid #dfdfdf;}
.s_l_h{text-align: center;padding:  15px 21px;}
.s_l_h a{}
.s_l_h a>img{width: 85px;height:85px;margin-top: 40px;}
.s_l_h p{font-size: 14px;color: #666;margin-top: 10px;}
.s_l_h .title{font-size: 18px;color: #333;margin-bottom: 20px;}
.shop_menu{display: block;}
.shop_menu li{width: 239px;margin-left: 7px;float: left}
.shop_menu li img{width: 100%;height: 227px;}
.s_m_f{background: #fff;width: 240px;padding: 10px 0;border: 1px dotted #dfdfdf;border-top: 0;}
.s_m_f p{padding: 0 15px;display: inline-block;}
.s_m_f .s_m_t{font-size: 16px;color: #666;}
.s_m_f .s_m_f_f{display: block;}
.s_m_f .money{font-size: 18px;color: #ff632a;}
.s_m_f .buyNum{font-size: 14px;color: #999;}



/*personInfor*/
.content.pt0{padding-top: 0;}
.personInfor{width: 1200px;display: block;margin: 0 auto;position: relative;}
.person_menu{width: 185px;float: left}
.person_menu li{width: 100%;height: 40px;line-height: 40px;text-align: center;margin-bottom: 15px;}
.person_menu li a{display: inline-block;width: 100%;height: 100%;background: #e0e0e0;color: #333;}
.person_menu li.active a{background: #ff5103;color: #fff;}

.p_i{width: 985px;margin-left: 20px;min-height: 550px;}
.p_i_h{width: 100%;border: 1px solid #dbdbdb;}
.p_i_h_n{display: block;}
.p_i_h_n li{float: left;width: 25%;text-align: center;font-size: 14px;color: #666;padding: 15px 0;}
.p_i_h_n li>a{display:block;width: 100%;border-right: 1px solid #dbdbdb;color: #666;}
.p_i_h_n li.first{display: block;background: #f5f8fa;padding: 0;}
.p_i_h_n li.first>div{padding: 19px 0;display:block;border-right: 1px solid #dbdbdb;}
.p_i_h_n li.first>div>a{float: left;width: auto;position: relative;left: 50px;top: -5px;}
.p_i_h_n li.first>div img{width: 50px;height: 50px;}
.p_i_h_n li.first>div>div{margin-left: 0;display: inline-block;text-align: left;}
.p_i_h_n li.br0{border-right: 0;}
.p_i_h_n li>a img{width: 20px;}

.addressTable{border-collapse:collapse;width: 100%;font-size: 14px;margin: 15px 0;}
.addressTable tr th{background: #f9f9f9;color: #999;border:1px solid #dbdbdb;padding: 5px 0;}
.addressTable tr.first td{border-top: none;}
.addressTable tr td{font-size: 14px;border:1px solid #dbdbdb;color: #666;padding: 10px 0;text-align: center;}
.addressTable tr td .btnRemove,.addressTable tr td .btnModify{background: transparent;color: #8cb4eb;}
.addressTable tr td .btnRemove{color: #ff0004;}

.commentList{margin-bottom: 80px;}
.commentTable{border-collapse:collapse;width: 100%;font-size: 14px;margin: 15px 0;}
.commentTable tr th{background: #f9f9f9;color: #999;border:1px solid #dbdbdb;padding: 5px 0;}
.commentTable tr.first td{border-top: none;}
.commentTable tr td{font-size: 14px;border:1px solid #dbdbdb;color: #666;padding: 10px 0;text-align: center;}
.commentTable tr td .btnRemove,.commentTable tr td .btnModify{background: transparent;color: #8cb4eb;}
.commentTable tr td .btnRemove{color: #ff0004;}



.maskBg,.mask,.maskTip{position: fixed;left: 0;right: 0;top: 0;bottom: 0;z-index: 10000;}
.maskBg{background: #000;opacity: 0.8;filter: alpha(opacity=80);}




/*shopping*/
.shop_ist.style{background: #fff;border: 0;}
.shop_ist.style .shop_menu li{width: 277px;margin: 0 20px 15px 0;}
.shop_ist.style .s_m_f{width: 276px;}
.shop_ist.style .shop_menu li img{height: 261px;}
.shop_ist .shop_menu li.mr0{margin-right: 0;}


/*shopsInfor*/
.content.mb0{margin-bottom: 0;}
.content.pt0{padding-top: 0;}
#shops.pb100{padding-bottom: 100px;}
.shopsInfor{width: 1200px;background: #fff;margin: 25px auto;display: block;height: 200px;border: 1px solid #dbdbdb;}
.shopsInfor>div{}
.s_i_h{border-right: 1px solid #dbdbdb;text-align: center;height: 100%;padding: 0 50px;margin-right: 50px;}
.s_i_h>img{width: 85px;height: 85px;margin: 30px 0 10px;}
.s_i_h>.title{font-size: 18px;color: #333;}
.s_i_c{margin-top: 40px;margin-right: 40px;width: 442px;}
.s_i_c>div{border-bottom: 1px solid #dbdbdb;margin-bottom: 15px;}
.s_i_c>div p{font-size: 14px;color: #999;margin-bottom: 5px;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.s_i_c>div p.title{font-size: 16px;color: #333;}
.star_menu{display: block;margin-bottom: 5px;}
.star_menu li{float: left;margin-right: 5px;color: #ff5102;font-size: 18px;}
.star_menu li.active{}
.shop_ist>.title{margin: 0 0 10px 0;color: #333;}
.q_l{display: none;width: 100%;}
.q_l.active{display: inline-block;}
.shops_menu{display: block;margin-bottom: 15px;}
.shops_menu li{float: left;text-align: center;line-height: 40px;width: 49.9%;border-right: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;font-size: 16px;color: #333;}
.shops_menu li:hover{cursor: pointer;}
.shops_menu li.active{color: #ff6702;  border-bottom-color: #ff6702; }
.shops_menu li.br0{border-right: 0;}
.c_m{padding: 15px 15px 0 15px;display: block;}
.c_m li{border-bottom: 1px solid #dbdbdb;width: 100%;margin-bottom: 15px;}
.c_m li .name{font-size: 16px;color: #222;}
.c_m li.bb0{border-bottom: 0;}
.c_m li>img{width: 80px;}
.c_m li .c_c{margin-top: 10px;font-size: 14px;padding-bottom: 10px;}


/*shoppingInfor*/
.content.bg{background: #f6f6f6;}
.shoppingInfor{width: 1200px;display: block;background: #fff;margin: 0 auto;overflow: hidden;border: 1px solid #dbdbdb;}
.shoppingInfor .breadNav{margin: 10px 0 0 30px;}
.s_i{padding: 10px 30px;}
.s_i_l{width: 350px;height: 350px;margin-right: 20px;}
.s_i_l>img{width: 100%;height: 100%;}
.s_i_r{width: 770px;}
.s_i_r .title{font-size: 18px;margin-top: 0;}
.s_i_r>div{padding-bottom: 10px;border-bottom: 1px dotted #dbdbdb;}
.s_i_r>div p{margin: 8px 0;color: #333;font-size: 14px;}
.s_i_r>div p .oldPrice{font-size: 14px;color: #999;text-decoration: line-through;}
.s_i_r>div p .nowPrice{font-size: 20px;color: red;}
.s_i_r>div p.available_coupons{font-size: 14px;color: #333;background: #f8f5f0;margin: 0;padding: 10px 0;}
.s_i_r>div p .friegth_price{font-size: 14px;color: #999;}
.s_i_r>div .specifications{font-size: 14px;border: 1px solid transparent;position: relative;}
.s_i_r>div .specifications .close{position: absolute;right: 5px;top: 0;color: red;font-size: 20px;display: none;}
.s_i_r>div .specifications .errInfor{display: none;color: red;position: relative;left: 10px;}
.s_i_r>div .specifications.tip .errInfor{display: inline-block;}
.s_i_r>div .specifications.tip .close{display: inline-block;}
.s_i_r>div .specifications .close:hover{cursor: pointer;}
.s_i_r>div .specifications.tip{border: 1px solid red;padding: 10px 10px 0 10px;}
.specifications_menu{display: block;margin-top: 10px;}
.specifications_menu li{position: relative;padding: 5px 10px;border: 1px solid #dbdbdb;float: left;margin-right: 10px;margin-bottom: 10px;font-size: 14px;}
/*.specifications_menu li .cancel{position: absolute;top: 0;right: 0;font-size: 16px;}*/
.specifications_menu li:hover{cursor: pointer;}
.specifications_menu li.active{border-color: red;color: red;}
.numP{padding-top: 10px;font-size: 14px;}
.pBtn{margin-top: 10px;}
.s_i_r>div .nowBtn{width: 120px;height: 40px;text-align: center;line-height: 40px;background: #ff5103;color: #fff;font-size: 18px;border-radius: 4px;margin-right: 15px;}
.s_i_r>div .addBtn{width: 120px;height: 40px;text-align: center;line-height: 40px;background: #cecece;color: #333;font-size: 18px;border-radius: 4px;}
.shopsDetails{width: 1200px;margin: 0 auto;display: block;padding: 20px 0;}
.shopsInfor.style{width: 246px;height: auto;padding: 20px 20px 0 20px;margin: 0;text-align: left;}
.shopsInfor.style .s_i_h{border: 0;display: block;padding: 0;margin: 0;}
.shopsInfor.style .s_i_h>img{margin: 0;}
.shopsInfor.style .s_i_h>span.left{position: relative;top: 15px;left: 20px;}
.shopsInfor.style .s_i_h>span a{display: inline-block;padding: 5px 8px;border-radius: 10px;background: #ff6702;color: #Fff;text-align: center;font-size: 14px;margin-top: 5px;}
.shopsInfor.style .s_i_h>span.left .title{font-size: 16px;color: #333;}
.shopsInfor.style .s_i_c{margin-right: 0;width: auto;margin-top: 20px;}
.shopsInfor.style .s_i_c.mb0>div{border-bottom: 0;}
.s_s{width: 895px;background: #fff;margin-left: 15px;border: 1px solid #dbdbdb;}



/*personCenter*/
.p_h{width: 100%;border-bottom: 2px solid #dbdbdb;display: block;height: 43px;}
.p_h>div{float: left;padding: 10px 20px;color: #ff4e02;border-bottom: 2px solid #ff4e02;display: inline-block;position: relative;top: 2px;}
.p_h>div.notActive{color: #333;border-bottom-color: transparent;}
.p_h>div:last-child:before{position: absolute;content: "";top: 8px;bottom: 8px;left: 0;border-left: 1px solid #dbdbdb;}
.p_h>div:first-child:before{border: none;}
.addAddress.style{width: 800px;margin: 0 auto;background: #fff;padding: 15px;position: absolute;top: 50%;margin-top: -175px;left: 50%;margin-left: -415px;border-radius: 4px;border: 4px solid rgba(0,0,0,0.5)}
.dailogPay{text-align: center;width: 600px;margin: 0 auto;background: #fff;padding: 15px;position: absolute;top: 50%;margin-top: -175px;left: 50%;margin-left: -315px;border-radius: 4px;border: 4px solid rgba(0,0,0,0.5)}
.dailogPay img{}
.payMenu{display: block;}
.payMenu li{float: left;margin: 0 20px;}
.payMenu li img{width: 200px;height: 200px;margin-top: 15px;}
.sureClose{padding: 10px 25px;border-radius: 4px;color: #fff;background: #ff5205;}
.sureClose:hover{opacity: 0.8;}
.dailogPay .title{font-size: 20px;color: #333;padding: 0 0 15px 0;}
.addAddress{font-size: 14px;color: #666;margin-bottom: 20px;}
.addAddress .form-group{display: block;margin-top: 15px;}
.addAddress .form-group>span{display: inline-block;width: 80px;}
.addAddress .form-group .address{float: left;margin-right: 15px;}
.addAddress .form-group .color{color: #ff8d6d;}
.addAddress .form-group input,.addAddress .form-group textarea{padding: 8px;color: #333;width: 200px;border: 1px solid #dbdbdb;border-radius: 2px;}
.addAddress .form-group select{width: 218px;padding: 8px;color: #333;border: 1px solid #dbdbdb;position: relative;  left:4px;}
.addAddress .form-group textarea{width: 433px;height: 80px;}
.addAddress .form-group input,.addAddress .form-group textarea{box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.addAddress .form-group .err{color: #ff3b30;width: auto;}
/*.addAddress .form-group .err.hide{display: none;}*/
.addAddress .form-group input:focus{border-color: #66afe9;  outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
.addAddress .form-group textarea:focus{border-color: #66afe9;  outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
.addAddress .btnSave,.addAddress .btnCancel{padding: 8px 15px;border: 1px solid #dbdbdb;border-radius: 4px;color: #fff;position: relative;left: 84px;background: #ff5205;}
.addAddress .form-group .addressSpan{position: relative;top: -50px;}
.addAddress .btnCancel{background: #f6f5f5;color: #333;}
.addAddress .btnSave:active{opacity: 0.8;}
.addAddress .btnCancel:active{opacity: 0.8;}
.shake {
    -webkit-animation: showSweetAlert 0.2s;
    animation: showSweetAlert 0.2s;
}

@-webkit-keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7); }
    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05); }
    80% {
        transform: scale(0.95);
        -webkit-transform: scale(0.95); }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1); } }

@keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7); }
    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05); }
    80% {
        transform: scale(0.95);
        -webkit-transform: scale(0.95); }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1); }
}
.tips{padding: 6px 50px;border-radius: 30px;position: fixed;z-index: 99999999;text-align: center;left: 50%;font-size: 16px;opacity: 0;top: -5%;margin-left: -50px;}
.tips .type{color: #fff;}
.tips .type{width: auto;float: none;height: 20px;line-height: 20px;}
.tips.success{border: 4px solid rgba(0,0,0,0.2);color: #fff;background: rgba(0,0,0,0.6);}
.tips.fail{border: 1px solid #ff0404;color: #ff0404;}


.extensionList{width: 100%;}
.extensionList>ul{display: none;}
.extensionList>ul.active{display: block;}
.extensionList>ul>li{padding: 10px 0;border-bottom: 1px solid #dbdbdb;}
.extensionList>ul>li p{margin: 4px 0;display: block;}
.extensionList>ul>li p>span{font-size: 14px;color: #333;}
.extensionList>ul>li p .color{color: red;}
.extensionList>ul>li p .time{color: #999;}
.extensionList{margin-bottom: 80px;}
.helpList{font-size: 15px;padding: 20px 0;}
.person-infor p{margin-top: 10px;}

/*无数据提示*/
.notDataTips,.loadingTip{width: 100%;margin: 120px 0;text-align: center;font-size: 14px;color: #666;}
.notDataTips img,.loadingTip img{margin-bottom: 10px;}
.highcharts-button{display: none;}


/*分页*/
.paging{position: absolute;left: 50%;margin-top: 25px;}
.paging.style{bottom: -55px}
.page-pre,.page-next{float: left;border-radius: 4px;background: #f2f2f2;color: #666;font-size: 16px;width: 40px;height: 30px;text-align: center;line-height: 30px;}
.page-next{margin-left: 5px;}
.page-menu{float: left;}
.page-menu li{float: left;border-radius: 4px;background: #f2f2f2;margin-left: 5px;color: #999;width: 40px;height: 30px;text-align: center;line-height: 30px;font-size: 12px;}
.page-menu li.active{background: #ff6702;color: #fff;}
.page-pre:hover,.page-next:hover{cursor: pointer;}
.page-next{margin-right: 4px;}
.page-menu li:hover{cursor: pointer;}
.page-num{border: 1px solid #ccc;text-align: center;width: 50px;height: 25px;line-height: 25px;color: #666;font-size: 12px;}
.btn-jump{width: 50px;height: 30px;text-align: center;background: #ff6702;font-size: 12px;color: #fff;font-family: "微软雅黑";}
.page-num:focus{color: #ff6702;}


/*foot*/
.foot{width: 100%;}
.foot_infor{width: 100%;background: #e1e1e1;padding: 30px 0 50px;}
.f_i_m{width: 1200px;margin: 0 auto;display: block;}
.f_i_m li{width: 13%;margin-right: 2.5%;float: left;}
.f_i_m li.mr0{margin-right: 0;width: 22%;}
.f_i_m li .title{margin-bottom: 10px;font-size: 16px;color: #333;font-weight: bold;padding: 5px 0;border-bottom: 1px solid #ccc;}
.f_i_m li a{font-size: 14px;color: #666;line-height: 24px;display: block;}
.f_i_m li a:hover{text-decoration: underline;}
.f_i_m li .title.bb0{border-bottom: 0;}
.f_i_m li span{display: block;}
.f_i_m li span.phone{font-size: 20px;color: #e63333;}

.foot_details{width: 100%;background: #2d2728;height: 90px;}
.foot-main{width: 1200px; margin: 0 auto;}
.foot-nav{width: 510px;margin: 20px auto;display: block;}
.foot-nav li{float: left;border-right: 1px solid #a39582;position: relative;width:80px;padding: 0 10px;height: 16px;overflow: hidden;}
.foot-nav li.last{border-right: none;}
.foot-nav li a{display: inline-block;width:80px;height: 32px;line-height: 16px;color: #fff;text-align: center;transition:.5s all ease;-webkit-transition:.5s all ease;-moz-transition:.5s all ease;position: absolute;top: 0;}
.foot-nav li a:hover{cursor:default;position: relative;top: -20px;}
.foot-nav li a p{width: 100%;height: 20px;font-size: 14px;}
.foot-nav li a p.first{color: #ccc;}
.foot-nav li a p.last{color: #fff;}
.copyright{font-size: 14px;color: #fff;text-align: center;}
.copyright{color: #bab9b9;}


@media screen and (max-width: 1600px) {
    .nav .btn_r{right: 100px;}
    .nav .btn_l{left: 100px;}
    .down{left: 170px;}
}

@media screen and (max-width: 1400px) {
    .menu{position: relative;left: 100px;}
    .dailog .close{right: 10px;}
}