@charset "utf-8";
/*common style*/
.verdana{font-family: "Verdana";}
body,html{margin:0;padding:0;font-size:16px;color:#000;font-family:"Microsoft YaHei","微软雅黑";line-heihgt:20px;}
ul,li,img{margin:0;padding:0;list-style:none;border:none; vertical-align:middle;}
a{color:#000;text-decoration:none;}
body{background: #f7f7f7;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;}
.relative{position:relative;}
.absolute{position: absolute;}
.fix     {position: fixed;}
.left{float: left;}
.right{float: right;}
html[xmlns] .clearfix {display: block;}
a,button,input,img,table,ul,li,tr,td,div{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.content {width: 100%;position: relative;max-width: 640px;margin: 0 auto;}
.content.overflow{overflow-x: hidden;}
.content,.page{background: #f3f3f3;}



/*head*/
.hd{width: 100%;height: 2.5rem;background: #fe685b;line-height: 2.5rem;text-align: center;color: #fff;padding: 0;position: relative;z-index: 99;}
.hd a .fa-angle-left{float: left;position: relative;top: 0.4rem;left: 1rem;font-size: 1.5rem;color: #fff}
.shop_cat,.dot_block{display: inline-block;position: relative;top: 0.34rem;right: 0.5rem;}
.shop_cat{background: url(../images/shopCat.png) no-repeat;background-size: 100% 100%;width: 1.4rem;height: 1.4rem;}
.dot_block{background: url(../images/dot.png) no-repeat;background-size: 0.29rem 1.25rem;width: 0.29rem;height: 1.25rem;padding: 0 0.5rem;background-position: 0.5rem 0;}
a:active{opacity: 0.6;}
.nav_block{position: relative;}
.nav_link{position: absolute;top: 2.5rem;right: 0;z-index: 100;display: none;}
.nav_link li{width: 6rem;border-top: 1px solid #cfcfcf;}
.nav_link li a{display: inline-block;width: 100%;padding: 0.1rem 0;text-align: center;font-size: 0.8rem;color: #fff;background: #fe695c;}
.nav_link li a:active{opacity: 0.85;}

/*modiflrPersonCenter*/
.person_head{background: #fff;text-align: center;}
.defaultImg{margin: 1rem auto;width: 5rem;height: 5rem;}
.weui_label span.text{position: relative;top: -0.3rem;}


/*modifyName*/
.span_icon{display: inline-block;width: 1.05rem;height: 1.3rem;}
.spa_user{background: url(../images/userIcon.png) no-repeat;background-size: 100% 100%;}
.bd.pd48{padding-bottom:3rem;padding-top: 2.5rem;}
.bd.absolute{position:absolute;top:0;bottom:0;overflow-y:scroll;-webkit-overflow-scrolling:touch;width:100%}
.spa_code{background: url(../images/codeIcon.png) no-repeat;background-size: 100% 100%;}
.spa_phone{background: url(../images/pboneIcon.png) no-repeat;background-size: 100% 100%;}
.spa_birthday{background: url(../images/birthdayIcon.png) no-repeat;background-size: 100% 100%;}
.weui_cell_primary {position: relative;z-index: 100000;}
.weui_cell_primary .Wdate{position: relative;z-index: 10;background: transparent;}
.weui_cell_primary .fa-calendar{position: absolute;top: 0.25rem;right: 0;color: #52ba92;}



/*底部按钮交互和颜色*/
.weui_btn_area .weui_btn_primary{background: #ff6702}
.weui_btn_primary:not(.weui_btn_disabled):active{background: #ff6702;opacity: 0.8;}


/*提示弹窗*/
.weui_mask_transparent.fixed{position:fixed;z-index:10000}
.errDailog .weui_mask_transparent{position:absolute;left:0;right:0;top:0;bottom:0;background:0 0}
.errDailog .weui_toast{position:absolute;width:8em;min-height:7.5em;margin-left:-4em;margin-top:-3.75em;top: 40%;}
.weui_toast{z-index:300}
.weui_toast_content{text-align:center;font-size:14px}
#smile-icon{margin:20px 0 10px}
.weui_cell .weui_label{display: table;width: 80px;}
.codeInput{width: 45%;}
.getCode{height: 35px;line-height: 35px;position: absolute;width: 38%;top: 5px;background: #ff6702;border: none;outline: none;font-size: 14px;color: #fff;border-radius: 2px;}
.getCode:active{opacity: 0.85;}


/*applyLeave*/
.weui_cells.weui_cells_form.mt0{margin-top: 0;}
.weui_cell .weui_label, .weui_cells .weui_cell{font-size: 14px;}
.weui_cells_form input {font-family: "微软雅黑";font-size: 14px;}
.weui_cell.weui_cell_select {padding: 0 15px;}
.weui_select {font-family: "微软雅黑";padding: 0;color: #333;}
textarea{font-family: "微软雅黑";}
.weui_cell .weui_label .spanImgBg,.weui_cell .weui_label .spanText{display: table-cell;vertical-align: middle;}
.weui_cell .weui_label .color{color: #4b53c8;}
.weui_cells_form .weui_cell_ft.taLeft{font-size: 14px;text-align: left;position: relative;color: #3d4145;}
.weui_cells_form .weui_cell_ft.taLeft span:before{content: "; "}
.weui_cells_form .weui_cell_ft.taLeft span:first-child:before{content: ""}
.weui_cell .weui_cell_ft.taLeft:after{content:" ";display:inline-block;-webkit-transform:rotate(45deg);transform:rotate(45deg);height:6px;width:6px;border-width:2px 2px 0 0;border-color:#C8C8CD;border-style:solid;position:absolute;top:5px;right:0;margin-left:.3em}
.weui_cell_bd.date{position:relative}
.weui_cell_bd.style{position:relative}
.weui_cell_bd.date:after{position:absolute;content:"";width:0;height:0;border:4px solid #333;border-top-color:#333;border-left-color:transparent;border-bottom-color:transparent;border-right-color:transparent;right:0;top:10px}
.weui_cell_bd.style input{background:0 0;position:relative;z-index:10}
.weui_cell_bd.style .fa{position:absolute;top:4px;right:0;color:#00d449;z-index:0}
.weui_cell:before{left:0}
.weui_cell.mb15{margin-bottom:10px;border-bottom:1px solid #efefef}
.weui_cell_select .weui_cell_bd.date:after{position:absolute;content:"";width:0;height:0;border:4px solid #333;border-top-color:#333;border-left-color:transparent;border-bottom-color:transparent;border-right-color:transparent;right:0;top:22px;webkit-transform:rotate(0);transform:rotate(0)}
.weui_cells a.weui_cell:active{background-color:#ececec;}
.weui_btn_area .weui_btn{font-family: "微软雅黑";margin-top: 0;}
.weui_btn_area .weui_btn.actived{background: #9a9a9a;}
.weui_btn_area .weui_btn.actived:active{background: #9a9a9a;color: rgba(255,255,255,1)}
.weui_btn.b0,.weui_btn.b0:after{border:0;border-radius:0;}

.weui_btn_area.fixed{margin:0;width:100%;z-index:10;position:fixed;left:0;right:0;height:50px;text-align:center;line-height:50px;bottom:-8px}
.weui_cells.bg{background:#f7f7f7}
.weui_cells.bg .weui_cell{background:#fff}
.content,.page{position:absolute;top:0;right:0;bottom:0;left:0}




.addressChioce,.advancedSearch{position:fixed;z-index:10;left:0;top:0;right:0;bottom:0;background:#f7f7f7;overflow-y: auto;}
.weui_cells.style .weui_cell:after{content:" ";display:inline-block;-webkit-transform:rotate(45deg);transform:rotate(45deg);height:6px;width:6px;border-width:2px 2px 0 0;border-color:#C8C8CD;border-style:solid;position:relative;top:-2px;top:-1px;margin-left:.3em}
.weui_cells.style1{margin-top:10px}

.weui_search_bar.style{background:#fff;height:54px;display:block;width:100%}
.weui_search_bar.style span.left{display:inline-block;width:10%;height:30px;font-size:24px;text-align:center;line-height:30px;color:#333}
.weui_search_bar.style .weui_search_outer{width:90%}
.weui_search_bar.style .weui_search_inner{padding-left:10px;height:36px;line-height:36px}
.weui_search_bar.style .weui_search_inner .weui_icon_search{right:0;display:inline-block;width:16%;left:auto;text-align:center;height: 36px;line-height: 32px;}
.weui_search_bar.style .weui_search_inner .weui_icon_search:after{content:"";position:absolute;left:0;top:2px;bottom:-2px;width:1px;border-left:1px solid #efefef}
.weui_search_bar.style .weui_search_inner .weui_icon_search:before{color:#48a8e4;font-weight:700}
.weui_search_bar.style .weui_search_cancel{width:6%;text-align:center;color:#48a8e4}
.weui_search_bar.style .weui_search_cancel,.weui_search_bar.style .weui_search_inner .weui_search_input{font-size:12px;font-family:"微软雅黑";position:absolute;top:0;width:80%;padding:9px 6px}
.highSerch{display:inline-block;width:15%;height:36px;line-height:36px;text-align:center;color:#48a8e4;font-size:12px;position:relative}
.weui_search_bar.style .weui_search_inner .weui_icon_clear{right:17%;padding:0 5px;top:2px}


.weui_cells.mt0{margin-top: 0;}








/*applicatioApproval*/
.applicatioOpetion{width: 100%;margin-bottom: 10px;}
.applicatioNav{width: 100%;background: #fff;display: block;}
.applicatioNav li{float: left;text-align: center;font-size: 16px;width: 50%;position: relative;}
.applicatioNav li:first-child:after{content: "";position: absolute;right: 0;top: 0;width: 1px;bottom: 0;border-right: 1px solid #efefef;}
.applicatioNav li a{display: inline-block;width: 100%;padding: 10px 0;border-bottom: 3px solid transparent;color: #333;}
.applicatioNav li a.active{color: #47aaea;border-bottom: 3px solid #47aaea;}
.weui_cell {min-height: 23px;}
.weui_btn_area .weui_btn_primary.disabled{background: #ccc;}
.noMoney{font-size: 16px;color: #666;text-align: center;margin: 100px 0;}






/*not_registered*/
.content.bg1{background: #dbdbdb;}
.loading{position: absolute;top: 50%;left: 50%;margin-left: -15px;margin-top: -15px;}
.description{position: relative;top: 200px;width: 94%;padding: 0 3%;}
.c_wu{position: absolute;top: 3em;;}









/*暂无数据提示*/
.notConTip{text-align: center;color: #999;padding: 20px 0;position: absolute;top: 30%;width: 100%;}
.notConTip.mt15{margin: 15px 0;font-size: 12px;}
.notConTip img{width: 20%;margin-bottom: 5px;}
.notConTip img.w10{width: 10%;}
.notConTip .notInfor{color: #999;font-size: 16px;}





















@media screen and (max-width: 768px) {
    body,html{font-size: 20px;}
}

@media screen and (max-width: 640px) {


}
@media screen and (max-width: 568px) {
    body,html{font-size: 18px;}
}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 415px) {

}
@media screen and (max-width: 384px) {

}
@media screen and (max-width: 375px) {

}
@media screen and (max-width: 360px) {
    body,html{font-size: 16px;}
}
@media screen and (max-width: 320px) {

}
