body {
    margin: 0;
}
a{
    text-decoration: none;
}
.bazhong {
    width: 1920px;
    height: 1298px;
    background: url("../bazhongxitongimg/巴中市志愿者公益积分管理首页.jpg");
    overflow: hidden;
}

.bazhong > .logo {
    position: absolute;
    z-index: 1;
    left: 390px;
    top: 22px;
    width: 676px;
    height: 117px;
    background: url("../bazhongxitongimg/巴中市志愿者公益积分管理系统首页logo_03.png");
}

.bazhong > .bazhong_content {
    position: relative;
    width: 1070px;
    height: 1580px;
    margin: 122px auto;
    *top: 122px;
    padding: 20px 15px;
}

.bazhong > .bazhong_content > .content_yi {
    position: absolute;
    top: 0;
    left: 0;
    width: 282px;
    height: 246px;
    padding: 3px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
}

.bazhong > .bazhong_content > .content_yi > .tongzhi {
    position: relative;
    width: 281px;

    height: 40px;
    line-height: 35px;
    background: -webkit-gradient(
            linear,
            left top, left bottom,
            from(#f9e1cf),
            to(#ffffff)
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e1cf', endColorstr='#ffffff',GradientType=0 );
    background:-moz-linear-gradient(top, #f9e1cf, rgba(255, 255, 255,0.5));
}
.content_yi >.tongzhi>.sanjiao{
    position: absolute;
    left: 0;
    top: 0;


}
.content_yi >.tongzhi>.lingdang{
    position: relative;
    left: 10px;
    top: 8px;
}
.content_yi >.tongzhi>a{
    position: relative;
    left: 220px;
    top: 2px;
    color: #6d6b6a;
    font-size: 10px;
    font-family: "宋体";
}
.content_yi >.tongzhi>p{
    position: absolute;
    left: 5px;
    top: 24px;
    *top: 38px;

    width: 272px;
    height: 1px;
    border-bottom: 1px solid #eaeaea;
}
.bazhong > .bazhong_content > .content_yi > .tongzhi > .gong {
    position: absolute;
    top: 5px;
    left: 39px;
    font-family: "宋体";
    font-size: 14px;
    color: #da271e;
    font-weight: bold;
}

.bazhong > .bazhong_content > .content_yi > .neirong {
    width: 250px;
    padding-left: 20px;
    padding-top: 29px;
    font-family: "宋体";
    font-size: 12px;
    line-height: 24px;
    word-break: break-all;
    text-indent: 12px;
}

.bazhong > .bazhong_content > .huan {
    position: absolute;
    left: 299px;
    top: 0;
    width: 530px;
    height: 252px;
    background: #ffffff;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.bazhong > .bazhong_content > .huan > .huan_ul {
    width: 520px;
    height: 252px;
    overflow: hidden;
    margin-left: 5px;
}

.bazhong > .bazhong_content > .huan > .huan_ul > ul {
    width: 10000px;
    height: 252px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.bazhong > .bazhong_content > .huan > .huan_ul > ul > li {
    width: 530px;
    height: 246px;
    margin-top: 3px;
    margin-left: -3px;
    border-radius: 2px;
    float: left;
    *float: left;
}

.bazhong > .bazhong_content > .meng {
    position: absolute;
    z-index: 1;
    top: 210px;
    left: 306px;
    bottom: 3px;
    width: 519px;
    height: 40px;
    background: rgba(0, 0, 0, 0.4);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4c000000', EndColorStr='#4c000000');

}

.bazhong > .bazhong_content > .meng > p {
    width: 522px;
    height: 30px;
    font-family: "宋体";
    font-size: 12px;
    color: #ffffff;
    line-height: 20px;
    *padding-top: 10px;
    text-indent: 10px;

}

.bazhong > .bazhong_content > .meng > .lie > ul {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;

}

.bazhong > .bazhong_content > .meng > .lie > ul > li {
    width: 25px;
    height: 10px;
    display: inline-block;
    background: #dbdbdb;
    *float: left;
    *margin-right: 5px;

}

.bazhong > .bazhong_content > .meng > .lie > ul > li:first-child {
    background: #ed4331;
}

.bazhong > .bazhong_content > .content_er {
    position: absolute;
    top: 0;
    right: 2px;
    width: 250px;
    height: 246px;
    padding: 3px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
}




.bazhong > .bazhong_content > .content_er > .tongzhi {
    position: relative;
    width: 250px;

    height: 40px;
    line-height: 35px;
    background: -webkit-gradient(
            linear,
            left top, left bottom,
            from(#f9e1cf),
            to(#ffffff)
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e1cf', endColorstr='#ffffff',GradientType=0 );
    background:-moz-linear-gradient(top, #f9e1cf, rgba(255, 255, 255,0.5));
}
.content_er >.tongzhi>.sanjiao{
    position: absolute;
    left: 0px;
    top: 0px;


}
.content_er >.tongzhi>.lingdang{
    position: relative;
    left: 10px;
    top: 8px;
}
.content_er >.tongzhi>a{
    position: relative;
    left: 185px;

    color: #6d6b6a;
    font-size: 10px;
    font-family: "宋体";
}

.content_er >.tongzhi>p{
    position: absolute;
    left: 5px;
    top: 24px;
    *top: 38px;

    width: 241px;
    height: 1px;
    border-bottom: 1px solid #eaeaea;
}
.bazhong > .bazhong_content > .content_er > .tongzhi > .gong {
    position: absolute;
    top: 3px;
    left: 39px;
    font-family: "宋体";
    font-size: 14px;
    color: #da271e;
    font-weight: bold;
}

.bazhong > .bazhong_content > .content_er > .inpu {
    padding: 20px 18px;
}

.bazhong > .bazhong_content > .content_er > .inpu > .name {

    width: 215px;
    height: 26px;
    background: url("../bazhongxitongimg/内阴影输入框_03.jpg") no-repeat;
    background-size: 215px 26px;
}

.bazhong > .bazhong_content > .content_er > .inpu > .name > input {
    margin-top: 4px;
    margin-left: 7px;
    width: 200px;
    height: 18px;
    border: none;
    outline: none;

}

.bazhong > .bazhong_content > .content_er > .inpu > .pass {
    margin-top: 10px;
    width: 215px;
    height: 26px;
    background: url("../bazhongxitongimg/内阴影输入框_03.jpg") no-repeat;
    background-size: 215px 26px;
}

.bazhong > .bazhong_content > .content_er > .inpu > .pass > input {
    margin-top: 4px;
    margin-left: 7px;
    width: 200px;
    height: 18px;
    border: none;
    outline: none;

}

.bazhong > .bazhong_content > .content_er > .inpu > .yan {
    margin-top: 10px;
    width: 215px;
    height: 26px;
    background: url("../bazhongxitongimg/内阴影输入框_03.jpg") no-repeat;
    background-size: 125px 26px;
}

.bazhong > .bazhong_content > .content_er > .inpu > .yan > input {
    margin-top: 4px;
    margin-left: 7px;
    width: 100px;
    height: 18px;
    border: none;
    outline: none;

}

.bazhong > .bazhong_content > .content_er > .inpu > .yan {
    margin-top: 10px;
    width: 125px;
}

.bazhong > .bazhong_content > .content_er > .inpu > .zhengma {
    position: absolute;
    right: 28px;
    top: 133px;
    width: 75px;
    height: 25px;
    background: url("../bazhongxitongimg/验证码_03.jpg");
}

.bazhong > .bazhong_content > .content_er > .denglu {
    position: absolute;
    left: 90px;
    width: 55px;
    height: 20px;
    background: #f8a95e;
    border: 1px solid #020202;
    outline: none;
    border-radius: 2px;
    font: 200 11px "宋体";

    overflow: visible;
}

.bazhong > .bazhong_content > .content_er > .denglu > span {
    position: absolute;
    top: 3px;
    left: 17px;
}

.bazhong > .bazhong_content > .content_er > .zhuce {
    position: absolute;
    bottom: 10px;
    left: 80px;
    text-decoration: none;
    font-family: "宋体";
    font-size: 12px;
    color: #656565;
}

.bazhong > .bazhong_content > .content_er > .wangji {
    position: absolute;
    bottom: 8px;
    left: 155px;
    width: 85px;
    height: 17px;
    display: inline-block;
    background: #ffffff;
    text-decoration: none;
    font-family: "宋体";
    font-size: 12px;
    color: #656565;
}

.bazhong > .bazhong_content > .content_er > .wangji > img {
    vertical-align: -5px;
}

.bazhong > .bazhong_content > .content_er > .wangji > span {
    color: #656565;
}

.bazhong > .bazhong_content > .content_san {
    position: absolute;
    top: 262px;
    left: 0;
    width: 282px;
    height: 310px;
    z-index: 1;
    padding: 3px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #e1e1e1;

}


.bazhong > .bazhong_content > .content_san > .tongzhi {
    position: relative;
    width: 282px;

    height: 40px;
    line-height: 35px;
    background: -webkit-gradient(
            linear,
            left top, left bottom,
            from(#f9e1cf),
            to(#ffffff)
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e1cf', endColorstr='#ffffff',GradientType=0 );
    background:-moz-linear-gradient(top, #f9e1cf, rgba(255, 255, 255,0.5));
}
.content_san >.tongzhi>.sanjiao{
    position: absolute;
    left: 0px;
    top: 0px;


}
.content_san >.tongzhi>.lingdang{
    position: relative;
    left: 10px;
    top: 8px;
}
.content_san >.tongzhi>a{
    position: relative;
    left: 220px;

    color: #6d6b6a;
    font-size: 10px;
    font-family: "宋体";
}
.content_san >.tongzhi>p{
    position: absolute;
    left: 5px;
    top: 24px;
    *top: 38px;

    width: 271px;
    height: 1px;
    border-bottom: 1px solid #eaeaea;
}
.bazhong > .bazhong_content > .content_san > .tongzhi > .gong {
    position: absolute;
    top: 2px;
    left: 39px;
    font-family: "宋体";
    font-size: 14px;
    color: #da271e;
    font-weight: bold;
}

.bazhong > .bazhong_content > .content_san > ul {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    list-style: none;
    width: 290px;
    height: 275px;
    position: relative;
    *top: -15px;
}

.bazhong > .bazhong_content > .content_san > ul > li {
    position: relative;
    width: 240px;
    line-height: 44px;
   *line-height: 38px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "宋体";
    font-size: 12px;


}
.content_san > ul > li>img{
    position: relative;
    left: -5px;
    top: 2px;
}
.content_san > ul > li>p{
    position: relative;
    left: -10px;
    top: -15px;
    width: 265px;
    height: 1px;
    border-bottom: 1px dashed #eaeaea;
}
.bazhong > .bazhong_content > .content_san > ul > li > span:last-child {
    position: absolute;
    right: 20px;

}

.bazhong > .bazhong_content > .content_san > ul > li > .zui {
    position: absolute;

}
.bazhong > .bazhong_content > .content_san > ul > .liling {
  position: relative;
    top: 1px;
    height: 35px;
}
.bazhong > .bazhong_content > .content_san > ul > .liyi {
     height: 35px;
    position: relative;
    top: 8px;
    *top: 5px;
}

.bazhong > .bazhong_content > .content_san > ul > .lier {

    position: relative;
    *top: 8px;
    top:10px;
    height: 33px;
    *height: 35px;
}

.bazhong > .bazhong_content > .content_san > ul > .lisan {


    height: 35px;
    position: relative;
    *top: 10px;
    top:10px;
}

.bazhong > .bazhong_content > .content_san > ul > .lisi {
    padding-top: 1px;
    height: 36px;
    position: relative;
    *top: 8px;
    top:10px;

}

.bazhong > .bazhong_content > .content_san > ul > .liwu {

    height: 37px;
    position: relative;
    top: 10px;
    *top: 12px;
}

.bazhong > .bazhong_content > .content_san > ul > .liliu {

    position: relative;
    top: 10px;
    *top: 15px;
}

.bazhong > .bazhong_content > .content_si {
    position: absolute;
    top: 263px;
    left: 300px;
    width: 791px;
    height: 308px;
    padding: 3px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #e1e1e1;

}
.bazhong > .bazhong_content > .content_si > .tongzhi {
    position: relative;
    width: 791px;
    height: 40px;
    line-height: 35px;
    background: -webkit-gradient(
            linear,
            left top, left bottom,
            from(#f9e1cf),
            to(#ffffff)
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e1cf', endColorstr='#ffffff',GradientType=0 );
    background:-moz-linear-gradient(top, #f9e1cf, rgba(255, 255, 255,0.5));
}
.content_si >.tongzhi>.sanjiao{
    position: absolute;
    left: 0px;
    top: 0px;


}
.content_si >.tongzhi>.lingdang{
    position: relative;
    left: 10px;
    top: 8px;
}
.content_si >.tongzhi>a{
    position: relative;
    left: 720px;
top: -2px;
    color: #6d6b6a;
    font-size: 10px;
    font-family: "宋体";
}
.content_si >.tongzhi>p{
    position: absolute;
    left: 5px;
    top: 24px;
    *top: 38px;

    width: 780px;
    height: 1px;
    border-bottom: 1px solid #eaeaea;
}
.bazhong > .bazhong_content > .content_si > .tongzhi > .gong {
    position: absolute;
    top: 2px;
    left: 45px;
    font-family: "宋体";
    font-size: 14px;
    color: #da271e;
    font-weight: bold;
}

.bazhong > .bazhong_content > .content_si > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 290px;
    height: 275px;
}

.bazhong > .bazhong_content > .content_si > ul > li {
    position: relative;
    top: 5px;
    width: 750px;
    height: 37px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "宋体";
    font-size: 12px;

}

.content_si > ul > li>img{
    position: relative;
    left: -5px;
    top: 2px;
}
.content_si > ul > li>p{
    position: relative;
    left: -10px;
    top: -15px;
    *top: -20px;
    width: 770px;
    height: 1px;
    border-bottom: 1px dashed #eaeaea;
}
.bazhong > .bazhong_content > .content_si > ul > li > .shuzi:last-child {
    position: absolute;
    right: 20px;

}

.bazhong > .bazhong_content > .content_si > ul > li > .huodong {
    position: absolute;
    right: 140px;

}

.bazhong > .bazhong_content > .content_si > ul > li > .zui {
    position: absolute;
    right: 35px;

}

.bazhong > .bazhong_content > .content_si > ul > .liling {
    position: relative;
    top: 3px;
}

.bazhong > .bazhong_content > .content_si > ul > .liyi > .dong {
    position: relative;
    top: -8px;
    -webkit-animation: yi 1s infinite;
    -moz-animation: yi 1s infinite;
}

.bazhong > .bazhong_content > .content_si > ul > li:first-child > .dong {
    position: relative;
    top: -8px;
    left: -4px;
    -webkit-animation: yi 1s infinite;
    -moz-animation: yi 1s infinite;
}

.bazhong > .bazhong_content > .content_si > ul > .lier > .dong {
    position: relative;
    top: -8px;
    -webkit-animation: yi 1s infinite;
    -moz-animation: yi 1s infinite;
}

.bazhong > .bazhong_content > .content_si > ul > .liyi {
    position: relative;
    top: 5px;
    *top: 5px;
}

.bazhong > .bazhong_content > .content_si > ul > .lier {
    position: relative;
    top: 6px;
    *top: 5px;
}

.bazhong > .bazhong_content > .content_si > ul > .lisan {
    position: relative;
    *top: 5px;
}

.bazhong > .bazhong_content > .content_si > ul > .lisi {
    position: relative;
    top: 3px;
    *top: -5px;
    *line-height: 42px;
}

.bazhong > .bazhong_content > .content_si > ul > .liwu {
    position: relative;
    top: 0px;
    *top: -5px;
    *line-height: 42px;
}

.bazhong > .bazhong_content > .content_si > ul > .liliu {
    position: relative;
    top: 2px;
    *top: -2px;
}

@-webkit-keyframes yi {
    0% {
        top: -6px
    }
    25% {
        top: -8px
    }
    50% {
        top: -10px
    }
    100% {
        top: -8px
    }

}

@-moz-keyframes yi {
    0% {
        top: -6px
    }
    25% {
        top: -8px
    }
    50% {
        top: -10px
    }
    100% {
        top: -8px
    }

}

.bazhong > .bazhong_content > .content_wu {
    position: absolute;
    top: 590px;
    left: 0;
    width: 281px;
    height: 493px;
    padding: 3px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #e1e1e1;

}
.bazhong > .bazhong_content > .content_wu > .tongzhi {
    position: relative;
    width: 281px;
    height: 40px;
    line-height: 35px;
    background: -webkit-gradient(
            linear,
            left top, left bottom,
            from(#f9e1cf),
            to(#ffffff)
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e1cf', endColorstr='#ffffff',GradientType=0 );
    background:-moz-linear-gradient(top, #f9e1cf, rgba(255, 255, 255,0.5));
}
.content_wu >.tongzhi>.sanjiao{
    position: absolute;
    left: 0;
    top: 0;
}
.content_wu >.tongzhi>.lingdang{
    position: relative;
    left: 10px;
    top: 8px;
}
.content_wu >.tongzhi>a{
    position: relative;
    left: 215px;
    top: -2px;
    color: #6d6b6a;
    font-size: 10px;
    font-family: "宋体";
}
.content_wu >.tongzhi>p{
    position: absolute;
    left: 5px;
    top: 24px;
    *top: 38px;

    width: 270px;
    height: 1px;
    border-bottom: 1px solid #eaeaea;
}
.bazhong > .bazhong_content > .content_wu > .tongzhi > .gong {
    position: absolute;
    top: 0px;
    left: 45px;
    font-family: "宋体";
    font-size: 14px;
    color: #db261e;
    font-weight: bold;
}

.bazhong > .bazhong_content > .content_wu > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 281px;
    height: 275px;
}

.bazhong > .bazhong_content > .content_wu > ul > li {
    position: relative;
    width: 225px;
    height: 37px;
    line-height: 38px;

    padding-left: 20px;
    padding-right: 20px;
    font-family: "宋体";
    font-size: 12px;

}
.bazhong > .bazhong_content > .content_wu > ul > li>img{
    position: relative;
    left: -8px;
    top: 3px;
    *top:13px ;
}
.bazhong > .bazhong_content > .content_wu > ul > li>.hou{
    position: relative;
    left: -8px;
    *top:0px ;
}
.content_wu > ul > li>p{
    position: relative;
    left: -10px;
    top: -15px;
    *top: 10px;
    width: 265px;
    height: 1px;
    border-bottom: 1px dashed #eaeaea;
}

.bazhong > .bazhong_content > .content_wu > ul > li > span:last-child {
    position: absolute;
    right: 10px;

}

.bazhong > .bazhong_content > .content_wu > ul > .liling {
    position: relative;
    top: 7px;
}

.bazhong > .bazhong_content > .content_wu > ul > .liyi {
    position: relative;
    top: 8px;
    *top: 10px;
}

.bazhong > .bazhong_content > .content_wu > ul > .lier {
    position: relative;
    top: 8px;
    *top: 6px;
}

.bazhong > .bazhong_content > .content_wu > ul > .lisan {
    position: relative;
    top: 7px;
    *top: 3px;
}

.bazhong > .bazhong_content > .content_wu > ul > .lisi {
    position: relative;
    top: 7px;
    *top: 2px;
}

.bazhong > .bazhong_content > .content_wu > ul > .liwu {
    position: relative;
    top: 5px;
    *top: -1px;
}

.bazhong > .bazhong_content > .content_wu > ul > .liliu {
    position: relative;
    top: 6px;
    *top: -1px;

}

.bazhong > .bazhong_content > .content_wu > ul > .liqi {
    position: relative;
    top: 5px;
    *top: -1px;
}

.bazhong > .bazhong_content > .content_wu > ul > .liba {
    position: relative;
    top: 6px;
    *top: -3px;
}

.bazhong > .bazhong_content > .content_wu > ul > .lijiu {
    position: relative;
    top: 5px;
    *top: -4px;
}
.bazhong > .bazhong_content > .content_wu > ul > .lishi {
    position: relative;
    top: 3px;
    *top: -8px;
}
.bazhong > .bazhong_content > .content_wu > ul > .lishiyi {
    position: relative;
    top: 3px;
    *top: -10px;
}
.bazhong > .bazhong_content > .content_liu {
    position: absolute;
    top: 590px;
    left: 300px;
    width: 522px;
    height: 493px;
    overflow: hidden;
    padding: 3px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
}








.bazhong > .bazhong_content > .content_liu > .tongzhi {
    position: relative;
    width: 528px;
    height: 40px;
    line-height: 35px;
    background: -webkit-gradient(
            linear,
            left top, left bottom,
            from(#f9e1cf),
            to(#ffffff)
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e1cf', endColorstr='#ffffff',GradientType=0 );
    background:-moz-linear-gradient(top, #f9e1cf, rgba(255, 255, 255,0.5));
}
.content_liu >.tongzhi>.sanjiao{
    position: absolute;
    left: 0px;
    top: 0px;


}
.content_liu >.tongzhi>.lingdang{
    position: relative;
    left: 10px;
    top: 8px;
}
.content_liu >.tongzhi>a{
    position: relative;
    left: 460px;
    top: 2px;
    color: #6d6b6a;
    font-size: 10px;
    font-family: "宋体";
}
.content_liu >.tongzhi>p{
    position: absolute;
    left: 8px;
    top: 24px;
    *top: 38px;

    width: 511px;
    height: 1px;
    border-bottom: 1px solid #eaeaea;
}
.bazhong > .bazhong_content > .content_liu > .tongzhi > .gong {
    position: absolute;
    top: 2px;
    left: 45px;
    font-family: "宋体";
    font-size: 14px;
    color: #db261e;
    font-weight: bold;
}

.bazhong > .bazhong_content > .content_liu > ul {
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 8px;
    list-style: none;
}

.bazhong > .bazhong_content > .content_liu > ul > li {

    width: 165px;
    height: 200px;
    display: inline-block;
    font-family: "宋体";
    font-size: 12px;

}

.bazhong > .bazhong_content > .content_liu > ul > .liyi {
    position: absolute;
    top: 0;
    left: 0;
}

.bazhong > .bazhong_content > .content_liu > ul > li > .div_yi {
    position: absolute;
    width: 167px;
    height: 146px;
    border: 1px solid #d4d3d3;
}

.bazhong > .bazhong_content > .content_liu > ul > li > .div_yi > img {
    margin-top: 2px;
    margin-left: 2px;
}

.bazhong > .bazhong_content > .content_liu > ul > li > .div_ling > img {
    margin-top: 1px;
    margin-left: 2px;
}

.bazhong > .bazhong_content > .content_liu > ul > li > .bai {
    position: absolute;
    top: 165px;
    left: 5px;
}

.bazhong > .bazhong_content > .content_liu > ul > li > .jifen {
    position: absolute;
    top: 190px;
    left: 40px;
    color: #da271f;
    font-weight: bold;
}
.content_liu > ul > li >img{
    position: absolute;
    top: 188px;
    left: 15px;;
}
.bazhong > .bazhong_content > .content_liu > ul > .lier {
    position: absolute;
    top: 0;
    left: 175px;
}

.bazhong > .bazhong_content > .content_liu > ul > .lisan {
    position: absolute;
    top: 0;
    right: 12px;
}

.bazhong > .bazhong_content > .content_liu > ul > .lisi {
    position: absolute;
    top: 220px;
    left: 0;
}

.bazhong > .bazhong_content > .content_liu > ul > .liwu {
    position: absolute;
    top: 220px;
    left: 175px;
}

.bazhong > .bazhong_content > .content_liu > ul > .liliu {
    position: absolute;
    top: 220px;
    right: 12px;
}

.bazhong > .bazhong_content > .content_qi {
    position: absolute;
    top: 590px;
    right: 0px;
    width: 251px;
    height: 493px;
    overflow: hidden;
    padding: 3px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
}









.bazhong > .bazhong_content > .content_qi > .tongzhi {
    position: relative;
    width: 250px;

    height: 40px;
    line-height: 35px;
    background: -webkit-gradient(
            linear,
            left top, left bottom,
            from(#f9e1cf),
            to(#ffffff)
    );

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e1cf', endColorstr='#ffffff',GradientType=0 );
    background:-moz-linear-gradient(top, #f9e1cf, rgba(255, 255, 255,0.5));
}
.content_qi >.tongzhi>.sanjiao{
    position: absolute;
    left: 0px;
    top: 0px;


}
.content_qi >.tongzhi>.lingdang{
    position: relative;
    left: 10px;
    top: 8px;
}
.content_qi >.tongzhi>a{
    position: relative;
    left: 178px;
    color: #6d6b6a;
    font-size: 10px;
    font-family: "宋体";
}

.content_qi >.tongzhi>p{
    position: absolute;
    left: 5px;
    top: 24px;
    *top: 38px;

    width: 241px;
    height: 1px;
    border-bottom: 1px solid #eaeaea;
}









.bazhong > .bazhong_content > .content_qi > .tongzhi > .gong {
    position: absolute;
    top: 2px;
    left: 45px;
    font-family: "宋体";
    font-size: 14px;
    color: #db261e;
    font-weight: bold;
}

.bazhong > .bazhong_content > .content_qi > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 254px;
    height: 500px;
}

.bazhong > .bazhong_content > .content_qi > ul > li {
    position: relative;
    z-index: 5;
    width: 225px;
    height: 35px;
    line-height: 45px;

    padding-left: 30px;
    padding-right: 5px;
    font-family: "宋体";
    font-size: 12px;

}

.bazhong > .bazhong_content >.content_qi > ul > li>img{
    position: relative;
    z-index: 4;
    left: -18px;

    top:2px;
    *top: 18px;
}
.bazhong > .bazhong_content >.content_qi > ul > li>.zuihou{
    position: relative;
    *top: 3px;
}
.content_qi > ul > li>p{
    position: relative;
    left: -10px;
    *left: -15px;
    top: -15px;
    *top: 10px;
    width: 225px;
    height: 1px;
    border-bottom: 1px dashed #eaeaea;
}

.bazhong > .bazhong_content > .content_qi > ul > li > span:last-child {
    position: absolute;
    right: 20px;

}

.bazhong > .bazhong_content > .content_qi > ul > .liling {
    position: relative;
    top: 5px;
    *top: 1px;
}

.bazhong > .bazhong_content > .content_qi > ul > .liyi {
    position: relative;
    top: 9px;
    *top: -7px;
}

.bazhong > .bazhong_content > .content_qi > ul > .lier {
    position: relative;
    top: 11px;
    *top: -16px;
}

.bazhong > .bazhong_content > .content_qi > ul > .lisan {
    position: relative;
    top: 9px;
    *top: -27px;
}

.bazhong > .bazhong_content > .content_qi > ul > .lisi {
    position: relative;
    top: 13px;
    *top: -34px;
}

.bazhong > .bazhong_content > .content_qi > ul > .liwu {
    position: relative;
    top: 13px;
    *top: -44px;
}

.bazhong > .bazhong_content > .content_qi > ul > .liliu {
    position: relative;
    top: 15px;
    *top: -50px;

}

.bazhong > .bazhong_content > .content_qi > ul > .liqi {
    position: relative;
    top: 20px;
    *top: -57px;
}

.bazhong > .bazhong_content > .content_qi > ul > .liba {
    position: relative;
    top: 20px;
    *top: -66px;
}

.bazhong > .bazhong_content > .content_qi > ul > .lijiu {
    position: relative;
    top: 18px;
    *top: -77px;
}

.bazhong > .bazhong_content > .content_qi > ul > .lishi {
    position: relative;
    top: 20px;
    *top: -85px;
}

.bazhong > .bazhong_content > .content_qi > ul > .lishiyi {
    position: relative;
    top: 22px;
    *top: -94px;
}

.bazhong > .bazhong_content > .dibu {
    position: absolute;
    bottom: 460px;
    left: 350px;
    font-family: "宋体";
    font-size: 12px;
    color: #898989;
}
