

<div class="foot">
    <!--<div class="foot_infor">-->
        <!--<ul class="f_i_m clearfix">-->
            <!--<li>-->
                <!--<p class="title">新手上路</p>-->
                <!--<a href="">系统操作差异指引</a>-->
                <!--<a href="">会员升级</a>-->
                <!--<a href="">积分券录入</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="title">账号管理</p>-->
                <!--<a href="">用户注册规范</a>-->
                <!--<a href="">会员身份认证</a>-->
                <!--<a href="">企业认证</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="title">我是买家</p>-->
                <!--<a href="">商品购买</a>-->
                <!--<a href="">商品验货与签收</a>-->
                <!--<a href="">拒收政策</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="title">商家帮助</p>-->
                <!--<a href="">我要开店</a>-->
                <!--<a href="">商铺认证</a>-->
                <!--<a href="">购买库存积分</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p class="title">支付说明</p>-->
                <!--<a href="">充值操作</a>-->
                <!--<a href="">手机网页版微信充值</a>-->
                <!--<a href="">如何支付</a>-->
            <!--</li>-->
            <!--<li class="mr0">-->
                <!--<p class="title bb0">客户热线</p>-->
                <!--<span class="phone">400-9638-544</span>-->
                <!--<span>服务时间: 8:30 - 23:00</span>-->
                <!--<span>E-mail:flhyfghfghcdfsd@qq.com</span>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <div class="foot_details clearfix">
        <div class="foot-main">
            <ul class="foot-nav clearfix">
                <li>
                    <a href="index.html">
                        <p class="first">首页</p>
                        <p class="last">首页</p>
                    </a>
                </li>
                <li>
                    <a href="consultingCenter.html">
                        <p class="first">资讯中心</p>
                        <p class="last">资讯中心</p>
                    </a>
                </li>
                <li>
                    <a href="talentRecruitment.html">
                        <p class="first">人才招聘</p>
                        <p class="last">人才招聘</p>
                    </a>
                </li>
                <li>
                    <a href="about.html">
                        <p class="first">关于我们</p>
                        <p class="last">关于我们</p>
                    </a>
                </li>
                <li class="last">
                    <a href="contactUs.html">
                        <p class="first">联系我们</p>
                        <p class="last">联系我们</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="copyright">
        <span>
            渝ICP备15002338号-1 Copyright © 2014~2015 四川豪恩帮电子商务有限公司
        </span>　
        </div>
    </div>
</div>
