<!--参与开始-->
    <ul class="entryList mt0 block bt0 mb10">
        <li>
            <a>
                <div class="couponImg">
                    <img src="../../assets/mobile/images/shopping1.jpg" class="couponImg1" alt="">
                </div>
                            <span class="inforList">
                                <span class="title clearfix">
                                    <span class="left">丁丁芭比丁丁芭比</span>
                                    <div class="k_j p0">
                                        <div class="k_j_j ">进行中</div>
                                        <div class="k_j_y hide bg1">未中奖</div>
                                        <div class="k_j_k hide bg2">中奖了</div>
                                    </div>
                                </span>
                                <div class="pross mt0 style">
                                    <div class="pross_i">
                                        <p>
                                            期号 : 001 共10期
                                        </p>
                                        <div class="fatherNum">
                                            <span class="sonNum"></span>
                                        </div>
                                        <p class="style clearfix">
                                            <span class="left">总需: <span class="fatherSpan">200</span>人</span>
                                            <span class="right">剩余: <span class="other">100</span>人</span>
                                        </p>
                                    </div>
                                </div>

                            </span>
            </a>
            <div class="infor p0 style">
                <a href="###">
                    <span class="icon icon_address"></span>
                    <span class="b_s">任务地址：重庆市九龙坡区大坪万科景程</span>
                    <span class="weui_cell_ft"></span>
                </a>
            </div>
            <p class="clearfix">
                我的幸运号 : 10000188
            </p>
            <div class="infor p0 style">
                <a href="###" class="tipA">
                    请7个工作日内登录app完善真实地址，否则视为放弃
                    <span class="weui_cell_ft"></span>
                </a>
            </div>
        </li>
        <li>
            <a>
                <div class="couponImg">
                    <img src="../../assets/mobile/images/shopping1.jpg" class="couponImg1" alt="">
                </div>
                            <span class="inforList">
                                <span class="title clearfix">
                                    <span class="left">丁丁芭比丁丁芭比</span>
                                    <div class="k_j p0">
                                        <div class="k_j_j hide">进行中</div>
                                        <div class="k_j_y  bg1">未中奖</div>
                                        <div class="k_j_k hide bg2">中奖了</div>
                                    </div>
                                </span>
                                <div class="pross mt0 style">
                                    <div class="pross_i">
                                        <p>
                                            期号 : 001 共10期
                                        </p>
                                        <div class="fatherNum">
                                            <span class="sonNum"></span>
                                        </div>
                                        <p class="style clearfix">
                                            <span class="left">总需: <span class="fatherSpan">200</span>人</span>
                                            <span class="right">剩余: <span class="other">10</span>人</span>
                                        </p>
                                    </div>
                                </div>

                            </span>
            </a>
            <div class="infor p0 style">
                <a href="###">
                    <span class="icon icon_address"></span>
                    <span class="b_s">任务地址：重庆市九龙坡区大坪万科景程</span>
                    <span class="weui_cell_ft"></span>
                </a>
            </div>
            <p class="clearfix">
                我的幸运号 : 10000188
            </p>
            <div class="infor p0 style hide">
                <a href="###" class="tipA">
                    请7个工作日内登录app完善真实地址，否则视为放弃
                    <span class="weui_cell_ft"></span>
                </a>
            </div>
        </li>
    </ul>

    <!--无参与记录开始-->
    <div class="notConTip hide">
        <img src="../../assets/mobile/images/noDate.png" alt=""/>
        <p class="notInfor">
            很遗憾,暂无参与记录哦！
        </p>
    </div>
    <!--无参与记录结束-->

<!--参与开始-->


<script>
    $(function(){
        /*进度条*/
        $('.pross').progress({});
    })
</script>
