<!--发布开始-->
    <ul class="entryList mt0 block bt0 mb10">
        <li>
            <a href="activeInfor.html">
                <div class="couponImg">
                    <img src="../../assets/mobile/images/shopping1.jpg" class="couponImg1" alt="">
                </div>
                <span class="inforList">
                    <span class="title clearfix inherit">
                        <span class="left">丁丁芭比丁丁芭比</span>
                        <div class="k_j p0">
                            <div class="k_j_j hide">进行中</div>
                            <div class="k_j_y bg3">
                                已开奖

                                <!--领奖状态开始-->
                                <div class="lj_type style1">未领奖</div>
                                <span class="lj_type style2 hide">已领奖</span>
                                <!--领奖状态结束-->

                            </div>
                            <div class="k_j_k hide">开奖中</div>
                        </div>
                    </span>
                    <div class="pross mt0 style">
                        <div class="pross_i">
                            <p>
                                期号 : 001 共10期
                            </p>
                            <div class="fatherNum">
                                <span class="sonNum"></span>
                            </div>
                            <p class="style clearfix">
                                <span class="left">总需: <span class="fatherSpan">200</span>人</span>
                                <span class="right">剩余: <span class="other">100</span>人</span>
                            </p>
                        </div>
                    </div>

                </span>
            </a>
            <div class="infor p0 style">
                <a href="###">
                    <span class="icon icon_address"></span>
                    <span class="b_s">任务地址：重庆市九龙坡区大坪万科景程</span>
                    <span class="weui_cell_ft"></span>
                </a>
            </div>
        </li>
    </ul>

    <!--无参与记录开始-->
    <div class="notConTip hide">
        <img src="../../assets/mobile/images/noDate.png" alt=""/>
        <p class="notInfor">
            很遗憾,暂无发布记录哦！
        </p>
    </div>
    <!--无参与记录结束-->

<!--发布结束-->


<script>
    $(function(){
        /*进度条*/
        $('.pross').progress({});
    })
</script>