<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body class="f9f">
    <div class="wapper">
        <div class="header">
            <div class="head-main">
                <img src="../../assets/frontend/images/logo.png" alt="logo" class="left logo"/>
                <ul class="head-menu right">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="chiof-opertion.html">财符中心</a></li>
                    <li><a href="zhihui.html">智慧场景</a></li>
                    <li><a href="product_center.html">产品中心</a></li>
                    <li><a href="http://www.sskill.com/bbs">论坛</a></li>
                    <li>
                            <span>
                                <span><a href="person-register.html">注册</a>/<a href="person-login.html">登陆</a></span>
                                <span class="hide">
                                    <a href="person-center.html">某某</a>
                                </span>
                            </span>
                    </li>
                    <li>
                        <a href="#" class="shoppingCart">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="number">1</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content mt15">
            <div class="center">
                <div class="clearfix" style="width: 100%;">
                    <ul class="we-menu left">
                        <li>
                            <a href="company-infor.html">公司简介</a>
                        </li>
                        <li>
                            <a href="talent-recruitment.html">人才招聘</a>
                        </li>
                        <li>
                            <a href="brand-cooperation.html">品牌合作</a>
                        </li>
                        <li class="active">
                            <a href="about-us.html">关于我们</a>
                        </li>
                        <li>
                            <a href="contant-us.html">联系我们</a>
                        </li>
                    </ul>
                    <div class="right company">
                        <p>
                            深圳贯和通物联科技有限公司，是公司创始人团队于2013年在深圳注册的，专注于物联网技术的研究、产品的研发、生产和销售的高科技公司。
                        </p>
                        <p>
                            创始人团队从2004年开始跟踪无线传感网（WSN）技术，2006年推出自主研发的GWSN无线传感网通讯协议。这是一套与ZigBee类似的低功耗无线通讯技术，但比ZigBee具有更好的绕射性，能适应更大更复杂的房屋结构。分别放在一楼和三楼的两个节点都能相互进行无线通讯，这是ZigBee、WIFI、蓝牙都无法办到的。2008年公司推出GWT节能系统，此系统对整栋大楼进行无线覆盖，并深入到每个房间进行精确的能耗监测、节能管理等。截至2015年此系统已在全国100多栋大型建筑使用，节约了大量国家资源、创造了巨大的社会效益。我们不仅对物联网的精髓和实质有深刻的认识和把握，更为重要的是设计了一套可落地的商业化推进方略
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="center">
                <ul class="foot-menu">
                    <li><a href="contant-us.html">公司简介</a></li>
                    <li><a href="contant-us.html">人才招聘</a></li>
                    <li><a href="contant-us.html">融资合作</a></li>
                    <li><a href="contant-us.html">关于我们</a></li>
                    <li class="br0"><a href="contant-us.html">联系我们</a></li>
                </ul>
                <p class="copyright">渝ICP备15002338号-1 Copyright © 2014~2015 深圳贯和通物联科技有限公司 版权所有</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/frontend/js/footHandle.js"></script>
    <script>
        var rul = $(".we-menu li");
        var rl = $(".type-div");
        rul.each(function(){
            $(this).on("click",function(){
                $(this).addClass("active");
                $(this).siblings().removeClass("active");
            })
        });
    </script>
</body>
</html>