<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>品牌合作</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body class="f9f">
    <div class="wapper">
        <div class="header">
            <div class="head-main">
                <img src="../../assets/frontend/images/logo.png" alt="logo" class="left logo"/>
                <ul class="head-menu right">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="chiof-opertion.html">财符中心</a></li>
                    <li><a href="zhihui.html">智慧场景</a></li>
                    <li><a href="product_center.html">产品中心</a></li>
                    <li><a href="http://www.sskill.com/bbs">论坛</a></li>
                    <li>
                                <span>
                                    <span><a href="person-register.html">注册</a>/<a href="person-login.html">登陆</a></span>
                                    <span class="hide">
                                        <a href="person-center.html">某某</a>
                                    </span>
                                </span>
                    </li>
                    <li>
                        <a href="#" class="shoppingCart">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="number">1</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content mt15">
            <div class="center">
                <div class="clearfix" style="width: 100%;">
                    <ul class="we-menu left">
                        <li>
                            <a href="company-infor.html">公司简介</a>
                        </li>
                        <li>
                            <a href="talent-recruitment.html">人才招聘</a>
                        </li>
                        <li class="active">
                            <a href="brand-cooperation.html">品牌合作</a>
                        </li>
                        <li>
                            <a href="about-us.html">关于我们</a>
                        </li>
                        <li>
                            <a href="contant-us.html">联系我们</a>
                        </li>
                    </ul>

                    <div class="right company">
                        <p>
                            深圳贯和通物联科技有限公司深耕物联网十年，“玩伴”是基于公司核心技术延伸研发出的一个时尚实用的一款新产品。基于玩伴主体，公司还计划开发周边配套衍生产品，整合第三方产品和服务，开放开发平台。玩伴主体产品将在年内上市销售，有独立自主的知识产权和专利保护。
                        </p>

                        <p>1 : 极致产品、极简操作、极高性价比。</p>

                        <p>2 : 打造爆品，落实物联网商业化，让千家万户享受智慧生活。</p>

                        <p>3 : 为快速达成上述战略目标，我们竭诚邀请资本方的早日加入，共创美好未来！</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="center">
                <ul class="foot-menu">
                    <li><a href="contant-us.html">公司简介</a></li>
                    <li><a href="contant-us.html">人才招聘</a></li>
                    <li><a href="contant-us.html">融资合作</a></li>
                    <li><a href="contant-us.html">关于我们</a></li>
                    <li class="br0"><a href="contant-us.html">联系我们</a></li>
                </ul>
                <p class="copyright">渝ICP备15002338号-1 Copyright © 2014~2015 深圳贯和通物联科技有限公司 版权所有</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/frontend/js/footHandle.js"></script>
    <script>
        var rul = $(".we-menu li");
        var rl = $(".type-div");
        rul.each(function(){
            $(this).on("click",function(){
                $(this).addClass("active");
                $(this).siblings().removeClass("active");
            })
        });
    </script>
</body>
</html>