<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>财符登录操作</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body class="f9f">
    <div class="wapper">
        <div class="header">
            <div class="head-main">
                <img src="../../assets/frontend/images/logo.png" alt="logo" class="left logo"/>
                <ul class="head-menu right">
                    <li><a href="index.html">首页</a></li>
                    <li class="active"><a href="chiof-opertion.html">财符中心</a></li>
                    <li><a href="zhihui.html">智慧场景</a></li>
                    <li><a href="product_center.html">产品中心</a></li>
                    <li><a href="http://www.sskill.com/bbs">论坛</a></li>
                    <li>
                        <span>
                            <span><a href="person-register.html">注册</a>/<a href="person-login.html">登陆</a></span>
                            <span class="hide">
                                <a href="person-center.html">某某</a>
                            </span>
                        </span>
                    </li>
                    <li>
                        <a href="#" class="shoppingCart">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="number">1</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content mt15">
            <div class="center">
                <div class="wealth">
                    <p class="w-details">财符是公司在产品推广销售方面的一大重要创新，是链接互联网与传统渠道的焊点。简单的说，就是让个人、实体商家、媒体、广告公司……等都有机会获得"财符"这样一个包含了个人信息的二维码,你就可以不花钱、不囤货成为我们的一级代理(且只有一级)和线下体验点,你将从你为我们引流产生的订单中获取奖金提成。
                        为保障财符拥有者获得更多的收入我们会严格审核每一位申请者,定量发放财符。</p>
                    <a href="person-wealthApplication.html" class="btn-step">申请财符</a>
                    <a href="my-profit.html" class="btn-step hide">我的财符</a>
                </div>
                <div class="clearfix case">
                    <div class="step-chiof left">
                        <img src="../../assets/frontend/images/img-step.png" alt="" class="img-step"/>
                    </div>
                    <div class="right success-case">
                        <p class="title">
                            成功案例
                        </p>
                        <div class="wealth-slider clearfix">
                            <ul class="clearfix" id="active-ul">
                                <li>
                                    <div class="case-example clearfix">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                    <div class="case-example clearfix">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                    <div class="case-example clearfix">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                    <div class="case-example clearfix bb0">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="case-example clearfix">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                    <div class="case-example clearfix">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                    <div class="case-example clearfix">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                    <div class="case-example clearfix bb0">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="case-example clearfix">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                    <div class="case-example clearfix">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                    <div class="case-example clearfix">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                    <div class="case-example clearfix bb0">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="case-example clearfix">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                    <div class="case-example clearfix">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                    <div class="case-example clearfix">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                    <div class="case-example clearfix bb0">
                                        <a href="#" class="left head-portrait">
                                            <img src="../../assets/frontend/images/person-img.png" alt=""/>
                                        </a>
                                        <div class="left case-details">
                                            <p class="name">李亚鹏</p>
                                            <p>财符总金额 : 9000￥</p>
                                            <p>财符查看人数 : 80人</p>
                                            <p>财符申请时间 : 2015/5/6</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="active-left" id="active-left">‹
                            </div>
                            <div class="active-right" id="active-right">›
                            </div>
                        </div>

                    </div>
                </div>
                <ul class="clearfix poto-menu">
                    <li>
                        <a href="#">
                            <img src="../../assets/frontend/images/chio-img1.jpg" alt=""/>
                        </a>
                        <div class="poto-bg"></div>
                        <div class="poto">
                            推广
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../assets/frontend/images/chio-img2.jpg" alt=""/>
                        </a>
                        <div class="poto-bg"></div>
                        <div class="poto">
                            实体店体验
                        </div>
                    </li>
                    <li class="mr0">
                        <a href="#">
                            <img src="../../assets/frontend/images/chio-img3.jpg" alt=""/>
                        </a>
                        <div class="poto-bg"></div>
                        <div class="poto">
                            财符
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <div class="center">
                <ul class="foot-menu">
                    <li><a href="#">公司简介</a></li>
                    <li><a href="#">人才招聘</a></li>
                    <li><a href="#">融资合作</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li class="br0"><a href="#">联系我们</a></li>
                </ul>
                <p class="copyright">渝ICP备15002338号-1 Copyright © 2014~2015 深圳贯和通物联科技有限公司 版权所有</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/frontend/js/chio-opreation.js"></script>
    <script>
        var rul = $(".we-menu li");
        var rl = $(".type-div");
        rul.each(function(i){
            $(this).on("click",function(){
                $(this).addClass("active");
                $(this).siblings().removeClass("active");

            })
        })
    </script>
</body>
</html>