<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>企业财符申请</title>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <style>
         div.col-sm-2, div.col-sm-10,div.col-sm-7,div.col-sm-3{padding: 0;}
        .form .input-group label{position: relative;top: 10px;}
        .form .input-group input{line-height: 20px;height: auto;}
         .wrapper.minHeight750{min-height: 810px;}
         .footer.fixed{position: fixed;bottom: 0;z-index: 1000;}
    </style>
</head>
<body class="lineHeight">
    <div class="wrapper minHeight750">
        <div class="header fixed">
            <div class="head-main">
                <img src="../../assets/frontend/images/logo.png" alt="logo" class="left logo"/>
                <ul class="head-menu right">
                    <li><a href="index.html">首页</a></li>
                    <li class="active"><a href="chiof-opertion.html">财符中心</a></li>
                    <li><a href="zhihui.html">智慧场景</a></li>
                    <li><a href="product_center.html">产品中心</a></li>
                    <li><a href="http://www.sskill.com/bbs">论坛</a></li>
                    <li>
                            <span>
                                <span><a href="person-register.html">注册</a>/<a href="person-login.html">登陆</a></span>
                                <span class="hide">
                                    <a href="person-center.html">某某</a>
                                </span>
                            </span>
                    </li>
                    <li>
                        <a href="#" class="shoppingCart">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="number">1</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="logBodyBg">
            <img src="../../assets/frontend/images/shen-bg.jpg">
        </div>
        <div class="logWrap application-bg">
            <ul class="register-ul clearfix">
                <li class="mr0 last active w100"><a href="###">企业财符申请</a></li>
            </ul>
            <div class="logBox">
                <form action="#" class="form" id="register-form">
                    <div class="input-group mb15">
                        <div class="col-sm-2 col-md-2 col-xs-2">
                            <span>*</span> 企业名称
                        </div>
                        <div class="col-sm-10 col-md-10 col-xs-10">
                            <input type="text" class="form-control" placeholder="请输入企业名称" id="companyName" name="companyName">
                        </div>
                    </div>
                    <div class="input-group mb15">
                        <div class="col-sm-2 col-md-2 col-xs-2">
                            <span>*</span> 手机号
                        </div>
                        <div class="col-sm-10 col-md-10 col-xs-10">
                            <input type="text" class="form-control" placeholder="请输入号码" id="password" name="mobile">
                        </div>
                    </div>
                    <div class="input-group mb15">
                        <div class="col-sm-2 col-md-2 col-xs-2">
                            <span>*</span> 邮箱
                        </div>
                        <div class="col-sm-10 col-md-10 col-xs-10">
                            <input type="email" class="form-control" placeholder="请再次输入您的邮箱" id="email" name="email">
                        </div>
                    </div>
                    <div class="input-group mb15">
                        <div class="col-sm-2 col-md-2 col-xs-2">
                            <span>*</span> 所属行业
                        </div>
                        <div class="col-sm-10 col-md-10 col-xs-10">
                            <input type="text" class="form-control" placeholder="所属行业" id="industry" name="industry">
                        </div>
                    </div>
                    <div class="input-group mb15">
                        <div class="col-sm-2 col-md-2 col-xs-2">
                            <span>*</span> 机构代码
                        </div>
                        <div class="col-sm-10 col-md-10 col-xs-10">
                            <input type="text" class="form-control" placeholder="组织机构代码" id="code" name="code">
                        </div>
                    </div>
                    <div class="input-group mb15">
                        <div class="col-sm-2 col-md-2 col-xs-2">
                            <span>*</span> 营业执照
                        </div>
                        <div class="col-sm-7 col-xs-7 col-lg-7">
                            <input type="text" readonly class="form-control" placeholder="营业执照" name="businessLicense" id="businessLicense">
                            <span class="help-block">图片支持jpg、png、gif格式</span>
                        </div>
                        <div class="col-sm-3 col-xs-3 col-lg-3 right">
                            <span class="getcode upload fileinput-button">
                                <span>上传</span>
                                <input type="file" name="files[]" multiple="">
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<a href="person-center.html" class="form-control btn-click">立即登录</a>-->
                        <input type="submit" class="form-control btn-click" value="立即申请">
                    </div>
                </form>
            </div>
        </div>
        <div class="footer fixed">
            <div class="center">
                <ul class="foot-menu">
                    <li><a href="contant-us.html">公司简介</a></li>
                    <li><a href="contant-us.html">人才招聘</a></li>
                    <li><a href="contant-us.html">融资合作</a></li>
                    <li><a href="contant-us.html">关于我们</a></li>
                    <li class="br0"><a href="contant-us.html">联系我们</a></li>
                </ul>
                <p class="copyright">渝ICP备15002338号-1 Copyright © 2014~2015 深圳贯和通物联科技有限公司 版权所有</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/global/plugins/jquery-validate/jquery.validate.min.js"></script>
    <script src="../../assets/global/plugins/jquery-validate/messages_zh.js"></script>
    <script src="../../assets/frontend/js/formHeightAuto.js"></script>
    <script src="../../assets/frontend/js/coundTime.js"></script>
    <script src="../../assets/frontend/js/formValidate.js"></script>
    <script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
</body>
</html>