<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>企业财符申请</title>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/webuploader/css/webuploader.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/webuploader/css/style.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>

    <style>
         div.col-sm-2, div.col-sm-10,div.col-sm-7,div.col-sm-3{padding: 0;}
         .form .input-group label{position: relative;top: 10px;}
         .form .input-group input{line-height: 20px;height: auto;}
         .wrapper.minHeight750{min-height: 810px;}
         .wrapper.minHeight850{min-height: 900px;}
         .footer.fixed{position: fixed;bottom: 0;z-index: 1000;}
    </style>
</head>
<body class="lineHeight">
    <div class="wrapper minHeight750 minHeight">
        <div class="header fixed">
            <div class="head-main">
                <img src="../../assets/frontend/images/logo.png" alt="logo" class="left logo"/>
                <ul class="head-menu right">
                    <li><a href="index.html">首页</a></li>
                    <li class="active"><a href="chiof-opertion.html">财符中心</a></li>
                    <li><a href="zhihui.html">智慧场景</a></li>
                    <li><a href="product_center.html">产品中心</a></li>
                    <li><a href="http://www.sskill.com/bbs">论坛</a></li>
                    <li>
                            <span>
                                <span><a href="person-register.html">注册</a>/<a href="person-login.html">登陆</a></span>
                                <span class="hide">
                                    <a href="person-center.html">某某</a>
                                </span>
                            </span>
                    </li>
                    <li>
                        <a href="#" class="shoppingCart">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="number">1</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="logBodyBg">
            <img src="../../assets/frontend/images/shen-bg.jpg">
        </div>
        <div class="logWrap application-bg">
            <ul class="register-ul clearfix">
                <li class="mr0 last active w100"><a href="###">企业财符申请</a></li>
            </ul>
            <div class="logBox">
                <form action="#" class="form" id="register-form">
                    <div class="input-group mb15">
                        <div class="col-sm-2 col-md-2 col-xs-2">
                            <span>*</span> 企业名称
                        </div>
                        <div class="col-sm-10 col-md-10 col-xs-10">
                            <input type="text" class="form-control" placeholder="请输入企业名称" id="companyName" name="companyName">
                        </div>
                    </div>
                    <div class="input-group mb15">
                        <div class="col-sm-2 col-md-2 col-xs-2">
                            <span>*</span> 手机号
                        </div>
                        <div class="col-sm-10 col-md-10 col-xs-10">
                            <input type="text" class="form-control" placeholder="请输入号码" id="password" name="mobile">
                        </div>
                    </div>
                    <div class="input-group mb15">
                        <div class="col-sm-2 col-md-2 col-xs-2">
                            <span>*</span> 邮箱
                        </div>
                        <div class="col-sm-10 col-md-10 col-xs-10">
                            <input type="email" class="form-control" placeholder="请再次输入您的邮箱" id="email" name="email">
                        </div>
                    </div>
                    <div class="input-group mb15">
                        <div class="col-sm-2 col-md-2 col-xs-2">
                            <span>*</span> 所属行业
                        </div>
                        <div class="col-sm-10 col-md-10 col-xs-10">
                            <input type="text" class="form-control" placeholder="所属行业" id="industry" name="industry">
                        </div>
                    </div>
                    <div class="input-group mb15">
                        <div class="col-sm-2 col-md-2 col-xs-2">
                            <span>*</span> 机构代码
                        </div>
                        <div class="col-sm-10 col-md-10 col-xs-10">
                            <input type="text" class="form-control" placeholder="组织机构代码" id="code" name="code">
                        </div>
                    </div>
                    <div class="input-group mb15">
                        <div class="col-sm-2 col-md-2 col-xs-2">
                            <span>*</span> 营业执照
                        </div>
                        <div class="col-sm-10 col-xs-10 col-lg-10">
                            <div id="uploader-demo">
                                <!--用来存放item-->
                                <div id="fileList" class="uploader-list"></div>
                                <div id="filePicker">选择图片</div>
                            </div>
                            <input type="text" class="form-control" name="imgMiss" style="height: 1px;width: 100%;border: 0;background: transparent;padding: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);">
                            <span class="help-block">图片支持jpg、png、gif格式</span>
                        </div>

                    </div>
                    <div class="form-group">
                        <!--<a href="person-center.html" class="form-control btn-click">立即登录</a>-->
                        <input type="submit" class="form-control btn-click" value="立即申请">
                    </div>
                </form>
            </div>
        </div>
        <div class="footer fixed">
            <div class="center">
                <ul class="foot-menu">
                    <li><a href="contant-us.html">公司简介</a></li>
                    <li><a href="contant-us.html">人才招聘</a></li>
                    <li><a href="contant-us.html">融资合作</a></li>
                    <li><a href="contant-us.html">关于我们</a></li>
                    <li class="br0"><a href="contant-us.html">联系我们</a></li>
                </ul>
                <p class="copyright">渝ICP备15002338号-1 Copyright © 2014~2015 深圳贯和通物联科技有限公司 版权所有</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/global/plugins/jquery-validate/jquery.validate.min.js"></script>
    <script src="../../assets/global/plugins/jquery-validate/messages_zh.js"></script>
    <script src="../../assets/frontend/js/formHeightAuto.js"></script>
    <script src="../../assets/frontend/js/coundTime.js"></script>
    <script src="../../assets/frontend/js/formValidate.js"></script>
    <script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
    <script src="../../assets/global/plugins/webuploader/js/webuploader.js"></script>
    <script>
        // 图片上传demo
        jQuery(function() {
            var $ = jQuery,
                    $list = $('#fileList'),
            // 优化retina, 在retina下这个值是2
                    ratio = window.devicePixelRatio || 1,
            // 缩略图大小
                    thumbnailWidth = 100 * ratio,
                    thumbnailHeight = 100 * ratio,

            // Web Uploader实例
                    uploader;
            var BASE_URL = "../../assets/global/plugins/webuploader";

            // 初始化Web Uploader
            uploader = WebUploader.create({

                // 自动上传。
                auto: true,

                // swf文件路径
                swf: BASE_URL + '/js/Uploader.swf',

                // 文件接收服务端。
                server: 'http://webuploader.duapp.com/server/fileupload.php',

                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#filePicker',

                // 只允许选择文件，可选。
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                }
            });

            // 当有文件添加进来的时候
            uploader.on( 'fileQueued', function( file ) {
                var $li = $(
                                        '<div id="' + file.id + '" class="file-item thumbnail">' +
                                        '<img>' +
                                        '<div class="info">' + file.name + '</div>' +
                                        '</div>'
                        ),
                        $img = $li.find('img');

                $list.append( $li );
                $(".wrapper").addClass("minHeight850");
                heightAuto();
                // 创建缩略图
                uploader.makeThumb( file, function( error, src ) {
                    if ( error ) {
                        $img.replaceWith('<span>不能预览</span>');
                        return;
                    }

                    $img.attr( 'src', src );
                }, thumbnailWidth, thumbnailHeight );
            });

            // 文件上传过程中创建进度条实时显示。
            uploader.on( 'uploadProgress', function( file, percentage ) {
                var $li = $( '#'+file.id ),
                        $percent = $li.find('.progress span');

                // 避免重复创建
                if ( !$percent.length ) {
                    $percent = $('<p class="progress"><span></span></p>')
                            .appendTo( $li )
                            .find('span');
                }

                $percent.css( 'width', percentage * 100 + '%' );
            });

            // 文件上传成功，给item添加成功class, 用样式标记上传成功。
            uploader.on( 'uploadSuccess', function( file ) {
                $( '#'+file.id ).addClass('upload-state-done');
            });

            // 文件上传失败，现实上传出错。
            uploader.on( 'uploadError', function( file ) {
                var $li = $( '#'+file.id ),
                        $error = $li.find('div.error');

                // 避免重复创建
                if ( !$error.length ) {
                    $error = $('<div class="error"></div>').appendTo( $li );
                }

                $error.text('上传失败');
            });

            // 完成上传完了，成功或者失败，先删除进度条。
            uploader.on( 'uploadComplete', function( file ) {
                $( '#'+file.id ).find('.progress').remove();
            });
        });
    </script>
</body>
</html>