<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>服务评价</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/mobile.css"/>
    <style>
        html,body,.wrapper {
            height: 100%;
            background: #fff;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content-bg">
            <img src="../../assets/frontend/images/code-bg.jpg"/>
        </div>
        <div class="content zIndex">
            <ul class="ul-menu clearfix">
                <li>
                    <i class="fa fa-gift"></i>
                    <div class="div-details">
                        <p class="title">馈赠佳品</p>
                    </div>
                </li>
                <li>
                    <i class="fa fa-heart"></i>
                    <div class="div-details">
                        <p class="title">表达爱的新方式</p>
                    </div>
                </li>
                <li>
                    <i class="fa fa-chain"></i>
                    <div class="div-details">
                        <p class="title">物联网的社交性</p>
                    </div>
                </li>
            </ul>
            <div class="infor-person">
                <p>财符拥有者：张晓丽</p>
                <p>联系方式：15086677734</p>
                <div class="bg">
                    <img src="../../assets/frontend/images/friend-bg.png" alt=""/>
                    <div class="div-p">
                        <p>邀请码</p>
                        <p>560946709344</p>
                    </div>
                </div>
            </div>
            <p class="copyright"><span class="color">注</span>：请在电脑上登陆爱恋玩伴官网，绑定该邀请码享受会员优惠！</p>
        </div>
    </div>
</body>
</html>