<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body>
<div class="wapper">
<div class="header">
    <div class="head-main">
        <img src="../../assets/frontend/images/logo.png" alt="logo" class="left logo"/>
        <ul class="head-menu right">
            <li><a href="index.html">首页</a></li>
            <li><a href="chiof-opertion.html">财符中心</a></li>
            <li><a href="zhihui.html">智慧场景</a></li>
            <li><a href="product_center.html">产品中心</a></li>
            <li><a href="http://www.sskill.com/bbs">论坛</a></li>
            <li>
                        <span>
                            <span><a href="person-register.html">注册</a>/<a href="person-login.html">登陆</a></span>
                            <span class="hide">
                                <a href="person-center.html">某某</a>
                            </span>
                        </span>
            </li>
            <li>
                <a href="#" class="shoppingCart">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="number">1</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="content mt15">
    <div class="center">
        <div class="clearfix" style="width: 100%;">
            <ul class="personal-menu left">
                <li class="first">
                    <img src="../../assets/frontend/images/ul_head.png" alt=""style="float: left;"/>
                    <div class="li_top">
                        <span>全部功能</span>
                    </div>
                    <div class="li_bottom">订单管理</div>
                </li>
                <li>
                    <div class="li_top">
                                 <span class="block">
                                     <img src="../../assets/frontend/images/active_img.png" alt="" class="active_img hide"/>
                                     <a href="#">我的订单</a>
                                 </span>
                    </div>
                    <div class="li_bottom active">个人中心</div>
                </li>
                <li>
                    <div class="li_top">
                                <span class="block">
                                     <img src="../../assets/frontend/images/active_img.png" alt="" class="active_img hide"/>
                                     <a href="#">我的玩伴</a>
                                 </span>
                                 <span class="block">
                                     <img src="../../assets/frontend/images/active_img.png" alt="" class="active_img hide"/>
                                     <a href="#">个人资料</a>
                                 </span>
                                 <span class="block">
                                     <img src="../../assets/frontend/images/active_img.png" alt="" class="active_img hide"/>
                                     <a href="#">收货地址</a>
                                 </span>
                                 <span class="block active">
                                     <img src="../../assets/frontend/images/active_img.png" alt="" class="active_img"/>
                                     <a href="#">修改密码</a>
                                 </span>
                    </div>
                    <div class="li_bottom">财符中心</div>
                </li>
                <li class="last">
                    <div class="li_top">
                                <span class="block">
                                     <img src="../../assets/frontend/images/active_img.png" alt="" class="active_img hide"/>
                                     <a href="#">我的收益</a>
                                 </span>
                                 <span class="block">
                                     <img src="../../assets/frontend/images/active_img.png" alt="" class="active_img hide"/>
                                     <a href="#">财符排行榜</a>
                                 </span>
                    </div>
                </li>
            </ul>
            <div class="cen_content right" style="border:none;">
                <div class="cen_content_head">
                    <div class="information">
                        <a href=""><img src="../../assets/frontend/images/people.png" alt="" class="information_people"/></a>
                        <div class="information_specific block">
                            <p class="name"><span>陈小洁中午好~</span></p>
                            <p class="nember_level"><span>普通会员</span></p>
                        </div>
                    </div>
                </div>
                <div class="infor padlr10">
                    <div class="order-title">
                        <p>修改密码</p>
                    </div>

                    <div class="shopping padlr10 pt0 bb0 infor-table auto mb0">
                        <div class="personal-infor mt0">
                            <form action="#">
                                <p>
                                    <span class="type">用户名:</span>
                                    <input type="text" class="text" placeholder="请输入用户名"/>
                                </p>
                                <p>
                                    <span class="type">现在密码:</span>
                                    <input type="text" class="text" placeholder="请输入现在密码"/>
                                </p>
                                <p>
                                    <span class="type">新密码:</span>
                                    <input type="text" class="text" placeholder="请输入新密码"/>
                                </p>
                                <p>
                                    <span class="type">确认密码:</span>
                                    <input type="text" class="text" placeholder="请输入密码"/>
                                </p>
                                <input type="submit" class="btn-sure" value="保存"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="center">
        <ul class="foot-menu">
            <li><a href="contant-us.html">公司简介</a></li>
            <li><a href="contant-us.html">人才招聘</a></li>
            <li><a href="contant-us.html">融资合作</a></li>
            <li><a href="contant-us.html">关于我们</a></li>
            <li class="br0"><a href="contant-us.html">联系我们</a></li>
        </ul>
        <p class="copyright">渝ICP备15002338号-1 Copyright © 2014~2015 深圳贯和通物联科技有限公司 版权所有</p>
    </div>
</div>
</div>
<script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/frontend/js/global.js"></script>
<script src="../../assets/frontend/js/footHandle.js"></script>
<script src="../../assets/frontend/js/user-menu.js"></script>
<script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
<script>
    $(function(){
        $(".btn-person").each(function(i){
            $(this).on("click",function(){
                $(this).addClass("active");
                $(this).siblings(".btn-person").removeClass("active");
                $(".infor-table").eq(i).addClass("active");
                $(".infor-table").eq(i).siblings(".infor-table").removeClass("active");
            })
        })
    })
</script>
</body>
</html>