<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>个人财符申请</title>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body class="lineHeight">
<div class="wrapper minHeight750">
    <div class="header fixed">
        <div class="head-main">
            <img src="../../assets/frontend/images/logo.png" alt="logo" class="left logo"/>
            <ul class="head-menu right">
                <li><a href="index.html">首页</a></li>
                <li class="active"><a href="chiof-opertion.html">财符中心</a></li>
                <li><a href="zhihui.html">智慧场景</a></li>
                <li><a href="product_center.html">产品中心</a></li>
                <li><a href="http://www.sskill.com/bbs">论坛</a></li>
                <li>
                    <span>
                        <span><a href="person-register.html">注册</a>/<a href="person-login.html">登陆</a></span>
                        <span class="hide">
                            <a href="person-center.html">某某</a>
                        </span>
                    </span>
                </li>
                <li>
                    <a href="#" class="shoppingCart">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="number">1</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="logBodyBg">
        <img src="../../assets/frontend/images/shen-bg.jpg">
    </div>
    <div class="logWrap application-bg">
        <ul class="register-ul clearfix">
            <li class="active first"><a href="person-wealthApplication.html">个人财符申请</a></li>
            <li class="mr0 last"><a href="company-wealthApplication.html">企业财符申请</a></li>
        </ul>
        <div class="logBox">
            <form action="#" class="form" id="register-form">
                <div class="input-group mb15">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="请输入您的姓名" id="name" name="name">
                </div>
                <div class="input-group mb15">
                    <span class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="请输入号码" id="password" name="mobile">
                </div>
                <div class="input-group mb15">
                    <span class="input-group-addon">
                        <i class="fa fa-bars"></i>
                    </span>
                    <input type="email" class="form-control" placeholder="请再次输入您的邮箱" id="email" name="email">
                </div>
                <div class="input-group mb15">
                     <span class="input-group-addon">
                        <i class="fa fa-bank"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="所属行业" id="industry" name="industry">
                </div>
                <div class="input-group mb15">
                    <span class="input-group-addon">
                        <i class="fa fa-birthday-cake"></i>
                    </span>
                    <input id="d4311" name="d4311" class="Wdate form-control" readonly type="text" placeholder="请选择您的生日" onFocus="WdatePicker({minDate:'%y-%M-{%d}'})"/>
                </div>
                <div class="input-group mb15">
                    <span class="input-group-addon">
                        <i class="fa fa-map-signs"></i>
                    </span>
                    <select name="" class="select">
                        <option value="请选择">请选择</option>
                        <option value="重庆">重庆</option>
                        <option value="重庆">重庆</option>
                        <option value="重庆">重庆</option>
                    </select>
                    <select name="" class="select">
                        <option value="请选择">请选择</option>
                        <option value="渝中">渝中</option>
                        <option value="渝中">渝中</option>
                        <option value="渝中">渝中</option>
                    </select>
                    <select name="" class="mr0 select">
                        <option value="请选择">请选择</option>
                        <option value="袁家岗">袁家岗</option>
                        <option value="袁家岗">袁家岗</option>
                        <option value="袁家岗">袁家岗</option>
                    </select>
                </div>
                <div class="form-group">
                    <!--<a href="person-center.html" class="form-control btn-click">立即登录</a>-->
                    <input type="submit" class="form-control btn-click" value="立即申请">
                </div>
            </form>
        </div>
    </div>
    <div class="footer fixed">
        <div class="center">
            <ul class="foot-menu">
                <li><a href="contant-us.html">公司简介</a></li>
                <li><a href="contant-us.html">人才招聘</a></li>
                <li><a href="contant-us.html">融资合作</a></li>
                <li><a href="contant-us.html">关于我们</a></li>
                <li class="br0"><a href="contant-us.html">联系我们</a></li>
            </ul>
            <p class="copyright">渝ICP备15002338号-1 Copyright © 2014~2015 深圳贯和通物联科技有限公司 版权所有</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/frontend/js/global.js"></script>
<script src="../../assets/global/plugins/jquery-validate/jquery.validate.min.js"></script>
<script src="../../assets/global/plugins/jquery-validate/messages_zh.js"></script>
<script src="../../assets/frontend/js/formHeightAuto.js"></script>
<script src="../../assets/frontend/js/coundTime.js"></script>
<script src="../../assets/frontend/js/formValidate.js"></script>
<script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
</body>
</html>