<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>设置密码成功</title>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body>
    <div class="wrapper minHeight750">
        <div class="header fixed">
            <div class="head-main">
                <img src="../../assets/frontend/images/logo.png" alt="logo" class="left logo"/>
                <ul class="head-menu right">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="chiof-opertion.html">财符中心</a></li>
                    <li><a href="zhihui.html">智慧场景</a></li>
                    <li><a href="product_center.html">产品中心</a></li>
                    <li><a href="http://www.sskill.com/bbs">论坛</a></li>
                    <li class="active"><a href="login.html">注册/登陆</a></li>
                    <li>
                        <a href="#" class="shoppingCart">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="number">1</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="logBodyBg">
            <img src="../../assets/frontend/images/rl_bg.jpg">
        </div>
        <div class="logWrap w880">
            <img src="../../assets/frontend/images/zhmm.png" class="zhmm">
            <div class="logBox">
                <img src="../../assets/frontend/images/wc.png" class="qrzh">
                <div class="tiaoz">
                    <img src="../../assets/frontend/images/gou.png" alt="" class="gou"/>
                    <div class="tiz_s">
                        <span>您的新登录密码已经设置成功。请记住他喔！</span><br/>
                        <span><a href="login.html" class="zidd">点击此处</a>,立即返回登录页面</span><br/>
                        <span><span class="dao">11</span>秒后,自动返回</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <span>深圳贯和通物联科技有限公司@版权所有</span>　
        </div>
    </div>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/jquery-validate/jquery.validate.min.js"></script>
    <script src="../../assets/global/plugins/jquery-validate/messages_zh.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/frontend/js/formHeightAuto.js"></script>
    <script src="../../assets/frontend/js/coundTime.js"></script>
    <script src="../../assets/frontend/js/formValidate.js"></script>
    <script>
        /*页面倒计时返回登陆页面*/
        function delayURL(url) {
            var delay = $(".dao").text();
            if (delay > 0) {
                --delay;
                $(".dao").text(delay)
            } else {
                window.top.location.href = url
            }
            setTimeout("delayURL('" + url + "')", 1000)
        }
        $(function(){
            delayURL("login.html");
        })
    </script>
</body>
</html>