<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>申请信息</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../assets/mobile/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content errDailog">
        <div class="page">
            <div class="bd absolute pd50">
                <ul class="entryList style">
                    <li>
                        <div>
                            <div class="couponImg">
                                <img src="../../assets/mobile/images/default.png" class="couponImg1" alt=""/>
                            </div>
                            <span class="inforList">
                                <span class="title">加班申请</span>
                                <span>营销部门-南安市场-周圈圈</span>
                                <span>2016-08-05 15:23</span>
                            </span>
                            <span class="passIcon passed hide">
                                <span class="pass"></span>
                            </span>
                            <span class="passIcon notPassed hide">
                                <span class="notPass"></span>
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="infor">
                    <!--<div class="inforList clearfix">-->
                        <!--<img src="../../assets/mobile/images/infor1.png" alt="" class="left"/>-->
                        <!--<div class="left inforSpan">-->
                            <!--<p class="first">来自：销售部-南安市场-周圈圈</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="inforList clearfix">-->
                        <!--<img src="../../assets/mobile/images/infor2.png" alt="" class="left"/>-->
                        <!--<div class="left inforSpan">-->
                            <!--<p class="first">来自：销售部-南安市场-周圈圈</p>-->
                            <!--<p class="second">来自：销售部-南安市场-周圈圈</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="inforList clearfix">
                        <img src="../../assets/mobile/images/infor3.png" alt="" class="left"/>
                        <div class="left inforSpan">
                            <p class="first">来自：销售部-南安市场-周圈圈</p>
                            <p class="second">来自：销售部-南安市场-周圈圈</p>
                            <p class="last">来自：销售部-南安市场-周圈圈</p>
                        </div>
                    </div>
                    <div class="inforTime">
                        <ul class="timeList ">
                            <li>
                                <div class="bgIcon">
                                    <div class="startTimeIcon"></div>
                                </div>
                                <div class="timeInfor">
                                    <p class="title">开始时间</p>

                                    <p>2016.6.6 9:00</p>
                                </div>
                            </li>
                            <li>
                                <div class="bgIcon">
                                    <div class="endTimeIcon"></div>
                                </div>
                                <div class="timeInfor">
                                    <p class="title">结束时间</p>

                                    <p>2016.6.6 9:00</p>
                                </div>
                            </li>
                            <li>
                                <div class="bgIcon">
                                    <div class="bookTimeIcon"></div>
                                </div>
                                <div class="timeInfor">
                                    <p class="title">申请原因</p>
                                    <p>没钱花！</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="weui_btn_area fixed style">
                <button type="button" class="active btnAgree">同意</button>
                <button type="button" class="btnNotAgree">不同意</button>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script src="../../assets/mobile/js/messageTip.js"></script>
    <script>
        $(function(){
            /*审批通过提示*/
            $(".btnAgree").on("click",function(){
                showApplication("passIcon","审批通过");
                $(this).closest(".weui_btn_area").addClass("hide");
                $(".passed").removeClass("hide");
            });
            /*审批未通过提示*/
            $(".btnNotAgree").on("click",function(){
                showApplication("notPassIcon","审批未通过");
                $(this).closest(".weui_btn_area").addClass("hide");
                $(".notPassed").removeClass("hide");
            })
        })
    </script>
</body>
</html>