<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>会员说明</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="member">
            <div>会员说明</div>
            <p>
                关于俱乐部会费的详细说明     任何一个俱乐部要想更快、更长远的发展，必须拥有自己强大的资金作为后盾。有了资金俱乐部可以用于自身的发展,比如制作道具、组织培训、承办比赛、自我宣传等。以此才能形成良性循环,从而加大俱乐部的影响力,扩大俱乐部的规模,是俱乐部更好更快的发展。只有俱乐部发展好了,俱乐部会员才能有更好的发展。

            </p>

            <p>
                俱乐部会费为年会费128元,凡是在2008年之前就在组织积极参与的,现优惠价格88元,2009年加入者享受999元优惠,2010年加入者110元。此后年会费均为128元。

            </p>

            <p>
                连续缴纳会费4年者将成为终身会员以后免交会费。一次性缴纳会费3年者一次成为终身会员。
            </p>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery.min.js"></script>
</body>
</html>