<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>会员缴费信息</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/mobile/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="bd absolute pd50">
                <ul class="entryList">
                    <li>
                        <a>
                            <div class="couponImg style">
                                <img src="../../assets/mobile/images/shop1.jpg" class="couponImg1" alt=""/>
                            </div>
                            <span class="inforList">
                                <span class="title styles">
                                    钢琴培训二期学费
                                </span>
                                <span class="title styles">
                                    张晓明
                                </span>
                                <span>分组 : 钢琴班   等级 : 初级</span>
                                <span>费用期限 : 2016.5.5~2016.6.6</span>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="moneyInfor">
                    <div>
                        <p class="color style">费用 : ￥300.00</p>
                    </div>

                </div>
            </div>
            <div class="weui_btn_area fixed">
                <a class="weui_btn weui_btn_primary b0" id="btnSure">
                    支付
                </a>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>