<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>会员缴费信息</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../assets/mobile/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="bd">
                <ul class="entryList">
                    <li>
                        <a>
                            <div class="couponImg style">
                                <img src="../../assets/mobile/images/shop1.jpg" class="couponImg1" alt=""/>
                            </div>
                            <span class="inforList">
                                <span class="title styles">
                                    张晓明
                                </span>
                                <span>分组 : 钢琴班</span>
                                <span>等级 : 初级</span>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="moneyInfor">
                    <div>
                        <p class="title">钢琴培训二期学费</p>

                        <p class="color">￥300.00</p>

                        <p>费用有限期 : 2016.5.2~2015.6.6</p>
                    </div>
                    <div>
                        <a href="memberPayInfor.html" class="btnMoney">立即缴费</a>
                    </div>
                    <div class="style hide">
                        <i class="fa fa-check-circle-o"></i> 已缴
                    </div>
                </div>
                <div class="moneyInfor">
                    <div>
                        <p class="title">钢琴培训二期学费</p>

                        <p class="color">￥300.00</p>

                        <p>费用有限期 : 2016.5.2~2015.6.6</p>
                    </div>
                    <div>
                        <a href="memberPayInfor.html" class="btnMoney">立即缴费</a>
                    </div>
                    <div class="style hide">
                        <i class="fa fa-check-circle-o"></i> 已缴
                    </div>
                </div>
                <div class="relesaTitle style">费用记录</div>
                <div class="weui_cells style mt0 ">
                    <a class="weui_cell l0" href="paySuccess.html">
                        <div class="weui_cell_hd">
                            <p class="title">钢琴一期培训</p>

                            <p class="time">缴纳时间 : 2016.5.2 9:00</p>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary taRight">
                            ￥300.00
                        </div>
                    </a>
                    <a class="weui_cell l0" href="paySuccess.html">
                        <div class="weui_cell_hd">
                            <p class="title">钢琴一期培训</p>

                            <p class="time">缴纳时间 : 2016.5.2 9:00</p>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary taRight">
                            ￥300.00
                        </div>
                    </a>
                    <a class="weui_cell l0" href="paySuccess.html">
                        <div class="weui_cell_hd">
                            <p class="title">钢琴一期培训</p>

                            <p class="time">缴纳时间 : 2016.5.2 9:00</p>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary taRight">
                            ￥300.00
                        </div>
                    </a>
                    <a class="weui_cell l0" href="paySuccess.html">
                        <div class="weui_cell_hd">
                            <p class="title">钢琴一期培训</p>

                            <p class="time">缴纳时间 : 2016.5.2 9:00</p>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary taRight">
                            ￥300.00
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>