<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>会员说明</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="payBg">
            <div class="payBgHead">
                <p class="title">钢琴培训二期学费 : <span class="money"> ￥300.00</span></p>
                <div class="payStyle">
                    <div>
                        <img src="../../assets/mobile/images/active.jpg" alt=""/>
                    </div>
                    <div>
                        <p class="title">张晓明</p>
                        <p>分组 : 钢琴班</p>
                        <p>等级 : 初级</p>
                    </div>
                </div>
            </div>
            <div class="payBgContent">
                <p>缴纳时间 : 2016.5.2 9:00</p>

                <p>费用有限期 : 2016.5.2 9:00</p>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery.min.js"></script>
</body>
</html>