<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>资源需求-求</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/mobile/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="bd absolute pd50">
                <div class="applicatioOpetion">
                    <ul class="applicatioNav clearfix">
                        <li>
                            <a href="resourcesHas.html">他们有</a>
                        </li>
                        <li>
                            <a href="resourcesQiu.html" class="active">他们求</a>
                        </li>
                    </ul>
                </div>
                <ul class="entryList">
                    <li>
                        <a>
                            <div class="couponImg style">
                                <img src="../../assets/mobile/images/shop1.jpg" class="couponImg1" alt=""/>
                            </div>
                            <span class="inforList">
                                <span class="title">
                                    <span class="inforTitle">求购二手钢琴</span>
                                    <span class="right">2016.08.05</span>
                                </span>
                                <span class="inforListInfor">广大琴友们，本人现高价回收二手乐器，无论哪一种乐器，哪种一种品牌只要您有我们都乐意回收</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="couponImg style">
                                <img src="../../assets/mobile/images/shop1.jpg" class="couponImg1" alt=""/>
                            </div>
                            <span class="inforList">
                                <span class="title">
                                    <span class="inforTitle">求购二手钢琴</span>
                                    <span class="right">2016.08.05</span>
                                </span>
                                <span class="inforListInfor">广大琴友们，本人现高价回收二手乐器</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="couponImg style">
                                <img src="../../assets/mobile/images/shop1.jpg" class="couponImg1" alt=""/>
                            </div>
                            <span class="inforList">
                                <span class="title">
                                    <span class="inforTitle">求购二手钢琴</span>
                                    <span class="right">2016.08.05</span>
                                </span>
                                <span class="inforListInfor">广大琴友们，，无论哪一种乐器，哪种一种品牌只要您有我们都乐意回收</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="couponImg style">
                                <img src="../../assets/mobile/images/shop1.jpg" class="couponImg1" alt=""/>
                            </div>
                            <span class="inforList">
                                <span class="title">
                                    <span class="inforTitle">求购二手钢琴</span>
                                    <span class="right">2016.08.05</span>
                                </span>
                                <span class="inforListInfor">广大琴友们，本人现高价回收二手乐器，无论哪一种乐器，哪种一种品牌只要您有我们都乐意回收</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="couponImg style">
                                <img src="../../assets/mobile/images/shop1.jpg" class="couponImg1" alt=""/>
                            </div>
                            <span class="inforList">
                                <span class="title">
                                    <span class="inforTitle">求购二手钢琴</span>
                                    <span class="right">2016.08.05</span>
                                </span>
                                <span class="inforListInfor">广大琴友们，本人现高价回收二手乐器，无论哪一种乐器，哪种一种品牌只要您有我们都乐意回收</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>