<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>资源需求-求详情</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta name="format-detection" content="telephone=yes">
    <link rel="stylesheet" href="../../assets/mobile/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="bd">
                <ul class="entryList">
                    <li>
                        <a>
                            <div class="couponImg style">
                                <img src="../../assets/mobile/images/shop1.jpg" class="couponImg1" alt=""/>
                            </div>
                            <span class="inforList">
                                <span class="title styles">
                                    求购二手钢琴
                                </span>
                                <span class="color1">￥6800</span>
                                <span>
                                     <img src="../../assets/mobile/images/huiIcon.png" style="width: 20px;" alt=""/> 社群优惠
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="mainTitle style">
                    发布人
                </div>
                <ul class="entryList">
                    <li>
                        <div href="javascript:;">
                            <div class="couponImg">
                                <img src="../../assets/mobile/images/default.png" class="couponImg1" alt=""/>
                            </div>
                            <span class="inforList">
                                张晓明
                            </span>
                        </div>
                    </li>
                </ul>

                <div class="mainTitle style">
                    资源用途
                </div>
                <ul class="entryList">
                    <li>
                        <div href="javascript:;">
                            <span class="inforList style">
                                适合幼儿园到小学三四年纪的孩子使用，送凳子 节拍器
                            </span>
                        </div>
                    </li>
                </ul>

                <div class="mainTitle style">
                    资源详情
                </div>
                <ul class="entryList">
                    <li>
                        <div href="javascript:;">
                            <span class="inforList style">
                                2012年买的时候18000，买的时候小孩不是那么喜欢谈，就一直放在家里，几乎全新，价格面议，当时适合幼儿园到小学三四年纪的孩
                            </span>
                        </div>
                    </li>
                </ul>

                <div class="mainTitle style">
                    联系电话
                </div>
                <ul class="entryList">
                    <li>
                        <div href="javascript:;">
                            <span class="inforList color2 style">
                                <i class="fa fa-mobile-phone"></i>
                                <a href="tel:1524655345" style="color: #47aaea;">李建：1524655345</a>
                            </span>
                        </div>
                    </li>
                </ul>

                <div class="mainTitle style">
                    有谁看过 (<span class="num">11</span>)
                </div>
                <ul class="entryList imgStyle">
                    <li class="clearfix">
                        <span class="left">
                            <img src="../../assets/mobile/images/default.png" alt=""/>
                        </span>
                        <span class="left">
                            <img src="../../assets/mobile/images/default.png" alt=""/>
                        </span>
                       <span class="left">
                            <img src="../../assets/mobile/images/default.png" alt=""/>
                        </span>
                        <span class="left">
                            <img src="../../assets/mobile/images/default.png" alt=""/>
                        </span>
                        <span class="left">
                            <img src="../../assets/mobile/images/default.png" alt=""/>
                        </span>
                        <span class="left">
                            <img src="../../assets/mobile/images/default.png" alt=""/>
                        </span>
                        <span class="left">
                            <img src="../../assets/mobile/images/default.png" alt=""/>
                        </span>
                        <span class="left">
                            <img src="../../assets/mobile/images/default.png" alt=""/>
                        </span>
                        <span class="left">
                            <img src="../../assets/mobile/images/default.png" alt=""/>
                        </span>
                        <span class="left">
                            <img src="../../assets/mobile/images/default.png" alt=""/>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>