@charset "utf-8";
body,html{font-family: Microsoft YaHei,Arial, Helvetica, sans-serif;background: #f5f5f7;}
body,p{margin: 0;padding: 0;}
ul,li,img{margin:0;padding:0;list-style:none;border:none; vertical-align:middle;}
a{color:#000;text-decoration:none;}
a,button{cursor: pointer;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;}
input,button{outline: none;border: none;}
.hide{display: none;}
.right{float: right;}
.left{float: left;}
a:link{text-decoration: none;}
.wrapper{width: 1560px;background: #282828;position: relative;margin: 0 auto;overflow: hidden;}
.content{position: relative;left: 0;margin-top: 80px;}
.content-main{background: #e8e9ed;}
.head{width: 1560px;height: 80px;position: fixed;background: rgba(0,0,0,0.6);z-index: 1000;}
.foot{width: 100%;}
.f-menu{padding: 25px 0;}
.f-menu>li{float: left;}
.foot-list1{width: 300px;text-align: center;}
.f-logo{width: 82px;height: 52px;background: url(../images/icon.png) no-repeat;background-position: 0 -118px;display: inline-block;margin-left: -67px;}
.fl-ul li a{display: inline-block;color: #fff;font-size: 16px;line-height: 32px;width: 135px;text-align: left;}
.fl-ul3 li a{width: 97px;line-height: 37px;}
.foot-list2{width: 350px;padding-left: 50px;}
.fl-ul a.title{font-size: 22px;width: 100%;padding-bottom: 18px;}
.foot-list2 li a{font-size: 12px;}
.foot-list3{width: 420px;padding-left: 85px;}
.foot-list3 li a{width: 135px;}
.fl-ul3 li .a-ibw{width: 150px;margin-left: 30px;}
.fl-ul3 a.title{}
.fl-ul3 li .weixin,.fl-ul3 li .weibo{width: 40px;height: 40px;text-align: center;line-height: 40px;background: #fff;color: #333;border-radius: 50%;font-size: 24px;margin-top: 25px;display: inline-block;}
.weixin {position: relative;z-index: 99;margin-right: 10px;}
.fl-ul3 li .weixin:hover .weixinB {transform: scale(1);}
.weixinB {position: absolute;left: -165px;bottom: 0; background: #fff;
    -webkit-transform-origin: 160px 150px;-moz-transform-origin: 160px 150px;
    transform-origin: 160px 150px;-webkit-transform: scale(0);
    -moz-transform: scale(0);transform: scale(0);transition: .5s;padding: 8px;}
.weixinB span { position: absolute;width: 14px;height: 21px;background: url(../images/weixinIco.png) no-repeat center center;right: -14px;bottom: 10px;}
.fl-ul3 li .weibo:hover i{-webkit-animation: toTopFromBottom .3s forwards;-moz-animation: toTopFromBottom .3s forwards;animation: toTopFromBottom .3s forwards}
.copyright{font-size: 14px;color: #fff;text-align: center;}
.copyright a{color: #fff;font-family: "微软雅黑"}



/*index*/
.head-main,.content-main,.foot-main{width: 1205px;position: relative;left: 50%;margin-left:-602px;}
.head-main{height: 80px;line-height: 80px;}
.head-main .logo{width: 230px;height: 50px;background: url(../images/icon.png) no-repeat;background-position: 0 -46px;margin: 14px 40px 11px 0;}
.menu{margin: 16px 0 17px 0;}
.menu li{width: 47px;height: 47px;margin-right: 25px;float: left;line-height: 47px;}
.menu li.last{margin-right: 0;}
.menu li a{display: inline-block;width: 100%;height: 100%;background: #303b42;line-height: 47px;text-align: center;border-radius: 50px;}
.menu li .icon{background: url(../images/icon.png) no-repeat;width: 100%;;height: 100%;display: inline-block;}
.menu li .icon1{background-position: 7px 7px;}
.menu li .icon2{background-position: -37px 9px;}
.menu li .icon3{background-position: -78px 4px;}
.menu li .icon4{background-position: -124px 7px;}
.menu li .icon5{background-position: -169px 4px;}
.menu li .icon6{background-position: -206px 7px;}
.menu li a:hover span{
    -webkit-animation: toTopFromBottom .5s forwards;
    -moz-animation: toTopFromBottom .5s forwards;
    -ms-animation: toTopFromBottom .5s forwards;
    animation: toTopFromBottom .3s forwards
}

@-webkit-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-30%)
    }
    50% {
        opacity: .3;
        -webkit-transform: translateY(30%)
    }
    51% {
        opacity: 1
    }
}

@-moz-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-30%)
    }
    50% {
        opacity: .3;
        -webkit-transform: translateY(30%)
    }
    51% {
        opacity: 1
    }
}

.advertisement{}
.advertisement li{float: left;font-weight: bold;}
.advertisement li:hover img{opacity: 0.6;filter: alpha(opacity=60);}
.advertisement li .a-first,.advertisement li .a-first img{width: 771px;height: 713px;position: relative;display: inline-block;}
.advertisement li .a-second,.advertisement li .a-second img{width: 434px;height: 392px;display: inline-block;position: relative;}
.advertisement li .a-last,.advertisement li .a-last img{width: 434px;height: 321px;display: inline-block;position: relative;}
.advertisement li .b-bottom,.advertisement li .b-top{position: absolute;width: 100%;color: #fff;text-align:center ;}
.advertisement li .b-bottom{bottom: 20px;}
.advertisement li .b-bottom .title{font-size:60px;}
.advertisement li .b-bottom1 .title{font-size: 50px;}
.advertisement li .b-bottom p{font-size: 40px;}
.advertisement li .b-top{position: absolute;top: 20px;font-size: 50px;}
.activity{}
.activity li{float: left;width: 25%;height: 294px;background: #fff;position: relative;}
.activity .li1{background: #181818;color: #fff;}
.activity .li1 .title{font-size: 36px;position: relative;left: 16px;top: 20px;font-weight: bold;}
.activity .li1 p{padding: 10px 10px 10px 15px;font-size: 14px;}
.activity .li1 p .color{color: #47bd05;}
.activity .li1 p a:hover{text-decoration: underline;}
.activity .li1 .b-bottom{font-size: 26px;position: absolute;bottom: 15px;left: 15px;}
.activity .li2{}
.activity .li2 a{display: inline-block;width: 260px;height: 273px;margin: 21px 21px 0 21px;}
.activity li .br{width: 1px;height: 100%;background: #ddd;position:absolute;top: 0;right: 0;}
.activity li .bb{width: 100%;height: 1px;position: absolute;left: 0;bottom: 0;background: #dbdbdb;}
.activity .li3 p{font-size: 14px;}
.activity .li3 .div-p{padding: 60px 2% 0 10%;}
.activity .li3 .li-con{width: 245px;margin-top: 20px;}
.activity .li4 .li-con{width: 245px;margin-top: 5px;}
.activity .li3 .title{font-size: 25px;font-weight: bold;}
.activity .li3 .title-large{font-size: 36px;}
.activity .li5{line-height: 294px;text-align: center;font-size: 36px;color: #fff;background: #f58303;font-weight: bold;}
.activity .li6 img{width: 100%;height: 294px;}


/*activity*/
.input-search {position: relative;width: 330px;display: inline-block;top: 5px;left: 1%;}
.input-search .text {width: 79.8%;height: 36px;line-height: 36px;color: #333;padding:0 8px;font-size: 14px;background: #fff;float: left;}
.input-search .button {width: 15%;height: 36px;background: #fff;color: #666;font-size: 18px;cursor: pointer;line-height: 36px;float: left;}
.input-search .button .fa{position: relative;left: 5px;}
.activity-left{margin: 15px 10px 0 35px;background: #fff;width: 220px;}
.activity-middle{margin: 15px 0 0 0;width: 903px;}
.activity-right{margin: 15px 30px 0 0;width: 258px;}
.menu-left{position: relative;padding-bottom: 30px;}
.menu-left .details{width: 100%;text-align: center;margin: 20px 0 20px 0;}
.menu-left .details .name{position: relative;top: 8px;}
.menu-left .head-portrait{border-radius: 110px;}
.menu-left li{}
.menu-left li a{display: inline-block;color: #666;position: relative;height: 80px;line-height: 80px;text-align: center;padding: 0 20px 0 20px;width: 180px;border-bottom: 1px dotted #dbdbdb;z-index: 3;}
.menu-left li a .icon{display: inline-block;width: 40px;height: 40px;line-height: 40px;text-align: center;color: #fff;border-radius: 40px;font-size: 20px;float: left;margin-top: 20px;}
.menu-left li a .fa-angle-right{position: absolute;right: 20px;font-size: 25px;top: 27px;color: #999;}
.menu-left li a .icon1{background: #ff9660;}
.menu-left li a .icon2{background: #8bca77;}
.menu-left li a .icon3{background: #6ecff6;}
.menu-left li a .icon4{background: #32b9c3;}
.menu-left li a .icon5{background: #fdbe34;}
.menu-left li a .icon6{background: #0f69af;}
.menu-left li a .icon7{background: #f65388;}
.dong{position: absolute;opacity: 0.2;filter: alpha(opacity=20);z-index: 2;background: #000;width: 100%;height: 80px;top:154px;}
.published,.comments{width: 100%;background: #f4f5f9;}
.published .p-head,.comments .c-head{width: 96%;height: 35px;line-height: 35px;padding: 0 2%;background: #2b8bd9;color: #fff;font-size: 18px;}
.comments .c-content{width: 100%;}
.published .p-content{padding: 0 2%;width: 96%;}
.c-content textarea{width: 97.8%;padding:1%;font-size: 14px;color: #666;height: 100px;position: relative;z-index:10;border: 1px solid #dbdbdb;}
.c-foot{width: 901px;border: 1px solid #dbdbdb;margin-top: -5px;border-top: none;background: #fff;padding: 8px 0;}
.c-btn{width: 60px;height: 30px;background: #ffe202;border-radius: 4px;float: right;color: #666;margin-right: 15px;position: relative;top: 1px;}
.comments-img{position: relative;left: 15px;top: 2px;}
.a-content{margin-left: 120px;color: #666;font-size: 14px;}
.a-content p .right{margin-top: -30px;}
.application{position: relative;width: 96%;padding: 3% 2%;background: #fff;margin-top: 1%;}
.application-img{float: left;}
.application .title a{font-size: 18px;color: #1168b0;}
.praise-img{position: relative;left: -2px;cursor: pointer;}
.num{position: relative;top: 3px;}
.application .details{padding: 3px 0;height: 2.6em;display: inline-block;}
.application .details p {margin: 0;line-height: 1.3em;}
.recommended,.announcement,.hot-case{background: #fff;width: 90%;padding: 15px 5%;border-top: 7px solid #1168b0;font-size: 14px;margin-bottom: 8px;}
.recommended .title,.announcement .title,.hot-case .title{font-size: 18px;color: #1168b0;}
.ul-recommended,.ul-announcement,.ul-case{color: #666;width: 100%;margin: 10px 0 30px 0;}
.ul-recommended li,.ul-announcement li,.ul-case li{border-bottom: 1px dotted #dbdbdb;width: 100%;padding: 12px 0;}
.ul-recommended li a,.ul-announcement li a,.ul-case li a{color: #404145;display: inline-block;width: 100%;}
.ul-recommended li a .circle,.ul-announcement li a .circle,.ul-case li a .circle{display:inline-block;width: 6px;height: 6px;background: #ccc;border-radius: 6px;margin-right: 6px;position: relative;top: -2px;*top:-5px;}
.ul-recommended li a.active,.ul-announcement li a.active,.ul-case li a.active{color: #1168b0;}
.ul-recommended  li a.active .circle,.ul-announcement li a.active .circle,.ul-case li a.active .circle{background: #1168b0;}
.recommended .more,.announcement .more,.hot-case .more{color: #1168b0;position: relative;top: -15px;}
.ul-recommended li.last,.ul-announcement li.last,.ul-case li.last{border-bottom: none;}



/*company-introduction*/
.content-left{width: 1036px;margin: 15px 10px 0 80px;}
.person-infomation{position: relative;}
.per-infor{position: absolute;bottom: -25px;right: 25px;z-index: 2;}
.per-infor .details{position: relative;top: 80px;right: 135px;color: #fff;text-align: right;}
.per-infor .details .name{font-size: 18px;}
.cl-content{padding: 15px 0 15px 10px;margin-bottom: 10px;background: #fff;color: #333;}
.cl-content p{padding: 6px 25px 6px 0;line-height: 25px;}
.cl-content p .title{color:#666;display: inline-block;width: 72px;}
.cl-content p .information{display: inline-block;width: 85px;text-align: center;}
.cl-content p .information-name{color: #666;font-size: 14px;}
.cl-content p .information img{border-radius: 69px;}
.content-right{width: 258px;margin: 15px 0 0 0;}
.cl-menu{}
.cl-menu li{padding: 5px 10px;background: #fff;float: left;color: #333;margin-left: 30px;}
.cl-menu li.active{background: transparent;}


/*map-case*/
#allmap{width: 872px;height: 744px;}
.sisty{margin: 15px 0 0 0;width: 872px;}




/*personal-journal*/
.journal-content{text-align: center;margin: 0 auto;background: #fff;padding: 20px 57px;margin-bottom: 15px;}
.journal-content p{line-height: 35px;}
.release-time{color: #666;}
.journal-content .release-c{color: #333;text-align: left;text-indent: 32px;line-height: 28px;}
.journal-content.second{text-align: left;}
.journal-content .down,.journal-content .money{cursor: pointer;display: inline-block;width: 70px;}
.journal-content .down img,.journal-content .money img{position: relative;top: -3px;}


/*magazine-published*/
.wordCount{ position:relative;width: 845px;margin-bottom: 15px;}
.wordCount textarea{ width: 100%; height: 100px;padding: 5px 10px;resize: none;border: 1px solid #dbdbdb;}
.wordCount .textarea1{height: 24px;line-height: 24px;}
.wordCount input{width: 100%;}
.wordCount .wordwrap{ position:absolute; right: -12px; bottom: 6px;color: #666;}
.wordCount .word{ color: red; padding: 0 4px;;}
h4{margin: 8px 0;display: inline-block;}
.dbdb{color: #aaa;}


/*media*/
@media screen and (max-width: 1560px) {
    .wrapper{width: 100%;background: #2c2c2c;}
    .head{width: 100%;}
    .foot{background: #2a2a2a;}
}