@charset "utf-8";
body,html{font-family: Microsoft YaHei,Arial, Helvetica, sans-serif;background: #f5f5f7;}
body,p{margin: 0;padding: 0;}
ul,li,img{margin:0;padding:0;list-style:none;border:none; vertical-align:middle;}
a{color:#000;text-decoration:none;}
a,button{cursor: pointer;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;}
input,button{outline: none;border: none;}
.hide{display: none;}
.right{float: right;}
.left{float: left;}
a:link{text-decoration: none;}
.wrapper{width: 1560px;background: #282828;position: relative;margin: 0 auto;overflow: hidden;}
.content{position: relative;left: 0;margin-top: 80px;}
.content-main{background: #e8e9ed;}
.head{width: 1560px;height: 80px;position: fixed;background: rgba(0,0,0,0.6);z-index: 1000;}
.foot{width: 100%;}
.f-menu{padding: 25px 0;}
.f-menu>li{float: left;}
.f-menu li a:hover{color:#ccc;}
.foot-list1{width: 300px;text-align: center;}
.f-logo{width: 82px;height: 52px;background: url(../images/icon.png) no-repeat;background-position: 0 -118px;display: inline-block;margin-left: -67px;}
.fl-ul li a{display: inline-block;color: #fff;font-size: 14px;line-height: 32px;width: 135px;text-align: left;}
.fl-ul3 li a{width: 97px;line-height: 37px;}
.foot-list2{width: 350px;padding-left: 50px;}
.fl-ul a.title{font-size: 22px;width: 100%;padding-bottom: 18px;}
.foot-list2 li a{font-size: 12px;}
.foot-list3{width: 420px;padding-left: 85px;}
.foot-list3 li a{width: 135px;}
.fl-ul3 li .a-ibw{width: 150px;margin-left: 30px;}
.fl-ul3 a.title{}
.weixin,.weibo{width: 40px;height: 40px;text-align: center;line-height: 40px;background: #fff;color: #333;border-radius: 50%;font-size: 24px;margin-top: 25px;display: inline-block;}
.weixin {position: relative;z-index: 99;margin-right: 10px;margin-left: 30px;}
.weixin:hover .weixinB {transform: scale(1);}
.weixinB {position: absolute;left: -165px;bottom: 0; background: #fff;
    -webkit-transform-origin: 160px 150px;-moz-transform-origin: 160px 150px;
    transform-origin: 160px 150px;-webkit-transform: scale(0);
    -moz-transform: scale(0);transform: scale(0);transition: .5s;padding: 8px;}
.weixinB span { position: absolute;width: 14px;height: 21px;background: url(../images/weixinIco.png) no-repeat center center;right: -14px;bottom: 10px;}
.copyright .weibo{color: #333;}
.weibo:hover i{-webkit-animation: toTopFromBottom .3s forwards;-moz-animation: toTopFromBottom .3s forwards;animation: toTopFromBottom .3s forwards}
.copyright{font-size: 14px;color: #fff;text-align: center;}
.copyright a{color: #fff;font-family: "微软雅黑"}



/*index*/
.head-main,.content-main,.foot-main{width: 1205px;position: relative;left: 50%;margin-left:-602px;}
.head-main{height: 80px;line-height: 80px;}
.head-main .logo{width: 230px;height: 50px;background: url(../images/icon.png) no-repeat;background-position: 0 -46px;margin: 14px 40px 11px 0;}
.menu{margin: 16px 0 17px 0;}
.menu li{width: 47px;height: 47px;margin-right: 25px;float: left;line-height: 47px;}
.menu li.last{margin-right: 0;}
.menu li a{display: inline-block;width: 100%;height: 100%;background: #303b42;line-height: 47px;text-align: center;border-radius: 50px;}
.menu li .icon{background: url(../images/icon.png) no-repeat;width: 100%;;height: 100%;display: inline-block;}
.menu li .icon1{background-position: 7px 7px;}
.menu li .icon2{background-position: -37px 9px;}
.menu li .icon3{background-position: -78px 4px;}
.menu li .icon4{background-position: -124px 7px;}
.menu li .icon5{background-position: -169px 4px;}
.menu li .icon6{background-position: -206px 7px;}
.menu li a:hover span{
    -webkit-animation: toTopFromBottom .5s forwards;
    -moz-animation: toTopFromBottom .5s forwards;
    -ms-animation: toTopFromBottom .5s forwards;
    animation: toTopFromBottom .3s forwards
}

@-webkit-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-30%)
    }
    50% {
        opacity: .3;
        -webkit-transform: translateY(30%)
    }
    51% {
        opacity: 1
    }
}

@-moz-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-30%)
    }
    50% {
        opacity: .3;
        -webkit-transform: translateY(30%)
    }
    51% {
        opacity: 1
    }
}

.advertisement{}
.advertisement li{float: left;font-weight: bold;}
.advertisement li:hover img{opacity: 0.6;filter: alpha(opacity=60);}
.advertisement li .a-first,.advertisement li .a-first img{width: 771px;height: 713px;position: relative;display: inline-block;}
.advertisement li .a-second,.advertisement li .a-second img{width: 434px;height: 392px;display: inline-block;position: relative;}
.advertisement li .a-last,.advertisement li .a-last img{width: 434px;height: 321px;display: inline-block;position: relative;}
.advertisement li .b-bottom,.advertisement li .b-top{position: absolute;width: 100%;color: #fff;text-align:center ;}
.advertisement li .b-bottom{bottom: 20px;}
.advertisement li .b-bottom .title{font-size:60px;}
.advertisement li .b-bottom1 .title{font-size: 50px;}
.advertisement li .b-bottom p{font-size: 40px;}
.advertisement li .b-top{position: absolute;top: 20px;font-size: 50px;}
.activity{}
.activity li{float: left;width: 25%;height: 294px;background: #fff;position: relative;}
.activity .li1{background: #181818;color: #fff;}
.activity .li1 .title{font-size: 36px;position: relative;left: 16px;top: 20px;font-weight: bold;}
.activity .li1 p{padding: 10px 10px 10px 15px;font-size: 14px;}
.activity .li1 p .color{color: #47bd05;}
.activity .li1 p a:hover{text-decoration: underline;}
.activity .li1 .b-bottom{font-size: 26px;position: absolute;bottom: 15px;left: 15px;}
.activity .li2{}
.activity .li2 a{display: inline-block;width: 260px;height: 273px;margin: 21px 21px 0 21px;}
.activity li .br{width: 1px;height: 100%;background: #ddd;position:absolute;top: 0;right: 0;}
.activity li .bb{width: 100%;height: 1px;position: absolute;left: 0;bottom: 0;background: #dbdbdb;}
.activity .li3 p{font-size: 14px;}
.activity .li3 .div-p{padding: 60px 2% 0 10%;}
.activity .li3 .li-con{width: 245px;margin-top: 20px;}
.activity .li4 .li-con{width: 245px;margin-top: 5px;}
.activity .li3 .title{font-size: 25px;font-weight: bold;}
.activity .li3 .title-large{font-size: 36px;}
.activity .li5{line-height: 294px;text-align: center;font-size: 36px;color: #fff;background: #f58303;font-weight: bold;}
.activity .li6 img{width: 100%;height: 294px;}


/*activity*/
.input-search {position: relative;width: 330px;display: inline-block;top: 5px;left: 1%;}
.input-search .text {width: 79.8%;height: 36px;line-height: 36px;color: #333;padding:0 8px;font-size: 14px;background: #fff;float: left;}
.input-search .button {width: 15%;height: 36px;background: #fff;color: #666;font-size: 18px;cursor: pointer;line-height: 36px;float: left;}
.input-search .button .fa{position: relative;left: 5px;}
.activity-left{margin: 15px 10px 0 35px;background: #fff;width: 220px;}
.activity-middle{margin: 15px 0 0 0;width: 903px;}
.activity-right{margin: 15px 30px 0 0;width: 258px;}
.menu-left{position: relative;padding-bottom: 30px;}
.menu-left .details{width: 100%;text-align: center;margin: 20px 0 20px 0;}
.menu-left .details .name{position: relative;top: 8px;}
.menu-left .head-portrait{border-radius: 110px;}
.menu-left li{}
.menu-left li a{display: inline-block;color: #666;position: relative;height: 80px;line-height: 80px;text-align: center;padding: 0 20px 0 20px;width: 180px;border-bottom: 1px dotted #dbdbdb;z-index: 3;}
.menu-left li a .icon{display: inline-block;width: 40px;height: 40px;line-height: 40px;text-align: center;color: #fff;border-radius: 40px;font-size: 20px;float: left;margin-top: 20px;}
.menu-left li a .fa-angle-right{position: absolute;right: 20px;font-size: 25px;top: 27px;color: #999;}
.menu-left li a .icon1{background: #ff9660;}
.menu-left li a .icon2{background: #8bca77;}
.menu-left li a .icon3{background: #6ecff6;}
.menu-left li a .icon4{background: #32b9c3;}
.menu-left li a .icon5{background: #fdbe34;}
.menu-left li a .icon6{background: #0f69af;}
.menu-left li a .icon7{background: #f65388;}
.dong{position: absolute;opacity: 0.2;filter: alpha(opacity=20);z-index: 2;background: #000;width: 100%;height: 80px;top:154px;}
.published,.comments{width: 100%;background: #f4f5f9;}
.published .p-head,.comments .c-head{width: 96%;height: 35px;line-height: 35px;padding: 0 2%;background: #2b8bd9;color: #fff;font-size: 18px;}
.comments .c-content{width: 100%;}
.published .p-content{padding: 0 2%;width: 96%;}
.c-content textarea{width: 97.8%;padding:1%;font-size: 14px;color: #666;height: 100px;position: relative;z-index:10;border: 1px solid #dbdbdb;}
.c-foot{width: 901px;border: 1px solid #dbdbdb;margin-top: -5px;border-top: none;background: #fff;padding: 8px 0;}
.c-btn{width: 60px;height: 30px;background: #ffe202;border-radius: 4px;float: right;color: #666;margin-right: 15px;position: relative;top: 1px;}
.comments-img{position: relative;left: 15px;top: 2px;}
.a-content{margin-left: 120px;color: #666;font-size: 14px;}
.a-content p .right{margin-top: -30px;}
.application{position: relative;width: 96%;padding: 3% 2%;background: #fff;margin-top: 1%;}
.application-img{float: left;}
.application .title a{font-size: 18px;color: #1168b0;}
.praise-img{position: relative;left: -2px;cursor: pointer;}
.num{position: relative;top: 3px;}
.application .details{padding: 3px 0;height: 2.6em;display: inline-block;}
.application .details p {margin: 0;line-height: 1.3em;}
.recommended,.announcement,.hot-case{background: #fff;width: 90%;padding: 15px 5%;border-top: 7px solid #1168b0;font-size: 14px;margin-bottom: 8px;}
.recommended .title,.announcement .title,.hot-case .title{font-size: 18px;color: #1168b0;}
.ul-recommended,.ul-announcement,.ul-case{color: #666;width: 100%;margin: 10px 0 30px 0;}
.ul-recommended li,.ul-announcement li,.ul-case li{border-bottom: 1px dotted #dbdbdb;width: 100%;padding: 12px 0;}
.ul-recommended li a,.ul-announcement li a,.ul-case li a{color: #404145;display: inline-block;width: 100%;}
.ul-recommended li a .circle,.ul-announcement li a .circle,.ul-case li a .circle{display:inline-block;width: 6px;height: 6px;background: #ccc;border-radius: 6px;margin-right: 6px;position: relative;top: -2px;*top:-5px;}
.ul-recommended li a.active,.ul-announcement li a.active,.ul-case li a.active{color: #1168b0;}
.ul-recommended  li a.active .circle,.ul-announcement li a.active .circle,.ul-case li a.active .circle{background: #1168b0;}
.recommended .more,.announcement .more,.hot-case .more{color: #1168b0;position: relative;top: -15px;}
.ul-recommended li.last,.ul-announcement li.last,.ul-case li.last{border-bottom: none;}



/*company-introduction*/
.content-left{width: 100%;position: relative;}
.person-infomation{position: relative;}
.per-infor{position: absolute;bottom: -25px;right: 25px;z-index: 2;}
.per-infor .details{position: relative;top: 80px;right: 135px;color: #fff;text-align: right;}
.per-infor .details .name{font-size: 18px;}
.cl-content{padding: 15px 30px 15px 80px;background: #fff;color: #000;}
.cl-content p{padding: 6px 25px 6px 0;line-height: 25px;}
.cl-content p .title{color:#666;display: inline-block;width: 72px;}
.cl-content p .f-span{display: inline-block;width: 44%;}
.cl-content p .information{display: inline-block;width: 85px;text-align: center;}
.cl-content p .information-name{color: #666;font-size: 14px;}
.cl-content p .information img{border-radius: 69px;}
.content-right{width: 258px;margin: 15px 0 0 0;}
.cl-menu{}
.cl-menu li{padding: 5px 10px;background: #fff;float: left;color: #333;margin-left: 30px;}
.cl-menu li.active{background: transparent;}
.sisty-img{width: 1205px;}

/*map-case*/
.map{width: 100%;height: 744px;}
#allmap{width: 100%;height: 100%;}
.sisty{margin: 15px 0 0 0;width: 872px;}
.common-title{width: 99%;height: 30px;line-height: 30px;background: #d5e7f0;margin: 35px 0 10px 0;padding-left:1%;color: #666;}
.comment{width: 1036px;margin: 15px 10px 0 80px;}
.d-content{position: relative;margin-bottom: 25px;}
.d-content p{line-height: 36px;padding-left: 13%;}
.d-content p a{color: #666;}
.d-content p .share{color: #666;}
.s-c{padding: 3px 250px 3px 3px;background: #e6e7e8;margin:15px 0 0 15px;}
.s-cc{position: relative;top: 15px;}
.operation{position: absolute;right: 0;bottom: 5px;}
.operation i{font-size: 18px;}
.operation i:hover{
    -webkit-animation: toTopFromBottom .5s forwards;
    -moz-animation: toTopFromBottom .5s forwards;
    -ms-animation: toTopFromBottom .5s forwards;
    animation: toTopFromBottom .3s forwards
}
.more{text-align: right;margin-bottom: 25px;color: #666;}
.btn-left{position: absolute;left: 580px;top: 0;width: 100px;height: 30px;line-height: 30px;text-align: center;background: #cf9;border-radius: 4px;z-index: 1000;font-size: 18px;color: #333;}
.btn-left:hover{background: #af5;}


/*personal-journal*/
.journal-content{text-align: center;margin: 0 auto;background: #fff;padding: 20px 57px;margin-bottom: 15px;}
.journal-content p a{line-height: 35px;font-size: 14px;color: #666;display: inline-block;width: 100%;}
.journal-content p.title a{font-size: 16px;color: #666;}
.release-time{color: #999;}
.journal-content .release-c{color: #333;text-align: left;text-indent: 32px;line-height: 22px;font-size: 14px;}
.journal-content.second{text-align: left;}
.journal-content .down,.journal-content .money{cursor: pointer;display: inline-block;width: 70px;}
.journal-content .down img,.journal-content .money img{position: relative;top: -3px;}


/*magazine-published*/
.wordCount{ position:relative;width: 845px;margin-bottom: 15px;}
.wordCount textarea{ width: 100%; height: 100px;padding: 5px 10px;resize: none;border: 1px solid #dbdbdb;}
.wordCount .textarea1{height: 24px;line-height: 24px;}
.wordCount input{width: 100%;}
.wordCount .wordwrap{ position:absolute; right: -12px; bottom: 12px;color: #666;}
.wordCount .word{ color: red; padding: 0 4px;;}
h4{margin: 8px 0;display: inline-block;}
.dbdb{color: #aaa;font-size: 14px;}


/*create-activity*/
.we-feed{}
.we-feed li{float: left;width: 401px;position: relative;margin-right: 1px;}
.we-feed li:last-child{margin-right: 0;}
.we-feed li img{width: 100%;height: 401px;}
.we-feed .play-on {position: absolute;bottom: 4em;left: 2em;padding-right: 1.5em;z-index: 100;}
.we-feed .play-on .play {background-image: url(../images/paly.png);background-repeat: no-repeat;width: 54px;height: 54px;border-radius: 50%;border: 1px solid white;display: inline-block;background-position: center;background-size: 15px;float: left;cursor: pointer;opacity: .8;filter:alpha(opacity=80);}
.we-feed .play-on .play:hover{opacity: 1;filter:alpha(opacity=100);}
.we-feed .play-on .words {display: inline-block;float: left;margin-top: 1em;margin-left: 1em;}
.we-feed .play-on h4 {color: white;}
h3, h4, h5, h6 {font-family: "Apercu", Calibri, sans-serif;font-weight: 700;letter-spacing: 2px;}
h3, h5, h6{margin: 0.2rem 0 .8rem 120px;}
.we-feed .active-mask-bg,.we-feed .active-mask{position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.we-feed .active-mask-bg{background: rgb(0,0,0);opacity: 0;z-index: 90;filter:alpha(opacity=0);}
.we-feed .active-mask{overflow: hidden;}
.we-feed .active-mask .show{display: inline-block;position: relative;top: -50px;z-index: 100;color: white;font-weight: 600;width: 300px;text-align: center;left: 50%;margin-left: -150px;font-size: 14px;}
.we-feed .active-mask .show.active{top: 50px;}
.creat-active{width: 100%;height: 300px;background: url("../images/events.jpg") no-repeat 100%;overflow: hidden;text-align: center;color: #fff;}
.columns{width: 600px;margin: 0 auto;height: 240px;margin-top: 60px;}
.section-header {position: relative;margin-bottom: 15px;padding-bottom: 15px;line-height: 1;}
.section-text {margin-bottom: 40px;color: #f7f7f7;font-size: 14px;font-family: "微软雅黑";}
.button.shout {background-color: #edae49;border-color: transparent;color: white;display: inline-block;height: 38px;line-height: 38px;width: 140px;}
.activiy{width: 90%;padding: 2% 5%;background: #fff;}
.a-head{width: 100%;text-align: center;padding: 10px 0 30px;font-size: 26px;border-bottom: 1px solid #dbdbdb;}
.activiy-ul{margin-top: 15px;width: 100%;}
.activiy-ul li{float: left;width: 45%;margin-top: 3%;margin-right: 10%;font-family: "微软雅黑"}
.activiy-ul li.mr0{margin-right: 0;}
.active-img{width: 98px;float: left;}
.activiy-ul li p{color: #666;margin-left: 120px;font-size: 12px;}
.activiy-ul li .date{color: #666;font-family: "微软雅黑"}
.activiy-ul li:hover{cursor: pointer;}
.activiy-ul li .name{color: #333;font-size: 14px;font-family: "微软雅黑"}
.activiy-ul li:hover .name{text-decoration: underline;;}
.roommate-list .visible-lg-block {display: block !important;}
#example_video_1{margin: 0 auto;}
.close{position: absolute;width: 24px;height: 24px;right: -12px;top: -12px;font-weight: 100;line-height: 24px;color: #FFF;
    text-align: center;background: #222 none repeat scroll 0 0;border: 2px solid #FFF;border-radius: 30px;opacity: 0.5;filter:alpha(opacity=50);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;}
.close:hover{opacity: 1;filter:alpha(opacity=100);}



.mask-bg,.mask{position: fixed;left: 0;right: 0;top: 0;bottom: 0;z-index: 1002;color: #333;}
.mask-bg{background: #000;opacity: 0.6;filter: alpha(opacity=60);}



/*case*/
.div-slider{width: 100%;background: #eee;}
.ul-menu{width: 100%;height: 60px;background: #fff;}
.ul-menu li{float: left;width: 70px;height: 60px;font-size: 14px;text-align: center;margin-left: 49px;line-height: 60px}
.ul-menu li a,.ul-menu li span{width: 70px;height: 57px;border-bottom: 3px solid transparent;color: #666666;display: inline-block;}
.ul-menu li.active a{border-color: #ff5a00;}
.ul-menu li a:hover{border-color: #edae49;}
.show-slider{width: 100%;margin-top: 20px;display: none;}
.show-slider.active{display: inline-block;}
.show-slider ul{width: 100%;margin-left: 37px;}
.show-slider ul li{width:363px;height: 331px;background: #fff;float: left;margin-right: 20px;margin-bottom: 20px;}
.show-slider ul li.mr0{margin-right: 0;}
.show-slider ul li a{width: 100%;height: 100%;}
.show-slider ul li a .p-head{padding: 15px;border-bottom: 1px solid #dbdbdb;}
.show-slider ul li a .p-head img{margin-right: 15px;width: 87px;}
.show-slider ul li a .ph-content{}
.ph-content .title{color: #333;font-size: 18px;padding: 4px 0 15px 0;}
.ph-content p{font-size: 14px;color: #999;line-height: 23px;}
.show-slider ul li a  .p-content{}


.deatils-p{display: inline-block;width: 230px;height: 3em;}
.deatils-p p {margin: 0;line-height: 1.5em;}
.project-div{width: 96px;height: 210px;border-right: 1px solid #dbdbdb;}
.pd-div{width: 100%;height: 70px;position: relative;}
.boxTime{color: #666;text-align: center;height: 100%;line-height: 70px;}
.pd-div .caret{width: 8px; height: 8px;border-radius: 8px;background: #ff5a00;position: absolute;right: -4px;top: 31px;}
.project-content{width: 255px;height: 210px;padding-left: 10px;}
.project-content p{width: 100%;height: 55px;margin-top: 15px;line-height: 55px;position: relative;top: -7px;color: #666;}



/*media*/
@media screen and (max-width: 1560px) {
    .wrapper{width: 100%;background: #2c2c2c;overflow-x: scroll;}
    .head{width: 100%;}
    .foot{background: #2a2a2a;}
}