<!--评价排序商铺-->
<div class="shop_ist clearfix">
    <div class="s_l_h left">
        <a href="shopsInfor.html">
            <img src="../../assets/frontend/images/shopLog.jpg" alt="">
        </a>
        <p class="title">
            手机
        </p>
        <p>主营产品 : 华为、三星</p>
        <p>创店时间 : 2016-6-20</p>
    </div>
    <ul class="shop_menu clearfix">
        <li>
            <a href="shoppingInfor.html">
                <img src="../../assets/frontend/images/phone2.jpg" alt="">
            </a>
            <div class="s_m_f">
                <p class="s_m_t">华为</p>
                <p class="s_m_f_f clearfix">
                    <span class="money left">￥360</span>
                            <span class="right buyNum">
                                销量 : 50
                            </span>
                </p>
            </div>
        </li>
        <li>
            <a href="###">
                <img src="../../assets/frontend/images/phone3.jpg" alt="">
            </a>
            <div class="s_m_f">
                <p class="s_m_t">三星</p>
                <p class="s_m_f_f clearfix">
                    <span class="money left">￥360</span>
                            <span class="right buyNum">
                                销量 : 50
                            </span>
                </p>
            </div>
        </li>
        <li>
            <a href="###">
                <img src="../../assets/frontend/images/phone2.jpg" alt="">
            </a>
            <div class="s_m_f">
                <p class="s_m_t">苹果</p>
                <p class="s_m_f_f clearfix">
                    <span class="money left">￥360</span>
                            <span class="right buyNum">
                                销量 : 50
                            </span>
                </p>
            </div>
        </li>
        <li class="mr0">
            <a href="###">
                <img src="../../assets/frontend/images/phone1.jpg" alt="">
            </a>
            <div class="s_m_f">
                <p class="s_m_t">魅族</p>
                <p class="s_m_f_f clearfix">
                    <span class="money left">￥360</span>
                            <span class="right buyNum">
                                销量 : 50
                            </span>
                </p>
            </div>
        </li>
    </ul>
</div>