<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <title>PULRA</title>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <style>
        body{background: #fff;}
        .wrapper{height: 100%;background: #fff;}

    </style>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-main">
                <!--<a href="#" class="return"></a>-->
                <span class="return"></span>
                <span class="title">授权信息</span>
            </div>
        </div>
        <div class="content-bg">
            <img src="../../assets/mobile/images/content-bg.png" alt="授权证书"/>
        </div>
        <div class="account-details">
            <div class="account-content">
                <p class="title">授权证明</p>
                <p class="type">兹授权 : </p>
                <div class="first-party">
                    <p>
                        <span class="name">马雪</span>　微信ID : <span class="weixin">w921128w</span>
                    </p>

                    <p>
                        为普莉拉(国际)贸易有限公司
                    </p>

                    <p>
                        旗下系列产品【<span class="level">总台</span>】经销商
                    </p>

                    <p>
                        授权编码 : <span class="number">V511f65651</span>
                    </p>

                    <p>
                        授权期限 : <span class="first-time">2015.12.25-2016.06.25</span>
                    </p>
                </div>
                <p class="type">授权方 : </p>

                <div class="second-party">

                    <p>英国普莉拉(国际)化妆品有限公司</p>

                    <p>普莉拉国际贸易有限公司</p>

                    <p class="second-time"> 2015.12.25</p>
                </div>
            </div>
            <img src="../../assets/mobile/images/chapter.png" alt="证明" class="chapter"/>
        </div>
    </div>
</body>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</html>