<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <title>PULRA</title>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <style>
        .content{background: #f6f6f6;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-main">
                <!--<a href="#" class="return"></a>-->
                <span class="return"></span>
                <span class="title">管理操作</span>
            </div>
        </div>
        <div class="content">
            <p class="admin-title">
                <a href="#">
                    <i class="fa fa-money w30"></i>
                    <span>余额管理</span>
                    <i class="fa fa-angle-right more"></i>
                </a>
            </p>
            <ul class="admin">
                <li>
                    <a href="my-balance.html">
                        <i class="fa fa-caret-right w30"></i>
                        <span class="title">我的余额</span>
                    </a>
                </li>
                <li>
                    <a href="online-recharge.html">
                        <i class="fa fa-caret-right w30"></i>
                        <span class="title">在线充值</span>
                    </a>
                </li>
            </ul>
            <p class="admin-title">
                <a href="#">
                    <i class="fa fa-bars w30"></i>
                    <span>订单管理</span>
                    <i class="fa fa-angle-right more"></i>
                </a>
            </p>
            <ul class="admin">
                <li>
                    <a href="my-order.html">
                        <i class="fa fa-caret-right w30"></i>
                        <span class="title">我的订单</span>
                    </a>
                </li>
                <li>
                    <a href="chioce-production.html">
                        <i class="fa fa-caret-right w30"></i>
                        <span class="title">下单</span>
                    </a>
                </li>
            </ul>
            <p class="admin-title">
                <a href="#">
                    <i class="fa fa-user w30"></i>
                    <span>代理管理</span>
                    <i class="fa fa-angle-right more"></i>
                </a>
            </p>
            <ul class="admin">
                <li>
                    <a href="apply-upgrade.html">
                        <i class="fa fa-caret-right w30"></i>
                        <span class="title">申请升级</span>
                    </a>
                </li>
                <li>
                    <a href="cancel-agent.html">
                        <i class="fa fa-caret-right w30"></i>
                        <span class="title">申请取消</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-caret-right w30"></i>
                        <span class="title">直属下级</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-caret-right w30"></i>
                        <span class="title">代理审核</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-caret-right w30"></i>
                        <span class="title">审核升级</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-caret-right w30"></i>
                        <span class="title">审核取消</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</html>