<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <title>PULRA</title>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-main">
                <!--<a href="#" class="return"></a>-->
                <span class="return"></span>
                <span class="title">取消代理</span>
            </div>
        </div>
        <div class="content">
            <div class="c-head">
                代理信息
            </div><!--取消代理内容-->
            <div class="c-content">
                <p>姓名: <span>陈小洁</span></p>

                <p>微信: <span>cjchencj</span></p>

                <p>电话: <span>15088677745</span></p>

                <p>余额: <span>0.0</span></p>
            </div>
            <div class="c-foot">
                <button class="btn-f98">申请提交</button>
            </div><!--取消代理底部-->
        </div>
    </div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</html>