<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <title>PULRA</title>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/jquery-spinner/css/jquery.spinner.large.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-main">
                <!--<a href="#" class="return"></a>-->
                <span class="return"></span>
                <span class="title">请选择产品</span>
            </div>
        </div>
        <div class="content">
            <ul class="production-group clearfix">
                <li class="clearfix">
                    <img src="../../assets/mobile/images/production.jpg" alt=""/>
                    <span class="details">
                        <p class="product relative">
                            <span>[普莉拉]</span>&nbsp;<span>防晒</span>&nbsp;<span>保湿</span>&nbsp;<span>晒后修复</span>
                        </p>
                        <span class="money relative">
                            <span>市场价 :￥5800</span>
                            <span class="agent-money">代理价 :￥5800</span>
                        </span><br/>
                        <span class="btn relative">
                            <a class="btn-f98">加入购物车</a>
                        </span>
                </span>
                </li>
                <li class="clearfix">
                    <img src="../../assets/mobile/images/production.jpg" alt=""/>
                    <span class="details">
                        <p class="product relative">
                            <span>[普莉拉]</span>&nbsp;<span>防晒</span>&nbsp;<span>防晒</span>&nbsp;<span>防晒</span>
                        </p>
                        <span class="money relative">
                            <span>市场价 :￥5800</span>
                            <span class="agent-money">代理价 :￥5800</span>
                        </span><br/>
                        <span class="btn relative">
                            <a class="btn-f98">加入购物车</a>
                        </span>
                </span>
                </li>
            </ul>
        </div>
        <div class="mask hide">
            <div class="purchase_process">
                <div class="shopping-goods">
                    <div class="div-img">
                        <img src="../../assets/mobile/images/goods1.jpg" alt=""  class="goods-img"/>
                    </div>
                    <span class="money">￥:8000</span>
                    <span class="inventory_number">库存2000件</span>
                </div>
                <div class="shopping">
                    <span>购买数量</span>
                    <input type="text" class="spinnerExample"/>
                </div>
                <ul class="operation">
                    <li>
                        <button class="plus-buy">继续购物</button>
                    </li>
                    <li>
                        <button class="active">结算</button>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</body>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script src="../../assets/global/plugins/jquery-spinner/js/jquery.spinner.js"></script>
    <script type="text/javascript">
        $('.spinnerExample').spinner({});
    </script>
</html>