<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <title>PULRA</title>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <style>
        body{background: #dcdcdc;}
        .content{overflow: hidden;background: #dcdcdc;text-align: center;}
    </style>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <div class="head-main">
            <!--<a href="#" class="return"></a>-->
            <span class="return"></span>
            <span class="title">审核取消</span>
        </div>
    </div>
    <div class="content">
        <form action="" onsubmit="return false" class="form">
            <div class="input-group">
                <label for="QuiltName">
                    <span class="requried">*</span>
                    <input type="text" name="" class="input" id="QuiltName" placeholder="姓名 :"/>
                </label>
            </div>
            <div class="input-group">
                <label for="weixinNumber">
                    <span class="requried">*</span>
                    <input type="tel" name="" class="input" id="weixinNumber" placeholder="微信 :"/>
                </label>
            </div>
            <div class="input-group">
                <label for="Phone">
                    <span class="requried">*</span>
                    <input type="text" name="" class="input" id="Phone" placeholder="电话 :"/>
                </label>
            </div>
            <div class="input-group">
                <p>
                    <span class="title">等级: </span>
                    <span class="p-c">美白天使</span>
                </p>
            </div>
            <div class="input-group">
                <p>
                    <span class="title">剩余余额: </span>
                    <span class="p-c num">240</span>
                </p>
            </div>
            <input type="submit" value="提交" class="btn-f98"/>
        </form>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</html>