<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <title>PULRA</title>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <style>
        .div-content .money{position: relative;top: 10px;}
        .input-group input{background: #f0f0f0;}
    </style>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <div class="head-main">
            <!--<a href="#" class="return"></a>-->
            <span class="return"></span>
            <span class="title">审核提交代理</span>
        </div>
    </div>
    <div class="content">
        <div class="recharge-data">
            <p class="title">共有1个数据</p>
            <div class="recharge-c">
                <p>姓名: 张三(直属下级)</p>
                <p>微信: 125050</p>
                <p>电话: 13678478463</p>
                <p>等级: 白美天使</p>
                <p style="color: red;">退款金额: 960</p>
                <button class="btn-money sure-mony">审核通过</button>
                <button class="btn-money not-money">审核不通过</button>
            </div>
            <div class="recharge-c">
                <p>姓名: 张三(直属下级)</p>
                <p>微信: 125050</p>
                <p>电话: 13678478463</p>
                <p>等级: 白美天使</p>
                <p style="color: red;">退款金额: 960</p>
                <button class="btn-money sure-mony">审核通过</button>
                <button class="btn-money not-money">审核不通过</button>
            </div>
        </div>
        <p style="text-align: center;color: #333;font-size: 14px;">...没有更多数据</p>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</html>