<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <title>PULRA being best</title>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <div class="head-main">
            <!--<a href="#" class="return"></a>-->
            <span class="return"></span>
            <span class="title">物流查看</span>
        </div>
    </div>
    <div class="content">
        <div class="div-title">物流信息</div><!--物流内容-->
        <div class="div-content">
            <p>配送公司: <span>圆通快递</span></p>
            <p>物流单号: <span>45465486436</span></p>
        </div>
        <div class="div-title">物流详情</div><!--物流内容-->
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</html>