<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <title>PULRA being best</title>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <style>
        body,.content{background: #f0f0f0;}
    </style>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <div class="head-main">
            <!--<a href="#" class="return"></a>-->
            <span class="return"></span>
            <span class="title">我的余额</span>
        </div>
    </div>
    <div class="content">
        <div class="balance">
            <div class="b-content">
                <p>总余额 ( 元 )</p>
                <p class="money">0.0</p>
            </div>
            <div class="b-foot">所收贷款（元）0</div>
        </div>
        <ul class="middle-menu balance-menu clearfix">
            <li>
                <span class="title">下单</span><br/>
                <span class="num">1个</span>
                <div class="rb"></div>
                <div class="bb"></div><!--下边框-->
            </li>
            <li>
                <span class="title">汇总</span><br/>
                <span class="num">1个</span>
                <div class="rb"></div>
                <div class="bb"></div><!--下边框-->
            </li>
            <li>
                <span class="title">充值</span><br/>
                <span class="num">1个</span>
                <div class="bb"></div><!--下边框-->
            </li>
            <li>
                <span class="title">取消订单</span><br/>
                <span class="num">1个</span>
                <div class="rb"></div>
            </li>
            <li>
                <span class="title">取消汇总</span><br/>
                <span class="num">1个</span>
                <div class="rb"></div>
            </li>
            <li>
                <span class="title">扣款</span><br/>
                <span class="num">1个</span>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</html>