<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <title>PULRA being best</title>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <style>
        .production-group{background: #fff;border-top: 1px solid #dbdbdb;}
        .production-group li .type{font-size: 18px;color: #ff6965;}
        .production-group li.title{color: #666;}
        .production-group li.title .money{color: #ff6965;}
    </style>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <div class="head-main">
            <!--<a href="#" class="return"></a>-->
            <span class="return"></span>
            <span class="title">我的订单</span>
        </div>
    </div>
    <div class="content">
        <table>
            <tr>
                <td rowspan="2">全部</td>
                <td>待发货</td>
                <td>已发货</td>
                <td>已审单</td>
            </tr>
            <tr>

                <td>已完成</td>
                <td>申请取消</td>
                <td>已取消</td>
            </tr>
        </table>
        <div style="background: #f0f0f0;width: 100%;height: 20px;"></div>
        <ul class="production-group clearfix">
            <li class="title"><span class="type">商品信息</span> <span class="fr"><span class="time">2015-5-5　12:25</span></span></li>
            <li class="title"><span>物流单号　:　254565444</span> <span class="fr money">￥874</span></li>
            <li class="clearfix">
                <img src="../../assets/mobile/images/production.jpg" alt=""/>
                    <span class="details">
                        <p class="product relative">
                            <span>[普莉拉]</span>&nbsp;<span>防晒</span>&nbsp;<span>防晒</span>&nbsp;<span>防晒</span>
                        </p>
                        <span class="money relative">
                            <span>规格 :1箱</span>
                            <span class="agent-money">￥ :1514</span>
                        </span><br/>
                        <span class="btn relative">
                            数量 :3
                        </span>
                </span>
            </li>
            <li class="clearfix">
                <img src="../../assets/mobile/images/production.jpg" alt=""/>
                    <span class="details">
                        <p class="product relative">
                            <span>[普莉拉]</span>&nbsp;<span>防晒</span>&nbsp;<span>防晒</span>&nbsp;<span>防晒</span>
                        </p>
                        <span class="money relative">
                            <span>规格 :1箱</span>
                            <span class="agent-money">￥ :1514</span>
                        </span><br/>
                        <span class="btn relative">
                            数量 :3
                        </span>
                </span>
            </li>
        </ul>
        <ul class="ul-btn clearfix">
            <li><a href="logistics-view.html">查看物流</a></li>
            <li class="active"><a href="#">确认收货</a></li>
            <li class="active"><a href="order-details.html">查看</a></li>
        </ul>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</html>