<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <title>普莉拉</title>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <style>

    </style>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <div class="head-main">
            <!--<a href="#" class="return"></a>-->
            <span class="return"></span>
            <span class="title">通知中心</span>
        </div>
    </div>
    <div class="content">
        <div class="c-content" style="border-bottom: none;">
            <div class="notification">
                <div class="n-head">上级审核充值通知</div><!--通知公告头部-->
                <div class="n-content"><!--通知公告内容-->
                    <p>通知时间 : 11月10日　16:00</p>
                    <p>通知类型 : 上级审核充值通知</p>
                    <p>通知内容 : 审核未通过,审核人张晓</p>
                    <p>通知时间 : 2015.10.21 16:06</p>
                </div>
            </div>
            <div class="notification">
                <div class="n-head">充值通知</div><!--通知公告头部-->
                <div class="n-content"><!--通知公告内容-->
                    <p>通知类型 : 充值通知</p>
                    <p>通知时间 : 11月10日　16:00</p>
                    <p>通知内容 : 陈小洁于2015.10.21 16:06充值222元</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>

</html>