<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <title>PULRA</title>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <div class="head-main">
            <!--<a href="#" class="return"></a>-->
            <span class="return"></span>
            <span class="title">直属下级</span>
        </div>
    </div>
    <div class="content">
        <p class="junior">张三</p>
        <p class="junior">李四</p>
        <p class="junior">王二</p>
        <p class="junior">麻子</p>
        <p class="junior">账务</p>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</html>