<!DOCTYPE html>
<html>
<head lang="en">
    <title>渠道加盟</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/validate-error.css"/>
    <style>
        .head-main .menu li:hover a{color: #666;}
    </style>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <div class="head-bg"></div>
        <div class="head-main">
            <div class="logo left"></div>
            <ul class="menu right clearfix" id="menu">
                <li>
                    <a href="index.html">
                        首页
                    </a>
                </li>
                <li>
                    <a href="homeServices.html">
                        家庭服务
                    </a>
                </li>
                <li>
                    <a href="my-community.html">
                        我的社区
                    </a>
                </li>
                <li>
                    <a href="train.html">
                        在线培训
                    </a>
                </li>
                <li>
                    <a href="space-creation.html">
                        众创空间
                    </a>
                </li>
                <li>
                    <a href="public-protection.html">
                        公益保障
                    </a>
                </li>
                <li>
                    <a href="person-login.html">
                        登录
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="logBodyBg">
        <img src="../../assets/frontend/images/rl_bg.jpg">
    </div>
    <div class="logBg h250"></div>
    <div class="logWrap h250">
        <div class="logBox">
            <ul class="register-ul clearfix">
                <li class="active w100"><a href="javascript:;">渠道商加盟申请</a></li>
            </ul>
            <form action="#" class="form" id="form_sample_1">
                <div class="div-form active">
                    <div class="input-group">
                        <span class="col-sm-4 col-xs-4 col-lg-4 c6">企业名称(或个人)</span>
                        <input type="text" class="form-control col-sm-8 col-xs-8 col-lg-8 w66" placeholder="请输入用户名" name="email">
                    </div>
                    <div class="input-group">
                        <span class="col-sm-4 col-xs-4 col-lg-4 c6">手机号</span>
                        <input type="text" class="form-control col-sm-8 col-xs-8 col-lg-8 w66" placeholder="请输入手机号" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn-Csure">确认</button>
                    <a href="person-login.html" class="btn-cancle">取消</a>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/global/plugins/move/js/move.js"></script>
<script src="../../assets/global/plugins/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="../../assets/global/plugins/metic/js/jquery.validate.js"></script>
<script src="../../assets/global/plugins/metic/js/main.js"></script>
<script src="../../assets/global/plugins/metic/js/form-validation.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        Main.init(); // init metronic core components
        FormValidation.init();
    });
</script>
</html>