<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>社区详情</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/countDown/css/countDown.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <div class="hover-active" id="hover-active"></div>
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="homeServices.html">
                            家庭服务
                        </a>
                    </li>
                    <li class="active">
                        <a href="my-community.html">
                            我的社区
                        </a>
                    </li>
                    <li>
                        <a href="train.html">
                            在线培训
                        </a>
                    </li>
                    <li>
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="public-protection.html">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="person-login.html">
                            登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="join-steward-content">
                <div class="content-main">
                    <img src="../../assets/frontend/images/joined1.jpg" alt="" class="joined1"/>
                    <div class="public-security wauto clearfix">
                        <img src="../../assets/frontend/images/people-com.jpg" alt="" class="left"/>
                        <ul class="public-area joined-ul left">
                            <li class="title">
                                [南岸区-星宇花园]绿色花园
                                <br/>
                                <p class="num">需要帮忙么?找我吧！</p>
                            </li>
                            <li>
                                <span>社区生活服务管家</span>
                            </li>
                            <li>
                                <span>姓名 : 张丽丽</span>
                            </li>
                            <li class="bb0">
                              物管电话 : <span class="phone">150866777754</span>
                            </li>
                        </ul>
                        <ul class="public-area joined-ul phone-list left">
                            <li class="title">
                                其他服务电话
                            </li>
                            <li>
                                <span>社区街道 : 67899555</span>
                                <span class="tar">社区街道 : 67899555</span>
                            </li>
                            <li>
                                <span>社区街道 : 67899555</span>
                                <span class="tar">社区街道 : 67899555</span>
                            </li>
                            <li>
                                <span>社区街道 : 67899555</span>
                                <span class="tar">社区街道 : 67899555</span>
                            </li>
                            <li>
                                <span>社区街道 : 67899555</span>
                                <span class="tar">社区街道 : 67899555</span>
                            </li>
                            <li class="bb0">
                                <span>社区街道 : 67899555</span>
                                <span class="tar">社区街道 : 67899555</span>
                            </li>
                        </ul>
                    </div>
                    <div class="joined-active clearfix">
                        <div class="left div-active">
                            <div class="title">
                                <span class="left">社区生活馆</span>
                                <span>限时优惠 ( 2016.1.5-2016.2.5 ) 深度居家保洁　22元/小时</span>
                                <a href="#" class="btn-look right">查看优惠></a>
                            </div>
                            <ul class="clearfix server-types">
                                <li class="active">社区生活服务</li>
                                <li>社区超市</li>
                                <li>社区教育</li>
                            </ul>
                            <div class="bonus joined-money active clearfix">
                                <div class="bonus-div bonus-div1">
                                    <p class="money">
                                        <span class="large-num">10</span>元
                                    </p>
                                    <p>
                                        <span class="large-words">现金卷</span>
                                    </p>
                                    <button class="btn-get">点击领取</button>
                                </div>
                                <div class="bonus-div bonus-div2">
                                    <p class="money">
                                        <span class="large-num">20</span>元
                                    </p>
                                    <p>
                                        <span class="large-words">现金卷</span>
                                    </p>
                                    <button class="btn-get">点击领取</button>
                                </div>
                                <div class="bonus-div bonus-div3">
                                    <p class="money">
                                        <span class="large-num">5</span>元
                                    </p>
                                    <p>
                                        <span class="large-words">现金卷</span>
                                    </p>
                                    <button class="btn-get">点击领取</button>
                                </div>
                                <div class="bonus-div bonus-div4">
                                    <p class="money">
                                        <span class="large-num">20</span>元
                                    </p>
                                    <p>
                                        <span class="large-words">现金卷</span>
                                    </p>
                                    <button class="btn-get">点击领取</button>
                                </div>
                            </div>
                            <div class="bonus joined-money clearfix">
                                <div class="bonus-div bonus-div1">
                                    <p class="money">
                                        <span class="large-num">10</span>元
                                    </p>
                                    <p>
                                        <span class="large-words">现金卷</span>
                                    </p>
                                    <button class="btn-get">点击领取</button>
                                </div>
                                <div class="bonus-div bonus-div2">
                                    <p class="money">
                                        <span class="large-num">20</span>元
                                    </p>
                                    <p>
                                        <span class="large-words">现金卷</span>
                                    </p>
                                    <button class="btn-get">点击领取</button>
                                </div>
                                <div class="bonus-div bonus-div3">
                                    <p class="money">
                                        <span class="large-num">5</span>元
                                    </p>
                                    <p>
                                        <span class="large-words">现金卷</span>
                                    </p>
                                    <button class="btn-get">点击领取</button>
                                </div>
                                <div class="bonus-div bonus-div4">
                                    <p class="money">
                                        <span class="large-num">20</span>元
                                    </p>
                                    <p>
                                        <span class="large-words">现金卷</span>
                                    </p>
                                    <button class="btn-get">点击领取</button>
                                </div>
                            </div>
                            <div class="bonus joined-money clearfix">
                                <div class="bonus-div bonus-div1">
                                    <p class="money">
                                        <span class="large-num">10</span>元
                                    </p>
                                    <p>
                                        <span class="large-words">现金卷</span>
                                    </p>
                                    <button class="btn-get">点击领取</button>
                                </div>
                                <div class="bonus-div bonus-div2">
                                    <p class="money">
                                        <span class="large-num">20</span>元
                                    </p>
                                    <p>
                                        <span class="large-words">现金卷</span>
                                    </p>
                                    <button class="btn-get">点击领取</button>
                                </div>
                                <div class="bonus-div bonus-div3">
                                    <p class="money">
                                        <span class="large-num">5</span>元
                                    </p>
                                    <p>
                                        <span class="large-words">现金卷</span>
                                    </p>
                                    <button class="btn-get">点击领取</button>
                                </div>
                                <div class="bonus-div bonus-div4">
                                    <p class="money">
                                        <span class="large-num">20</span>元
                                    </p>
                                    <p>
                                        <span class="large-words">现金卷</span>
                                    </p>
                                    <button class="btn-get">点击领取</button>
                                </div>
                            </div>
                            <ul class="rn-ul count-ul clearfix">
                                <li>
                                    <div class="sale-details">
                                        <p class="title">小牛深度居家保洁优惠</p>
                                        <p class="counttitle">距离结束</p>
                                        <div class="colockbox" id="demo02">
                                            <span class="hour">-</span>
                                            <span class="minute">-</span>
                                            <span class="second">-</span>
                                        </div>
                                        <p><span class="fs16">￥ : 299.0元</span>　<span class="fs14">再送30通兑积分</span></p>
                                    </div>
                                    <button class="btn-rorder">立即下单</button>
                                    <img src="../../assets/frontend/images/zm.png" alt="" class="absolute"/>
                                </li>
                                <li class="mr0">
                                    <img src="../../assets/frontend/images/sale-xie.png" alt=""/>
                                    <p class="title">鞋先生上门鞋类护理</p>
                                    <button class="btn-fuli">1元　超值体验</button>
                                    <img src="../../assets/frontend/images/send.png" alt="" class="absolute"/>
                                </li>
                            </ul>


                            <div class="servpackSlider w715">
                                <ul class=" servpack-slider js-active1 clearfix">
                                    <li class="item clearfix">
                                        <div>
                                            <a href="homeServices-setMeal.html">
                                                <img src="../../assets/frontend/images/hsList1.jpg" alt="" class="step-img"/>
                                            </a>
                                            <p>
                                                <span>室内家居保洁-4小时</span><br/>
                                                <span>房屋的基础打理</span>
                                            </p>
                                            <span class="num">￥ : 2000/人</span>
                                        </div>
                                        <div>
                                            <a href="homeServices-setMeal.html">
                                                <img src="../../assets/frontend/images/hsList1.jpg" alt="" class="step-img"/>
                                              
                                            </a>
                                            <p>
                                                <span>室内家居保洁-4小时</span><br/>
                                                <span>房屋的基础打理</span>
                                            </p>
                                            <span class="num">￥ : 2000/人</span>
                                        </div>
                                        <div>
                                            <a href="homeServices-setMeal.html">
                                                <img src="../../assets/frontend/images/hsList1.jpg" alt="" class="step-img"/>
                                              
                                            </a>
                                            <p>
                                                <span>室内家居保洁-4小时</span><br/>
                                                <span>房屋的基础打理</span>
                                            </p>
                                            <span class="num">￥ : 2000/人</span>
                                        </div>
                                        <div>
                                            <a href="homeServices-setMeal.html">
                                                <img src="../../assets/frontend/images/hsList1.jpg" alt="" class="step-img"/>
                                              
                                            </a>
                                            <p>
                                                <span>室内家居保洁-4小时</span><br/>
                                                <span>房屋的基础打理</span>
                                            </p>
                                            <span class="num">￥ : 2000/人</span>
                                        </div>
                                        <div>
                                            <a href="homeServices-setMeal.html">
                                                <img src="../../assets/frontend/images/hsList1.jpg" alt="" class="step-img"/>

                                            </a>
                                            <p>
                                                <span>室内家居保洁-4小时</span><br/>
                                                <span>房屋的基础打理</span>
                                            </p>
                                            <span class="num">￥ : 2000/人</span>
                                        </div>
                                        <div>
                                            <a href="homeServices-setMeal.html">
                                                <img src="../../assets/frontend/images/hsList1.jpg" alt="" class="step-img"/>

                                            </a>
                                            <p>
                                                <span>室内家居保洁-4小时</span><br/>
                                                <span>房屋的基础打理</span>
                                            </p>
                                            <span class="num">￥ : 2000/人</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="left message list-active">
                            <div class="hot-message">
                                <img src="../../assets/frontend/images/joined-img3.jpg" alt=""/>
                                <p class="title bbtr">
                                    <img src="../../assets/frontend/images/ling.png" alt=""/>【社区通知】
                                </p>
                                <ul class="nes-list">
                                    <li>
                                        <a href="#">
                                            <span class="caret"></span>
                                            <span class="title">2015-4-17 重庆融资投资</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="#">
                                            <span class="caret"></span>
                                            <span class="title">2015-4-17 重庆融资投资</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="caret"></span>
                                            <span class="title">2015-4-17 重庆融资投资</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="caret"></span>
                                            <span class="title">2015-4-17 重庆融资投资</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="caret"></span>
                                            <span class="title">2015-4-17 重庆融资投资</span>
                                        </a>
                                    </li>
                                </ul>
                                <p class="more right"><a href="#">查看更多></a></p>
                            </div>
                        </div>
                        <div class="left message list-active last">
                            <div class="hot-message">
                                <img src="../../assets/frontend/images/joined-img3.jpg" alt=""/>
                                <p class="title bbtr">
                                    <img src="../../assets/frontend/images/com-icon4.png" alt=""/>【社区服务】
                                </p>
                                <ul class="nes-list">
                                    <li>
                                        <a href="#">
                                            <span class="caret"></span>
                                            <span class="title">2015-4-17 重庆融资投资</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="#">
                                            <span class="caret"></span>
                                            <span class="title">2015-4-17 重庆融资投资</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="caret"></span>
                                            <span class="title">2015-4-17 重庆融资投资</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="caret"></span>
                                            <span class="title">2015-4-17 重庆融资投资</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="caret"></span>
                                            <span class="title">2015-4-17 重庆融资投资</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="caret"></span>
                                            <span class="title">2015-4-17 重庆融资投资</span>
                                        </a>
                                    </li>
                                </ul>
                                <p class="more right"><a href="#">查看更多></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="severs-case">
                        <ul class="sca-ul sca-ul1 clearfix">
                            <li class="active">周边服务</li>
                            <li class="br0">社区公益</li>
                        </ul>
                        <div class="scSlider scSlider1 active">
                            <div class="sc-slider sc-slider1">
                                <span class="span-s span-s1 active">超市服务</span>
                                <span class="span-s span-s1">维修服务</span>
                                <span class="span-s span-s1">上门服务</span>
                                <ul class="sc-ul sc-ul1" id="sc-ul">
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img1.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                老人看护
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>在家照顾老人的日常生活，陪伴来人让老人不会感觉孤单寂寞沙发水电费是谁的方式</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img2.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                日常家务
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>打扫日常清洁，保洁，让家庭干净整洁，认真仔细的完成雇主要求</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img3.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                植物代养
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>当主任离家，植物在家可能就没有人能帮忙照顾，我们新推出一项服务，植物代养</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mr0">
                                        <img src="../../assets/frontend/images/sc-img1.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                老人看护
                                                <span class="right phone">13678478463</span>

                                            </p>
                                            <div class="deatils-p">
                                                <p>在家照顾老人的日常生活，陪伴来人让老人不会感觉孤单寂寞沙发水电费是谁的方式</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img1.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                老人看护
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>在家照顾老人的日常生活，陪伴来人让老人不会感觉孤单寂寞沙发水电费是谁的方式</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img2.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                日常家务
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>打扫日常清洁，保洁，让家庭干净整洁，认真仔细的完成雇主要求</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img3.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                植物代养
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>当主任离家，植物在家可能就没有人能帮忙照顾，我们新推出一项服务，植物代养</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mr0">
                                        <img src="../../assets/frontend/images/sc-img1.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                老人看护
                                                <span class="right phone">13678478463</span>

                                            </p>
                                            <div class="deatils-p">
                                                <p>在家照顾老人的日常生活，陪伴来人让老人不会感觉孤单寂寞沙发水电费是谁的方式</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="scSlider scSlider1">
                            <div class="sc-slider sc-slider1">
                                <span class="span-s span-s1 active">超市服务</span>
                                <span class="span-s span-s1">维修服务</span>
                                <span class="span-s span-s1">上门服务</span>
                                <ul class="sc-ul sc-ul1" id="sc-ul">
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img1.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                老人看护
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>在家照顾老人的日常生活，陪伴来人让老人不会感觉孤单寂寞沙发水电费是谁的方式</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img2.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                日常家务
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>打扫日常清洁，保洁，让家庭干净整洁，认真仔细的完成雇主要求</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img3.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                植物代养
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>当主任离家，植物在家可能就没有人能帮忙照顾，我们新推出一项服务，植物代养</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mr0">
                                        <img src="../../assets/frontend/images/sc-img1.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                老人看护
                                                <span class="right phone">13678478463</span>

                                            </p>
                                            <div class="deatils-p">
                                                <p>在家照顾老人的日常生活，陪伴来人让老人不会感觉孤单寂寞沙发水电费是谁的方式</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img1.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                老人看护
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>在家照顾老人的日常生活，陪伴来人让老人不会感觉孤单寂寞沙发水电费是谁的方式</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img2.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                日常家务
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>打扫日常清洁，保洁，让家庭干净整洁，认真仔细的完成雇主要求</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img3.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                植物代养
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>当主任离家，植物在家可能就没有人能帮忙照顾，我们新推出一项服务，植物代养</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mr0">
                                        <img src="../../assets/frontend/images/sc-img1.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                老人看护
                                                <span class="right phone">13678478463</span>

                                            </p>
                                            <div class="deatils-p">
                                                <p>在家照顾老人的日常生活，陪伴来人让老人不会感觉孤单寂寞沙发水电费是谁的方式</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <div class="foot-content">
                    <div class="foot-details">
                        <ul class="foot-nav clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">网站支持</p>
                                    <p class="last">网站支持</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于我们</p>
                                    <p class="last">关于我们</p>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <p class="first">加入我们</p>
                                    <p class="last">加入我们</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-us clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">联系我们</p>
                                    <p class="last">联系我们</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务指南</p>
                                    <p class="last">服务指南</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">第三方加盟</p>
                                    <p class="last">第三方加盟</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">常见问题</p>
                                    <p class="last">常见问题</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务保障</p>
                                    <p class="last">服务保障</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于家服汇</p>
                                    <p class="last">关于家服汇</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务优势</p>
                                    <p class="last">服务优势</p>
                                </a>
                            </li>
                        </ul>
                        <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/frontend/js/serveice.js?v=445"></script>
    <script src="../../assets/global/plugins/countDown/js/countDown.js"></script>
    <script type="text/javascript">
        $(function(){
    //            countDown("2015/8/10 23:59:59","#demo01 .day","#demo01 .hour","#demo01 .minute","#demo01 .second");
            countDown("2016/5/30 9:59:59",null,"#demo02 .hour","#demo02 .minute","#demo02 .second");
        });
    </script>
</html>