<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>家庭服务平台</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <style>
        .content{background: #f6f3ee;padding-top: 15px;}
        .head-main .menu li:hover a { color: #333;}
    </style>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <div class="head-bg"></div>
        <div class="head-main">
            <div class="logo left"></div>
            <ul class="menu right clearfix" id="menu">
                <li>
                    <a href="index.html">
                        首页
                    </a>
                </li>
                <li>
                    <a href="homeServices.html">
                        家庭服务
                    </a>
                </li>
                <li>
                    <a href="my-community.html">
                        我的社区
                    </a>
                </li>
                <li>
                    <a href="train.html">
                        在线培训
                    </a>
                </li>
                <li>
                    <a href="space-creation.html">
                        众创空间
                    </a>
                </li>
                <li>
                    <a href="public-protection.html">
                        公益保障
                    </a>
                </li>
                <li>
                    <a href="person-login.html">
                        登录
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-main">
            <div class="ch-head clearfix">
                <div class="left abstract">
                    <p>
                        <span class="title">项目名称</span>
                        <span>邻家学舍O2O家教服务平台</span>
                    </p>
                    <p>
                        <span class="title">创始人</span>
                        <span>杨赟</span>
                    </p>
                    <p>
                        <span class="title">发布时间</span>
                        <span>2014年9月</span>
                    </p>
                    <p>
                        <span class="title">所属行业</span>
                        <span>互联网教育</span>
                    </p>
                    <p>
                        <span class="title">公司名称/个人</span>
                        <span>邻社教育信息咨询有限公司</span>
                    </p>
                    <p>
                        <span class="title">联系方式</span>
                        <span>暂无</span>
                    </p>
                </div>
                <div class="right">
                    <img src="../../assets/frontend/images/case-img1.jpg" alt="" class="case-img">
                </div>
            </div>
            <div class="ch-conten">
                <div class="chc-head">
                    <i class="fa fa-home"></i>
                    <span>公司简介</span>
                </div>
                <div class="chc-content">
                    邻友教育信息咨询公司，成立于2016年初，而其创始团队早在2014年就已在开展教育信息相关服务工作。团队组建以来，通过自主开发家教信息管理与服务型互联网平台，结合线下所开设的社区家教托管服务点，提供以社区家教托管服务为基础的，以互联网信息技术为依托的，线上线下社区教育辅导教育咨询及相关配套商品交易辅助等服务。
                    通过线上线下平台的互通互动性，建立以课外家教辅导为基础的社交圈层，并最终延伸至从早教到大学相关的一系列课外辅导教育一条龙服务，从而建立起课外辅导家教商业服务于一体的综合服务网，打造家教为基础的课外辅导商业服务平台体系，建立和规范课外教育生态圈。
                </div>
            </div>
            <div class="ch-conten">
                <div class="chc-head">
                    <i class="fa fa-file"></i>
                    <span>项目介绍</span>
                </div>
                <div class="chc-content">
                    以及近期开设家教托管班的实践，团队成员的共同深入分析与思考，推出一套基于移动互联网的，线上线下相结合的家教托管互动信息管理服务平台。该平台将全方位提供线上线下学生课外家教辅导信息、学生出入安全监管、学生心理疏导、家长与学生的亲子互动、远程学习监管、家教质量监督与评价、在线招生招师等信息互动服务，并以社区为基础，适时延伸至早教、小学、初中、高中、机关事业单位公招、社区居民等不同类别和不同系列的教育培训服务，进而逐步建立教育培训商业服务综合平台，打造家教为基础的课外辅导商业服务体系，建立和规范课外教育生态圈。
                </div>
            </div>

            <div class="ch-conten">
                <div class="chc-head">
                    <i class="fa fa-star"></i>
                    <span>项目状态</span>
                </div>
                <div class="chc-content">
                    已开设三家家教服务实体店，搭建起初级的家教信息网络平台(包括PC端网站、手机移动端微信平台)。准备进一步拓展实体店规模，升级完善家教信息网络平台功能及服务。
                </div>
            </div>

            <div class="ch-conten">
                <div class="chc-head">
                    <i class="fa fa-users"></i>
                    <span>团队成员</span>
                </div>
                <div class="chc-content">
                    杨赟、涂径、张艳、陈韵、叶馨遥、杨柳
                </div>
            </div>



            <div class="ch-conten">
                <div class="chc-head">
                    <i class="fa fa-users"></i>
                    <span>团队成员</span>
                </div>
                <div class="chc-content">
                    杨赟、涂径、张艳、陈韵、叶馨遥、杨柳
                </div>
            </div>


            <div class="ch-conten">
                <div class="chc-head">
                    <i class="fa fa-bars"></i>
                    <span>成员职位</span>
                </div>
                <div class="chc-content">
                    杨赟—总经理/网络运营及策划总监 <br/>
                    涂径—执行副总经理/招商招生管理总监<br/>
                    张艳---网络推广经理/平台内容主编/主管老师<br/>
                    陈韵---家教主任/教育质量与课题研究主编/主管老师<br/>
                    叶馨遥---综合助理/客服经理及招商经理<br/>
                    杨柳---主管老师/纪律主管<br/>
                    其他老师及兼职老师若干
                </div>
            </div>
        </div>
    </div>
    <div class="foot clearfix">
        <div class="foot-main ">
            <div class="foot-content">
                <div class="foot-details">
                    <ul class="foot-nav clearfix">
                        <li>
                            <a href="#">
                                <p class="first">网站支持</p>
                                <p class="last">网站支持</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">关于我们</p>
                                <p class="last">关于我们</p>
                            </a>
                        </li>
                        <li class="last">
                            <a href="#">
                                <p class="first">加入我们</p>
                                <p class="last">加入我们</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-us clearfix">
                        <li>
                            <a href="#">
                                <p class="first">联系我们</p>
                                <p class="last">联系我们</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">服务指南</p>
                                <p class="last">服务指南</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">第三方加盟</p>
                                <p class="last">第三方加盟</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">常见问题</p>
                                <p class="last">常见问题</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">服务保障</p>
                                <p class="last">服务保障</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">关于家服汇</p>
                                <p class="last">关于家服汇</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">服务优势</p>
                                <p class="last">服务优势</p>
                            </a>
                        </li>
                    </ul>
                    <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                </div>
            </div>
        </div>
        <div class="copyright">
            <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/global/plugins/move/js/move.js"></script>
<script src="../../assets/frontend/js/footHandle.js"></script>
</html>