<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>家庭服务协议</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <style>
        .head-main .menu li:hover a{color: #666;}
        .head-main .menu li span.infor:hover a{color:#333;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="homeServices.html">
                            家庭服务
                        </a>
                    </li>
                    <li>
                        <a href="my-community.html">
                            我的社区
                        </a>
                    </li>
                    <li>
                        <a href="train.html">
                            在线培训
                        </a>
                    </li>
                    <li>
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="public-protection.html">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="person-login.html">登录</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content-main">
                <div class="homeAgreement-infor">
                    <h2>财智身体护理中心加盟</h2>
                    <p class="small-title">2016-03-25 08:42:21</p>

                    <p>所属行业：美容 美容院	</p> 
					<P>企业性质：	私有 </p> 
                    <p>品牌名称：	财智</p> 
                    <p>公司名称：	永上健业（北京）国际商务咨询有限公司	</p> 
					<P>公司地址：	北京市海淀区中关村东路18号世纪科贸大厦A座5层 </p> 
                    <p>加盟留言：	如有加盟意向请留言，以便我们联系您！>> </p> 
                    <p>公司网址：	http://www.ubeautylife.cn </p>            
                    <p>联系电话：	010-62672265/2185 </p>

                    <p class="title">
                        公司背景介绍

                    </p>
					
					<p>
                        永上健业（北京）国际商务有限公司成立于2004年，在广大客户和所有员工的努力下先后成功的打造了财智身体护理中心高档次专业美容护理商业品牌，财智身体护理中心采用会员制的经营模式经营，并取得了很好的效果，截至2012年创造了数千名会员的优秀业绩，财智身体护理中心为格调高雅，服务优质的经营场所，拥有着非常显著的特色和优势，利于经营和发展，财智身体护理中心结合了同行业的优势并不断努力开发研究最终创造了自己独有的经营手段，永上健业（北京）国际商务有限公司真诚邀请各位有兴趣的客户加入我们的行列，希望和您一同打造业内一流的私人会员制专业美容健康行业。

                    </p>                 

                    <p class="title">
                        经营理念

                    </p>

                    <p>
                        满意度的经营理念-财智身体护理中心始终追求会员的满意度的经营理念，会员满意度高低影响到经营效果，和经营未来，在长期的经营中财智身体护理中心一直秉承着追求会员满意度的经营理念，在经营过程中受益匪浅。健康的经营理念-财智身体护理中心所有代理的产品和护理项目以及项目疗程都是经过公司长时间深思熟虑仔细考研最终引进的，并最终得到会员的认可和接受，财智身体护理中心始终以为会员提供健康美容产品服务理念为自身的责任高品质的经营理念-财智身体护理中心始终追求高品质服务的核心理念，不断扩大会员服务的附加值，增强自身的竞争能力，不断创造自身的优势。
                    </p>
                                     
                    <p class="title">
                        发展历程

                    </p>


                    <p>
                        2004年永上健业（北京）国际商务咨询有限公司成立
                    </p>

                    <p>
                        2005年永上健业开创自身的品牌财智身体护理中心财智大厦店，经营面积70平方米，第一年会员数量达到500名
                    </p>

                    <p>
                        2006年扩大财智身体护理中心财智大厦店经营面积，扩充后的经营面积达到500平方米，当年会员数量达到1200名
                    </p>
					
					<p>
                        2008年开办财智身体护理中心科贸大厦店，经营面积为500平方米，当年会员总数量达到2000名
                    </p>
					
					<p>
                        2009年扩大财智身体护理中心科贸店的经营面积和功能，增加香水健身功能区域，扩建后总经营面积为800平方米，当年会员总数量达到超过3000名
                    </p>
					
					<p>
                        2010年底财智身体护理中心世贸天阶店成立，经营面积为300平方米左右
                    </p>
					
					<p>
                        2011年底会员数量达到200名
					</p>
						                    					
					<p>
                        2011年底财智身体护理中心京广中心店成立经营面积为300平方米
                    </p>
					
					<p>
                        2011年底会员数量达到180名
                    </p>
					
					<p>
                        2011年5月财智身体护理中心金融家俱乐部合作店成立,经营面积110平方米
                    </p>
					
					<p>
                        2011年底会员数量达到40名
                    </p>
					
					<p>
                        2011年吉林省延边自治州延吉市禧福汇女子俱乐部成立（委托顾问管理经营）.经营面积1000平方米
                    </p>
					
					<p>
                        2011年底会员数量达到380名
                    </p>
					
					<p>
                        2012年开始拓展财智身体护理中心本地和异地的加盟业务
                    </p>
                </div>
                <br/>
            </div>
        </div>
        <div class="foot clearfix">
        <div class="foot-main ">
            <div class="foot-content">
                <div class="foot-details">
                    <ul class="foot-nav clearfix">
                        <li>
                            <a href="#">
                                <p class="first">网站支持</p>
                                <p class="last">网站支持</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">关于我们</p>
                                <p class="last">关于我们</p>
                            </a>
                        </li>
                        <li class="last">
                            <a href="#">
                                <p class="first">加入我们</p>
                                <p class="last">加入我们</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-us clearfix">
                        <li>
                            <a href="#">
                                <p class="first">联系我们</p>
                                <p class="last">联系我们</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">服务指南</p>
                                <p class="last">服务指南</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">第三方加盟</p>
                                <p class="last">第三方加盟</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">常见问题</p>
                                <p class="last">常见问题</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">服务保障</p>
                                <p class="last">服务保障</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">关于家服汇</p>
                                <p class="last">关于家服汇</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">服务优势</p>
                                <p class="last">服务优势</p>
                            </a>
                        </li>
                    </ul>
                    <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                </div>
            </div>
        </div>
        <div class="copyright">
            <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
        </div>
    </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/personCenter.js"></script>
    <script src="../../assets/frontend/js/footHandle.js"></script>
</html>