<!DOCTYPE html>
<html>
<head lang="en">
    <title>忘记密码</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/validate-error.css"/>
    <style>
        .col-sm-9, .col-sm-5 ,.col-sm-6,.col-sm-12{padding: 0;}
        .col-sm-3 {height: 34px;padding: 0;line-height: 34px;font-size: 14px;text-align: left;}
        .btn {width: 80px;height: 34px;display: inline-block;background: #dbdbdb;}
        a.btn:hover{text-decoration: none;}
        .fbtn-sure {line-height: 20px;background: #f16b22; color: #fff;}
        a.fbtn-return {position: relative;left: 10px;color: #fff;}
        .head-main .menu li:hover a{color: #666;}
        @media screen and (min-width: 640px) {
            .form .form-group {height: 34px;position: relative;}
        }
    </style>
    <!--[if IE 8]>
    <style>
        .form-group.pb15 {padding-bottom: 15px;height: 34px;}
    </style>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <div class="head">
        <div class="head-bg"></div>
        <div class="head-main">
            <div class="logo left"></div>
            <ul class="menu right clearfix" id="menu">
                <li>
                    <a href="index.html">
                        首页
                    </a>
                </li>
                <li>
                    <a href="homeServices.html">
                        家庭服务
                    </a>
                </li>
                <li>
                    <a href="my-community.html">
                        我的社区
                    </a>
                </li>
                <li>
                    <a href="train.html">
                        在线培训
                    </a>
                </li>
                <li>
                    <a href="space-creation.html">
                        众创空间
                    </a>
                </li>
                <li>
                    <a href="public-protection.html">
                        公益保障
                    </a>
                </li>
                <li>
                    <a href="person-login.html">
                        登录
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="logBodyBg">
        <img src="../../assets/frontend/images/rl_bg.jpg">
    </div>
    <div class="logBg"></div>
    <div class="logWrap">
        <div class="logBox">
            <form action="#" class="form" onsubmit="return false;" id="form1">
                <div class="form-group pb15">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <div class="col-sm-3 col-xs-3 col-md-3">
                            手机号
                        </div>
                        <div class="col-sm-9 col-xs-9 col-md-9">
                            <input type="text" class="form-control" name="mobile" id="mobile" placeholder="请输入手机号">
                        </div>
                    </div>
                </div>
                <div class="form-group pb15">
                    <div class="col-sm-3 col-xs-3 col-md-3">
                        手机号
                    </div>
                    <div class="col-sm-5 col-xs-5 col-md-5">
                        <input type="text" id="" class="form-control" placeholder="请输入验证码">
                    </div>
                    <div class="col-sm-4 col-xs-4 col-md-4">
                        <input type="button" id="getting" class="getcode" value="获取验证码">
                    </div>
                </div>
                <div class="form-group pb15">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <div class="col-sm-3 col-xs-3 col-md-3 new">
                            新密码
                        </div>
                        <div class="col-sm-9 col-xs-9 col-md-9">
                            <input type="password" class="form-control" name="passwd" id="passwd" placeholder="请输入您的新密码">
                        </div>
                    </div>
                </div>
                <div class="form-group pb15">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <div class="col-sm-3 col-xs-3 col-md-3">
                            确认密码
                        </div>
                        <div class="col-sm-9 col-xs-9 col-md-9">
                            <input type="password" class="form-control" name="confirmPasswd" id="confirmPasswd" placeholder="请确认新密码">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-xs-6 col-md-6 col-sm-offset-3 col-xs-offset-3 col-md-offset-3">
                        <button class="btn fbtn-sure" id="sure">确定</button>
                        <a href="#" class="btn fbtn-return">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/global/plugins/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="../../assets/global/plugins/metic/js/jquery.validate.js"></script>
<script src="../../assets/global/plugins/metic/js/main.js"></script>
<script src="../../assets/global/plugins/metic/js/form-validation.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        Main.init(); // init metronic core components
        FormValidation.init();
        $(function(){
            $('#getting').click(function(){
                var btn = $(this);
                var count = 60;
                var resend = setInterval(function(){
                    count--;
                    if (count > 0){
                        btn.val(count+"秒后可重新获取");
                        btn.addClass("active");
//                        $.cookie("captcha", count, {path: '/', expires: (1/86400)*count});
                    }else {
                        clearInterval(resend);
                        btn.removeClass("active");
                        btn.val("获取验证码").removeAttr('disabled style');
                    }
                }, 1000);
                btn.attr('disabled',true).css('cursor','not-allowed');
            });



        });
    });
</script>
</html>