<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>衣柜整理</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body>
    <div class="wrapper">

        <div class="content">
            <div class="content-main">
                <img src="../../assets/frontend/images/wardrobe1.jpg" />
                <div class="keeper clearfix">
                    <div class="keep-details left">
                        <div class="div-table">
                            <p class="title">
                                <span class="left">参考使用时间</span>
                                <span class="right">25/小时,2小时起</span>
                            </p>
                            <table class="wd-table">
                                <tbody>
                                <tr>
                                    <th>尺寸/米</th>
                                    <th>价格</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>600元</td>
                                </tr>
                                <tr>
                                    <td>3-3.5</td>
                                    <td>1800元</td>
                                </tr>
                                <tr>
                                    <td>4.0-4.5</td>
                                    <td>2400元</td>
                                </tr>
                                <tr>
                                    <td>5.0以上</td>
                                    <td>面议</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="keep-commont" style="margin-top: 20px;">
                            <!--<div class="keep-mask-bg"></div>-->
                            <!--<div class="keep-mask">我们的保洁服务人员将会最快速、最认真、最完善的完成您的任务</div>-->
                            <img src="../../assets/frontend/images/ward1.jpg" />
                        </div>
                    </div>
                    <div class="reserve right">
                        <p class="title">在线预订</p>
                        <div class="reserve-indormation">
                            <p class="title">请输入您衣柜的长度</p>
                            <select name=""  class="select-time" style="width: 310px;">
                                <option value="2米">2米</option>
                                <option value="3米">3米</option>
                                <option value="4米">4米</option>
                            </select>
                            <p class="title">请输入您需要服务的时间</p>
                            <div class="reserve-date clearfix">
                                <div class="div-wdate left">
                                    <input id="d4311" class="Wdate" type="text" placeholder="2015-10-10" onFocus="WdatePicker({minDate:'%y-%M-{%d}'})"/>
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <select name="" id="" class="select-time right">
                                    <option value="时间">时间</option>
                                    <option value="2015-10-10">2015-10-10</option>
                                    <option value="2015-10-10">2015-10-10</option>
                                </select>
                            </div>
                            <p class="title" style="padding-top: 0;">请输选择件数</p>
                                    <span class="s-spinner">
                                        <input type="text" class="spinner"/>
                                        <button class="btn-common btn-plus">+</button>
                                        <button class="btn-common btn-reduce" disabled="disabled">-</button>
                                    </span>
                            <p class="title total-title">总价 : <span class="num total">0</span></p>
                            <p class="title">更多需求</p>
                            <textarea style="resize: none" name=""  cols="50" rows="3" class="textarea"   placeholder="您可以在这里备注需求"></textarea>
                            <p class="title">
                                <input type="checkbox"/> 我已经阅读并同意《家服汇用户使用协议》
                            </p>
                            <div class="div-order">
                                <a href="order-pay.html" class="btn-order">下单</a>
                                <!--<input type="submit" value="下单" class="btn-order"/>-->
                            </div>
                            <p class="title ta">
                                部分服务需要现场协商,差额部分追加下单
                            </p>
                            <div class="div-order">
                                <input type="submit" value="追加下单" class="btn-order"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="related-services">
                    <div class="rs-head">相关服务</div>
                    <ul class="rs-ul clearfix">
                        <li>
                            <a href="#">
                                <img src="../../assets/frontend/images/wardrobe5.jpg" />
                            </a>
                            <p class="title">衣柜整理</p>
                            <p>是的范德萨发生地方</p>
                            <i class="fa fa-check right active"></i>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../assets/frontend/images/wardrobe5.jpg" />
                            </a>
                            <p class="title">衣柜改造</p>
                            <p>是的范德萨发生地方</p>
                            <i class="fa fa-check right"></i>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../assets/frontend/images/wardrobe5.jpg" />
                            </a>
                            <p class="title">服饰搭配</p>
                            <p>是的范德萨发生地方</p>
                            <i class="fa fa-check right"></i>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../assets/frontend/images/wardrobe5.jpg" />
                            </a>
                            <p class="title">基本物料</p>
                            <p>是的范德萨发生地方</p>
                            <i class="fa fa-check right"></i>
                        </li>
                    </ul>
                </div>
                <div class="server-step server-step1">
                    <img src="../../assets/frontend/images/step-img1.jpg" class="step-img"/>
                </div>

                <div class="server-exrample">
                    <ul class="se-ul clearfix">
                        <li>
                            <span>服务规范</span>
                        </li>
                        <li>
                            <span>注意事项</span>
                        </li>
                        <li>
                            <span>案例展示</span>
                        </li>
                        <li class="mr0 active">
                            <span>工具展示</span>
                        </li>
                    </ul>
                    <div class="se-div">
                        <p class="title">低价尊享各项服务内容</p>
                        <ul class="clearfix con-details">
                            <li>
                                <img src="../../assets/frontend/images/scul1.png" alt=""/>
                                <p class="title">卧室</p>
                                <p>床铺整理、物品整理、家具表面清洁、内窗玻璃清洁、门及门框清洁、地面清洁、垃圾清理</p>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/scul1.png" alt=""/>
                                <p class="title">卧室</p>
                                <p>床铺整理、物品整理、家具表面清洁、内窗玻璃清洁、门及门框清洁、地面清洁、垃圾清理</p>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/scul1.png" alt=""/>
                                <p class="title">卧室</p>
                                <p>床铺整理、物品整理、家具表面清洁、内窗玻璃清洁、门及门框清洁、地面清洁、垃圾清理</p>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/scul1.png" alt=""/>
                                <p class="title">卧室</p>
                                <p>床铺整理、物品整理、家具表面清洁、内窗玻璃清洁、门及门框清洁、地面清洁、垃圾清理</p>
                            </li>
                        </ul>
                    </div>
                    <div class="se-div">
                        <div class="tool-change">
                            <div class="tool-details left">
                                <p class="title">衣橱整理师工具</p>
                                <p>
                                    建立正确的舒服舒服法国家的热土看看记录人借口借口离开就是广东发鬼地方个人体有如同阳光狐疑的法规的个人体
                                </p>
                            </div>
                            <img src="../../assets/frontend/images/wardrobe4.jpg"/>
                        </div>
                    </div>
                    <div class="se-div">
                        <div class="tool-change">
                            <div class="tool-details left">
                                <p class="title">衣橱整理师工具</p>
                                <p>
                                    建立正确的舒服舒服法国家的热土看看记录人借口借口离开就是广东发鬼地方个人体有如同阳光狐疑的法规的个人体
                                </p>
                            </div>
                            <img src="../../assets/frontend/images/wardrobe4.jpg"/>
                        </div>
                    </div>
                    <div class="se-div active">
                        <div class="tool-change">
                            <div class="tool-details left">
                                <p class="title">衣橱整理师工具</p>
                                <p>
                                    建立正确的舒服舒服法国家的热土看看记录人借口借口离开就是广东发鬼地方个人体有如同阳光狐疑的法规的个人体
                                </p>
                            </div>
                            <img src="../../assets/frontend/images/wardrobe4.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <div class="foot-content">
                    <div class="foot-details">
                        <ul class="foot-nav clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">网站支持</p>
                                    <p class="last">网站支持</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于我们</p>
                                    <p class="last">关于我们</p>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <p class="first">加入我们</p>
                                    <p class="last">加入我们</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-us clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">联系我们</p>
                                    <p class="last">联系我们</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务指南</p>
                                    <p class="last">服务指南</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">第三方加盟</p>
                                    <p class="last">第三方加盟</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">常见问题</p>
                                    <p class="last">常见问题</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务保障</p>
                                    <p class="last">服务保障</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于家服汇</p>
                                    <p class="last">关于家服汇</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务优势</p>
                                    <p class="last">服务优势</p>
                                </a>
                            </li>
                        </ul>
                        <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/frontend/js/spinner.js"></script>
    <script type="text/javascript">
        (function($){
            $(".s-spinner").spinner({
                defaultNum:0,
                maxNum:100
            });

            var rul = $(".se-ul li");
            var rl = $(".se-div");
            rul.each(function(i){
                $(this).on("click",function(){
                    $(this).addClass("active");
                    $(this).siblings().removeClass("active");
                    rl.eq(i).addClass("active");
                    rl.eq(i).siblings(rl).removeClass("active");
                })
            })
        })(jQuery)
    </script>
</html>