<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>皮鞋护理</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/jquery-spinner/css/jquery.spinner.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <div class="hover-active" id="hover-active"></div>
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li class="active">
                        <a href="homeServices.html">
                            家庭服务
                        </a>
                    </li>
                    <li>
                        <a href="my-community.html">
                            我的社区
                        </a>
                    </li>
                    <li>
                        <a href="train.html">
                            在线培训
                        </a>
                    </li>
                    <li>
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="public-protection.html">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="person-login.html">
                            登录
                        </a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content-main">
                <img src="../../assets/frontend/images/ls1.jpg" />
                <div class="server-chioce bg1">
                    <ul class="sch-menu bg1 clearfix">
                        <li class="active">
                            <p>上门擦皮鞋</p>
                        </li>
                        <li class="mr0">
                            <p>鞋柜清理</p>
                        </li>
                    </ul>
                </div>
                <div class="keeper clearfix jsActive">
                    <div class="active">
                        <div class="keep-details left">
                            <div class="keep-commont">
                                <div class="keep-mask-bg"></div>
                                <div class="keep-mask">皮鞋的日常护理是很重要的，对工具是有很高的要求的所以不能简单处理</div>
                                <img src="../../assets/frontend/images/keeper2.jpg" />
                            </div>
                            <div class="area-infor">
                                <div class="title bg1">服务介绍</div>
                                <ul class="area-menu bg1 clearfix">
                                    <li>
                                        <div class="area-num le1">
                                        </div>
                                        <p>清洁鞋面</p>
                                    </li>
                                    <li>
                                        <div class="area-num le2">
                                        </div>
                                        <p>上油保护</p>
                                    </li>
                                    <li>
                                        <div class="area-num le3">
                                        </div>
                                        <p>鞋面补色</p>
                                    </li>
                                    <li>
                                        <div class="area-num le4">
                                        </div>
                                        <p>擦亮鞋面</p>
                                    </li>
                                </ul>
                                <p class="stype-title">
                                    服务介绍 :
                                </p>

                                <p>
                                    家服汇平台面向广大社区推出全新品牌服务“鞋先生”，我们的技师均经过专业的培训和考核。随身携带德国进口擦鞋工具上门为用户解决社区找不到优质鞋垫为自己爱写作专业护理的烦恼。
                                    通过对皮鞋的专业护理和擦拭,用户陈旧已久的皮鞋将会焕然一新；在进口鞋油及药剂的辅助下，还可以使用户摆脱脚臭的烦恼,为用户的品质生活增添新的光彩。
                                </p>
                                <p class="stype-title">
                                    星级标准 :
                                </p>

                                <p class="p-list lear-list">
                                    <span><img src="../../assets/frontend/images/lear-caret.png">　专用抗菌毛巾(保护皮革,擦拭中做到0损伤)</span>
                                </p>

                                <p class="p-list lear-list">
                                    <span><img src="../../assets/frontend/images/lear-caret.png">　法国依云原装进口喷雾剂（在清洁鞋面时，纯天然矿泉水不含任何杂质与真菌，彻底润洁鞋面）</span>
                                </p>
                                <p class="p-infors">德国WOLY原装进口产品</p>
                                <p class="ti10">中性清洗液 <span class="small-span">（高品质重环保的中性洗液能彻底清除鞋面顽固污渍）</span></p>
                                <p class="ti10">滋养油 <span class="small-span">（高品质重环保的滋养油能让爱鞋的皮革受到加倍滋养，软化皮革延长使用寿命）</span></p>
                                <p class="ti10">鞋油 <span class="small-span">（高品质重环保的鞋油能够起到对爱鞋划伤之处有明显的补色和简单修复功能，让陈旧的鞋子焕然一新）</span></p>
                                <p class="ti10">马毛刷 <span class="small-span">（天然马毛在皮鞋掸亮过程中起到让鞋面更加亮泽的作用）</span></p>
                                <p class="ti10">鞋蜡 <span class="small-span">（纯天然蜂蜡在鞋面形成一道防水、防尘、防油脂的保护膜，加倍呵护您的爱鞋）</span></p>
                                <p class="ti10">芳香剂 <span class="small-span">（纯天然花香，让您摆脱臭鞋烦恼，出门更有自信）</span></p>
                            </div>
                        </div>
                        <div class="reserve right">
                            <p class="title bg1">在线预订</p>
                            <div class="reserve-indormation">
                                <p class="title">请输入皮鞋双数</p>
                                <div class="clearfix services-type">
                                    <input type="text" class="spinnerExample"/>
                                    <span class="right company">双</span>
                                </div>
                                <p class="title">总计<span class="num">1双</span></p>
                                <p class="title pt0">预计余额费用<span class="num">25元</span></p>
                                <p class="title pt0 after">请选择服务时间(酒红色域为可预约)</p>
                                <div class="chiocetime hide">
                                    <p class="title">请输入服务时间</p>
                                    <select name="" class="select1 auto">
                                        <option value="9:00">9:00</option>
                                        <option value="10:00">10:00</option>
                                        <option value="11:00">11:00</option>
                                        <option value="12:00">12:00</option>
                                        <option value="13:00">13:00</option>
                                        <option value="14:00">14:00</option>
                                        <option value="15:00">15:00</option>
                                        <option value="16:00">16:00</option>
                                        <option value="17:00">17:00</option>
                                        <option value="18:00">18:00</option>
                                    </select>
                                    <button class="btn-sureTime">确定</button>
                                </div>
                                <ul class="make-appointment clearfix">
                                    <li>
                                        <span class="maked"></span>不可预约
                                    </li>
                                    <li>
                                        <span class="making"></span>可预约
                                    </li>
                                    <li>
                                        <span class="no-make"></span>预约中
                                    </li>
                                </ul>
                                <p class="title">更多需求</p>
                                <textarea style="resize: none" name=""  cols="50" rows="3" class="textarea"   placeholder="您可以在这里备注需求"></textarea>
                                <p class="title total-title pt0">￥ : <span class="num total">0</span></p>
                                <p class="title">
                                    <label>
                                        <input type="checkbox"/> 我已经阅读并同意
                                    </label>
                                    <a href="#">《家服汇用户使用协议》</a>
                                </p>
                                <div class="div-order">
                                    <a href="order-pay.html" class="btn-order bg1">下单</a>
                                    <!--<input type="submit" value="下单" class="btn-order"/>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="keep-details left">
                            <div class="keep-commont">
                                <div class="keep-mask-bg"></div>
                                <div class="keep-mask">皮鞋的日常护理是很重要的，对工具是有很高的要求的所以不能简单处理</div>
                                <img src="../../assets/frontend/images/keeper2.jpg" />
                            </div>
                            <div class="area-infor">
                                <div class="title bg1">服务介绍</div>
                                <ul class="area-menu bg1 clearfix">
                                    <li>
                                        <div class="area-num le5">
                                        </div>
                                        <p>快速专业</p>
                                    </li>
                                    <li>
                                        <div class="area-num le6">
                                        </div>
                                        <p>便捷高效</p>
                                    </li>
                                    <li>
                                        <div class="area-num le7">
                                        </div>
                                        <p>摆放整齐</p>
                                    </li>
                                    <li>
                                        <div class="area-num le8">
                                        </div>
                                        <p>洁净清香</p>
                                    </li>
                                </ul>
                                <p class="stype-title">
                                    服务介绍 :
                                </p>

                                <p>
                                    鞋柜清洁服务是家服汇全新推出的“鞋先生”上门服务的分支，专业为家居卫生死角“鞋柜”进行专项专业化的保洁服务，我们的服务人员均通
                                    过标准化管理、规范化的培训流程专业化保洁工具为广大用户提供最便捷、快速、
                                    高效鞋柜清洁服务体验。
                                </p>
                                <p class="stype-title">
                                    适用范围 :
                                </p>

                                <p>
                                    各类鞋柜表面，把手，隔板，内壁
                                </p>
                                <p class="stype-title">
                                    服务标准 :
                                </p>

                                <p>
                                    各类鞋柜表面，把手，隔板，内壁干净;鞋类摆放整齐;鞋柜散发清香
                                </p>
                                <p class="stype-title">
                                    星级标准 :
                                </p>

                                <p class="p-list lear-list">
                                    <span><img src="../../assets/frontend/images/lear-caret.png">　鞋柜的表面杂物和灰层清洁</span>
                                </p>

                                <p class="p-list lear-list">
                                    <span><img src="../../assets/frontend/images/lear-caret.png">　取出柜内鞋物</span>
                                </p>


                                <p class="p-list lear-list">
                                    <span><img src="../../assets/frontend/images/lear-caret.png">　鞋柜里板除垢</span>
                                </p>
                                <p class="p-list lear-list">
                                    <span><img src="../../assets/frontend/images/lear-caret.png">　鞋柜板缝、柜脚、把手除垢</span>
                                </p>
                                <p class="p-list lear-list">
                                    <span><img src="../../assets/frontend/images/lear-caret.png">　鞋柜外部整体除垢</span>
                                </p>
                                <p class="p-list lear-list">
                                    <span><img src="../../assets/frontend/images/lear-caret.png">　除垢后擦拭、通风、干燥、加香处理</span>
                                </p>
                                <p class="p-list lear-list">
                                    <span><img src="../../assets/frontend/images/lear-caret.png">　摆放回鞋物</span>
                                </p>
                            </div>
                        </div>
                        <div class="reserve right">
                            <p class="title bg1">在线预订</p>
                            <div class="reserve-indormation">
                                <p class="title">请输入鞋柜长度</p>
                                <div class="clearfix services-type">
                                    <input type="text" class="spinnerExample"/>
                                    <span class="right company">米</span>
                                </div>
                                <p class="title">总计<span class="num">1米</span></p>
                                <p class="title pt0">预计余额费用<span class="num">25元</span></p>
                                <p class="title pt0 after">请选择服务时间(酒红色域为可预约)</p>
                                <div class="chiocetime hide">
                                    <p class="title">请输入服务时间</p>
                                    <select name="" class="select1 auto">
                                        <option value="9:00">9:00</option>
                                        <option value="10:00">10:00</option>
                                        <option value="11:00">11:00</option>
                                        <option value="12:00">12:00</option>
                                        <option value="13:00">13:00</option>
                                        <option value="14:00">14:00</option>
                                        <option value="15:00">15:00</option>
                                        <option value="16:00">16:00</option>
                                        <option value="17:00">17:00</option>
                                        <option value="18:00">18:00</option>
                                    </select>
                                    <button class="btn-sureTime">确定</button>
                                </div>
                                <ul class="make-appointment clearfix">
                                    <li>
                                        <span class="maked"></span>不可预约
                                    </li>
                                    <li>
                                        <span class="making"></span>可预约
                                    </li>
                                    <li>
                                        <span class="no-make"></span>预约中
                                    </li>
                                </ul>
                                <p class="title">更多需求</p>
                                <textarea style="resize: none" name=""  cols="50" rows="3" class="textarea"   placeholder="您可以在这里备注需求"></textarea>
                                <p class="title total-title pt0">￥ : <span class="num total">0</span></p>
                                <p class="title">
                                    <label>
                                        <input type="checkbox"/> 我已经阅读并同意
                                    </label>
                                    <a href="#">《家服汇用户使用协议》</a>
                                </p>
                                <div class="div-order">
                                    <a href="order-pay.html" class="btn-order">下单</a>
                                    <!--<input type="submit" value="下单" class="btn-order"/>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="server-step bg1">
                    <ul class="server-ul clearfix">
                        <li>
                            <img src="../../assets/frontend/images/s-icon1.png" alt=""/>
                            <span>适用范围</span>
                        </li>
                        <li>
                            <img src="../../assets/frontend/images/s-icon2.png" alt=""/>
                            <span>服务标准</span>
                        </li>
                        <li>
                            <img src="../../assets/frontend/images/s-icon3.png" alt=""/>
                            <span>服务保障</span>
                        </li>
                        <li>
                            <img src="../../assets/frontend/images/s-icon4.png" alt=""/>
                            <span>订单须知</span>
                        </li>
                    </ul>
                </div>
                <div class="service-introduction service-introduction1 server">
                    <p class="title bg1">服务项目</p>
                    <div class="siSlider">
                        <ul class="si-menu active-ul clearfix">
                            <li class="item">
                                <div>
                                    <img src="../../assets/frontend/images/lea1.jpg" alt=""/>
                                    <div class="nws-infor">
                                        <p class="title">护工照顾病人</p>
                                        <p class="details-p">病人的日常护理、洗漱照顾、日常清洁</p>
                                        <a href="#" class="btn-look">查看详情</a>
                                    </div>
                                </div>
                                <div>
                                    <img src="../../assets/frontend/images/lea2.jpg" alt=""/>
                                    <div class="nws-infor">
                                        <p class="title">护工照顾病人</p>
                                        <p class="details-p">病人的日常护理、洗漱照顾、日常清洁</p>
                                        <a href="#" class="btn-look">查看详情</a>
                                    </div>
                                </div>
                                <div class="mr0">
                                    <img src="../../assets/frontend/images/lea1.jpg" alt=""/>
                                    <div class="nws-infor">
                                        <p class="title">护工照顾病人</p>
                                        <p class="details-p">病人的日常护理、洗漱照顾、日常清洁</p>
                                        <a href="#" class="btn-look">查看详情</a>
                                    </div>
                                </div>
                                <div>
                                    <img src="../../assets/frontend/images/lea2.jpg" alt=""/>
                                    <div class="nws-infor">
                                        <p class="title">护工照顾病人</p>
                                        <p class="details-p">病人的日常护理、洗漱照顾、日常清洁</p>
                                        <a href="#" class="btn-look">查看详情</a>
                                    </div>
                                </div>
                                <div>
                                    <img src="../../assets/frontend/images/lea1.jpg" alt=""/>
                                    <div class="nws-infor">
                                        <p class="title">护工照顾病人</p>
                                        <p class="details-p">病人的日常护理、洗漱照顾、日常清洁</p>
                                        <a href="#" class="btn-look">查看详情</a>
                                    </div>
                                </div>
                                <div class="mr0">
                                    <img src="../../assets/frontend/images/lea2.jpg" alt=""/>
                                    <div class="nws-infor">
                                        <p class="title">护工照顾病人</p>
                                        <p class="details-p">病人的日常护理、洗漱照顾、日常清洁</p>
                                        <a href="#" class="btn-look">查看详情</a>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div>
                                    <img src="../../assets/frontend/images/lea1.jpg" alt=""/>
                                    <div class="nws-infor">
                                        <p class="title">护工照顾病人</p>
                                        <p class="details-p">病人的日常护理、洗漱照顾、日常清洁</p>
                                        <a href="#" class="btn-look">查看详情</a>
                                    </div>
                                </div>
                                <div>
                                    <img src="../../assets/frontend/images/lea2.jpg" alt=""/>
                                    <div class="nws-infor">
                                        <p class="title">护工照顾病人</p>
                                        <p class="details-p">病人的日常护理、洗漱照顾、日常清洁</p>
                                        <a href="#" class="btn-look">查看详情</a>
                                    </div>
                                </div>
                                <div class="mr0">
                                    <img src="../../assets/frontend/images/lea1.jpg" alt=""/>
                                    <div class="nws-infor">
                                        <p class="title">护工照顾病人</p>
                                        <p class="details-p">病人的日常护理、洗漱照顾、日常清洁</p>
                                        <a href="#" class="btn-look">查看详情</a>
                                    </div>
                                </div>
                                <div>
                                    <img src="../../assets/frontend/images/lea2.jpg" alt=""/>
                                    <div class="nws-infor">
                                        <p class="title">护工照顾病人</p>
                                        <p class="details-p">病人的日常护理、洗漱照顾、日常清洁</p>
                                        <a href="#" class="btn-look">查看详情</a>
                                    </div>
                                </div>
                                <div>
                                    <img src="../../assets/frontend/images/lea1.jpg" alt=""/>
                                    <div class="nws-infor">
                                        <p class="title">护工照顾病人</p>
                                        <p class="details-p">病人的日常护理、洗漱照顾、日常清洁</p>
                                        <a href="#" class="btn-look">查看详情</a>
                                    </div>
                                </div>
                                <div class="mr0">
                                    <img src="../../assets/frontend/images/lea2.jpg" alt=""/>
                                    <div class="nws-infor">
                                        <p class="title">护工照顾病人</p>
                                        <p class="details-p">病人的日常护理、洗漱照顾、日常清洁</p>
                                        <a href="#" class="btn-look">查看详情</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="active-left si-left bg1"><i class="fa fa-angle-left"></i></div>
                    <div class="active-right si-right bg1"><i class="fa fa-angle-right"></i></div>
                </div>
                <div class="package">
                    <p class="title bg1">相关推荐</p>
                    <div class="servpackSlider">
                        <ul class=" servpack-slider heiAuto clearfix">
                            <li class="item clearfix">
                                <div>
                                    <a href="homeServices-maternity.html">
                                        <img src="../../assets/frontend/images/service-n.jpg" alt="" class="step-img"/>
                                    </a>
                                    <span class="type">月嫂</span><br/>
                                </div>
                                <div>
                                    <a href="homeServices-wardrobe.html">
                                        <img src="../../assets/frontend/images/service-w.jpg" alt="" class="step-img"/>
                                    </a>
                                    <span class="type">衣柜</span><br/>
                                </div>
                                <div>
                                    <a href="homeServices-nursingworkers.html">
                                        <img src="../../assets/frontend/images/service-f.jpg" alt="" class="step-img"/>
                                    </a>
                                    <span class="type">护工</span><br/>
                                </div>
                                <div class="mr0">
                                    <a href="homeServices-keeper.html">
                                        <img src="../../assets/frontend/images/service-k.jpg" alt="" class="step-img"/>
                                    </a>
                                    <span class="type">保洁</span><br/>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="server-exrample left">
                        <ul class="chioce-infors clearfix bg1">
                            <li class="active">星级标准</li>
                            <li>售后保证</li>
                        </ul>
                        <div class="ser-div">
                            <div class="active">
                                <div class="detaisl-slider">
                                    <ul class="clearfix ser-ul">
                                        <li>
                                            <p>1、预约时间，造型师现场测量衣柜。</p>
                                            <p>2、统计衣服数据。</p>
                                            <p>3、手绘衣柜平面图。</p>
                                            <p>4、规划衣橱。</p>
                                            <p>5、造型师再次上门开始整理。</p>
                                            <p>6、衣服陈列。</p>
                                            <p>7、拍照录入：将整理好的衣橱拍照贴标签，制作电子相册。</p>
                                            <p>8、项目移交：将衣橱移交给顾客。</p>
                                            <p>9、管理培训：培训顾客如何维护好衣橱。</p>
                                        </li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>

                            </div>
                            <div>
                                <div class="detaisl-slider">
                                    <ul class="clearfix ser-ul">
                                        <li>
                                            <p>1、预约时间，造型师现场测量衣柜。</p>
                                            <p>2、统计衣服数据。</p>
                                            <p>3、手绘衣柜平面图。</p>
                                            <p>4、规划衣橱。</p>
                                            <p>5、造型师再次上门开始整理。</p>
                                            <p>6、衣服陈列。</p>
                                            <p>7、拍照录入：将整理好的衣橱拍照贴标签，制作电子相册。</p>
                                            <p>8、项目移交：将衣橱移交给顾客。</p>
                                            <p>9、管理培训：培训顾客如何维护好衣橱。</p>
                                        </li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right commont">
                        <div class="com-head">
                            <p>最新评论</p>
                        </div>
                        <div class="com-content pt0">
                            <div class="com-div">
                                <a href="#" class="left">
                                    <img src="../../assets/frontend/images/scp-img1.jpg" alt="">
                                </a>
                                <div class="left com-details">
                                    <p>阿姨的服务很好阿姨的服务很好阿!</p>
                                    <p class="name">张三</p>
                                </div>
                                <span class="time right">2015-5-5</span>
                            </div>
                            <div class="com-div">
                                <a href="#" class="left">
                                    <img src="../../assets/frontend/images/scp-img1.jpg" alt="">
                                </a>
                                <div class="left com-details">
                                    <p>阿姨的服务很好阿姨的服务很好阿!</p>
                                    <p class="name">张三</p>
                                </div>
                                <span class="time right">2015-5-5</span>
                            </div>
                            <div class="com-div">
                                <a href="#" class="left">
                                    <img src="../../assets/frontend/images/scp-img1.jpg" alt="">
                                </a>
                                <div class="left com-details">
                                    <p>阿姨的服务很好阿姨的服务很好阿!</p>
                                    <p class="name">张三</p>
                                </div>
                                <span class="time right">2015-5-5</span>
                            </div>
                            <div class="com-div bb0">
                                <a href="#" class="left">
                                    <img src="../../assets/frontend/images/scp-img1.jpg" alt="">
                                </a>
                                <div class="left com-details">
                                    <p>阿姨的服务很好阿姨的服务很好阿!</p>
                                    <p class="name">张三</p>
                                </div>
                                <span class="time right">2015-5-5</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <div class="foot-content">
                    <div class="foot-details">
                        <ul class="foot-nav clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">网站支持</p>
                                    <p class="last">网站支持</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于我们</p>
                                    <p class="last">关于我们</p>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <p class="first">加入我们</p>
                                    <p class="last">加入我们</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-us clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">联系我们</p>
                                    <p class="last">联系我们</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务指南</p>
                                    <p class="last">服务指南</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">第三方加盟</p>
                                    <p class="last">第三方加盟</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">常见问题</p>
                                    <p class="last">常见问题</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务保障</p>
                                    <p class="last">服务保障</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于家服汇</p>
                                    <p class="last">关于家服汇</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务优势</p>
                                    <p class="last">服务优势</p>
                                </a>
                            </li>
                        </ul>
                        <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
            </div>
        </div>
        <div class="service-step-bg hide"></div>
        <div class="service-step hide">
            <ul class="seavice-menu bg1">
                <li>
                    <div class="service-head bg1">
                        <span class="title">
                            适用范围:
                        </span>
                        <img src="../../assets/frontend/images/close.png" class="right close-serice"/>
                    </div>
                    <div class="service-content h381 bb0">
                        <ul class="lear-menu clearfix">
                            <li>
                                <img src="../../assets/frontend/images/lea-img1.png"/><br/>
                                <span>皮鞋</span>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/lea-img2.png"/><br/>
                                <span>皮靴</span>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/lea-img3.png"/><br/>
                                <span>真皮凉鞋</span>
                            </li>
                            <li class="mr0">
                                <img src="../../assets/frontend/images/lea-more.png"/><br/>
                                <span>皮革工艺鞋子</span>
                            </li>
                        </ul>
                        <p class="title-p">本服务包含的服务项目有 :</p>
                        <p class="p-infor">
                            <img src="../../assets/frontend/images/lear-caret.png"><span> 鞋子表面除尘</span>　
                            <img src="../../assets/frontend/images/lear-caret.png"><span> 皮革清洁</span>　
                            <img src="../../assets/frontend/images/lear-caret.png"><span> 皮革上有滋养</span>　
                            <img src="../../assets/frontend/images/lear-caret.png"><span> 鞋面擦亮</span>　
                            <img src="../../assets/frontend/images/lear-caret.png"><span> 鞋底除垢</span>　
                        </p>
                        <p class="p-prompt"> 注：本服务不适用于上门清洗各类鞋子。</p>
                    </div>
                </li>
                <li>
                    <div class="service-head bg1">
                        <span class="title">
                            服务标准:
                        </span>
                        <img src="../../assets/frontend/images/close.png" class="right close-serice"/>
                    </div>
                    <div class="service-content h381 bb0">
                        <img src="../../assets/frontend/images/lear-bz.jpg">
                        <ul class="clearfix lear-infor">
                            <li>
                                <img src="../../assets/frontend/images/lear-caret.png"><span> 皮革无尘、光亮，网面干净，鞋子清香； </span>　
                            </li>
                            <li class="mr0">
                                <img src="../../assets/frontend/images/lear-caret.png"><span> 操作区域整洁无污，垃圾离开时带走。 </span>　
                            </li>
                        </ul>
                        <p class="p-prompt"> 注明：奢侈皮具护理不在上门擦鞋服务范围之内。如您有奢侈皮具的服务需求，请致电客服或直接在我们的网站上了解其他即将开放相关单项服务。</p>
                    </div>
                </li>
                <li>
                    <div class="service-head bg1">
                        <span class="title">
                            服务保障:
                        </span>
                        <img src="../../assets/frontend/images/close.png" class="right close-serice"/>
                    </div>
                    <div class="service-content clearfix">
                        <p class="left">
                            <span>我们给您带来的不仅是服务，还有安全感。</span><br/>
                            <span>我们渴望得到用户的信赖</span><br/>
                            <span>我们尽量满足用户所有的挑剔</span><br/>
                            <span>作为一个有责任心的家庭生活服务平台</span><br/>
                            <span>我们恳求您</span><span></span><span></span><br/>
                            <span>放心的将家务交给我们</span><br/>
                            <span>因为,家服汇更有保障</span>
                        </p>
                        <img src="../../assets/frontend/images/lear-ba.jpg" class="right"/>
                    </div>
                    <div class="service-content bb0 clearfix">

                        <img src="../../assets/frontend/images/lear-ba1.jpg" class="left save"/>
                        <p class="left infor-save">
                            <span><img src="../../assets/frontend/images/lear-caret.png"/>
                                服务人员未按约定时间上门服务（迟到一小时以上）订单（如何）赔付；
                            </span><br/>

                            <span><img src="../../assets/frontend/images/lear-caret.png"/>
                                服务时常未满订单时间且未尽用户同意，服务人员擅自早退，订单时常(如何)补偿;
                            </span><br/>

                            <span><img src="../../assets/frontend/images/lear-caret.png"/>
                                未按要求完成反应物业项目，订单(如何)赔付。
                            </span><br/>
                            <span><img src="../../assets/frontend/images/lear-caret.png"/>
                                家服汇"保障"0风险;
                            </span><br/>
                            <span><img src="../../assets/frontend/images/lear-caret.png"/>
                                保障服务更全面、赔保金额更合理、审批流程更快捷 <br/>(保险赔付机制、赔付范围、赔付流程);
                            </span><br/>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="service-head bg1">
                        <span class="title">
                            订单须知:
                        </span>
                        <img src="../../assets/frontend/images/close.png" class="right close-serice"/>
                    </div>
                    <div class="service-content h381 bb0">
                        <div class="konw-div">
                            <img src="../../assets/frontend/images/service-konw1.png"/>
                            <div class="konw-infor">
                                <p class="num title">下单</p>
                                <p class="bottom">用户根据服务参考选定服务之后，通过在线支付完成服务下单（支付接口PC端采用支付宝和银联，移动端采用微支付）。</p>
                            </div>
                        </div>
                        <div class="konw-div">
                            <img src="../../assets/frontend/images/service-konw2.png"/>
                            <div class="konw-infor">
                                <p class="num title">订单更改 </p>
                                <p class="bottom">可在个人账户--我的订单--操作更改栏目中更改订单服务的时间，请在订单服务前24小时提交更改（服务时间、地点、联系人。</p>
                            </div>
                        </div>
                        <div class="konw-div bb0">
                            <img src="../../assets/frontend/images/service-konw3.png" />
                            <div class="konw-infor">
                                <p class="num title">订单取消</p>
                                <p class="bottom">可在个人账户--我的订单--操作取消订单服务。提前12小时取消订单的，服务金额将100%返还；提前6小时取消订单的，服务金额将返还60%;提前3小时取消订单的,将不退款。</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <!--<script src="../../assets/frontend/js/spinner.js"></script>-->
    <script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
    <script src="../../assets/global/plugins/jquery-spinner/js/jquery.spinner.js"></script>
    <script src="../../assets/frontend/js/serveice.js?v=445"></script>
    <script src="../../assets/frontend/js/activity.js"></script>
    <script type="text/javascript">
        $('.spinnerExample').spinner({});
    </script>
</html>