<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>保洁</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/jquery-spinner/css/jquery.spinner.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <div class="hover-active" id="hover-active"></div>
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li class="active">
                        <a href="homeServices.html">
                            家庭服务
                        </a>
                    </li>
                    <li>
                        <a href="my-community.html">
                            我的社区
                        </a>
                    </li>
                    <li>
                        <a href="train.html">
                            在线培训
                        </a>
                    </li>
                    <li>
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="public-protection.html">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="person-login.html">
                            登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content-main">
                <img src="../../assets/frontend/images/keeper1.jpg" />
                <div class="server-chioce">
                    <ul class="sch-menu clearfix">
                        <li class="active">
                            <p>日常居家保洁</p>
                        </li>
                        <li>
                            <p>家务套餐</p>
                        </li>
                        <li class="mr0">
                            <p>单项家务</p>
                        </li>
                    </ul>
                </div>
                <div class="keeper clearfix jsActive">
                    <div class="active">
                        <div class="keep-details left">
                            <div class="keep-commont">
                                <!--<div class="keep-mask-bg"></div>-->
                                <!--<div class="keep-mask">我们的保洁服务人员将会最快速、最认真、最完善的完成您的任务</div>-->
                                <img src="../../assets/frontend/images/keeper2.jpg" />
                            </div>
                            <div class="area-infor">
                                <div class="div-table">
                                    <p class="title">
                                        <span class="left">钟点保洁参考使用时间</span>
                                    </p>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td>房屋面积</td>
                                            <td><60m²</td>
                                            <td><80m²</td>
                                            <td><100m²</td>
                                            <td><150m²</td>
                                        </tr>
                                        <tr>
                                            <td>室卫耗时</td>
                                            <td>2小时</td>
                                            <td>3小时</td>
                                            <td>4小时起</td>
                                            <td>6小时起</td>
                                        </tr>
                                        <tr>
                                            <td>费用</td>
                                            <td>80/元</td>
                                            <td>120/元</td>
                                            <td>160/元</td>
                                            <td>240/元</td>
                                        </tr>
                                        </tbody>

                                    </table>
                                    <p class="p-foot">
                                        以上价格是以40元/小时计费,2小时起
                                    </p>
                                </div>
                                <p class="stype-title">
                                    钟点保洁范围 :
                                </p>
                                <p>
                                    地面、踢脚线清理；家具、家电表面除尘；油烟机表面擦洗；厨房、浴室墙面、台面。玻璃、   油烟机内部清洗等项目不再服务范围内。
                                </p>
                                <p class="stype-title">
                                    大扫除范围 :
                                </p>
                                <p>
                                    地面、踢脚线清理；家具、家电表面除尘；油烟机表面擦洗；厨房、浴室墙面、台面。室内外玻璃擦
                                    洗。(按照3元/平米计算，最低70平米起步。不足70平米按70平米计算)
                                </p>
                                <p class="prompt">
                                    注：家服汇推出专业的钟点保洁服务和大扫除保洁服务，钟点保洁服务采用小时制下单为收费标准，大扫除保洁以保洁面积为收费标准。服务人
                                    员均通过标准化管理、规范化的培训流程、专业化保洁工具为广大用户提供最便捷、快速高效的保洁服务体验。
                                </p>
                            </div>
                        </div>
                        <div class="reserve right">
                            <p class="title">基本服务在线预订</p>
                            <div class="reserve-indormation">
                                <p class="title">请输入您需要服务的时间　　　<span class="num">请提前一天下单!</span></p>
                                <div class="reserve-date clearfix">
                                    <div class="div-wdate left">
                                        <input id="d4311" class="Wdate wateDate inputDisable removePlaceholder" type="text" placeholder="2015-4-4" onFocus="WdatePicker({minDate:'%y-%M-{%d}'})"/>
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <select name="" class="select-time right inputDisable">
                                        <option value="时间">时间</option>
                                        <option value="8:00">8:00</option>
                                        <option value="10:00">10:00</option>
                                        <option value="13:00">13:00</option>
                                        <option value="16:00">16:00</option>
                                    </select>
                                </div>

                                <ul class="keeper-stype clearfix">
                                    <li class="active"><button>钟点保洁</button></li>
                                    <li class="mr"><button>大扫除</button></li>
                                </ul>

                                <div class="active-div active">
                                    <p class="title pt0">请输入房间面积</p>
                                    <div class="div-inputs div-inputs2">
                                        <select name="">
                                            <option value="100">100</option>
                                            <option value="150">150</option>
                                            <option value="200">200</option>
                                            <option value="200">200</option>
                                        </select>
                                    </div>
                                    <div class="rear">
                                        <p class="title">请输入保洁时间</p>
                                        <div class="clearfix services-type">
                                            <input type="text" class="spinnerExample"/>
                                            <span class="right company">m²</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="active-div">
                                    <p class="title pt0">请输入房间面积</p>
                                    <div class="div-inputs div-inputs2">
                                        <input type="text" placeholder="100"/>
                                        <span class="right">m²</span>
                                    </div>
                                </div>
                                <p class="title">更多需求</p>
                                <textarea style="resize: none;overflow:hidden" name=""  cols="50" rows="3" class="textarea inputDisable"   placeholder="您可以在这里备注需求"></textarea>
                                <p class="title total-title pt0">￥ : <span class="num total">0</span></p>
                                <p class="title">
                                <span class="jsDisabledType">
                                    <label>
                                        <input type="checkbox"/> 立即支付
                                    </label>
                                </span>
                                </p>
                                <p class="title pt0">请输入姓名</p>
                                <div class="div-inputs div-inputs1 bg">
                                    <input type="text" placeholder="陈洁" disabled="disabled"/>
                                </div>
                                <p class="title">请输入联系方式</p>
                                <div class="div-inputs div-inputs1 bg">
                                    <input type="text" placeholder="13678478463" disabled="disabled"/>
                                </div>
                                <p class="title">请输入金额</p>
                                <div class="div-inputs div-inputs1 br1">
                                    <input type="text" placeholder="500" disabled="disabled"/>
                                    <span class="right">元</span>
                                </div>
                                <p class="title">
                                    <label>
                                        <input type="checkbox"/> 我已经阅读并同意
                                    </label>
                                    <a href="registration-agreement.html" target="_blank">《家服汇用户使用协议》</a>
                                </p>
                                <div class="div-order">
                                    <a href="order-pay.html" class="btn-order">下单</a>
                                    <!--<input type="submit" value="下单" class="btn-order"/>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="div-table">
                            <ul class="ulActivy clearfix">
                                <li class="active first">家务包月卡</li>
                                <li class="br0"><span class="time-span">限时优惠</span> <br/><span class="time">(1.28~2.18)</span></li>
                                <!--<li>家务包年卡</li>-->
                            </ul>
                            <div class="active activeTable clearfix">
                                <p class="head-input">
                                    请输入您的房屋面积 <input type="text" class="at-input"> ㎡
                                </p>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>包月</td>
                                        <td>每月三次日常居家保洁 ，一次大扫除。</td>
                                        <td class="num">￥250元 <br/><button class="btn-buy">下单</button></td>
                                    </tr>
                                    <tr>
                                        <td>包季</td>
                                        <td>每月三次日常居家保洁 ，一次大扫除。</td>
                                        <td class="num">￥250元 <br/><button class="btn-buy">下单</button></td>
                                    </tr>
                                    <tr>
                                        <td>包半年</td>
                                        <td>每月三次日常居家保洁 ，一次大扫除。</td>
                                        <td class="num">￥250元 <br/><button class="btn-buy">下单</button></td>
                                    </tr>
                                    <tr>
                                        <td>包全年</td>
                                        <td>每月三次日常居家保洁 ，一次大扫除。</td>
                                        <td class="num">￥250元 <br/><button class="btn-buy">下单</button></td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                            <div class="activeTable clearfix">
                                <!--<table>-->
                                    <!--<tbody>-->
                                    <!--<tr>-->
                                        <!--<td>10小时</td>-->
                                        <!--<td><span class="num">赠</span> 冰箱精细1次/等是清洁1次、厨房深度清洁1次</td>-->
                                        <!--<td class="num">￥250元 <br/><button class="btn-buy">下单</button></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>10小时</td>-->
                                        <!--<td><span class="num">赠</span> 冰箱精细1次/等是清洁1次、厨房深度清洁1次</td>-->
                                        <!--<td class="num">￥250元 <br/><button class="btn-buy">下单</button></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>10小时</td>-->
                                        <!--<td><span class="num">赠</span> 冰箱精细1次/等是清洁1次、厨房深度清洁1次</td>-->
                                        <!--<td class="num">￥250元 <br/><button class="btn-buy">下单</button></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>10小时</td>-->
                                        <!--<td><span class="num">赠</span> 冰箱精细1次/等是清洁1次、厨房深度清洁1次</td>-->
                                        <!--<td class="num">￥250元 <br/><button class="btn-buy">下单</button></td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->

                                <!--</table>-->
                                <!--<p class="p-foot">-->
                                    <!--以上价格是以40元/小时计费,2小时起步,若是活动,再商议-->
                                <!--</p>-->
                            </div>
                            <!--<div class="activeTable clearfix">-->
                                <!--<table>-->
                                    <!--<tbody>-->
                                    <!--<tr>-->
                                        <!--<td>20小时</td>-->
                                        <!--<td><span class="num">赠</span> 冰箱精细1次/等是清洁1次、厨房深度清洁1次</td>-->
                                        <!--<td class="num">￥250元 <br/><button class="btn-buy">下单</button></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>20小时</td>-->
                                        <!--<td><span class="num">赠</span> 冰箱精细1次/等是清洁1次、厨房深度清洁1次</td>-->
                                        <!--<td class="num">￥250元 <br/><button class="btn-buy">下单</button></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>20小时</td>-->
                                        <!--<td><span class="num">赠</span> 冰箱精细1次/等是清洁1次、厨房深度清洁1次</td>-->
                                        <!--<td class="num">￥250元 <br/><button class="btn-buy">下单</button></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>20小时</td>-->
                                        <!--<td><span class="num">赠</span> 冰箱精细1次/等是清洁1次、厨房深度清洁1次</td>-->
                                        <!--<td class="num">￥250元 <br/><button class="btn-buy">下单</button></td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->

                                <!--</table>-->
                                <!--<p class="p-foot">-->
                                    <!--以上价格是以40元/小时计费,2小时起步,若是活动,再商议-->
                                <!--</p>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div>
                        <div class="servpackSlider">
                            <ul class=" servpack-slider js-active js-check clearfix">
                                <li class="item">
                                    <a href="javascript:void(0);">
                                        <img src="../../assets/frontend/images/hsList1.jpg" alt="" class="step-img"/>
                                        <div class="common-infor hide">
                                            <i class="fa fa-remove"></i><div class="left"><img src="../../assets/frontend/images/hsList1.jpg" alt=""></div><div class="mask-p left"><p class="title"><span class="name"></span><span class="num">8元/平米</span></p><div class="common-content">
                                            <p>①服务介绍：开荒保洁服务是家服汇推出的专业家庭精细化保洁服务，采用每平方米定价收费标准。该服务由家服汇专职员工携带专业工具进行上门服务，对室内家具、地面、玻璃等进行深度保洁，给您打造干净健康的入住坏境。</p>

                                            <p>①服务介绍：开荒保洁服务是家服汇推出的专业家庭精细化保洁服务，采用每平方米定价收费标准。该服务由家服汇专职员工携带专业工具进行上门服务，对室内家具、地面、玻璃等进行深度保洁，给您打造干净健康的入住坏境。</p>

                                            <p>①服务介绍：开荒保洁服务是家服汇推出的专业家庭精细化保洁服务，采用每平方米定价收费标准。该服务由家服汇专职员工携带专业工具进行上门服务，对室内家具、地面、玻璃等进行深度保洁，给您打造干净健康的入住坏境。</p>

                                            <p>①服务介绍：开荒保洁服务是家服汇推出的专业家庭精细化保洁服务，采用每平方米定价收费标准。该服务由家服汇专职员工携带专业工具进行上门服务，对室内家具、地面、玻璃等进行深度保洁，给您打造干净健康的入住坏境。</p>

                                            <p>①服务介绍：开荒保洁服务是家服汇推出的专业家庭精细化保洁服务，采用每平方米定价收费标准。该服务由家服汇专职员工携带专业工具进行上门服务，对室内家具、地面、玻璃等进行深度保洁，给您打造干净健康的入住坏境。</p>
                                        </div><p></p></div><div class="order-chioce left"><div class="div-wdate left"><input id="d4311" class="Wdate" type="text" placeholder="2015-10-10" onfocus="WdatePicker()"><i class="fa fa-calendar"></i></div><select name="" id="" class="select-time left"><option value="时间">时间</option><option value="8:00">8:00</option><option value="10:00">10:00</option><option value="13:00">13:00</option><option value="16:00">16:00</option></select><input class="area-input left" placeholder="请输入房屋面积"><span class="area-span left">m²</span><input type="submit" value="下单" class="btn-order"></div>
                                        </div>
                                    </a>
                                    <p>
                                        <span>开荒清洁</span>
                                    </p>
                                    <span class="num">8元/平米</span>
                                </li>
                                <li class="item">
                                    <a href="javascript:void(0);">
                                        <img src="../../assets/frontend/images/hsList2.jpg" alt="" class="step-img"/>
                                    </a>
                                    <p>
                                        <span>地板保养</span>
                                    </p>
                                    <span class="num">12元/平米</span>
                                </li>
                                <li class="item">
                                    <a href="javascript:void(0);">
                                        <img src="../../assets/frontend/images/hsList3.jpg" alt="" class="step-img"/>
                                    </a>
                                    <p>
                                        <span>壁纸保养</span>
                                    </p>
                                    <span class="num">20元/平米</span>
                                </li>
                                <li class="item mr0">
                                    <a href="javascript:void(0);">
                                        <img src="../../assets/frontend/images/hsList4.jpg" alt="" class="step-img"/>
                                    </a>
                                    <p>
                                        <span>地毯保养</span>
                                    </p>
                                    <span class="num">200元/次</span>
                                </li>
                                <li class="item">
                                    <a href="javascript:void(0);">
                                        <img src="../../assets/frontend/images/hsList5.jpg" alt="" class="step-img"/>
                                    </a>
                                    <p>
                                        <span>窗帘保养</span>
                                    </p>
                                    <span class="num">60元/片</span>
                                </li>
                                <li class="item">
                                    <a href="javascript:void(0);">
                                        <img src="../../assets/frontend/images/hsList6.jpg" alt="" class="step-img"/>
                                    </a>
                                    <p>
                                        <span>厨房深度保洁</span>
                                    </p>
                                    <span class="num">350元/次</span>
                                </li>
                                <li class="item">
                                    <a href="javascript:void(0);">
                                        <img src="../../assets/frontend/images/hsList7.jpg" alt="" class="step-img"/>
                                    </a>
                                    <p>
                                        <span>卫生间深度保洁</span>
                                    </p>
                                    <span class="num">200元/次</span>
                                </li>
                                <li class="item mr0">
                                    <a href="javascript:void(0);">
                                        <img src="../../assets/frontend/images/hsList8.jpg" alt="" class="step-img"/>
                                    </a>
                                    <p>
                                        <span>空调清洗</span>
                                    </p>
                                    <span class="num">100元/台</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="server-step">
                    <!--<p class="title">服务流程</p>-->
                    <ul class="server-ul clearfix">
                        <li>
                            <img src="../../assets/frontend/images/s-icon1.png" alt=""/>
                            <span>适用范围</span>

                        </li>
                        <li>
                            <img src="../../assets/frontend/images/s-icon2.png" alt=""/>
                            <span>服务标准</span>

                        </li>
                        <li>
                            <img src="../../assets/frontend/images/s-icon3.png" alt=""/>
                            <span>服务保障</span>
                        </li>
                        <li>
                            <img src="../../assets/frontend/images/s-icon4.png" alt=""/>
                            <span>订单须知</span>
                        </li>
                    </ul>
                </div>
                <div class="tool clearfix">
                    <p class="title">优惠活动</p>
                    <div class="servpackSlider">
                        <ul class=" servpack-slider js-active js-check clearfix">
                            <li class="item">
                                <a href="javascript:void(0);">
                                    <img src="../../assets/frontend/images/Kactive1.jpg" alt="" class="step-img"/>
                                </a>
                                <p>
                                    <span>活动即将开始,敬请期待!</span><br/>
                                </p>
                                <span class="num">Coming soon</span>
                            </li>
                            <li class="item">
                                <a href="javascript:void(0);">
                                    <img src="../../assets/frontend/images/Kactive1.jpg" alt="" class="step-img"/>
                                </a>
                                <p>
                                    <span>活动即将开始,敬请期待!</span><br/>
                                </p>
                                <span class="num">Coming soon</span>
                            </li>
                            <li class="item">
                                <a href="javascript:void(0);">
                                    <img src="../../assets/frontend/images/Kactive1.jpg" alt="" class="step-img"/>
                                </a>
                                <p>
                                    <span>活动即将开始,敬请期待!</span><br/>
                                </p>
                                <span class="num">Coming soon</span>
                            </li>
                            <li class="item mr0">
                                <a href="javascript:void(0);">
                                    <img src="../../assets/frontend/images/Kactive1.jpg" alt="" class="step-img"/>
                                </a>
                                <p>
                                    <span>活动即将开始,敬请期待!</span><br/>
                                </p>
                                <span class="num">Coming soon</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--<div class="service-introduction">-->
                    <!--<p class="title">其他保洁服务</p>-->
                    <!--<div class="servpackSlider">-->
                        <!--<ul class=" servpack-slider js-active1 js-check clearfix">-->
                            <!--<li class="item clearfix">-->
                                <!--<div>-->
                                    <!--<a href="#">-->
                                        <!--<img src="../../assets/frontend/images/hsList1.jpg" alt="" class="step-img"/>-->
                                    <!--</a>-->
                                    <!--<p>-->
                                        <!--<span>室内家居保洁-4小时</span><br/>-->
                                        <!--<span>房屋的基础打理</span>-->
                                    <!--</p>-->
                                    <!--<span class="num">￥ : 2000/人</span>-->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<a href="#">-->
                                        <!--<img src="../../assets/frontend/images/hsList1.jpg" alt="" class="step-img"/>-->
                                    <!--</a>-->
                                    <!--<p>-->
                                        <!--<span>室内家居保洁-4小时</span><br/>-->
                                        <!--<span>房屋的基础打理</span>-->
                                    <!--</p>-->
                                    <!--<span class="num">￥ : 2000/人</span>-->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<a href="#">-->
                                        <!--<img src="../../assets/frontend/images/hsList1.jpg" alt="" class="step-img"/>-->
                                    <!--</a>-->
                                    <!--<p>-->
                                        <!--<span>室内家居保洁-4小时</span><br/>-->
                                        <!--<span>房屋的基础打理</span>-->
                                    <!--</p>-->
                                    <!--<span class="num">￥ : 2000/人</span>-->
                                <!--</div>-->
                                <!--<div class="mr0">-->
                                    <!--<a href="#">-->
                                        <!--<img src="../../assets/frontend/images/hsList1.jpg" alt="" class="step-img"/>-->
                                    <!--</a>-->
                                    <!--<p>-->
                                        <!--<span>室内家居保洁-4小时</span><br/>-->
                                        <!--<span>房屋的基础打理</span>-->
                                    <!--</p>-->
                                    <!--<span class="num">￥ : 2000/人</span>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="item clearfix">-->
                                <!--<div>-->
                                    <!--<a href="#">-->
                                        <!--<img src="../../assets/frontend/images/hsList1.jpg" alt="" class="step-img"/>-->
                                    <!--</a>-->
                                    <!--<p>-->
                                        <!--<span>室内家居保洁-4小时</span><br/>-->
                                        <!--<span>房屋的基础打理</span>-->
                                    <!--</p>-->
                                    <!--<span class="num">￥ : 2000/人</span>-->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<a href="#">-->
                                        <!--<img src="../../assets/frontend/images/hsList1.jpg" alt="" class="step-img"/>-->
                                    <!--</a>-->
                                    <!--<p>-->
                                        <!--<span>室内家居保洁-4小时</span><br/>-->
                                        <!--<span>房屋的基础打理</span>-->
                                    <!--</p>-->
                                    <!--<span class="num">￥ : 2000/人</span>-->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<a href="#">-->
                                        <!--<img src="../../assets/frontend/images/hsList1.jpg" alt="" class="step-img"/>-->
                                    <!--</a>-->
                                    <!--<p>-->
                                        <!--<span>室内家居保洁-4小时</span><br/>-->
                                        <!--<span>房屋的基础打理</span>-->
                                    <!--</p>-->
                                    <!--<span class="num">￥ : 2000/人</span>-->
                                <!--</div>-->
                                <!--<div class="mr0">-->
                                    <!--<a href="#">-->
                                        <!--<img src="../../assets/frontend/images/hsList1.jpg" alt="" class="step-img"/>-->
                                    <!--</a>-->
                                    <!--<p>-->
                                        <!--<span>室内家居保洁-4小时</span><br/>-->
                                        <!--<span>房屋的基础打理</span>-->
                                    <!--</p>-->
                                    <!--<span class="num">￥ : 2000/人</span>-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="package">
                    <p class="title">相关推荐</p>
                    <div class="servpackSlider">
                        <ul class="servpack-slider heiAuto  clearfix">
                            <li class="item">
                                <a href="homeServices-maternity.html" class="a-maternity">
                                    <!--<img src="../../assets/frontend/images/service-n.jpg" alt="" class="step-img"/>-->
                                </a>
                                <span class="type">母婴护理</span><br/>
                            </li>
                            <li class="item">
                                <a href="homeServices-wardrobe.html" class="a-wardrobe">
                                    <!--<img src="../../assets/frontend/images/service-w.jpg" alt="" class="step-img"/>-->
                                </a>
                                <span class="type">衣柜</span><br/>
                            </li>
                            <li class="item">
                                <a href="homeServices-nursingworkers.html" class="a-nursingworkers">
                                    <!--<img src="../../assets/frontend/images/service-f.jpg" alt="" class="step-img"/>-->
                                </a>
                                <span class="type">护工</span><br/>
                            </li>
                            <li class="item">
                                <a href="homeServices-leathershoes.html" class="a-leathershoes">
                                    <!--<img src="../../assets/frontend/images/service-p.jpg" alt="" class="step-img"/>-->
                                </a>
                                <span class="type">皮鞋</span><br/>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="server-exrample left">
                        <ul class="chioce-infors clearfix">
                            <li class="active">售后保证</li>
                        </ul>
                        <div class="ser-div">
                            <div class="active">
                                <div class="detaisl-slider">
                                    <img src="../../assets/frontend/images/customer-service.jpg" alt="" class="customer-service"/>
                                    <p class="customer-infor">
                                        <img src="../../assets/frontend/images/caret-yuan.png" alt="" class=""/>
                                        <span>您可以通过PC端和手机端实时进行线上点评，也可以通过我们的客服电话反馈服务意见；我们保证用户的每一列不满意投诉都会在1小时内得到解决。</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right commont">
                        <div class="com-head">
                            <p>最新评论</p>
                        </div>
                        <div class="com-content pt0">
                            <div class="com-div">
                                <a href="#" class="left">
                                    <img src="../../assets/frontend/images/scp-img1.jpg" alt="">
                                </a>
                                <div class="left com-details">
                                    <p>阿姨的服务很好阿姨的服务很好阿!阿姨的服务很好阿姨的服务很好阿!阿姨的服务很好阿姨的服务很好阿!</p>
                                    <p class="name">张三</p>
                                </div>
                                <span class="time right">2015-5-5</span>
                            </div>
                            <div class="com-div">
                                <a href="#" class="left">
                                    <img src="../../assets/frontend/images/scp-img1.jpg" alt="">
                                </a>
                                <div class="left com-details">
                                    <p>阿姨的服务很好阿姨的服务很好阿!</p>
                                    <p class="name">张三</p>
                                </div>
                                <span class="time right">2015-5-5</span>
                            </div>
                            <div class="com-div">
                                <a href="#" class="left">
                                    <img src="../../assets/frontend/images/scp-img1.jpg" alt="">
                                </a>
                                <div class="left com-details">
                                    <p>阿姨的服务很好阿姨的服务很好阿!</p>
                                    <p class="name">张三</p>
                                </div>
                                <span class="time right">2015-5-5</span>
                            </div>

                            <div class="com-div bb0">
                                <a href="#" class="left">
                                    <img src="../../assets/frontend/images/scp-img1.jpg" alt="">
                                </a>
                                <div class="left com-details">
                                    <p>阿姨的服务很好阿姨的服务很好阿!</p>
                                    <p class="name">张三</p>
                                </div>
                                <span class="time right">2015-5-5</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <div class="foot-content">
                    <div class="foot-details">
                        <ul class="foot-nav clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">网站支持</p>
                                    <p class="last">网站支持</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于我们</p>
                                    <p class="last">关于我们</p>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <p class="first">加入我们</p>
                                    <p class="last">加入我们</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-us clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">联系我们</p>
                                    <p class="last">联系我们</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务指南</p>
                                    <p class="last">服务指南</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">第三方加盟</p>
                                    <p class="last">第三方加盟</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">常见问题</p>
                                    <p class="last">常见问题</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务保障</p>
                                    <p class="last">服务保障</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于家服汇</p>
                                    <p class="last">关于家服汇</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务优势</p>
                                    <p class="last">服务优势</p>
                                </a>
                            </li>
                        </ul>
                        <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
            </div>
        </div>
        <div class="service-step-bg hide"></div>
        <div class="service-step hide">
            <ul class="seavice-menu">
                <li>
                    <div class="service-head">
                        <span class="title">
                            适用范围:
                        </span>
                        <img src="../../assets/frontend/images/close.png" class="right close-serice"/>
                    </div>
                    <div class="service-content h360">
                        <p class="title">
                            本服务包含的服务范围有
                        </p>
                        <ul class="clearfix keeper-menu">
                            <li>
                                <img src="../../assets/frontend/images/keeper-check1.png"/><br/>
                                <span class="name">地面</span>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/keeper-check2.png"/><br/>
                                <span class="name">踢脚线清理</span>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/keeper-check3.png"/><br/>
                                <span class="name">家具</span>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/keeper-check4.png"/><br/>
                                <span class="name">家电表面除尘</span>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/keeper-check5.png"/><br/>
                                <span class="name">油烟机表面擦洗</span>
                            </li>
                            <li class="mr0">
                                <img src="../../assets/frontend/images/keeper-check6.png"/><br/>
                                <span class="name">玻璃</span>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/keeper-check7.png"/><br/>
                                <span class="name">厨房</span>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/keeper-check8.png"/><br/>
                                <span class="name">浴室墙面</span>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/keeper-check9.png"/><br/>
                                <span class="name">台面</span>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/keeper-check10.png"/><br/>
                                <span class="name">家电表面除尘</span>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/keeper-check11.png"/><br/>
                                <span class="name">油烟机内部清洗</span>
                            </li>
                            <li class="mr0">
                                <img src="../../assets/frontend/images/keeper-more.png"/><br/>
                                <span class="name">等项目</span>
                            </li>

                        </ul>
                    </div>
                    <div class="service-content bb0">
                        <p class="title">
                            本服务仅使用与日常家庭保洁 <span class="num">不用于</span>
                        </p>
                        <ul class="clearfix keeper-menu">
                            <li>
                                <img src="../../assets/frontend/images/keeper-close1.png"/><br/>
                                <span class="name">学校</span>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/keeper-close2.png"/><br/>
                                <span class="name">办公室</span>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/keeper-close3.png"/><br/>
                                <span class="name">商铺</span>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/keeper-close4.png"/><br/>
                                <span class="name">新装房</span>
                            </li>
                            <li class="mr0">
                                <img src="../../assets/frontend/images/keeper-close5.png"/><br/>
                                <span class="name">集体宿舍</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="service-head">
                        <span class="title">
                            服务标准:
                        </span>
                        <img src="../../assets/frontend/images/close.png" class="right close-serice"/>
                    </div>
                    <img src="../../assets/frontend/images/service-standard.jpg"/>
                    <div class="service-content bb-d1 clearfix">
                        <div class="left">
                            <div class="icon-content">
                                <img src="../../assets/frontend/images/standar-icon1.png"/>
                                <div class="icon-infor">
                                    <p class="title num">厨房</p>
                                    <p>油烟机、燃气灶、橱柜、调味组、洗菜池、厨房整体台面、整体地面、垃圾桶</p>
                                </div>
                            </div>
                            <div class="icon-content">
                                <img src="../../assets/frontend/images/standar-icon2.png"/>
                                <div class="icon-infor">
                                    <p class="title num">卫生间</p>
                                    <p>洗漱台、淋浴房、马桶、地面、垃圾桶</p>
                                </div>
                            </div>
                            <div class="icon-content">
                                <img src="../../assets/frontend/images/standar-icon3.png"/>
                                <div class="icon-infor">
                                    <p class="title num">客厅</p>
                                    <p>窗户、沙发、茶几、地面、垃圾桶、客厅家具、客厅家电</p>
                                </div>
                            </div>
                        </div>
                        <div class="left pr0">
                            <div class="icon-content">
                                <img src="../../assets/frontend/images/standar-icon4.png"/>
                                <div class="icon-infor">
                                    <p class="title num">卧室</p>
                                    <p>窗户、床、梳妆台、衣柜、地面、卧室家电</p>
                                </div>
                            </div>
                            <div class="icon-content">
                                <img src="../../assets/frontend/images/standar-icon5.png"/>
                                <div class="icon-infor">
                                    <p class="title num">餐厅</p>
                                    <p>餐桌椅、地面</p>
                                </div>
                            </div>
                            <div class="icon-content">
                                <img src="../../assets/frontend/images/standar-icon6.png"/>
                                <div class="icon-infor">
                                    <p class="title num">阳台</p>
                                    <p>玻璃、地面、洗衣机</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-content bb0">
                        <p class="title-p">验收标准:</p>
                        <p class="p-infor">
                            <img src="../../assets/frontend/images/caret-yuan.png"/><span> 地面干净</span>　
                            <img src="../../assets/frontend/images/caret-yuan.png"/><span> 离开时带走垃圾</span>　
                            <img src="../../assets/frontend/images/caret-yuan.png"/><span> 室内整体光亮无尘</span>　
                            <img src="../../assets/frontend/images/caret-yuan.png"/><span> 玻璃光亮物品整齐归位</span>　
                            <img src="../../assets/frontend/images/caret-yuan.png"/><span> 厨房清洁无油烟</span>　
                            <img src="../../assets/frontend/images/caret-yuan.png"/><span> 浴室光洁无水渍</span>
                        </p>
                        <p class="p-prompt"><span class="num">*</span> 注明：橱柜内部（含内部陈设物品）、字画、古董、宗教陈设、易损易碎摆件、天花板、
                            吊灯吊顶等不在基础保洁服务范围之内。如您有以上范围内的保洁需求,请致电客服或直接在我们的网站上了解其他相关保洁单项服务。</p>
                    </div>
                </li>
                <li>
                    <div class="service-head">
                        <span class="title">
                            服务保障:
                        </span>
                        <img src="../../assets/frontend/images/close.png" class="right close-serice"/>
                    </div>
                    <div class="service-content bb0 clearfix">
                        <p class="left lh20">
                            <span>我们给您带来的不仅是服务，还有安全感。</span><br/>
                            <span>我们渴望得到用户的信赖</span><br/>
                            <span>我们尽量满足用户所有的挑剔</span><br/>
                            <span>作为一个有责任心的家庭生活服务平台</span><br/>
                            <span>我们恳求您</span><span></span><span></span><br/>
                            <span>放心的将家务交给我们</span><br/>
                            <span>因为,家服汇更有保障</span>
                        </p>
                        <img src="../../assets/frontend/images/service-save1.jpg" class="right"/>
                    </div>
                </li>
                <li>
                    <div class="service-head">
                        <span class="title">
                            订单须知:
                        </span>
                        <img src="../../assets/frontend/images/close.png" class="right close-serice"/>
                    </div>
                    <div class="service-content h381 bb0">
                        <div class="konw-div">
                            <img src="../../assets/frontend/images/service-konw1.png"/>
                            <div class="konw-infor">
                                <p class="num title">下单</p>
                                <p class="bottom">用户根据服务参考选定服务之后，通过在线支付完成服务下单（支付接口PC端采用支付宝和银联，移动端采用微支付）。</p>
                            </div>
                        </div>
                        <div class="konw-div">
                            <img src="../../assets/frontend/images/service-konw2.png"/>
                            <div class="konw-infor">
                                <p class="num title">订单更改 </p>
                                <p class="bottom">可在个人账户--我的订单--操作更改栏目中更改订单服务的时间，请在订单服务前24小时提交更改（服务时间、地点、联系人）。</p>
                            </div>
                        </div>
                        <div class="konw-div bb0">
                            <img src="../../assets/frontend/images/service-konw3.png" />
                            <div class="konw-infor">
                                <p class="num title">订单取消</p>
                                <p class="bottom">可在个人账户--我的订单--操作取消订单服务。提前12小时取消订单的，服务金额将100%返还；提前6小时取消订单的，服务金额将返还60%;提前3小时取消订单的,将不退款。</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/frontend/js/serveice.js?v=445"></script>
    <script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
    <script src="../../assets/global/plugins/jquery-spinner/js/jquery.spinner.js"></script>
    <!--<script src="../../assets/frontend/js/activity.js?v=444"></script>-->
    <script type="text/javascript">
        $('.spinnerExample').spinner({});
//        $(".wateDate").val()
//        console.log(window.location.search)
    </script>
    <script>
        /*保洁类型控制*/
        $(".keeper-stype li").each(function(i){
            $(this).on("click",function(){
                $(this).addClass("active");
                $(this).siblings().removeClass("active");
                $(".active-div").eq(i).addClass("active");
                $(".active-div").eq(i).siblings(".active-div").removeClass("active");
    //            if($(".keeper-stype li").eq(1).hasClass("active")){
    //                $(".active-div .rear").addClass("hide");
    //            }else{
    //                $(".active-div .rear").removeClass("hide");
    //            }
            });

        });

        /*保洁里的活动切换*/
//        var ul = $(".ulActivy li");
//        var at = $(".activeTable");
//        ul.each(function(i){
//            $(this).on("click",function(){
//                $(this).addClass("active");
//                $(this).siblings(ul).removeClass("active");
//                at.eq(i).addClass("active");
//                at.eq(i).siblings(at).removeClass("active");
//            });
//        });


        /*保洁表单的控制*/
        var jdt = $(".jsDisabledType");
        var di = $(".div-inputs1");
        var id = $(".inputDisable,.keeper-stype li button,.div-inputs2 input,.div-inputs2 select");
        var dw = $(".div-wdate,.select-time,.s-spinner .hours,.btn-plus,.btn-reduce ,.div-inputs2 input,.div-inputs2,.s-spinner .spinner,.reserve-indormation .textarea,.div-inputs2 select");
        jdt.click(function(){
            if($(this).find("input")[0].checked==true){
                di.find("input").removeAttr("disabled");
                di.find("input").addClass("active");
                di.addClass("active");
                id.attr("disabled","disabled");
                id.addClass("disabl");
                dw.css({background:"#d6d6d6"});
                $(".btn-plus,.btn-reduce").attr("disabled","disabled");
            }
            else{
                di.find("input").attr("disabled","disabled");
                di.find("input").removeClass("active");
                di.removeClass("active");
                id.removeAttr("disabled");
                id.removeClass("disabl");
                dw.css({background:"#fff"});
                $(".btn-plus,.btn-reduce").removeAttr("disabled");
            }
        });
    </script>
</html>