<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>家庭服务</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <style>
        .content{padding-top: 0;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <div class="hover-active" id="hover-active"></div>
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            家庭服务
                        </a>
                    </li>
                    <li>
                        <a href="steward.html">
                            牛管家
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            学家务
                        </a>
                    </li>
                    <li>
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            登录/注册
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content-main">
                <div class="clearfix hs-div">
                    <div class="left">
                        <ul class="hs-menu">
                            <li>
                                <a href="#">
                                    <span class="hs-type">临时保洁</span>
                                    <i class="fa fa-angle-right right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="hs-type">长期钟点工</span>
                                    <i class="fa fa-angle-right right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="hs-type">看护老人</span>
                                    <i class="fa fa-angle-right right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="hs-type">月嫂</span>
                                    <i class="fa fa-angle-right right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="hs-type">衣柜整理</span>
                                    <i class="fa fa-angle-right right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="hs-type">皮具整理</span>
                                    <i class="fa fa-angle-right right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="hs-type">植物代养</span>
                                    <i class="fa fa-angle-right right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="hs-type">住家保姆</span>
                                    <i class="fa fa-angle-right right"></i>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <span class="hs-type">育儿嫂</span>
                                    <i class="fa fa-angle-right right"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="hs-service">
                            <ul class="hss-ul clearfix">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-phone"></i><br/>
                                        <span>联系我们</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="last">
                                        <i class="fa fa-gear"></i><br/>
                                        <span>定制服务</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hsSlider serversSlider left">
                        <div class="servers-slider hs-slider">
                            <ul class="servers-ul hs-ul clearfix">
                                <li>
                                    <img src="../../assets/frontend/images/hs-large1.jpg" alt=""/>
                                </li>
                                <li>
                                    <img src="../../assets/frontend/images/hs-large1.jpg" alt=""/>
                                </li>
                                <li>
                                    <img src="../../assets/frontend/images/hs-large1.jpg" alt=""/>
                                </li>
                            </ul>
                        </div>
                        <div class="servers-pagination hs-pagination">
                            <a href="javascript:void(0)" class="active">
                                <img src="../../assets/frontend/images/hs-small1.jpg" alt=""/>
                                <div class="hs-mask-bg"></div>
                                <div class="hs-mask">
                                    <p class="hsm-name">第三方士大夫</p>
                                </div>
                            </a>
                            <a href="javascript:void(0)">
                                <img src="../../assets/frontend/images/hs-small1.jpg" alt=""/>
                                <div class="hs-mask-bg"></div>
                                <div class="hs-mask">沙发水电费水电费</div>
                            </a>
                            <a href="javascript:void(0)" class="last">
                                <img src="../../assets/frontend/images/hs-small1.jpg" alt=""/>
                                <div class="hs-mask-bg"></div>
                                <div class="hs-mask">沙发水电费水电费</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hsc-list">
                <div class="content-main">
                    <div class="hsc-head">
                        <p class="title left">服务套餐</p>
                        <p class="left">
                            <img src="../../assets/frontend/images/server-font.png" alt=""/>
                        </p>
                    </div>
                    <div class="hsc-content"></div>
                </div>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <div class="foot-content">
                    <div class="foot-details">
                        <ul class="foot-nav clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">网站支持</p>
                                    <p class="last">网站支持</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于我们</p>
                                    <p class="last">关于我们</p>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <p class="first">加入我们</p>
                                    <p class="last">加入我们</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-us clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">联系我们</p>
                                    <p class="last">联系我们</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务指南</p>
                                    <p class="last">服务指南</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">第三方加盟</p>
                                    <p class="last">第三方加盟</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">常见问题</p>
                                    <p class="last">常见问题</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务保障</p>
                                    <p class="last">服务保障</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于家服汇</p>
                                    <p class="last">关于家服汇</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务优势</p>
                                    <p class="last">服务优势</p>
                                </a>
                            </li>
                        </ul>
                        <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/index.js?v=444"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script type="text/javascript">
        (function($){
            $(".serversSlider").serversSlider({
                setsSlider:5000
            });
        })(jQuery)
    </script>
</html>