<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>家庭服务-月嫂</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/jqueryui-sliders/css/jquery-ui-1.10.3.custom.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <div class="hover-active" id="hover-active"></div>
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            家庭服务
                        </a>
                    </li>
                    <li>
                        <a href="steward.html">
                            牛管家
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            学家务
                        </a>
                    </li>
                    <li>
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            登录/注册
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content-main">
            <img src="../../assets/frontend/images/mate-bg.jpg" alt="" style="width: 1024px;"/>
            <div class="server-type">
                    <ul class="search-terms">
                        <li class="clearfix">
                            <div class="left">
                                <i class="fa fa-home"></i>
                                <span class="title">服务区域</span>
                                <select name="">
                                    <option value="南坪">南坪</option>
                                    <option value="渝中">渝中</option>
                                    <option value="渝北">渝北</option>
                                </select>
                            </div>
                            <div class="right">
                                <i class="fa fa-users"></i>
                                <span style="width: 40px;display: inline-block;">籍贯</span>
                                <select name="">
                                    <option value="不限">不限</option>
                                    <option value="四川">四川</option>
                                    <option value="广东">广东</option>
                                    <option value="贵州">贵州</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-money"></i>
                            <span class="title">价格</span>
                            <div class="slider-money">
                                <div id="slider-range" class="bg-blue">
                                </div>
                                <div>
                                    Value: <span id="slider-range-amount"></span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-bars"></i>
                            <span class="title">服务内容</span>
                            <span class="rental_mode w110">
                                <input type="checkbox" name="type" class=""/>
                                不限
                            </span>
                            <span class="rental_mode w110">
                                <input type="checkbox" name="type" class=""/>
                                专业护理
                            </span>
                            <span class="rental_mode w150">
                                <input type="checkbox" name="type" class=""/>
                                新生常见疾病预防护理
                            </span>
                            <span class="rental_mode w150">
                                <input type="checkbox" name="type" class=""/>
                                新生儿护理实操
                            </span>
                            <span class="rental_mode w150">
                                <input type="checkbox" name="type" class=""/>
                                小便护理及睡眠护理
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-bars"></i>
                            <span class="title">性别</span>
                                <span class="rental_mode w110">
                                    <input type="radio" name="type" class=""/>
                                    不限
                                </span>
                                <span class="rental_mode w110">
                                    <input type="radio" name="type" class=""/>
                                    男
                                </span>
                                <span class="rental_mode w110">
                                    <input type="radio" name="type" class=""/>
                                    女
                                </span>
                        </li>
                        <li>
                            <i class="fa fa-bars"></i>
                            <span class="title">经验</span>
                                <span class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    不限
                                </span>
                                <span class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    不到一年
                                </span>
                                <span class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    一年到两年
                                </span>
                                <span class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    三年以上
                                </span>
                        </li>
                        <li>
                            <i class="fa fa-bars"></i>
                            <span class="title">专业内容</span>
                                <span class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    不限
                                </span>
                                <span class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    家政服务五级
                                </span>
                                <span class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    家政服务四级
                                </span>
                                 <span class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    家政服务三级
                                </span>
                        </li>
                    </ul>
                    <div class="operation-btn">
                        <input type="submit" value="筛选" class="btn-screen"/>
                        <input type="text"  value="清空" class="btn-clear"/>
                    </div>
                    <div class="ourgood">
                        <p class="title">我们的优势</p>
                        <p>沙发水电费污染物的法规的发个图儿童沙发水电费污染物的法规的发个图儿童沙发水电费污染物的法规的发个图儿童沙发水电费污染物的法规的发个图儿童</p>
                        <ul class="our-ul clearfix">
                            <li>
                                <div>
                                    <i class="fa fa-user"></i>
                                </div>
                                <span>服务保证</span>
                            </li>
                            <li>
                                <div>
                                    <i class="fa fa-search"></i>
                                </div>
                                <span>服务保证</span>
                            </li>
                            <li>
                                <div>
                                    <i class="fa fa-search"></i>
                                </div>
                                <span>服务保证</span>
                            </li>
                            <li>
                                <div>
                                    <i class="fa fa-search"></i>
                                </div>
                                <span>服务保证</span>
                            </li>
                        </ul>
                        <p>月嫂服务</p>
                        <ul class="clearfix ss-ul">
                            <li>
                                <a href="#">
                                    <img src="../../assets/frontend/images/ss1.png" alt=""/>
                                </a>
                                沙发水电费
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/frontend/images/ss1.png" alt=""/>
                                </a>
                                沙发水电费
                            </li>
                            <li class="mr0">
                                <a href="#">
                                    <img src="../../assets/frontend/images/ss1.png" alt=""/>
                                </a>
                                沙发水电费
                            </li>
                        </ul>
                    </div>
                </div>
                <img src="../../assets/frontend/images/mm1.jpg" alt="" />
                <div class="maternity-div">
                    <img src="../../assets/frontend/images/mm2.jpg" alt="" class="left" />
                    <div class="left">
                        <p class="title">月嫂的具体工作内容</p>
                        <ul class="icon-ul clearfix">
                            <li>
                                <img src="../../assets/frontend/images/iconm1.png" alt="" class="left" />爽肤水
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/iconm1.png" alt="" class="left" />爽肤水
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/iconm1.png" alt="" class="left" />爽肤水
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/iconm1.png" alt="" class="left" />爽肤水
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/iconm1.png" alt="" class="left" />爽肤水
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/iconm1.png" alt="" class="left" />爽肤水
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <div class="foot-content">
                    <div class="foot-details">
                        <ul class="foot-nav clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">网站支持</p>
                                    <p class="last">网站支持</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于我们</p>
                                    <p class="last">关于我们</p>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <p class="first">加入我们</p>
                                    <p class="last">加入我们</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-us clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">联系我们</p>
                                    <p class="last">联系我们</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务指南</p>
                                    <p class="last">服务指南</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">第三方加盟</p>
                                    <p class="last">第三方加盟</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">常见问题</p>
                                    <p class="last">常见问题</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务保障</p>
                                    <p class="last">服务保障</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于家服汇</p>
                                    <p class="last">关于家服汇</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务优势</p>
                                    <p class="last">服务优势</p>
                                </a>
                            </li>
                        </ul>
                        <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/jqueryui-sliders/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jqueryui-sliders/js/components-jqueryui-sliders.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/frontend/js/homeServices.js"></script>
    <script>
        jQuery(document).ready(function() {
            ComponentsjQueryUISliders.init();
        });
    </script>
</html>