<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>首页</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/jquery-huadong/css/style.css"/>
    <style>
        .head,.head-bg{width: 100%;height: 60px;position: fixed;z-index: 8;background: transparent;}
        .head-bg{background: #fff;opacity: 0.8;filter:alpha(opacity=80)}
        .content{padding-top: 0;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <div class="hover-active" id="hover-active"></div>
                    <li class="active">
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="homeServices.html">
                            家庭服务
                        </a>
                    </li>
                    <li>
                        <a href="my-community.html">
                            我的社区
                        </a>
                    </li>
                    <li>
                        <a href="train.html">
                            在线培训
                        </a>
                    </li>
                    <li>
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="public-protection.html">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="login.html">
                            登录
                        </a>
                        <!--<div class="fast-login">-->
                            <!--<ul class="fl-ul">-->
                                <!--<li><a href="#">个人</a></li>-->
                                <!--<li><a href="#">企业</a></li>-->
                            <!--</ul>-->
                            <!--<button class="btn-person active">个人</button>-->
                            <!--<button class="btn-enterprise">企业</button>-->
                            <!--<div class="fl-content">-->
                                <!--<form action="#">-->
                                    <!--<p>-->
                                        <!--<input type="text" placeholder="姓名" class="fl-input"/>-->
                                    <!--</p>-->
                                    <!--<p>-->
                                        <!--<input type="password" placeholder="密码" class="fl-input"/><br/>-->
                                    <!--</p>-->
                                    <!--<p>-->
                                        <!--<input type="submit" placeholder="登录"/>-->
                                        <!--<input type="checkbox"/><span class="remenber">记住密码</span>-->
                                    <!--</p>-->
                                    <!--<p>-->
                                        <!--<a href="#" class="fl-register">注册</a>-->
                                    <!--</p>-->
                                <!--</form>-->
                            <!--</div>-->
                        <!--</div>-->
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="slider">
                <img src="../../assets/frontend/images/index1.jpg" alt="" class="auto-img"/>
                <div class="ch-mask"></div>
                <div class="ch-mask-main">
                    <div>
                        <input type="text" class="form-control left" placeholder="请输入服务内容">
                        <a href="#" class="btn-search right">搜索</a>
                    </div>
                </div>
            </div>
            <div class="work">
                <div class="content-main">
                    <p>
                        <span class="title">主题服务</span>
                        <a href="#">小时工</a>
                        <a href="#">保姆</a>
                        <a href="#">月嫂</a>
                        <a href="#">育婴师</a>
                        <a href="#">护理</a>
                        <a href="#">营养师</a>
                        <a href="#">衣橱设计师</a>
                        <a href="#">小时工</a>
                        <a href="#">保姆</a>
                        <a href="#">月嫂</a>
                        <a href="#">育婴师</a>
                        <a href="#">护理</a>
                        <a href="#">营养师</a>
                        <a href="#">衣橱设计师</a>
                    </p>
                    <p>
                        <span class="title">热门搜索</span>
                        <a href="#">专业月子护理</a>
                        <a href="#">老人护理</a>
                        <a href="#">上门擦鞋</a>
                        <a href="#">衣柜设计整理</a>
                        <a href="#">灯饰清洗</a>
                        <a href="#">窗帘清晰</a>
                        <a href="#">空调养护</a>
                        <a href="#">冰箱清洁</a>
                        <a href="#">厨房深度清理</a>
                        <a href="#">地板养护</a>
                        <a href="#">皮具养护</a>
                    </p>
                    <p>
                        <span class="title">品牌专家</span>
                        <a href="#">家务自选套餐</a>
                        <a href="#">小牛深度居家保洁</a>
                        <a href="#">蓝衣天使病患护理</a>
                        <a href="#">优之家日常务托管</a>
                        <a href="#">赛普林私人订制</a>
                        <a href="#">好孕嫂</a>
                    </p>
                </div>
            </div>
            <div class="order">
                <div class="content-main">
                    <div class="fast-order">
                        <p class="title">快速下单让我们来帮助您！</p>
                        <p class="small-title">您的要求我们会认真的聆听，尽力去完成，让您的家庭幸福美满</p>
                        <ul class="sever-content clearfix">
                            <li class="clearfix">
                                <div class="serversSlider left">
                                    <div class="servers-slider">
                                        <ul class="servers-ul clearfix">
                                            <li>
                                                <img src="../../assets/frontend/images/servers-img1.jpg" alt=""/>
                                            </li>
                                            <li>
                                                <img src="../../assets/frontend/images/servers-img1.jpg" alt=""/>
                                            </li>
                                            <li>
                                                <img src="../../assets/frontend/images/servers-img1.jpg" alt=""/>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="servers-pagination">
                                        <a href="javascript:void(0)" class="active">
                                            <img src="../../assets/frontend/images/pagination-img1.jpg" alt=""/>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../../assets/frontend/images/pagination-img1.jpg" alt=""/>
                                        </a>
                                        <a href="javascript:void(0)" class="last">
                                            <img src="../../assets/frontend/images/pagination-img1.jpg" alt=""/>
                                        </a>
                                    </div>
                                </div>
                                <div class="left Sdetails">
                                    <p class="title">
                                        <span class="large">小牛深度居家保洁－4小时</span>
                                        <span class="small">最低199元</span>
                                    </p>
                                    <p>全程无死角/水质检测/家具及地板精养/电器清理</p>
                                    <table class="de-table">
                                        <tr>
                                            <th>
                                                <span class="large-week">周日</span><br/>
                                                <span>11.06</span>
                                            </th>
                                            <th>
                                                <span class="large-week">周以</span><br/>
                                                <span>11.07</span>
                                            </th>
                                            <th>
                                                <span class="large-week">周二</span><br/>
                                                <span>11.08</span>
                                            </th>
                                            <th>
                                                <span class="large-week">周三</span><br/>
                                                <span>11.09</span>
                                            </th>
                                            <th>
                                                <span class="large-week">周四</span><br/>
                                                <span>11.10</span>
                                            </th>
                                            <th>
                                                <span class="large-week">周五</span><br/>
                                                <span>11.11</span>
                                            </th>
                                            <th>
                                                <span class="large-week">周六</span><br/>
                                                <span>11.12</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="hasno">
                                                    <span>已满</span><br/>
                                                    <span>199元</span>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="hasno">
                                                    <span>已满</span><br/>
                                                    <span>199元</span>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="hasno">
                                                    <span>已满</span><br/>
                                                    <span>199元</span>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="hasno">
                                                    <span>已满</span><br/>
                                                    <span>199元</span>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="hasno">
                                                    <span>已满</span><br/>
                                                    <span>199元</span>
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    <span>已满</span><br/>
                                                    <span>199元</span>
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    <span>已满</span><br/>
                                                    <span>199元</span>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                    <p style="text-align: center;">
                                        <button class="btn-buy">立即订购</button>
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <ul class="order-meun clearfix">
                            <li>
                                <a href="#">
                                    <div class="div-group">
                                        <img src="../../assets/frontend/images/order2.png" alt=""/>
                                        <div class="img-mask"></div>
                                    </div>
                                    <p>照顾您的宝贝</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="div-group">
                                        <img src="../../assets/frontend/images/order2.png" alt=""/>
                                        <div class="img-mask"></div>
                                    </div>
                                    <p>老人看护</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="div-group">
                                        <img src="../../assets/frontend/images/order2.png" alt=""/>
                                        <div class="img-mask"></div>
                                    </div>
                                    <p>日常家务</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <div class="div-group">
                                        <img src="../../assets/frontend/images/order2.png" alt=""/>
                                        <div class="img-mask"></div>
                                    </div>
                                    <p>家庭宠物</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="step">
                <div class="content-main">
                    <ul class="step-ul clearfix">
                        <li>
                            <p>01</p>
                            <i class="fa fa-user"></i><br/>
                            <span>注册</span>
                        </li>
                        <li>
                            <p>02</p>
                            <i class="fa fa-level-down"></i><br/>
                            <span>下单</span>
                        </li>
                        <li>
                            <p>03</p>
                            <i class="fa fa-money"></i><br/>
                            <span>支付</span>
                        </li>
                        <li>
                            <p>04</p>
                            <i class="fa fa-truck"></i><br/>
                            <span>上门</span>
                        </li>
                        <li>
                            <p>05</p>
                            <i class="fa fa-comment"></i><br/>
                            <span>反馈</span>
                        </li>
                        <li class="last">
                            <p>06</p>
                            <i class="fa fa-plus-square"></i><br/>
                            <span>积分</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="server">
                <div class="content-main clearfix">
                    <p class="title">我们的服务保证</p>
                    <p class="small-title">我们对我们的服务进行安全、细心、高效等保障</p>
                    <div class="cattle-steward left">
                        <div class="details">
                            <a href="#" class="steward-btn">牛管家</a>
                            <p>牛管家是我们家服汇推出的全新管家模式他不仅能全程一般管家能完成的服务内容，在此同时他还能根据不同客服制定出相应服务内容</p>
                        </div>
                    </div>
                    <div class="right code">
                        <img src="../../assets/frontend/images/code.jpg" alt=""/><br/>
                        <p>一扫即入  我的小区牛管家</p>
                    </div>
                    <div class="server-case clearfix left">
                        <div class="left one c63">生活服务咨询/受理</div>
                        <div class="left two c8d">上门服务：干洗收取件 </div>
                        <div class="left two cd8">监督投诉维权 </div>
                        <div class="left one dcd">贴心公益：孤寡老人关怀</div>
                    </div>
                    <div class="new-quarters right">
                        <div class="nq-head">最新入驻小区</div>
                        <ul class="nq-ul">
                            <li>
                                <div class="baiye">
                                    <p>
                                        <span class="left">渝北区</span>
                                        <span class="right">天竞社区</span>
                                    </p>
                                    <p>
                                        <span class="left">渝中区</span>
                                        <span class="right">天竞社区</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="baiye">
                                    <p>
                                        <span class="left">九龙坡区</span>
                                        <span class="right">天竞社区</span>
                                    </p>
                                    <p>
                                        <span class="left">合川区</span>
                                        <span class="right">天竞社区</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="baiye">
                                    <p>
                                        <span class="left">南岸区</span>
                                        <span class="right">天竞社区</span>
                                    </p>
                                    <p>
                                        <span class="left">沙坪坝区</span>
                                        <span class="right">天竞社区</span>
                                    </p>
                                </div>
                            </li>
                            <li class="last">
                                <div class="baiye">
                                    <p>
                                        <span class="left">北碚区</span>
                                        <span class="right">天竞社区</span>
                                    </p>
                                    <p>
                                        <span class="left">巴中区</span>
                                        <span class="right">天竞社区</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <img src="../../assets/frontend/images/xun.jpg" alt="" class="auto-img"/>
            <div class="cms-home">
                <p class="title">家庭汇创新产业孵化基地</p>
                <div class="indent-col-main">
                    <div class="std"><BR></div>
                    <div class="block-slider">
                        <div class="anythingSlider">
                            <ul id="slider_list" class="products-grid">
                                <li class="item first">
                                    <a class=product-image title="Lorem ipsum dolor sit" href="#">
                                        <img alt="Lorem ipsum dolor sit" src="../../assets/global/plugins/jquery-huadong/images/base-slider1.jpg">
                                        <div class="base-mask-bg"></div>
                                        <div class="base-mask">
                                            <div class="base-lei">
                                                <i class="fa fa-bars"></i>
                                            </div>
                                            <span>舒服舒服</span>
                                            <span>我要加盟></span>
                                        </div>
                                    </a>
                                </li>
                                <li class=item>
                                    <a class=product-image title="Lorem ipsum dolor sit 2" href="#">
                                        <img alt="Lorem ipsum dolor sit 2" src="../../assets/global/plugins/jquery-huadong/images/base-slider1.jpg">
                                    </a>
                                    <div class="base-mask-bg"></div>
                                    <div class="base-mask">
                                        <span>舒服舒服</span>
                                        <span>我要加盟></span>
                                    </div>
                                </li>
                                <li class=item>
                                    <a class=product-image title="Lorem ipsum dolor sit 4" href="#">
                                        <img alt="Lorem ipsum dolor sit 4" src="../../assets/global/plugins/jquery-huadong/images/base-slider1.jpg">
                                        <div class="base-mask-bg"></div>
                                        <div class="base-mask">
                                            <span>舒服舒服</span>
                                            <span>我要加盟></span>
                                        </div>
                                    </a>
                                </li>
                                <li class=item>
                                    <a class=product-image title="Lorem ipsum dolor sit 8" href="#">
                                        <img alt="Lorem ipsum dolor sit 8" src="../../assets/global/plugins/jquery-huadong/images/base-slider1.jpg">
                                        <div class="base-mask-bg"></div>
                                        <div class="base-mask">
                                            <span>舒服舒服</span>
                                            <span>我要加盟></span>
                                        </div>
                                    </a>
                                </li>
                                <li class=item>
                                    <a class=product-image title="Lorem ipsum dolor sit 7" href="#">
                                        <img alt="Lorem ipsum dolor sit 7" src="../../assets/global/plugins/jquery-huadong/images/base-slider1.jpg">
                                        <div class="base-mask-bg"></div>
                                        <div class="base-mask">
                                            <span>舒服舒服</span>
                                            <span>我要加盟></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="item last">
                                    <a class=product-image title="Lorem ipsum dolor sit 3" href="#">
                                        <img alt="Lorem ipsum dolor sit 3" src="../../assets/global/plugins/jquery-huadong/images/base-slider1.jpg">
                                        <div class="base-mask-bg"></div>
                                        <div class="base-mask">
                                            <span>舒服舒服</span>
                                            <span>我要加盟></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="item last">
                                    <a class=product-image title="Lorem ipsum dolor sit 3" href="#">
                                        <img alt="Lorem ipsum dolor sit 3" src="../../assets/global/plugins/jquery-huadong/images/base-slider1.jpg">
                                        <div class="base-mask-bg"></div>
                                        <div class="base-mask">
                                            <span>舒服舒服</span>
                                            <span>我要加盟></span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id=left_but class="box-left">
                        ‹
                    </div>
                    <div id=right_but class="box-right">
                        ›
                    </div>
                </div>
            </div>
            <div class="active-div">
                <div class="content-main">
                    <div class="active-slider">
                        <p class="title">公益活动</p>
                        <ul class="active-ul clearfix">
                            <li>
                                <img src="../../assets/frontend/images/active-img1.jpg" class="left"/>
                                <div class="active-details">
                                    <p class="title">2015送衣物给山区贫困小孩</p>
                                    <p class="ac-content">儿童福利示范项目为每个村设立了儿童福利主任，由他来了解掌握每个困境儿 童的情况，为儿童及其家庭提供急需的福利支持，从而建立起深</p>
                                    <p class="ac-content">儿童福利示范项目为每个村设立了儿童福利主任，由他来了解掌握每个困境儿 童的情况，为儿童及其家庭提供急需的福利支持，从而建立起深</p>
                                </div>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/active-img1.jpg" class="left"/>
                                <div class="active-details">
                                    <p class="title">2016送衣物给山区贫困小孩</p>
                                    <p class="ac-content">儿童福利示范项目为每个村设立了儿童福利主任，由他来了解掌握每个困境儿 童的情况，为儿童及其家庭提供急需的福利支持，从而建立起深</p>
                                    <p class="ac-content">儿童福利示范项目为每个村设立了儿童福利主任，由他来了解掌握每个困境儿 童的情况，为儿童及其家庭提供急需的福利支持，从而建立起深</p>
                                </div>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/active-img1.jpg" class="left"/>
                                <div class="active-details">
                                    <p class="title">2017送衣物给山区贫困小孩</p>
                                    <p class="ac-content">儿童福利示范项目为每个村设立了儿童福利主任，由他来了解掌握每个困境儿 童的情况，为儿童及其家庭提供急需的福利支持，从而建立起深</p>
                                    <p class="ac-content">儿童福利示范项目为每个村设立了儿童福利主任，由他来了解掌握每个困境儿 童的情况，为儿童及其家庭提供急需的福利支持，从而建立起深</p>
                                </div>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/active-img1.jpg" class="left"/>
                                <div class="active-details">
                                    <p class="title">2018送衣物给山区贫困小孩</p>
                                    <p class="ac-content">儿童福利示范项目为每个村设立了儿童福利主任，由他来了解掌握每个困境儿 童的情况，为儿童及其家庭提供急需的福利支持，从而建立起深</p>
                                    <p class="ac-content">儿童福利示范项目为每个村设立了儿童福利主任，由他来了解掌握每个困境儿 童的情况，为儿童及其家庭提供急需的福利支持，从而建立起深</p>
                                </div>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/active-img1.jpg" class="left"/>
                                <div class="active-details">
                                    <p class="title">2019送衣物给山区贫困小孩</p>
                                    <p class="ac-content">儿童福利示范项目为每个村设立了儿童福利主任，由他来了解掌握每个困境儿 童的情况，为儿童及其家庭提供急需的福利支持，从而建立起深</p>
                                    <p class="ac-content">儿童福利示范项目为每个村设立了儿童福利主任，由他来了解掌握每个困境儿 童的情况，为儿童及其家庭提供急需的福利支持，从而建立起深</p>
                                </div>
                            </li>
                            <li>
                                <img src="../../assets/frontend/images/active-img1.jpg" class="left"/>
                                <div class="active-details">
                                    <p class="title">2010送衣物给山区贫困小孩</p>
                                    <p class="ac-content">儿童福利示范项目为每个村设立了儿童福利主任，由他来了解掌握每个困境儿 童的情况，为儿童及其家庭提供急需的福利支持，从而建立起深</p>
                                    <p class="ac-content">儿童福利示范项目为每个村设立了儿童福利主任，由他来了解掌握每个困境儿 童的情况，为儿童及其家庭提供急需的福利支持，从而建立起深</p>
                                </div>
                            </li>
                        </ul>
                        <div class="active-left">‹</div>
                        <div class="active-right">›</div>
                    </div>
                </div>
            </div>
            <div class="security">
                <div class="content-main">
                    <div class="security-div">
                        <p class="title">我们的保障</p>
                        <ul class="security-slider">
                            <li>
                                <div>
                                    <img src="../../assets/frontend/images/security-img1.jpg" alt="">
                                    <div class="s-details">
                                        中国平安保险全程介入，避免服务过程中发生意外、财产损失情况而导致的维权纠纷
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="../../assets/frontend/images/security-img2.jpg" alt="">
                                    <div class="s-details">
                                        中国安全卫士全程介入，避免服务过程中发生意外、财产损失情况而导致的维权纠纷，保证客户的各项安全与保障
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="../../assets/frontend/images/security-img3.jpg" alt="">
                                    <div class="s-details">
                                        安全保障是任何工作中不可缺少的一项工作，避免服务过程中发生意外、财产损失情况而导致的维权纠纷，保证客户的各项安全与保障
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="../../assets/frontend/images/security-img1.jpg" alt="">
                                    <div class="s-details">
                                        中国平安保险全程介入，避免服务过程中发生意外、财产损失情况而导致的维权纠纷
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="../../assets/frontend/images/security-img2.jpg" alt="">
                                    <div class="s-details">
                                        中国安全卫士全程介入，避免服务过程中发生意外、财产损失情况而导致的维权纠纷，保证客户的各项安全与保障
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="../../assets/frontend/images/security-img3.jpg" alt="">
                                    <div class="s-details">
                                        安全保障是任何工作中不可缺少的一项工作，避免服务过程中发生意外、财产损失情况而导致的维权纠纷，保证客户的各项安全与保障
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="../../assets/frontend/images/security-img1.jpg" alt="">
                                    <div class="s-details">
                                        中国平安保险全程介入，避免服务过程中发生意外、财产损失情况而导致的维权纠纷
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="../../assets/frontend/images/security-img2.jpg" alt="">
                                    <div class="s-details">
                                        中国安全卫士全程介入，避免服务过程中发生意外、财产损失情况而导致的维权纠纷，保证客户的各项安全与保障
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a class="securityleft">
                            <img src="../../assets/frontend/images/sleft.png" alt="">
                        </a>
                        <a class="securityright">
                            <img src="../../assets/frontend/images/sright.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <ul class="we">
                <li>
                    <div class="message">
                        <i class="fa fa-qq"></i><br/>
                        <span class="miaoshu">QQ</span>
                        <div class="qqgroup-show hide">
                            <div class="qqgroup-show-content">
                                <dl style="text-align: center;">
                                    <dt>
                                        <a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=a00ed4785ac44e837af8ac0c3c6b970ba03fe192db517da2"style="position: relative;left: 29px;top: -38px;">
                                            <img border="0" src="http://wpa.qq.com/imgd?IDKEY=a00ed4785ac44e837af8ac0c3c6b970ba03fe192db517da2&pic=51" alt="点击这里给我发消息" title="点击这里给我发消息">
                                        </a>
                                    </dt>
                                    <dd style="position: relative;left: -46px;top: -25px;">
                                        QQ账号:2933844529
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="phone">
                        <i class="fa fa-user"></i><br/>
                        <span class="miaoshu">客服</span>
                        <div class="telphone-show hide">
                            <div class="telphone-show-content">
                                <b>023-62773615</b><br/>周一至周日 9:00-18:00
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tuo_code">
                        <i class="fa fa-weixin"></i><br/>
                        <span class="miaoshu">关注我们</span>
                        <div class="qrcode hide">
                            <img class="qrcode-pic" src="../../assets/frontend/images/qr_code.jpg" alt="" width="120"/>
                        </div>
                    </div>
                </li>
                <li class="top"></li>
            </ul>
        </div>
        <div class="cooperative-partner">
            <div class="content-main">
                <p class="title">合作机构</p>
                <ul class="cp-ul clearfix">
                    <li>
                        <img src="../../assets/frontend/images/patiner1.png" alt=""/><br/>
                        <span>爱心家政</span>
                    </li>
                    <li>
                        <img src="../../assets/frontend/images/patiner1.png" alt=""/><br/>
                        <span>爱心家政</span>
                    </li>
                    <li>
                        <img src="../../assets/frontend/images/patiner1.png" alt=""/><br/>
                        <span>爱心家政</span>
                    </li>
                    <li>
                        <img src="../../assets/frontend/images/patiner1.png" alt=""/><br/>
                        <span>爱心家政</span>
                    </li>
                    <li>
                        <img src="../../assets/frontend/images/patiner1.png" alt=""/><br/>
                        <span>爱心家政</span>
                    </li>
                    <li class="mr0">
                        <img src="../../assets/frontend/images/patiner1.png" alt=""/><br/>
                        <span>爱心家政</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <div class="foot-content">
                    <div class="foot-details">
                        <ul class="foot-nav clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">网站支持</p>
                                    <p class="last">网站支持</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于我们</p>
                                    <p class="last">关于我们</p>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <p class="first">加入我们</p>
                                    <p class="last">加入我们</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-us clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">联系我们</p>
                                    <p class="last">联系我们</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务指南</p>
                                    <p class="last">服务指南</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">第三方加盟</p>
                                    <p class="last">第三方加盟</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">常见问题</p>
                                    <p class="last">常见问题</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务保障</p>
                                    <p class="last">服务保障</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于家服汇</p>
                                    <p class="last">关于家服汇</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务优势</p>
                                    <p class="last">服务优势</p>
                                </a>
                            </li>
                        </ul>
                        <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                    </div>
                </div>

            </div>
            <div class="copyright">
                <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/frontend/js/index.js?v=444"></script>
    <script src="../../assets/global/plugins/jquery-huadong/js/slider.js"></script>
    <script src="../../assets/global/plugins/jquery-huadong/js/slider_options.js"></script>
    <script>
        <!--
        (function($){
            $(".new-quarters").baye({
                setBai:4000,
                setBai1:30
            });

            $(".active-slider").activeSlider({
                setActive:5000
            });

            $(".security").securitySlider({
                setSecurity:5000
            });

            $(".serversSlider").serversSlider({
                setsSlider:5000
            });

            BackToTop({
                text : '<i class="fa fa-angle-up"></i>',
                autoShow : true,
                appearMethod : 'fade',
                timeEffect : 500,
                effectScroll :  'linear',
                autoShowOffset :  '0',
                opacity :  1,
                top :  100
            });

        })(jQuery);
        //-->
    </script>
</html>