<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>月嫂详情</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <div class="hover-active" id="hover-active"></div>
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li class="active">
                        <a href="homeServices.html">
                            家庭服务
                        </a>
                    </li>
                    <li>
                        <a href="my-community.html">
                            我的社区
                        </a>
                    </li>
                    <li>
                        <a href="train.html">
                            在线培训
                        </a>
                    </li>
                    <li>
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="public-protection.html">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="person-login.html">
                            登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content-main">
                <div class="maternity-details clearfix">
                    <ul class="breadcrumbs-one left">
                        <li><a href="index.html">首页></a></li>
                        <li><a href="homeServices.html">家庭服务></a></li>
                        <li><a href="homeServices-maternitySearch.html">月嫂搜索></a></li>
                        <li><a href="javascript:;">月嫂详情</a></li>
                    </ul>
                    <div class="left clearfix">
                        <div class="md-img left">
                            <div class="serversSlider w194 left">
                                <div class="servers-slider">
                                    <ul class="servers-ul clearfix">
                                        <li>
                                            <img src="../../assets/frontend/images/serimgs4.jpg" alt=""/>
                                        </li>
                                        <li>
                                            <img src="../../assets/frontend/images/serimgs2.jpg" alt=""/>
                                        </li>
                                        <li>
                                            <img src="../../assets/frontend/images/serimgs5.jpg" alt=""/>
                                        </li>
                                    </ul>
                                </div>
                                <div class="servers-pagination">
                                    <a href="javascript:void(0)" class="active">
                                        <img src="../../assets/frontend/images/serimgs4.jpg" alt="">
                                    </a>
                                    <a href="javascript:void(0)">
                                        <img src="../../assets/frontend/images/serimgs2.jpg" alt="">
                                    </a>
                                    <a href="javascript:void(0)" class="last">
                                        <img src="../../assets/frontend/images/serimgs5.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="md-information left">
                            <p class="type-name">基本信息</p>
                            <div class="p-dedails">
                                <ul class="md-ul clearfix">
                                    <li>
                                        <span class="type">姓名 : </span>
                                        <span>张丽丽</span>
                                    </li>
                                    <li>
                                        <span class="type">年龄 : </span>
                                        <span>48</span>
                                    </li>
                                    <li>
                                        <span class="type">名族 : </span>
                                        <span>汉</span>
                                    </li>
                                    <li>
                                        <span class="type">身高 : </span>
                                        <span>164cm</span>
                                    </li>
                                    <li>
                                        <span class="type">现住址 : </span>
                                        <span>重庆</span>
                                    </li>
                                    <li>
                                        <span class="type">祖籍 : </span>
                                        <span>重庆</span>
                                    </li>
                                    <li>
                                        <span class="type">体重 : </span>
                                        <span>63kg</span>
                                    </li>
                                    <li>
                                        <span class="type">学历 : </span>
                                        <span>高中</span>
                                    </li>
                                    <li>
                                        <span class="type">生肖 : </span>
                                        <span>羊</span>
                                    </li>

                                </ul>
                                <div class="md-p">
                                    <span class="type">资质评价 : </span>
                                    <p>
                                <span class="active">
                                    <i class="fa fa-check"></i> 态度认真
                                </span>
                                 <span class="active">
                                    <i class="fa fa-check"></i> 老实本分
                                </span>
                                 <span>
                                    <i class="fa fa-check"></i> 动作麻利
                                </span>
                                 <span class="active">
                                    <i class="fa fa-check"></i> 技能
                                </span>
                                    </p>
                                </div>
                            </div>
                            <p class="type-name">详细资料</p>
                            <div class="p-dedails">

                                <p>专业技能：烹饪家常菜、营养膳食搭配、居家收纳。整理衣物。婴幼儿日常照料</p>

                                <p>语言能力：普通话、重庆话</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="server-info">
                    <ul class="si-ul clearfix">
                        <li class="active">健康证</li>
                    </ul>
                    <div class="condition active">
                        <img src="../../assets/frontend/images/health-img.jpg" alt="" class="health-img"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <div class="foot-content">
                    <div class="foot-details">
                        <ul class="foot-nav clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">网站支持</p>
                                    <p class="last">网站支持</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于我们</p>
                                    <p class="last">关于我们</p>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <p class="first">加入我们</p>
                                    <p class="last">加入我们</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-us clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">联系我们</p>
                                    <p class="last">联系我们</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务指南</p>
                                    <p class="last">服务指南</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">第三方加盟</p>
                                    <p class="last">第三方加盟</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">常见问题</p>
                                    <p class="last">常见问题</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务保障</p>
                                    <p class="last">服务保障</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于家服汇</p>
                                    <p class="last">关于家服汇</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务优势</p>
                                    <p class="last">服务优势</p>
                                </a>
                            </li>
                        </ul>
                        <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/footHandle.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/frontend/js/spinner.js"></script>
    <script type="text/javascript">
        (function($){
            $(".s-spinner").spinner({
                defaultNum:0,
                maxNum:100
            });
        })(jQuery)
    </script>
    <script>
        <!--
        (function($){
            var rul = $(".si-ul li,.level li");
            var rl = $(".r-ul,.condition");
            rul.each(function(i){
                $(this).on("click",function(){
                    $(this).addClass("active");
                    $(this).siblings().removeClass("active");
                    rl.eq(i).addClass("active");
                    rl.eq(i).siblings(rl).removeClass("active");
                })
            });


            /*多图切换*/
            var SerSlider = function (serSlider,options){
                var serversDefaul = {
                    setsSlider:5000
                };
                var serversOpts = $.extend({},serversDefaul,options);
                var serversMethods = {
                    init:function(_this){
                        serversPaginationA = _this.find("a");
                        serversUl = _this.find(".servers-ul");
                        oLiServers = _this.find("li");
                        liWidthservers = oLiServers.get(0).offsetWidth;
                        serversUlWidth = serversUl.offset().width;
                        serversUlWidth = liWidthservers*oLiServers.size() + "px";
                        serversUl.width(serversUlWidth);
                        timerServers = setInterval(serversMethods.autoPlay,serversOpts.setsSlider);
                        inowServers = 0;
                        btnServers = true;
                        serversMethods.mouseover(_this);
                        serversMethods.mouseout(_this);
                        serversMethods.paginatioaClick();
                    },
                    autoPlay:function(){
                        if(btnServers == true){
                            btnServers = false;
                            if(inowServers == oLiServers.size()-1){
                                inowServers = 0;
                                serversPaginationA.eq(inowServers).addClass("active");
                                serversPaginationA.eq(inowServers).siblings().removeClass("active");
                                move(serversUl[0], {left : -inowServers * liWidthservers},function(){
                                    btnServers = true;
                                });
                                btnServers = true;
                            }else{
                                inowServers++;
                                serversPaginationA.eq(inowServers).addClass("active");
                                serversPaginationA.eq(inowServers).siblings().removeClass("active");
                                move(serversUl[0], {left : -inowServers * liWidthservers},function(){
                                    btnServers = true;
                                });
                            }
                        }
                    },
                    paginatioaClick:function(){
                        serversPaginationA.each(function(i){
                            $(this).on("click",function(){
                                clearInterval(timerServers);
                                inowServers = i;
                                move(serversUl[0], {left : -inowServers * liWidthservers},function(){

                                });
                                $(this).addClass("active");
                                $(this).siblings().removeClass("active");
                            })
                        });
                    },
                    mouseover:function(_this){
                        _this.on("mouseover",function(){
                            clearInterval(timerServers);
                        })
                    },
                    mouseout:function(_this){
                        _this.on("mouseout",function(){
                            timerServers = setInterval(serversMethods.autoPlay,serversOpts.setsSlider);
                        })
                    }
                };
                serversMethods.init(serSlider)
            };
            new SerSlider($(".serversSlider"),{
                setsSlider:5000
            });
        })(jQuery);
        //-->
    </script>
</html>