<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>我的社区</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <div class="hover-active" id="hover-active"></div>
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="homeServices.html">
                            家庭服务
                        </a>
                    </li>
                    <li class="active">
                        <a href="my-community.html">
                            我的社区
                        </a>
                    </li>
                    <li>
                        <a href="train.html">
                            在线培训
                        </a>
                    </li>
                    <li>
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="public-protection.html">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="login.html">
                            登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content" style="margin-top: -15px;">
            <img src="../../assets/frontend/images/steward-img.jpg" alt="" class="auto-img"/>
            <div class="map">
                <div class="content-main">
                    <p class="title">我的社区</p>
                    <p>家服汇推出的一款新服务，很好的与社区服务相结合，每个小区将配备一个我的社区与客服沟通，把我们线上的产品通过我的社区让客户沟通，我的社区的种类很多，可以是精英，把我们的服务传达给客服，这是我的社区的职业所在。</p>
                    <div class="input-search">
                        <input class="text" type="text" placeholder="请输入您要搜索的内容">
                        <a href="community-chioce.html" class="button cw-icon"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="feature">
                <div class="content-main">
                    <p class="title">我的社区优势特色</p>
                    <ul class="feature-hover-menu clearfix">
                        <li>
                            <p>
                                <img src="../../assets/frontend/images/icon1.png" alt=""/><br/>
                                <span>覆盖面广</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <img src="../../assets/frontend/images/icon2.png" alt=""/><br/>
                                <span>安全性高</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <img src="../../assets/frontend/images/icon3.png" alt=""/><br/>
                                <span>快捷、高效</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <img src="../../assets/frontend/images/icon4.png" alt=""/><br/>
                                <span>服务更多</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="area">
                <div class="content-main">
                    <p class="title">我的社区覆盖面积</p>
                    <div class="areaSlider" id="areaSlider">
                        <div class="area-slider" id="area-slider">
                            <ul class="area-ul clearfix" id="area-ul">
                                <li>
                                    <div class="area-div ml0">
                                        <img src="../../assets/frontend/images/area1.jpg" alt=""/>
                                        <div class="area-mask-bg"></div>
                                        <div class="area-mask">
                                            <div class="area-details">
                                                <p class="area-title">我的社区</p>
                                                <a class="area-btn-bg"></a>
                                                <a href="community-details.html" class="area-btn">九龙坡</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="area-village">
                                        <a href="community-details.html">
                                            <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                        </a>
                                        <div class="av-mask-bg"></div>
                                        <div class="av-mask">
                                            某某小区
                                        </div>
                                    </div>
                                    <div class="area-village mr0">
                                        <a href="community-details.html">
                                            <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                        </a>
                                        <div class="av-mask-bg"></div>
                                        <div class="av-mask">
                                            某某小区
                                        </div>
                                    </div>
                                    <div class="area-village">
                                        <a href="community-details.html">
                                            <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                        </a>
                                        <div class="av-mask-bg"></div>
                                        <div class="av-mask">
                                            某某小区
                                        </div>
                                    </div>
                                    <div class="area-village mr0">
                                        <a href="community-details.html">
                                            <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                        </a>
                                        <div class="av-mask-bg"></div>
                                        <div class="av-mask">
                                            某某小区
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="area-div ml0">
                                        <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                        <div class="area-mask-bg"></div>
                                        <div class="area-mask">
                                            <div class="area-details">
                                                <p class="area-title">我的社区</p>
                                                <a class="area-btn-bg"></a>
                                                <a href="community-details.html" class="area-btn">渝中</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="area-village">
                                        <a href="community-details.html">
                                            <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                        </a>
                                        <div class="av-mask-bg"></div>
                                        <div class="av-mask">
                                            某某小区
                                        </div>
                                    </div>
                                    <div class="area-village mr0">
                                        <a href="community-details.html">
                                            <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                        </a>
                                        <div class="av-mask-bg"></div>
                                        <div class="av-mask">
                                            某某小区
                                        </div>
                                    </div>
                                    <div class="area-village">
                                        <a href="community-details.html">
                                            <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                        </a>
                                        <div class="av-mask-bg"></div>
                                        <div class="av-mask">
                                            某某小区
                                        </div>
                                    </div>
                                    <div class="area-village mr0">
                                        <a href="community-details.html">
                                            <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                        </a>
                                        <div class="av-mask-bg"></div>
                                        <div class="av-mask">
                                            某某小区
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="area-div ml0">
                                        <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                        <div class="area-mask-bg"></div>
                                        <div class="area-mask">
                                            <div class="area-details">
                                                <p class="area-title">我的社区</p>
                                                <a class="area-btn-bg"></a>
                                                <a href="community-details.html" class="area-btn">渝北</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="area-village">
                                        <a href="community-details.html">
                                            <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                        </a>
                                        <div class="av-mask-bg"></div>
                                        <div class="av-mask">
                                            某某小区
                                        </div>
                                    </div>
                                    <div class="area-village mr0">
                                        <a href="community-details.html">
                                            <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                        </a>
                                        <div class="av-mask-bg"></div>
                                        <div class="av-mask">
                                            某某小区
                                        </div>
                                    </div>
                                    <div class="area-village">
                                        <a href="community-details.html">
                                            <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                        </a>
                                        <div class="av-mask-bg"></div>
                                        <div class="av-mask">
                                            某某小区
                                        </div>
                                    </div>
                                    <div class="area-village mr0">
                                        <a href="community-details.html">
                                            <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                        </a>
                                        <div class="av-mask-bg"></div>
                                        <div class="av-mask">
                                            某某小区
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <span class="area-left" id="left">‹</span>
                        <span class="area-right" id="right">›</span>
                    </div>
                </div>
            </div>
            <div class="join-area">
                <div class="content-main">
                    <p class="title">招募社区人员</p>
                    <ul class="join-ul clearfix">
                        <li>
                            <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                            <div class="join-img">
                                <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                                <div class="join-mask-bg"></div>
                                <div class="join-mask">
                                    诚挚的邀请您加入
                                </div>
                            </div>
                            <div class="bf">
                                <span class="join-span">南坪某小区</span>
                                <a href="recruitment-details.html" class="join-btn">加盟</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                            <div class="join-img">
                                <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                                <div class="join-mask-bg"></div>
                                <div class="join-mask">
                                    诚挚的邀请您加入
                                </div>
                            </div>
                            <div class="bf">
                                <span class="join-span">南坪某小区</span>
                                                 <a href="recruitment-details.html" class="join-btn">加盟</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                            <div class="join-img">
                                <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                                <div class="join-mask-bg"></div>
                                <div class="join-mask">
                                    诚挚的邀请您加入
                                </div>
                            </div>
                            <div class="bf">
                                <span class="join-span">南坪某小区</span>
                                                 <a href="recruitment-details.html" class="join-btn">加盟</a>
                            </div>
                        </li>
                        <li class="mr0">
                            <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                            <div class="join-img">
                                <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                                <div class="join-mask-bg"></div>
                                <div class="join-mask">
                                    诚挚的邀请您加入
                                </div>
                            </div>
                            <div class="bf">
                                <span class="join-span">南坪某小区</span>
                                                 <a href="recruitment-details.html" class="join-btn">加盟</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                            <div class="join-img">
                                <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                                <div class="join-mask-bg"></div>
                                <div class="join-mask">
                                    诚挚的邀请您加入
                                </div>
                            </div>
                            <div class="bf">
                                <span class="join-span">南坪某小区</span>
                                                 <a href="recruitment-details.html" class="join-btn">加盟</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                            <div class="join-img">
                                <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                                <div class="join-mask-bg"></div>
                                <div class="join-mask">
                                    诚挚的邀请您加入
                                </div>
                            </div>
                            <div class="bf">
                                <span class="join-span">南坪某小区</span>
                                                 <a href="recruitment-details.html" class="join-btn">加盟</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                            <div class="join-img">
                                <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                                <div class="join-mask-bg"></div>
                                <div class="join-mask">
                                    诚挚的邀请您加入
                                </div>
                            </div>
                            <div class="bf">
                                <span class="join-span">南坪某小区</span>
                                                 <a href="recruitment-details.html" class="join-btn">加盟</a>
                            </div>
                        </li>
                        <li class="mr0">
                            <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                            <div class="join-img">
                                <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                                <div class="join-mask-bg"></div>
                                <div class="join-mask">
                                    诚挚的邀请您加入
                                </div>
                            </div>
                            <div class="bf">
                                <span class="join-span">南坪某小区</span>
                                                 <a href="recruitment-details.html" class="join-btn">加盟</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <div class="foot-content">
                    <div class="foot-details">
                        <ul class="foot-nav clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">网站支持</p>
                                    <p class="last">网站支持</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于我们</p>
                                    <p class="last">关于我们</p>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <p class="first">加入我们</p>
                                    <p class="last">加入我们</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-us clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">联系我们</p>
                                    <p class="last">联系我们</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务指南</p>
                                    <p class="last">服务指南</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">第三方加盟</p>
                                    <p class="last">第三方加盟</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">常见问题</p>
                                    <p class="last">常见问题</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务保障</p>
                                    <p class="last">服务保障</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于家服汇</p>
                                    <p class="last">关于家服汇</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务优势</p>
                                    <p class="last">服务优势</p>
                                </a>
                            </li>
                        </ul>
                        <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                    </div>
                </div>

            </div>
            <div class="copyright">
                <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/frontend/js/steward.js"></script>
</html>