<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>项目详情</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <style>
        .content{background: #f6f3ee;padding-top: 15px;}
        .head-main .menu li:hover a { color: #333;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="homeServices.html">
                            家庭服务
                        </a>
                    </li>
                    <li>
                        <a href="my-community.html">
                            我的社区
                        </a>
                    </li>
                    <li>
                        <a href="train.html">
                            在线培训
                        </a>
                    </li>
                    <li>
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="public-protection.html">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="person-login.html">
                            登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content-main">
                <div class="ch-head clearfix">
                    <div class="left abstract">
                        <p>
                            <span class="title">项目名称</span>
                            <span>我家附近</span>
                        </p>
                        <p>
                            <span class="title">创始人</span>
                            <span>杨晓刚</span>
                        </p>
                        <p>
                            <span class="title">发布时间</span>
                            <span>2015年9月</span>
                        </p>
                        <p>
                            <span class="title">所属行业</span>
                            <span>社区行业</span>
                        </p>
                        <p>
                            <span class="title">公司名称/个人</span>
                            <span>重庆我家附近科技有限公司</span>
                        </p>
                        <p>
                            <span class="title">联系方式</span>
                            <span>18996162988</span>
                        </p>
                    </div>
                    <div class="right">
                        <img src="../../assets/frontend/images/case-img1.jpg" alt="" class="case-img">
                    </div>
                </div>
                <div class="ch-conten">
                    <div class="chc-head">
                        <i class="fa fa-home"></i>
                        <span>公司简介</span>
                    </div>
                    <div class="chc-content">
                        重庆我家附近科技有限责任公司成立与2015年5月，是响应李克强总理提出的“全民创业，万众创新”的国家愿景规划；以互联网作为工具，致力于为中国式小区打造一个您身边的O2O社区平台，帮助社区个体户经营者利用互联网工具更好的销售和服务社区消费者，提高产品竞争力，提升服务能力。我们的经营口号“我家附近，我的便捷生活”
                    </div>
                </div>
                <div class="ch-conten">
                    <div class="chc-head">
                        <i class="fa fa-file"></i>
                        <span>项目介绍</span>
                    </div>
                    <div class="chc-content">
                        存续
                    </div>
                </div>

                <div class="ch-conten">
                    <div class="chc-head">
                        <i class="fa fa-star"></i>
                        <span>项目状态</span>
                    </div>
                    <div class="chc-content">
                        暂无
                    </div>
                </div>
                <div class="ch-conten">
                    <div class="chc-head">
                        <i class="fa fa-users"></i>
                        <span>团队成员</span>
                    </div>
                    <div class="chc-content">
                        杨晓刚（创始人兼CEO），黄禹（技术总监），李涛（运营总监），周小维（数据管理及维护），李琼（UI设计），罗香（行政兼库管）
                    </div>
                </div>
                <div class="ch-conten mb0">
                    <div class="chc-head">
                        <i class="fa fa-bars"></i>
                        <span>成员职位</span>
                    </div>
                    <div class="chc-content">

                    </div>
                </div>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <div class="foot-content">
                    <div class="foot-details">
                        <ul class="foot-nav clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">网站支持</p>
                                    <p class="last">网站支持</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于我们</p>
                                    <p class="last">关于我们</p>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <p class="first">加入我们</p>
                                    <p class="last">加入我们</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-us clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">联系我们</p>
                                    <p class="last">联系我们</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务指南</p>
                                    <p class="last">服务指南</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">第三方加盟</p>
                                    <p class="last">第三方加盟</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">常见问题</p>
                                    <p class="last">常见问题</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务保障</p>
                                    <p class="last">服务保障</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于家服汇</p>
                                    <p class="last">关于家服汇</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务优势</p>
                                    <p class="last">服务优势</p>
                                </a>
                            </li>
                        </ul>
                        <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/footHandle.js"></script>
</html>