<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>套餐查询</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>

</head>
<body>
<div class="wrapper">
    <div class="head">
        <div class="head-bg"></div>
        <div class="head-main">
            <div class="logo left"></div>
            <ul class="menu right clearfix" id="menu">
                <div class="hover-active" id="hover-active"></div>
                <li>
                    <a href="index.html">
                        首页
                    </a>
                </li>
                <li>
                    <a href="homeServices.html">
                        家庭服务
                    </a>
                </li>
                <li>
                    <a href="my-community.html">
                        我的社区
                    </a>
                </li>
                <li>
                    <a href="train.html">
                        在线培训
                    </a>
                </li>
                <li>
                    <a href="space-creation.html">
                        众创空间
                    </a>
                </li>
                <li>
                    <a href="public-protection.html">
                        公益保障
                    </a>
                </li>
                <li class="active">
                            <span class="infor">
                                <span>13678478463</span><br/>
                                <a href="#">退出</a>
                            </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-main">
            <div class="clearfix">
                <ul class="person-menu left">
                    <li class="first">
                        <img src="../../assets/frontend/images/ul_head.png" alt=""style="float: left;"/>
                        <div class="li_top">
                            <span style="color: #fff;font-size: 20px;">全部功能</span>
                        </div>
                        <div class="li_bottom">订单管理</div>
                    </li>
                    <li>
                        <div class="li_top">
                         <span class="block">
                             <a href="my-order.html">我的订单</a>
                         </span>
                        <span class="block">
                             <a href="package-query.html" class="active">套餐查询</a>
                         </span>
                        </div>
                        <div class="li_bottom">优惠券</div>
                    </li>
                    <li>
                        <div class="li_top">
                         <span class="block">
                             <a href="#">我的优惠券</a>
                         </span>
                        </div>
                        <div class="li_bottom">个人中心</div>
                    </li>
                    <li>
                        <div class="li_top">
                         <span class="block">
                             <a href="person-center.html">个人资料</a>
                         </span>
                               <span class="block">
                             <a href="shipping-address.html">收货地址</a>
                         </span>
                        </div>
                        <div class="li_bottom">创投项目</div>
                    </li>
                    <li>
                        <div class="li_top">
                         <span class="block">
                             <a href="#">收藏的项目</a>
                         </span>
                         <span class="block">
                             <a href="#">发布的项目</a>
                         </span>
                        </div>
                        <div class="li_bottom">培训记录</div>
                    </li>
                    <li class="bb0">
                        <div class="li_top">
                         <span class="block">
                             <a href="#">收藏培训</a>
                         </span>
                         <span class="block">
                             <a href="#">已报名培训</a>
                         </span>
                        </div>
                    </li>
                </ul>
                <div class="person-right">
                    <div class="type-div">
                        <div class="my-coupon">
                            <ul class="dc-head clearfix">
                                <li class="li-active active">我的优惠卷</li>
                                <li class="li-active">领取优惠卷</li>
                                <li class="last"><a href="#">优惠劵使用规则》</a></li>
                            </ul>
                            <div class="coupon-chioce">
                                <ul class="cc-ul clearfix">
                                    <li>
                                        <span>未使用(0) <i class="fa fa-angle-down"></i></span>
                                    </li>
                                    <li class="active">
                                        <span>优惠卷类型 <i class="fa fa-angle-down"></i></span>
                                    </li>
                                    <li>
                                        <span>过期时间 <i class="fa fa-angle-down"></i></span>
                                    </li>
                                    <li>
                                        <span>优惠金额 <i class="fa fa-angle-down"></i></span>
                                    </li>
                                    <li class="mr0">
                                        <span>规则说明 <i class="fa fa-angle-down"></i></span>
                                    </li>
                                </ul>
                                <div class="cc-content">
                                    亲,您现在没有优惠卷可用~
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot clearfix">
        <div class="foot-main ">
            <div class="foot-content">
                <div class="foot-details">
                    <ul class="foot-nav clearfix">
                        <li>
                            <a href="#">
                                <p class="first">网站支持</p>
                                <p class="last">网站支持</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">关于我们</p>
                                <p class="last">关于我们</p>
                            </a>
                        </li>
                        <li class="last">
                            <a href="#">
                                <p class="first">加入我们</p>
                                <p class="last">加入我们</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-us clearfix">
                        <li>
                            <a href="#">
                                <p class="first">联系我们</p>
                                <p class="last">联系我们</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">服务指南</p>
                                <p class="last">服务指南</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">第三方加盟</p>
                                <p class="last">第三方加盟</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">常见问题</p>
                                <p class="last">常见问题</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">服务保障</p>
                                <p class="last">服务保障</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">关于家服汇</p>
                                <p class="last">关于家服汇</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">服务优势</p>
                                <p class="last">服务优势</p>
                            </a>
                        </li>
                    </ul>
                    <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                </div>
            </div>
        </div>
        <div class="copyright">
            <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/global/plugins/move/js/move.js"></script>
<script src="../../assets/frontend/js/global.js"></script>
<script src="../../assets/frontend/js/personCenter.js"></script>
<script src="../../assets/frontend/js/footHandle.js"></script>

</html>