<!DOCTYPE html>
<html>
<head lang="en">
    <title>新建项目</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <style>
        .content{background: #f6f3ee;overflow: hidden;}
        .head-main .menu li:hover a { color: #333;}
        .col-sm-2 {width: 17.5%;}
        .col-sm-10 {width: 82.5%;}
        .foot-details ul li{width: 214px;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="homeServices.html">
                            家庭服务
                        </a>
                    </li>
                    <li>
                        <a href="my-community.html">
                            我的社区
                        </a>
                    </li>
                    <li>
                        <a href="train.html">
                            在线培训
                        </a>
                    </li>
                    <li>
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="public-protection.html">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="login.html">
                            登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content-main">
                <div class="project">
                    <div class="h-head">
                        发布项目需求
                    </div>
                    <div class="h-content">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">项目名称</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control"  placeholder="维修服务">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">创始人</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control"  placeholder="陈小洁">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">发布时间</label>
                                <div class="col-sm-10">
                                    <select class="form-control">
                                        <option>2015.6.10</option>
                                        <option>2015.6.10</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">所属领域</label>
                                <div class="col-sm-10">
                                    <select class="form-control">
                                        <option>服务业</option>
                                        <option>餐饮业</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">公司/个人</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control"  placeholder="重庆月嫂公司">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系方式</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control"  placeholder="13678478463">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">公司简介</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="3" placeholder="易优弧有限公司创立于2014年，专注于门户网站技术的研究和开发，以“门户网站内容管理系统”为核心产品，形成了针对政府、企业、媒"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">项目介绍</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="3" placeholder="易优弧有限公司创立于2014年，专注于门户网站技术的研究和开发，以“门户网站内容管理系统”为核心产品，形成了针对政府、企业、媒"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">团队团员</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control"  placeholder="陈小洁">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">团队职位</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" placeholder="经理">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-4">
                                    <button type="submit" class="btn btn-submit">提交</button>
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-default">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <div class="foot-content">
                    <div class="foot-details">
                        <ul class="foot-nav clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">网站支持</p>
                                    <p class="last">网站支持</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于我们</p>
                                    <p class="last">关于我们</p>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <p class="first">加入我们</p>
                                    <p class="last">加入我们</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-us clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">联系我们</p>
                                    <p class="last">联系我们</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务指南</p>
                                    <p class="last">服务指南</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">第三方加盟</p>
                                    <p class="last">第三方加盟</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">常见问题</p>
                                    <p class="last">常见问题</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务保障</p>
                                    <p class="last">服务保障</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于家服汇</p>
                                    <p class="last">关于家服汇</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务优势</p>
                                    <p class="last">服务优势</p>
                                </a>
                            </li>
                        </ul>
                        <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                    </div>
                </div>

            </div>
            <div class="copyright">
                <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
</html>