<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>社区招募</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <div class="hover-active" id="hover-active"></div>
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="homeServices.html">
                            家庭服务
                        </a>
                    </li>
                    <li class="active">
                        <a href="my-community.html">
                            我的社区
                        </a>
                    </li>
                    <li>
                        <a href="train.html">
                            在线培训
                        </a>
                    </li>
                    <li>
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="public-protection.html">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="login.html">
                            登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="join-steward-content">
                <div class="content-main">
                    <div class="public-security clearfix">
                        <img src="../../assets/frontend/images/publicSecurity-img.jpg" alt="" class="left"/>
                        <ul class="public-area left">
                            <li class="title">
                                [南岸区-星宇花园]绿色花园
                            </li>
                            <li>
                                <span>所在区域 : 南岸区</span>
                                <span>联系人 : 张丽丽</span>
                            </li>
                            <li>
                                <span>小区地址 : 南岸区星宇花园</span>
                                <span>业委员会 : 54626255</span>
                            </li>
                            <li>
                                <span>物管电话 : <span class="phone">150866777754</span></span>
                                <span>街道电话 : <span class="phone">150866777754</span></span>
                            </li>
                        </ul>
                    </div>
                    <div class="new-message">
                        <p class="title">
                            <img src="../../assets/frontend/images/ling.png" alt=""/>[最新消息]
                        </p>
                        <p class="p-message">
                            <a href="#">
                                2016.12.28社区将举行游园活动，奖品丰厚希望业主们积极参加，一等奖将会获得一瓶油，二等奖餐巾纸及米，三等奖洗洁精...
                            </a>
                        </p>
                    </div>
                    <div class="services-list">
                        <div class="content-main">
                            <p class="title background-line">
                                <span>星级品质服务</span>
                            </p>
                            <ul class="sl-ul clearfix">
                                <li>
                                    <a href="homeServices-keeper.html">
                                        <img src="../../assets/frontend/images/serimg1.jpg" alt=""/>
                                    </a>
                                    <div class="services-mask-bg"></div>
                                    <div class="services-mask">
                                        保洁
                                    </div>
                                </li>
                                <li>
                                    <a href="homeServices-nursingworkers.html">
                                        <img src="../../assets/frontend/images/serimg2.jpg" alt=""/>
                                    </a>
                                    <div class="services-mask-bg"></div>
                                    <div class="services-mask">
                                        护工
                                    </div>
                                </li>
                                <li>
                                    <a href="homeServices-leathershoes.html">
                                        <img src="../../assets/frontend/images/serimg3.jpg" alt=""/>
                                    </a>
                                    <div class="services-mask-bg"></div>
                                    <div class="services-mask">
                                        皮鞋护理
                                    </div>
                                </li>
                                <li>
                                    <a href="homeServices-wardrobe.html">
                                        <img src="../../assets/frontend/images/serimg4.jpg" alt=""/>
                                    </a>
                                    <div class="services-mask-bg"></div>
                                    <div class="services-mask">
                                        衣柜整理
                                    </div>
                                </li>
                                <li class="mr0">
                                    <a href="homeServices-maternity1.html">
                                        <img src="../../assets/frontend/images/serimg5.jpg" alt=""/>
                                    </a>
                                    <div class="services-mask-bg"></div>
                                    <div class="services-mask">
                                        月嫂
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <img src="../../assets/frontend/images/se-step.jpg" alt="" class="seStep-img"/>
                    <div class="join-div join-div1 clearfix">
                        <div class="join-se left">
                            <div class="joins-details">
                                <p class="j-title">我家附近</p>
                                <p>
                                    我家附近超市是一种全新的020模式，链接周边的社区超市为周边小区提供高效、方便、人性化的商品采购服务,一种全新的用户体验不只给
                                </p>
                            </div>
                        </div>
                        <div class="right join-infor">
                            <div class="joif-head">
                                不管家
                            </div>
                            <div class="joif-con">
                                <img src="../../assets/frontend/images/zmw.png" alt=""/><br/>
                                <p>
                                    <button class="btn-join">加盟社区</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="severs-case">
                        <ul class="sca-ul sca-ul1 clearfix">
                            <li class="active">周边服务</li>
                            <li class="br0">社区公益</li>
                        </ul>
                        <div class="scSlider scSlider1">
                            <div class="sc-slider sc-slider1">
                                <span class="span-s span-s1 active">超市服务</span>
                                <span class="span-s span-s1">维修服务</span>
                                <span class="span-s span-s1">上门服务</span>
                                <ul class="sc-ul sc-ul1" id="sc-ul">
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img1.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                老人看护
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>在家照顾老人的日常生活，陪伴来人让老人不会感觉孤单寂寞沙发水电费是谁的方式</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img2.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                日常家务
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>打扫日常清洁，保洁，让家庭干净整洁，认真仔细的完成雇主要求</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img3.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                植物代养
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>当主任离家，植物在家可能就没有人能帮忙照顾，我们新推出一项服务，植物代养</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mr0">
                                        <img src="../../assets/frontend/images/sc-img1.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                老人看护
                                                <span class="right phone">13678478463</span>

                                            </p>
                                            <div class="deatils-p">
                                                <p>在家照顾老人的日常生活，陪伴来人让老人不会感觉孤单寂寞沙发水电费是谁的方式</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img1.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                老人看护
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>在家照顾老人的日常生活，陪伴来人让老人不会感觉孤单寂寞沙发水电费是谁的方式</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img2.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                日常家务
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>打扫日常清洁，保洁，让家庭干净整洁，认真仔细的完成雇主要求</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../../assets/frontend/images/sc-img3.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                植物代养
                                                <span class="right phone">13678478463</span>
                                            </p>
                                            <div class="deatils-p">
                                                <p>当主任离家，植物在家可能就没有人能帮忙照顾，我们新推出一项服务，植物代养</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mr0">
                                        <img src="../../assets/frontend/images/sc-img1.jpg" alt=""/>
                                        <div class="scu-div">
                                            <p class="title">
                                                老人看护
                                                <span class="right phone">13678478463</span>

                                            </p>
                                            <div class="deatils-p">
                                                <p>在家照顾老人的日常生活，陪伴来人让老人不会感觉孤单寂寞沙发水电费是谁的方式</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <div class="foot-content">
                    <div class="foot-details">
                        <ul class="foot-nav clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">网站支持</p>
                                    <p class="last">网站支持</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于我们</p>
                                    <p class="last">关于我们</p>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <p class="first">加入我们</p>
                                    <p class="last">加入我们</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-us clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">联系我们</p>
                                    <p class="last">联系我们</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务指南</p>
                                    <p class="last">服务指南</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">第三方加盟</p>
                                    <p class="last">第三方加盟</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">常见问题</p>
                                    <p class="last">常见问题</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务保障</p>
                                    <p class="last">服务保障</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于家服汇</p>
                                    <p class="last">关于家服汇</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务优势</p>
                                    <p class="last">服务优势</p>
                                </a>
                            </li>
                        </ul>
                        <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
</html>