<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>服务优势</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <style>
        body{background: #f6f3ee;padding-top: 1px;}
        .head-main .menu li:hover a { color: #333;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="homeServices.html">
                            家庭服务
                        </a>
                    </li>
                    <li>
                        <a href="my-community.html">
                            我的社区
                        </a>
                    </li>
                    <li>
                        <a href="train.html">
                            在线培训
                        </a>
                    </li>
                    <li>
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="public-protection.html">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="person-login.html">
                            登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="contact-us">
                <div class="content-main">
                    <div class="w-left">
                        <div class="nav">
                            <div class="nav-div on">
                                <p class="nav-p">
                                    <i class="fa fa-user"></i>
                                    <span>关于我们</span>
                                </p>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <span>服务指南</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>服务保障</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="active">
                                            <span>服务优势</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="nav-div">
                                <p class="nav-p">
                                    <i class="fa fa-home"></i>
                                    <span>加入我们</span>
                                </p>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <span>第三方加盟</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>关于家服汇</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="nav-div last">
                                <p class="nav-p">
                                    <i class="fa fa-book"></i>
                                    <span>网站支持</span>
                                </p>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <span>联系我们</span>
                                        </a>
                                    </li>
                                    <li class="last">
                                        <a href="#">
                                            <span>常见问题</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-right">
                        <p class="title">服务优势</p>
                        <div class="advantage-infor">
                            <p class="title">
                                <img src="../../assets/frontend/images/mafl1.png" alt="" class="mafl"> <span>非中介制</span>
                            </p>
                            <p>人性的员工制管理，持三证上岗（身份证、健康证、从业资格证）保证每一位母婴护理师都经过我们的精挑细选。</p>
                        </div>
                        <div class="advantage-infor">
                            <p class="title">
                                <img src="../../assets/frontend/images/mafl2.png" alt="" class="mafl"> <span>高标准化</span>
                            </p>
                            <p>严格按照2016年国家家政服务从业标准，用心为每一位雇主提供高质量的家政服务。</p>
                        </div>
                        <div class="advantage-infor">
                            <p class="title">
                                <img src="../../assets/frontend/images/mafl4.png" alt="" class="mafl"> <span>定级定价</span>
                            </p>
                            <p>我们通过技能等级、证书等级、从业时间用户好评率对从业人员进行全方面综合评级，根据级别制定标准统一服务价格。</p>
                        </div>
                        <div class="advantage-infor">
                            <p class="title">
                                <img src="../../assets/frontend/images/mafl6.png" alt="" class="mafl"> <span>贴心售后</span>
                            </p>
                            <p>您可以通过PC端和手机端实时进行线上点评，也可以通过我们的客服电话反馈服务意见；我们保证用户的每一列不满意投诉都会在1小时内得到解决。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <div class="foot-content">
                    <div class="foot-details">
                        <ul class="foot-nav clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">网站支持</p>
                                    <p class="last">网站支持</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于我们</p>
                                    <p class="last">关于我们</p>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <p class="first">加入我们</p>
                                    <p class="last">加入我们</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-us clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">联系我们</p>
                                    <p class="last">联系我们</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务指南</p>
                                    <p class="last">服务指南</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">第三方加盟</p>
                                    <p class="last">第三方加盟</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">常见问题</p>
                                    <p class="last">常见问题</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务保障</p>
                                    <p class="last">服务保障</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于家服汇</p>
                                    <p class="last">关于家服汇</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务优势</p>
                                    <p class="last">服务优势</p>
                                </a>
                            </li>
                        </ul>
                        <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/sliderUpDown.js"></script>
    <script src="../../assets/frontend/js/footHandle.js"></script>
    <script>
        (function($){
            $(".nav").sliderUpDown({})
        })(jQuery);
    </script>
</html>