<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>家庭服务协议</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <style>
        .head-main .menu li:hover a{color: #666;}
        .head-main .menu li span.infor:hover a{color:#333;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="homeServices.html">
                            家庭服务
                        </a>
                    </li>
                    <li>
                        <a href="my-community.html">
                            我的社区
                        </a>
                    </li>
                    <li>
                        <a href="train.html">
                            在线培训
                        </a>
                    </li>
                    <li>
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="public-protection.html">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="person-login.html">登录</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content-main">
                <div class="homeAgreement-infor">
                    <h2>市微企协会《益筹汇·众创空间》入驻通知</h2>
                    <p class="small-title">2016-03-25 08:42:21   来源：重庆市微型企业协会</p>

                    <p>
                        市微型企业协会成立以来，一直坚持为重庆56万户微型企业提供最需要的服务，解决创业者最关键的痛点，此次打造了面积约1500平米集产品发布、联合办公、联合营销、创业咖啡、企业孵化、项目路演为一体的《益筹汇·众创空间》，为创业者提供低成本、便利化、全要素的开放式综合服务平台，让你找到你的客户细分群体、定位你的渠道通路、掌控你的核心资源、确定你的关键业务。具体事宜通知如下：

                    </p>

                    <p class="title">
                        一、入驻团队类型

                    </p>
					
					<p>
                        1、还没有注册企业的创业团队；
					</p>
					
                    <p>
                    2、初创小微企业；
					</p>
					
					<p>
                    3、大学生创业项目。
                    </p>                 

                    <p class="title">
                        二、《益筹汇·众创空间》九大服务

                    </p>

                    <p>
                        微企新品发布厅：由于缺少销售渠道和推广渠道，许多微企优质特色产品养在深闺人未识。众创空间设有产品发布厅，和媒体共建线上、线下展示空间，为跨境电商、科技、文创精品、区县特色农产品等提供线下线下联合营销服务，增加销售渠道及曝光率的同时降低销售成本。
                    </p>
					
					<p>
                        创业场地服务：众创空间为中小企业提供办公、展示、生产、仓储、技术研发场地。
                    </p>
                                 
				    <p>
                        创业辅导服务：众创空间可提供工商注册、财税代账、专利申报、成果转化、政策法规咨询服务；聘请创业导师，为中小企业提供专业辅导、管理咨询、企业诊断等服务
                    </p>
					 
					<p>
                        项目孵化服务：众创空间将利用自有线上平台《益筹汇》，为创业团队提供项目筛选辅导和培训服务；对有资金需求的项目，对接天使资金和风投，助推项目成长。
                    </p>
					
					<p>
                        企业培训服务：众创空间将通过定期举办讲座、沙龙、研讨会等多种方式，开展企业管理、项目申报、资金融通、文化建设、人力资源管理等培训，提升中小企业创业能力，帮助企业引进、培训各类专业人才。


                    </p>
					
					<p>
                        融资对接服务：众创空间会对接银行及投融资机构，为企业开展贷款、信用担保、抵押登记、创投评估、融资咨询、财税咨询、会计代理等服务；为有意愿在资本市场上市的企业对接相关机构进行辅导和培训。
                    </p>

					<p>
                        信息网络服务：众创空间将为创业团队提供各行业创业、管理、技术创新、融资等资讯，并利用自有四大线上平台网站、全国各类媒体为企业提供宣传、推介服务。
                    </p>
					
					<p>
                        项目申报服务：众创空间将为企业申报国家、省、市、区各类政府扶持资金提供政策咨询和项目咨询；协助企业进行高新技术企业认定，开展科技成果鉴定和专利项目申报工作。
                    </p>
					
					<p>
                        公共设施服务：众创空间建设了与企业共享的公共会议室、培训中心、多功能报告厅等公共服务设施。
                    </p>
					
					
                    <p class="title">
                        三、申报流程

                    </p>


                    <p>
                        第一步：团队或企业向众创空间提出入驻申请，并提交项目材料；
                    </p>

                    <p>
                        第二步：众创空间管理办对项目进行审核；
                    </p>

                    <p>
                        第三步：签订合同入驻。
                    </p>
					
					<p>
                        报名电话：60369871    17782318727（张老师）
                    </p>
					
					<p>
                        QQ:  2931621771   邮箱：2931621771@qq.com
                    </p>
										
					<p>
                        项目地址：重庆市北部新区照母山北大资源.博雅（距市协会10分钟车程）
					</p>
						                    					
                </div>
                <br/>
            </div>
        </div>
        <div class="foot clearfix">
        <div class="foot-main ">
            <div class="foot-content">
                <div class="foot-details">
                    <ul class="foot-nav clearfix">
                        <li>
                            <a href="#">
                                <p class="first">网站支持</p>
                                <p class="last">网站支持</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">关于我们</p>
                                <p class="last">关于我们</p>
                            </a>
                        </li>
                        <li class="last">
                            <a href="#">
                                <p class="first">加入我们</p>
                                <p class="last">加入我们</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-us clearfix">
                        <li>
                            <a href="#">
                                <p class="first">联系我们</p>
                                <p class="last">联系我们</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">服务指南</p>
                                <p class="last">服务指南</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">第三方加盟</p>
                                <p class="last">第三方加盟</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">常见问题</p>
                                <p class="last">常见问题</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">服务保障</p>
                                <p class="last">服务保障</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">关于家服汇</p>
                                <p class="last">关于家服汇</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">服务优势</p>
                                <p class="last">服务优势</p>
                            </a>
                        </li>
                    </ul>
                    <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                </div>
            </div>
        </div>
        <div class="copyright">
            <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
        </div>
    </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/personCenter.js"></script>
    <script src="../../assets/frontend/js/footHandle.js"></script>
</html>