<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>众创空间</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/jquery-huadong/css/style.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <div class="hover-active" id="hover-active"></div>
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="homeServices.html">
                            家庭服务
                        </a>
                    </li>
                    <li>
                        <a href="my-community.html">
                            我的社区
                        </a>
                    </li>
                    <li>
                        <a href="train.html">
                            在线培训
                        </a>
                    </li>
                    <li class="active">
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="public-protection.html">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="person-login.html">
                            登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content pt0">
            <img src="../../assets/frontend/images/space-img.jpg" alt="" class="auto-img"/>
            <div class="severs">
                <div class="content-main">
                    <ul class="severs-ul clearfix">
                        <li>
                            <a>
                                <i class="fa fa-money"></i>
                                <span>充足的基金</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-bar-chart-o"></i>
                                <span>良好的政策</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-users"></i>
                                <span>持续的人流量</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-book"></i>
                                <span>优质的培训</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="case clearfix">
                <div class="content-main ">
                    <div class="technology">
                        <ul class="technology-type clearfix">
                            <li class="active">种子库</li>
                            <li class="br0">技术创投</li>
                        </ul>
                        <div class="technology-content clearfix">
                            <img src="../../assets/frontend/images/technology-img.jpg" alt=" " class="left"/>
                            <div class="tc-c">
                                <p class="tcc-p clearfix">
                                    <span class="tc-num">01</span>
                                    <a href="home-agreement.html" class="tccp-con">
                                        <span class="title">财智身体护理中心</span><br/>
                                        永上健业（北京）国际商务有限公司成立于2004年，在广大客户和所有员工的努力下先后成功的打造了财智身体护理中心高档次专业美容护理商业品牌，财智身体护理中心采用会员制的经营模式经营，并取得了很好的效果，截至2012年创造了数千名会员的优秀业绩，财智身体护理中心为格调高雅，服务优质的经营场所，拥有着非常显著的特色和优势，利于经营和发展，财智身体护理中心结合了同行业的优势并不断努力开发研究最终创造了自己独有的经营手段，永上健业（北京）国际商务有限公司真诚邀请各位有兴趣的客户加入我们的行列，希望和您一同打造业内一流的私人会员制专业美容健康行业。
                                    </a>
                                </p>
                                <p class="tcc-p">
                                    <span class="tc-num">02</span>
                                    <a href="home-agreement.html" class="tccp-con">
                                        <span class="title">馨哈早教</span><br/>
                                        馨哈—早教行业中的顶级品牌。突破传统的早教理念，在早教基础上，结合自身儿童医学领域的独有优势，打造了领先国际的“医教结合”早教模式。在开发宝宝智力、体能的基础上，更是宝宝长期的私人医生。馨哈服务于众多明星们的宝宝，是睿智妈妈的首选。
                                    </a>
                                </p>
                                <p class="tcc-p">
                                    <span class="tc-num">03</span>
                                    <a href="home-agreement.html" class="tccp-con">
                                        <span class="title">爱亲母婴用品</span><br/>
                                        2011年，爱亲创造了母婴业界连锁经营成功率98.6%的神话，截止目前为止，百余位合作伙伴中，仅一家由于运营资金短缺退出外，其他全部进入稳定盈利轨道。这一成绩的取得很大程度上得益于爱亲的“心”文化，因为它开启了一个加盟合作的新世纪。
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cms-home">
                        <div class="ch-head">种子库</div>
                        <div class="indent-col-main">
                            <div class="std"><BR></div>
                            <div class="block-slider">
                                <div class="anythingSlider">
                                    <ul id="slider_list" class="products-grid">
                                        <li class="item first">
                                            <div class=product-image title="Lorem ipsum dolor sit">
                                                <img alt="Lorem ipsum dolor sit" src="../../assets/global/plugins/jquery-huadong/images/base-slider1.jpg">
                                                <div class="base-mask-bg"></div>
                                                <div class="base-mask">
                                                    <div class="base-lei">
                                                        <a class="fa fa-plus" href="my-Nearhome.html"></a>
                                                    </div>
                                                    <span class="left title">我家附近</span>
                                                    <span class="right">我要加盟></span>
                                                </div>
                                            </div>
                                        </li>

                                        <li class=item>
                                            <div class=product-image title="Lorem ipsum dolor sit">
                                                <img alt="Lorem ipsum dolor sit" src="../../assets/global/plugins/jquery-huadong/images/base-slider2.jpg">
                                                <div class="base-mask-bg"></div>
                                                <div class="base-mask">
                                                    <div class="base-lei">
                                                        <a class="fa fa-plus" href="family-servicePlatform.html"></a>
                                                    </div>
                                                    <span class="left title">家教服务平台</span>
                                                    <span class="right">我要加盟></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class=item>
                                            <div class=product-image title="Lorem ipsum dolor sit">
                                                <img alt="Lorem ipsum dolor sit" src="../../assets/global/plugins/jquery-huadong/images/base-slider3.jpg">
                                                <div class="base-mask-bg"></div>
                                                <div class="base-mask">
                                                    <div class="base-lei">
                                                        <a class="fa fa-plus" href="mr-shoes.html"></a>
                                                    </div>
                                                    <span class="left title">鞋先生</span>
                                                    <span class="right">我要加盟></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class=product-image title="Lorem ipsum dolor sit">
                                                <img alt="Lorem ipsum dolor sit" src="../../assets/global/plugins/jquery-huadong/images/base-slider4.jpg">
                                                <div class="base-mask-bg"></div>
                                                <div class="base-mask">
                                                    <div class="base-lei">
                                                        <a class="fa fa-plus" href="private-wardrobeManagement.html"></a>
                                                    </div>
                                                    <span class="left title">OIAM(私人衣橱管理)</span>
                                                    <span class="right">我要加盟></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item last">
                                            <div class="product-case">
                                                <a href="publish-project.html" class="btn-case">发布项目</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id=left_but class="box-left">
                                ‹
                            </div>
                            <div id=right_but class="box-right">
                                ›
                            </div>
                        </div>
                    </div>
                    <div class="sc-content">
                        <ul class="ac-mune clearfix">
                            <li class="active">创业沙龙</li>
                            <li>优惠政策</li>
                            <li class="mr0">办事指南</li>
                        </ul>
                        <div class="sc-div active">
                            <img src="../../assets/frontend/images/splace-img1.jpg" alt=""/>
                            <ul class="scd-ul clearfix">
                                <li>
                                    <p class="left time">15 <br/>12-05</p>
                                    <div class="scd-details left">
                                        <p class="title"><a href="home-agreement.html">市微企协会《益筹汇·众创空间》入驻通知</a></p>
                                        <p>各位微企业主：
                                        </p>
                                        <p>
                                            市微型企业协会成立以来，一直坚持为重庆56万户微型企业提供最需要的服务，解决创业者最关键的痛点，此次打造了面积约1500平米集产品发布、联合办公、联合营销、创业咖啡、企业孵化、项目路演为一体的《益筹汇·众创空间》，为创业者提供低成本、便利化、全要素的开放式综合服务平台，让你找到你的客户细分群体、定位你的渠道通路、掌控你的核心资源、确定你的关键业务。具体事宜通知如下：
                                        </p>
                                    </div>
                                </li>
                                <li class="on">
                                    <p class="left time">15 <br/>12-06</p>
                                    <div class="scd-details left">
                                        <p class="title"><a href="home-agreement.html">关于市协会举办重庆市产业引导基金融资对接会的通知</a></p>
                                        <p>各位微企业主：</p>
                                        <p>
                                            随着大众创业、万众创新热潮的到来，科技创新、电子商务、节能环保、文化创意、特色效益农业五大鼓励类行业的微企数量
                                        </p>
                                    </div>
                                </li>
                                <div class="inlinr-block clearfix"></div>
                                <li>
                                    <p class="left time">15 <br/>12-07</p>
                                    <div class="scd-details left">
                                        <p class="title"><a href="home-agreement.html">创业新政策，助大学生实现创业梦想</a></p>
                                        <p>各位微企业主： </p>
                                        <p>
                                            一、《国务院关于进一步做好新形势下就业创业工作的意见》中有关创业新政策 <br/>
                                        </p>
                                        <p>
                                            1．民办企业“三证合一”深化商事制度改革，进一步落实注册资本登记制度改革，坚决推行工商营业执照、组织机构代码证、税务登记证“三证合一”，年内出台推进“三证合一”登记制度改革意见和统一社会信用代码方案，实现“一照一码”。
                                        </p>


                                    </div>
                                </li>
                                <li>
                                    <p class="left time">15 <br/>12-08</p>
                                    <div class="scd-details left">
                                        <p class="title"><a href="home-agreement.html">重庆微型企业可进行网上申办</a></p>
                                        <p>各位微企业主：</p>

                                        <p>
                                            为方便广大创业者创办微型企业，提高创业者创办微型企业的效率。重庆市微型企业发展工作领导小组办公室决定于２０１２年２月１日起，在互联网启用微型企业网上预申请系统，为微型企业创业者提供微型企业创业的预申请。
                                        </p>

                                        <p>
                                            据介绍，２０１２年申请创办微型企业的创业者，均应先通过互联网进行网上申请，经工商部门预审查通过后，再向创业所在地工商所提交正式申请资料。工商所不再直接受理微型企业创业申请。
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sc-div">
                            <img src="../../assets/frontend/images/splace-img1.jpg" alt=""/>
                            <ul class="scd-ul clearfix">
                                <li>
                                    <p class="left time">15 <br/>12-05</p>
                                    <div class="scd-details left">
                                        <p class="title"><a href="home-agreement.html">关于市协会举办重庆市产业引导基金融资对接会的通知</a></p>
                                        <p>各位微企业主： <br/>随着大众创业、万众创新热潮的到来，科技创新、电子商务、节能环保、文化创意、特色效益农业五大鼓励类行业的微企数量</p>
                                    </div>
                                </li>
                                <li class="on">
                                    <p class="left time">15 <br/>12-05</p>
                                    <div class="scd-details left">
                                        <p class="title"><a href="home-agreement.html">关于市协会举办重庆市产业引导基金融资对接会的通知</a></p>
                                        <p>各位微企业主： <br/>随着大众创业、万众创新热潮的到来，科技创新、电子商务、节能环保、文化创意、特色效益农业五大鼓励类行业的微企数量</p>
                                    </div>
                                </li>
                                <li>
                                    <p class="left time">15 <br/>12-05</p>
                                    <div class="scd-details left">
                                        <p class="title"><a href="home-agreement.html">关于市协会举办重庆市产业引导基金融资对接会的通知</a></p>
                                        <p>各位微企业主： <br/>随着大众创业、万众创新热潮的到来，科技创新、电子商务、节能环保、文化创意、特色效益农业五大鼓励类行业的微企数量</p>
                                    </div>
                                </li>
                                <li>
                                    <p class="left time">15 <br/>12-05</p>
                                    <div class="scd-details left">
                                        <p class="title"><a href="home-agreement.html">关于市协会举办重庆市产业引导基金融资对接会的通知</a></p>
                                        <p>各位微企业主： <br/>随着大众创业、万众创新热潮的到来，科技创新、电子商务、节能环保、文化创意、特色效益农业五大鼓励类行业的微企数量</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sc-div">
                            <img src="../../assets/frontend/images/splace-img1.jpg" alt=""/>
                            <ul class="scd-ul clearfix">
                                <li>
                                    <p class="left time">15 <br/>12-05</p>
                                    <div class="scd-details left">
                                        <p class="title"><a href="home-agreement.html">关于市协会举办重庆市产业引导基金融资对接会的通知</a></p>
                                        <p>各位微企业主： <br/>随着大众创业、万众创新热潮的到来，科技创新、电子商务、节能环保、文化创意、特色效益农业五大鼓励类行业的微企数量</p>
                                    </div>
                                </li>
                                <li class="on">
                                    <p class="left time">15 <br/>12-05</p>
                                    <div class="scd-details left">
                                        <p class="title"><a href="home-agreement.html">关于市协会举办重庆市产业引导基金融资对接会的通知</a></p>
                                        <p>各位微企业主： <br/>随着大众创业、万众创新热潮的到来，科技创新、电子商务、节能环保、文化创意、特色效益农业五大鼓励类行业的微企数量</p>
                                    </div>
                                </li>
                                <li>
                                    <p class="left time">15 <br/>12-05</p>
                                    <div class="scd-details left">
                                        <p class="title"><a href="home-agreement.html">关于市协会举办重庆市产业引导基金融资对接会的通知</a></p>
                                        <p>各位微企业主： <br/>随着大众创业、万众创新热潮的到来，科技创新、电子商务、节能环保、文化创意、特色效益农业五大鼓励类行业的微企数量</p>
                                    </div>
                                </li>
                                <li>
                                    <p class="left time">15 <br/>12-05</p>
                                    <div class="scd-details left">
                                        <p class="title"><a href="home-agreement.html">关于市协会举办重庆市产业引导基金融资对接会的通知</a></p>
                                        <p>各位微企业主： <br/>随着大众创业、万众创新热潮的到来，科技创新、电子商务、节能环保、文化创意、特色效益农业五大鼓励类行业的微企数量</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="back"></div>
                </div>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <div class="foot-content">
                    <div class="foot-details">
                        <ul class="foot-nav clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">网站支持</p>
                                    <p class="last">网站支持</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于我们</p>
                                    <p class="last">关于我们</p>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <p class="first">加入我们</p>
                                    <p class="last">加入我们</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-us clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">联系我们</p>
                                    <p class="last">联系我们</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务指南</p>
                                    <p class="last">服务指南</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">第三方加盟</p>
                                    <p class="last">第三方加盟</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">常见问题</p>
                                    <p class="last">常见问题</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务保障</p>
                                    <p class="last">服务保障</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于家服汇</p>
                                    <p class="last">关于家服汇</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务优势</p>
                                    <p class="last">服务优势</p>
                                </a>
                            </li>
                        </ul>
                        <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/global/plugins/jquery-huadong/js/slider.js"></script>
    <script src="../../assets/global/plugins/jquery-huadong/js/slider_options.js"></script>
    <script>
        (function($){
            var aml = $(".ac-mune li");
            var sd = $(".sc-div");
            aml.each(function(i){
                $(this).on("click",function(){
                    $(this).addClass("active");
                    $(this).siblings(aml).removeClass("active");
                    sd.eq(i).addClass("active");
                    sd.eq(i).siblings(sd).removeClass("active");
                })
            })
        })(jQuery)
    </script>
</html>