<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>牛管家</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <div class="head-bg"></div>
        <div class="head-main">
            <div class="logo left"></div>
            <ul class="menu right clearfix" id="menu">
                <div class="hover-active" id="hover-active"></div>
                <li>
                    <a href="index.html">
                        首页
                    </a>
                </li>
                <li>
                    <a href="#">
                        家庭服务
                    </a>
                </li>
                <li class="active">
                    <a href="steward.html">
                        牛管家
                    </a>
                </li>
                <li>
                    <a href="train.html">
                        学家务
                    </a>
                </li>
                <li>
                    <a href="space-creation.html">
                        众创空间
                    </a>
                </li>
                <li>
                    <a href="#">
                        公益保障
                    </a>
                </li>
                <li>
                    <a href="#">
                        登录/注册
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <img src="../../assets/frontend/images/steward-img.jpg" alt="" class="auto-img"/>
        <div class="map">
            <div class="content-main">
                <p class="title">牛管家</p>
                <p>牛管家是我们家服汇推出的一款新服务，很好的与社区服务相结合，每个小区将配备一个牛管家与客服沟通，把我们线上的产品通过牛管家让客户沟通，牛管家的种类很多，可以是精英，把我们的服务传达给客服，这是牛管家的职业所在。</p>
                <a href="search-house.html" class="map-btn">地图找牛管家</a>
            </div>
        </div>
        <div class="feature">
            <div class="content-main">
                <p class="title">牛管家优势特色</p>
                <ul class="feature-hover-menu clearfix">
                    <li>
                        <p>
                            <img src="../../assets/frontend/images/icon1.png" alt=""/><br/>
                            <span>覆盖面广</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <img src="../../assets/frontend/images/icon2.png" alt=""/><br/>
                            <span>安全性高</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <img src="../../assets/frontend/images/icon3.png" alt=""/><br/>
                            <span>快捷、高效</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <img src="../../assets/frontend/images/icon4.png" alt=""/><br/>
                            <span>服务更多</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="area">
            <div class="content-main">
                <p class="title">牛管家覆盖面积</p>
                <div class="areaSlider" id="areaSlider">
                    <div class="area-slider" id="area-slider">
                        <ul class="area-ul clearfix" id="area-ul">
                            <li>
                                <div class="area-div ml0">
                                    <img src="../../assets/frontend/images/area1.jpg" alt=""/>
                                    <div class="area-mask-bg"></div>
                                    <div class="area-mask">
                                        <div class="area-details">
                                            <p class="area-title">牛管家</p>
                                            <a class="area-btn-bg"></a>
                                            <a class="area-btn">九龙坡</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="area-village">
                                    <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                    <div class="av-mask-bg"></div>
                                    <div class="av-mask">
                                        某某小区
                                    </div>
                                </div>
                                <div class="area-village mr0">
                                    <img src="../../assets/frontend/images/area1-2.jpg" alt=""/>
                                    <div class="av-mask-bg"></div>
                                    <div class="av-mask">
                                        某某小区
                                    </div>
                                </div>
                                <div class="area-village">
                                    <img src="../../assets/frontend/images/area1-3.jpg" alt=""/>
                                    <div class="av-mask-bg"></div>
                                    <div class="av-mask">
                                        某某小区
                                    </div>
                                </div>
                                <div class="area-village mr0">
                                    <img src="../../assets/frontend/images/area1-4.jpg" alt=""/>
                                    <div class="av-mask-bg"></div>
                                    <div class="av-mask">
                                        某某小区
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="area-div ml0">
                                    <img src="../../assets/frontend/images/area1.jpg" alt=""/>
                                    <div class="area-mask-bg"></div>
                                    <div class="area-mask">
                                        <div class="area-details">
                                            <p class="area-title">牛管家</p>
                                            <a class="area-btn-bg"></a>
                                            <a class="area-btn">渝中</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="area-village">
                                    <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                    <div class="av-mask-bg"></div>
                                    <div class="av-mask">
                                        某某小区
                                    </div>
                                </div>
                                <div class="area-village mr0">
                                    <img src="../../assets/frontend/images/area1-2.jpg" alt=""/>
                                    <div class="av-mask-bg"></div>
                                    <div class="av-mask">
                                        某某小区
                                    </div>
                                </div>
                                <div class="area-village">
                                    <img src="../../assets/frontend/images/area1-3.jpg" alt=""/>
                                    <div class="av-mask-bg"></div>
                                    <div class="av-mask">
                                        某某小区
                                    </div>
                                </div>
                                <div class="area-village mr0">
                                    <img src="../../assets/frontend/images/area1-4.jpg" alt=""/>
                                    <div class="av-mask-bg"></div>
                                    <div class="av-mask">
                                        某某小区
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="area-div ml0">
                                    <img src="../../assets/frontend/images/area1.jpg" alt=""/>
                                    <div class="area-mask-bg"></div>
                                    <div class="area-mask">
                                        <div class="area-details">
                                            <p class="area-title">牛管家</p>
                                            <a class="area-btn-bg"></a>
                                            <a class="area-btn">渝北</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="area-village">
                                    <img src="../../assets/frontend/images/area1-1.jpg" alt=""/>
                                    <div class="av-mask-bg"></div>
                                    <div class="av-mask">
                                        某某小区
                                    </div>
                                </div>
                                <div class="area-village mr0">
                                    <img src="../../assets/frontend/images/area1-2.jpg" alt=""/>
                                    <div class="av-mask-bg"></div>
                                    <div class="av-mask">
                                        某某小区
                                    </div>
                                </div>
                                <div class="area-village">
                                    <img src="../../assets/frontend/images/area1-3.jpg" alt=""/>
                                    <div class="av-mask-bg"></div>
                                    <div class="av-mask">
                                        某某小区
                                    </div>
                                </div>
                                <div class="area-village mr0">
                                    <img src="../../assets/frontend/images/area1-4.jpg" alt=""/>
                                    <div class="av-mask-bg"></div>
                                    <div class="av-mask">
                                        某某小区
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <span class="area-left" id="left">‹</span>
                    <span class="area-right" id="right">›</span>
                </div>
            </div>
        </div>
        <div class="join-area">
            <div class="content-main">
                <p class="title">招募牛管家</p>
                <ul class="join-ul clearfix">
                    <li>
                        <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                        <div class="join-img">
                            <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                            <div class="join-mask-bg"></div>
                            <div class="join-mask">
                                诚挚的邀请您加入
                            </div>
                        </div>
                        <div class="bf">
                            <span class="join-span">南坪某小区</span>
                            <a class="join-btn">加盟</a>
                        </div>
                    </li>
                    <li>
                        <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                        <div class="join-img">
                            <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                            <div class="join-mask-bg"></div>
                            <div class="join-mask">
                                诚挚的邀请您加入
                            </div>
                        </div>
                        <div class="bf">
                            <span class="join-span">南坪某小区</span>
                            <a class="join-btn">加盟</a>
                        </div>
                    </li>
                    <li>
                        <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                        <div class="join-img">
                            <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                            <div class="join-mask-bg"></div>
                            <div class="join-mask">
                                诚挚的邀请您加入
                            </div>
                        </div>
                        <div class="bf">
                            <span class="join-span">南坪某小区</span>
                            <a class="join-btn">加盟</a>
                        </div>
                    </li>
                    <li class="mr0">
                        <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                        <div class="join-img">
                            <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                            <div class="join-mask-bg"></div>
                            <div class="join-mask">
                                诚挚的邀请您加入
                            </div>
                        </div>
                        <div class="bf">
                            <span class="join-span">南坪某小区</span>
                            <a class="join-btn">加盟</a>
                        </div>
                    </li>
                    <li>
                        <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                        <div class="join-img">
                            <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                            <div class="join-mask-bg"></div>
                            <div class="join-mask">
                                诚挚的邀请您加入
                            </div>
                        </div>
                        <div class="bf">
                            <span class="join-span">南坪某小区</span>
                            <a class="join-btn">加盟</a>
                        </div>
                    </li>
                    <li>
                        <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                        <div class="join-img">
                            <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                            <div class="join-mask-bg"></div>
                            <div class="join-mask">
                                诚挚的邀请您加入
                            </div>
                        </div>
                        <div class="bf">
                            <span class="join-span">南坪某小区</span>
                            <a class="join-btn">加盟</a>
                        </div>
                    </li>
                    <li>
                        <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                        <div class="join-img">
                            <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                            <div class="join-mask-bg"></div>
                            <div class="join-mask">
                                诚挚的邀请您加入
                            </div>
                        </div>
                        <div class="bf">
                            <span class="join-span">南坪某小区</span>
                            <a class="join-btn">加盟</a>
                        </div>
                    </li>
                    <li class="mr0">
                        <img src="../../assets/frontend/images/zm.png" alt="" class="zm"/>
                        <div class="join-img">
                            <img src="../../assets/frontend/images/area-img1.jpg" alt=""/>
                            <div class="join-mask-bg"></div>
                            <div class="join-mask">
                                诚挚的邀请您加入
                            </div>
                        </div>
                        <div class="bf">
                            <span class="join-span">南坪某小区</span>
                            <a class="join-btn">加盟</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="foot clearfix">
        <div class="foot-main ">
            <div class="foot-content">
                <div class="foot-details">
                    <ul class="foot-nav clearfix">
                        <li>
                            <a href="#">
                                <p class="first">网站支持</p>
                                <p class="last">网站支持</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">关于我们</p>
                                <p class="last">关于我们</p>
                            </a>
                        </li>
                        <li class="last">
                            <a href="#">
                                <p class="first">加入我们</p>
                                <p class="last">加入我们</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-us clearfix">
                        <li>
                            <a href="#">
                                <p class="first">联系我们</p>
                                <p class="last">联系我们</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">服务指南</p>
                                <p class="last">服务指南</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">第三方加盟</p>
                                <p class="last">第三方加盟</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">常见问题</p>
                                <p class="last">常见问题</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">服务保障</p>
                                <p class="last">服务保障</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">关于家服汇</p>
                                <p class="last">关于家服汇</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="first">服务优势</p>
                                <p class="last">服务优势</p>
                            </a>
                        </li>
                    </ul>
                    <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                </div>
            </div>

        </div>
        <div class="copyright">
            <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/global/plugins/move/js/move.js"></script>
<script src="../../assets/frontend/js/global.js"></script>
<script src="../../assets/frontend/js/steward.js"></script>
</html>