<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>学家务</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <style>
        body{background: #f6f3ee;}
        .content{padding-top: 0;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix" id="menu">
                    <div class="hover-active" id="hover-active"></div>
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="homeServices.html">
                            家庭服务
                        </a>
                    </li>
                    <li>
                        <a href="my-community.html">
                            我的社区
                        </a>
                    </li>
                    <li class="active">
                        <a href="train.html">
                            在线培训
                        </a>
                    </li>
                    <li>
                        <a href="space-creation.html">
                            众创空间
                        </a>
                    </li>
                    <li>
                        <a href="public-protection.html">
                            公益保障
                        </a>
                    </li>
                    <li>
                        <a href="login.html">
                            登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <img src="../../assets/frontend/images/train-img.jpg" alt="" class="auto-img"/>
            <div class="content-main">
                <ul class="train-menu left">
                    <li class="active bt0">
                        <i class="fa fa-server"></i><span>住家保姆</span>
                    </li>
                    <li><i class="fa fa-book"></i><span>月　嫂</span></li>
                    <li><i class="fa fa-home"></i><span>育儿嫂</span></li>
                    <li><i class="fa fa-cc-diners-club"></i><span>小时工</span></li>
                    <li><i class="fa fa-bars"></i><span>护　工</span></li>
                    <li><i class="fa fa-firefox"></i><span>植物代养</span></li>
                </ul>
                <div class="train-type right bg clearfix ">
                    <form action="">
                        <ul class="search-terms">
                            <li>
                                <i class="fa fa-clock-o"></i>　
                                <span class="title">时间</span>
                                <label class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    本周
                                </label>
                                <label class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    本月
                                </label>
                            </li>
                            <li>
                                <i class="fa fa-bars"></i>　
                                <span class="title">服务内容</span>
                                <label class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    保姆培训
                                </label>
                                <label class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    月嫂培训
                                </label>
                                <label class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    育儿师培训
                                </label>
                                <label class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    护工培训
                                </label>
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>　
                                <span class="title">学习课时</span>
                                <label class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    不限
                                </label>
                                <label class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    3课时
                                </label>
                                <label class="rental_mode w110">
                                    <input type="checkbox" name="type" class=""/>
                                    6课时                                </label>
                                <label class="rental_mode w110">
                                   <input type="checkbox" name="type" class=""/>
                                    3课时以上
                                </label>
                            </li>
                        </ul>
                        <div class="operation-btn">
                            <input type="submit" value="筛选" class="btn-screen"/>
                            <input type="reset"  value="清空" class="btn-clear"/>
                        </div>
                    </form>
                    <div class="content-main">
                        <div class="trainInHome">
                            <div class="tt-head">
                                <div class="inblock"></div>
                                热门推荐
                            </div>
                            <ul class="trainIn-ul clearfix">
                                <li>
                                    <a href="training-details.html">
                                        <img src="../../assets/frontend/images/trainIn-img1.jpg" alt=""/>
                                    </a>
                                    <p class="title">保姆的培训</p>
                                    <p>
                                    <span class="clock">
                                        <i class="fa fa-clock-o"></i>
                                        <span class="num">6</span>课时
                                    </span>
                                    <span class="user right">
                                        <i class="fa fa-user"></i>
                                        <span class="num">45455</span>在学习
                                    </span>
                                    </p>
                                </li>
                                <li>
                                    <a href="training-details.html">
                                        <img src="../../assets/frontend/images/trainIn-img1.jpg" alt=""/>
                                    </a>
                                    <p class="title">月嫂的培训</p>
                                    <p>
                                    <span class="clock">
                                        <i class="fa fa-clock-o"></i>
                                        <span class="num">6</span>课时
                                    </span>
                                    <span class="user right">
                                        <i class="fa fa-user"></i>
                                        <span class="num">45455</span>在学习
                                    </span>
                                    </p>
                                </li>
                                <li class="br0">
                                    <a href="training-details.html">
                                        <img src="../../assets/frontend/images/trainIn-img1.jpg" alt=""/>
                                    </a>
                                    <p class="title">清洁工的培训</p>
                                    <p>
                                    <span class="clock">
                                        <i class="fa fa-clock-o"></i>
                                        <span class="num">6</span>课时
                                    </span>
                                    <span class="user right">
                                        <i class="fa fa-user"></i>
                                        <span class="num">45455</span>在学习
                                    </span>
                                    </p>
                                </li>
                            </ul>
                            <ul class="trainIn-ul clearfix">
                                <li>
                                    <a href="training-details.html">
                                        <img src="../../assets/frontend/images/trainIn-img1.jpg" alt=""/>
                                    </a>
                                    <p class="title">保姆的培训</p>
                                    <p>
                                    <span class="clock">
                                        <i class="fa fa-clock-o"></i>
                                        <span class="num">6</span>课时
                                    </span>
                                    <span class="user right">
                                        <i class="fa fa-user"></i>
                                        <span class="num">45455</span>在学习
                                    </span>
                                    </p>
                                </li>
                                <li>
                                    <a href="training-details.html">
                                        <img src="../../assets/frontend/images/trainIn-img1.jpg" alt=""/>
                                    </a>
                                    <p class="title">月嫂的培训</p>
                                    <p>
                                    <span class="clock">
                                        <i class="fa fa-clock-o"></i>
                                        <span class="num">6</span>课时
                                    </span>
                                    <span class="user right">
                                        <i class="fa fa-user"></i>
                                        <span class="num">45455</span>在学习
                                    </span>
                                    </p>
                                </li>
                                <li class="br0">
                                    <a href="training-details.html">
                                        <img src="../../assets/frontend/images/trainIn-img1.jpg" alt=""/>
                                    </a>
                                    <p class="title">清洁工的培训</p>
                                    <p>
                                    <span class="clock">
                                        <i class="fa fa-clock-o"></i>
                                        <span class="num">6</span>课时
                                    </span>
                                    <span class="user right">
                                        <i class="fa fa-user"></i>
                                        <span class="num">45455</span>在学习
                                    </span>
                                    </p>
                                </li>
                            </ul>
                            <ul class="trainIn-ul clearfix">
                                <li>
                                    <a href="training-details.html">
                                        <img src="../../assets/frontend/images/trainIn-img1.jpg" alt=""/>
                                    </a>
                                    <p class="title">保姆的培训</p>
                                    <p>
                                    <span class="clock">
                                        <i class="fa fa-clock-o"></i>
                                        <span class="num">6</span>课时
                                    </span>
                                    <span class="user right">
                                        <i class="fa fa-user"></i>
                                        <span class="num">45455</span>在学习
                                    </span>
                                    </p>
                                </li>
                                <li>
                                    <a href="training-details.html">
                                        <img src="../../assets/frontend/images/trainIn-img1.jpg" alt=""/>
                                    </a>
                                    <p class="title">月嫂的培训</p>
                                    <p>
                                    <span class="clock">
                                        <i class="fa fa-clock-o"></i>
                                        <span class="num">6</span>课时
                                    </span>
                                    <span class="user right">
                                        <i class="fa fa-user"></i>
                                        <span class="num">45455</span>在学习
                                    </span>
                                    </p>
                                </li>
                                <li class="br0">
                                    <a href="training-details.html">
                                        <img src="../../assets/frontend/images/trainIn-img1.jpg" alt=""/>
                                    </a>
                                    <p class="title">清洁工的培训</p>
                                    <p>
                                    <span class="clock">
                                        <i class="fa fa-clock-o"></i>
                                        <span class="num">6</span>课时
                                    </span>
                                    <span class="user right">
                                        <i class="fa fa-user"></i>
                                        <span class="num">45455</span>在学习
                                    </span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="study-infor">
                            <div class="tt-head">
                                <div class="inblock"></div>
                                开课信息
                            </div>
                            <ul class="study-list">
                                <li>
                                    <p>2016年护工学习开课了！前报名20名将价格从优，只需要1500啦。快来报名吧</p>
                                    <span class="time">--2015.12.15</span>
                                </li>
                                <li>
                                    <p>2016年护工学习开课了！前报名20名将价格从优，只需要1500啦。快来报名吧</p>
                                    <span class="time">--2015.12.15</span>
                                </li>
                                <li>
                                    <p>2016年护工学习开课了！前报名20名将价格从优，只需要1500啦。快来报名吧</p>
                                    <span class="time">--2015.12.15</span>
                                </li>
                                <li class="bb0">
                                    <p>2016年护工学习开课了！前报名20名将价格从优，只需要1500啦。快来报名吧</p>
                                    <span class="time">--2015.12.15</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <div class="foot-content">
                    <div class="foot-details">
                        <ul class="foot-nav clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">网站支持</p>
                                    <p class="last">网站支持</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于我们</p>
                                    <p class="last">关于我们</p>
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <p class="first">加入我们</p>
                                    <p class="last">加入我们</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-us clearfix">
                            <li>
                                <a href="#">
                                    <p class="first">联系我们</p>
                                    <p class="last">联系我们</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务指南</p>
                                    <p class="last">服务指南</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">第三方加盟</p>
                                    <p class="last">第三方加盟</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">常见问题</p>
                                    <p class="last">常见问题</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务保障</p>
                                    <p class="last">服务保障</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">关于家服汇</p>
                                    <p class="last">关于家服汇</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="first">服务优势</p>
                                    <p class="last">服务优势</p>
                                </a>
                            </li>
                        </ul>
                        <img src="../../assets/frontend/images/code.jpg" class="code-img"/>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-</span>　
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/frontend/js/train.js"></script>
    <script>

    </script>
</html>