@charset "utf-8";
/*common style*/
.verdana{font-family: "Verdana";}
body,html{margin:0;padding:0;font-size:30px;color:#000;font-family:"Microsoft YaHei","微软雅黑";line-heihgt:20px;}
ul,li,img{margin:0;padding:0;list-style:none;border:none; vertical-align:middle;}
a{color:#000;text-decoration:none;}
body{background: #f7f7f7;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;}
.relative{position:relative;}
.absolute{position: absolute;}
.fix     {position: fixed;}
.left{float: left;}
.right{float: right;}
html[xmlns] .clearfix {display: block;}
a,button,input,img,table,ul,li,tr,td,div{-webkit-tap-highlight-color:rgba(0,0,0,0);}

.content {width: 100%;position: relative;max-width: 640px;margin: 0 auto;}
.content.overflow{overflow-x: hidden;}
.content.bg{background: #f3f3f3;}


/*考勤列表*/
.attendance,.attendance_img{width: 100%;}
.attendance ul{position: relative;}
.attendance ul li{float: left;position: relative;width: 16%;height: 3.5em;top: -7em;margin-left: 7%;}
.cu_s{color: #080202;display: inline-block;position: absolute;width: 96%;height: 96%;border-radius: 112px;background: transparent;text-align: center;line-height: 104px;font-size: 1.6em;}
.cu_s1{position: absolute;bottom: -1.5em;left: 0.8em;}
.cu_s2{border: 3px solid #e12a29;color:#e12a29 }
.cu_s3{border: 3px solid #3da0ea;color:#3da0ea }
.cu_s4{border: 3px solid #48a9ae;color:#48a9ae }
.cu_s5{border: 3px solid #f38d6f;color:#f38d6f }
.cc_heade{position: relative;top: -3.8em;}
.cc_h{width: 100%;height: 1em;text-align: center;line-height: 1em;border-bottom: 1px solid #b9b9b9;color: #080202;padding-bottom: 10px;}
input{outline: none;}
.cb_div{width: 65%;margin: 1em auto;height: 35px;}
.cb_spna{position: relative;}
.cb_in{font-size: 21px;width: 4.1em;position: relative;top: -0.55em;height: 1.3em;padding-left: 0.5em;display: inline-block;margin: 0 0.1em;}
.cb_in1{position: absolute;right: 0.1em;}
.cbs_ul{width: 69%;position: absolute;top: 1.04em;left: 0.1em;display: none;height: 3.82em;overflow-y: scroll}
.cbs_ul li{width:95%;height: 1.72em; border: 1px solid #bababa;border-bottom: 0;background: #fff;font-size: 16px;line-height: 1.72em;}
.cbs_ul li:last-child{border-bottom:1px solid #bababa; }
.c_ta{width: 100%;margin-top: 1em;}
table{ border-collapse:collapse;width: 90%;margin: 0 auto;}
tr th{font-size: 29px;font-weight: 100;}
tr td{ text-align:center;font-size: 15px;border:1px solid #ccc;color: #080202;}
tr th,tr td{height: 2.6em;}
.late{background: #bce0f4;color: #22b9eb;}
.l_la{font-size: 16px;}
.tui{background: #b1dfe1;color: #339ba1;}
.gong{background: #f8c0a7;color: #fa7011;}
.show{display: block;}
.hide{display: none;}
.attendance-records{width: 100%;font-size: 15px;margin: 0 auto;margin-bottom: 20px;border-top: 1px solid #ddd;}
.attendance-records li{width: 96%;padding:0 2%;height: 40px;border-bottom: 1px solid #ddd;line-height: 40px;background: #fff;}
.attendance-records li:first-child{margin: 10px 0;border-top: 1px solid #ddd;}
.attendance-records li>span:first-child{display: inline-block;width: 130px;}
.attendance-records li ul li{float: left;width: 50%;height: 40px;}
.attendance-records li:last-child{border-bottom: none;}
.ccc{background: #ccc;}
#sandbox-container{width: 100%;background: #fff;border-bottom: 1px solid #dbdbdb;}
#sandbox-container .table-condensed{margin-left: 5%;}
.datepicker{width: 100%;}
.sign_in{position: relative;left: 20px;}
.the_mood,.the_about,.sign_back,.the_length{position: relative;left: 5px;}

.attendance-records li span{color: #666;}
.attendance-records li span.color{color: #f00;}
.datepicker.datepicker-inline td{padding:5px 5px;}
.datepicker table tr td.active.active{background: #47aaea;}
.datepicker table tr td.today{position: relative;background: #edf6fd;border: 1px solid #60b4ed;}
.datepicker table tr td, .datepicker table tr th{border-radius: 0;}

.datepicker table tr td.red{position: relative;background: url(../images/notAttence.png) no-repeat;background-position: 23px 2px;background-size: 10px 10px;}
.notes{font-size: 14px;color: #666;width: 96%;padding: 0 2%;}
.notes p{width: 100%;display: block;}
.notes p span{width: 41%;margin: 0;text-align: center;}
.notes p span.style{display: inline-block;width: 20px;float: left;}
.notes p span.last{width: 59%;}
.notes p img{width: 18px;}
.datepicker table tr td.today{background: url(../images/todayImg.png) no-repeat;background-position: 18px 2px;background-size: 22px;}

.datepicker table tr td span.active.active{background: #48abea;}


.attendance-day{margin-top: 10px;}
.attendance-records-day{width: 96%;padding:0 2%;font-size: 15px;margin: 0 auto;background: #fff;border-top: 1px solid #dbdbdb;}
.attendance-records-day li{width: 100%;height: 40px;border-bottom: 1px solid #ddd;line-height: 40px;}
.attendance-records-day li ul li{float: left;width: 50%;height: 40px;}
.attendance-records-day li:last-child{border-bottom: none;}
.sign_in{position: relative;left: 35px;}
.the_mood,.the_about,.sign_back,.the_length{position: relative;left: 5px;}
.hours,.minutes{color: #ff0000;}







/*attendanceFail*/
.sign{width: 100%;}
.signInFail{width: 80%;margin: 10%;}
.sign .time{font-size: 36px;color: #46aaea;border: 1px solid #46aaea;width: 80%;margin: 0 auto;text-align: center;padding: 5px 0;}
.attendanceFailInfor{font-size: 14px;color: #666;width: 80%;margin: 0 auto;}
.attendanceFailInfor p.title{font-size: 16px;color: #000;text-align: center;}
.datepicker{padding: 0;}



/*applyLeave*/
.weui_cells.weui_cells_form.mt0{margin-top: 0;}
.weui_cell .weui_label, .weui_cells .weui_cell{font-size: 14px;}
.weui_cells_form input {font-family: "微软雅黑";font-size: 14px;}
.weui_cell.weui_cell_select {padding: 0 15px;}
.weui_select {font-family: "微软雅黑";padding: 0;color: #333;}

textarea{font-family: "微软雅黑";}

.weui_cell .weui_label{display: table;}
.weui_cell .weui_label .spanImgBg,.weui_cell .weui_label .spanText{display: table-cell;vertical-align: middle;}
.weui_cell .weui_label .color{color: #4b53c8;}


.picker-modal .bar .title,.bar .button.pull-right{font-size: 14px;}
.picker-item,.picker-items-col.picker-items-col-divider{font-size: 16px;}
.weui_cells_form .weui_cell_ft.taLeft{font-size: 14px;text-align: left;position: relative;color: #3d4145;}
.weui_cells_form .weui_cell_ft.taLeft span:before{content: "; "}
.weui_cells_form .weui_cell_ft.taLeft span:first-child:before{content: ""}
.weui_cell .weui_cell_ft.taLeft:after{content:" ";display:inline-block;-webkit-transform:rotate(45deg);transform:rotate(45deg);height:6px;width:6px;border-width:2px 2px 0 0;border-color:#C8C8CD;border-style:solid;position:absolute;top:5px;right:0;margin-left:.3em}
.weui_cell_bd.date{position:relative}
.weui_cell_bd.style{position:relative}
.weui_cell_bd.date:after{position:absolute;content:"";width:0;height:0;border:4px solid #333;border-top-color:#333;border-left-color:transparent;border-bottom-color:transparent;border-right-color:transparent;right:0;top:10px}
.weui_cell_bd.style input{background:0 0;position:relative;z-index:10}
.weui_cell_bd.style .fa{position:absolute;top:4px;right:0;color:#00d449;z-index:0}
.weui_cell:before{left:0}
.weui_cell.mb15{margin-bottom:10px;border-bottom:1px solid #efefef}
.weui_cell_select .weui_cell_bd.date:after{position:absolute;content:"";width:0;height:0;border:4px solid #333;border-top-color:#333;border-left-color:transparent;border-bottom-color:transparent;border-right-color:transparent;right:0;top:22px;webkit-transform:rotate(0);transform:rotate(0)}
.weui_cells a.weui_cell:active{background-color:#ececec;}
.weui_btn_area .weui_btn{font-family: "微软雅黑";margin-top: 0;}
.weui_btn_area .weui_btn.actived{background: #9a9a9a;}
.weui_btn_area .weui_btn.actived:active{background: #9a9a9a;color: rgba(255,255,255,1)}
.weui_btn.b0,.weui_btn.b0:after{border:0;border-radius:0}
.weui_btn_area .weui_btn_primary{background:#47aaea}
.weui_btn_area.fixed{margin:0;width:100%;z-index:10;position:fixed;left:0;right:0;height:50px;text-align:center;line-height:50px;bottom:-8px}
.weui_cells.bg{background:#f7f7f7}
.weui_cells.bg .weui_cell{background:#fff}
.content,.page{position:absolute;top:0;right:0;bottom:0;left:0}
.bd.pd50{padding-bottom:50px}
.bd.absolute{position:absolute;top:0;bottom:0;overflow-y:scroll;-webkit-overflow-scrolling:touch;width:100%}
.weui_btn_primary:not(.weui_btn_disabled):active{color:rgba(255,255,255,.4);background-color:#47aaea}
#errMsg,#application{position:fixed;top:0;left:0;right:0;bottom:0;z-index:10000}
.weui_mask_transparent.fixed{position:fixed;z-index:10000}
.errDailog .weui_mask_transparent{position:absolute;left:0;right:0;top:0;bottom:0;background:0 0}
.errDailog .weui_toast{position:absolute;width:4.4em;min-height:4em;margin-left:-2.2em;margin-top:-2em}
.weui_toast{z-index:300}
.weui_toast_content{text-align:center;font-size:14px}
#smile-icon{margin:20px 0 10px}
.addressChioce,.advancedSearch{position:fixed;z-index:10;left:0;top:0;right:0;bottom:0;background:#f7f7f7;overflow-y: auto;}
.weui_cells.style .weui_cell:after{content:" ";display:inline-block;-webkit-transform:rotate(45deg);transform:rotate(45deg);height:6px;width:6px;border-width:2px 2px 0 0;border-color:#C8C8CD;border-style:solid;position:relative;top:-2px;top:-1px;margin-left:.3em}
.weui_cells.style1{margin-top:10px}
.departmentTitle{font-size:16px;padding:10px 15px;color:#48a8e4;position: relative;background: #fff;border: 1px solid #dbdbdb;margin-top: 5px;}
.departmentTitle .caretDown{    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 4px solid #333;
    border-top-color: #333;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    right: 15px;
    top: 22px;
    webkit-transform: rotate(0);
    transform: rotate(0);}
.departmentTitle.rotate .caretDown{webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);}
.weui_search_bar.style{background:#fff;height:54px;display:block;width:100%}
.weui_search_bar.style span.left{display:inline-block;width:10%;height:30px;font-size:24px;text-align:center;line-height:30px;color:#333}
.weui_search_bar.style .weui_search_outer{width:90%}
.weui_search_bar.style .weui_search_inner{padding-left:10px;height:36px;line-height:36px}
.weui_search_bar.style .weui_search_inner .weui_icon_search{right:0;display:inline-block;width:16%;left:auto;text-align:center;height: 36px;line-height: 32px;}
.weui_search_bar.style .weui_search_inner .weui_icon_search:after{content:"";position:absolute;left:0;top:2px;bottom:-2px;width:1px;border-left:1px solid #efefef}
.weui_search_bar.style .weui_search_inner .weui_icon_search:before{color:#48a8e4;font-weight:700}
.weui_search_bar.style .weui_search_cancel{width:6%;text-align:center;color:#48a8e4}
.weui_search_bar.style .weui_search_cancel,.weui_search_bar.style .weui_search_inner .weui_search_input{font-size:12px;font-family:"微软雅黑";position:absolute;top:0;width:80%;padding:9px 6px}
.highSerch{display:inline-block;width:15%;height:36px;line-height:36px;text-align:center;color:#48a8e4;font-size:12px;position:relative}
.weui_search_bar.style .weui_search_inner .weui_icon_clear{right:17%;padding:0 5px;top:2px}


.weui_cells.mt0{margin-top: 0;}
@-webkit-keyframes slideInRight{from{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
    to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@-webkit-keyframes slideOutRight{from{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
    to{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
}
.advancedSearch.slideInRight,.addressChioce.slideInRight{-webkit-animation:slideInRight .2s forwards;animation:slideInRight .2s forwards}
.advancedSearch.slideOutRight,.addressChioce.slideOutRight{-webkit-animation:slideOutRight .6s forwards;animation:slideOutRight .6s forwards}







/*applicatioApproval*/
.applicatioOpetion{width: 100%;margin-bottom: 10px;}
.applicatioNav{width: 100%;background: #fff;display: block;}
.applicatioNav li{float: left;text-align: center;font-size: 16px;width: 50%;position: relative;}
.applicatioNav li:first-child:after{content: "";position: absolute;right: 0;top: 0;width: 1px;bottom: 0;border-right: 1px solid #efefef;}
.applicatioNav li a{display: inline-block;width: 100%;padding: 10px 0;border-bottom: 3px solid transparent;color: #333;}
.applicatioNav li a.active{color: #47aaea;border-bottom: 3px solid #47aaea;}
.weui_cell {min-height: 23px;}

.weui_btn_area .weui_btn_primary.disabled{background: #ccc;}
.noMoney{font-size: 16px;color: #666;text-align: center;margin: 100px 0;}

.entryList li .passIcon.notPassed.hide{display: none;}
.entryList li .passIcon.passed.hide{display: none;}
.entryList li{background: #fff;}
.entryList.imgStyle{padding-bottom: 10px;}
.entryList.imgStyle span{display: inline-block;width: 25%;text-align: center;margin-top: 10px;}
.entryList.imgStyle span img{width: 60px;height: 60px;}
.entryList li .couponImg,.entryList li .inforList,.entryList li .tipLeft,.entryList li .passIcon{display: table-cell;vertical-align: middle;}
.entryList li .inforList.style{padding: 0;}
.entryList li .couponImg{width: 20%;position: relative;text-align: center;}
.entryList li .couponImg img.couponTip{position: absolute;width: 30%;right: -10%;top: -10%;}
.entryList li .couponImg img.couponImg1{width: 60px;height: 60px;border-radius: 100%;}
.entryList li .couponImg.style img.couponImg1{width: 80px;height: 80px;border-radius: 2px;}
.entryList li .inforList{width: 65%;}
.entryList li .inforList span{display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;font-size: 14px;color: #999;}
.entryList li .inforList span.title{font-size: 16px;color: #333;border: none;}
.entryList li .inforList span.title.styles{font-size: 18px;}
.entryList li .inforList.top{vertical-align: top;}
.entryList li .inforList span.color1{color:#ff0404; font-size: 18px;}
.entryList li .inforList span.title .inforTitle{font-size: 16px;display: inline-block;text-overflow:ellipsis; overflow:hidden; white-space:nowrap; width: 120px;color: #333;}
.entryList li .inforList span.inforListInfor{display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;}
.weui_textarea{border: 1px solid #efefef;padding: 5px;}
.entryList li .inforList span.color{text-align: right;color: #ff3b30;}
.entryList li .inforList span.inforListInfor.style{-webkit-line-clamp: 2;}
.entryList li .tipLeft,.entryList li .passIcon{font-size: 14px;width: 10%;position: relative;text-align: center;}
.entryList li .passIcon .pass{background: url(../images/pass.png) no-repeat;width: 20px;height: 20px;background-size: 20px 20px;display: inline-block;}
.entryList li .passIcon .notPass{background: url(../images/notPass.png) no-repeat;width: 20px;height: 20px;background-size: 20px 20px;display: inline-block;}
.entryList li>a,.entryList li>div{display: table;width: 94%;height: 100%;border-top: 1px solid #efefef;padding: 10px 3%;}
.entryList li>a:active{background-color: #ececec;}
.entryList li .tipLeft:after{    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #a1a1a1;
    border-style: solid;
    position: relative;
    top: -11px;
    margin-left: .3em;}
.entryList.mainstyle li>div{width: 85%;padding: 10px 5% 10px 10%;}
.infor{width: 100%;background: #fff;margin-top: 10px;border-top: 1px solid #efefef;border-bottom: 1px solid #efefef;}
.inforList{display: block;width: 94%;padding: 5px 3%;font-size: 14px;color: #666;}
.inforList>img{width: 15%;}
.inforSpan{width: 80%;margin-left: 3%;}
.inforSpan p{width: 100%;font-size: 14px;color: #666;line-height: 26px;display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;}
.inforSpan p.first{position: relative;left: -10%;top: -3px;}
.inforSpan p.second{position: relative;top: -2px;}

.inforTime{width: 100%;}
.timeList{width: 100%;padding: 10px 0;border-top: 1px solid #efefef;}
.timeList li{width: 94%;padding: 0 3%;display: table;margin-bottom: 10px;}
.timeList li .bgIcon,.timeList li .timeInfor{display: table-cell;vertical-align: middle;}
.timeList li .bgIcon{width: 10%;height: 100%;vertical-align:top;position: relative;top: 3px;}
.timeList li .reportIcon1{background: url(../images/report1.png) no-repeat;background-size: 100% 100%;width: 20px;height: 25px;}
.timeList li .reportIcon2{background: url(../images/report2.png) no-repeat;background-size: 100% 100%;width: 20px;height: 25px;}
.timeList li .startTimeIcon{background: url(../images/startIcon.png) no-repeat;background-size: 20px 20px;width: 20px;height: 20px;}
.timeList li .endTimeIcon{background: url(../images/endIcon.png) no-repeat;background-size: 20px 20px;width: 20px;height: 20px;}
.timeList li .bookTimeIcon{background: url(../images/because.png) no-repeat;background-size: 20px 20px;width: 20px;height: 20px;}
.timeList li .timeInfor{vertical-align:top;}
.timeList li .timeInfor p{font-size: 14px;color: #666;}
.timeList li .timeInfor p.title{font-size: 14px;color: #333;}
.entryList.style{border-bottom: 1px solid #efefef;}
.entryList.style li .inforList span.title{color: #47aaea;}
.weui_btn_area.style button {font-family: "微软雅黑";width: 50%;float: left;height: 42px;text-align: center;border: none;outline: none;background: #9a9a9a;color: #efefef;}
.weui_btn_area.style button.active{background: #47aaea;}
#applicationInfor{width: 40px;height: 40px;margin:20px 0 10px}

/*not_registered*/
.content.bg1{background: #dbdbdb;}
.loading{position: absolute;top: 50%;left: 50%;margin-left: -15px;margin-top: -15px;}
.description{position: relative;top: 200px;width: 94%;padding: 0 3%;}
.c_wu{position: absolute;top: 3em;;}


/*mainList*/
.mainTitle{padding: 10px;font-size: 14px;color: #333;position: relative;margin-top: 10px;background: #fff;border-top: 1px solid #efefef;}
.mainTitle:after{position:absolute;content:"";width:0;height:0;border:6px solid #3fa8ec;border-top-color:#3fa8ec;border-left-color:transparent;border-bottom-color:transparent;border-right-color:transparent;right:15px;top:18px}
.mainTitle.styleRight:after{transform:rotate(-90deg);top: 15px;}


/**/
.mainTitle.style{border-bottom: 1px dashed #efefef;font-size: 16px;}
.mainTitle.style:after{border: none;}
.entryList li .inforList.color2{color: #47aaea;}
.entryList li .inforList.color2 .fa{font-size: 24px;position: relative;top: 4px;}
.weui_cells.bg .weui_cell.weui_check_label.style2{width: 50%;float: left;padding: 0;}
.weui_cells.bg .weui_cell.weui_check_label.style2:before{border-top: 0;}
.weui_cells_checkbox.style2:before,.weui_cells_checkbox.style2:after{border-top: 0;border-bottom: 0;}
.weui_cells.bg .weui_cell.weui_check_label.style2 .weui_label{width: auto;}
.relesaTitle{padding: 10px 15px;font-size: 16px;color: #333;}
.relesaTitle.style{color: #60b4ed
}





/*暂无数据提示*/
.notConTip{text-align: center;color: #999;padding: 20px 0;position: absolute;top: 30%;width: 100%;}
.notConTip.mt15{margin: 15px 0;font-size: 12px;}
.notConTip img{width: 20%;margin-bottom: 5px;}
.notConTip img.w10{width: 10%;}
.notConTip .notInfor{color: #999;font-size: 16px;}






/*activeListing*/
.entryList li .inforList span .spanIcon{display: inline-block;position: relative;top: 3px;}
.entryList li .inforList span .addressIcon{width: 16px;height: 16px;background: url(../images/addressIcon.png) no-repeat;background-size: 100% 100%;}
.entryList li .inforList span .timeIcon{width: 16px;height: 16px;background: url(../images/timeIcon.png) no-repeat;background-size: 100% 100%;}
.zhuyi{background: #fff;font-size: 14px;color: #ff3b30;text-align: center;padding-bottom: 10px;}

/*memberDescription*/
.member{background: url(../images/inforBg.jpg) no-repeat;background-size: 100% 100%;width: 100%;height: 100%;}
.member .title{font-size: 18px;padding: 10px 15px;background: #fafafa;color: #333;}

.member p{font-size: 14px;color: #efefef;line-height: 24px;text-indent: 28px;margin: 20px 0 0;padding: 0 15px;}



/*membershipInfor*/
.moneyInfor{width: 94%;border-top: 1px solid #efefef;padding: 10px 3%;display: table;background: #fff;}
.moneyInfor>div{display: table-cell;vertical-align: middle;}
.moneyInfor>div.hide{display: none;}
.moneyInfor>div.style{font-size: 16px;color: #60b4ed;}
.moneyInfor>div.style .fa{font-size: 24px;position: relative;top: 3px;}
.moneyInfor>div p{font-size: 14px;color: #999;    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;}
.moneyInfor>div:first-child{width: 70%;}
.moneyInfor>div:last-child{text-align: right;}
.moneyInfor>div p.title{font-size: 16px;color: #333;}
.moneyInfor>div p.color{font-size: 18px;color: #ff3b30;}
.moneyInfor>div .btnMoney{display: inline-block;padding: 8px 12px;font-size: 14px;color: #fff;background: #47aaea;border-radius: 2px;border: 0;outline: none;font-family: "微软雅黑"}
.moneyInfor>div p.color.style{text-align: right;}



.taRight{text-align: right;color: #333;}
.weui_cell_hd p.title{font-size: 16px;color: #333;}
.weui_cell_hd p{font-size: 14px;color: #666;}


/*paySuccess*/
.payBg{width: 86%;height: 320px;margin: 20px 7%;background: url(../images/payBg.png) no-repeat;background-size: 100% 100%;position: relative;}
.payBgHead{width: 80%;margin: 20px 10%;position: absolute;top: 40px;}
.payBgHead>.title{font-size: 16px;color: #333;text-align: center;}
.payBgHead>.title .money{color: #ff3b30;}
.payBgHead .payStyle{display: table;width: 100%;text-align: center;}
.payBgHead .payStyle>div{display: table-cell;vertical-align: middle;}
.payBgHead .payStyle>div:last-child{text-align: left;}
.payBgHead .payStyle>div img{width: 70px;height: 70px;border-radius: 2px;}
.payBgHead .payStyle>div p{font-size: 14px;color: #666;margin: 5px 0;}
.payBgHead .payStyle>div p.title{color: #333;}
.payBgContent{position: absolute;bottom: 20px;width: 100%;}
.payBgContent p{font-size: 14px;color: #999;margin: 5px 0;text-align: center;}




/*presentationList*/
.entryList li .passIcon .prePass{background: url(../images/preIcon.png) no-repeat;background-size: 100% 100%;display: inline-block;width: 21px;height: 16px;}
.entryList li .passIcon .notPrePass{background: url(../images/preIcon1.png) no-repeat;background-size: 100% 100%;display: inline-block;width: 21px;height: 20px;}



/*activeInfor*/
.swiper-slide .w100{width: 100%;height: 200px;}
.swiper-container-horizontal>.swiper-pagination-bullets{bottom: 0;}
.activeCon{padding: 10px 15px 5px;background: #fff;border-bottom: 1px solid #dbdbdb;}
.activeCon p{font-size: 14px;color: #999;margin-bottom: 5px;}
.activeCon p.title{font-size: 16px;color: #222;display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;}
.activeIn{padding: 10px 15px 5px;background: #fff;border-bottom: 1px solid #dbdbdb;border-top: 1px solid #dbdbdb;}
.activeIn p{font-size: 14px;color: #222;display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;vertical-align: middle;}
.activeIn .spanIcon{display: inline-block;position: relative;top: 4px;}
.activeIn .timeIcon{width: 18px;height: 18px;background: url(../images/timeIcon.png) no-repeat;background-size: 100% 100%;}
.activeIn .addressIcon{width: 18px;height: 18px;background: url(../images/addressIcon.png) no-repeat;background-size: 100% 100%;}
.activeIn .moneyIcon{width: 18px;height: 18px;background: url(../images/moneyIcon.png) no-repeat;background-size: 100% 100%;}
img.w100{width: 100%;}
.activeCon.mb15,.activeIn.mb15{margin-bottom: 10px;}
.weui_dialog_confirm .weui_dialog .weui_dialog_hd{padding:10px 0;}
.weui_btn_dialog.primary{background: #47aaea;color: #fff;}
.addTipInfor p{color: #666;}
.weui_dialog_ft a#signSure:active {background-color: #17aaea;color: rgba(255,255,255,0.6);}
.overflowy{height: 100%;overflow-y: hidden;}



/*activeNot*/
.addTip{width: 100%;text-align: center;}
.addTip img{width: 70px;height: 70px;border-radius: 100%;display: inline-block;padding: 10px 0;}
.addTip p{font-size: 18px;color: #47aaea;}
.addTipInfor{padding: 10px 0;border-bottom: 1px dashed #dbdbdb;}
.addTipInfor.b0{border-bottom: 0;}
.activeIn p.zhuyi{color: #ff0404;text-align: left;padding-top: 10px;}

.entryList li p.pInfor{font-size: 13px;border-top: 1px solid #dbdbdb;}
.entryList.mb10 li{margin-bottom: 10px;border-bottom: 1px solid #dbdbdb;}
.entryList li p{font-size: 14px;color: #666;display: block;padding: 10px;}
.entryList li p .oneMoney{font-size: 16px;color: #333;}
.entryList li p .allMoney{font-size: 16px;color: #ff0404;}
.entryList li p .fa-trash-o{font-size: 20px;color: #666;position: relative;top: 4px;}
.entryList li p.bt1{border-top: 1px solid #dbdbdb;}
.entryList li p .btnPay{display: inline-block;padding: 2px 30px;border: 1px solid #83c5f9;color:#83c5f9;font-size: 14px;border-radius: 2px;}
.entryList li p .btnPay:active{background: #efefef;color: rgba(131,197,249,0.8);}
.entryList li p .btnPay.btnJoin{background: #83c5f9;color: #fff;margin-right: 10px;}
.entryList li p .btnPay.btnJoin:active{background:rgba(131,197,249,0.8);color: rgba(255,255,255,0.8)}
.entryList.mb10 li.mb0{margin-bottom: 0;}


.payTitle{font-size: 18px;text-align: center;padding: 10px 15px;position: relative;}
.payTitle .closeImg{position: absolute;right: 15px;top: 0;width: 30px;}
.weui_mask_transition.weui_fade_toggle{display: inline-block;}
.payCon .activeIn{border-bottom: 0;}
.payCon .activeIn p{margin: 5px 0;}
.payCon .activeIn p span{color: #666;}
.payCon .activeIn p span.spanIcon{opacity: 0.6;}
.weui_actionsheet_action{margin-top: 0;}
.weui_actionsheet_action button{background: #47aaea;color: #fff;width: 100%;height: 50px;border: 0;outline: 0;line-height: 50px;font-family: "微软雅黑";font-size: 18px;}
.payCon .activeIn .giftIcon{width: 18px;height: 18px;background: url(../images/giftIcon.png) no-repeat;background-size: 100% 100%;}
.weui_actionsheet_menu{}
.weui_cells_form .weui_cell .weui_label{width: 65px;}
.notFree,.free{border-bottom: 1px solid #dbdbdb;border-top: 1px solid #dbdbdb}


/*activeInvitation*/
.invitation{width: 94%;margin: 10px 3%;height: 250px;background: url("../images/invitationBg.png") no-repeat;background-size: 100% 100%;position: relative;}
.invitationHead{width: 100%;position: absolute;top: 5px;}
.invitationHead p{width: 90%;text-align: center;margin: 1px 5%;color: #fff;}
.invitationHead .littleName{font-size: 16px;}
.invitationHead .largeName{font-size: 20px;}
.invitationCon{position: absolute;top: 108px;width: 100%;}
.invitationCon p{width: 90%;margin: 3px 05%;text-align: left;font-size: 14px;color: #47aaea;}
.invitationCon .invitationIcon{display: inline-block;}
.invitationCon .invitationTime{width: 18px;height: 18px;background: url(../images/invitation1.png) no-repeat;background-size: 100% 100%;position: relative;top: 4px;}
.invitationCon .invitationAddress{width: 18px;height: 18px;background: url(../images/invitation2.png) no-repeat;background-size: 100% 100%;position: relative;top: 4px;}
.invitationFoot{position: absolute;bottom: 10px;width: 100%;}
.invitationFoot p{width: 90%;font-size: 14px;color: #999;margin: 3px 5%;text-align: left;}
.notice{background: #fff;}
.noticeHead{width: 100%;font-size: 16px;color: #333;padding: 10px 15px;border-bottom: 1px solid #efefef;}
.noticeHead img{width: 26px;}
.noticeCon{padding: 10px 15px;}
.noticeCon p{width: 100%;font-size: 14px;color: #666;margin-bottom: 10px;}


@media screen and (max-width: 768px) {
    /*考勤*/
    .s_last{width: 55%;}
    /*考勤*/
}
@media screen and (min-width: 640px) {
    /*考勤*/
    .ban,.head,.content,.share_btn,.common_head img{width: 21.3em;}
    .s_last{width: 348px;}
    .c_cccu li{font-size: 0.9em;}
    .cc_h{margin-top: 0.5em;}
    .c_wu{top: 3em;width: 100%;}
    /*考勤*/
}
@media screen and (max-width: 640px) {


}
@media screen and (max-width: 568px) {
    /*考勤*/
    .attendance ul li{top: -6em;height: 3em;width: 3em;margin-left: 7%;}
    .cu_s{line-height: 3.5em;font-size: 25px;}
    .cbs_ul{margin-left: -0.05em;}
    .cu_s1{font-size: 25px;}
    /*考勤*/
}
@media screen and (max-width: 480px) {
    /*考勤*/
    .cc_h {margin-top: 2em;font-size: 25px;}
    .attendance ul li{top: -5em;height: 2.5em;width: 2.5em;margin-left: 7%;}
    .cu_s{line-height: 3.5em;font-size: 25px;}
    .cu_s1{font-size: 20px;}
    .cb_div{width: 75%;}
    tr th.datepicker-switch{font-size: 20px;}
    tr th.dow{font-size: 20px;}
    /*考勤*/
}
@media screen and (max-width: 415px) {
    /*考勤*/
    .attendance ul li{top: -4.5em;height: 2.5em;width: 2.5em;margin-left: 5.4%;}
    .cu_s{line-height: 3em;font-size: 25px;}
    .cu_s1{font-size: 22px;}
    .cb_div{width: 78%;}
    tr th.datepicker-switch{font-size: 18px;}
    tr th.dow{font-size: 18px;}
    .inforList>img{width: 11.5%;}
    /*考勤*/
}
@media screen and (max-width: 384px) {
    /*考勤*/
    .attendance ul li{margin-left: 3.6%;}
    /*考勤*/
}
@media screen and (max-width: 375px) {
    /*考勤*/
    .attendance ul li{top: -4.5em;height: 2.5em;width: 2.5em;margin-left: 3.7%;}
    .cu_s{line-height: 3em;font-size: 25px;}
    .cu_s1{font-size: 22px;}
    .cb_div{width: 78%;margin-top: 0.5em;}
    .cbs_ul{height: 3em;}
    .inforList>img{width: 13%;}
    /*考勤*/
}
@media screen and (max-width: 360px) {
    /*考勤*/
    .attendance ul li{margin-left: 3.4%;}
    /*考勤*/
}
@media screen and (max-width: 320px) {
    /*考勤*/
    .attendance ul li {top: -3.8em;height: 2.16em;width: 2.16em;}
    .c_cccu li{font-size: 0.6em;}
    .c_cc{height: 4.6em;padding: 0.5% 1.1% 1.1% 0.5%;}
    .c_c{height: 3.5em;}
    .cb_div{width: 78%;}
    .cu_s{line-height: 2.5em;font-size: 25px;}
    .cu_s1{font-size: 18px;}
    tr th{font-size: 20px;}
    tr th.datepicker-switch{font-size: 16px;}
    tr th.dow{font-size: 16px;}
    .inforList>img{width: 15%;}
    /*考勤*/
}
