<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>品牌</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/global/plugins/threeDimensional/css/bookblock.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/global/plugins/threeDimensional/css/component.css" />
    <script src="../../assets/global/plugins/threeDimensional/js/modernizr.custom.js"></script>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body>
    <div class="wrapper style">
        <div class="head">
            <div class="head-main clearfix">
                <div class="logoDiv left">
                    <a href="index.html">
                        <img src="../../assets/frontend/images/logo.png" alt=""/>
                    </a>
                </div>
                <ul class="clearfix dm-menu left">
                    <li>
                        <a href="production.html">产品</a>
                    </li>
                    <li>
                        <a href="###">服务</a>
                    </li>
                    <li class="active">
                        <a href="brand.html">品牌</a>
                    </li>
                    <li>
                        <a href="healthyTips.html">健康小贴士</a>
                    </li>
                </ul>
                <div class="right dm-shopping">
                    <a href="###">
                        <img src="../../assets/frontend/images/market.png" alt=""/> 在线商城
                    </a>
                </div>
            </div>
        </div>
        <div class="content pt69">
            <div class="brandStory">
                <div id="scroll-wrap" class="container hide container hide-overflow">
                    <div class="main">
                        <div id="bookshelf" class="bookshelf">
                            <figure>
                                <div class="book" data-book="book-1"></div>
                                <div class="buttons"><a href="#">Look inside</a><a href="#">Details</a></div>
                                <div class="details"></div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="bb-custom-wrapper show" id="book-1">
                    <div class="bb-bookblock">
                        <div class="bb-item">
                            <div class="bb-custom-side page-layout-1">
                                <div class="title"></div>
                                <div class="page-content">
                                    <p>
                                        <span class="largeTitle">都漫</span> 是80后投资人文宇创立的品牌，品牌的灵感诞生于2013年。
                                    </p>

                                    <p>
                                        2013年，原本在医疗单位身居要职的文宇，为了追求更大的机遇与发展，从原单位辞职进入投资领域。工作的转型让他与爱人聚少离多，这让他对爱人深怀愧疚。
                                    </p>

                                    <p>
                                        偶然的一次机会，文宇听到爱人抱怨：“做女人不容易，光是每天手洗内衣就麻烦得要死，要是有一台专门用来洗内衣的洗衣机就好了”。
                                    </p>

                                </div>
                            </div>
                            <div class="bb-custom-side page-layout-1">
                                <div class="title"></div>
                                <div class="page-content">

                                    <p>
                                        言者无意，听者有心。妻子无意中的一句抱怨，触碰到了文宇心中敏锐的商业神经。一方面作为丈夫，他希望有这样一款产品替自己照顾爱人，另一方面作为投资人，他意识到这款产品背后巨大的市场需求。于是，他决定帮助妻子实现这个“愿望”——发明一台专为女性设计的洗衣机。
                                    </p>


                                </div>
                            </div>
                        </div>
                        <div class="bb-item">
                            <div class="bb-custom-side page-layout-2">
                                <div class="title"></div>
                                <div class="page-content">


                                    <p>
                                        之所以取名都漫，一方面文宇希望这款产品能带给用户如同这个名字所传达的温暖的感觉，都漫能时刻呵护陪伴女性用户；另一方面Q 代表着quaity（品质）、quieten（抚慰）、requisite（必备） 、quickly（快速），充分诠释了品牌内涵。
                                    </p>

                                </div>
                            </div>
                            <div class="bb-custom-side page-layout-2">
                                <div class="title"></div>
                                <div class="page-content">
                                    <p>
                                        在做投资期间，文宇投过几十个创业公司，但始终没有遇到一个真正可以让自己全身心投入、作为终身事业的项目。都漫的出现，让他找到了这样的一份事业，也是因为这个产品，他成立了都漫公司，致力于专业的健康服务产品，并以此作为终生使命。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav>
                        <a href="#" class="bb-nav-prev">Previous</a>
                        <a href="#" class="bb-nav-next">Next</a>
                        <a href="#" class="bb-nav-close hide">Close</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="footMain">
                <div class="ourMenuDiv">
                    <ul class="clearfix ourMenu">
                        <li>
                            <a href="companyInfor.html">
                                <p class="first">公司简介</p>
                                <p class="last">公司简介</p>
                            </a>
                        </li>
                        <li>
                            <a href="brandCooperation.html">
                                <p class="first">品牌故事</p>
                                <p class="last">品牌故事</p>
                            </a>
                        </li>
                        <li class="last">
                            <a href="aboutUs.html">
                                <p class="first">关于我们</p>
                                <p class="last">关于我们</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ourInfor clearfix">
                    <div class="copyright left">
                        <p class="large">
                            售后客服电话 : 4000023080 <span>(周一至周五9:00-18:00)</span>
                        </p>
                        <p class="small">
                            渝ICP备16006294号-2 Copyright © 2014~2015 重庆都漫科技有限公司 版权所有
                        </p>
                    </div>
                    <div class="left clearfix ourImg">
                        <div class="left">
                            <p class="title">关注我们:</p>
                            <ul class="iconMenu clearfix">
                                <li>
                                        <span>
                                            贴
                                        </span>
                                </li>
                                <li>
                                    <div class="weixin">
                                        <i class="fa fa-weixin"></i>
                                        <span class="weixinS"></span>
                                        <div class="weixinB">
                                            <span></span>
                                            <img src="../../assets/frontend/images/weixin.png">
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <i class="fa fa-weibo"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/frontend/js/gloabl.js"></script>
    <script src="../../assets/frontend/js/footHandle.js"></script>
    <script type="text/javascript" src="../../assets/global/plugins/threeDimensional/js/bookblock.min.js"></script>
    <script type="text/javascript" src="../../assets/global/plugins/threeDimensional/js/bookshelf.js"></script>
</body>
</html>