<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../../assets/global/plugins/slider/css/slider.css"/>
    <link href="../../assets/global/plugins/video/video-js.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-main clearfix">
                <div class="logoDiv left">
                    <a href="index.html">
                        <img src="../../assets/frontend/images/logo.png" alt=""/>
                    </a>
                </div>
                <ul class="clearfix dm-menu left">
                    <li>
                        <a href="production.html">产品</a>
                    </li>
                    <li>
                        <a href="###">服务</a>
                    </li>
                    <li>
                        <a href="brand.html">品牌</a>
                    </li>
                    <li>
                        <a href="healthyTips.html">健康小贴士</a>
                    </li>
                </ul>
                <div class="right dm-shopping">
                    <a href="###">
                        <img src="../../assets/frontend/images/market.png" alt=""/> 在线商城
                    </a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="nav">
                <ul class="slider">
                    <li>
                        <a href="#">
                            <img src="../../assets/global/plugins/slider/images/index1.jpg" class="autoImg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../assets/global/plugins/slider/images/index2.jpg" class="autoImg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../assets/global/plugins/slider/images/index3.jpg" class="autoImg">
                        </a>
                    </li>
                </ul>
                <ul class="num">
                    <li class="on"></li>
                    <li></li>
                    <li></li>
                </ul>
                <!--<div class="btnLeftBg btnBg"></div>-->
                <!--<div class="btn btn_l">-->
                    <!--<i class="fa fa-angle-left"></i>-->
                <!--</div>-->
                <!--<div class="btnRightBg btnBg"></div>-->
                <!--<div class="btn btn_r">-->
                    <!--<i class="fa fa-angle-right"></i>-->
                <!--</div>-->
            </div>
            <div class="dm-video">
                <ul class="clearfix dm-list">
                    <li>
                        <a>
                            <img src="../../assets/frontend/images/banner1.jpg" alt=""/>
                            <div class="play-mask-bg">
                                <div class="play-on">
                                    <span class="play"></span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <img src="../../assets/frontend/images/banner1.jpg" alt=""/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="foot">
            <div class="footMain">
                <div class="ourMenuDiv">
                    <ul class="clearfix ourMenu">
                        <li>
                            <a href="companyInfor.html">
                                <p class="first">公司简介</p>
                                <p class="last">公司简介</p>
                            </a>
                        </li>
                        <li>
                            <a href="talentRecruitment.html">
                                <p class="first">人才招聘</p>
                                <p class="last">人才招聘</p>
                            </a>
                        </li>
                        <li>
                            <a href="brandCooperation.html">
                                <p class="first">品牌合作</p>
                                <p class="last">品牌合作</p>
                            </a>
                        </li>
                        <li class="last">
                            <a href="aboutUs.html">
                                <p class="first">关于我们</p>
                                <p class="last">关于我们</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ourInfor clearfix">
                    <div class="copyright left">
                        <p class="large">
                            售后客服电话 : 023-58001118 <span>(周一至周五9:00-18:00)</span>
                        </p>
                        <p class="small">
                            渝ICP备15002338号-1 Copyright © 2014~2015 重庆都漫科技有限公司 版权所有
                        </p>
                    </div>
                    <div class="left clearfix ourImg">
                        <div class="left">
                            <p class="title">关注我们:</p>
                            <ul class="iconMenu clearfix">
                                <li>
                                    <span>
                                        贴
                                    </span>
                                </li>
                                <li>
                                    <div class="weixin">
                                        <i class="fa fa-weixin"></i>
                                        <span class="weixinS"></span>
                                        <div class="weixinB">
                                            <span></span>
                                            <img src="../../assets/frontend/images/weixin.png">
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <i class="fa fa-weibo"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-mask-bg hide"></div>
        <div class="video-mask hide">
            <div class="video-div">
                <div class="close">
                    <i class="fa fa-remove"></i>
                </div>
                <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="640" height="400"
                       poster=""
                       data-setup="{}">
                    <source src="http://mvvideo2.meitudata.com/5667c7b8efde88012.mp4" type='video/mp4' />
                    <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                    <track kind="captions" src="../../assets/global/plugins/video/demo.captions.vtt" srclang="en" label="English"><!-- Tracks need an ending tag thanks to IE9 -->
                    <track kind="subtitles" src="../../assets/global/plugins/video/demo.captions.vtt" srclang="en" label="English"><!-- Tracks need an ending tag thanks to IE9 -->
                </video>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/slider/js/slider.js"></script>
    <script src="../../assets/frontend/js/gloabl.js"></script>
    <script src="../../assets/global/plugins/video/video.js"></script>
    <script>
        $(function(){
            /*slider*/
            $(".nav").slider({
                defauTime:5000,
                moveTime:600
            });

            /*video*/
            $(".play").on("click",function(){
                $("html").addClass("overflow");
                $(".video-mask,.video-mask-bg").removeClass("hide");
                $("#example_video_1").css({width:"960px",height:"600px"});

                /*自动播放*/
                myPlayer = videojs('example_video_1');
                videojs("example_video_1").ready(function(){
                    var myPlayer = this;
                    myPlayer.play();
                });
            });


            $(".video-div").delegate(".close","click",function(){
                $(".video-mask,.video-mask-bg").addClass("hide");
                $("html").removeClass("overflow");
                /*停止播放*/
                myPlayer = videojs('example_video_1');
                videojs("example_video_1").ready(function(){
                    var myPlayer = this;
                    myPlayer.pause();
                });
            })
        });


        /*全屏图片居中*/
        var ai = $(".autoImg");
        ai.each(function(){
            $(this).get(0).style.width ="1920px";
            var that = $(this);
            function toResize(){
                var veiwidth = $(window).width();
                if(veiwidth>1205){
                    that.get(0).style.left = -(parseInt(that.get(0).style.width) - veiwidth)/2 + "px"
                }
            }
            toResize();
            $(window).on("resize",function(){
                toResize()
            });
        });
    </script>
</body>
</html>