<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>产品</title>
    <link rel="stylesheet" href="../../assets/global/plugins/fullUDSlider/css/jquery.fullPage.css">
    <link rel="stylesheet" href="../../assets/global/plugins/fullUDSlider/css/style.css">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-main clearfix">
                <div class="logoDiv left">
                    <a href="index.html">
                        <img src="../../assets/frontend/images/logo.png" alt=""/>
                    </a>
                </div>
                <ul class="clearfix dm-menu left">
                    <li class="active">
                        <a href="production.html">产品</a>
                    </li>
                    <li>
                        <a href="###">服务</a>
                    </li>
                    <li>
                        <a href="brand.html">品牌</a>
                    </li>
                    <li>
                        <a href="healthyTips.html">健康小贴士</a>
                    </li>
                </ul>
                <div class="right dm-shopping">
                    <a href="###">
                        <img src="../../assets/frontend/images/market.png" alt=""/> 在线商城
                    </a>
                </div>
            </div>
        </div>
        <div class="content">
            <div id="dowebok">
                <div class="section section1">
                    <div class="bg1">
                        <div class="product-img1"></div>
                        <div class="text">
                            <p class="title">及时洗</p>
                            <p>都市生活，当然快人一步。</p>
                        </div>
                    </div>
                </div>
                <div class="section section2">
                    <div class="bg2">
                        <div class="product-img2"></div>
                        <div class="text">
                            <p class="title">随手洗</p>
                            <p>女人，都想做甩手掌柜。</p>
                        </div>
                    </div>
                </div>
                <div class="section section3">
                    <div class="bg3">
                        <div class="product-img3"></div>
                        <div class="text">
                            <p class="title">母婴洗</p>
                            <p>宝宝不过敏，那就买对了。</p>
                        </div>
                    </div>
                </div>
                <div class="section section4">
                    <div class="bg4">
                        <div class="text">
                            <p class="title">母婴洗</p>
                            <p>宝宝不过敏，那就买对了。</p>
                        </div>
                        <div class="product-img4"></div>
                    </div>

                </div>
                <div class="section section5">
                    <div class="bg5">
                        <div class="product-img5"></div>
                        <div class="text">
                            <p class="title">不变形</p>
                            <p>我要美胸，拒绝变形。</p>
                        </div>
                    </div>
                </div>
                <div class="section section6">
                    <div class="bg6">
                        <div class="product-img6"></div>
                        <div class="text">
                            <p class="title">环保洗</p>
                            <p>Mr.Q无沫一身轻，节水so easy。</p>
                        </div>
                    </div>
                    <div class="foot bottom0">
                        <div class="footMain">
                            <div class="ourMenuDiv">
                                <ul class="clearfix ourMenu">
                                    <li>
                                        <a href="companyInfor.html">
                                            <p class="first">公司简介</p>
                                            <p class="last">公司简介</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="talentRecruitment.html">
                                            <p class="first">人才招聘</p>
                                            <p class="last">人才招聘</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="brandCooperation.html">
                                            <p class="first">品牌合作</p>
                                            <p class="last">品牌合作</p>
                                        </a>
                                    </li>
                                    <li class="last">
                                        <a href="aboutUs.html">
                                            <p class="first">关于我们</p>
                                            <p class="last">关于我们</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="ourInfor clearfix">
                                <div class="copyright left">
                                    <p class="large">
                                        售后客服电话 : 023-58001118 <span>(周一至周五9:00-18:00)</span>
                                    </p>
                                    <p class="small">
                                        渝ICP备15002338号-1 Copyright © 2014~2015 重庆都漫科技有限公司 版权所有
                                    </p>
                                </div>
                                <div class="left clearfix ourImg">
                                    <div class="left">
                                        <p class="title">关注我们:</p>
                                        <ul class="iconMenu clearfix">
                                            <li>
                                        <span>
                                            贴
                                        </span>
                                            </li>
                                            <li>
                                                <div class="weixin">
                                                    <i class="fa fa-weixin"></i>
                                                    <span class="weixinS"></span>
                                                    <div class="weixinB">
                                                        <span></span>
                                                        <img src="../../assets/frontend/images/weixin.png">
                                                    </div>
                                                </div>

                                            </li>
                                            <li>
                                                <i class="fa fa-weibo"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/fullUDSlider/js/jquery-1.8.3.min.js"></script>
    <script src="../../assets/global/plugins/fullUDSlider/js/jquery.fullPage.min.js"></script>
    <script src="../../assets/global/plugins/fullUDSlider/js/jquery.easing.min.js"></script>
    <script src="../../assets/frontend/js/gloabl.js"></script>
    <script>
        $(function(){
            function section(){
                $('.section1').find('.bg1').delay(50).animate({
                    opacity: '1'
                }, 400, function(){
                    $('.section1').find('.product-img1').animate({
                        opacity: '1',
                        marginLeft:"15%"
                    },800,function(){
                        $('.section1').find('.text').animate({
                            opacity: '1',
                            right:"25%"

                        },800)
                    });
                });
            }
            section();
            $('#dowebok').fullpage({
//                sectionsColor: ['transparent', 'transparent', 'transparent', '#efefef',"transparent","transparent"],
                afterLoad: function(anchorLink, index){
                    if(index == 1){
                        section()
                    }
                    if(index == 2){
                        $('.section2').find('.bg2').delay(50).animate({
                            opacity: '1'
                        }, 400, function(){
                            $('.section2').find('.product-img2').animate({
                                opacity: '1',
                                width:"300px",
                                height:"400px"
                            },800,function(){
                                $('.section2').find('.product-img2').animate({
                                    left:"30%"
                                },800,function(){
                                    $('.section2').find('.text').animate({
                                        opacity: '1',
                                        width:"200px",
                                        height:"60px"
                                    },800,function(){
                                        $('.section2').find('.text').animate({
                                            left:"70%"
                                        },800)
                                    })
                                })
                            });
                        });
                    }
                    if(index == 3){
                        $('.section3').find('.bg3').delay(50).animate({
                            opacity: '1'
                        }, 400, function(){
                            $('.section3').find('.product-img3').animate({
                                opacity: '1',
                                width:"300px",
                                height:"400px"
                            },800,function(){
                                    $('.section3').find('.text').animate({
                                        opacity: '1',
                                        height:"60px"
                                    },800,function(){
                                        $('.section3').find('.text').animate({
                                            left:"70%"
                                        },800)
                                    })
                                })
                        });
                    }
                    if(index == 4){
                        $('.section4').find('.bg4').delay(50).animate({
                            opacity: '1'
                        },400,function(){
                            $('.section4').find('.text').animate({
                                opacity:1,
                                top:"20%"
                            });
                            $('.section4').find('.product-img4').addClass("transform")
                        });
                    }
                    if(index == 5){
                        $('.section5').find('.bg5').delay(50).animate({
                            opacity: '1'
                        }, 400, function(){
                            $('.section5').find('.product-img5').animate({
                                opacity: '1',
                                width:"400px",
                                height:"400px",
                                top:"25%",
                                left:"20%"
                            },800,function(){
                                $('.section5').find('.text').animate({
                                    opacity: '1',
                                    height:"60px",
                                    top:"45%",
                                    left:'70%'
                                },800)
                            })
                        });
                    }
                    if(index == 6){
                        $('.section6').find('.bg6').delay(50).animate({
                            opacity: '1'
                        }, 400, function(){
                            $('.section6').find('.product-img6').animate({
                                opacity: '1',
                                top:"0"
                            },800,function(){
                                $('.section6').find('.text').animate({
                                    opacity: '1'
                                },800)
                            })
                        });
                    }
                },
                onLeave: function(index, direction){
                    if(index == 1){
                        $('.section1').find('.bg1').delay(50).animate({
                            opacity: '0'
                        }, 400, function(){
                            $('.section1').find('.product-img1').animate({
                                opacity: '0',
                                marginLeft:"-15%"
                            },100,function(){
                                $('.section1').find('.text').animate({
                                    opacity: '0',
                                    right:"-25%"
                                },100)
                            });
                        });
                    }
                    if(index == '2'){
                        $('.section2').find('.bg2').delay(50).animate({
                            opacity: '0'
                        }, 400, function(){
                            $('.section2').find('.product-img2').animate({
                                opacity: '0',
                                width:"400px",
                                height:"500px"
                            },800,function(){
                                $('.section2').find('.product-img2').animate({
                                    left:"50%"
                                },800,function(){
                                    $('.section2').find('.text').animate({
                                        opacity: '0',
                                        width:"300px",
                                        height:"100px"
                                    },800,function(){
                                        $('.section2').find('.text').animate({
                                            left:"60%"
                                        },800)
                                    })
                                })
                            });
                        });
                    }
                    if(index == '3'){
                        $('.section3').find('.bg3').delay(50).animate({
                            opacity: '0'
                        }, 400, function(){
                            $('.section3').find('.product-img3').animate({
                                opacity: '0',
                                width:"200px",
                                height:"300px"
                            },800,function(){
                                    $('.section3').find('.text').animate({
                                        opacity: '0',
                                        width:"300px",
                                        height:"100px"
                                    },800,function(){
                                        $('.section3').find('.text').animate({
                                            left:"60%"
                                        },800)
                                    })
                                })
                            });
                    }
                    if(index == '4'){
                        $('.section4').find('.bg4').delay(50).animate({
                            opacity: '0'
                        },400,function(){
                            $('.section4').find('.text').delay(50).animate({
                                opacity:0,
                                top:"-15%"
                            });
                            $('.section4').find('.product-img4').removeClass("transform")
                        });

                    }
                    if(index == 5){
                        $('.section5').find('.bg5').delay(50).animate({
                            opacity: '0'
                        }, 400, function(){
                            $('.section5').find('.product-img5').animate({
                                opacity: '0',
                                width:"0",
                                height:"0",
                                top:"-25%",
                                left:"-20%"
                            },800,function(){
                                $('.section5').find('.text').animate({
                                    opacity: '0',
                                    height:"0",
                                    top:"100%"
                                },800)
                            })
                        });
                    }
                    if(index == 6){
                        $('.section6').find('.bg6').delay(50).animate({
                            opacity: '0'
                        }, 400, function(){
                            $('.section6').find('.product-img6').animate({
                                opacity: '0'

                            },800,function(){
                                $('.section6').find('.text').animate({
                                    opacity: '0'

                                },800)
                            })
                        });
                    }
                },
                navigation: true
//                continuousVertical: true
            });
        });
    </script>
</body>
</html>