<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>产品</title>
    <link rel="stylesheet" href="../../assets/global/plugins/fullUDSlider/css/jquery.fullPage.css">
    <link rel="stylesheet" href="../../assets/global/plugins/fullUDSlider/css/style.css">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-main clearfix">
                <div class="logoDiv left">
                    <a href="index.html">
                        <img src="../../assets/frontend/images/logo.png" alt=""/>
                    </a>
                </div>
                <ul class="clearfix dm-menu left">
                    <li class="active">
                        <a href="production.html">产品</a>
                    </li>
                    <li>
                        <a href="brand.html">品牌</a>
                    </li>
                    <li>
                        <a href="###">服务</a>
                    </li>

                    <li>
                        <a href="healthyTips.html">健康小贴士</a>
                    </li>
                </ul>
                <div class="right dm-shopping">
                    <a href="###">
                        <img src="../../assets/frontend/images/market.png" alt=""/> 在线商城
                    </a>
                </div>
            </div>
        </div>
        <div class="content">
            <div id="dowebok">
                <div class="section section1">
                    <div class="bg1">
                        <div class="text">
                            <p class="title">智能设计  一键启动 都市生活，当然快人一步 </p>
                            <p>迷你式机身构造，小巧精致，简化操作流程，清洗一步到位，创造优质生活。</p>
                        </div>
                        <div class="product-img1"></div>
                    </div>
                </div>
                <div class="section section2">
                    <div class="bg2">
                        <div class="product-img2"></div>
                        <div class="text">
                            <div class="productionBg2"></div>
                            <p class="title">只需爱，零残留</p>
                            <p>洗涤全过程只需水，无任何化学物质，真正做到零残留。</p>
                        </div>
                    </div>
                </div>

                <div class="section section3">
                    <div class="bg4">
                        <div class="text">
                            <div class="productionBg2"></div>
                        </div>
                        <div class="product-img4"></div>
                    </div>
                </div>
                <div class="section section4">
                    <div class="bg5">
                        <div class="text">
                            <p class="title">声波洗净，轻柔呵护</p>
                            <p>超声波全方位洗涤 低频低转甩干 无需翻滚搅拌　　远离磨损 变形 缠绕;我要美胸，拒绝变形 </p>
                        </div>
                        <div class="product-img5"></div>
                    </div>

                </div>
                <div class="section section5">
                    <div class="bg3">
                        <div class="text">
                            <p class="title">双重杀菌，健康无忧 </p>
                            <p class="smallTitle">紫外线+负离子，强效杀菌，去除异味，有效杀死 99.9% 的细菌</p>
                        </div>
                        <ul class="clearfix productMenu">
                            <li>
                                <div class="productIcon productIcon1"></div>
                                大肠杆菌
                            </li>
                            <li>
                                <div class="productIcon productIcon2"></div>
                                双歧杆菌
                            </li>
                            <li>
                                <div class="productIcon productIcon3"></div>
                                沙门氏菌
                            </li>
                            <li>
                                <div class="productIcon productIcon4"></div>
                                志贺氏菌
                            </li>
                            <li class="mr0">
                                <div class="productIcon productIcon5"></div>
                                肺炎链球菌
                            </li>
                        </ul>
                    </div>
                    <div class="foot bottom0">
                        <div class="footMain">
                            <div class="ourMenuDiv">
                                <ul class="clearfix ourMenu">
                                    <li>
                                        <a href="companyInfor.html">
                                            <p class="first">公司简介</p>
                                            <p class="last">公司简介</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="brandCooperation.html">
                                            <p class="first">品牌故事</p>
                                            <p class="last">品牌故事</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="aboutUs.html">
                                            <p class="first">关于我们</p>
                                            <p class="last">关于我们</p>
                                        </a>
                                    </li>
                                    <li class="last">
                                        <a href="talentRecruitment.html">
                                            <p class="first">人才招聘</p>
                                            <p class="last">人才招聘</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="ourInfor clearfix">
                                <div class="copyright left">
                                    <p class="large">
                                        售后客服电话 : 4000023080 <span>(周一至周五9:00-18:00)</span>
                                    </p>
                                    <p class="small">
                                        渝ICP备16006294号-2 Copyright © 2014~2015 重庆都漫科技有限公司 版权所有
                                    </p>
                                </div>
                                <div class="left clearfix ourImg">
                                    <div class="left">
                                        <p class="title">关注我们:</p>
                                        <ul class="iconMenu clearfix">
                                            <li>
                                    <span>
                                        贴
                                    </span>
                                            </li>
                                            <li>
                                                <div class="weixin">
                                                    <i class="fa fa-weixin"></i>
                                                    <span class="weixinS"></span>
                                                    <div class="weixinB">
                                                        <span></span>
                                                        <img src="../../assets/frontend/images/weixin.png">
                                                    </div>
                                                </div>

                                            </li>
                                            <li>
                                                <i class="fa fa-weibo"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/fullUDSlider/js/jquery-1.8.3.min.js"></script>
    <script src="../../assets/global/plugins/fullUDSlider/js/jquery.fullPage.min.js"></script>
    <script src="../../assets/global/plugins/fullUDSlider/js/jquery.easing.min.js"></script>
    <script src="../../assets/frontend/js/gloabl.js"></script>
    <script>
        $(function(){
            function section(){
                $('.section1').find('.bg1').delay(50).animate({
                    opacity: '1'
                }, 400, function(){
                    $('.section1').find('.text').animate({
                        opacity: '1',
                        top:"80px"

                    },800,function(){
                        $('.section1').find('.product-img1').animate({
                            opacity: '1',
                            bottom:"20px"
                        },800)
                    });
                });
            }
            section();
            $('#dowebok').fullpage({
//                sectionsColor: ['transparent', 'transparent', 'transparent', '#efefef',"transparent","transparent"],
                afterLoad: function(anchorLink, index){
                    if(index == 1){
                        section()
                    }
                    if(index == 2){
                        $('.section2').find('.bg2').delay(50).animate({
                            opacity: '1'
                        }, 400, function(){
                            $('.section2').find('.product-img2').animate({
                                opacity: '1',
                                width:"550px",
                                height:"380px"
                            },800,function(){
                                $('.section2').find('.product-img2').animate({
                                    left:"20%"
                                },800,function(){
                                    $('.section2').find('.text').animate({
                                        opacity: '1',
                                        width:"430px"
                                    },800,function(){
                                        $('.section2').find('.text').animate({
                                            left:"70%"
                                        },800)
                                    })
                                })
                            });
                        });
                    }
                    if(index == 3){
                        $('.section3').find('.bg4').delay(50).animate({
                            opacity: '1'
                        },200,function(){
                            if($(window).width()>1400){
                                $('.section3').find('.bg4').delay(50).animate({
                                    opacity: '1'
                                },400,function(){
                                    $('.section3').find('.product-img4').animate({
                                        opacity:1,
                                        width:"1254px",
                                        height:"860px",
                                        marginLeft:"-625px",
                                        top:"0%"
                                    },800,function(){
                                        $('.section3').find('.productionBg2').animate({
                                            opacity:1,
                                            width:"500px",
                                            height:"310px",
                                            left:"15%",
                                            top:"15%"
                                        },200)
                                    });
                                });
                            }
                            else if($(window).width()<1400){
                                $('.section3').find('.product-img4').animate({
                                    opacity:1,
                                    width:"970px",
                                    height:"690px",
                                    marginLeft:"-485px",
                                    top:"10%"
                                },800,function(){
                                    $('.section3').find('.productionBg2').animate({
                                        opacity:1,
                                        width:"590px",
                                        height:"400px",
                                        left:"15%",
                                        top:"15%"
                                    },200)
                                })
                            }
                        });
                    }
                    if(index == 4){


                        $('.section4').find('.bg5').delay(50).animate({
                            opacity: '1'
                        }, 400, function(){
                            $('.section4').find('.text').animate({
                                opacity: '1',
                                left:"50%"
                            },800,function(){
                                $('.section4').find('.product-img5').animate({
                                    opacity: '1',
                                    left:"50%"
                                },800)
                            })
                        });
                    }
                    if(index == 5){
                        $('.section5').find('.bg3').delay(50).animate({
                            opacity: '1'
                        }, 100,function(){
                            $('.section5').find('.text').animate({
                                opacity: '1',
                                top:"20%"
                            },800,function(){
                                $('.section5').find('.productMenu li').eq(0).animate({
                                    opacity: '1'
                                },200,function(){
                                    $('.section5').find('.productMenu li').eq(1).animate({
                                        opacity: '1'
                                    },200,function(){
                                        $('.section5').find('.productMenu li').eq(2).animate({
                                            opacity: '1'
                                        },200,function(){
                                            $('.section5').find('.productMenu li').eq(3).animate({
                                                opacity: '1'
                                            },200,function(){
                                                $('.section5').find('.productMenu li').eq(4).animate({
                                                    opacity: '1'
                                                },200)
                                            })
                                        })
                                    })
                                })
                            })
                        })



                    }
                },
                onLeave: function(index, direction){
                    if(index == 1){
                        $('.section1').find('.bg1').delay(50).animate({
                            opacity: '0'
                        }, 400, function(){
                            $('.section1').find('.text').animate({
                                opacity: '0',
                                top:"-10%"

                            },800,function(){
                                $('.section1').find('.product-img1').animate({
                                    opacity: '0',
                                    bottom:"-10%"
                                },800)
                            });
                        });
                    }
                    if(index == 2){
                        $('.section2').find('.bg2').delay(50).animate({
                            opacity: '0'
                        }, 400, function(){
                            $('.section2').find('.product-img2').animate({
                                opacity: '0',
                                width:"866px",
                                height:"640px"
                            },200,function(){
                                $('.section2').find('.product-img2').animate({
                                    left:"40%"
                                },200,function(){
                                    $('.section2').find('.text').animate({
                                        opacity: '0',
                                        width:"300px",
                                        height:"100px"
                                    },200,function(){
                                        $('.section2').find('.text').animate({
                                            left:"60%"
                                        },200)
                                    })
                                })
                            });
                        });
                    }
                    if(index == 3){
                        $('.section3').find('.bg4').delay(50).animate({
                            opacity: '0'
                        },400,function(){
                            $('.section3').find('.product-img4').animate({
                                opacity:0,
                                width:"742px",
                                height:"525px",
                                marginLeft:"-325px",
                                top:"30%"
                            },800,function(){
                                $('.section3').find('.productionBg2').animate({
                                    opacity:0,
                                    width:"236px",
                                    height:"143px",
                                    left:"0%",
                                    top:"0%"
                                },200)
                            });
                        });
                    }
                    if(index == 4){
                        $('.section4').find('.bg5').delay(50).animate({
                            opacity: '0'
                        }, 400, function(){
                            $('.section4').find('.text').animate({
                                opacity: '0',
                                left:"20%"
                            },800,function(){
                                $('.section4').find('.product-img5').animate({
                                    opacity: '0',
                                    left:"70%"
                                },800)
                            })
                        });

                    }
                    if(index == 5){
                        $('.section5').find('.bg3').delay(50).animate({
                            opacity: '0'
                        }, 400,function(){
                            $('.section5').find('.text').animate({
                                opacity: '0',
                                top:"5%"
                            },800,function(){
                                $('.section5').find('.productMenu li').eq(0).animate({
                                    opacity: '0'
                                },20,function(){
                                    $('.section5').find('.productMenu li').eq(1).animate({
                                        opacity: '0'
                                    },20,function(){
                                        $('.section5').find('.productMenu li').eq(2).animate({
                                            opacity: '0'
                                        },20,function(){
                                            $('.section5').find('.productMenu li').eq(3).animate({
                                                opacity: '0'
                                            },20,function(){
                                                $('.section5').find('.productMenu li').eq(4).animate({
                                                    opacity: '0'
                                                },20)
                                            })
                                        })
                                    })
                                })
                            })
                        })


                    }
                },
                navigation: true
//                continuousVertical: true
            });
        });
    </script>
</body>
</html>