<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>人才招聘</title>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-main clearfix">
                <div class="logoDiv left">
                    <a href="index.html">
                        <img src="../../assets/frontend/images/logo.png" alt=""/>
                    </a>
                </div>
                <ul class="clearfix dm-menu left">
                    <li>
                        <a href="production.html">产品</a>
                    </li>
                    <li>
                        <a href="###">服务</a>
                    </li>
                    <li>
                        <a href="brand.html">品牌</a>
                    </li>
                    <li>
                        <a href="healthyTips.html">健康小贴士</a>
                    </li>
                </ul>
                <div class="right dm-shopping">
                    <a href="###">
                        <img src="../../assets/frontend/images/market.png" alt=""/> 在线商城
                    </a>
                </div>
            </div>
        </div>
        <div class="content pt69 bg">
            <div class="contentMain">
                <div class="contantUs clearfix">
                    <ul class="menu">
                        <li><a href="companyInfor.html">公司简介</a></li>
                        <li class="active"><a href="talentRecruitment.html">人员招聘</a><i class="fa fa-caret-right"></i></li>
                        <li><a href="brandCooperation.html">品牌合作</a></li>
                        <li class="last"><a href="aboutUs.html">关于我们</a></li>
                    </ul>
                    <div class="contantUsCon">
                        <div class="contantUsConHead">
                            <img src="../../assets/frontend/images/contantUsIcon.jpg" alt=""/>
                            <p class="title">
                                <span class="companyName">重庆都漫科技有限公司</span>   主要从事机电、电子、创意产品的研发、生产及销售。
                            </p>
                        </div>
                        <div class="contantUsConCon lh">
                            <span class="fs16"><span class="bgColor"></span> QE工程师</span><br/>
                            任职资格 : <br/>
                            大专或以上学历，熟练掌握炳运用QC七大手法，家电或电子行业3年以上品质管理工作经验。 <br/>
                            <br/>
                            岗位职责：<br/>
                            1、跟进新产品研发初期的评估、评审,试产工作;治具的评估;<br/>
                            2、过程质量辅导,监督,异常分析与处理;<br/>
                            3、根据规格书及相关标准的任职资格制定检验规范及检验指导书;<br/>
                            4、对售后提供的客户投诉及相关数据进行分析及归类,并主导纠正预防措施落实;<br/>
                            5、对售后提供的客户投诉及相关数据进行分析及归类,并主导纠正预防措施落实;<br/>
                            <br/>
                            <br/>
                            <span class="fs16"><span class="bgColor"></span> 运营经理</span> <br/>
                            任职资格 : <br/>
                            1、本科学历，熟练应用OFFICE办公软件（WORD/EXCELL/PPT） ;<br/>
                            2、过程质量辅导,监督,异常分析与处理;<br/>
                            3、根据规格书及相关标准的任职资格制定检验规范及检验指导书;<br/>
                            4、对售后提供的客户投诉及相关数据进行分析及归类,并主导纠正预防措施落实;<br/>
                            5、对售后提供的客户投诉及相关数据进行分析及归类,并主导纠正预防措施落实;<br/>
                            <br/>
                            岗位职责：<br/>
                            1、跟进新产品研发初期的评估、评审,试产工作;治具的评估;<br/>
                            2、过程质量辅导,监督,异常分析与处理;<br/>
                            3、根据规格书及相关标准的任职资格制定检验规范及检验指导书;<br/>
                            4、对售后提供的客户投诉及相关数据进行分析及归类,并主导纠正预防措施落实;<br/>
                            5、对售后提供的客户投诉及相关数据进行分析及归类,并主导纠正预防措施落实;<br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="footMain">
                <div class="ourMenuDiv">
                    <ul class="clearfix ourMenu">
                        <li>
                            <a href="companyInfor.html">
                                <p class="first">公司简介</p>
                                <p class="last">公司简介</p>
                            </a>
                        </li>
                        <li>
                            <a href="talentRecruitment.html">
                                <p class="first">人才招聘</p>
                                <p class="last">人才招聘</p>
                            </a>
                        </li>
                        <li>
                            <a href="brandCooperation.html">
                                <p class="first">品牌合作</p>
                                <p class="last">品牌合作</p>
                            </a>
                        </li>
                        <li class="last">
                            <a href="aboutUs.html">
                                <p class="first">关于我们</p>
                                <p class="last">关于我们</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ourInfor clearfix">
                    <div class="copyright left">
                        <p class="large">
                            售后客服电话 : 023-58001118 <span>(周一至周五9:00-18:00)</span>
                        </p>
                        <p class="small">
                            渝ICP备15002338号-1 Copyright © 2014~2015 重庆都漫科技有限公司 版权所有
                        </p>
                    </div>
                    <div class="left clearfix ourImg">
                        <div class="left">
                            <p class="title">关注我们:</p>
                            <ul class="iconMenu clearfix">
                                <li>
                                        <span>
                                            贴
                                        </span>
                                </li>
                                <li>
                                    <div class="weixin">
                                        <i class="fa fa-weixin"></i>
                                        <span class="weixinS"></span>
                                        <div class="weixinB">
                                            <span></span>
                                            <img src="../../assets/frontend/images/weixin.png">
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <i class="fa fa-weibo"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/frontend/js/gloabl.js"></script>
    <script src="../../assets/frontend/js/footHandle.js"></script>
</body>
</html>