<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>人才招聘</title>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head style">
            <div class="head-main clearfix">
                <div class="logoDiv left">
                    <a href="index.html">
                        <img src="../../assets/frontend/images/logo.png" alt=""/>
                    </a>
                </div>
                <ul class="clearfix dm-menu left">
                    <li>
                        <a href="production.html">产品</a>
                    </li>
                    <li>
                        <a href="brand.html">品牌</a>
                    </li>
                    <li>
                        <a href="###">服务</a>
                    </li>

                    <li>
                        <a href="healthyTips.html">健康小贴士</a>
                    </li>
                </ul>
                <div class="right dm-shopping">
                    <a href="###">
                        <img src="../../assets/frontend/images/market.png" alt=""/> 在线商城
                    </a>
                </div>
            </div>
        </div>
        <div class="content pt69 bg">
            <div class="contentMain">
                <div class="contantUs clearfix">
                    <ul class="menu">
                        <li><a href="companyInfor.html">公司简介</a></li>
                        <li><a href="brandCooperation.html">品牌故事</a></li>
                        <li><a href="aboutUs.html">关于我们</a></li>
                        <li class="active last"><a href="talentRecruitment.html">人才招聘</a><i class="fa fa-caret-right"></i></li>
                    </ul>
                    <div class="contantUsCon">
                        <div class="contantUsConHead">
                            <img src="../../assets/frontend/images/contantUsIcon.jpg" alt=""/>
                            <p class="title">
                                <span class="companyName">重庆都漫科技有限公司</span>　　
                            </p>
                        </div>
                        <div class="contantUsConCon lh">
                            <span class="fs16"><span class="bgColor"></span>　工装设计师（1人）</span><br/>
                            薪资待遇 : <br/>
                            　￥5000~8000 元/月 （普通员工 ，底薪：4000~5000元/月+提成 ） <br/>
                            <br/>
                            福利待遇 : <br/>
                            　　五险、周末双休、带薪年假、交通补助、绩效奖金、节日礼金、年度旅游、年底分红 <br/>
                            　　本科 / 经验3年及以上 / 语言不限 / 性别不限 / 年龄25到40岁  <br/>
                            <br/>
                            岗位职责：<br/>
                            1、 根据项目要求绘制平面布置及配套施工图；<br/>
                            2、 根据客户需求绘制定制设计方案及配套施工图；<br/>
                            3、 负责优秀案例、技术及资源的整理；<br/>
                            4、 配合项目经理制定工作进度。<br/>
                            <br/>
                            任职资格 : <br/>
                            1、 装修设计、平面设计等相关专业，大学本科及以上学历；<br/>
                            2、 三年以上相关工作经验，手绘能力强者优先；<br/>
                            3、 积极肯干，吃苦耐劳；具有创新精神及团队协作精神；<br/>
                            4、 责任心强，有团队合作精神，有良好的沟通能力。<br/>
                            5、 富有创意及执行力，有责任感、表达能力强。<br/>
                            　　条件优秀者可放宽要求。                            <br/>
                            <br/>



                            <span class="fs16"><span class="bgColor"></span> 工艺工程师（2人）</span> <br/>
                            福利待遇 :<br/>
                            　　五险、周末双休、带薪年假、交通补助、绩效奖金、节日礼金、年度旅游、年底分红<br/>
                            　　大专 / 经验3年及以上 / 语言不限 / 男 / 年龄不限 <br/>

                            <br/>
                            任职资格 : <br/>
                            1、要求任职者有两年及以上工作经验，有单独的项目经验；<br/>
                            2、性格扎实诚恳，擅于人沟通交流；<br/>
                            3、了解产品结构设计、生产、出厂、回馈等基础工作情况。<br/>
                            4、熟悉生产工艺、产品性能、产品结构，具有丰富的项目开展经验，团队意识强；<br/>
                            5、能够阅读并解释、运用各类技术文件及说明，具备解决现场故障的能力，统计调查分析能力，善于发现、寻找并解决问题； <br/>
                            6、有责任心，能吃苦耐劳。<br/>
                            7、薪资：面议<br/>
                            <br/>
                            岗位职责：<br/>
                            1、负责新产品样品的试制；负责准备投产产品的相关技术规范、BOM清单及说明的编写，形成内部工艺文件标准； <br/>
                            2、相关新产品的设计、制作及改进； <br/>
                            3、协助研发及生产完善各新产品的开发设计及批量投产工作；<br/>
                            4、进行项目管理，熟悉产品的设计、成本、生产时间、生产质量等；<br/>
                            5、经常与客户进行沟通、与客户保持亲密联系，定期走访、了解产品的质量等情况，及时与工厂、设计师等多方进行沟通协调，确保产品的进度和质量；<br/>
                            6、熟悉材料及工艺、生产成本、生产周期并跟进和管理；<br/>
                            7、定期走访、了解产品的质量情况，协调解决产品质量问题。<br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="footMain">
                <div class="ourMenuDiv">
                    <ul class="clearfix ourMenu">
                        <li>
                            <a href="companyInfor.html">
                                <p class="first">公司简介</p>
                                <p class="last">公司简介</p>
                            </a>
                        </li>
                        <li>
                            <a href="talentRecruitment.html">
                                <p class="first">人才招聘</p>
                                <p class="last">人才招聘</p>
                            </a>
                        </li>
                        <li>
                            <a href="brandCooperation.html">
                                <p class="first">品牌故事</p>
                                <p class="last">品牌故事</p>
                            </a>
                        </li>
                        <li class="last">
                            <a href="aboutUs.html">
                                <p class="first">关于我们</p>
                                <p class="last">关于我们</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ourInfor clearfix">
                    <div class="copyright left">
                        <p class="large">
                            售后客服电话 : 4000023080 <span>(周一至周五9:00-18:00)</span>
                        </p>
                        <p class="small">
                            渝ICP备16006294号-2 Copyright © 2014~2015 重庆都漫科技有限公司 版权所有
                        </p>
                    </div>
                    <div class="left clearfix ourImg">
                        <div class="left">
                            <p class="title">关注我们:</p>
                            <ul class="iconMenu clearfix">
                                <li>
                                        <span>
                                            贴
                                        </span>
                                </li>
                                <li>
                                    <div class="weixin">
                                        <i class="fa fa-weixin"></i>
                                        <span class="weixinS"></span>
                                        <div class="weixinB">
                                            <span></span>
                                            <img src="../../assets/frontend/images/weixin.png">
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <i class="fa fa-weibo"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/frontend/js/gloabl.js"></script>
    <script src="../../assets/frontend/js/footHandle.js"></script>
</body>
</html>