<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>添加地址</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="wrapper style">
        <div class="page">
            <div class="bd absolute pb48">
                <form action="#" id="form" onsubmit="return false">
                    <div class="weui_cells labelStyle weui_cells_form mt0">
                        <div class="weui_cell">
                            <div class="weui_cell_hd">
                                <label class="weui_label">
                                    <span class="personIcon span_icon"></span> 收货人:
                                </label>
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input id="personName" class="weui_input" type="text" placeholder="请输入您的姓名">
                            </div>
                        </div>


                        <div class="weui_cell">
                            <div class="weui_cell_hd">
                                <label class="weui_label">
                                    <span class="phoneIcon span_icon"></span> 手机号 :
                                </label>
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input id="mobile" class="weui_input" type="tel" placeholder="请输入您的手机号">
                            </div>
                        </div>

                        <div class="weui_cell weui_cell_select">
                            <div class="weui_cell_hd">
                                <label class="weui_label">
                                    <span class="carIcon span_icon"></span> 省份 :
                                </label>
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <select class="weui_select" name="select1">
                                    <option value="四川省">四川省</option>
                                    <option value="贵州省">贵州省</option>
                                </select>
                            </div>
                        </div>
                        <div class="weui_cell weui_cell_select">
                            <div class="weui_cell_hd">
                                <label class="weui_label">
                                    <span class="carIcon span_icon"></span> 城市 :
                                </label>
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <select class="weui_select" name="select1">
                                    <option value="广安市">广安市</option>
                                    <option value="贵州市">贵州市</option>
                                </select>
                            </div>
                        </div>
                        <div class="weui_cell weui_cell_select">
                            <div class="weui_cell_hd">
                                <label class="weui_label">
                                    <span class="carIcon span_icon"></span> 地区 :
                                </label>
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <select class="weui_select" name="select1">
                                    <option value="武胜县">武胜县</option>
                                    <option value="修文县">修文县</option>
                                </select>
                            </div>
                        </div>

                        <div class="weui_cell">
                            <div class="weui_cell_hd">
                                <label class="weui_label">
                                    <span class="addressIcon span_icon"></span> 详细地址 :
                                </label>
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <textarea name="" id="caseDetails" class="weui_textarea" placeholder="项目描述" cols="30" rows="5"></textarea>
                            </div>
                        </div>

                        <div class="weui_cell">
                            <div class="weui_cell_hd">
                                <label class="weui_label">
                                    <span class="addressIcon span_icon"></span> 默认地址 :
                                </label>
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <div class="weui_cells weui_cells_checkbox mt0 bt0">
                                    <label class="weui_cell weui_check_label style" for="s11">
                                        <div class="weui_cell_hd">
                                            <input type="checkbox" class="weui_check" name="checkbox1" id="s11" checked="checked">
                                            <i class="weui_icon_checked"></i>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="weui_btn_area fixed">
                        <input type="button"  class="weui_btn b0 bg weui_btn_primary saveBasic" id="saveBtn" value="保存">
                    </div>
                </form>
            </div>

            <!--&lt;!&ndash;添加地址成功提示开始&ndash;&gt;-->
            <!--<div class="weui_dialog_confirm hide" id="dialogConfirm">-->
                <!--<div class="weui_mask"></div>-->
                <!--<div class="weui_dialog vux-dialog-transition">-->
                    <!--<div class="weui_dialog_hd">-->
                        <!--<i class="weui-icon-success weui-icon_msg"></i><br>-->
                        <!--<strong class="weui_dialog_title">您已报名成功！</strong>-->
                    <!--</div>-->
                    <!--<div class="weui_dialog_ft">-->
                        <!--<a href="javascript:;" class="weui_btn_dialog primary" id="sureBm">返回继续报名</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;添加地址成功提示结束&ndash;&gt;-->

        </div>
    </div>
    <script src="../../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../assets/mobile/js/global.js"></script>
    <script src="../../../assets/mobile/js/removeTip.js"></script><!--消息提示-->
    <script src="../../../assets/mobile/js/common-validate.js"></script>
    <script>
        $(function () {
            /*表单提交*/
            var saveBtn = $("#saveBtn");
            var mobile = $("#mobile");
            var personName = $("#personName");
            var caseDetails = $("#caseDetails");
            var weui_dialog_confirm = $(".weui_dialog_confirm");
            var sureBm = $("#sureBm");
            saveBtn.on("touchend",function(){

                if(isEmpty(personName.val())){
                    showErrMsg("请输入姓名");
                    return ;
                }

                if(isEmpty(mobile.val())||!isPhone(mobile.val())){
                    showErrMsg("请输入有效手机号");
                    return ;
                }

                if(isEmpty(caseDetails.val())){
                    showErrMsg("请输入详细地址");
                    return ;
                }
                weui_dialog_confirm.removeClass("hide");
            });


//            sureBm.on("touchend",function(){
//                weui_dialog_confirm.addClass("hide");
//                location.reload()
//            });
        })
    </script>
</body>
</html>