<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>地址列表</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="wrapper style">
        <div class="page">
            <div class="hd style">
                收货地址
                <div class="absolute rightBtn">
                   <a href="addAddress.html" class="btnRight btnAddAddress">添加</a>
                </div>
            </div>
            <div class="bd absolute pt">

                <!--地址列表开始-->
                <ul class="addressList  style">
                    <li>
                       <a class="personInfor" href="addAddress.html">
                           <p class="clearfix">
                               <span class="left name">张三</span>
                               <span class="phone right">150678745462</span>
                           </p>
                           <p class="address">
                               重庆市,渝中区,袁家岗 重庆市九龙坡区袁家岗中新城上城
                           </p>
                       </a>
                    </li>
                    <li>
                        <a class="personInfor" href="addAddress.html">
                            <p class="clearfix">
                                <span class="left name">张三</span>
                                <span class="phone right">150678745462</span>
                            </p>
                            <p class="address">
                                重庆市,渝中区,袁家岗 重庆市九龙坡区袁家岗中新城上城
                            </p>
                        </a>
                    </li>
                </ul>
                <!--地址列表结束-->

                <!--无数据提示开始-->
                <div class="notConTip hide">
                    <img src="../../../assets/mobile/images/notContent.png" alt=""/>
                    <p class="notInfor">
                        暂无数据
                    </p>
                </div>
                <!--无数据提示结束-->

            </div>

        </div>
    </div>
    <script src="../../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <!--<script src="../../../assets/mobile/js/removeTip.js"></script>&lt;!&ndash;消息提示&ndash;&gt;-->
    <script src="../../../assets/mobile/js/global.js"></script>
    <!--<script>-->
        <!--$(function(){-->

            <!--/*地址删除弹框*/-->
            <!--var page = $(".page");-->
            <!--var addressList = $(".addressList");-->
            <!--var dialogConfirm = $("#dialogConfirm");-->
            <!--var signSure =  $("#signSure");-->
            <!--var signCancel = $("#signCancel");-->
            <!--var weui_dialog = $(".weui_dialog");-->
            <!--addressList.delegate(".btn-remove","touchend",function(){-->
                <!--confirmTip("是否删除该地址?");-->
                <!--dialogConfirm.removeClass("hide");-->
                <!--$(this).closest("li").addClass("remove");-->
                <!--signCancel.addClass("signCancel");-->
                <!--signSure.addClass("signSure");-->
                <!--weui_dialog.css({display:"inline-block"});-->
                <!--weui_dialog.removeClass("vux-dialog-leave")-->
            <!--});-->

            <!--/*取消地址删除*/-->
            <!--var addressList = $(".addressList");-->
            <!--var dialogConfirm = $("#dialogConfirm");-->
            <!--var weui_dialog = $(".weui_dialog");-->
            <!--page.delegate(".signCancel","touchend",function(){-->
                <!--addressList.find("li.remove").removeClass("remove");-->
                <!--dialogConfirm.addClass("hide");-->
                <!--weui_dialog.addClass("vux-dialog-leave")-->
            <!--});-->

            <!--/*确定地址删除*/-->
            <!--var addressList = $(".addressList");-->
            <!--var dialogConfirm = $("#dialogConfirm");-->
            <!--page.delegate(".signSure","touchend",function(){-->
                <!--addressList.find("li.remove").remove();-->
                <!--dialogConfirm.addClass("hide");-->
                <!--showErrMsg("地址删除成功");-->
            <!--});-->

        <!--})-->
    <!--</script>-->
</body>
</html>