
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>订单详情</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta name="format-detection" content="telephone=no">
    <!--标准mui.css-->

    <!--扩展的字体图标-->
    <link rel="stylesheet" href="../../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="content ">
    <div class="page ">

        <!--内容开始-->
        <div class="bd absolute">

            <!--我的记录开始-->
            <div id="myExtension" class="margin ">
                <ul class="entryList mt0 w94">
                    <li>
                        <div class="listHead">
                            <span class="left">777878787878</span>
                            <span class="right">2017-02-09 17:34</span>
                        </div>
                        <a href="shopsShoppingInfor.html">
                            <div class="couponImg">
                                <img src="../../../assets/mobile/images/shopPingImg.jpg" class="couponImg1" alt="">
                                <p class="having hide">进行中</p>
                                <p class="over ">已结算</p>
                            </div>
                            <span class="inforList">
                <span class="title">
                巴黎欧莱雅男士洗面奶水能润泽双效
                </span>
                                <!--<span>-->
                                <!--巴黎欧莱雅男士洗面奶水能润泽双效-->
                                <!--</span>-->

                <span class="teRight">
                    <span>
                      共12件  ￥888.00x2
                    </span>
                </span>
                                <!--<span class="teRight">-->
                                <!--<span class="color3">-->
                                <!--二级佣金 : ￥33.54 x2-->
                                <!--</span>-->
                                <!--</span>-->
                <span class="teRight fs16">
                    共收益 :
                    <span class="color">
                        ￥888.00
                    </span>
                </span>
            </span>
                            <div class="weui_cell_ft"></div>
                        </a>
                    </li>
                </ul>
            </div>
            <!--我的记录结束-->

        </div>
        <!--内容结束-->

    </div>
</div>
<script src="../../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../../assets/mobile/js/weui.js"></script>
<script src="../../../assets/mobile/js/global.js"></script>
</body>
</html>