<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>会员特权</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="wrapper style">
        <div class="page">
            <div class="bd">

              <div class="privilege">
                  有效期至 <span class="time">2017-10-2</span>
              </div>

            </div>
        </div>
    </div>
    <script src="../../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../assets/mobile/js/global.js"></script>
</body>
</html>