<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>订单详情</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="wrapper style">
    <div class="page">
        <div class="hd style">
            添加地址
            <div class="absolute rightBtn">
                <a href="orderList.html" class="btnRight btnAddAddress">全部订单</a>
            </div>
        </div>
        <div class="bd absolute pt">

            <!--数据开始-->
            <div class="orderInfor">
                <div class="orderInforHd">
                    <p>订 单 号 : SN4545454</p>
                    <p>订单金额 : ￥10</p>
                    <p>订单状态 : 未付款</p>
                    <p>订单时间 : 2014-10-10 15:50</p>
                </div>
                <div class="orderInforBd">
                    <div class="orderDiv">
                        <img src="../../../assets/mobile/images/order1.jpg" class="orderImg" alt="">
                    </div>
                    <div>
                        <p>香蕉</p>
                        <p>单价 : ￥10</p>
                        <p>数量 : 1</p>
                    </div>
                </div>
                <div class="orderInforFd">
                    <p>收 货 人 : 张三</p>
                    <p>收货地址 : 北京,市辖区</p>
                    <p>订单状态 : SN4545454</p>
                    <p>联系电话 : 13678478463</p>
                </div>
            </div>
            <!--数据结束-->

            <!--无数据提示开始-->
            <div class="notConTip hide">
                <img src="../../../assets/mobile/images/notContent.png" alt=""/>
                <p class="notInfor">
                    暂无数据
                </p>
            </div>
            <!--无数据提示结束-->

        </div>
    </div>
</div>
<script src="../../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../../assets/mobile/js/participationRecord.js"></script><!--上滑加载-->

</body>
</html>