<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>支付选择</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="bd absolute">
                <div class="pay_infor">
                    <img src="../../../assets/mobile/images/payIcon.png" class="payIcon" alt=""/>
                    <p class="title">支付金额</p>
                    <p class="moneyNum">
                        ￥<span class="verdana">300.00</span>
                    </p>
                </div>
                <div class="weui_btn_area">
                    <a href="paySuccess.html" class="weui_btn  weui_btn_primary">立即支付</a>
                </div>
            </div>

        </div>
    </div>
    <script src="../../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../assets/mobile/js/global.js"></script>
</body>
</html>