<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta name="format-detection" content="telephone=no">
    <!--标准mui.css-->
    <link rel="stylesheet" href="../../../assets/mobile/plugins/hello-mui/css/mui.min.css">

    <!--扩展的字体图标-->
    <link rel="stylesheet" type="text/css" href="../../../assets/mobile/plugins/hello-mui/css/icons-extra.css">
    <link rel="stylesheet" href="../../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="wrapper style">
        <div class="page">
            <div class="bd absolute pb48">

                <!--个人信息开始-->
                <div class="person_infor">
                    <div class="card">
                        <div class="card_infor">
                            <div class="card_img">
                                <img src="../../../assets/mobile/images/cardImg.png" alt=""/>
                            </div>
                            <!--<div class="cardInfor">-->
                                <!--<p class="name">陈小洁</p>-->
                                <!--<p class="phone"><span class="verdana">15036656545</span></p>-->
                            <!--</div>-->
                        </div>
                        <div class="cardNum">
                            <span class="name">会员卡号</span><br>
                            <span class="verdana">65656545</span>
                        </div>
                    </div>
                    <p class="tipP">
                        <span class="span_icon syIcon"></span>
                        使用时向服务员出示此卡
                    </p>
                    <ul class="pay_list style clearfix">
                        <li>
                            <div class="payInfoy">
                                <span class="spanIcon moneyIcon"></span>
                                <span>我的积分</span><br/>
                                <span class="color"><span class="verdana">900</span></span>
                            </div>
                        </li>
                        <li>
                            <div class="payInfoy">
                                <span class="spanIcon sordIcon"></span>
                                <span>签到积分</span><br/>
                                <span class="color"><span class="verdana">900</span></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--个人信息结束-->

                <div class="weui_cells weui_cells_access bt1">
                    <a class="weui_cell" href="###">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>
                                <span class="span_icon tqIcon"></span>
                                <span class="text">
                                    会员卡特权
                                </span>
                            </p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                    <a class="weui_cell" href="###">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>
                                <span class="span_icon yhkIcon"></span>
                                <span class="text">
                                    会员优惠券
                                </span>
                            </p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                    <a class="weui_cell" href="scoreMall.html">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>
                                <span class="span_icon lpIcon"></span>
                                <span class="text">
                                    积分换礼品
                                </span>
                            </p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                    <a class="weui_cell" href="###">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>
                                <span class="span_icon shopIcons"></span>
                                <span class="text">
                                    我的商品
                                </span>
                            </p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                    <a class="weui_cell" href="###">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>
                                <span class="span_icon activeIcon"></span>
                                <span class="text">
                                    我的活动
                                </span>
                            </p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                    <div class="weui_cell" href="personInfor.html">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>
                                <span class="span_icon addressIcon"></span>
                                <span class="text">
                                    联系地址 : 重庆市袁家岗中新城上城
                                </span>
                            </p>
                        </div>
                        <!--<div class="weui_cell_ft"></div>-->
                    </div>
                    <div class="weui_cell" href="tel:13678478463">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>
                                <span class="span_icon phoneIcon"></span>
                                <span class="text">
                                    联系电话 : 13678478463
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <!--底部导航开始-->
            <nav class="mui-bar mui-bar-tab">
                <a class="mui-tab-item" href="index.html">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a class="mui-tab-item" href="classification.html">
                    <span class="mui-icon-extra mui-icon mui-icon-extra-class"></span>
                    <span class="mui-tab-label">分类</span>
                </a>
                <a class="mui-tab-item" href="shoppingCat.html">
                <span class="mui-icon-extra mui-icon mui-icon-extra-cart">
                    <span class="mui-badge">0</span>
                </span>
                    <span class="mui-tab-label">购物车</span>
                </a>
                <a class="mui-tab-item mui-active" href="personCenter.html">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">会员</span>
                </a>
            </nav>
            <!--底部导航开始-->

            <!--报名成功提示开始-->
            <div class="weui_dialog_confirm hide" id="dialogRegister">
                <div class="weui_mask"></div>
                <div class="weui_dialog">
                    <div class="weui_dialog_hd">
                        <p class="title">清先注册会员</p>
                    </div>
                    <div class="weui_dialog_con">
                        <p class="title">新会员</p>
                        <p class="rgTip">*请务必填写正确,此手机号码将作为您领奖的依据</p>
                        <div class="inputGroup">
                            <input type="text"  id="personName" class="weui_input" placeholder="请输入您的名称">
                            <span class="close search_clear hide"></span>
                        </div>
                        <div class="inputGroup">
                            <input type="number" id="mobile" pattern="[0-9]*" class="weui_input" placeholder="请输入您的手机号">
                            <span class="close search_clear hide"></span>
                        </div>
                    </div>
                    <div class="weui_dialog_ft mt0">
                        <a href="javascript:;" class="weui_btn_dialog primary style" id="saveBtn">立即注册</a>
                    </div>
                </div>
            </div>
            <!--报名成功提示结束-->

        </div>
    </div>
    <script src="../../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../assets/mobile/js/common-validate.js"></script>
    <script src="../../../assets/mobile/js/removeTip.js"></script>
    <script src="../../../assets/mobile/js/global.js"></script>
    <script>
        $(function () {

            /*搜索条*/
            var inputGroup = $(".inputGroup");
            var searchInput = $(".inputGroup .weui_input");
            var search_clear = $(".search_clear");
            searchInput.on('keyup', function () {
                if($.trim($(this).val())){
                    $(this).closest(inputGroup).find(search_clear).removeClass("hide")
                }else{
                    $(this).closest(inputGroup).find(search_clear).addClass("hide")
                }
            });
            search_clear.on('touchend', function () {
                $(this).closest(inputGroup).find(searchInput).val('');
                $(this).addClass("hide")
            });

            /*提交表单*/
            var saveBtn = $("#saveBtn");
            var mobile = $("#mobile");
            var personName = $("#personName");
            var dialogRegister = $("#dialogRegister");
            saveBtn.on("touchend",function(e){
                e.preventDefault();
                if(isEmpty(personName.val())){
                    showErrMsg("请输入姓名");
                    return ;
                }

                if(isEmpty(mobile.val())||!isPhone(mobile.val())){
                    showErrMsg("请输入有效手机号");
                    return ;
                }
                dialogRegister.addClass("hide");
            });
        })
    </script>
</body>
</html>



