<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>扫码</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content relative">
        <div class="page relative bgfff">

            <div class="bd">

                <div class="weui_cell style bgfff bb1">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>
                            <img src="../../../assets/mobile/images/heprotite.jpg" class="heprotite left" alt="">
                            <span class="codeBg">
                                <img src="../../../assets/mobile/images/codeBg.png" alt="">
                                <span class="codeText">同城花店送花武汉北京上海广州深圳广州深圳玫瑰花花束  </span>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="codeBtnBg">
                    <img src="../../../assets/mobile/images/codeBtnbG.jpg" alt="">
                </div>

            </div>

        </div>
    </div>
    <script src="../../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../assets/mobile/js/global.js"></script>
</body>
</html>