<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>积分商城</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="wrapper style">
        <div class="page bgfff">
            <div class="bd">
                <div class="applicatioOpetion mb0">
                    <ul class="applicatioNav clearfix">
                        <li>
                            <a href="newActive.html">最新活动</a>
                        </li>
                        <li>
                            <a href="scoreMall.html" class="active">积分商城</a>
                        </li>
                    </ul>
                </div>

                <!--数据开始-->
                <ul class="entryList mt0 firstBt0">
                    <!--<li>-->
                        <!--<a href="shopsShoppingInfor.html">-->
                            <!--<div class="couponImg style">-->
                                <!--<img src="../../../assets/mobile/images/shopList1.jpg" class="couponImg1" alt=""/>-->
                            <!--</div>-->
                            <!--<span class="inforList">-->
                                <!--<span class="title">-->
                                    <!--求购二手钢琴-->
                                <!--</span>-->
                                <!--<span>-->
                                    <!--需要积分 : <span class="color fs16">￥2000.00</span>-->
                                <!--</span>-->
                                <!--<span>-->
                                   <!--剩余数量 : <span class="color1">666</span>-->
                                <!--</span>-->
                            <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->

                </ul>
                <!--数据结束-->

                <!--无数据提示开始-->
                <div class="notConTip hide">
                    <img src="../../../assets/mobile/images/notContent.png" alt=""/>
                    <p class="notInfor">
                        暂无数据
                    </p>
                </div>
                <!--无数据提示结束-->

            </div>
        </div>
    </div>
    <script src="../../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../assets/mobile/js/participationRecord.js"></script><!--上滑加载-->
    <script src="../../../assets/mobile/js/global.js"></script>
    <script>
        $(function(){
            /*滚动加载*/
            var entryList = $('.entryList');
            entryList.scrollLoad({
                limit: 6, //限制条数
                startNum:5, //初始化显示条数
                interface:"../../../assets/mobile/data/scoreMall.json" ,//接口
                ajaxRecord:function(obj,wajxHtml){
                    //模板片段
                    wajxHtml += '<li>'+
                                    '<a href="myShoppingInfor.html">'+
                                        '<div class="couponImg style">'+
                                            '<img src="'+obj.headImg+'" class="couponImg1" alt=""/>'+
                                        '</div>'+
                                        '<span class="inforList">'+
                                            '<span class="title">'+obj.title+'</span>'+
                                            '<span>'+
                                                '需要积分 : <span class="color fs16">'+obj.needScore+'</span>'+
                                            '</span>'+
                                            '<span>'+
                                                '剩余数量 : <span class="color1">'+obj.surplusNum+'</span>'+
                                            '</span>'+
                                        '</span>'+
                                    '</a>'+
                                '</li>';
                    return wajxHtml;
                }
            })
        })
    </script>
</body>
</html>