<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>订单详情</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="wrapper style">
        <div class="page">
            <div class="bd absolute pb48">
                <div class="orderAddress mt0">
                    <a href="addressList.html">
                        <div class=" hasAddress">
                            <p class="clearfix">
                                <span class="name left">张三</span>
                                <span class="phone right">
                                <af class="verdana">15067876547</af>
                            </span>
                            </p>
                            <p class="addressInfor">
                                重庆市九龙坡区袁家岗中新城上城
                            </p>
                        </div>
                        <div class="noAddress hide">
                            暂无地址,请点击选择
                        </div>
                    </a>
                </div>
                <div id="order">
                    <ul class="orderList">
                        <li>
                            <a>
                                <div class="orderHead clearfix">
                                    <span class="orderNum left">美丽在线</span>
                                </div>
                                <div class="orderCon">
                                    <div class="orderImg">
                                        <img src="../../../assets/mobile/images/order1.jpg" alt=""/>
                                    </div>
                                    <div class="orderInfor">
                                        <p class="top clearfix">
                                            <span class="left">植物油</span>
                                        </p>
                                        <p class=" ">
                                            <span class="color">红色</span>
                                        </p>
                                        <p class="bottom clearfix">
                                            <span class="left">￥<span class="verdana">600.00</span></span>
                                            <span class="right">x2</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="notConTip hide">
                    <img src="../../../assets/mobile/images/notContent.png" alt=""/>
                    <p class="notInfor">
                        暂无数据
                    </p>
                </div>
            </div>
            <div class="foot">
                <ul class="optionType style clearfix">
                    <li class="first style">
                        实付款 : <span style="color: #ff0004">￥<span class="verdana">2000</span></span>
                    </li>
                    <li class="last">
                        <button class="nowBuy">确认</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../assets/mobile/js/confirm.js"></script>
    <script src="../../../assets/mobile/js/removeTip.js"></script>
    <script src="../../../assets/mobile/js/global.js"></script>
</body>
</html>