<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>购物车</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="wrapper style">
        <div class="page">
            <div class="bd absolute pb48">
                <div id="order">
                    <!--商品列表开始-->
                    <div class="title">购物车</div>
                    <ul class="orderList style">
                        <li>
                            <div class="orderCon">
                                <div class="orderImg">
                                    <img src="../../../assets/mobile/images/order1.jpg" alt=""/>
                                </div>
                                <div class="orderInfor">
                                    <p class="clearfix">
                                        <span class="left">植物油</span>
                                    </p>
                                    <p class="clearfix">
                                        单价 : ￥<span class="verdana color2">100.00</span>
                                    </p>
                                    <p class=" clearfix">
                                        <a class="num">
                                            <span class="minus" ></span>
                                            <input type="number" class="buycount" value="1" maxlength="3"/>
                                            <span class="plus" ></span>
                                        </a>
                                        <button class="right btnRemove">
                                             删除
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="totalPrice">总价 : <span class="color2">￥200</span></div>
                    <!--商品列表结束-->
                </div>

                <!--无数据提示开始-->
                <div class="notConTip hide">
                    <img src="../../../assets/mobile/images/noShopping.png" alt=""/>
                    <p class="notInfor hide">
                        购物车什么都没有哦! <br/>
                        <a href="index.html" style="color: #ff0004">去看看>></a>
                    </p>
                </div>
                <!--无数据提示结束-->

            </div>
            <div class="weui_btn_area fixed">
                <input type="button" class="weui_btn b0 weui_btn_primary" value="结算">
            </div>
        </div>
    </div>
    <script src="../../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../assets/mobile/plugins/jquery-spinner/js/jquery.spinner.js"></script><!--数量选择-->
    <script src="../../../assets/mobile/js/global.js"></script>
    <script src="../../../assets/mobile/js/weui.js"></script>
    <script>
        $(function(){

            /*数量选择*/
            var orderList = $('.orderList');
            orderList.spinner({});

            $(".orderList").on("touchend",".btnRemove",function(){
                weui.confirm("是否删除该商品?",function(){
                    weui.startLoading();

                    $.ajax({
                        url:"",
                        dataType:'jsonp',
                        data:'',
                        jsonp:'callback',
                        success:function(data) {
                            weui.stopLoading();
                            weui.showMsg("取消商品删除");
                        }
                    });

                },function(){

                })

            });
        })
    </script>
</body>
</html>