<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>智油惠协议</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <style>
        body{font-family: "微软雅黑";}
        h3{text-align: center;color: #333;}
        h4{color: #333;}
    </style>
</head>
<body>
<div class="content errDailog">
    <div class="page">
        <div class="hd">
            <a>
                <i class="fa fa-angle-left"></i>
            </a>

        </div>
        <div class="bd absolute pt">
            <div style="font-size: 0.875rem;color: #999;padding: 0.625rem;">

                <h3>智油惠支付服务协议</h3>
                <br>
                本服务协议的双方是智油惠公众平台（以下简称"智油惠"）及希望注册成为智油惠公众平台在线支付的用户或开通在线支付业务的会员（以下简称"您"）。智油惠将根据您的申请为您提供账户注册、业务开通及后续增值服务（以下简称"本服务"）。为获得智油惠提供的上述服务，请您认真阅读本协议的全部内容。
                <br><br>
                <h4>一、定义及解释</h4>
                "智油惠在线支付"，是指智油惠向您提供的，按照智油惠业务规则或微信、支付宝、银联等支付平台产品要求完成对您的身份验证后，微信、支付宝、银联等支付平台按智油惠传输的您的付款指令将您账户内资金向商户进行付款的支付服务。
                <br><br>
                <h4>二、 声明与承诺</h4>
                1、您确认，在您注册成为智油惠在线支付用户或开通智油惠在线支付业务前，您已充分阅读、理解并接受本协议的全部内容，一旦您按照智油惠或注册、开通页面的提示点击"注册"或"开通"按钮，或按支付平台指定渠道确认开通智油惠在线支付业务，即表示您同意遵循本协议之约定。本协议由本协议条款与智油惠公众平台公示的各项规则组成，您理解和认同本协议，即表示您对本协议所有组成部分的内容理解并认同，一旦您使用本服务，您和智油惠即受本协议所有组成部分的约束。
                <br><br>
                2、您确认，在您（包括您的代理人）同意接受本协议并申请注册智油惠在线支付账户或开通智油惠在线支付业务时，您及您的代理人是具有完全民事权利能力和民事行为能力，能够独立承担民事责任的自然人；本协议内容不受您所属国家或地区法律的排斥。不具备前述条件的，您应立即停止申请使用本协议项下的服务。
                <br><br>
                3、您同意，智油惠有权根据业务发展需要对本协议的内容予以变更，并以在智油惠公众平台支付的情形下予以公布，无需另行单独通知您。变更后的协议内容在智油惠公众平台公布即有效代替原来的协议，您须注意定期审阅本协议及其变更后的内容。如果您不同意智油惠对本协议所作的任何变更，您应立即停止使用本协议项下智油惠提供的服务。若您在本协议内容公告变更后继续使用智油惠提供的服务，表示您已充分阅读、理解并接受修改后的协议内容，也将遵循修改后的协议内容使用本服务。
                <br><br>
                4、您在使用本服务过程中，本协议内容、智油惠公众平台上出现的规则、操作提示或智油惠发送到您手机的信息（短信验证码等）内容是您使用本服务的相关规则，您使用本服务即表示您同意接受本服务的相关规则。您了解并同意智油惠有权单方修改服务规则而无须征得您的同意。
                <br><br>
                5、您了解并知悉，智油惠仅负责为您使用本服务提供信息传输通道，为您和您的支付平台转递信息，具体支付服务仍由您的支付平台向您提供。您在支付环节仍应遵守您的支付平台的公告、章程或与您签署的与智油惠在线支付业务有关的协议。如您对您支付账户的资金流向或状态产生任何疑问，您应及时与您的支付平台联系。
                <br><br>
                6、您确认并同意，您在使用本服务过程中与商户就其提供的商品或服务产生的任何争议或纠纷与智油惠无关，您应与商户自行协商解决。如需要智油惠公众平台介入解决争议或纠纷请向平台客服提出申请。
                <br><br>
                7、您确认并同意，智油惠有权通过短信平台或电话平台等渠道向您推送服务信息。
                <br><br>
                8、您声明，您已经按照智油惠的提醒，充分了解并注意了本协议中免除和限制智油惠责任，可能加重您责任或排除您权利的条款。
                <br><br>
                <h4>三、协议的中止和终止</h4>
                如您违反本协议约定或智油惠公众平台公布的各项业务规则，智油惠有权中止或终止本协议，并不承担任何责任。协议终止并不意味着终止前所发生的未完成交易指令的撤销，也不能消除因终止前的交易所带来的任何法律后果。
                <br><br>
                <h4>四、法律适用与管辖</h4>
                1、本协议的成立、生效、履行和解释，均适用中华人民共和国法律；法律无明文规定的，可适用通行的行业惯例。
                <br><br>
                2、双方在履行本协议的过程中发生任何争议，应友好协商解决。协商不成的，任何一方有权向智油惠公众平台提出介入解决申请。
            </div>
        </div>
    </div>
</div>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</body>
</html>