<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>消费明细</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="content">
    <div class="page">
        <div class="hd">
            <a>
                <i class="fa fa-angle-left"></i>
            </a>
            智油惠
            <div class="right nav_block">
                <a href="shoppingCat.html" class="shop_cat"></a>
                <a class="dot_block"></a>
                <ul class="nav_link">
                    <li>
                        <a href="index.html">
                            主页
                        </a>
                    </li>
                    <li>
                        <a href="shopMall.html">
                            精选商城
                        </a>
                    </li>
                    <li>
                        <a href="gasStationInfor.html">
                            马上加油
                        </a>
                    </li>
                    <li>
                        <a href="personCenter.html">
                            会员中心
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bd absolute pt">

            <div class="pay">
                <ul class="couponList">
                    <li>
                        <p class="clearfix">
                            <span class="left">订单号 : <span class="verdana">4554545</span></span>
                            <span class="right"><af>2016-08-09 13:43</af></span>
                        </p>
                        <p class="clearfix" style="text-align: center;">
                            <span class="left color">
                               <span class="verdana" style="color: #333;">13678478463</span>
                            </span>
                            <span>
                                <span class="verdana" style="color: #333;">93</span>#
                            </span>
                            <span class="right">
                                <span class="color">￥<span class="verdana" style="color: #333;">200.00</span></span>

                            </span>
                        </p>
                        <p class="clearfix">
                            <span class="left">重庆黄花园加油站</span>
                            <span class="right">余额<span class="verdana">￥33.00</span></span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>

</body>
</html>