<ul class="couponList">
    <li>
        <p>
            <span class="moenyNum">充值￥100.00</span>
        </p>
        <p class="clearfix">
            <span class="left time">2016-8-9 13 : 33</span>
            <span class="moeny right">
                ￥20.00
                <span class="span_money"></span>
            </span>
        </p>
    </li>
    <li>
        <p>
            <span class="moenyNum">充值￥100.00</span>
        </p>
        <p class="clearfix">
            <span class="left time">2016-8-9 13 : 33</span>
            <span class="moeny right">
                ￥20.00
                <span class="span_money"></span>
            </span>
        </p>
    </li>
    <li>
        <p>
            <span class="moenyNum">充值￥100.00</span>
        </p>
        <p class="clearfix">
            <span class="left time">2016-8-9 13 : 33</span>
            <span class="moeny right">
                ￥20.00
                <span class="span_money"></span>
            </span>
        </p>
    </li>
</ul>