<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>创建车队</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="content errDailog">
    <div class="page">
        <div class="hd">
            <a>
                <i class="fa fa-angle-left"></i>
            </a>
            智油惠
            <div class="right nav_block">
                <a href="shoppingCat.html" class="shop_cat"></a>
                <a class="dot_block"></a>
                <ul class="nav_link">
                    <li>
                        <a href="index.html">
                            主页
                        </a>
                    </li>
                    <li>
                        <a href="shopMall.html">
                            精选商城
                        </a>
                    </li>
                    <li>
                        <a href="gasStationInfor.html">
                            马上加油
                        </a>
                    </li>
                    <li>
                        <a href="personCenter.html">
                            会员中心
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bd">
            <form action="#" id="form" onsubmit="return false">
                <div class="weui_cells weui_cells_form mt0">
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">
                                <span class="span_icon spa_person"></span>
                            </label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="text" placeholder="请输入车队名" name="mobile" id="mobile"/>
                        </div>
                    </div>

                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">
                                <span class="span_icon spa_lock"></span>
                            </label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="text" placeholder="请输入支付密码" name="mobile" id="password"/>
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">
                                <span class="span_icon spa_lock"></span>
                            </label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="text" placeholder="请确认密码" name="mobile" id="aginPassword"/>
                        </div>
                    </div>
                </div>
                <div class="weui_btn_area">
                    <input type="submit" class="weui_btn weui_btn_primary" id="sign_in" value="保存">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/removeTip.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</body>
</html>