<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>加油站详情</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                得力加油
                <div class="right nav_block">
                <a href="shoppingCat.html" class="shop_cat"></a>
                <a class="dot_block"></a>
                <ul class="nav_link">
                    <li>
                        <a href="index.html">
                            主页
                        </a>
                    </li>
                    <li>
                        <a href="shopMall.html">
                            精选商城
                        </a>
                    </li>
                    <li>
                        <a href="gasStationInfor.html">
                            马上加油
                        </a>
                    </li>
                    <li>
                        <a href="personCenter.html">
                            会员中心
                        </a>
                    </li>
                </ul>
            </div>
            </div>
            <div class="bd absolute pt style">
                <div class="hotStation">
                    <div class="stationDiv">
                        <p class="clearfix">
                            <span class="left">离您最近的加油站</span>
                            <a href="gasStationList.html" class="right">
                                重新选择
                            </a>
                        </p>
                        <img src="../../assets/mobile/images/stationAddress.jpg" alt="" width="100%"/>
                    </div>
                    <ul class="stationList style">
                        <li>
                            <p class="clearfix">
                                <span class="left color1">中国石油（渝中加油站）</span>
                                <a class="right">
                                    <img src="../../assets/mobile/images/address2.png" class="address" alt=""/>
                                    去这里
                                </a>
                            </p>
                            <p class="clearfix">
                                <span class="left">重庆市渝中区菜园路208号</span>
                                <span class="right color2">距离5.9公里</span>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="oilCardCon style">
                    <p class="title">请选择油号</p>
                    <ul class="oilCardMenu clearfix">
                        <li class="active">
                            <div>
                                <span>0号柴油</span><br/>
                                <span>5.67元/升</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>90号柴油</span><br/>
                                <span>5.67元/升</span>
                            </div>
                        </li>
                        <li class="mr0">
                            <div>
                                <span>93号柴油</span><br/>
                                <span>5.67元/升</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>97号柴油</span><br/>
                                <span>5.67元/升</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>燃气</span><br/>
                                <span>5.67元/升</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <p class="title fillMoney">请输入购买金额</p>
                <div class="weui_cells mt0">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>会员卡金额:￥500.00</p>
                        </div>
                        <div class="weui_cell_ft">优惠券余额:￥500.00</div>
                    </div>
                </div>
                <div class="weui_cells mt0 bg">
                    <div class="weui_cell">
                        <div class="left moneyDiv">
                            <input type="num" placeholder="请输入金额"/>
                            元
                        </div>
                        <div class="right oilDiv">200升</div>
                    </div>
                </div>
                <div class="weui_cells mt0">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p></p>
                        </div>
                        <div class="weui_cell_ft">合计:￥500.00</div>
                    </div>
                </div>
                <div class="weui_cells weui_cells_checkbox mt0">
                    <label class="weui_cell weui_check_label color" for="s1221">
                        <div class="weui_cell_hd">
                            <input type="checkbox" class="weui_check" name="checkbox1" id="s1221">
                            <i class="weui_icon_checked"></i>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p style="text-align: right;color: #666;">
                                <span style="position: relative;left: -36%;">优惠券</span>
                                可用余额￥200.00</p>
                        </div>
                    </label>
                </div>
                <div class="weui_cells mt0">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p></p>
                        </div>
                        <div class="weui_cell_ft">共计:￥500.00</div>
                    </div>
                </div>
                <a href="payChioce.html"  class="weui_btn weui_btn_disabled weui_btn_primary stylecolor">支付</a>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script>
        $(function(){
            $(".oilCardMenu li").on("touchend",function(){
                $(this).addClass("active");
                $(this).siblings("li").removeClass("active");
            })
        })
    </script>
</body>
</html>