<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/plugins/swiper/dist/css/swiper.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <style>
        .swiper-container,.swiper-wrapper,.swiper-slide,.swiper-slide img.w100{height: 100%;}
    </style>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                智油惠
                <!--<form action="#" class="formIndex">-->
                    <!--<input type="text" class="search_input" placeholder="搜索商品"/>-->
                    <!--<i class="fa fa-search"></i>-->
                    <!--<a href="javascript:" class="weui_icon_clear hide" id="search_clear"></a>-->
                <!--</form>-->
                <div class="right nav_block">
                <a href="shoppingCat.html" class="shop_cat"></a>
                <a class="dot_block"></a>
                <ul class="nav_link">
                    <li>
                        <a href="index.html">
                            福利墙
                        </a>
                    </li>
                    <!--<li>-->
                        <!--<a href="shopMall.html">-->
                            <!--精选商城-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a href="gasStationInfor.html">
                            马上加油
                        </a>
                    </li>
                    <li>
                        <a href="personCenter.html">
                            会员中心
                        </a>
                    </li>
                </ul>
            </div>
            </div>
            <div class="bd absolute pd48">
                <div class="swiper-container mt0 swiper-container-horizontal" id="swiper-container">
                    <div class="swiper-wrapper" style="transition-duration: 0ms; ">
                        <div class="swiper-slide">
                            <!--<div class="cardBg">-->
                                <!--<a class="btnApply">立即申请</a>-->
                                <!--&lt;!&ndash;<span class="btnApplyed hide">您已申请</span>&ndash;&gt;-->
                            <!--</div>                       -->
                            <img src="../../assets/mobile/images/indexSlider1.jpg" alt="" class="w100"/>

                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/mobile/images/indexSlider2.jpg" alt="" class="w100"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/mobile/images/indexSlider3.jpg" alt="" class="w100"/>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <!--<div class="swiper-button-next"></div>-->
                    <!--<div class="swiper-button-prev"></div>-->
                </div>

                <!--<ul class="ulLink clearfix">
                    <li class="first">
                        <a>
                            <img src="../../assets/mobile/images/alink1.png" alt=""/>
                        </a>
                    </li>
                    <li class="second">
                        <a>
                            <img src="../../assets/mobile/images/alink2.png" alt=""/>
                        </a>
                    </li>
                    <li class="last">
                        <a>
                            <img src="../../assets/mobile/images/alink3.png" alt=""/>
                        </a>
                    </li>
                </ul>

                <div class="otherInfor">
                    <div class="otherHead clearfix">
                        <span class="left">精彩推荐</span>
                        <a href="shopMall.html" class="right">更多>></a>
                    </div>
                    <div class="otherCon">
                        <ul class="shoppingList clearfix style pb0">
                            <li>
                                <a href="shoppingInfor.html" class="shop_div">
                                    <div class="shop_list_bg1 shop_list_bg"></div>
                                    <div class="shop_infor">
                                        <p class="tile">英国进口健达开心河马巧克力</p>
                                        <p class="smallTile">英国进口健达开心河马巧克力</p>
                                        <p class="clearfix">
                                            <span class="left">￥<span class="verdana">19.80</span></span>
                                            <span class="right"><span class="verdana">200</span>积分</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="mr0">
                                <a href="shoppingInfor.html" class="shop_div">
                                    <div class="shop_list_bg2 shop_list_bg"></div>
                                    <div class="shop_infor">
                                        <p class="tile">英国进口健达开心河马巧克力</p>
                                        <p class="smallTile">英国进口健达开心河马巧克力</p>
                                        <p class="clearfix">
                                            <span class="left">￥<span class="verdana">19.80</span></span>
                                            <span class="right"><span class="verdana">200</span>积分</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>-->
            </div>
            <div class="foot">
                <ul class="tabMenu style clearfix">
                    <li class="active">
                        <a href="index.html">
                            <i class="fa fa-gift"></i><br/>
                            <span>福利墙</span>
                        </a>
                    </li>
                    <!--<li>-->
                        <!--<a href="shopMall.html">-->
                            <!--<i class="fa fa-bars"></i><br/>-->
                            <!--<span>精选商城</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a href="gasStationInfor.html">
                            <i class="fa fa-plus-square"></i><br/>
                            <span>马上加油</span>
                        </a>
                    </li>
                    <li class="last">
                        <a href="personCenter.html">
                            <i class="fa fa-user"></i><br/>
                            <span>我的</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/plugins/swiper/dist/js/swiper.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script>
        $(function(){
            /*搜索框*/
            $(".formIndex .search_input").on("keydown",function(){
                if($.trim($(this).val())==''){

                }else{
                    $(".weui_icon_clear").removeClass("hide");
                }
            });
            $(".weui_icon_clear").on("touchend",function(){
                $(".formIndex .search_input").val(" ");
                $(this).addClass("hide");
                $(this).attr({placeholder:"搜索商品"});
            });

            swiper = new Swiper('#swiper-container', {
      //        prevButton:'.swiper-button-prev',
      //        nextButton:'.swiper-button-next',
                slidesPerView: 1,
                pagination:'.swiper-pagination',
                paginationClickable: true,
                spaceBetween: 0,
                loop:true,
                autoplay: 5000,
                autoplayDisableOnInteraction: false
            });
        })
    </script>
</body>
</html>