<ul class="couponList">
    <li>
        <p class="clearfix">
            <span class="left">订单号 : 45545454</span>
            <span class="right">会员卡支付</span>
        </p>
        <p class="clearfix">
            <span class="left color">
                93#
            </span>
            <span class="right">
                <span class="color">￥200.00</span>-￥20.00
            </span>
        </p>
        <p class="clearfix">
            <span class="left">重庆黄花园加油站</span>
            <span class="right">2016-08-08 13:33</span>
        </p>
        <div class="bottom">
            <p>
                <span class="sale">
                    <span class="saleSpan">实付</span>
                    ￥200.00
                </span>
            </p>
            <p>
                <span class="time">
                    余额￥300.00
                </span>
            </p>
        </div>
    </li>
    <li>
        <p class="clearfix">
            <span class="left">订单号 : 45545454</span>
            <span class="right">会员卡支付</span>
        </p>
        <p class="clearfix">
            <span class="left color">
                93#
            </span>
            <span class="right">
                <span class="color">￥200.00</span>-￥20.00
            </span>
        </p>
        <p class="clearfix">
            <span class="left">重庆黄花园加油站</span>
            <span class="right">2016-08-08 13:33</span>
        </p>
        <div class="bottom">
            <p>
                <span class="sale">
                    <span class="saleSpan">实付</span>
                    ￥200.00
                </span>
            </p>
            <p>
                <span class="time">
                    余额￥300.00
                </span>
            </p>
        </div>
    </li>
</ul>