<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的发票</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                智油惠
                <div class="right nav_block">
                <a href="shoppingCat.html" class="shop_cat"></a>
                <a class="dot_block"></a>
                <ul class="nav_link">
                    <li>
                        <a href="index.html">
                            主页
                        </a>
                    </li>
                    <li>
                        <a href="shopMall.html">
                            精选商城
                        </a>
                    </li>
                    <li>
                        <a href="gasStationInfor.html">
                            马上加油
                        </a>
                    </li>
                    <li>
                        <a href="personCenter.html">
                            会员中心
                        </a>
                    </li>
                </ul>
            </div>
            </div>
            <div class="bd">
                <div class="applicatioOpetion">
                    <ul class="applicatioNav style clearfix">
                        <li>
                            <a class="active" data="notInvoice">未开发票</a>
                        </li>
                        <li>
                            <a data="hasInvoicIng">开票中</a>
                        </li>
                        <li>
                            <a data="hasInvoice">已开发票</a>
                        </li>
                    </ul>
                </div>
                <div class="invoice style" id="invoice">

                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script>
        $(function(){
            /*发票初始化*/
            $.ajax({
                type : "post",
                url : "notInvoice.html",
                dataType : "html",
                cache : false,
                success : function(data) {
                    $("#invoice").html(data);
                }
            });

            /*发票状态切换*/
            $(".applicatioNav li a").on("touchend",function(){
                $(this).addClass("active");
                $(this).closest("li").siblings("li").find("a").removeClass("active");
                var data = $(this).attr("data");
                var that = $(this);
                $.ajax({
                    type : "post",
                    url : data+".html",
                    dataType : "html",
                    cache : false,
                    success : function(data) {
                        that.closest(".bd").find("#invoice").html(data);
                    }
                });
            });

            $("#invoice").delegate(".invoiceHead","touchend",function(){
                var invoiceCon = $(this).closest("li").find(".invoiceCon");
                if(invoiceCon.css("display")=="none"){
                    invoiceCon.slideDown();
                    $(this).closest("li").siblings("li").find(".invoiceCon").slideUp();
                    $(this).find(".fa-angle-right").removeClass("fa-angle-right").addClass("fa-angle-down");
                    $(this).closest("li").siblings("li").find(".fa-angle-down").removeClass("fa-angle-down").addClass("fa-angle-right");
                }else{
                    invoiceCon.slideUp();
                    $(this).find(".fa-angle-down").removeClass("fa-angle-down").addClass("fa-angle-right");
                }
            });


            /*发票全部与全不选*/
            $("#invoice").delegate(".weui_cells_checkbox.inline_block","touchend",function(e){
                e.stopPropagation();
                if($(this).find("input").prop("checked")){
                    $(this).closest(".invoiceHead ").next(".invoiceCon ").find("input").prop({checked:false});
                }else{
                    $(this).closest(".invoiceHead ").next(".invoiceCon ").find("input").prop({checked:"checked"});
                }
            })
        })
    </script>
</body>
</html>