<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>加油记录</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                得力加油
                <div class="right nav_block">
                    <a class="shop_cat"></a>
                    <a class="dot_block"></a>
                    <ul class="nav_link">
                        <li>
                            <a href="###">
                                主页
                            </a>
                        </li>
                        <li>
                            <a href="###">
                                精选商城
                            </a>
                        </li>
                        <li>
                            <a href="###">
                                优惠券
                            </a>
                        </li>
                        <li>
                            <a href="###">
                                会员中心
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bd absolute pt">
                <ul class="orderMenu style clearfix">
                    <li>
                        <a href="###" class="active" data="orderPay">
                            <span class="record recordIcon1"></span>
                            全部记录
                        </a>
                    </li>
                    <li>
                        <a href="###" data="orderPaySucess">
                            <span class="record recordIcon2"></span>
                            充值记录
                        </a>
                    </li>
                    <li>
                        <a href="###" data="orderRefund">
                            <span class="record recordIcon3"></span>
                            会员消费
                        </a>
                    </li>
                </ul>
                <div id="record">
                    <ul class="invoiceList style">
                        <li>
                            <div class="invoiceCon">
                                <p class="clearfix">
                                    <span class="first left">加油</span>
                                    <span class="second left">-￥200.00</span>
                                    <span class="last right">直接支付</span>
                                </p>
                                <p class="clearfix">
                                    <span class="left">93#</span>
                                    <span class="right color">+4积分</span>
                                </p>
                                <p class="clearfix">
                                    <span class="left">重庆市黄花园加油站</span>
                                    <span class="right">2016-08-09 13:00</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="invoiceCon">
                                <p class="clearfix">
                                    <span class="first left">加油</span>
                                    <span class="second left">-￥200.00</span>
                                    <span class="last right">直接支付</span>
                                </p>
                                <p class="clearfix">
                                    <span class="left">93#</span>
                                    <span class="right color">+4积分</span>
                                </p>
                                <p class="clearfix">
                                    <span class="left">重庆市黄花园加油站</span>
                                    <span class="right">2016-08-09 13:00</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="notConTip hide">
                    <img src="../../assets/mobile/images/notContent.png" alt=""/>
                    <p class="notInfor">
                        暂无数据
                    </p>
                </div>
                <div id="order">
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script>
        $(function(){
            /*订单初始化*/
            $.ajax({
                type : "post",
                url : "orderPay.html",
                dataType : "html",
                cache : false,
                success : function(data) {
                    $(".bd").find("#record").html(data);
                }
            });

            /*订单状态切换*/
            $(".orderMenu li a").on("touchend",function(){
                $(this).addClass("active");
                $(this).closest("li").siblings("li").find("a").removeClass("active");
                var data = $(this).attr("data");
                var that = $(this);
                $.ajax({
                    type : "post",
                    url : data+".html",
                    dataType : "html",
                    cache : false,
                    success : function(data) {
                        that.closest(".bd").find("#record").html(data);
                    }
                });
            });

            /*订单状态信息提示*/
            $("#order").delegate(".btnType","touchend",function(){

            })
        })
    </script>
</body>
</html>