<ul class="invoiceList">
    <li>
        <div class="clearfix invoiceHead style">
            <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block">
                <label class="weui_cell weui_check_labe style" for="s11">
                    <div class="weui_cell_hd">
                        <input type="checkbox" class="weui_check" name="checkbox1" id="s11" >
                        <i class="weui_icon_checked"></i>
                    </div>
                </label>
            </div>
            <div class="inline_block style">
                <span class="left">7月开票 : ￥400.00</span>
                <span class="right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </div>
        </div>
        <div class="invoiceCon style">
            <div class="weui_cells weui_cells_checkbox mt0 style1">
                <label class="weui_cell weui_check_label" for="s12">
                    <div class="weui_cell_hd style">
                        <input type="checkbox" class="weui_check" name="checkbox1" id="s12">
                        <i class="weui_icon_checked"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p class="clearfix">
                            <span class="left color">93#</span>
                            <span class="right color1">
                                <span class="spanBlock">实付</span>
                                ￥180.00
                            </span>
                        </p>
                        <p class="clearfix">
                            <span class="left">重庆黄花园加油站</span>
                            <span class="right">
                                2016-08-09 13:33
                            </span>
                        </p>
                    </div>
                </label>
            </div>
        </div>
    </li>
    <li>
        <div class="clearfix invoiceHead style">
            <div class="weui_cells weui_cells_checkbox mt0 style1">
                <label class="weui_cell weui_check_label" for="s112">
                    <div class="weui_cell_hd">
                        <input type="checkbox" class="weui_check" name="checkbox1" id="s112" >
                        <i class="weui_icon_checked"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <span class="left">7月开票 : ￥400.00</span>
                        <span class="right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </div>
                </label>
            </div>
        </div>
        <div class="invoiceCon style">
            <div class="weui_cells weui_cells_checkbox mt0 style1">
                <label class="weui_cell weui_check_label" for="s113">
                    <div class="weui_cell_hd style">
                        <input type="checkbox" class="weui_check" name="checkbox1" id="s113">
                        <i class="weui_icon_checked"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p class="clearfix">
                            <span class="left color">93#</span>
                            <span class="right color1">
                                <span class="spanBlock">实付</span>
                                ￥180.00
                            </span>
                        </p>
                        <p class="clearfix">
                            <span class="left">重庆黄花园加油站</span>
                            <span class="right">
                                2016-08-09 13:33
                            </span>
                        </p>
                    </div>
                </label>
            </div>
        </div>
    </li>
</ul>