<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>加油支付成功</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                得力加油
                <div class="right nav_block">
                    <a class="shop_cat"></a>
                    <a class="dot_block"></a>
                    <ul class="nav_link">
                        <li>
                            <a href="###">
                                主页
                            </a>
                        </li>
                        <li>
                            <a href="###">
                                精选商城
                            </a>
                        </li>
                        <li>
                            <a href="###">
                                优惠券
                            </a>
                        </li>
                        <li>
                            <a href="###">
                                会员中心
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bd absolute pt style">
                <div class="paySucess">
                    <div class="paySucessBody">
                        <div class="" style="display: inline-block;position: relative;top: -0.8rem;">
                            <img src="../../assets/mobile/images/paySuccess.png" alt=""/>
                        </div>
                        <div class="" style="display: inline-block;">
                            <span class="title">恭喜您,支付成功</span><br/>
                            <span>您获得<span style="color: #ff9452;text-align: left;">123456</span>积分</span>
                        </div>
                    </div>
                    <div class="paySucessFt">
                        支付金额 : <span style="color:#f73a3a;font-size: 1.125rem;">￥500.00</span>
                    </div>
                </div>
                <div class="weui_cells mt">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>商品</p>
                        </div>
                        <div class="weui_cell_ft">93号汽油(红石路加油站)</div>
                    </div>
                </div>
                <div class="weui_cells mt0">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>交易时间</p>
                        </div>
                        <div class="weui_cell_ft">2016-06-03 9:20</div>
                    </div>
                </div>
                <div class="weui_cells mt0">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>支付方式</p>
                        </div>
                        <div class="weui_cell_ft">微信支付</div>
                    </div>
                </div>
                <div class="weui_cells mt0">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>交易单号</p>
                        </div>
                        <div class="weui_cell_ft">20546404</div>
                    </div>
                </div>
                <div class="pd5">
                    <a href="javascript:;"  class="weui_btn weui_btn_disabled weui_btn_primary style">去开发票</a>
                </div>

                <div class="otherInfor">
                    <div class="otherHead clearfix">
                        <span class="left">精彩推荐</span>
                        <a href="classification.html" class="right">更多>></a>
                    </div>
                    <div class="otherCon">
                        <ul class="shoppingList clearfix style pb0">
                            <li>
                                <a href="classificationInfor.html" class="shop_div">
                                    <div class="shop_list_bg1 shop_list_bg"></div>
                                    <div class="shop_infor">
                                        <p class="tile">英国进口健达开心河马巧克力</p>
                                        <p class="smallTile">英国进口健达开心河马巧克力</p>
                                        <p class="clearfix">
                                            <span class="left">￥19.80</span>
                                            <span class="right">200积分</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="mr0">
                                <a href="classificationInfor.html" class="shop_div">
                                    <div class="shop_list_bg2 shop_list_bg"></div>
                                    <div class="shop_infor">
                                        <p class="tile">英国进口健达开心河马巧克力</p>
                                        <p class="smallTile">英国进口健达开心河马巧克力</p>
                                        <p class="clearfix">
                                            <span class="left">￥19.80</span>
                                            <span class="right">200积分</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>