<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                智油惠
                <div class="right nav_block">
                <a href="shoppingCat.html" class="shop_cat"></a>
                <a class="dot_block"></a>
                <ul class="nav_link">
                    <li>
                        <a href="index.html">
                            主页
                        </a>
                    </li>
                    <li>
                        <a href="shopMall.html">
                            精选商城
                        </a>
                    </li>
                    <li>
                        <a href="gasStationInfor.html">
                            马上加油
                        </a>
                    </li>
                    <li>
                        <a href="personCenter.html">
                            会员中心
                        </a>
                    </li>
                </ul>
            </div>
            </div>
            <div class="bd absolute pd48">
                <div class="person_head">
                    <img src="../../assets/mobile/images/default.jpg" alt="" class="defaultImg"/>
                </div>
                <form action="#">
                    <div class="weui_cells mt0 weui_cells_access">
                        <a class="weui_cell" href="modifyName.html">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>
                                    <span class="span_icon spa_user"></span>
                                    <span class="text">
                                        姓名
                                    </span>
                                </p>
                            </div>
                            <div class="weui_cell_ft">陈小洁</div>
                        </a>
                        <a class="weui_cell" href="modifyPhone.html">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>
                                    <span class="span_icon spa_phone"></span>
                                    <span class="text">
                                        手机
                                    </span>
                                </p>
                            </div>
                            <div class="weui_cell_ft"><span class="verdana">13678478463</span></div>
                        </a>
                        <a class="weui_cell" href="modifyName.html">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>
                                    <span class="span_icon spa_user"></span>
                                    <span class="text">
                                        车牌
                                    </span>
                                </p>
                            </div>
                            <div class="weui_cell_ft">渝<span class="verdana">656545</span></div>
                        </a>
                        <a class="weui_cell" href="modifyAddress.html">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>
                                    <span class="span_icon spa_user"></span>
                                    <span class="text">
                                        所在地区
                                    </span>
                                </p>
                            </div>
                            <div class="weui_cell_ft">
                                成都,重庆,上海
                            </div>
                        </a>
                        <a class="weui_cell" href="modifyPassword.html">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>
                                    <span class="span_icon spa_birthday"></span>
                                    <span class="text">
                                        修改密码
                                    </span>
                                </p>
                            </div>
                            <div class="weui_cell_ft">*****</div>
                        </a>
                        <a class="weui_cell" href="modifyBinding.html">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>
                                    <span class="span_icon spa_phone"></span>
                                    <span class="text">
                                        解除绑定
                                    </span>
                                </p>
                            </div>
                            <div class="weui_cell_ft"></div>
                        </a>
                    </div>
                    <!--<div class="weui_btn_area">-->
                        <!--<a href="personCenter.html" class="weui_btn weui_btn_primary" id="saveBtn">返回个人中心</a>-->
                    <!--</div>-->
                </form>
            </div>
            <div class="weui_btn_area fixed">
                <a href="login.html" class="weui_btn b0 weui_btn_primary">退出登录</a>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>