<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>充值记录</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                得力加油
                <div class="right nav_block">
                    <a class="shop_cat"></a>
                    <a class="dot_block"></a>
                    <ul class="nav_link">
                        <li>
                            <a href="###">
                                主页
                            </a>
                        </li>
                        <li>
                            <a href="###">
                                精选商城
                            </a>
                        </li>
                        <li>
                            <a href="###">
                                优惠券
                            </a>
                        </li>
                        <li>
                            <a href="###">
                                会员中心
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bd absolute pt">
                <table class="recoedList">
                    <thead>
                        <tr>
                            <th>充值金额</th>
                            <th>赠券</th>
                            <th>充值时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>￥40000.00</td>
                            <td>-￥2000.00</td>
                            <td>2016-08-02 13:00</td>
                        </tr>
                        <tr>
                            <td>￥40000.00</td>
                            <td>-￥2000.00</td>
                            <td>2016-08-02 13:00</td>
                        </tr>
                        <tr>
                            <td>￥40000.00</td>
                            <td>-￥2000.00</td>
                            <td>2016-08-02 13:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>