<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>开户信息</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                家得利
                <div class="right nav_block">
                    <a href="shoppingCat.html" class="shop_cat"></a>
                    <a class="dot_block"></a>
                    <ul class="nav_link">
                        <li>
                            <a href="myMessage.html">
                                消息
                            </a>
                        </li>
                        <li>
                            <a href="index.html">
                                首页
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bd">
                <form action="#" id="form" onsubmit="return false">
                    <div class="weui_cells weui_cells_form mt0 color w90">
                        <div class="weui_cell">
                            <div class="weui_cell_bd">
                                <label class="weui_label style">
                                    开户行名称
                                </label>
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">招商银行</div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_bd">
                                <label class="weui_label style">
                                    开户行地址
                                </label>
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">四川省成都市武胜县</div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_bd">
                                <label class="weui_label style">
                                    开户姓名
                                </label>
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">张晓晓</div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_bd">
                                <label class="weui_label style">
                                    银行卡号
                                </label>
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">5644546565665565</div>
                        </div>
                    </div>
                    <div class="weui_btn_area fixed">
                        <a href="presentChioce.html" class="weui_btn weui_btn_primary b0">修改</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>