<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>申请处理中</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                家得利
                <div class="right nav_block">
                    <a href="shoppingCat.html" class="shop_cat"></a>
                    <a class="dot_block"></a>
                    <ul class="nav_link">
                        <li>
                            <a href="myMessage.html">
                                消息
                            </a>
                        </li>
                        <li>
                            <a href="index.html">
                                首页
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bd absolute pt">
                <div class="agentStyle">
                    <p class="title">审核状态</p>
                    <div class="agentStyleCon">
                        <img src="../../assets/mobile/images/handling.png" alt=""/>
                        <p class="agentTitle">审核处理中</p>


                        <p>您的申请已提交成功,正在审核中,请耐心等待</p>
                    </div>
                    <div class="agentStyleFt">
                        <p>提交时间 <span class="verdana">2016.03.02  7：42</span></p>

                        <p>结束时间 <span class="verdana">2016.04.02  8：42</span></p>
                    </div>
                </div>
                <div class="agentInfor">
                    <p class="title">商家信息</p>
                    <div>
                        <span>公司名称</span>
                        <span class="companyName">易优弧有限公司</span>
                    </div>
                    <div>
                        <span>姓　　名</span>
                        <span class="companyName">陈小洁</span>
                    </div>
                    <div>
                        <span>联系电话</span>
                        <span class="companyName">15086677754</span>
                    </div>
                    <div>
                        <span>所在地区</span>
                        <span class="companyName">重庆市九龙坡袁家岗</span>
                    </div>
                    <div>
                        <span>详细地址</span>
                        <span class="companyName">6栋11-10</span>
                    </div>
                    <div>
                        <span>主营内容</span>
                        <span class="companyName">外贸</span>
                    </div>
                    <div>
                        <span>营业执照</span>

                        <p><img src="../../assets/mobile/images/zz.jpg" alt=""/></p>

                        <p><img src="../../assets/mobile/images/zz.jpg" alt=""/></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>