<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>地址列表</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content errDailog">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                消费全反
                <div class="right nav_block">
                    <a href="shoppingCat.html" class="shop_cat"></a>
                    <a class="dot_block"></a>
                    <ul class="nav_link">
                        <li>
                            <a href="myMessage.html">
                                消息
                            </a>
                        </li>
                        <li>
                            <a href="index.html">
                                首页
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bd absolute pd48">
                <ul class="addressList">
                    <li>
                        <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                            <label class="weui_cell weui_check_labe style p0" for="2">
                                <div class="weui_cell_hd">
                                    <input type="checkbox" class="weui_check" name="checkbox1" id="2" />
                                    <i class="weui_icon_checked"></i>
                                </div>
                            </label>
                        </div>
                       <div class="personInfor">
                           <p class="clearfix">
                               <span class="left name">张三</span>
                               <span class="phone right">150678745462</span>
                           </p>

                           <p class="address">
                               重庆市九龙坡区袁家岗中新城上城
                           </p>
                       </div>
                        <div class="addressModify clearfix">
                            <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                                <label class="weui_cell weui_check_labe style p0" for="1">
                                    <div class="weui_cell_hd">
                                        <input type="radio" class="weui_check" name="checkbox2" id="1" />
                                        <i class="weui_icon_checked"></i>

                                    </div> 设为默认
                                </label>
                            </div>
                            <button class="btn-remove right">
                                <i class="fa fa-trash-o"></i>
                                删除
                            </button>
                            <button class="btnModify right">
                                <i class="fa fa-pencil"></i>
                                编辑
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                            <label class="weui_cell weui_check_labe style p0" for="23">
                                <div class="weui_cell_hd">
                                    <input type="checkbox" class="weui_check" name="checkbox1" id="23" />
                                    <i class="weui_icon_checked"></i>
                                </div>
                            </label>
                        </div>
                        <div class="personInfor">
                            <p class="clearfix">
                                <span class="left name">张三</span>
                                <span class="phone right">150678745462</span>
                            </p>

                            <p class="address">
                                重庆市九龙坡区袁家岗中新城上城
                            </p>
                        </div>
                        <div class="addressModify clearfix">
                            <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                                <label class="weui_cell weui_check_labe style p0" for="14">
                                    <div class="weui_cell_hd">
                                        <input type="radio" class="weui_check" name="checkbox2" id="14" />
                                        <i class="weui_icon_checked"></i>

                                    </div> 设为默认
                                </label>
                            </div>
                            <button class="btn-remove right">
                                <i class="fa fa-trash-o"></i>
                                删除
                            </button>
                            <button class="btnModify right">
                                <i class="fa fa-pencil"></i>
                                编辑
                            </button>
                        </div>
                    </li>

                    <li>
                        <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                            <label class="weui_cell weui_check_labe style p0" for="2">
                                <div class="weui_cell_hd">
                                    <input type="checkbox" class="weui_check" name="checkbox1" id="2" />
                                    <i class="weui_icon_checked"></i>
                                </div>
                            </label>
                        </div>
                        <div class="personInfor">
                            <p class="clearfix">
                                <span class="left name">张三</span>
                                <span class="phone right">150678745462</span>
                            </p>

                            <p class="address">
                                重庆市九龙坡区袁家岗中新城上城
                            </p>
                        </div>
                        <div class="addressModify clearfix">
                            <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                                <label class="weui_cell weui_check_labe style p0" for="1">
                                    <div class="weui_cell_hd">
                                        <input type="radio" class="weui_check" name="checkbox2" id="1" />
                                        <i class="weui_icon_checked"></i>

                                    </div> 设为默认
                                </label>
                            </div>
                            <button class="btn-remove right">
                                <i class="fa fa-trash-o"></i>
                                删除
                            </button>
                            <button class="btnModify right">
                                <i class="fa fa-pencil"></i>
                                编辑
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                            <label class="weui_cell weui_check_labe style p0" for="23">
                                <div class="weui_cell_hd">
                                    <input type="checkbox" class="weui_check" name="checkbox1" id="23" />
                                    <i class="weui_icon_checked"></i>
                                </div>
                            </label>
                        </div>
                        <div class="personInfor">
                            <p class="clearfix">
                                <span class="left name">张三</span>
                                <span class="phone right">150678745462</span>
                            </p>

                            <p class="address">
                                重庆市九龙坡区袁家岗中新城上城
                            </p>
                        </div>
                        <div class="addressModify clearfix">
                            <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                                <label class="weui_cell weui_check_labe style p0" for="14">
                                    <div class="weui_cell_hd">
                                        <input type="radio" class="weui_check" name="checkbox2" id="14" />
                                        <i class="weui_icon_checked"></i>

                                    </div> 设为默认
                                </label>
                            </div>
                            <button class="btn-remove right">
                                <i class="fa fa-trash-o"></i>
                                删除
                            </button>
                            <button class="btnModify right">
                                <i class="fa fa-pencil"></i>
                                编辑
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                            <label class="weui_cell weui_check_labe style p0" for="2">
                                <div class="weui_cell_hd">
                                    <input type="checkbox" class="weui_check" name="checkbox1" id="2" />
                                    <i class="weui_icon_checked"></i>
                                </div>
                            </label>
                        </div>
                        <div class="personInfor">
                            <p class="clearfix">
                                <span class="left name">张三</span>
                                <span class="phone right">150678745462</span>
                            </p>

                            <p class="address">
                                重庆市九龙坡区袁家岗中新城上城
                            </p>
                        </div>
                        <div class="addressModify clearfix">
                            <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                                <label class="weui_cell weui_check_labe style p0" for="1">
                                    <div class="weui_cell_hd">
                                        <input type="radio" class="weui_check" name="checkbox2" id="1" />
                                        <i class="weui_icon_checked"></i>

                                    </div> 设为默认
                                </label>
                            </div>
                            <button class="btn-remove right">
                                <i class="fa fa-trash-o"></i>
                                删除
                            </button>
                            <button class="btnModify right">
                                <i class="fa fa-pencil"></i>
                                编辑
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                            <label class="weui_cell weui_check_labe style p0" for="23">
                                <div class="weui_cell_hd">
                                    <input type="checkbox" class="weui_check" name="checkbox1" id="23" />
                                    <i class="weui_icon_checked"></i>
                                </div>
                            </label>
                        </div>
                        <div class="personInfor">
                            <p class="clearfix">
                                <span class="left name">张三</span>
                                <span class="phone right">150678745462</span>
                            </p>

                            <p class="address">
                                重庆市九龙坡区袁家岗中新城上城
                            </p>
                        </div>
                        <div class="addressModify clearfix">
                            <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                                <label class="weui_cell weui_check_labe style p0" for="14">
                                    <div class="weui_cell_hd">
                                        <input type="radio" class="weui_check" name="checkbox2" id="14" />
                                        <i class="weui_icon_checked"></i>

                                    </div> 设为默认
                                </label>
                            </div>
                            <button class="btn-remove right">
                                <i class="fa fa-trash-o"></i>
                                删除
                            </button>
                            <button class="btnModify right">
                                <i class="fa fa-pencil"></i>
                                编辑
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                            <label class="weui_cell weui_check_labe style p0" for="2">
                                <div class="weui_cell_hd">
                                    <input type="checkbox" class="weui_check" name="checkbox1" id="2" />
                                    <i class="weui_icon_checked"></i>
                                </div>
                            </label>
                        </div>
                        <div class="personInfor">
                            <p class="clearfix">
                                <span class="left name">张三</span>
                                <span class="phone right">150678745462</span>
                            </p>

                            <p class="address">
                                重庆市九龙坡区袁家岗中新城上城
                            </p>
                        </div>
                        <div class="addressModify clearfix">
                            <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                                <label class="weui_cell weui_check_labe style p0" for="1">
                                    <div class="weui_cell_hd">
                                        <input type="radio" class="weui_check" name="checkbox2" id="1" />
                                        <i class="weui_icon_checked"></i>

                                    </div> 设为默认
                                </label>
                            </div>
                            <button class="btn-remove right">
                                <i class="fa fa-trash-o"></i>
                                删除
                            </button>
                            <button class="btnModify right">
                                <i class="fa fa-pencil"></i>
                                编辑
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                            <label class="weui_cell weui_check_labe style p0" for="23">
                                <div class="weui_cell_hd">
                                    <input type="checkbox" class="weui_check" name="checkbox1" id="23" />
                                    <i class="weui_icon_checked"></i>
                                </div>
                            </label>
                        </div>
                        <div class="personInfor">
                            <p class="clearfix">
                                <span class="left name">张三</span>
                                <span class="phone right">150678745462</span>
                            </p>

                            <p class="address">
                                重庆市九龙坡区袁家岗中新城上城
                            </p>
                        </div>
                        <div class="addressModify clearfix">
                            <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                                <label class="weui_cell weui_check_labe style p0" for="14">
                                    <div class="weui_cell_hd">
                                        <input type="radio" class="weui_check" name="checkbox2" id="14" />
                                        <i class="weui_icon_checked"></i>

                                    </div> 设为默认
                                </label>
                            </div>
                            <button class="btn-remove right">
                                <i class="fa fa-trash-o"></i>
                                删除
                            </button>
                            <button class="btnModify right">
                                <i class="fa fa-pencil"></i>
                                编辑
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                            <label class="weui_cell weui_check_labe style p0" for="2">
                                <div class="weui_cell_hd">
                                    <input type="checkbox" class="weui_check" name="checkbox1" id="2" />
                                    <i class="weui_icon_checked"></i>
                                </div>
                            </label>
                        </div>
                        <div class="personInfor">
                            <p class="clearfix">
                                <span class="left name">张三</span>
                                <span class="phone right">150678745462</span>
                            </p>

                            <p class="address">
                                重庆市九龙坡区袁家岗中新城上城
                            </p>
                        </div>
                        <div class="addressModify clearfix">
                            <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                                <label class="weui_cell weui_check_labe style p0" for="1">
                                    <div class="weui_cell_hd">
                                        <input type="radio" class="weui_check" name="checkbox2" id="1" />
                                        <i class="weui_icon_checked"></i>

                                    </div> 设为默认
                                </label>
                            </div>
                            <button class="btn-remove right">
                                <i class="fa fa-trash-o"></i>
                                删除
                            </button>
                            <button class="btnModify right">
                                <i class="fa fa-pencil"></i>
                                编辑
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                            <label class="weui_cell weui_check_labe style p0" for="23">
                                <div class="weui_cell_hd">
                                    <input type="checkbox" class="weui_check" name="checkbox1" id="23" />
                                    <i class="weui_icon_checked"></i>
                                </div>
                            </label>
                        </div>
                        <div class="personInfor">
                            <p class="clearfix">
                                <span class="left name">张三</span>
                                <span class="phone right">150678745462</span>
                            </p>

                            <p class="address">
                                重庆市九龙坡区袁家岗中新城上城
                            </p>
                        </div>
                        <div class="addressModify clearfix">
                            <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                                <label class="weui_cell weui_check_labe style p0" for="14">
                                    <div class="weui_cell_hd">
                                        <input type="radio" class="weui_check" name="checkbox2" id="14" />
                                        <i class="weui_icon_checked"></i>

                                    </div> 设为默认
                                </label>
                            </div>
                            <button class="btn-remove right">
                                <i class="fa fa-trash-o"></i>
                                删除
                            </button>
                            <button class="btnModify right">
                                <i class="fa fa-pencil"></i>
                                编辑
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                            <label class="weui_cell weui_check_labe style p0" for="2">
                                <div class="weui_cell_hd">
                                    <input type="checkbox" class="weui_check" name="checkbox1" id="2" />
                                    <i class="weui_icon_checked"></i>
                                </div>
                            </label>
                        </div>
                        <div class="personInfor">
                            <p class="clearfix">
                                <span class="left name">张三</span>
                                <span class="phone right">150678745462</span>
                            </p>

                            <p class="address">
                                重庆市九龙坡区袁家岗中新城上城
                            </p>
                        </div>
                        <div class="addressModify clearfix">
                            <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                                <label class="weui_cell weui_check_labe style p0" for="1">
                                    <div class="weui_cell_hd">
                                        <input type="radio" class="weui_check" name="checkbox2" id="1" />
                                        <i class="weui_icon_checked"></i>

                                    </div> 设为默认
                                </label>
                            </div>
                            <button class="btn-remove right">
                                <i class="fa fa-trash-o"></i>
                                删除
                            </button>
                            <button class="btnModify right">
                                <i class="fa fa-pencil"></i>
                                编辑
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                            <label class="weui_cell weui_check_labe style p0" for="23">
                                <div class="weui_cell_hd">
                                    <input type="checkbox" class="weui_check" name="checkbox1" id="23" />
                                    <i class="weui_icon_checked"></i>
                                </div>
                            </label>
                        </div>
                        <div class="personInfor">
                            <p class="clearfix">
                                <span class="left name">张三</span>
                                <span class="phone right">150678745462</span>
                            </p>

                            <p class="address">
                                重庆市九龙坡区袁家岗中新城上城
                            </p>
                        </div>
                        <div class="addressModify clearfix">
                            <div class="weui_cells weui_cells_checkbox mt0 style1 inline_block left5">
                                <label class="weui_cell weui_check_labe style p0" for="14">
                                    <div class="weui_cell_hd">
                                        <input type="radio" class="weui_check" name="checkbox2" id="14" />
                                        <i class="weui_icon_checked"></i>

                                    </div> 设为默认
                                </label>
                            </div>
                            <button class="btn-remove right">
                                <i class="fa fa-trash-o"></i>
                                删除
                            </button>
                            <button class="btnModify right">
                                <i class="fa fa-pencil"></i>
                                编辑
                            </button>
                        </div>
                    </li>

                </ul>
                <div class="notConTip hide">
                    <img src="../../assets/mobile/images/notContent.png" alt=""/>
                    <p class="notInfor">
                        暂无数据
                    </p>
                </div>
            </div>
            <div class="weui_btn_area fixed">
                <a href="addAddress.html" class="weui_btn b0 weui_btn_primary">+新建地址</a>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/confirm.js"></script>
    <script src="../../assets/mobile/js/removeTip.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>