<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>公告列表</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                分类
                <div class="right nav_block">
                    <a href="shoppingCat.html" class="shop_cat"></a>
                    <a class="dot_block"></a>
                    <ul class="nav_link">
                        <li>
                            <a href="index.html">
                                主页
                            </a>
                        </li>
                        <li>
                            <a href="shopMall.html">
                                精选商城
                            </a>
                        </li>
                        <li>
                            <a href="gasStationInfor.html">
                                马上加油
                            </a>
                        </li>
                        <li>
                            <a href="personCenter.html">
                                会员中心
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bd absolute pt">
                <div class="applicatioOpetion">
                    <ul class="applicatioNav style clearfix">
                        <li>
                            <a href="###" class="active">公告</a>
                        </li>
                        <li>
                            <a href="###">新闻</a>
                        </li>
                        <li>
                            <a href="###">促销活动</a>
                        </li>
                    </ul>
                </div>
                <div class="weui_cells weui_cells_access top0 mt0">
                    <a class="weui_cell" href="consumerAnnouncemen.html">
                        <div class="weui_cell_bd weui_cell_primary ">
                            <p>
                                <span class="text">
                                    全民全反时代来临了!
                                </span>
                            </p>
                        </div>
                        <div class="weui_cell_ft">全民全反时了!</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>