<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>联系商铺</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                分类
                <div class="right nav_block">
                    <a href="shoppingCat.html" class="shop_cat"></a>
                    <a class="dot_block"></a>
                    <ul class="nav_link">
                        <li>
                            <a href="index.html">
                                主页
                            </a>
                        </li>
                        <li>
                            <a href="shopMall.html">
                                精选商城
                            </a>
                        </li>
                        <li>
                            <a href="gasStationInfor.html">
                                马上加油
                            </a>
                        </li>
                        <li>
                            <a href="personCenter.html">
                                会员中心
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bd absolute pd48">
                <ul class="entryList mt0">
                    <li>
                        <div>
                            <div class="couponImg style">
                                <img src="../../assets/mobile/images/shopsImg.jpg" class="couponImg1" alt="">
                            </div>
                            <div class="inforList">
                                <p class="clearfix">
                                    <span class="left shopsName">美容在线</span>
                                    <button class="right btnCollectioning">收藏商铺</button>
                                </p>

                                <div class="clearfix">
                                    <ul class="starList clearfix">
                                        <li class="active">
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o"></i>
                                        </li>
                                    </ul>
                                </div>

                                <p class="clearfix">
                                    <span class="left">销量<af class="verdana">454545</af></span>
                                    <span class="right">共<af class="verdana">22</af>件商品</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div>
                    <div class="weui_cells mt10">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>联系方式</p>
                            </div>
                            <div class="weui_cell_ft">1506545850</div>
                        </div>
                    </div>
                    <div class="weui_cells mt10">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>电话咨询</p>
                            </div>
                            <div class="weui_cell_ft">023-68676846</div>
                        </div>
                    </div>
                    <div class="weui_cells mt10">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>QQ</p>
                            </div>
                            <div class="weui_cell_ft">282535623</div>
                        </div>
                    </div>
                    <div class="smwx">
                        <p class="title">
                            微信
                        </p>
                        <img src="../../assets/mobile/images/myCode.jpg" alt="" class="code"/>
                    </div>
                </div>
            </div>
            <div class="foot">
                <ul class="tabMenu clearfix">
                    <li>
                        <a href="allShopsShopping.html">
                            <i class="fa fa-home"></i><br/>
                            <span>全部商品</span>
                        </a>
                    </li>
                    <li>
                        <a href="shopsShoppingType.html">
                            <i class="fa fa-save"></i><br/>
                            <span>商品分类</span>
                        </a>
                    </li>
                    <li>
                        <a href="shopsDetails.html">
                            <i class="fa fa-info"></i><br/>
                            <span>商品简介</span>
                        </a>
                    </li>
                    <li class="last active">
                        <a href="contactShopsShopping.html">
                            <i class="fa fa-mobile-phone"></i><br/>
                            <span>联系商铺</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>