<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>评价</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content errDailog">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                消费全反
                <div class="right nav_block">
                    <a href="shoppingCat.html" class="shop_cat"></a>
                    <a class="dot_block"></a>
                    <ul class="nav_link">
                        <li>
                            <a href="myMessage.html">
                                消息
                            </a>
                        </li>
                        <li>
                            <a href="index.html">
                                首页
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bd absolute pd48">
                <div id="order">
                    <ul class="orderList">
                        <li>
                            <div href="orderInfor.html">
                                <div class="orderHead clearfix">
                                    <span class="orderNum left">美丽在线</span>
                                    <span class="time right">
                                        <span class="verdana">2016.5.5 9:00</span>
                                    </span>
                                </div>
                                <div class="orderCon">
                                    <div class="orderImg">
                                        <img src="../../assets/mobile/images/order1.jpg" alt=""/>
                                    </div>
                                    <div class="orderInfor">
                                        <p class="top clearfix">
                                            <span class="left">植物油</span>
                                        </p>
                                        <p class=" ">
                                            <span class="color">红色</span>
                                        </p>

                                    </div>
                                </div>
                                <div class="orderFt">
                                    <textarea placeholder="发起评价"  class="evaluate"></textarea>
                                    <div class="weui_cell style">
                                        <div class="weui_cell_hd"></div>
                                        <div class="weui_cell_bd weui_cell_primary">
                                            <div class="weui_cells weui_cells_checkbox mt0 bt0">
                                                <label class="weui_cell weui_check_label bt0 w30 first p0" for="s13">
                                                    <div class="weui_cell_hd">
                                                        <input type="radio" name="checkbox1" class="weui_check" id="s13">
                                                        <i class="weui_icon_checked"></i>
                                                    </div>
                                                    <div class="weui_cell_bd weui_cell_primary">
                                                        <p>好评</p>
                                                    </div>
                                                </label>
                                                <label class="weui_cell weui_check_label bt0 w30 second p0" for="s11">
                                                    <div class="weui_cell_hd">
                                                        <input type="radio" class="weui_check" name="checkbox1" id="s11">
                                                        <i class="weui_icon_checked"></i>
                                                    </div>
                                                    <div class="weui_cell_bd">
                                                        <p>中评</p>
                                                    </div>
                                                </label>
                                                <label class="weui_cell weui_check_label bt0 w30 last p0" for="s12">
                                                    <div class="weui_cell_hd">
                                                        <input type="radio" name="checkbox1" class="weui_check" id="s12">
                                                        <i class="weui_icon_checked"></i>
                                                    </div>
                                                    <div class="weui_cell_bd">
                                                        <p>差评</p>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div href="orderInfor.html">
                                <div class="orderHead clearfix">
                                    <span class="orderNum left">美丽在线</span>
                                    <span class="time right">
                                        <span class="verdana">2016.5.5 9:00</span>
                                    </span>
                                </div>
                                <div class="orderCon">
                                    <div class="orderImg">
                                        <img src="../../assets/mobile/images/order1.jpg" alt=""/>
                                    </div>
                                    <div class="orderInfor">
                                        <p class="top clearfix">
                                            <span class="left">植物油</span>
                                        </p>
                                        <p class=" ">
                                            <span class="color">红色</span>
                                        </p>

                                    </div>
                                </div>
                                <div class="orderFt">
                                    <textarea placeholder="发起评价"  class="evaluate"></textarea>
                                    <div class="weui_cell style">
                                        <div class="weui_cell_hd"></div>
                                        <div class="weui_cell_bd weui_cell_primary">
                                            <div class="weui_cells weui_cells_checkbox mt0 bt0">
                                                <label class="weui_cell weui_check_label bt0 w30 first p0" for="s113">
                                                    <div class="weui_cell_hd">
                                                        <input type="radio" name="checkbox" class="weui_check" id="s113">
                                                        <i class="weui_icon_checked"></i>
                                                    </div>
                                                    <div class="weui_cell_bd weui_cell_primary">
                                                        <p>好评</p>
                                                    </div>
                                                </label>
                                                <label class="weui_cell weui_check_label bt0 w30 second p0" for="s111">
                                                    <div class="weui_cell_hd">
                                                        <input type="radio" class="weui_check" name="checkbox" id="s111">
                                                        <i class="weui_icon_checked"></i>
                                                    </div>
                                                    <div class="weui_cell_bd">
                                                        <p>中评</p>
                                                    </div>
                                                </label>
                                                <label class="weui_cell weui_check_label bt0 w30 last p0" for="s112">
                                                    <div class="weui_cell_hd">
                                                        <input type="radio" name="checkbox" class="weui_check" id="s112">
                                                        <i class="weui_icon_checked"></i>
                                                    </div>
                                                    <div class="weui_cell_bd">
                                                        <p>差评</p>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="evaluateScore">
                                        商铺评价 :
                                        <ul class="starList clearfix">
                                            <li>
                                                <i class="fa fa-star-o"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star-o"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star-o"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star-o"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star-o"></i>
                                            </li>
                                        </ul>
                                        <!--<span class="fraction hide">-->
                                            <!--<span class="numFraction">0</span> 分-->
                                        <!--</span>-->
                                        <input type="hidden" id="inputStar" value="0"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="notConTip hide">
                    <img src="../../assets/mobile/images/notContent.png" alt=""/>
                    <p class="notInfor">
                        暂无数据
                    </p>
                </div>
            </div>
            <div class="weui_btn_area fixed">
                <input type="submit" class="weui_btn b0 weui_btn_primary" value="提交">
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/removeTip.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script src="../../assets/mobile/js/stars.js"></script>
    <script>
        $(function(){
            commentStars.init($(".starList li"))
        })
    </script>
</body>
</html>