<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/plugins/swiper/dist/css/swiper.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                <form action="#" class="formIndex">
                    <input type="text" class="search_input" placeholder="搜索商品"/>
                    <i class="fa fa-search"></i>
                    <a href="javascript:" class="weui_icon_clear hide" id="search_clear"></a>
                </form>
                <div class="right nav_block">
                    <a href="shoppingCat.html" class="shop_cat"></a>
                    <a href="message.html" class="shop_msg"></a>
                </div>
            </div>
            <div class="bd absolute pd48">
                <div class="swiper-container mt0 swiper-container-horizontal" id="swiper-container">
                    <div class="swiper-wrapper" style="transition-duration: 0ms; ">
                        <div class="swiper-slide">
                            <a href="###">
                                <img src="../../assets/mobile/images/indexSlider1.jpg" alt="" class="w100"/>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="###">
                                <img src="../../assets/mobile/images/indexSlider2.jpg" alt="" class="w100"/>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="###">
                                <img src="../../assets/mobile/images/indexSlider3.jpg" alt="" class="w100"/>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <!--<div class="swiper-button-next"></div>-->
                    <!--<div class="swiper-button-prev"></div>-->
                </div>

                <ul class="ulmenu clearfix">
                    <li>
                        <a href="###">
                            <span class="span_index index_icon1"></span><br/>
                            <span>我的订单</span>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <span class="span_index index_icon2"></span><br/>
                            <span>积分提现</span>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <span class="span_index index_icon3"></span><br/>
                            <span>返现明细</span>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <span class="span_index index_icon4"></span><br/>
                            <span>推广收益</span>
                        </a>
                    </li>
                </ul>

                <ul class="ulLink clearfix">
                    <li class="first">
                        <a>
                            <img src="../../assets/mobile/images/alink1.png" alt=""/>
                        </a>
                    </li>
                    <li class="second">
                        <a>
                            <img src="../../assets/mobile/images/alink2.png" alt=""/>
                        </a>
                    </li>
                    <li class="last">
                        <a>
                            <img src="../../assets/mobile/images/alink3.png" alt=""/>
                        </a>
                    </li>
                </ul>

                <ul class="shop_menu clearfix">
                    <li class="active">
                        <a data="clothes">
                            服装/美妆
                        </a>
                    </li>
                    <li>
                        <a data="beautys">
                            数码/科技
                        </a>
                    </li>
                    <li>
                        <a>
                            热门房产
                        </a>
                    </li>
                    <li>
                        <a>
                            零食/饮料
                        </a>
                    </li>
                </ul>
                <div class="otherCon style">

                </div>
            </div>
            <div class="foot">
                <ul class="tabMenu clearfix">
                    <li class="active">
                        <a href="index.html">
                            <i class="fa fa-home"></i><br/>
                            <span>首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="shopMall.html">
                            <i class="fa fa-bars"></i><br/>
                            <span>分类</span>
                        </a>
                    </li>
                    <li>
                        <a href="gasStationInfor.html">
                            <i class="fa fa-tag"></i><br/>
                            <span>商铺</span>
                        </a>
                    </li>
                    <li class="last">
                        <a href="personCenter.html">
                            <i class="fa fa-user"></i><br/>
                            <span>我的</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/plugins/vue/vue.min.js"></script>
    <script src="../../assets/mobile/plugins/swiper/dist/js/swiper.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script>
        $(function(){
            /*搜索框*/
            var searchInput = $(".formIndex .search_input");
            searchInput.on("keydown",function(){
                if($.trim($(this).val())==''){

                }else{
                    $(".weui_icon_clear").removeClass("hide");
                }
            });
            searchInput.on("focus",function(){
                $(this).closest(".formIndex").addClass("active")
            });
            searchInput.on("blur",function(){
                $(this).closest(".formIndex").removeClass("active")
            });
            $(".weui_icon_clear").on("touchend",function(){
                $(".formIndex .search_input").val(" ");
                $(this).addClass("hide");
                $(this).attr({placeholder:"搜索商品"});
            });
            /*slider*/
            swiper = new Swiper('#swiper-container', {
                //        prevButton:'.swiper-button-prev',
                //        nextButton:'.swiper-button-next',
                slidesPerView: 1,
                pagination:'.swiper-pagination',
                paginationClickable: true,
                spaceBetween: 0,
                loop:true,
                autoplay: 5000,
                autoplayDisableOnInteraction: false
            });

            /*发送ajax取商品数据*/
            $.ajax({
                type : "post",
                url : "clothes.html",
                dataType : "html",
                cache : false,
                success : function(data) {
                    $(".otherCon").html(data);
                }
            });
            $(".shop_menu li a").on("touchend",function(){
                $(this).closest("li").addClass("active");
                $(this).closest("li").siblings("li").removeClass("active");
                var datat = $(this).attr("data");
                var that = $(this);
                $.ajax({
                    type : "post",
                    url : datat+".html",
                    dataType : "html",
                    cache : false,
                    success : function(data) {
                        that.closest(".bd").find(".otherCon").html(data);
                    }
                });
            });
        })
    </script>

</body>
</html>