<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登陆</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content errDailog">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                <form action="#" class="formIndex">
                    <input type="text" class="search_input" placeholder="搜索商品"/>
                    <i class="fa fa-search"></i>
                    <a href="javascript:" class="weui_icon_clear hide" id="search_clear"></a>
                </form>
                <div class="right nav_block">
                    <a href="shoppingCat.html" class="shop_cat"></a>
                    <a href="myMessage.html" class="shop_msg"></a>
                </div>
            </div>
            <div class="bd absolute pd48">
            </div>
            <div class="foot ">
                <div class="footBg h50">
                    <form action="#">
                        <input type="text" class="inputBtn" placeholder="回复张医生"/>
                        <button type="submit" class="btnTj">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>

</body>
</html>