<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的消息</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                消费全反
                <div class="right nav_block">
                    <a href="shoppingCat.html" class="shop_cat"></a>
                    <a class="dot_block"></a>
                    <ul class="nav_link">
                        <li>
                            <a href="index.html">
                                主页
                            </a>
                        </li>
                        <li>
                            <a href="shopMall.html">
                                精选商城
                            </a>
                        </li>
                        <li>
                            <a href="gasStationInfor.html">
                                马上加油
                            </a>
                        </li>
                        <li>
                            <a href="personCenter.html">
                                会员中心
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bd absolute pt">
                <ul class="merberMenu">
                    <li>
                        <p class="clearfix">
                            <span class="left phone verdana">15121556</span>
                            <span class="right time">2016.03.03 8:23</span>
                        </p>
                        <p class="clearfix">
                            <span class="left con">请问您赏析买的吹风好用吗?</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>