<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>订单详情</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content errDailog">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                消费全反
                <div class="right nav_block">
                    <a href="shoppingCat.html" class="shop_cat"></a>
                    <a class="dot_block"></a>
                    <ul class="nav_link">
                        <li>
                            <a href="index.html">
                                主页
                            </a>
                        </li>
                        <li>
                            <a href="shopMall.html">
                                精选商城
                            </a>
                        </li>
                        <li>
                            <a href="gasStationInfor.html">
                                马上加油
                            </a>
                        </li>
                        <li>
                            <a href="personCenter.html">
                                会员中心
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bd absolute pt">
                <div class="orderTitle">
                    订单状态 : 待付款
                </div>
                <div class="orderAddress">
                    <a href="addressList.html">
                        <p class="clearfix">
                            <span class="name left">张三</span>
                            <span class="phone right">
                                <af class="verdana">15067876547</af>
                            </span>
                        </p>

                        <p class="addressInfor">
                            重庆市九龙坡区袁家岗中新城上城
                        </p>
                    </a>
                </div>
                <div id="order">
                    <ul class="orderList">
                        <li>
                            <a href="orderInfor.html">
                                <div class="orderHead clearfix">
                                    <span class="orderNum left">美丽在线</span>
                                </div>
                                <div class="orderCon">
                                    <div class="orderImg">
                                        <img src="../../assets/mobile/images/order1.jpg" alt=""/>
                                    </div>
                                    <div class="orderInfor">
                                        <p class="top clearfix">
                                            <span class="left">植物油</span>
                                        </p>
                                        <p class=" ">
                                            <span class="color">红色</span>
                                        </p>
                                        <p class="bottom clearfix">
                                            <span class="left">￥<span class="verdana">600.00</span></span>
                                            <span class="right">x2</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="orderFt">
                                    <div class="weui_cells mt0">
                                        <div class="weui_cell">
                                            <div class="weui_cell_bd weui_cell_primary">
                                                <p>共3件商品</p>
                                            </div>
                                            <div class="weui_cell_ft style">总计 : ￥5000.00 (运费￥5)</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="orderDetails">
                        <div class="weui_cells">
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>订单号 : </p>
                                </div>
                                <div class="weui_cell_ft style">4545454545</div>
                            </div>
                        </div>
                        <div class="weui_cells mt0">
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>下单账号 : </p>
                                </div>
                                <div class="weui_cell_ft style">4545454545</div>
                            </div>
                        </div>
                        <div class="weui_cells mt0">
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>下单时间 : </p>
                                </div>
                                <div class="weui_cell_ft style">2016.3.5.6 : 40</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notConTip hide">
                    <img src="../../assets/mobile/images/notContent.png" alt=""/>
                    <p class="notInfor">
                        暂无数据
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/confirm.js"></script>
    <script src="../../assets/mobile/js/removeTip.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>