<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>个人评价记录</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                家得利
                <div class="right nav_block">
                    <a href="shoppingCat.html" class="shop_cat"></a>
                    <a class="dot_block"></a>
                    <ul class="nav_link">
                        <li>
                            <a href="myMessage.html">
                                消息
                            </a>
                        </li>
                        <li>
                            <a href="index.html">
                                首页
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bd absolute pd48">
                <ul class="entryList mt0 style">
                    <li>
                        <div class="weui_cells mt0 bt0">
                            <div class="weui_cell style3">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>1515556565</p>
                                </div>
                                <div class="weui_cell_ft">2006.03.02</div>
                            </div>
                        </div>
                        <div>
                            <div class="couponImg style">
                                <img src="../../assets/mobile/images/shopsImg.jpg" class="couponImg1" alt="">
                            </div>
                            <div class="inforList">
                                <p class="clearfix">
                                    <span class="left shopsName">美容在线</span>
                                </p>
                                <p>
                                    <span>红色</span>
                                </p>
                                <p class="clearfix">
                                    <span class="left shopsName">好评</span>
                                </p>
                            </div>
                        </div>
                        <div class="shopsInfor style">
                            评论内容
                        </div>
                    </li>
                    <li>
                        <div class="weui_cells mt0 bt0">
                            <div class="weui_cell style3">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>1515556565</p>
                                </div>
                                <div class="weui_cell_ft">2006.03.02</div>
                            </div>
                        </div>
                        <div>
                            <div class="couponImg style">
                                <img src="../../assets/mobile/images/shopsImg.jpg" class="couponImg1" alt="">
                            </div>
                            <div class="inforList">
                                <p class="clearfix">
                                    <span class="left shopsName">美容在线</span>
                                </p>
                                <p>
                                    <span>红色</span>
                                </p>
                                <p class="clearfix">
                                    <span class="left shopsName">好评</span>
                                </p>
                            </div>
                        </div>
                        <div class="shopsInfor style">
                            评论内容
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>