<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>商铺-我的订单</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content errDailog">
        <div class="page">
            <div class="hd">
                <a>
                    <i class="fa fa-angle-left"></i>
                </a>
                家得利
                <div class="right nav_block">
                    <a href="shoppingCat.html" class="shop_cat"></a>
                    <a class="dot_block"></a>
                    <ul class="nav_link">
                        <li>
                            <a href="myMessage.html">
                                消息
                            </a>
                        </li>
                        <li>
                            <a href="index.html">
                                首页
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bd absolute pt">
                <ul class="orderMenu clearfix">
                    <li>
                        <a href="shopsOrder.html">
                            <span class="order orderIcon0"></span><br/>
                            全部
                        </a>
                    </li>
                    <li>
                        <a href="shopsOrderPay.html">
                            <span class="order orderIcon1"></span><br/>
                            待付款
                        </a>
                    </li>
                    <li>
                        <a href="shopsOrderSend.html" class="active">
                            <span class="order orderIcon6"></span><br/>
                            待发货
                        </a>
                    </li>
                    <li>
                        <a href="shopsOrderGet.html">
                            <span class="order orderIcon7"></span><br/>
                            已收货
                        </a>
                    </li>
                    <li>
                        <a href="shopsOrderOk.html">
                            <span class="order orderIcon8"></span><br/>
                            已完成
                        </a>
                    </li>
                </ul>
                <div id="order">
                    <ul class="orderList">
                        <li>
                            <a href="orderInfor.html">
                                <div class="orderHead clearfix">
                                    <span class="orderNum left">美丽在线</span>
                                    <span class="time right"><span class="verdana">2016.5.5 9:00</span></span>
                                </div>
                                <div class="orderCon">
                                    <div class="orderImg">
                                        <img src="../../assets/mobile/images/order1.jpg" alt=""/>
                                    </div>
                                    <div class="orderInfor">
                                        <p class="top clearfix">
                                            <span class="left">植物油</span>
                                        </p>
                                        <p class=" ">
                                            <span class="color">红色</span>
                                        </p>
                                        <p class="bottom clearfix">
                                            <span class="left">￥<span class="verdana">600.00</span></span>
                                            <span class="right">x2</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="orderFt">
                                    <div class="weui_cells mt0">
                                        <div class="weui_cell">
                                            <div class="weui_cell_bd weui_cell_primary">
                                                <p>共3件商品</p>
                                            </div>
                                            <div class="weui_cell_ft style">总计 : ￥5000.00 (运费￥5)</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="notConTip hide">
                    <img src="../../assets/mobile/images/notContent.png" alt=""/>
                    <p class="notInfor">
                        暂无数据
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/confirm.js"></script>
    <script src="../../assets/mobile/js/removeTip.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script>
        $(function(){

            /*订单状态信息提示*/
            $("#order").delegate(".btnType","touchend",function(e){
                e.preventDefault();
            });

            /*订单删除弹框*/
            var page = $(".page");
            page.delegate(".btnRemove","touchend",function(e){

                confirmTip("是否删除该订单?");
                $("#dialogConfirm").removeClass("hide");
                $(this).closest("li").addClass("remove");
                $("#signCancel").addClass("signCancel");
                $("#signSure").addClass("signSure");
            });

            /*取消订单删除*/
            page.delegate(".signCancel","touchend",function(e){
                e.preventDefault();
                $(".orderList li.remove").removeClass("remove");
                $("#dialogConfirm").addClass("hide");
            });

            /*确定订单删除*/
            page.delegate(".signSure","touchend",function(e){
                e.preventDefault();
                $(".orderList li.remove").remove();
                $("#dialogConfirm").addClass("hide");
                showErrMsg("订单删除成功");
            });


            /*申请退款*/
            page.delegate(".agentMoney","touchend",function(){
                $(this).html("退款中...")
            });

            /*支付*/
            page.delegate(".btnRemove","touchend",function(e){
                e.preventDefault();
            });

            /*申请退款*/
            page.delegate(".btnReturn","touchend",function(e){
                e.preventDefault();
                $(this).html("退款中...");
                $(".btnSureShop").addClass("hide");
            });


            /*确认收货*/
            page.delegate(".btnSureShop","touchend",function(e){
                e.preventDefault();
                showErrMsg("收货成功");
            });
        })
    </script>
</body>
</html>