<ul class="merberMenu">
    <li>
        <p class="clearfix">
            <span class="left phone verdana">15121556</span>
            <span class="right score">收益
                <span class="color"><span class="verdana">500</span>积分</span>
            </span>
        </p>

        <p class="clearfix">
            <span class="left leave">联盟商家</span>
            <span class="right money">累计交易
                <span class="verdana">￥1200</span>
            </span>
        </p>

        <p class="clearfix">
            <span class="left time">加入时间 : <span class="verdana">2016.3.6</span></span>
        </p>
    </li>
</ul>