<ul class="entryList mt0">
    <li>
        <div>
            <div class="couponImg style">
                <img src="../../assets/mobile/images/shoppingC3.jpg" class="couponImg1" alt="">
            </div>
            <div class="inforList">
                <!--<p class="clearfix">-->
                <!--<span class="left shopsName">美容在线</span>-->
                <!--<span class="right">推广时间 : <af class="verdana">2016.3.6</af></span>-->
                <!--</p>-->
                <p class="clearfix">
                    <span class="left shopsName">美容在线</span>
                    <span class="right"><af class="verdana">2016.03.06</af></span>
                </p>
                <!--<p class="clearfix">-->
                <!--<span class="left">推广时间 : </span>-->
                <!--<span class="right"><af class="verdana">500</af>积分</span>-->
                <!--</p>-->
                <p class="clearfix">
                    <span class="left">收益</span>
                    <span class="right"><af class="verdana">500</af>积分</span>
                </p>
                <p class="clearfix">
                    <span class="left">累计消费</span>
                    <span class="right">￥<af class="verdana">1200.00</af></span>
                </p>
                <p class="clearfix">
                    <span class="left money">￥<af class="verdana">600.00</af></span>
                </p>
            </div>
        </div>
    </li>
</ul>
