<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>活动管理-活动管理</title>
    <link rel="stylesheet" href="../../assets/admin/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.css"/>
</head>
<body>
    <div class="wrapper">
    <div class="head">
        <div class="headMain">
            <img src="../../assets/admin/images/logo.png" alt="" class="logo"/>
            <ul class="clearfix navMeun right">
                <li>
                    <a href="index.html">
                        首页
                    </a>
                    <div class="colorBlock"></div>
                </li>
                <li>
                    <a href="contentSourceReleaseAdmin.html">
                        内容管理
                    </a>
                    <div class="colorBlock"></div>
                </li>
                <li class="active">
                    <a href="activityManagement.html">
                        活动管理
                    </a>
                    <div class="colorBlock"></div>
                </li>
                <li>
                    <a href="fanRecord.html">
                        粉丝数据
                    </a>
                    <div class="colorBlock"></div>
                </li>
                <li>
                    <a href="RechargeRecord.html">
                        财务管理
                    </a>
                    <div class="colorBlock"></div>
                </li>
                <li class="last">
                    <a href="#">
                        <img src="../../assets/admin/images/companyLogo.jpg" alt=""/>
                        有限公司
                    </a>
                    <div class="colorBlock"></div>
                    <ul class="account-selection hide">
                        <li>
                            <a href="accountSetting.html" class="companyInfors">
                                <i class="fa fa-gear"></i>
                                账号设置
                            </a>
                        </li>
                        <li class="signOut">
                            <a href="login.html">
                                <i class="fa fa-power-off"></i>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
        <div class="content">
            <div class="center">
                <div class="contentMain clearfix">
                    <div class="left navMenu">
                        <div class="title">活动管理</div>
                        <ul class="navList">
                            <li class="active">
                                <a href="activityManagement.html">
                                    <i class="fa fa-home"></i>
                                    活动管理
                                </a>
                            </li>
                            <li>
                                <a href="activityParticipation.html">
                                    <i class="fa fa-home"></i>
                                    活动参与
                                </a>
                            </li>
                            <li>
                                <a href="activityFlow.html">
                                    <i class="fa fa-home"></i>
                                    活动流量
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="right contentMaincon">
                        <div class="title">活动管理</div>

                        <!--流量管理数据-->
                        <table class="dataTable">
                            <tr>
                                <th>活动名称</th>
                                <th>活动类型</th>
                                <th>开始时间</th>
                                <th>地址</th>
                                <th style="width:35%">操作</th>
                            </tr>
                            <tr>
                                <td>活动1</td>
                                <td>美食</td>
                                <td>2016.5.5</td>
                                <td>重庆，解放碑</td>
                                <td>
                                    <a class="color1 aClick modifyData">
                                        <i class="fa fa-pencil"></i> 编辑
                                    </a>
                                    <a class="color2 aClick typeData">
                                        <i class="fa fa-remove"></i> 关闭
                                    </a>
                                    <a class="color2 aClick reply hide">
                                        <i class="fa fa-arrow-up"></i> 再次发布
                                    </a>
                                    <a class="color4 aClick removeData">
                                        <i class="fa fa-trash"></i> 删除
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>活动1</td>
                                <td>美食</td>
                                <td>2016.5.5</td>
                                <td>重庆，解放碑</td>
                                <td>
                                    <a class="color1 aClick modifyData">
                                        <i class="fa fa-pencil"></i> 编辑
                                    </a>
                                    <a class="color2 aClick typeData">
                                        <i class="fa fa-remove"></i> 关闭
                                    </a>
                                    <a class="color2 aClick reply hide">
                                        <i class="fa fa-arrow-up"></i> 再次发布
                                    </a>
                                    <a class="color4 aClick removeData">
                                        <i class="fa fa-trash"></i> 删除
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>活动1</td>
                                <td>美食</td>
                                <td>2016.5.5</td>
                                <td>重庆，解放碑</td>
                                <td>
                                    <a class="color1 aClick modifyData">
                                        <i class="fa fa-pencil"></i> 编辑
                                    </a>
                                    <a class="color2 aClick typeData">
                                        <i class="fa fa-remove"></i> 关闭
                                    </a>
                                    <a class="color2 aClick reply hide">
                                        <i class="fa fa-arrow-up"></i> 再次发布
                                    </a>
                                    <a class="color4 aClick removeData">
                                        <i class="fa fa-trash"></i> 删除
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>活动1</td>
                                <td>美食</td>
                                <td>2016.5.5</td>
                                <td>重庆，解放碑</td>
                                <td>
                                    <a class="color1 aClick modifyData">
                                        <i class="fa fa-pencil"></i> 编辑
                                    </a>
                                    <a class="color2 aClick typeData">
                                        <i class="fa fa-remove"></i> 关闭
                                    </a>
                                    <a class="color2 aClick reply hide">
                                        <i class="fa fa-arrow-up"></i> 再次发布
                                    </a>
                                    <a class="color4 aClick removeData">
                                        <i class="fa fa-trash"></i> 删除
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>活动1</td>
                                <td>美食</td>
                                <td>2016.5.5</td>
                                <td>重庆，解放碑</td>
                                <td>
                                    <a class="color1 aClick modifyData">
                                        <i class="fa fa-pencil"></i> 编辑
                                    </a>
                                    <a class="color2 aClick typeData">
                                        <i class="fa fa-remove"></i> 关闭
                                    </a>
                                    <a class="color2 aClick reply hide">
                                        <i class="fa fa-arrow-up"></i> 再次发布
                                    </a>
                                    <a class="color4 aClick removeData">
                                        <i class="fa fa-trash"></i> 删除
                                    </a>
                                </td>
                            </tr>
                        </table>

                        <!--无数据提示-->
                        <div class="notDataTips hide">
                            <img src="../../assets/admin/images/notDataTips.png" alt=""/><br/>
                            暂无数据
                        </div>

                        <!--正在加载图片-->
                        <div class="loadingTip hide">
                            <img src="../../assets/admin/images/loading.jpg" alt=""/><br/>
                            正在加载,请稍后...
                        </div>
                        <!--分页-->
                        <div class="paging clearfix">
                            <ul class="page-menu clearfix">
                                <p class="page-pre" data-pagenum="1"><i class="fa fa-angle-left"></i></p>
                                <li class="active">1</li>
                                <li class="liPage">2</li>
                                <li class="liPage">3</li>
                                <li class="liPage">4</li>
                                <li class="liPage">5</li>
                                <li class="liPage">6</li>
                                <li class="liPage">7</li>
                            </ul>
                            <input type="text" class="page-num" id="pageNumTarget">
                            <button type="button" class="btn-jump" id="targetButton">跳转</button>
                            <p class="page-next" data-pagenum="2"><i class="fa fa-angle-right"></i></p>
                            <input type="hidden" value="447" id="totalPages">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="footMain">
                <div class="ourMenuDiv">
                    <ul class="clearfix ourMenu">
                        <li>
                            <a href="companyInfor.html">
                                <p class="first">公司简介</p>
                                <p class="last">公司简介</p>
                            </a>
                        </li>
                        <li>
                            <a href="talentRecruitment.html">
                                <p class="first">人才招聘</p>
                                <p class="last">人才招聘</p>
                            </a>
                        </li>
                        <li>
                            <a href="brandCooperation.html">
                                <p class="first">品牌合作</p>
                                <p class="last">品牌合作</p>
                            </a>
                        </li>
                        <li class="last">
                            <a href="aboutUs.html">
                                <p class="first">关于我们</p>
                                <p class="last">关于我们</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ourInfor clearfix">
                    <div class="copyright left">
                        <p class="large">
                            售后客服电话 : 023-58001118 <span>(周一至周五9:00-18:00)</span>
                        </p>
                        <p class="small">
                            渝ICP备15002338号-1 Copyright © 2014~2015 重庆都漫科技有限公司 版权所有
                        </p>
                    </div>
                    <div class="left clearfix ourImg">
                        <div class="left">
                            <p class="title">关注我们:</p>
                            <ul class="iconMenu clearfix">
                                <li>
                                            <span>
                                                贴
                                            </span>
                                </li>
                                <li>
                                    <i class="fa fa-weixin"></i>
                                </li>
                                <li>
                                    <i class="fa fa-weibo"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="left">
                            <img src="../../assets/admin/images/erCode.jpg" alt="" class="codeJpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="maskBg hide"></div>
        <div class="mask hide">
            <form action="###">
                <div class="dailog modiflyDailog hide">
                    <div class="dailogHead">
                        提示
                        <i class="fa fa-remove right"></i>
                    </div>
                    <div class="dailogContent">
                        <div class="title">选择以下信息可是文章准推动到目标群体</div>
                        <div class="divGroup">
                            <span>请选择发布区域</span>
                            <input type="text"/>
                            <span class="color">500E豆</span>
                        </div>
                        <div class="divGroup">
                            <span>请选择面向行业</span>
                            <input type="text"/>
                            <span class="color">500E豆</span>
                        </div>
                        <div class="divGroup">
                            <span>请选择用户标签</span>
                            <input type="text"/>
                            <span class="color">1500E豆</span>
                        </div>
                        <div class="divGroup taRight">
                            <span>总计 : </span>
                            <span class="color">2000E豆</span>
                        </div>
                    </div>
                    <div class="dailogFoot">
                        <button class="btnSure">发布</button>
                        <button class="btnCancel">取消</button>
                    </div>
                </div>
            </form>
            <div class="dailog typeDailog hide">
                <div class="dailogHead">
                    提示
                    <i class="fa fa-remove right"></i>
                </div>
                <div class="dailogContent">
                    <p class="typeP">
                    </p>
                </div>
                <div class="dailogFoot">
                    <button class="btnSure">撤下</button>
                    <button class="btnCancel">取消</button>
                </div>
            </div>
            <div class="dailog lookDailog hide">
                <div class="dailogHead">
                    提示
                    <i class="fa fa-remove right"></i>
                </div>
                <div class="dailogContent">
                    <div class="pCenter">
                        <img src="../../assets/admin/images/erCode.jpg" alt=""/>
                        <p>请扫描二维码,在手机上浏览文章</p>
                    </div>
                </div>

            </div>
            <div class="dailog removeDailog hide">
                <div class="dailogHead">
                    提示
                    <i class="fa fa-remove right"></i>
                </div>
                <div class="dailogContent">
                    <p class="typeP">
                        是否删除?
                    </p>
                </div>
                <div class="dailogFoot">
                    <button class="btnSure">确定</button>
                    <button class="btnCancel">取消</button>
                </div>
            </div>
            <div class="dailog confirmDailog hide">
                <div class="dailogHead">
                    提示
                    <i class="fa fa-remove right"></i>
                </div>
                <div class="dailogContent">
                    <div class="pCenter">
                        <p class="tips1">
                            内容将被发布到<span class="colors">重庆</span>区域,<span class="colors">房地产</span>分类,消费<span class="num">1500E</span>豆
                        </p>
                        <p class="tips1">
                            *请确保您的内容符合《***条件》,E推将审核文章,并在24小时内给予恢复.
                        </p>
                    </div>
                </div>
                <div class="dailogFoot">
                    <button class="btnSure">发布</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/admin/js/global.js"></script>
    <script src="../../assets/admin/js/footHandle.js"></script>
    <script>
        jQuery(document).ready(function() {
            /*分页居中*/
            var ml = ($(".paging").outerWidth()+$(".page-num").outerWidth()+$(".btn-jump").outerWidth())/2;
            $(".paging").get(0).style.marginLeft = -ml+"px";

            /*弹窗居中*/
            function heightAuto(){
                var d = $(".dailog");
                d.each(function(){
                    var ht = -$(this).outerHeight(true)/2 + "px";
                    $(this).get(0).style.marginTop = ht;
                });
            }

            /*弹窗显示*/
            function blockDailog(obj){
                $(".mask,.maskBg").removeClass("hide");
                obj.removeClass("hide").addClass("shake");
                heightAuto();
                $(obj).on('webkitAnimationEnd', function (){
                    $(this).removeClass('shake');
                }).on('animationend', function (){
                    $(this).removeClass('shake');
                });
            }

            $(".dataTable").delegate("td>a.aClick","click",function(){
                $(this).addClass("commonStyle");
                var modiflyDailog = $(".modiflyDailog");
                var typeDailog = $(".typeDailog");
                var removeDailog = $(".removeDailog");
                var lookDailog = $(".lookDailog");
                if($(this).is(".modifyData")){
                    blockDailog(modiflyDailog);
                }else if($(this).is(".typeData")){
                    blockDailog(typeDailog);
                    typeDailog.find(".typeP").text("此篇内容消费了800E豆,撤下后再次发布将再次消费E豆,是否撤下?")
                }else if($(this).is(".removeData")){
                    blockDailog(removeDailog);
                }else if($(this).is(".reply")){
                    blockDailog(typeDailog);
                    typeDailog.find(".typeP").text("是否恢复?")
                }else if($(this).is(".lookData")){
                    blockDailog(lookDailog);
                    lookDailog.find(".typeP").text("是否恢复?")
                }
            });


            /*弹窗影藏*/
            function noneDailog(obj){
                obj.closest(".dailog").addClass("hide");
                obj.closest(".mask").addClass("hide");
                obj.closest(".mask").prev(".maskBg").addClass("hide");
                $(".dataTable").find("a.commonStyle").removeClass("commonStyle");
            }

            $(".mask").delegate(".fa-remove,.btnCancel","click",function(){
                noneDailog($(this));
            });

            /*弹窗撤下*/
            $(".mask").delegate(".btnSure","click",function(){
                if($(this).closest(".dailog").is(".modiflyDailog")){
                }else if($(this).closest(".dailog").is(".typeDailog")){
                    var dataTable = $(".dataTable");
                    dataTable.find(".commonStyle.typeData").addClass("hide");
                    dataTable.find(".commonStyle.typeData").next("a.reply").removeClass("hide");
                    noneDailog($(this));
                }else if($(this).closest(".dailog").is(".removeDailog")){
                    $(".dataTable").find("a.commonStyle").closest("tr").remove();
                    noneDailog($(this));
                }
            });


            /*弹窗恢复*/
            $(".mask").delegate(".reply","click",function(){
                var typeDailog = $(".typeDailog");
                blockDailog(typeDailog);
                typeDailog.find(".typeP").text("是否恢复?")
            })
        });
    </script>
</body>
</html>