<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>素材管理-查询</title>
    <link rel="stylesheet" href="../../assets/admin/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="headMain">
                <img src="../../assets/admin/images/logo.png" alt="" class="logo"/>
                <ul class="clearfix navMeun right">
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li class="active">
                        <a href="productDisplay.html">
                            内容管理
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li>
                        <a href="afterSaleService.html">
                            活动管理
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li>
                        <a href="aboutUs.html">
                            粉丝数据
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li>
                        <a href="#">
                            财务管理
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li class="last">
                        <a href="#">
                            <img src="../../assets/admin/images/companyLogo%20.jpg" alt=""/>
                            有限公搜
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="center">
                <div class="contentMain clearfix">
                    <div class="left navMenu">
                        <div class="title">内容管理</div>
                        <ul class="navList">
                            <li class="active">
                                <a href="contentSourceQueryAdmin.html">
                                    <i class="fa fa-home"></i>
                                    素材管理
                                </a>
                            </li>
                            <li>
                                <a href="contentFlowAdmin.html">
                                    <i class="fa fa-home"></i>
                                    流量管理
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="right contentMaincon">
                        <div class="title">素材管理</div>
                        <form action="###">
                            <div class="divTable clearfix">
                                <div class="inputDiv">
                                    <input type="text" placeholder="输入文章标题" class="inputTitle placeholder"/>
                                </div>
                                <div class="inputDiv clearfix">
                                    <input id="start"  class="Wdate" type="text" placeholder="开始日期" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'end\')}',readOnly:true})"/>
                                    <span class="spanColor">至</span>
                                    <input id="end"  class="Wdate" type="text" placeholder="结束日期" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'start\')||\'%y-%M-{%d+1}\'}',readOnly:true})"/>　
                                </div>
                                <div class="inputDiv mr0">
                                    <button type="submit" class="query">
                                        <i class="fa fa-search"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!--流量管理数据-->
                        <table class="dataTable">
                            <tr>
                                <th>文章标题</th>
                                <th>时间</th>
                                <th>阅读次数</th>
                                <th>阅读人数</th>
                                <th>互赞次数</th>
                                <th>操作</th>
                            </tr>
                            <tr>
                                <td>素材1</td>
                                <td>2016.06.06</td>
                                <td>4578</td>
                                <td>410</td>
                                <td>50</td>
                                <td>
                                    <a class="color1">
                                        <i class="fa fa-home"></i> 详情
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>素材1</td>
                                <td>2016.06.06</td>
                                <td>4578</td>
                                <td>410</td>
                                <td>50</td>
                                <td>
                                    <a class="color1">
                                        <i class="fa fa-home"></i> 详情
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>素材1</td>
                                <td>2016.06.06</td>
                                <td>4578</td>
                                <td>410</td>
                                <td>50</td>
                                <td>
                                    <a class="color1">
                                        <i class="fa fa-home"></i> 详情
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>素材1</td>
                                <td>2016.06.06</td>
                                <td>4578</td>
                                <td>410</td>
                                <td>50</td>
                                <td>
                                    <a class="color1">
                                        <i class="fa fa-home"></i> 详情
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>素材1</td>
                                <td>2016.06.06</td>
                                <td>4578</td>
                                <td>410</td>
                                <td>50</td>
                                <td>
                                    <a class="color1">
                                        <i class="fa fa-home"></i> 详情
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>素材1</td>
                                <td>2016.06.06</td>
                                <td>4578</td>
                                <td>410</td>
                                <td>50</td>
                                <td>
                                    <a class="color1">
                                        <i class="fa fa-home"></i> 详情
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <!--分页-->
                        <div class="paging clearfix">
                            <ul class="page-menu clearfix">
                                <p class="page-pre" data-pagenum="1"><i class="fa fa-angle-left"></i></p>

                                <li class="active">1</li>

                                <li class="liPage">2</li>

                                <li class="liPage">3</li>

                                <li class="liPage">4</li>

                                <li class="liPage">5</li>

                                <li class="liPage">6</li>

                                <li class="liPage">7</li>

                            </ul>
                            <input type="text" class="page-num" id="pageNumTarget">
                            <button type="button" class="btn-jump" id="targetButton">跳转</button>
                            <p class="page-next" data-pagenum="2"><i class="fa fa-angle-right"></i></p>
                            <input type="hidden" value="447" id="totalPages">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="footMain">
                <div class="ourMenuDiv">
                    <ul class="clearfix ourMenu">
                        <li>
                            <a href="companyInfor.html">
                                <p class="first">公司简介</p>
                                <p class="last">公司简介</p>
                            </a>
                        </li>
                        <li>
                            <a href="talentRecruitment.html">
                                <p class="first">人才招聘</p>
                                <p class="last">人才招聘</p>
                            </a>
                        </li>
                        <li>
                            <a href="brandCooperation.html">
                                <p class="first">品牌合作</p>
                                <p class="last">品牌合作</p>
                            </a>
                        </li>
                        <li class="last">
                            <a href="aboutUs.html">
                                <p class="first">关于我们</p>
                                <p class="last">关于我们</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ourInfor clearfix">
                    <div class="copyright left">
                        <p class="large">
                            售后客服电话 : 023-58001118 <span>(周一至周五9:00-18:00)</span>
                        </p>
                        <p class="small">
                            渝ICP备15002338号-1 Copyright © 2014~2015 重庆都漫科技有限公司 版权所有
                        </p>
                    </div>
                    <div class="left clearfix ourImg">
                        <div class="left">
                            <p class="title">关注我们:</p>
                            <ul class="iconMenu clearfix">
                                <li>
                                        <span>
                                            贴
                                        </span>
                                </li>
                                <li>
                                    <i class="fa fa-weixin"></i>
                                </li>
                                <li>
                                    <i class="fa fa-weibo"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="left">
                            <img src="../../assets/admin/images/erCode.jpg" alt="" class="codeJpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/admin/js/global.js"></script>
    <script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
    <script src="../../assets/admin/js/footHandle.js"></script>
    <script>
        jQuery(document).ready(function() {
            var ml = $(".paging").width()/2;
            $(".paging").get(0).style.marginLeft = -ml+"px";
        });
    </script>
</body>
</html>