<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>企业设置</title>
    <link rel="stylesheet" href="../../assets/admin/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="headMain">
                <img src="../../assets/admin/images/logo.png" alt="" class="logo"/>
                <ul class="clearfix navMeun right">
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li class="active">
                        <a href="productDisplay.html">
                            内容管理
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li>
                        <a href="afterSaleService.html">
                            活动管理
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li>
                        <a href="aboutUs.html">
                            粉丝数据
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li>
                        <a href="#">
                            财务管理
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li class="last">
                        <a href="#">
                            <img src="../../assets/admin/images/companyLogo%20.jpg" alt=""/>
                            有限公搜
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="center">
                <div class="contentMain clearfix">
                    <div class="left navMenu">
                        <div class="title">账号管理</div>
                        <ul class="navList">
                            <li>
                                <a href="accountSetting.html">
                                    <i class="fa fa-user"></i>
                                    账号信息
                                </a>
                            </li>
                            <li class="active">
                                <a href="enterpriseSetting.html">
                                    <i class="fa fa-home"></i>
                                    企业信息
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="right contentMaincon">
                        <div class="title">企业信息</div>
                        <ul class="inforList">
                            <li class="on">
                                <div class="defaultInfor">
                                    <span class="name">公司全称 : </span>
                                    <span>重庆易优弧有限公司</span>
                                    <a class="modify right">
                                        修改 <i class="fa fa-angle-double-down"></i>
                                    </a>
                                </div>
                                <div class="modifyInfor clearfix">
                                    <div class="left name">公司全称 : </div>
                                    <div class="left modifyInforCon">
                                        <form action="###">
                                            <div class="clearfix modifyInput">
                                                <div class="left">
                                                    <div class="divInput mb0">
                                                        <input type="text" placeholder="请输入公司全称"/>
                                                    </div>
                                                </div>
                                                <div class="right">
                                                    <button class="btnSure">完成</button>
                                                    <button type="reset" class="btnCancel">取消</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="defaultInfor">
                                    <span class="name">所属行业 : </span>
                                    <span>IT/通信/妇联网</span>
                                    <a class="modify right">
                                        修改 <i class="fa fa-angle-double-down "></i>
                                    </a>
                                </div>
                                <div class="modifyInfor clearfix">
                                    <div class="left name">所属行业 : </div>
                                    <div class="left modifyInforCon">
                                        <form action="###">
                                            <div class="clearfix modifyInput">
                                                <div class="left">
                                                    <div class="divInput mb0">
                                                        <input type="text" placeholder="请输入所属行业"/>
                                                    </div>
                                                </div>
                                                <div class="right">
                                                    <button class="btnSure">完成</button>
                                                    <button type="reset" class="btnCancel">取消</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="defaultInfor">
                                    <span class="name">公司网址 : </span>
                                    <span>www.4399.com</span>
                                    <a class="modify right">
                                        修改 <i class="fa fa-angle-double-down "></i>
                                    </a>
                                </div>
                                <div class="modifyInfor clearfix">
                                    <div class="left name">公司网址 : </div>
                                    <div class="left modifyInforCon">
                                        <form action="###">
                                            <div class="clearfix modifyInput">
                                                <div class="left">
                                                    <div class="divInput mb0">
                                                        <input type="text" placeholder="请输入公司网址"/>
                                                    </div>
                                                </div>
                                                <div class="right">
                                                    <button class="btnSure">完成</button>
                                                    <button type="reset" class="btnCancel">取消</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li class="bb0">
                                <div class="defaultInfor">
                                    <span class="name">公司地址 : </span>
                                    <span>重庆市袁家岗中新城上城</span>
                                    <a class="modify right">
                                        修改 <i class="fa fa-angle-double-down "></i>
                                    </a>
                                </div>
                                <div class="modifyInfor clearfix">
                                    <div class="left name">公司地址 : </div>
                                    <div class="left modifyInforCon">
                                        <form action="###">
                                            <div class="clearfix modifyInput">
                                                <div class="left">
                                                    <div class="divInput mb0">
                                                        <input type="text" placeholder="请输入公司全称"/>
                                                    </div>
                                                </div>
                                                <div class="right">
                                                    <button class="btnSure">完成</button>
                                                    <button type="reset" class="btnCancel">取消</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <!--<li class="bb0">-->
                                <!--<div class="defaultInfor">-->
                                    <!--<span class="name">公司全称 : </span>-->
                                    <!--<span>重庆易优弧有限公司</span>-->
                                    <!--<a class="modify right">-->
                                        <!--修改 <i class="fa fa-angle-double-down "></i>-->
                                    <!--</a>-->
                                <!--</div>-->
                                <!--<div class="modifyInfor clearfix">-->
                                    <!--<div class="left name">公司全称 : </div>-->
                                    <!--<div class="left modifyInforCon">-->
                                        <!--<form action="###">-->
                                            <!--<div class="clearfix modifyInput">-->
                                                <!--<div class="left">-->
                                                    <!--<div class="divInput">-->
                                                        <!--<input type="text" placeholder="请输入公司全称"/>-->
                                                    <!--</div>-->
                                                    <!--<div class="divInput">-->
                                                        <!--<input type="text" placeholder="请输入公司全称"/>-->
                                                    <!--</div>-->
                                                    <!--<div class="divInput mb0">-->
                                                        <!--<input type="text" placeholder="请输入公司全称"/>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="right">-->
                                                    <!--<button class="btnSure">完成</button>-->
                                                    <!--<button class="btnCancel">取消</button>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</form>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="footMain">
                <div class="ourMenuDiv">
                    <ul class="clearfix ourMenu">
                        <li>
                            <a href="companyInfor.html">
                                <p class="first">公司简介</p>
                                <p class="last">公司简介</p>
                            </a>
                        </li>
                        <li>
                            <a href="talentRecruitment.html">
                                <p class="first">人才招聘</p>
                                <p class="last">人才招聘</p>
                            </a>
                        </li>
                        <li>
                            <a href="brandCooperation.html">
                                <p class="first">品牌合作</p>
                                <p class="last">品牌合作</p>
                            </a>
                        </li>
                        <li class="last">
                            <a href="aboutUs.html">
                                <p class="first">关于我们</p>
                                <p class="last">关于我们</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ourInfor clearfix">
                    <div class="copyright left">
                        <p class="large">
                            售后客服电话 : 023-58001118 <span>(周一至周五9:00-18:00)</span>
                        </p>
                        <p class="small">
                            渝ICP备15002338号-1 Copyright © 2014~2015 重庆都漫科技有限公司 版权所有
                        </p>
                    </div>
                    <div class="left clearfix ourImg">
                        <div class="left">
                            <p class="title">关注我们:</p>
                            <ul class="iconMenu clearfix">
                                <li>
                                    <span>
                                        贴
                                    </span>
                                </li>
                                <li>
                                    <i class="fa fa-weixin"></i>
                                </li>
                                <li>
                                    <i class="fa fa-weibo"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="left">
                            <img src="../../assets/admin/images/erCode.jpg" alt="" class="codeJpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/admin/js/global.js"></script>
    <script src="../../assets/admin/js/footHandle.js"></script>
    <script src="../../assets/admin/js/sliderUpDown.js"></script>
    <script src="../../assets/admin/js/tips.js"></script>
    <script>
        $(function(){
            /**/
            $(".inforList li").sliderUpDown();
            tipsContent("验证码不正确",$(".tips"),"fail");

            /*信息修改确定*/
            $(".modifyInput").delegate("div.right .btnSure","click",function(){
                $(this).closest(".modifyInput").find("")
            })
        });
    </script>
</body>
</html>