<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../../assets/admin/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="headMain">
                <img src="../../assets/admin/images/logo.png" alt="" class="logo"/>
                <ul class="clearfix navMeun right">
                    <li class="active">
                        <a href="index.html">
                            首页
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li>
                        <a href="productDisplay.html">
                            内容管理
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li>
                        <a href="afterSaleService.html">
                            活动管理
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li>
                        <a href="aboutUs.html">
                            粉丝数据
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li>
                        <a href="#">
                            财务管理
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li class="last">
                        <a href="#">
                            <img src="../../assets/admin/images/companyLogo.jpg" alt=""/>
                            有限公搜
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content" style="background: #f5f5f5;">
            <div class="center">
                <div class="contentMain clearfix">
                    <div class="left contentMainLeft">
                        <div class="contentLeft">
                            <div class="title">账号信息</div>
                            <div class="companyInfor clearfix">
                                <div class="first">
                                    <img src="../../assets/admin/images/personLogo.jpg" alt=""/>
                                </div>
                                <div class="last">
                                    <p class="taRight">
                                        <a>
                                            <i class="fa fa-pencil"></i>
                                            编辑
                                        </a>
                                    </p>
                                    <p class="companyName">重庆易优弧科技有限公司</p>
                                </div>
                            </div>
                            <div class="userInfor">
                                <p>
                                    <i class="fa fa-user"></i>
                                    账户类型 : 普通会员
                                </p>

                                <p class="ma">
                                    <a>账户详情 <i class="fa fa-angle-double-right"></i></a>
                                </p>

                                <p>
                                    <i class="fa fa-money"></i> E豆余额 : 500
                                    <a href="###" class="btnCharge right">充值</a>
                                </p>
                            </div>
                        </div>
                        <div style="width: 100%;height: 8px;background: #f5f5f5;"></div>
                        <div class="contentLeft">
                            <div class="title">E推热榜</div>
                            <ul class="titleNav clearfix">
                                <li class="active">内容</li>
                                <li>活动</li>
                            </ul>
                            <ul class="contentList">
                                <li class="clearfix">
                                    <span class="number first">①</span>
                                    <div class="contentListInfor">
                                        <p class="name first">夏日炎炎,分享好的防护霜</p>

                                        <p class="companyName">雅漾防晒系列</p>

                                        <p class="taRight">
                                            <i class="fa fa-home"></i> 51714
                                        </p>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <span class="number">②</span>
                                    <div class="contentListInfor">
                                        <p class="name">夏日炎炎,分享好的防护霜</p>

                                        <p class="companyName">雅漾防晒系列</p>

                                        <p class="taRight">
                                            <i class="fa fa-home"></i> 51714
                                        </p>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <span class="number">③</span>
                                    <div class="contentListInfor">
                                        <p class="name">夏日炎炎,分享好的防护霜</p>

                                        <p class="companyName">雅漾防晒系列</p>

                                        <p class="taRight">
                                            <i class="fa fa-home"></i> 51714
                                        </p>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <span class="number">④</span>
                                    <div class="contentListInfor">
                                        <p class="name">夏日炎炎,分享好的防护霜</p>

                                        <p class="companyName">雅漾防晒系列</p>

                                        <p class="taRight">
                                            <i class="fa fa-home"></i> 51714
                                        </p>
                                    </div>
                                </li>
                                <li class="clearfix bb0">
                                    <div class="textCenter">
                                        <img src="../../assets/admin/images/erCode.jpg" alt=""/> <br/>
                                        关注E推数据公众号
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right contentMaincon style">
                        <ul class="contentMainconList clearfix">
                            <li>
                                <div class="headList">
                                    内容管理
                                    <a class="btnInfor right">查看详情 <i class="fa fa-angle-double-right"></i></a>
                                </div>
                                <div class="headCon">
                                    <ul class="contentNumList clearfix">
                                        <li>
                                            <p>未发布</p>
                                            <div class="contentNumDiv bg1">
                                                45
                                            </div>
                                        </li>
                                        <li>
                                            <p>已发布</p>
                                            <div class="contentNumDiv bg2">
                                                32
                                            </div>
                                        </li>
                                        <li>
                                            <p>发布新内容</p>
                                            <div class="contentNumDiv bg3">
                                                <a href="###">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mr0">
                                <div class="headList">
                                    活动管理
                                    <a class="btnInfor right">查看详情 <i class="fa fa-angle-double-right"></i></a>
                                </div>
                                <div class="headCon">
                                    <ul class="contentNumList clearfix">
                                        <li>
                                            <p>正在报名</p>
                                            <div class="contentNumDiv bg4">
                                                45
                                            </div>
                                        </li>
                                        <li>
                                            <p>已过期</p>
                                            <div class="contentNumDiv bg5">
                                                32
                                            </div>
                                        </li>
                                        <li>
                                            <p>发布新活动</p>
                                            <div class="contentNumDiv bg6">
                                                <a href="###">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div class="personInfor clearfix">
                            <div class="left">
                                <img src="../../assets/admin/images/personImg.jpg" alt="" class="personImg"/>
                            </div>
                            <div class="left">
                                <p class="name">小红</p>
                                <p>报名</p>
                            </div>
                            <div class="left activeName">
                                【活动】夏日炎炎,分享好的防晒霜
                            </div>
                            <div class="right time">
                                8分钟前
                            </div>
                        </div>
                        <div class="ETdata">
                            <div class="ETtitle">T推数据快报</div>
                            <ul class="typeList clearfix style">
                                <li class="active">
                                    <a href="activityParticipationSignUp.html">
                                        内容
                                    </a>
                                </li>
                                <li>
                                    <a href="activityParticipationInterested.html">
                                        活动
                                    </a>
                                </li>
                            </ul>
                            <div class="dataContent">
                                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="footMain">
                <div class="ourMenuDiv">
                    <ul class="clearfix ourMenu">
                        <li>
                            <a href="companyInfor.html">
                                <p class="first">公司简介</p>
                                <p class="last">公司简介</p>
                            </a>
                        </li>
                        <li>
                            <a href="talentRecruitment.html">
                                <p class="first">人才招聘</p>
                                <p class="last">人才招聘</p>
                            </a>
                        </li>
                        <li>
                            <a href="brandCooperation.html">
                                <p class="first">品牌合作</p>
                                <p class="last">品牌合作</p>
                            </a>
                        </li>
                        <li class="last">
                            <a href="aboutUs.html">
                                <p class="first">关于我们</p>
                                <p class="last">关于我们</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ourInfor clearfix">
                    <div class="copyright left">
                        <p class="large">
                            售后客服电话 : 023-58001118 <span>(周一至周五9:00-18:00)</span>
                        </p>
                        <p class="small">
                            渝ICP备15002338号-1 Copyright © 2014~2015 重庆都漫科技有限公司 版权所有
                        </p>
                    </div>
                    <div class="left clearfix ourImg">
                        <div class="left">
                            <p class="title">关注我们:</p>
                            <ul class="iconMenu clearfix">
                                <li>
                                    <span>
                                        贴
                                    </span>
                                </li>
                                <li>
                                    <i class="fa fa-weixin"></i>
                                </li>
                                <li>
                                    <i class="fa fa-weibo"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="left">
                            <img src="../../assets/admin/images/erCode.jpg" alt="" class="codeJpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/admin/js/global.js"></script>
    <script src="../../assets/global/plugins/highCharts/js/highcharts.js"></script>
    <script src="../../assets/global/plugins/highCharts/js/exporting.js"></script>
    <script>
        $('#container').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: '职位统计'
            },
            subtitle: {
                text: '职位统计'
            },
            xAxis: {
                allowDecimals: false,
                labels: {
                    formatter: function () {
                        return this.value; // clean, unformatted number for year
                    }
                }
            },
            yAxis: {
                title: {
                    text: '浏览量'
                },
                labels: {
                    formatter: function () {
                        return this.value / 1000 + 'k';
                    }
                }
            },
            tooltip: {
                pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
            },
            plotOptions: {
                area: {
                    pointStart: 2010,
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [{
                name: '图文页阅读次数',
                data: [null, null, null, null, null, 6, 11, 32, 110, 235, 369, 640,
                    1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468, 20434, 24126,
                    27387, 29459, 31056, 31982, 32040, 31233, 29224, 27342, 26662,
                    26956, 27912, 28999, 28965, 27826, 25579, 25722, 24826, 24605,
                    24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344, 23586,
                    22380, 21004, 17287, 14747, 13076, 12555, 12144, 11009, 10950,
                    10871, 10824, 10577, 10527, 10475, 10421, 10358, 10295, 10104]
            }, {
                name: '图文页阅读人数',
                data: [100, null, null, null, null, null, null, null, null, null,
                    1000, 25, 50, 120, 150, 200, 426, 660, 869, 1060, 1605, 2471, 3322,
                    4238, 5221, 6129, 7089, 8339, 9399, 10538, 11643, 13092, 14478,
                    15915, 17385, 19055, 21205, 23044, 25393, 27935, 30062, 32049,
                    33952, 35804, 37431, 39197, 45000, 43000, 41000, 39000, 37000,
                    35000, 33000, 31000, 29000, 27000, 25000, 24000, 23000, 22000,
                    21000, 20000, 19000, 18000, 18000, 17000, 16000]
            }, {
                name: '转发人数',
                data: [100, null, null, null, null, null, null, null, null, null,
                    1000, 25, 50, 120, 150, 200, 426, 660, 869, 1060, 1605, 2471, 3322,
                    4238, 5221, 6129, 7089, 8339, 9399, 10538, 11643, 13092, 14478,
                    15915, 17385, 19055, 21205, 23044, 25393, 27935, 30062, 32049,
                    33952, 35804, 37431, 39197, 45000, 43000, 41000, 39000, 37000,
                    35000, 33000, 31000, 29000, 27000, 25000, 24000, 23000, 22000,
                    21000, 20000, 19000, 18000, 18000, 17000, 16000]
            }]
        });
    </script>
</body>
</html>