<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>活动管理-编辑活动</title>
    <link rel="stylesheet" href="../../assets/admin/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="headMain">
                <img src="../../assets/admin/images/logo.png" alt="" class="logo"/>
                <ul class="clearfix navMeun right">
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li class="active">
                        <a href="productDisplay.html">
                            内容管理
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li>
                        <a href="afterSaleService.html">
                            活动管理
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li>
                        <a href="aboutUs.html">
                            粉丝数据
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li>
                        <a href="#">
                            财务管理
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                    <li class="last">
                        <a href="#">
                            <img src="../../assets/admin/images/companyLogo.jpg" alt=""/>
                            有限公搜
                        </a>
                        <div class="colorBlock"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="center">
                <div class="contentMain clearfix">
                    <div class="left navMenu">
                        <div class="title">活动管理</div>
                        <ul class="navList">
                            <li>
                                <a href="activityManagement.html">
                                    <i class="fa fa-home"></i>
                                    活动管理
                                </a>
                            </li>
                            <li>
                                <a href="activityParticipation.html">
                                    <i class="fa fa-home"></i>
                                    活动参与
                                </a>
                            </li>
                            <li class="active">
                                <a href="activityFlow.html">
                                    <i class="fa fa-home"></i>
                                    活动流量
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="right contentMaincon">
                        <form action="###">
                            <div class="title">活动管理</div>
                            <div class="divForm">
                                <div class="divInput">
                                    <span class="type">活动名称 : </span>
                                    <input type="text" placeholder="试吃活动"/>
                                </div>
                                <div class="divInput">
                                    <span class="type">活动类型 : </span>
                                    <select>
                                        <option value="美食">美食</option>
                                        <option value="爬山">爬山</option>
                                        <option value="骑车">骑车</option>
                                        <option value="旅游">旅游</option>
                                    </select>
                                </div>
                                <div class="divInput">
                                    <span class="type">时间 : </span>
                                    <input type="text"/>
                                    <select>
                                        <option value="9 : 00">9 : 00</option>
                                        <option value="9 : 00">9 : 00</option>
                                        <option value="9 : 00">9 : 00</option>
                                        <option value="9 : 00">9 : 00</option>
                                    </select>
                                </div>
                                <div class="divInput">
                                    <span class="type">活动类型 : </span>
                                    <select>
                                        <option value="请选择">请选择</option>
                                        <option value="四川">四川</option>
                                        <option value="四川">四川</option>
                                        <option value="四川">四川</option>
                                    </select>
                                    <select>
                                        <option value="广安">广安</option>
                                        <option value="广安">广安</option>
                                        <option value="广安">广安</option>
                                        <option value="广安">广安</option>
                                    </select>
                                    <select>
                                        <option value="武胜">武胜</option>
                                        <option value="武胜">武胜</option>
                                        <option value="武胜">武胜</option>
                                        <option value="武胜">武胜</option>
                                    </select>
                                </div>
                                <div class="divInput">
                                    <span class="type">费用 : </span>
                                    <input type="text" placeholder="50元/人"/>
                                </div>
                            </div>
                            <div class="title">活动介绍</div>
                            <div class="divForm">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="footMain">
                <div class="ourMenuDiv">
                    <ul class="clearfix ourMenu">
                        <li>
                            <a href="companyInfor.html">
                                <p class="first">公司简介</p>
                                <p class="last">公司简介</p>
                            </a>
                        </li>
                        <li>
                            <a href="talentRecruitment.html">
                                <p class="first">人才招聘</p>
                                <p class="last">人才招聘</p>
                            </a>
                        </li>
                        <li>
                            <a href="brandCooperation.html">
                                <p class="first">品牌合作</p>
                                <p class="last">品牌合作</p>
                            </a>
                        </li>
                        <li class="last">
                            <a href="aboutUs.html">
                                <p class="first">关于我们</p>
                                <p class="last">关于我们</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ourInfor clearfix">
                    <div class="copyright left">
                        <p class="large">
                            售后客服电话 : 023-58001118 <span>(周一至周五9:00-18:00)</span>
                        </p>
                        <p class="small">
                            渝ICP备15002338号-1 Copyright © 2014~2015 重庆都漫科技有限公司 版权所有
                        </p>
                    </div>
                    <div class="left clearfix ourImg">
                        <div class="left">
                            <p class="title">关注我们:</p>
                            <ul class="iconMenu clearfix">
                                <li>
                                                        <span>
                                                            贴
                                                        </span>
                                </li>
                                <li>
                                    <i class="fa fa-weixin"></i>
                                </li>
                                <li>
                                    <i class="fa fa-weibo"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="left">
                            <img src="../../assets/admin/images/erCode.jpg" alt="" class="codeJpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/admin/js/global.js"></script>
    <script src="../../assets/admin/js/footHandle.js"></script>
</body>
</html>