@charset "utf-8";
/*common style*/
.verdana{font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;}
body,html{margin:0;padding:0;font-size:16px;color:#000;font-family:"微软雅黑";}
ul,li,img,p{margin:0;padding:0;list-style:none;border:none;}
a{color:#000;text-decoration:none;}
body{background: #fff;overflow-x: hidden;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;}
.relative{position:relative;}
.absolute{position: absolute;}
.fix     {position: fixed;}
.left{float: left;}
.right{float: right;}
.hide{display: none;}
html[xmlns] .clearfix {display: block;}
input, button {
    outline: none;
    border: none;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft Yahei","WenQuanYi Micro Hei",sans-serif;
}
a,button,input,img,table,ul,li,tr,td,div{-webkit-tap-highlight-color:rgba(0,0,0,0);}
button:active,a:active{opacity: 0.85;}
.overflow-y{overflow-y: hidden;height: 100%;}
.content {width: 100%;position: relative;}
.content.overflow{overflow-x: hidden;}

img.w100{width: 100%;}
button{outline:none;border:0;background:none;}
button:hover,a:hover{cursor:pointer;}
.head{background: #fff;position: fixed;top: 0;z-index: 100;width:100%;min-width:1200px;
    transition:padding 1s;
    -moz-transition:padding 1s; /* Firefox 4 */
    -webkit-transition:padding 1s; /* Safari and Chrome */
    -o-transition:padding 1s; /* Opera */}
.content{}
.foot{}


/*index*/
.head.on{padding: 15px 0;box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);}
.headMain{display: block;width: 94%;padding: 10px 0;margin: 0 auto;}
img.logo{width: 170px;}
.headMain .right{height: 100%;top: 15px;position: relative;}
.menu{display: block;height: 100%;}
.menu li{float: left;width: 75px;text-align: center;margin: 0 15px;height: 34px;line-height: 34px;}
.menu li.active a{color: #fff;background: #2dbeac;}
.menu li a{font-size: 16px;color: #333;display: block;height: 100%;width: 100%;border-radius: 4px;}
.menu li a.login,.menu li a.register{border-radius: 4px;}
.menu li a.register{color: #fff;background: #2dbeac;}
.menu li a.login{color: #333;border: 1px solid #dbdbdb;}
.menu li:last-child{margin: 0;}
.content{margin-top: 85px;}
.ykh{}
.ykhHead{background: #fff;text-align: center;height: 170px;overflow: hidden;}
.ykhHead .bigTitle{color: #333;font-size: 28px;margin: 50px 0 10px;}
.ykhHead .smallTitle{color: #999;font-size: 16px;}
.ykhCon{width: 100%;height: 594px;overflow: hidden;background: #f3f3f3;}
.ykhCon .funMenu{position: relative;display: block;width: 100%;height: 435px;background: url("../images/teBg.png") no-repeat;background-size: 100% 100%;margin-top: 165px;}
.funMenu li{width: 170px;height: 150px;position: absolute;border-radius: 100%;text-align: center;}
.funMenu li p{margin-top: 170px;color: #fff;}
.funMenu li:hover p{color: #0daf98;}
.funMenu li.first{left:10%;bottom: 145px;}
.funMenu li.second{left:32%;bottom: 185px;}
.funMenu li.three{right:32%;bottom: 215px;}
.funMenu li.four{right:10%;top: -90px;}
.funMenu li canvas{position: absolute;left: 0;top: 0;}
.funMenu li .radius{width: 120px;height: 120px;background: #3a3a40;border-radius: 100%;margin-top: -60px;margin-left: -70px;z-index: 10;left: 50%;top: 50%;position: absolute;text-align: center;display: flex;
    align-items: center; /*定义body的元素垂直居中*/
    justify-content: center;}

.ykhCon .title{font-size: 28px;text-align: center;color: #333;position: relative;top: 50px; }
.ykhFoot{background: #0daf98;text-align: center;height: 170px;overflow: hidden;}
.ykhFoot .smallTitle{font-size: 16px;color: #fff;margin: 45px 0 10px;}
.ykhFoot p.title{font-size: 24px;color: #fff;padding: 5px 15px;border-radius: 20px;border: 1px solid #fff;display: inline-block;}
.aninte{position: relative;background:#fff;min-width:1200px;}
.aninteObj{display: block;height:550px;margin:20px 0;}
.aninteObj>.right,.aninteObj>.left{position: relative;}
.aninteObj>.left{width: 50%;}
.aninteObj>.right{width: 50%;}
.aninteObj>.right2{text-align:right;}
.aninteObj .aninte1{width: 60%;position: relative;top: 110px;left: 50px;}
.aninteObj .aninte3{width:75%;}
.aninteObj .aninte2{width:80%;left:20%;position: relative;top: 110px;}
.aninteObj .aninte4{width:50%;left:50%;}
.aninteObj>div>img{width:80%;max-height: 550px;}
.aninte1{}
.aninte1 .anit2{width:50%;}
.aninte1 .title1,.aninte2 .title1,.aninte3 .title1,.aninte4 .title1{margin: 10px 0;font-size: 35px;}
.aninte1 .title1{color: #f5d13f;}
.aninte2 .title1{color: #0daf98;}
.aninte3 .title1{color: #72CFFF;}
.aninte4 .title1{color: #F65A3B;}
.conInfor{font-size: 16px;color: #666;line-height: 24px;height:130px;}
.btnNext{padding:10px 68px;background:#000;color:#fff;font-size:16px;}
.btnNext .fa{font-size:12px;}
.aninte1 .btnNext:hover{background:#f5d13f;}
.aninte2 .btnNext:hover{background:#0daf98;}
.aninte3 .btnNext:hover{background:#72CFFF;}
.aninte4 .btnNext:hover{background:#F65A3B;}
.anit1-2{position:absolute;right:-100px;top:-12px;}
.anit4{position:absolute;right:-10px;top:25px;}
.aninteObj5{height: 580px;width: 100%;background:url("../images/anitbg5.jpg") no-repeat; background-size: 100% 100%;}
.anite5{position: relative;left: 50%;width: 30%;margin-left: -15%;top: 200px;}
.anite5 .anit5{position: absolute;left: -70px;top: -60px;}
.anite5 .conInfor{color: #fff;}
.anite5 .conInfor .title{font-size: 28px;color: #7B74B6;margin: 0 0 15px 0;display: block;}
.anite5 .btnNext{background: #fff;color: #333;}
.anite5 .btnNext:hover{background:#7B74B6;color: #fff;}


.case{width: 1380px;margin: 40px auto;}
.case .title{font-size: 28px;color: #333;margin-bottom: 20px;}
.menuCase{display: block;height: 41px;}
.menuCase li{float: left;margin-right: 20px;}
.menuCase li.mr0{}
.menuCase li a{padding: 10px 64px;background: #F5F5F5;}
.menuCase li a:hover{cursor: pointer;background: #333;color: #fff;}
.menuCase li.active a{background: #333;color: #fff;}
.productMenu{display: block;opacity: 0;position: absolute;top:0;left: 0;}
.productMenu.hide{visibility: hidden;}
.productMenu li{float: left;margin-right: 20px;}
.productMenu li.mr0{margin-right: 0;}
.productMenu li a{position: relative;display: block;width: 446px;height:280px;}
.productMenu li a>img{width: 100%;height: 100%;}
.maskCase.hide,.maskCase-bg.hide{display: none;}
.maskCase{background: #000;opacity: 0.6;filter:alpha(opacity=60);}
.maskCase,.maskCase-bg{position: absolute;left: 0;right: 0;top:0;bottom:0;}
.maskCase-bg>img{width: 100px;height: 100px;position: absolute;left: 50%;top: 50%;margin-left: -50px;margin-top: -50px;}
.product{position: relative;height: 280px;}
.production{text-align: center;}
.production .title{font-size: 25px;color: #333;padding: 15px 25px;border-radius: 20px;border: 1px solid #dbdbdb;display: inline-block;margin: 50px 0 80px;}

/*product*/
.productMenus{display: block;width: 90%;background: #f4f4f4;padding: 15px 5% 0;}
.productMenus li{float: left;width: 25%;height: 540px;position: relative;overflow: hidden;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -o-transition:all 1s;
}
.productMenus li:hover{
    border-radius: 20px;
    z-index: 10;
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    box-shadow: 0 0 16px 8px rgba(18, 154, 134, 0.6);
}
.productMenus li.first:hover .productMask{ background: url("../images/product1.png") no-repeat;;background-size: 111% 111%;background-position: 50% 50%;}
.productMenus li.second:hover .productMask{ background: url("../images/product2.png") no-repeat;;background-size: 111% 111%;background-position: 50% 50%;}
.productMenus li.three:hover .productMask{ background: url("../images/product3.png") no-repeat;;background-size: 111% 111%;background-position: 50% 50%;}
.productMenus li.four:hover .productMask{ background: url("../images/product4.png") no-repeat;;background-size: 111% 111%;background-position: 50% 50%;}
.productMenus li .productMask .clicle{position: absolute;left: 50%;margin-left: -30px;top: 40%;}
.productMenus li .productMask:hover .clicle{position: absolute;left: 50%;margin-left: -57px;top: 20%;padding: 10px;background: #0a9581;border-radius: 100%;}
.productMenus li .productMask img{width: 60px;height: 60px;}
.productMenus li .productMask:hover .clicle .clicleDiv{border: 2px solid #fff;border-radius: 100%;padding: 15px;}
.productMenus li .productMask p.infor{font-size: 16px;color: #fff;text-align: center;
    position: absolute;width: 80%;left: 50%;margin-left: -40%;top: 60%;display: none;}
.productMenus li .productMask p.infor.active{display: block;
    -webkit-animation: showSweetAlert 0.2s;
    -moz-animation: showSweetAlert 0.2s;
    animation: showSweetAlert 0.2s;
}
@-webkit-keyframes showSweetAlert {
    0% {
        top:0; }
    25% {
        top: 15%; }
    50% {
        top: 30%; }
    75% {
        top: 45%; }
    100% {
        top: 60%; }
    }


.productMenus li.first{background: url("../images/production1.jpg") no-repeat;background-position: -100px -100px;}
.productMenus li.second{background: url("../images/production2.jpg") no-repeat;}
.productMenus li.three{background: url("../images/production3.jpg") no-repeat;background-position: -100px 0px;}
.productMenus li.four{background: url("../images/production4.jpg") no-repeat;background-position: -100px 0px;}
.productMenus li .productMask{position: absolute;background: rgba(0,0,0,0.6);left: 0;top: 0;right: 0;bottom: 0;}
.caseCon{width: 1380px;margin: 0 auto;}
.caseMenu{display: block;width: 100%;}
.caseMenu li{float: left;padding: 10px 25px;border-bottom: 2px solid transparent;margin-right: 14.5%;}
.caseMenu li:hover{border-bottom: 3px solid #0daf98;}
.caseMenu li:hover a{color: #0daf98;}
.caseMenu li:last-child{margin-right: 0;}
.caseMenu li.active{border-bottom: 3px solid #0daf98;}
.caseMenu li.active a{color: #0daf98;}
.caseMenu li a{color: #333;}
.caseList{display: block;height: 588px;}
.caseList li{opacity: 0;}
.caseList li.hide{overflow: hidden;}
.caseList li .title{text-align: center;margin: 50px 0;font-size: 14px;color: #666;}
.caseList li img{width: 100%;height: 514px;}
.barImg{top: -5px;}
.ykhsc{text-align: center;padding: 100px 0 50px;background: #f4f4f4;}
.largeTitle{font-size: 39px;color: #0b0306;}
.smallTitle{font-size: 26px;color: #0b0306;margin: 15px 0;}
.btnFree{color: #fff;padding: 15px 70px;background: #0daf98;border-radius: 8px;font-family: "微软雅黑";font-size: 30px;}



.imgHover{ display:block; position: relative;  margin:0 auto;}
.imgHover:before { content: ""; position: absolute; width:200px; height: 99%; top: 0; left: -150px; overflow: hidden;
    background: -moz-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,.2)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
    -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg)
}
.imgHover:hover:before { left: 100%; transition: left 1s ease 0s; }
.autoImg{position: relative;}


/*login*/
body,html{height: 100%;}
.wrapper{width: 100%;height: 100%;min-height: 800px;}
.logBodyBg{width: 100%;height: 100%;position: absolute;z-index: 1;left: 0;top: 0;overflow: hidden;min-width: 1024px;}
.logBodyBg img{width: 100%; height: 100%;}
.logWrap,.regWrap{background-color: #fff;width: 520px;position: absolute;z-index: 2000;left: 50%;top: 50%;margin: 0 0 0 -260px;border-radius: 8px;}
.reWrap{margin-top: -180px;height: 460px;}
.loginPeople{position: absolute;top: -130px;left: 190px;}
.logBox,.regBox{padding-top:1px;margin: 20px 50px;}
.logBox .title,.regBox .title{font-size: 30px;color: #2dbead;width: 100%;text-align: center;padding-bottom: 20px;}
.form{width: 100%;height:100%;font-size: 14px;}
.form.fs14{font-size: 14px;}
body.overflow{overflow-y: hidden;overflow-x: auto;}
.form-group .getcode.active{background: #ccc;color: #999;}
.question-infor{position: absolute;width: 200px;padding: 10px;background: #ff7f81;font-size: 14px;color: #fff;top: -8px;right: -204px;z-index: 10;display: none;font-family: "微软雅黑";}
.question-infor .fa{position: absolute;left: -5px;top: 8px;color: #ff7f81;font-size: 16px;}
.question-infor p{line-height: 16px;top: 0;}
.form .form-group .w100{width: 100%;position: relative;border: 1px solid #dbdbdb;border-radius: 20px;padding: 9px 1%;}
.form .form-group .w100 .inputText{width: 270px;padding-left: 5px;border: none;}
.form .form-group .w100 .selectText{width: 330px;padding-left: 5px;border: none;outline: none;}
.form .form-group .w100 .inputText.w200{width: 160px;}
input.btn-click{background: #f16a20;font-size: 12px;color: #fff;border-radius: 20px;}
input.btn-click:hover{background: #e16a20}
.form .form-group .btn-click{background: #47aaea;font-size: 14px;color: #fff;border-radius: 4px;text-align: center;border: none;display: block;width: 140px;margin: 40px auto 0;}
.form .form-group .btn-click:hover{text-decoration: none;opacity: 0.8;filter:alpha(opacity=80);}
.form  a:hover{text-decoration: underline;}
.form  a{color: #33c5d2;}
.form-group.bo .w100 {border: none;color: #666;padding: 0;margin: 10px 0;  }
.form-group .errMessge { color: #ff0004;}
.form .form-group .w100 .inputText { width: 310px;padding-left: 5px;border: none;}
label.error {color: #EA5200;margin-bottom: 0;}
.form .mt{margin-top: 10px;}
.form-group.h54{height: 20px;margin-bottom: 0;font-size: 14px;}
.form .form-group.bocea .w100{border-color: #7ad7c8;}
.form .form-group.has-error .w100{border-color: #EA5200;}
.input-group .form-control.w66{width: 65.6666%;padding-left: 1%;line-height: 30px;}
.input-group span.c6{color: #666;font-size: 14px;}
.form-group .checkboxs{vertical-align: text-top;}
.form-group.mb0{margin-bottom: 0;}
.form-group .check{color: #666;}
.form-group.bo .w100{border: none;color: #666;padding: 0;margin: 10px 0;}
.form-group .getcode{position: absolute;right: 0;top: 0;height: 39px;width: 140px;background: #fff;text-align: center;line-height: 34px;color: #47aaea;font-size: 14px;border-left: 1px solid #dbdbdb;border-radius: 0 20px 20px 0;}
.form-group .getcode:hover{opacity: 0.8;filter:alpha(opacity=80);}
.form-group .w100 .type{display: inline-block;width: 70px;color: #666;text-align: right;}
.form-group .help-block-error{position: relative;left: 0;color: #fe695c;}
.form-group .errMessge{color: #ff0004;}
.form-group .btnSure{padding: 10px 12px;outline: none;border: 0;background: #2dbead;color: #fff;width: 140px;border-radius: 20px;margin-left: -20px;}
.form-group .btnSure.style{background: #b1b1b1;color: #fff;}
.form-group .btnSure.style:hover{text-decoration: none;}
.form-horizontal .form-group .btnReturn{background: #9a9a9a;color: #333;margin-left: 20px;display: inline-block;left: 210px;}
.form .form-group .btnReturn{padding: 10px 12px;background: #33c5d2;color: #fff;width: 140px;border-radius: 20px;display: inline-block;margin-left: 10px;}
.form-group .btn:active{outline: none;border: none;}
.form-group .btnReturn:hover{text-decoration: none;}
.form-group.h34{height: 40px;margin-bottom: 25px;}
label{font-weight: 100;color: #4B525C;}
.div-form .lg1,.div-form .lg2{position: absolute;}
.div-form .lg1{left: -47px;top: 240px;}
.div-form .lg2{right: -47px;top: 200px;}
.form-group.style{padding: 0 30px;}
.div-form .rg1,.div-form .rg2{position: absolute;}
.div-form .rg1{left: -54px;top: 354px;}
.div-form .rg2{right: -46px;top: 170px;}

/*aboutUs*/
.aboutUs{width: 1130px;display: block;margin: 30px auto;}
.aboutUs .divMenu{width: 175px;text-align: center;position: fixed;}
.aboutUs .divCase{width: 870px;}
.usMenu{width: 100%;}
.usMenu li{width: 100%;}
.usMenu li a{border-bottom: 1px solid #dbdbdb;padding: 25px 0;color: #333;font-size: 26px;display: block;}
.usMenu li a:hover{cursor: default;}
.usMenu li:last-child a{border-bottom: 0;}
.usMenu li.active{}
.usMenu li.active a{color: #0eaf98;}
.hjj,.fzlc,.llwm,.cjwt{padding: 25px 0;border-bottom: 1px solid #dbdbdb;}
.cjwt{border-bottom: 0;}
.hjj .title,.fzlc .title,.llwm .title,.cjwt .title{font-size: 30px;color: #333;margin-bottom: 15px;}
.hjj .infor{font-size: 16px;line-height: 24px;margin-top: 15px;}
.fzlc .smallTitles{margin-bottom: 5px;line-height: 24px;}
.fzlc p{line-height: 50px;}
.fzlc p img{margin-right: 15px;}
.llwm p{line-height: 40px;}
.llwm p img{margin-right: 10px;position: relative;top: 4px;}
.llwm .code{width: 156px;height: 156px;}
#allmap{width: 100%;height: 480px;}
.cjwt p{line-height: 24px;margin-bottom: 20px;}
.cjwt p img{margin-right: 15px;}
.cjwt p span{position: relative;left: 30px;color: #666;}


/*applica*/
.application{width: 1110px;margin: 0 auto 40px;}
.application>.title{text-align: center;font-size: 28px;margin: 20px 0;}
.applicaMenu{width: 100%;display: block;}
.applicaMenu li{width: 48%;margin-right: 2%;border-radius: 8px;float: left;height: 370px;text-align: center;margin-bottom: 20px;}
.applicaMenu li.second,.applicaMenu li.four,.applicaMenu li.six{margin-right: 0;}
.applicaMenu li .title{font-size: 28px;}
.applicaMenu li.first,.applicaMenu li.first a{background: #ddf4f1;color: #0daf98;}
.applicaMenu li.second,.applicaMenu li.second a{background: #e2f4fa;color: #59b6d6;}
.applicaMenu li.three,.applicaMenu li.three a{background: #dde8f4;color: #5e91cc;}
.applicaMenu li.four,.applicaMenu li.four a{background: #e2fae8;color: #81af77;}
.applicaMenu li.five,.applicaMenu li.five a{background: #f8f1e2;color: #c0932f;}
.applicaMenu li.six,.applicaMenu li.six a{background: #f8efec;color: #9f634d;}
.applicaMenu li .title{margin: 50px 0 10px;}
.applicaMenu li a{display: inline-block;padding: 5px 15px;border: 1px solid transparent;border-radius: 4px;}
.applicaMenu li.first a{border-color: #0daf98;}
.applicaMenu li.second a{border-color: #59b6d6;}
.applicaMenu li.three a{border-color: #5e91cc;}
.applicaMenu li.four a{border-color: #81af77;}
.applicaMenu li.five a{border-color: #c0932f;}
.applicaMenu li.six a{border-color: #9f634d;}
.applicaMenu li .infor{margin: 10px 30px 20px;height: 50px;color: #333;line-height: 24px;}
.applicaMenu li img{margin-top: 30px;}

.applicaMenu li:hover {
    -webkit-box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
}

    /*foot*/
.foot{width: 100%;min-width: 1200px;background: #232323;}
.footMain{padding: 30px 0;display: block;width: 1000px;margin: 0 auto;}
.footLeft{width: 780px;}
.footMenu{display: flex;}
.footMenu li{float: left;flex: 1;text-align: center;}
.footMenu li p{padding: 9px 0;}
.footMenu li p.title{border-right: 1px solid #bab9b9;text-indent: -20px;}
.footMenu li:last-child p.title{border-right: 0;}
.footMenu li p.title a{font-size: 18px;}
.footMenu li p a{color: #bab9b9;font-size: 14px;}
.footMenu li p a:hover{color: #fff;}
.copyright{text-align: center;font-size: 14px;padding: 15px 0;background: #000000;}
.copyright a{color: #bab9b9;}
.copyright a:hover{color: #fff;}
.footMain .code{width: 156px;height: 156px;position: relative;right: 50px;}
@media screen and (max-width: 1400px) {
    .case{width: 1200px;margin: 40px auto;}
    .product{height: 190px;}
    .productMenu li a{width: 386px;height: 190px;}
    .productMenus li{height: 450px;}
    .caseCon{width: 1200px;}
    .caseMenu li{margin-right: 13%;}
}
@media screen and (max-width: 1200px) {

    .wrapper{width: 1200px;}
}



