
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>关于我们</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css">
</head>
<body>
<div class="wrapper">
    <div class="head" id="head">
        <div class="headMain clearfix">
            <div class="left">
                <img class="logo" src="../../assets/frontend/images/logo.png" alt="">
            </div>
            <div class="right">
                <ul class="menu clearfix">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="product.html">产品</a></li>
                    <li><a href="package.html">套餐</a></li>
                    <li><a href="application.html">应用</a></li>
                    <li class="active"><a href="aboutUs.html">关于我们</a></li>
                    <li class="relative hover">
                        <a class="register type">注册</a>
                        <ul class="regisType">
                            <li>
                                <a href="register.html">微商城</a>
                            </li>
                            <li>
                                <a href="register.html">分销商城</a>
                            </li>
                            <li>
                                <a href="register.html">智慧收银</a>
                            </li>
                        </ul>
                    </li>
                    <li class="relative hover">
                        <a class="login type" href="login.html">登录</a>
                        <ul class="loginType">
                            <li>
                                <a href="login.html">微商城</a>
                            </li>
                            <li>
                                <a href="login.html">分销商城</a>
                            </li>
                            <li>
                                <a href="login.html">智慧收银</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="imgHover">
            <img src="../../assets/frontend/images/aboutUs.jpg" class="w100" alt="">
        </div>
        <div class="aboutUs clearfix">
            <div class="left divMenu">
                <ul class="usMenu">
                    <li class="active">
                        <a href="###">优客慧简介</a>
                    </li>
                    <li>
                        <a href="###">发展历程</a>
                    </li>
                    <li>
                        <a href="###">联系我们</a>
                    </li>
                    <li class="bb0">
                        <a href="###">常见问题</a>
                    </li>
                </ul>
            </div>
            <div class="right divCase">
                <div class="caseDiv">
                    <div class="hjj  js_scroll">
                        <p class="title">优客慧简介</p>
                        <div class="infor">
                            优客慧系列产品是重庆易优弧科技有限公司针对传统企业移动电商战略转型提供的轻型一体化及可定制化营销工具平台。优客慧除了提供面向新零售领域的线上微商城和移动分销商城，同时也为线下门店系统打造智能收银管理系统，打通线上线下壁垒，打造O2O营销闭环，构建企业专属移动电商体系。
                        </div>
                        <div class="infor">
                            重庆易优弧科技有限公司成立于2014年，定位于为传统中小型企业提供互联网＋综合解决方案的服务提供商，业务包括互联网商业模式规划、软件产品定制开发以及营销运营解决方案服务。软件产品应用覆盖新零售营销、品牌与市场、人才招聘等平台工具，也针对不同行业提供定制化转型升级方案开发及落地运营。
                        </div>
                    </div>
                    <div class="fzlc js_scroll">
                        <p class="title">发展历程</p>
                        <p class="smallTitles">版本大事记</p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            2015年底：易优弧科技规划启动优客慧项目规划及原型设计。
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            2016年3月：优客慧-微商城产品v1.0版本上线公测。
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            2016年5月：优客慧-微商城产品v2.0版本上线公测。
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            优客慧－分销商城产品内测版本开放邀请。
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            2016年6月：优客慧-微商城产品v1.0版本上线公测。
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            2016年7月：优客慧-智慧收银系统v1.0版本上线公测。
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            2016年9月：优客慧-智慧收银系统v2.0版本上线推广。
                        </p>
                    </div>
                    <div id="a" class="llwm js_scroll">
                        <p class="title">联系我们</p>
                       <div class="flexDiv clearfix">
                           <div class="flex left">
                               <p>
                                   <img src="../../assets/frontend/images/ztele.png" alt="">
                                   座机 : 023-68610177
                               </p>
                               <p>
                                   <img src="../../assets/frontend/images/zmobile.png" alt="" class="mobile">
                                   移动电话 : 18623646362
                               </p>
                               <p>
                                   <img src="../../assets/frontend/images/zqq.png" alt="">
                                   在线QQ : 18024178
                               </p>
                               <p>
                                   <img src="../../assets/frontend/images/zemail.png" alt="" class="email">
                                   邮箱 : service@eyohu.com
                               </p>
                           </div>
                           <div class="flex right">
                               <div>
                                   <img src="../../assets/frontend/images/code.png" class="code" alt="">
                               </div>
                               <p>优客慧官方微信二维码</p>
                           </div>
                       </div>
                        <p>
                            <img src="../../assets/frontend/images/addressIcon.png" alt="" style="width: 20px;">
                            联系地址：重庆市九龙坡区奥体路1号中新城上城6栋11楼
                        </p>
                        <div id="allmap"></div>
                    </div>
                    <div id="b" class="cjwt js_scroll">
                        <p class="title">常见问题</p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            如何建立微商城？ <br>
                            <span>
                                在后台“微商城”子菜单栏选择“商家信息”，依照提示填写店铺相关信息后保存即可。为了使商城更加立体，还可以选择“广告位管理”进行广告图片展示（注：广告图片大小需一致）、“公告管理”进行最新店铺公告信息展示。
                            </span>
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            建立好的微商城如何传播？ <br>
                            <span>
                                在子菜单栏中选择“微商城设置”，可设置触发关键字等信息，通过手机端回复关键字可直接获取微商城链接，或者直接将“入口链接”复制进行传播即可。
                            </span>
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            如何建立分销商城？ <br>
                            <span>
                                在后台“分销商城”子菜单栏选择“商家信息”，依照提示填写店铺相关信息后保存即可。为了使商城更加立体，还可以选择“广告位管理”进行广告图片展示（注：广告图片大小需一致）、“公告管理”进行最新店铺公告信息展示。
                            </span>
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            如何设置推客规则？ <br>
                            <span>
							在子菜单栏选择“推客等级”，新建规则，依次完善店铺自身制定的等级名称和各级佣金信息保存即可。
                               
                            </span>
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            如何成为店铺推客会员？ <br>
                            <span>
                                在子菜单栏选择“商城入口”复制入口链接，将链接传播出去吸引用户成为分销商，用户通过商家分享的链接进入分销商城，点击右下方浮窗“我要开店”填写相关信息，商家在后台子菜单栏“推客会员”里完成信息审核后该用户即成为本店推客。如果再有通过该推客转发出去的商城链接成为推客的，一律视为该推客下级推客
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="footMain clearfix">
            <div class="left footLeft">
                <ul class="footMenu">
                    <li>
                        <p class="title"><a>总览</a></p>
                        <p><a href="product.html">产品概要</a></p>
                        <p><a href="package.html">优惠套餐</a></p>
                        <p><a href="application.html">解决方案</a></p>
                    </li>
                    <li>
                        <p class="title"><a>帮助</a></p>
                        <p><a href="aboutUs.html">使用指南</a></p>
                        <p><a href="aboutUs.html#b">常见问题</a></p>
                    </li>
                    <li>
                        <p class="title"><a>合作</a></p>
                        <p><a href="aboutUs.html#a">联系我们</a></p>
                        <p><a href="">合作企业</a></p>
                    </li>
                    <li class="br0">
                        <p class="title"><a href="aboutUs.html#a">关于我们</a></p>
                    </li>
                </ul>
            </div>
            <div class="right">
                <img src="../../assets/frontend/images/code.png" class="code" alt="">
            </div>
        </div>
        <div class="copyright">
            <a href="http://www.miitbeian.gov.cn">
                © 2014-2016 优客慧 官网 渝ICP备14007819号-4
            </a>
        </div>
    </div>
</div>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/frontend/js/aboutUs.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=q0lvjEUGF5AOzHtbjn9YFtwl"></script>
<script src="../../assets/frontend/js/global.js"></script>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
    map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
    map.setCurrentCity("重庆");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    var myGeo = new BMap.Geocoder();
    // 将地址解析结果显示在地图上,并调整地图视野
    myGeo.getPoint("重庆市九龙坡区奥体路1号中新城上城6栋11楼", function(point){
        if (point) {
            map.centerAndZoom(point, 16);
            map.addOverlay(new BMap.Marker(point));
        }
    }, "重庆市");
</script>
</body>
</html>