
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>餐饮O2O</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css">
</head>
<body>
<div class="wrapper">
    <div class="head" id="head">
        <div class="headMain clearfix">
            <div class="left">
                <img class="logo" src="../../assets/frontend/images/logo.png" alt="">
            </div>
            <div class="right">
                <ul class="menu clearfix">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="product.html">产品</a></li>
                    <li><a href="package.html">套餐</a></li>
                    <li class="active"><a href="application.html">应用</a></li>
                    <li><a href="aboutUs.html">关于我们</a></li>
                    <li class="relative hover">
                        <a class="register type">注册</a>
                        <ul class="regisType">
                            <li>
                                <a href="###">微商城</a>
                            </li>
                            <li>
                                <a href="###">分销商城</a>
                            </li>
                            <li>
                                <a href="###">智慧收银</a>
                            </li>
                        </ul>
                    </li>
                    <li class="relative hover">
                        <a class="login type" href="login.html">登陆</a>
                        <ul class="loginType">
                            <li>
                                <a href="###">微商城</a>
                            </li>
                            <li>
                                <a href="###">分销商城</a>
                            </li>
                            <li>
                                <a href="###">智慧收银</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="imgHover applicationInforBg autoImg">
            <ul class="applicationMenu clearfix">
                <li>
                    <a href="applicationInfor.html">
                        <div class="appImg appImg1"></div>
                        线下门店
                    </a>
                </li>
                <li>
                    <a href="applicationInfor2.html">
                        <div class="appImg appImg2"></div>
                        零售店
                    </a>
                </li>
                <li class="active">
                    <a href="applicationInfor3.html">
                        <div class="appImg appImg3"></div>
                        餐饮O2O
                    </a>
                </li>
                <li>
                    <a href="applicationInfor4.html">
                        <div class="appImg appImg4"></div>
                        农村电商
                    </a>

                </li>
                <li>
                    <a href="applicationInfor5.html">
                        <div class="appImg appImg5"></div>
                        美容行业
                    </a>

                </li>
                <li>
                    <a href="applicationInfor6.html">
                        <div class="appImg appImg6"></div>
                        超级单品打造
                    </a>

                </li>
            </ul>
        </div>
        <div id="appInforCon">
            <div class="appInfor">
                <div class="appInforCen">
                    <p class="title">行业痛点</p>
                    <ul class="appInforMenu clearfix">
                        <li>
                            <img src="../../assets/frontend/images/appCase11.jpg" alt="">
                            <div class="maskCase"></div>
                            <div class="maskCase-bg">
                                用户忠诚度不高
                            </div>
                        </li>
                        <li class="mr0">
                            <img src="../../assets/frontend/images/appCase12.jpg" alt="">
                            <div class="maskCase"></div>
                            <div class="maskCase-bg">
                                商家的口碑、优惠、新品等信息无法及时传播给客户 导致客户参与性降低，整体运营效率得不到提升
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/frontend/images/appCase13.jpg" alt="">
                            <div class="maskCase"></div>
                            <div class="maskCase-bg">
                                　餐饮行业的高峰时段一过，闲下来的时间容易造成人力资源浪费
                            </div>
                        </li>
                        <li class="mr0">
                            <img src="../../assets/frontend/images/appCase14.jpg" alt="">
                            <div class="maskCase"></div>
                            <div class="maskCase-bg">
                                　客户喜好难拿捏，不能及时调整热销品类以及进行菜品创新
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/frontend/images/appCase15.jpg" alt="">
                            <div class="maskCase"></div>
                            <div class="maskCase-bg">
                                　食品采购时难以把控品类及数量，造成不必要的浪费
                            </div>
                        </li>
                        <li class="mr0">
                            <img src="../../assets/frontend/images/appCase16.jpg" alt="">
                            <div class="maskCase"></div>
                            <div class="maskCase-bg">
                                　  <img class="star" src="../../assets/frontend/images/star.png" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="solute ">
                <div class="soluteInfors clearfix ">
                    <div class="left imgHover" >
                        <img src="../../assets/frontend/images/solution2.jpg" alt="">
                    </div>
                    <div class="right soluteInfor">
                        <p class="title">解决方案</p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            <span>通过平台完整的客户口碑分享体系，刺激口碑传播，提升用户忠诚度； </span>
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            <span>入驻微商城，创建到店电子点单、线上外卖商品销售系统 客户无论到店还是线上购买都更便捷；</span>
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            <span>利用平台全面大数据，信息数字化管理，了解客户需求，集中经营；</span>
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            <span>
                                通过会员模式，加深用户的粘性，便于进行信息、活动、服务内容传播；
                            </span>
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            <span>
                                利用优客慧平台活动查件开展各种线上互动活动，线下核销消费，形成消费关闭；
                            </span>
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            <span>
                                更加智能的门店云收银系统，线下收银设备全接入，支持一码付，支付更智能数据云同步，管理跟便捷；
                            </span>
                        </p>

                    </div>
                </div>
            </div>
            <div class="caseSg">
                <p class="title">适用工具</p>
                <ul class="caseGjList clearfix">
                    <li>
                        <a href="###">
                            <img src="../../assets/frontend/images/appIcon1.png" alt=""> <br>
                            微商城
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <img src="../../assets/frontend/images/appIcon3.png" alt=""> <br>
                            智慧云收银系统
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <img src="../../assets/frontend/images/appIcon5.png" alt=""> <br>
                            数据统计
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <img src="../../assets/frontend/images/appIcon2.png" alt=""> <br>
                            会员卡系统
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <img src="../../assets/frontend/images/appIcon4.png" alt=""> <br>
                            微活动
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <img src="../../assets/frontend/images/appIcon6.png" alt=""> <br>
                            渠道二维码
                        </a>
                    </li>
                    <li class="mr0">
                        <a href="###">
                            <img src="../../assets/frontend/images/appIcon7.png" alt=""> <br>
                            分销商城
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="footMain clearfix">
            <div class="left footLeft">
                <ul class="footMenu">
                    <li>
                        <p class="title"><a href="product.html">产品</a></p>
                        <p><a href="">产品概要</a></p>
                        <p><a href="">产品套餐</a></p>
                        <p><a href="">申请试用</a></p>
                    </li>
                    <li>
                        <p class="title"><a href="">帮助</a></p>
                        <p><a href="">使用指南</a></p>
                        <p><a href="">常见问题</a></p>
                    </li>
                    <li>
                        <p class="title"><a href="">合作</a></p>
                        <p><a href="">服务广场</a></p>
                        <p><a href="aboutUs.html">联系我们</a></p>
                    </li>
                    <li class="br0">
                        <p class="title"><a href="">关于我们</a></p>
                    </li>
                </ul>
            </div>
            <div class="right">
                <img src="../../assets/frontend/images/code.png" class="code" alt="">
            </div>
        </div>
        <div class="copyright">
            <a href="http://www.miitbeian.gov.cn">
                © 2012-2014 SOHO中国 版权所有　　ICP备05014360号分享：
            </a>
        </div>
    </div>
</div>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/frontend/js/global.js"></script>
</body>
</html>