
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>农村电商</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css">
</head>
<body>
<div class="wrapper">
    <div class="head" id="head">
        <div class="headMain clearfix">
            <div class="left">
                <img class="logo" src="../../assets/frontend/images/logo.png" alt="">
            </div>
            <div class="right">
                <ul class="menu clearfix">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="product.html">产品</a></li>
                    <li><a href="package.html">套餐</a></li>
                    <li class="active"><a href="application.html">应用</a></li>
                    <li><a href="aboutUs.html">关于我们</a></li>
                    <li class="relative hover">
                        <a class="register type">注册</a>
                        <ul class="regisType">
                            <li>
                                <a href="###">微商城</a>
                            </li>
                            <li>
                                <a href="###">分销商城</a>
                            </li>
                            <li>
                                <a href="###">智慧收银</a>
                            </li>
                        </ul>
                    </li>
                    <li class="relative hover">
                        <a class="login type" href="login.html">登录</a>
                        <ul class="loginType">
                            <li>
                                <a href="###">微商城</a>
                            </li>
                            <li>
                                <a href="###">分销商城</a>
                            </li>
                            <li>
                                <a href="###">智慧收银</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="imgHover applicationInforBg autoImg">
            <ul class="applicationMenu clearfix">
                <li class="first">
                    <a href="applicationInfor.html">
                        <div class="appImg appImg1"></div>
                        线下门店
                    </a>
                </li>
                <li class="second">
                    <a href="applicationInfor2.html">
                        <div class="appImg appImg2"></div>
                        零售店
                    </a>
                </li>
                <li class="three">
                    <a href="applicationInfor3.html">
                        <div class="appImg appImg3"></div>
                        餐饮O2O
                    </a>
                </li>
                <li class="four active">
                    <a href="applicationInfor4.html">
                        <div class="appImg appImg4"></div>
                        农村电商
                    </a>
                </li>
                <li class="five">
                    <a href="applicationInfor5.html">
                        <div class="appImg appImg5"></div>
                        美容行业
                    </a>
                </li>
                <li class="six">
                    <a href="applicationInfor6.html">
                        <div class="appImg appImg6"></div>
                        超级单品打造
                    </a>
                </li>
            </ul>
        </div>
        <div id="appInforCon">
            <div class="appInfor">
                <div class="appInforCen">
                    <p class="title">行业痛点</p>
                    <ul class="appInforMenu clearfix">
                        <li>
                            <img src="../../assets/frontend/images/appCase5.jpg" alt="">
                            <div class="maskCase"></div>
                            <div class="maskCase-bg">
                                互联网同质化严重，创新能力差导致消费者对产品关注度不高， 导致转化率低，盈利微弱，严重可出现产品滞留、血本无归的惨象
                            </div>
                        </li>
                        <li class="mr0">
                            <img src="../../assets/frontend/images/appCase6.jpg" alt="">
                            <div class="maskCase"></div>
                            <div class="maskCase-bg">
                                农村网络覆盖率低，整体电商意识不强，制约着农村电商的普及 产品跨区出售难
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/frontend/images/appCase7.jpg" alt="">
                            <div class="maskCase"></div>
                            <div class="maskCase-bg">
                                　专业电商人才缺乏，靠巨头砸钱推动市场根本无法解决根本问题
                            </div>
                        </li>
                        <li class="mr0">
                            <img src="../../assets/frontend/images/appCase8.jpg" alt="">
                            <div class="maskCase"></div>
                            <div class="maskCase-bg">
                                　原有经营模式和盈利模式根深蒂固，销售渠道单一，规模扩张受限
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/frontend/images/appCase9.jpg" alt="">
                            <div class="maskCase"></div>
                            <div class="maskCase-bg">
                                　不知道用户需求，无法把控准确的生产数量
                            </div>
                        </li>
                        <li class="mr0">
                            <img src="../../assets/frontend/images/appCase10.jpg" alt="">
                            <div class="maskCase"></div>
                            <div class="maskCase-bg">
                                　  <img class="star" src="../../assets/frontend/images/star.png" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="solute ">
                <div class="soluteInfors clearfix ">
                    <div class="left imgHover" >
                        <img src="../../assets/frontend/images/solution3.jpg" alt="">
                    </div>
                    <div class="right soluteInfor">
                        <p class="title">解决方案</p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">

                            <span>入驻优客汇分销商城，扩大销售渠道；</span>
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            <span> 将所有产品整合至分销商城，打造自有农产品品牌；</span>
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            <span>专人进行系统使用培训，人人都能轻易上手；</span>
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            <span>
                                通过平台完整的客户口碑分享体系，刺激口别传播；
                            </span>
                        </p>

                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            <span>
                                通过平台发起微活动，活动内容切合产品生态特性、活动奖励可定为原产地旅游体验等内容，让客户参与进来，提高客户忠诚度，促成口碑传播；
                            </span>
                        </p>
                        <p>
                            <img src="../../assets/frontend/images/dot.png" alt="">
                            <span>
                                通过平台收集的完整数据，了解客户需求，集中发展并作出相应生产行为调整。
                            </span>
                        </p>

                    </div>
                </div>
            </div>
            <div class="caseSg">
                <p class="title">适用工具</p>
                <ul class="caseGjList clearfix">
                    <li>
                        <a href="###">
                            <img src="../../assets/frontend/images/appIcon7.png" alt=""> <br>
                            分销商城
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <img src="../../assets/frontend/images/appIcon2.png" alt=""> <br>
                            会员卡系统
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <img src="../../assets/frontend/images/appIcon5.png" alt=""> <br>
                            数据统计
                        </a>
                    </li>
                    <li class="mr0">
                        <a href="###">
                            <img src="../../assets/frontend/images/appIcon4.png" alt=""> <br>
                            微活动
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="footMain clearfix">
            <div class="left footLeft">
                <ul class="footMenu">
                    <li>
                        <p class="title"><a>总览</a></p>
                        <p><a href="product.html">产品概要</a></p>
                        <p><a href="package.html">优惠套餐</a></p>
                        <p><a href="application.html">解决方案</a></p>
                    </li>
                    <li>
                        <p class="title"><a>帮助</a></p>
                        <p><a href="aboutUs.html">使用指南</a></p>
                        <p><a href="aboutUs.html#b">常见问题</a></p>
                    </li>
                    <li>
                        <p class="title"><a>合作</a></p>
                        <p><a href="aboutUs.html#a">联系我们</a></p>
                        <p><a href="">合作企业</a></p>
                    </li>
                    <li class="br0">
                        <p class="title"><a href="aboutUs.html#a">关于我们</a></p>
                    </li>
                </ul>
            </div>
            <div class="right">
                <img src="../../assets/frontend/images/code.png" class="code" alt="">
            </div>
        </div>
        <div class="copyright">
            <a href="http://www.miitbeian.gov.cn">
                © 2014-2016 优客慧 官网 渝ICP备14007819号-4
            </a>
        </div>
    </div>
</div>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/frontend/js/global.js"></script>
</body>
</html>