
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>首页</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content="优客慧" name="Description" />
        <meta content="优客慧" name="Keywords" />
        <link rel="stylesheet" href="../../assets/frontend/plugins/slider/css/slider.css"/>
        <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="../../assets/frontend/css/global.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="head" id="head">
                <div class="headMain clearfix">
                    <div class="left">
                        <img class="logo" src="../../assets/frontend/images/logo.png" alt="">
                    </div>
                    <div class="right">
                        <ul class="menu clearfix">
                            <li class="active"><a href="index.html">首页</a></li>
                            <li><a href="product.html">产品</a></li>
                            <li><a href="package.html">套餐</a></li>
                            <li><a href="application.html">应用</a></li>
                            <li><a href="aboutUs.html">关于我们</a></li>
                            <li class="relative hover">
                                <a class="register type">注册</a>
                                <ul class="regisType">
                                    <li>
                                        <a href="register.html">微商城</a>
                                    </li>
                                    <li>
                                        <a href="register.html">分销商城</a>
                                    </li>
                                    <li>
                                        <a href="register.html">智慧收银</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="relative hover">
                                <a class="login type" href="login.html">登陆</a>
                                <ul class="loginType">
                                    <li>
                                        <a href="login.html">微商城</a>
                                    </li>
                                    <li>
                                        <a href="login.html">分销商城</a>
                                    </li>
                                    <li>
                                        <a href="login.html">智慧收银</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="nav">
                    <ul class="slider">
                        <li>
                            <a href="###">
                                <img src="../../assets/frontend/images/indexSlider1.jpg" class="autoImg">
                            </a>
                        </li>
                        <li>
                            <a href="###">
                                <img src="../../assets/frontend/images/indexSlider2.jpg" class="autoImg">
                            </a>
                        </li>
                        <li>
                            <a href="###">
                                <img src="../../assets/frontend/images/indexSlider3.jpg" class="autoImg">
                            </a>
                        </li>
                        <li>
                            <a href="###">
                                <img src="../../assets/frontend/images/indexSlider4.jpg" class="autoImg">
                            </a>
                        </li>
                    </ul>
                    <ul class="num">
                        <li class="on"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <!--<div class="btn btn_l">-->
                    <!--</div>-->
                    <!--<div class="btn btn_r"></div>-->
                </div>
                <div class="ykh">
                    <div class="ykhHead">
                        <p class="bigTitle">优客慧新零售移动电商平台</p>
                        <p class="smallTitle">让每一个商家，都能轻松玩转互联网＋</p>
                    </div>
                    <div class="ykhCon">
                        <p class="title">功能特色</p>
                        <ul class="funMenu clearfix">
                            <li class="first">
                                <div class="radius">
                                    <img src="../../assets/frontend/images/icon1.png" alt="">
                                </div>
                                <p>全渠道电商立体架设</p>
                            </li>
                            <li class="second">
                                <div class="radius">
                                    <img src="../../assets/frontend/images/icon2.png" alt="">
                                </div>
                                <p>O2O去中心化流量聚合</p>
                            </li>
                            <li class="three">
                                <div class="radius">
                                    <img src="../../assets/frontend/images/icon3.png" alt="">
                                </div>
                                <p>独立大数据处理及监测</p>
                            </li>
                            <li class="four">
                                <div class="radius">
                                    <img src="../../assets/frontend/images/icon4.png" alt="">
                                </div>
                                <p>线上线下一体化解决方案</p>
                            </li>
                        </ul>
                    </div>
                    <div class="ykhFoot">
                        <p class="smallTitle">用互联网＋品牌感召力，打造您的专属新零售系统，开启移动电商新时代！</p>
                        <p class="title">优客慧新零售平台核心产品，任您挑选！</p>
                    </div>
                </div>
                <div class="aninte">
                    <div class="aninteObj clearfix">
                        <div class="left imgHover">
                            <img src="../../assets/frontend/images/anit1.png" alt="">
                        </div>
                        <div class="right">
                            <div class="aninte1">
                                <img src="../../assets/frontend/images/anit1-1.png" alt=""> <br>
                                <p class="title1">微商城</p>
                                <p class="conInfor">
                                    优客慧微商城是基于微信端的微商城系统，面向线下实体门店和线上传统电商，适用行业覆盖全面，通过搭建商城，提供商品销售、会员服务、互动营销、线上线下无缝连接、数据统计智能化等服务，是企业实现移动电子商务营销与新零售业务管理的超便捷工具。
                                </p>
                                <a class="btnNext right" href="product.html">MORE <i class="fa fa-arrow-right"></i></a>
                                <img src="../../assets/frontend/images/anit1-2.png" class="anit1-2" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="aninteObj clearfix">
                        <div class="right right2 imgHover">
                            <img src="../../assets/frontend/images/anit2-2.png" alt="">
                        </div>
                        <div class="left">
                            <div class="aninte2">
                                <img src="../../assets/frontend/images/anit2.png" class="anit2 left" alt="">
                                <div style="margin-left:230px;">
                                    <img src="../../assets/frontend/images/anit2-1.png" alt=""> <br>
                                    <p class="title1">分销商城</p>
                                    <p class="conInfor">
                                        优客慧分销商城致力于打造一个商品快速销售及流通的平台，供货商通过分销商城上架自身商品，通过本平台再与众推客建立合作关系，将商品售卖渠道无限扩宽，创造更多收益！推客通过分销商城平台精准找到优质供货商，高品质高利润地分销商品，获得低价优质货源，自身亦无需囤货，即可快捷开启分销操作管理。
                                    </p>
                                    <a class="btnNext right" href="product1.html">MORE <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aninteObj clearfix">
                        <div class="left imgHover">
                            <img src="../../assets/frontend/images/anit3.png" alt="">
                        </div>
                        <div class="right">
                            <div class="aninte1 aninte3">
                                <img src="../../assets/frontend/images/anit3-1.jpg" class="anit left" alt="">
                                <div style="margin-left:150px;">
                                    <img src="../../assets/frontend/images/anit3-2.png" alt=""> <br>
                                    <p class="title1">智慧收银</p>
                                    <p class="conInfor">
                                        优客慧具备强大的会员卡系统，除了基础会员管理，商家可以自定义会员权益、积分等规则，帮助商家更好经营管理自己的客户。系统支持会员卡、积分奖励、积分商城、客户精准分组等工具能帮助您真正获取客户，让客户帮助传播品牌，并参与销售。
                                    </p>
                                    <a class="btnNext right" href="product2.html">MORE <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aninteObj clearfix">
                        <div class="right right2 imgHover">
                            <img src="../../assets/frontend/images/anit4-2.png" alt="">
                        </div>
                        <div class="left">
                            <div class="aninte2 aninte4">
                                <img src="../../assets/frontend/images/anit4.png" alt=""> <br>
                                <p class="title1">分销商城</p>
                                <p class="conInfor">
                                    优客慧平台带有多款促销工具，线上搭载多种互动抽奖形式，客户参与活动之后获得活动兑换码到店核销，形成一个交易闭环，并且引导客户到店，提高复购率，有效提升店铺成交转化；专属渠道二维码设置不同渠道二维码进行线下投放，全面统计客户访问渠道，便于企业进行市场营销策略优化调整。
                                </p>
                                <a class="btnNext right" href="product3.html">MORE <i class="fa fa-arrow-right"></i></a>
                                <img src="../../assets/frontend/images/anit4-1.png" class="anit4 left" alt="">

                            </div>
                        </div>
                    </div>
                    <div class="aninteObj5 autoImg">
                        <div class="anite5">
                            <img src="../../assets/frontend/images/anit5.png" class="anit5" alt=""> <br>
                            <p class="conInfor">
                                <span class="title">营销应用</span>
                                优客慧智慧收银系统是专门为线下实体门店打造的一套智能收银系统。智慧收银系统基于电脑端，收银操作便捷，同时覆盖所有店铺数据管理，支持多种支付方式。顾客支付选择更多，支付更便捷。
                            </p>
                            <a class="btnNext right" href="product4.html">MORE <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="case">
                    <div class="title">合作案例</div>
                    <ul class="menuCase clearfix">
                        <li ><a>微商城</a></li>
                        <li><a>分销商城</a></li>
                        <li class="mr0"><a>智慧收银</a></li>
                    </ul>
                    <div class="product">
                        <ul class="productMenu hide clearfix">
                            <li>
                                <a>
                                    <img src="../../assets/frontend/images/case1-1.jpg" alt="">
                                    <div class="maskCase hide"></div>
                                    <div  class="maskCase-bg hide">
                                        <img src="../../assets/frontend/images/code1.png" alt=""><br>
                                        <span>宝鸡商会</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="../../assets/frontend/images/case1-3.jpg" alt="">
                                    <div class="maskCase hide"></div>
                                    <div  class="maskCase-bg hide">
                                        <img src="../../assets/frontend/images/code2.png" alt=""><br>
                                        <span>光影绘馆</span>
                                    </div>
                                </a>
                            </li>
                            <li class="mr0">
                                <a>
                                    <img src="../../assets/frontend/images/case1-2.jpg" alt="">
                                    <div class="maskCase hide"></div>
                                    <div  class="maskCase-bg hide">
                                        <img src="../../assets/frontend/images/code3.png" alt=""><br>
                                        <span>绿雪芽白茶</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="productMenu hide clearfix">
                            <li>
                                <a>
                                    <img src="../../assets/frontend/images/case2-1.jpg" alt="">
                                    <div class="maskCase hide"></div>
                                    <div  class="maskCase-bg hide">
                                        <img src="../../assets/frontend/images/code4.png" alt=""><br>
                                        <span>全航食品</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="../../assets/frontend/images/case2-2.jpg" alt="">
                                    <div class="maskCase hide"></div>
                                    <div  class="maskCase-bg hide">
                                        <img src="../../assets/frontend/images/code5.png" alt=""><br>
                                        <span>普利拉鞋品</span>
                                    </div>
                                </a>
                            </li>
                            <li class="mr0">
                                <a>
                                    <img src="../../assets/frontend/images/case2-3.jpg" alt="">
                                    <div class="maskCase hide"></div>
                                    <div  class="maskCase-bg hide">
                                        <img src="../../assets/frontend/images/code6.png" alt=""><br>
                                        <span>娇妍美业</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="productMenu hide clearfix">
                            <li>
                                <a>
                                    <img src="../../assets/frontend/images/case3-1.jpg" alt="">
                                    <div class="maskCase hide"></div>
                                    <div  class="maskCase-bg hide">
                                        <img src="../../assets/frontend/images/code7.png" alt=""><br>
                                        <span>最佳客串</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="../../assets/frontend/images/case3-2.jpg" alt="">
                                    <div class="maskCase hide"></div>
                                    <div  class="maskCase-bg hide">
                                        <img src="../../assets/frontend/images/code8.png" alt=""><br>
                                        <span>渝州小面</span>
                                    </div>
                                </a>
                            </li>
                            <li class="mr0">
                                <a>
                                    <img src="../../assets/frontend/images/case3-3.jpg" alt="">
                                    <div class="maskCase hide"></div>
                                    <div  class="maskCase-bg hide">
                                        <img src="../../assets/frontend/images/code9.png" alt=""><br>
                                        <span>果缤纷</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="we mobile_none">
                    <li>
                        <div class="message">
                            <i class="fa fa-qq"></i><br/>
                            <span class="miaoshu">QQ号</span>
                            <div class="qqgroup-show hide">
                                <div class="qqgroup-show-content">
                                    <!--<h4 class="t">咨询QQ:</h4>-->
                                    <dl style="text-align: center;">
                                        <dt>
                                            <a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=a00ed4785ac44e837af8ac0c3c6b970ba03fe192db517da2"style="position: relative;left: 36px;top: -45px;">
                                                <img style="position: relative;top: 7px;" border="0" src="http://wpa.qq.com/imgd?IDKEY=a00ed4785ac44e837af8ac0c3c6b970ba03fe192db517da2&pic=51" alt="点击这里给我发消息" title="点击这里给我发消息">
                                            </a>
                                        </dt>
                                        <dd style="position: relative;left: -35px;top: -30px;">
                                            QQ账号:18024178
                                        </dd>
                                    </dl>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="phone">
                            <i class="fa fa-user"></i><br/>
                            <span class="miaoshu">客服</span>
                            <div class="telphone-show hide">
                                <div class="telphone-show-content">
                                    <b>023-68610177</b><br/>周一至周日 9:00-18:00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tuo_code">
                            <i class="fa fa-weixin"></i><br/>
                            <span class="miaoshu">关注我们</span>
                            <div class="qrcode hide">
                                <img class="qrcode-pic" src="../../assets/frontend/images/code.png" alt="" width="120"/>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="foot">
                <div class="footMain clearfix">
                    <div class="left footLeft">
                        <ul class="footMenu">
                            <li>
                                <p class="title"><a>总览</a></p>
                                <p><a href="product.html">产品概要</a></p>
                                <p><a href="package.html">优惠套餐</a></p>
                                <p><a href="application.html">解决方案</a></p>
                            </li>
                            <li>
                                <p class="title"><a>帮助</a></p>
                                <p><a href="aboutUs.html">使用指南</a></p>
                                <p><a href="aboutUs.html#b">常见问题</a></p>
                            </li>
                            <li>
                                <p class="title"><a>合作</a></p>
                                <p><a href="aboutUs.html#a">联系我们</a></p>
                                <p><a href="">合作企业</a></p>
                            </li>
                            <li class="br0">
                                <p class="title"><a href="aboutUs.html#a">关于我们</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="right">
                        <img src="../../assets/frontend/images/code.png" class="code" alt="">
                    </div>
                </div>
                <div class="copyright">
                    <a href="http://www.miitbeian.gov.cn">
                        © 2014-2016 优客慧 官网 渝ICP备14007819号-4
                    </a>
                </div>
            </div>
        </div>
        <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
        <script src="../../assets/frontend/js/index.js"></script>
        <script src="../../assets/frontend/plugins/slider/js/slider.js"></script>
        <script src="../../assets/frontend/js/global.js"></script>
       <script src="../../assets/frontend/plugins/radialIndicator/js/radialIndicator.js"></script>
        <script>
            $(function () {
                /*slider*/
                $(".nav").slider({
                    defauTime:5000,
                    moveTime:300
                });

                /*圆弧*/
                var $menuLi = $('.funMenu li');
                $menuLi.radialIndicator({
                    displayNumber: false,
                    barWidth: 10,
                    barColor: '#0daf98',
                    radius: 65
//                    roundCorner : true
                });
                $menuLi.hover(
                    function () {
                        $(this).data('radialIndicator').animate(100);
                        $(this).siblings("li").data('radialIndicator').animate(0);
                    },
                    function () {
                        $(this).data('radialIndicator').animate(0);
                    }
                );


                /*index return top*/
                $(".message,.phone,.weibo").hover(function () {
                        $(this).find(".qqgroup-show").removeClass("hide");
                        $(this).find(".qq img").attr({src:"images/qq1.png"});
                        $(this).find(".telphone-show").removeClass("hide");
                        $(this).find(".weibo-show").removeClass("hide");
                    },
                    function () {
                        $(this).find(".qqgroup-show").addClass("hide");
                        $(this).find(".telphone-show").addClass("hide");
                        $(this).find(".weibo-show").addClass("hide");
                        $(this).find(".qq img").attr({src:"images/qq.png"});
                    }
                );

                var t = $(".tuo_code");
                t.hover(
                    function () {
                        $(this).find(".qrcode").removeClass("hide");
                    },
                    function () {
                        $(this).find(".qrcode").addClass("hide");
                    }
                );

            });
        </script>
    </body>
</html>