
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>产品</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css">
</head>
<body>
<div class="wrapper">
    <div class="head" id="head">
        <div class="headMain clearfix">
            <div class="left">
                <img class="logo" src="../../assets/frontend/images/logo.png" alt="">
            </div>
            <div class="right">
                <ul class="menu clearfix">
                    <li><a href="index.html">首页</a></li>
                    <li class="active"><a href="product.html">产品</a></li>
                    <li><a href="package.html">套餐</a></li>
                    <li><a href="application.html">应用</a></li>
                    <li><a href="aboutUs.html">关于我们</a></li>
                    <li class="relative hover">
                        <a class="register type">注册</a>
                        <ul class="regisType">
                            <li>
                                <a href="register.html">微商城</a>
                            </li>
                            <li>
                                <a href="register.html">分销商城</a>
                            </li>
                            <li>
                                <a href="register.html">智慧收银</a>
                            </li>
                        </ul>
                    </li>
                    <li class="relative hover">
                        <a class="login type" href="login.html">登录</a>
                        <ul class="loginType">
                            <li>
                                <a href="login.html">微商城</a>
                            </li>
                            <li>
                                <a href="login.html">分销商城</a>
                            </li>
                            <li>
                                <a href="login.html">智慧收银</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="imgHover ">
            <img src="../../assets/frontend/images/product.jpg" class="w100" alt="">
        </div>
        <div class="caseCon">
            <ul class="caseMenu clearfix">
                <li>
                    <a href="product.html">
                        微商城
                    </a>
                </li>
                <li><a href="product1.html">分销商城</a></li>
                <li><a href="product2.html">智慧收银</a></li>
                <li class="active"><a href="product3.html">会员管理</a></li>
                <li class="mr0"><a href="product4.html">营销应用</a></li>
            </ul>
            <ul class="caseList clearfix">
                <li>
                    <p class="title">
                        优客慧具备强大的会员卡系统，除了基础会员管理，商家可以自定义会员权益、积分等规则，帮助商家更好经营管理自己的客户。一个老客户的贡献可以胜过十个新客户，注重单客经济，关注单客贡献。会员卡、积分奖励、积分商城、客户精准分组等工具能帮助您真正获取客户，让客户帮助传播品牌，并参与销售。客慧具备强大的会员卡系统，除了基础会员管理，商家可以自定义会员权益、积分等规则，帮助商家更好经营管理自己的客户。一个老客户的贡献可以胜过十个新客户，注重单客经济，关注单客贡献。会员卡、积分奖励、积分商城、客户精准分组等工具能帮助您真正获取客户，让客户帮助传播品牌，并参与销售。
                    </p>
                    <img src="../../assets/frontend/images/productImg3.png" alt="">
                </li>
            </ul>
        </div>
        <img src="../../assets/frontend/images/barImg3.jpg" class="autoImg barImg" alt="">
        <div class="production">
            <p class="title">
                产品优势
            </p>
            <ul class="productMenus productMenus3 clearfix">
                <li class="first">
                    <div class="productMask">
                        <div class="clicle">
                            <div class="clicleDiv">
                                <img src="../../assets/frontend/images/hy1.png" alt="">
                            </div>
                        </div>
                        <p class="infor">
                            会员卡系统可以助力企业做好老客户关系的精细化管理，提高老客户粘性和忠诚度，提高复购率，也可极大提高运营投入产出和效率。
                        </p>
                    </div>
                </li>
                <li class="second">
                    <div class="productMask">
                        <div class="clicle">
                            <div class="clicleDiv">
                                <img src="../../assets/frontend/images/hy2.png" alt="">
                            </div>
                        </div>
                        <p class="infor">
                            分组群发可将客户进行分组，在群发时筛选不同的粉丝，便于提供更好的粉丝精准营销。
                        </p>
                    </div>
                </li>
                <li class="three">
                    <div class="productMask">
                        <div class="clicle">
                            <div class="clicleDiv">
                                <img src="../../assets/frontend/images/hy3.png" alt="">
                            </div>
                        </div>
                        <p class="infor">
                            支持会员等级设置、积分商城管理等工具，活跃用户社群，增加客户粘性。
                        </p>
                    </div>
                </li>
                <li class="four">
                    <div class="productMask">
                        <div class="clicle">
                            <div class="clicleDiv">
                                <img src="../../assets/frontend/images/hy4.png" alt="">
                            </div>
                        </div>
                        <p class="infor">
                            支持线上积分线下核销兑换等互动活动，引导客户到店消费，激活沉淀粉丝，实现线上线下互推导流。
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="ykhsc">
            <img src="../../assets/frontend/images/ykh3.png" alt=""> <br>
            <button class="btnFree">免费体验</button>
        </div>
    </div>
    <div class="foot">
        <div class="footMain clearfix">
            <div class="left footLeft">
                <ul class="footMenu">
                    <li>
                        <p class="title"><a>总览</a></p>
                        <p><a href="product.html">产品概要</a></p>
                        <p><a href="package.html">优惠套餐</a></p>
                        <p><a href="application.html">解决方案</a></p>
                    </li>
                    <li>
                        <p class="title"><a>帮助</a></p>
                        <p><a href="aboutUs.html">使用指南</a></p>
                        <p><a href="aboutUs.html#b">常见问题</a></p>
                    </li>
                    <li>
                        <p class="title"><a>合作</a></p>
                        <p><a href="aboutUs.html#a">联系我们</a></p>
                        <p><a href="">合作企业</a></p>
                    </li>
                    <li class="br0">
                        <p class="title"><a href="aboutUs.html#a">关于我们</a></p>
                    </li>
                </ul>
            </div>
            <div class="right">
                <img src="../../assets/frontend/images/code.png" class="code" alt="">
            </div>
        </div>
        <div class="copyright">
            <a href="http://www.miitbeian.gov.cn">
                © 2014-2016 优客慧 官网 渝ICP备14007819号-4
            </a>
        </div>
    </div>
</div>
<script src="../../assets/global/plugins/jquery.min.js"></script>
<script src="../../assets/frontend/js/product.js"></script>
<script src="../../assets/frontend/js/global.js"></script>
</body>
</html>