
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>产品</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css">
</head>
<body>
<div class="wrapper">
    <div class="head" id="head">
        <div class="headMain clearfix">
            <div class="left">
                <img class="logo" src="../../assets/frontend/images/logo.png" alt="">
            </div>
            <div class="right">
                <ul class="menu clearfix">
                    <li><a href="index.html">首页</a></li>
                    <li class="active"><a href="product.html">产品</a></li>
                    <li><a href="package.html">套餐</a></li>
                    <li><a href="application.html">应用</a></li>
                    <li><a href="aboutUs.html">关于我们</a></li>
                    <li class="relative hover">
                        <a class="register type">注册</a>
                        <ul class="regisType">
                            <li>
                                <a href="register.html">微商城</a>
                            </li>
                            <li>
                                <a href="register.html">分销商城</a>
                            </li>
                            <li>
                                <a href="register.html">智慧收银</a>
                            </li>
                        </ul>
                    </li>
                    <li class="relative hover">
                        <a class="login type" href="login.html">登录</a>
                        <ul class="loginType">
                            <li>
                                <a href="login.html">微商城</a>
                            </li>
                            <li>
                                <a href="login.html">分销商城</a>
                            </li>
                            <li>
                                <a href="login.html">智慧收银</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="imgHover ">
            <img src="../../assets/frontend/images/product.jpg" class="w100" alt="">
        </div>
        <div class="caseCon">
            <ul class="caseMenu clearfix">
                <li>
                    <a href="product.html">
                        微商城
                    </a>
                </li>
                <li class="active"><a href="product1.html">分销商城</a></li>
                <li><a href="product2.html">智慧收银</a></li>
                <li><a href="product3.html">会员管理</a></li>
                <li class="mr0"><a href="product4.html">营销应用</a></li>
            </ul>
            <ul class="caseList clearfix">
                <li>
                    <p class="title">
                        优客慧分销商城致力于打造一个商品快速销售及流通的平台，供货商通过分销商城上架自身商品，通过本平台再与众推客建立合作关系，将商品售卖渠道无限扩宽，创造更多收益！推客通过分销商城平台精准找到优质供货商，高品质高利润地分销商品，获得低价优质货源，自身亦无需囤货，即可快捷开启分销操作管理。
                    </p>
                    <img src="../../assets/frontend/images/productImg1.png" alt="">
                </li>
            </ul>
        </div>
        <img src="../../assets/frontend/images/barImg1.jpg" class="autoImg barImg" alt="">
        <div class="production">
            <p class="title">
                产品优势
            </p>
            <ul class="productMenus productMenus1 clearfix">
                <li class="first">
                    <div class="productMask">
                        <div class="clicle">
                            <div class="clicleDiv ">
                                <img src="../../assets/frontend/images/fx.png" alt="">
                            </div>
                        </div>
                        <p class="infor">
                            二级分销分利体系，每一级都可充分拓展资源成为分销商，无门槛即可轻松成为店铺推客，帮助企业拓展线上销售渠道，从而提高销售额。
                        </p>
                    </div>
                </li>
                <li class="second">
                    <div class="productMask">
                        <div class="clicle">
                            <div class="clicleDiv">
                                <img src="../../assets/frontend/images/su.png" alt="">
                            </div>
                        </div>
                        <p class="infor">
                            可视化简洁操作界面，推广中心主页集中管理跟踪信息，操作便捷，运作高效。
                        </p>
                    </div>
                </li>
                <li class="three">
                    <div class="productMask">
                        <div class="clicle">
                            <div class="clicleDiv">
                                <img src="../../assets/frontend/images/pm.png" alt="">
                            </div>
                        </div>
                        <p class="infor">
                            交易过程智能结算、支持佣金轻松即时提现。
                        </p>
                    </div>
                </li>
                <li class="four">
                    <div class="productMask">
                        <div class="clicle">
                            <div class="clicleDiv">
                                <img src="../../assets/frontend/images/cs.png" alt="">
                            </div>
                        </div>
                        <p class="infor">
                            4.推客业绩统计全面监控，推客订单实时更新，便于企业及时调整运营方案。
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="ykhsc">
            <img src="../../assets/frontend/images/ykh1.png" alt=""> <br>
            <button class="btnFree">免费体验</button>
        </div>
    </div>
    <div class="foot">
        <div class="footMain clearfix">
            <div class="left footLeft">
                <ul class="footMenu">
                    <li>
                        <p class="title"><a>总览</a></p>
                        <p><a href="product.html">产品概要</a></p>
                        <p><a href="package.html">优惠套餐</a></p>
                        <p><a href="application.html">解决方案</a></p>
                    </li>
                    <li>
                        <p class="title"><a>帮助</a></p>
                        <p><a href="aboutUs.html">使用指南</a></p>
                        <p><a href="aboutUs.html#b">常见问题</a></p>
                    </li>
                    <li>
                        <p class="title"><a>合作</a></p>
                        <p><a href="aboutUs.html#a">联系我们</a></p>
                        <p><a href="">合作企业</a></p>
                    </li>
                    <li class="br0">
                        <p class="title"><a href="aboutUs.html#a">关于我们</a></p>
                    </li>
                </ul>
            </div>
            <div class="right">
                <img src="../../assets/frontend/images/code.png" class="code" alt="">
            </div>
        </div>
        <div class="copyright">
            <a href="http://www.miitbeian.gov.cn">
                © 2014-2016 优客慧 官网 渝ICP备14007819号-4
            </a>
        </div>
    </div>
</div>
<script src="../../assets/global/plugins/jquery.min.js"></script>
<script src="../../assets/frontend/js/product.js"></script>
<script src="../../assets/frontend/js/global.js"></script>
</body>
</html>