@charset "utf-8";
body,html{font-family:"Microsoft YaHei","微软雅黑";}
p{margin: 0;padding: 0;}
ul,li,img{margin:0;padding:0;list-style:none;border:none; vertical-align:middle;}
a{color:#000;text-decoration:none;}
a:hover{cursor: pointer;text-decoration: none;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;}



/*common*/

.mask{position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,.5);z-index: 1000;color: #333;filter:alpha(opacity=50)}
.mask-content{text-align: center;width: 100%;color: #33a9d4;padding: 2% 0 1% 0;border-radius: 4px;}
.mask-content .title{font-weight: bold;font-size: 18px;}
.people-img{border-right: 80px;width: 55px;border-radius: 55px;}
.mask .box{padding: 1%;background: #fff;text-align: center;position: absolute;top: 50%;left: 50%;margin-left: -320px;margin-top: -250px;width: 100%;max-width: 640px;}
.box-head{font-size: 20px;height: 50px;line-height: 50px;border-bottom: 1px dashed #dbdbdb;width: 100%;color: #333;}
.box-content,.box-foot{margin-top: 20px;padding: 0 2%;}
.box-foot .control-label,.box-content .control-label{line-height: 35px;}
.btn-submit,.btn-ji,.btn-yi{width: 80px;height: 35px;line-height: 20px;background: #fca511;color: #fff;text-indent: 0;border-radius: 4px;margin-top: 15px;}
.box-content .close{width: 30px;height: 30px;text-align: center;line-height: 25px;background: #000;color: #fff;position: absolute;right: 15px;top: 15px;border-radius: 30px;}
.box-content .money{margin-bottom: 10px;text-indent: 30px;margin-top: 15px;}
.btn-yi{background: #e95757;position: relative;left: 10px;top: -15px;text-align: center;text-indent: 0}
.head{width: 100%;height: 60px;background: rgba(0,0,0,.6);}
.head-main{padding:0 20px;height: 100%;margin: 0 auto;position: relative;}
.head-menu{position: absolute;right: 20px;top: 4px;}
.head-menu li{float: left;height: 100%;margin-left: 19px;}
.head-menu li a{display: inline-block;color: #fff;font-size: 14px;padding: 5px 20px;margin-top: 10px;}
.head-menu li a.active{border: 1px solid #fff;}
.head-menu li a:link{text-decoration: none;}
input,button{outline: none;border: none;}
.right{float: right;}
.left{float: left;}
a:link{text-decoration: none;}


/*index*/
.content-head{position: relative;height: 500px;}
.content-head .pc-img{min-height: 500px;}
.ch-mask{position: absolute;bottom: 0;left: 0;right: 0;background: #000;opacity: 0.4;filter:alpha(opacity=40);height: 20%;}
.ch-mask-main{width: 40%;position: absolute;bottom: 4%;left: 50%;margin-left: -20%;z-index: 10;}
.ch-mask-main .form-control{width: 84%;display: inline-block;color: #bd925d;font-size: 14px;height: 40px;}
.ch-mask-main .btn-group{width: 13%;float: right;background: #fb924d;color: #fff;height: 40px;line-height: 25px;position: relative;left: -7px;}
.ch-mask-main .btn-group:hover{opacity: 0.9;filter:(aplha=80);}
.ch-mask-main .hotqu{color: #eee;margin-top: 3px;}
.ch-mask-main .hotqu a{color: #eee;font-size:14px;padding: 0 5px;}
.ch-mask-main .hotqu a:hover{color: #fb934e;}
.comon-head{text-align: center;height: 60px;line-height: 60px;color: #b5854c;font-size: 18px;}
.comon-head p{display: inline-block;border: 1px solid #dbaa6d;height: 35px;padding: 0 .6%;line-height: 35px;color:#dbaa6d; }
.w80{width: 1400px;position: relative;left: 50%;margin-left: -700px;}
.w80>li{width: 32.8%;float: left;margin: 0 0.4% 0.4% 0;height: 30%;position: relative;}
.w80 .li4{width: 66%;}
.w80 .mr0{margin-right: 0;}
.w80>li .img{opacity: 0.8;filter:alpha(opacity=80);}
.w80>li .img:hover{opacity: 1;filter:alpha(opacity=100);}
.rb-span,.rt-span,.lt-span{font-size: 20px;color: #333;position: absolute;z-index: 5;}
.rb-span{right: 20px;bottom: 20px;}
.rt-span{right: 20px;top: 20px;}
.lt-span{left: 20px;top: 20px;}
.out-housing{position:absolute;top: 0;left: 0;right: 0;background: #efefef;border-bottom: none;padding: 3% 0;text-align: center;}
.out-housing a img{border-radius: 80px;margin-bottom: 6px;width: 55px;}
.out-housing .deatils{color: #55340e;font-size: 12px;}
.out-housing .deatils-span{display: inline-block;width: 186px;height: 3em;}
.deatils-span p {margin: 0;line-height: 1.5em;}
.out-housing .address{color: #55340e;font-size: 16px;}
.out-housing .caret-top{width: 0;height: 0;border: 15px solid #efefef;border-right-color: transparent;border-bottom-color: transparent;border-left-color: transparent;position: absolute;bottom: -30px;left: 50%;margin-left: -7px;}
.item-ul{width: 100%;}
.item-ul li{width: 49.6%;float: left;margin: 0 0.4% 0.4% 0;position: relative;}
.item-ul .last{margin-right: 0;}
.item-ul1{width: 100%;}
.item-ul1 li{width: 31.9%;float: left;margin: 0 1.9% 0.4% 0;position: relative;}
.item-ul1 .last{margin-right: 0;}
.item-ul li .information,.item-ul1 li .information{width: 60px;height: 100px;position: absolute;top: 50%;margin-top: -70px;left: 50%;margin-left: -37px;}
.item-ul li .information span,.item-ul1 li .information span{display: inline-block;width: 100%;text-align: center;color: #fff;}
.item-ul li .information,.item-ul1 li .information img{border-radius: 73px;}
 .item-b{position: absolute;bottom:0px;width:100%;background: #fff;}
.item-ul .item-b{padding:1% 2%;}
.item-ul1 .item-b{padding:2% 2%;}
.item-ul li a img:hover,.item-ul1 li a img:hover{opacity: 0.8;}
.item-b .title{font-size: 16px;color: #55340e;}
 .item-b .main-active{color: #c8b5a1;display: inline-block;width: 60%;font-size: 12px;}
.item-b .more{color: #c8b5a1;position: absolute;right: 10px;bottom: 5px;font-size: 12px;}
.item-b .more:hover{color: #55340e;}
#myCarousel .carousel-control {position: absolute;top: 53%;width: 39px;height: 76px;margin-top: -20px;font-size: 60px;font-weight: 100;line-height: 22px;color: #fff;text-align: center;background: transparent;}
#myCarousel .carousel-control.left{left: -55px;background-image: none;}
#myCarousel .carousel-control.right{right: -55px;background-image: none;}
#myCarousel1{width: 70%;position: absolute;left: 50%;top:50%;margin-left: -35%;margin-top: -12%;}
#myCarousel1{background: url("../images/myCarousel1-bg.jpg")no-repeat center center;background-size: cover;margin-bottom: 1.01%;border-radius: 4px;}
#myCarousel1 .carousel-control {position: absolute;top: 45%;width: 39px;height: 76px;text-align: center;}
#myCarousel1>img{width: 80%;}
#myCarousel1 .carousel-inner{width: 85%;height: 80%;background: #d5e9f9;position: relative;left: 50%;margin: 5% -42.5%;}
#myCarousel1 .item .img{margin: 2% 0;position: relative;left: 2%;display: none;width: 40%;}
#myCarousel1 .item .describe{position: absolute;top: -20%;left:44%;color: #666;width: 54%;}
#myCarousel1 .item .describe .title{font-size: 16px;position: relative;top: -10px;color: #3b3b3b;}
#myCarousel1 .item .describe .color{color: #fcaf05;}
#myCarousel1 .item .describe p{margin-bottom: 5%;}
#myCarousel1 .item .describe span{font-size: 14px;margin-top: 2%;}
#myCarousel1 .item ul.product ul{width: 100%;}
#myCarousel1 .item ul li,.product ul li{float: left;margin-right: 1.33%;margin-bottom:1.33%;width: 24%;position: relative;overflow: hidden;}
.product ul li{width: 32.44%;overflow: hidden;}
.product ul li:hover{cursor: pointer;}
#myCarousel1 .item ul .last,.product ul .last{margin-right: 0;}
#myCarousel1 .close{position: absolute;top: 5px;right: 5px;width: 40px;height: 40px;text-align: center;line-height: 40px;background: #000;border-radius: 40px;color: #fff;opacity: .6;}
#myCarousel1 .close:hover{opacity: 0.9;}
#myCarousel1 .carousel-control{background: transparent;}
#myCarousel1 .carousel-control.left {left: 2%;}
#myCarousel1 .carousel-control.right {right: 2%;}

.myCarousel .item{width: 31.9%;float: left;margin: 0 1.9% 0.4% 0;position: relative;}

/*.flow-lay {background: #f5c63c;height: 170px;}*/
/*.flow-list {width: 1170px;margin: 0 auto;}*/
/*.flow-list .flow-icon01 {float: left;padding: 42px 30px 0;background: url(../images/flowLine.png) no-repeat 95px 70px;}*/
/*.flow-list .flow-icon01 em {font-size: 18px;color: #fffefe;display: block;padding-top: 77px;background: url(../images/flowBg01.png) no-repeat center 0;}*/
/*.flow-list .flow-icon02 {float: left;padding: 42px 35px 0 0;background: url(../images/flowLine.png) no-repeat 213px 70px;}*/
/*.flow-list .flow-icon02 span {display: block;padding-left: 94px;background: url(../images/flowLine.png) no-repeat -48px 28px;}*/
/*.flow-list .flow-icon02 em {font-size: 18px;color: #fffefe;display: block;padding-top: 77px;background: url(../images/flowBg02.png) no-repeat center 0;}*/
/*.flow-list .flow-icon03 {float: left;padding: 42px 90px 0 0;background: url(../images/flowLine.png) no-repeat 163px 70px;}*/
/*.flow-list .flow-icon03 span {display: block;padding-left: 80px;background: url(../images/flowLine.png) no-repeat -97px 28px;}*/
/*.flow-list .flow-icon03 em {font-size: 18px;color: #fffefe;display: block;padding-top: 77px;background: url(../images/flowBg03.png) no-repeat center 0;}*/
/*.flow-list .flow-icon04 {float: left;padding: 42px 140px 0 0;background: url(../images/flowLine.png) no-repeat 145px 70px;}*/
/*.flow-list .flow-icon04 span {display: block;padding-left: 80px;background: url(../images/flowLine.png) no-repeat -116px 28px;}*/
/*.flow-list .flow-icon04 em {font-size: 18px;color: #fffefe;display: block;padding-top: 77px;background: url(../images/flowBg04.png) no-repeat center 0;}*/
/*.flow-list .flow-icon05 {float: left;padding: 42px 40px 0;background: url(../images/flowLine.png) no-repeat -155px 70px;}*/
/*.flow-list .flow-icon05 em {font-size: 18px;color: #fffefe;display: block;padding-top: 77px;background: url(../images/flowBg05.png) no-repeat center 0;}*/
/*em{font-style: normal}*/


.activity{padding-bottom: 4%;position: relative;}
.activity .item-ul1{position: relative;}
.activity .item-ul1 img:hover{opacity: 0.9;}
.activity .title{font-size: 18px;color: #fff;position: absolute;top: 7%;left: 50%;margin-left: -75px;}
.activity .w80{position: absolute;top: 20%;}
.activity .swiper-slide{position: relative;}
.activity .item-bt{opacity: 0.6; filter: alpha(opacity=60);color: #fff;padding: 0 2%;height: 35px;line-height: 35px;background: #000;position: absolute;bottom: 20px;width: 100%;}
.activity .item-bt:hover{opacity: 0.8;filter: alpha(opacity=80);}
.activity .item-bt .main{color: #fff;font-size: 12px;font-weight: 100;}
.activity .item-bt a{display: inline-block;width: 100%;height: 100%;}
.swiper-slide .details{float: right;}
.swiper-slide .details img{width: 6px;}
.myCarousel .carousel-control {position: absolute;width: 30px;height: 30px;font-weight: 100;line-height: 26px;color: #FFF;text-align: center;background: #333;opacity: 1;top: 4%;}
.myCarousel .carousel-control:hover{background: #76c3ee;}
.myCarousel .left{left: 92%;background-image: none;}
.myCarousel .right{left: 95%;background-image: none;}
.carousel-control:focus{color: #fff;text-decoration: none;filter: alpha(opacity=100);outline: 0;opacity: 1;}
.content-foot{width: 100%;padding: 2% 0;background: #6784a2;text-align: center;color: #fff;font-weight: 100;
}
.content-foot-p{font-size: 18px;}
.bridge{margin-top: 2%;width: 80%;position: relative;left: 50%;margin-left: -100%;}
.bridge li{width: 25%;position: relative;float: left;}
.bridge li .icon{width: 35%;}
.bridge li p{margin-top: 2%;font-size: 14px;}
.bridge li p .last{font-size: 12px;}
.bridge li .xian{position: absolute;top: 0;right: 0;height: 100%;width: 5px;}
.logo{position: relative;top: 12px;width: 90px;}



/*search_housing*/
.input-search {position: relative;width: 330px;display: inline-block;top: 12px;left: 1%;}
.input-search .text {width: 79.8%;height: 36px;line-height: 36px;color: #5486c0;padding: 8px;font-size: 14px;border-radius: 4px 0 0 4px;background: #f2f7f0;float: left;}
.input-search .button {width: 15%;height: 36px;background: #5385c0;color: #fff;font-size: 16px;cursor: pointer;line-height: 36px;border-radius: 0 4px 4px 0;float: left;}
.operation{margin-top: 12px;}
.operation li{float: left;width: 60px;height: 36px;line-height: 36px;text-align: center;background: #eee;border-radius: 4px;font-size: 16px;}
.operation .active{background: #fb924d;margin-right: 10px;}
.operation li a{display: inline-block;width: 100%;height: 100%;color: #333;}
.operation .active a{color: #fff;}
.content{position: relative;}
.content-left {width: 60%;overflow-x: hidden;height: 100%;position: relative;z-index: 5;background: #fff;}
.content-right {width: 40%;position: fixed;top: 60px;bottom: 0;right: 0;overflow: hidden;}

.ul-information li{width: 100%;border-bottom: 1px solid #dbdbdb;padding: 10px 2%;}
.ul-information li .active{background: #5d8ec8;color: #fff;}
.ul-information li .title{display: inline-block;width: 80px;color: #333;font-size: 14px;}
.common{display: inline-block;width: 90px;padding: 0 5px;color: #666;}
.rental_mode{display: inline-block;width: 90px;height: 30px;line-height: 30px;color: #666;background: #f3f3f3;margin-right: 7.3%;font-size: 12px;text-align: center;}
.ul-information li .address{padding-right: 18px;color: #666;}
.ul-information li #cancel{width: 60px;height: 30px;text-align: center;line-height: 30px;background: #fb924d;color: #fff;}
.ul-information li.last{border-bottom: none;}

.ul-house{margin-left: -0.5%;width: 99.2%;padding: 0 0.4%;}
.ul-house li{width: 47%;margin-left: 2.5%;float: left;position: relative;margin-bottom: 1.5%;}
.ul-house li>a{display: inline-block;width: 100%;position: relative;}
.ul-house li>a .item-b{border: 1px solid #f0f0f0;border-top:none;padding: 1% 2%;}
.ul-house li>a .people{position: absolute;right: 1%;bottom: 10%;z-index: 100;border-radius: 100px;}
.ul-house li .play{width: 35px;height: 35px;background: #000;border-radius: 35px;opacity: 0.6;filter: alpha(opacity=60);position: absolute;right: 2%;top: 4%;color: #fff;text-align: center;line-height: 38px;font-size: 20px;z-index: 1000;}
.ul-house li .play:hover{opacity: 0.8;filter: alpha(opacity=80);font-size: 21px;cursor: pointer;}



.house-details-bg{position: absolute;bottom:0px;width:100%;height: 70px;background: #000;opacity: 0.5;filter: alpha(opacity=50);}
.house-details{position: absolute;bottom: 30px;color: #fff;padding: 2%;width: 98%;}
.house-details:hover{opacity: 0.8;filter: alpha(opacity=80);}
.house-details .price{font-size: 16px;}
.house-details .address{float: right;font-size: 12px;}
.ul-house .main{width: 100%;}
.w96{padding: 0 1.5%;color: #999;line-height: 30px;}



.loadMap {width:360px;position:absolute;z-index:1000;top:50%;left: 50%;margin-left: -180px;margin-top: -103px;;}
.loadpop {width:182px;height:182px;overflow:hidden;background:#fff;text-align:center;box-shadow:5px 15px 15px #ccc;position:relative;top:0;z-index:1;border-radius:182px;margin:0 auto;margin-bottom:24px;display: none;}
.loadpop .loadIcon {position:absolute;bottom:8px;right:-2px}
.loadpop label {display:inline-block;margin-top:25px;width:100%;text-align:center;color:#764a1c;font-size:12px;margin-bottom:0}
.loadpop label+label {margin-top:-5px!important}
.loadpop .progressAnim i {display:inline-block;width:7px;height:7px;background:#76a930;border-radius:7px;margin-right:7px}
.notHoust {width:360px;height:230px;background:url(../images/notSerachHouse.png) no-repeat;display: none;position:absolute;top:0}
.notHoust .tishi {width:230px;margin:0 auto}
.notHoust .tishi p {color:#ff5300;font-size:14px;font-weight:bold;padding-top:60px;margin:0}
.notHoust .tishi label {color:#908e8e;font-size:12px}
.notHoust .tishi .left_sub,.notHoust .tishi .right_sub {display:inline-block}
.notHoust .tishi .left_sub label,.notHoust .tishi .right_sub label {display:block;color:#454545}
.notHoust .tishi .left_sub label i,.notHoust .tishi .right_sub label i {display:inline-block;width:5px;height:5px;background:#ff5300;border-radius:5px;position:relative;top:-2px}
.notHoust .tishi .left_sub button,.notHoust .tishi .right_sub button {margin-top:11px;width:72px;height:25px;border:2px solid red;background:#fff;font-size:12px;color:#ff5300;outline:none}
.notHoust .tishi .right_sub {vertical-align:top}
.housing {font-size:14px;color:#ff5300;font-weight:bold;text-align:center;margin-top:10px}


/*.mapSo {line-height: 30px;height: 30px;background: #f18d00 url("../images/icon_12.png") no-repeat 18px center;border: 0;padding: 0;width: 108px;font-weight: bold;color: #fff;font-size: 16px;padding-left: 20px;cursor: pointer;}*/




/*le_mall*/
.shop-list{width: 100%;margin-left: 1%;}
.shop-list li{width: 31.33%;margin-right: 2%;float: left;margin-top: 1.7%;}
.shop-list li a{display: inline-block;width: 100%;position: relative;}
.shop-list li a img:hover{opacity: 0.8;}
.shop-list li a .item-b{padding: 1% 2%;position: absolute;}
.shop-list li a .item-b .main{width: 100%;color: #666;font-size: 12px;}
.shop-list li a .item-b .main .title{color: #333;font-size: 14px;}
.shop-list .btn-change{padding: .5% 2%;background: #fca511;color: #fff;position: absolute;right: 2%;bottom: 10%;border-radius: 5px;font-size: 12px;}




/*housing_information*/
.pc_deatils{margin-left: 990px;padding: 0 10px;height: 478px;position: absolute;top: 0;}
.pc_deatils li{border-bottom: 1px dashed #dbdbdb; padding: 13px 0;position: relative;}
.pc_deatils li .title{font-size: 16px;color: #333;font-weight: bold;}
.information-div{display: inline-block;width: 70%;}
.house-span{vertical-align: top;position: relative;top: 5px;}
.pc_deatils li .information{display: inline-block;padding: 5px 13px;border: 1px solid #dbdbdb;font-size: 14px;margin-bottom: 5px;}
.pc_deatils li .information:hover{border-color: #3b5991;}
.pc_deatils li.last{border-bottom: none;}
.pc_deatils li a{display: inline-block;width: 182px;height: 60px;line-height: 60px;text-align: center;border-radius: 5px;color: #fff;font-size: 14px;}
.pc_deatils .now{background: #fba511;margin-right: 20px;}
.pc_deatils .address,.w80>.deatils .staging{background: #e95757;}
.pc_deatils .staging{height: 25px;line-height: 25px;font-size: 14px;float:right;width: 100px;background: red;margin-top: -3px;}
.tool{width: 100%;background: #f2f2f2;padding: 10px 10px 5px;text-align: center;margin-top:490px;}
.tool .title{color: #fba613;float: left;}
.tool .tool-group{display: inline-block;width: 10.7%;clear: both;color: #666;position: relative;}
.furniture{margin-top: 0;}
.furniture .title{color: #3b5991;}
.furniture .tool-group{color: #3b5991;}
.furniture .tool-group img{width: 41px;}
.room{width: 79.7%;margin-bottom: 10px;display: inline-block;}
.room-group{width: 100%;}
.room-information{width: 100%;}
.room-information li{float: left;margin-top: 1%;margin-right: 1%;position: relative;}
.room-information2 li{width: 49%;}
.room-information3 li{width: 32.33%;}
.room-left{position: absolute;left: 0;height: 100%;padding: 0 2%;background: #edeff5;top: 0;text-align: center;border: 1px solid #addced;border-right: none;width: 170px;}
.room-left>div{position: relative;top: 50%;margin-top: -67%;}
.room-left .yuyue,.room-top .yuyue{width: 80px;height: 25px;line-height: 25px;text-align: center;background: #fba511;color: #fff;border-radius: 3px;font-size: 12px;display: inline-block;}
.room-top{position: absolute;top: 0;width: 100%;background: #edeff5;padding-right: 1%;border: 1px solid #addced;border-bottom: none;}
.room-top .people{float: right;margin-top: 1%;margin-right: 2%;}
.room-top .deatils{width: 66%;display: inline-block;text-align: right;top: -10px;position: relative;font-size: 14px;}
.spans-img{position: absolute;top: -10px;left: 10px;}
.rooms-group{font-size: 16px;}
.room-bottom{position: absolute;bottom: 0;width: 100%;background: #edeff5;padding-left: 1%;border: 1px solid #addced;border-top: none;}
.room-bottom .people{float: left;margin-top: 1%;}
.room-bottom .deatils{width: 66%;display: inline-block;text-align: left;top: -10px;position: relative;left: 7%;}
.deatils-img{margin-top: 5%;}
.w80>.information{border-top: 1px solid #4875a2;width: 20%;float: right;margin-top: 0.8%;background: #f9f9f9;padding: 0 1%;}
.information-head{width: 100%;height: 30px;line-height: 30px;border-bottom: 1px dashed #dbdbdb;color: #4875a2;}
.information-content{text-align: center;padding-bottom: 40px;}
.information-content .name{color: #125580;font-size: 18px;}
.information-content .phone{font-size: 20px;color: #5c9eed;position: relative;top: 10px;left: 5px;}
.dialog{width: 80%;background: #fff;    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);position: absolute;left: 50%;margin-left: -40%;top: 50px;border-radius: 8px;}
.dialog-head{padding: 15px;border-bottom: 1px solid #e5e5e5;min-height: 16px;}
.dialog-content{padding: 1%;width: 100%;position: relative;}
.dialog-menu{background: #41cbc0;width: 100%;padding-left: 20px;}
.dialog-menu li{float: left;color: #fff;font-size: 14px;}
.dialog-menu li a{color: #fff;display: inline-block;padding: 10px 15px;}
.dialog-menu li.active a{background: #fff;color: #40cbc0;}
.dialog-menu li a:hover{text-decoration: underline;}
.dialog-foot{padding: 15px;text-align: right;border-top: 1px solid #e5e5e5;}
.borhood{padding: .5% 1.5%;}
.borhood p{padding: .5% 0;}




/*login*/
.logBodyBg{width: 100%;height: 100%;position: fixed;z-index: 1;left: 0;top: 0;overflow: hidden;}
.logBodyBg img{width: 100%;height: 100%;}
.head{position: relative;z-index: 2;}
.logBg,.logWrap{width: 442px;height: 380px;position: absolute;z-index: 1;left: 50%;top: 50%;margin: -190px 0 0 -221px;padding: 20px;border-radius: 10px;}
.logBg{background-color: #fff;opacity: 0.6;filter: alpha(opacity=60);}
.logReg,.logRegs{height: 420px;margin-top: -210px;}
.form{width: 100%;height:100%;font-size: 12px;}
.form .title{font-size: 18px;color:#f16b22;margin: 20px 0 20px 0;text-align: center; }
.form .fa{font-size: 16px;}
.form .form-group{height: 34px;position: relative;}
.form .form-group .check{color: #666;}
.form-group1{position: relative;top: -25px;}
.form-group .col-sm-12,.form-group .col-sm-7{position: relative;padding:0;}
.col-sm-7{padding: 0;}
.form-group i{position: relative;z-index: 1;display: inline-block;height: 38px;line-height: 38px;padding-left: 11px;}
.form  input.form-control{padding-left: 30px;border-radius: 0;font-size: 12px;height: 36px;}
input.input-top{margin-top: -38px;}
.form-control[type="password"]{border-left: 4px solid #f16a20;}
.form-group .code{width: 110px;height: 36px;line-height: 36px;text-align: center;background: #4489dc;color: #fff;float: right;}
.form-group .code:hover{opacity: 0.9;filter:alpha(opacity=90);}
.form-group .active{background: #fff;color: #999;}
input.btn-click{background: #f16a20;font-size: 12px;color: #fff;border-radius: 10px;padding-left: 0;}
input.btn-click:hover{background: #e16a20}
.form .form-group .btn-click{background: #f16a20;font-size: 14px;color: #fff;border-radius: 10px;text-align: center;border: none;}
.form-group .btn-click:hover{text-decoration: none;opacity: 0.9;filter:alpha(opacity=90);}
.form-group a:hover{text-decoration: underline;}
.form-group a{color: #f16a20;}




/*housing_trust*/
.c-div{background: #dfe8f4;padding-top: 1px;}
.w60{width: 1050px;position: relative;left: 50%;margin-left: -525px;}
.choice{width: 100%;margin-left: 1%;margin-bottom: 30px;}
.choice li{width: 48%;float: left;margin-right: 2%;position: relative;}
.choice .play{width: 70px;height: 70px;border-radius: 50px;background: rgba(0,0,0,.6);text-align: center;line-height: 75px;position: absolute;z-index: 1;left: 50%;top: 30%;margin-left: -25px;margin-bottom: -25px; color: #fff;font-size: 25px;filter:alpha(opacity=60);}
.choice .play:hover{background: #000;cursor: pointer;}
.choice-bottom{position: absolute;bottom: 0;left: 0;right: 0;height: 70px;background: #fff;text-align: center;}
.choice-bottom button{height: 35px;line-height: 35px;width: 35%;background: #f69d45;color: #fff;font-size: 16px;display: inline-block;margin-top: 15px;border-radius: 5px;}
.div-bg{background: url("../images/t-bg.jpg") no-repeat center center;height: 500px;width: 100%;background-size: cover;text-align: center;overflow: hidden;}
.div-bg .title{font-size: 18px;color: #fff;margin-top: 30px;}
.div-bg .step{width: 100%;margin-left: 1%;}
.div-bg .step li{float: left;width: 14.25%;color: #fff;}
.div-bg .step li img{margin: 20px 0;}
.div-bg .type{font-size: 18px;color: #fff;padding: 5px 10px;border: 1px solid #fff;display: inline-block;width: 500px;margin: 20px 0;}
.deposit{border-radius: 5px;}


/*person-information*/
.w-head{width: 255px;height: 60px;background: url("../images/ul_head.png") no-repeat;font-size: 18px;text-align: center;line-height: 60px;color: #fff;position: relative;z-index: 1;border-radius: 5px 5px 0 0;}
.w-left,.we-ul{width: 255px;float: left;}
.we-ul{background: #fff;}

.menu{border-radius: 5px 5px 0 0;position: relative;top: -25px;background: #fff;}

.menu li{width:100%;height: 60px;font-size: 16px;}
.menu .last a{border-bottom: none;}
.menu li a{display: inline-block;height: 60px;border-left:2px solid transparent;width: 253px;border-bottom: 1px solid #e0e0e0;text-align: center;line-height: 60px;color: #333; }
.menu li a i{display: inline-block;width: 40px;text-align: left;}
.menu li.active a{border-left: 2px solid #fca511;color: #fca511;}
.w-right{margin-left: 270px;background: #fff;margin-top: 20px;padding: 1% 1.1%;min-height: 455px;}
.wr-head{height: 116px;width: 100%;padding: 8px 15px;background: #e8f2f9;}
.wr-head img{float: left;}
.btn-fillin{width: 70px;height: 25px;line-height: 22px;text-align: center;border-radius: 2px;background: #a2b7c6;color: #fff;}
.wr-head>span{position: relative;top: 30px;left: 15px;}
.wr-head .phone{color: #666;font-size: 18px;}
.wr-content{color: #666;font-size: 14px;}

.wr-content span{display: inline-block;line-height: 30px;}
.wr-content .infomation{display: inline-block;padding: 0 5px;border: 1px solid #dbdbdb;position: relative;z-index: 1;background: #fff;top: -1px;}
.wr-content .infomation.active{border-bottom-color:#fff;}
.wr-content .address,.wr-content .time{border: none;width: 100px;border-bottom: 1px solid #aaa;padding-left: 5px;}
.div-group{margin: 15px;}
.div-group .ziliao{width: 5%;border-radius: 80px;}
.span-group{display: inline-block;width: 65px;}
.input-group,.select-group{width: 50%;height: 30px;border:1px solid #dbdbdb;outline: none;display: inline-block;padding-left: 1%;}
.input-group-time{width: 14%;}
.div-group .select{width: 14%;margin-right: 2%;padding-left: 1%;height: 30px;}
.btn-sure{width: 100px;height: 40px;line-height: 40px;background: #fca511;color: #fff;border-radius: 4px;}
.p-group{color: #666;height: 60px;line-height: 60px;border-bottom: 1px dashed #dbdbdb;}
.p-group.title{font-size: 16px;color: #333;}
.div-group .prize{float: left;}
.div-group .deatils{position: relative;top: 30px;left: 10px;display: inline-block;}
.btn-rnow{width: 70px;height: 30px;line-height: 30px;text-align: center;background: #fca511;color: #fff;border-radius: 4px;position: relative;top: 20px;left: 150px;}
.div-group .servers{display: inline-block;padding: 20px 8px;border: 1px solid #5494e1;}
.w-right>.title{font-size: 18px;color: #678ab3;}
.pay{border-bottom: 1px dashed #dbdbdb;height: 60px;line-height: 60px;}
.pay li{float: left;width: 20%;height: 60px;line-height: 60px;}
.pay li button{width: 70px;height: 30px;line-height: 30px;text-align: center;color: #fff;border-radius: 4px;background: #fca511;font-size: 12px;display: inline-block;}
.leave-step{width: 100%;position: relative;left: 50%;margin-left: -40%;}
.leave-step li{float: left;width: 15%;text-align: center;color: #666;margin: 2% 0 0 0;}
.leave-step li button{border: 1px solid #dbdbdb;background: #fff;width: 70px;height: 25px;line-height: 22px;color: #333;margin: 5px 0;}
.box-sure{background: #fff;color: #fba511;padding: 2%;text-align: center;width: 300px;position: absolute;left: 50%;margin-left: -150px;top: 35%;border-radius: 10px;}
.box-sure span{font-size: 18px;}
.box-sure .smail{margin: 5% 10% 5% -5%;}



/*about-us*/
.we-ul li{width: 100%;height: 60px;}
.we-ul li a{width: 100%;height: 60px;display: inline-block;text-align: center;line-height: 60px;border-bottom: 1px solid #dbdbdb;color: #333;font-size: 16px;}
.we-ul li.active a{background: #fca511;color: #fff;}
.we-ul li a .fa{font-size: 20px;position: relative;top: 3px;}
.about-us{width: 100%;margin-top: 20px;}
.about-us li{float: left;width: 48%;margin-right: 2%;}



/*activey*/
.list{width: 96%;margin-left: 2.5%;margin-top: 2%;padding-bottom: 2%;}
.list li{float: left;width: 49%;margin-right: 1%;border: 1px solid #dbdbdb;margin-bottom: 1%;}
.list li .main{padding: 1% 2%;}
.list li.last{margin-right: 0;}
.list li .title{font-size: 14px;color: #333;}
.list li .main-details{font-size: 12px;color: #666;}
/*footer*/
.footer{background: #445c75;padding: 20px 0;width: 100%;font-size: 12px;}
.footer .fl ul{width: 400px;margin: 0 auto;height: 20px;}
.footer .fl li{width: 20%;float: left;text-align: center;}
.footer .fl li a{color: #fff;}
.footer .fl li a:hover{text-decoration: underline;}
.footer .fr{color: #fff;text-align: right;}
.footer .fl,.footer .fr{width: 45%;float: left;text-align: center;}
.footer .fr{width: 55%;}
.footer .fl li .right{float: right;}




/*media*/
@media screen and (max-width: 1600px) {
    .activity{padding-bottom: 10%;position: relative;}
    .w96{padding: 0 2%;}
}

@media screen and (min-width: 1400px) {
    .head,.content,.footer{min-width: 1400px;}
    body{overflow-x: hidden;}
}

@media screen and (max-width: 1400px) and (min-width: 640px) {
    .head,.content,.footer{min-width: 1100px;}
    .w80{width: 1100px;margin-left: -550px;}
    .shop-list li a {height: 300px;}
    .pc_deatils{margin-left: 810px;width: 300px;}
    .pc_deatils li{border-bottom: 1px dashed #dbdbdb; position: relative;}
    .pc_deatils li a{display: inline-block;width: 80px;height: 40px;line-height: 40px;text-align: center;border-radius: 5px;color: #fff;font-size: 14px;}
    .pc_deatils .now{background: #fba511;margin-right: 20px;}
    .pc_deatils .address,.w80>.deatils .staging{background: #e95757;}
    .middle-none{display: none;}
    .pc_deatils .staging{width: 80px;}
}

@media screen and (max-width: 720px) {
    .footer .fl,.footer .fr{width: 100%;}
    .footer .fr span{display: inline-block;width: 100%;font-size: 12px;}
}

@media screen and (min-width: 640px) {
    .pc-none{display: none;}
}


