@charset "utf-8";
@media screen and (max-width: 639px) {
    html{max-width: 640px;}
    body{max-width: 640px;min-width: 310px;}
    .wrapper{width: 100%;}
    .head{width: 100%;background: rgba(164,196,237,.8);}
    .head-main{width: 98%;height: 100%;max-width: 640px;padding: 0 0;}
    .head-main>div{text-align: center;}
    .head-main .glyphicon{color: #fff;float: left;position: relative;top: 22px;}
    .login{width: 70px;margin-top: 12px;}
    .menu_mobile {margin-left: -100%;display: none;position: fixed;left: 0;right: 0;top: -3px;bottom: 0;background: rgba(0,0,0,.5);z-index: 9999;}
    .menu_mobile li {width: 0;height: 50px;}
    .menu_mobile li a {display: inline-block;width: 100%;height: 50px;line-height: 50px;font-size: 14px;color: #fff;border-bottom: 1px solid #aaa;background: rgba(0,0,0,.8);text-align: center;}
    .menu_mobile li a:hover{text-decoration: none;}
    .menu_mobile .last a {border-bottom: none;}
    .mobile_w80{width: 100%;left: 0;margin-left: 0.6%;margin-top: 0;}
    .mobile_w80>li{width: 49%;position: relative;margin-top: -0.8%;}
    .mobile_w80>li.no-house{display: none;}
    .mobile_w80>li.li4{width: 98.5%;}
    .w80>li .img{opacity: 1;filter:alpha(opacity=100);}
    .rb-span,.rt-span,.lt-span{display: inline-block;width: 70px;height: 30px;background: rgba(0,0,0,.5);text-align: center;line-height: 31px;color: #fc924e;font-size: 14px;border-radius: 4px;}
    .rb-span,.rt-span,.lt-span{position: absolute;top: 50%;left: 50%;margin-left: -35px;margin-top: -15px;}
    .activity .title{color: #55340e;top: 45%;font-size: 18px;}
    .mobile_iu li{width: 100%;}
    .activity .item-b{height: 50px;line-height: 50px;}
    .activity .mobile_w80{margin-top: 40px;}
    .myCarousel .carousel-control {top: 48%;}
    .myCarousel .carousel-control {position: absolute;top: 50%;width: 39px;height: 76px;margin-top: -20px;font-size: 60px;font-weight: 100;line-height: 22px;color: #fff;text-align: center;background: transparent;}
    .myCarousel .carousel-control.left{left: 3%;background-image: none;}
    .myCarousel .carousel-control.right{left: 85%;background-image: none;}
    .myCarousel .right:hover,.myCarousel .left:hover{background: transparent;}
    .content-foot{margin-top: 68%;background: #fff;}
    .bridge{margin-top: 2%;width: 100%;position: relative;left: 50%;margin-left: -100%;}
    .bridge li{width: 49.5%;position: relative;float: left;background: #fb924d;margin-right: 1%;margin-bottom: 1%;}
    .bridge li .icon{width: 25%;margin: 5% 0;}
    .bridge li span{font-size: 16px;display: inline-block;width: 50%;}
    .bridge li .xian{position: absolute;top: 0;right: 0;height: 100%;width: 5px;}
    .bridge li.last{margin-right: 0;}
    .pc_deatils{width: 100%;margin-left: 0;position: relative;z-index: 100;font-size: 16px;max-width: 640px;}
    .pc_deatils li{border-bottom: 1px dashed #dbdbdb; padding: 10px 2%;width: 100%;position: relative;}
    .pc_deatils .staging{right: 0;}
    .tool{text-align: left;margin-top: .1%;}
    .mobile_w80>.fx-title{display:inline-block;width: 100%;height: 40px;line-height: 40px;background: #99c9f1;color: #fff;font-size: 18px;text-indent: 25px;margin-top: 10px;}
    .tool .tool-group{width: 32.3%;margin-bottom: 3.5%;margin-left: .1%;text-align: left;padding-left: 5%;}
    .tool .tool-group span{}
    .room{width: 100%;margin-bottom: 0;}
    .room li{width: 100%;}
    .room-top{height: 107px;}
    .room-top1  .deatils{text-align: left;padding-left: 2%;width: 55%;float: left;}
    .room-top2 .deatils{text-align: left;width: 145px;float: right;margin-right: 1%;}
    .room-left>div{margin-top: -90%;}
    .room-left .people-img{width: 50%;}
    .room-top .right,.room-top .left{margin: 10px 0;}
    .room-top .deatils{position: relative;top: 20px;}
    .room-top1 .people {float: right;margin-top: 1%;margin-right: 15%;}
    .room-top2 .people {margin-left: 13%;}
    .room-top .right .spans-img {position: static;display: inline-block;width: 85px;float: right;margin-right: 5%;}
    .room-top .left .spans-img {position: static;display: inline-block;width: 85px;float: left;margin-left: 10%;}
    .activity .item-b .main {font-size: 16px;}
    .btn-fast{width: 180px;height: 60px;line-height: 60px;text-align: center;color: #fff;font-size: 20px;border-radius: 10px;background: #fba511;margin: 20px auto;display: block;}
    .footer{width: 100%;min-width: 320px;}
    .footer .fr{width: 90%;margin-left: 5%;position: relative;top: 10px;}
    .footer .fl{position: relative;top: 10px;}
    .footer .fl ul {width: 240px;}
    .footer .fl ul li{width: 33.3%;}
    .mobile_none{display: none;!important;}
    .input-search{position: absolute;top: 55px;z-index: 500;width: 100%;max-width: 640px;}
    .content-right{width: 100%;z-index: 0;top: 0;}
    .w-top{width: 100%;height: 70px;background: #fff;}
    .w-top li{float: left;width:25%;border: none;height: 70px;}
    .w-top li a{width: 100%;height: 100%;text-align: center;display: inline-block;color: #666;}
    .w-top li a i{display: inline-block;width: 30px;height: 30px;line-height: 30px;border: 1px solid #666;border-radius: 30px;margin-top: 10px;}
    .w-top li.active a {color: #fca511;}
    .w-top li.active a i{border: 1px solid #fca511;}
    .w-bottom{background: #fff;margin-top: 20px;padding: 1% 0;min-height: 480px;position: relative;margin-left: 0;}
    .wr-head{background: #fff;border-bottom: 1px solid #dbdbdb;}
    .caret-ul{position: absolute;top: -18px;width: 100%;}
    .caret-ul li{width: 33.333%;float: left;text-align: center;visibility: hidden;}
    .caret-ul li.active{visibility: visible;}
    .input-group-input,.select-group{width: 78%;background: #e7f1fd;}
    .div-group .select{width: 20%;}
    .span-group {width: 22%;}
    .p-group{padding: 0 3%;}
    .p-group.title{font-size: 18px;color: #445c75;}
    .pay li{width: 49%;padding: 0 0 0 3%;}
    .pay li .span-img{display: inline-block;width: 17%;text-align: center;}
    .div-group .span-tou{display: inline-block;width: 60px;height: 60px;position: relative;background: #eee;}
    .div-group .span-tou .ziliao{width: 60px;height: 60px;padding: 2px;border: 1px solid #ddd;}
    .div-group .span-tou .title,.div-group .span-tou .ti-c{position: absolute;width: 100%;height: 20px;line-height: 20px;color: #fff;bottom: 0;font-size: 12px;text-align: center;display: inline-block;}
    .div-group .span-tou .ti-c{}
    .div-group .span-tou .title{background: #000;opacity: 0.5;filter: alpha(opacity=50);}
    .portlet{margin-top: 15%;width: 96%;position: absolute;left: 50%;margin-left: -48%;}
    .content-head{position: relative;height: 568px;}
    .content-head .mobile-img{min-height: 568px;max-height: 568px;width: 100%;height:320px;}
    .ch-mask-main {bottom: 3%;}
    .mobile-ch{width: 100%;max-width: 640px;}
    .ch-mask{height: 80px;background: transparent;}
    .ch-mask-main{width: 90%;margin-left: -45%;bottom:30%;}
    .ch-mask-main .form-control{width: 75%;}
    .ch-mask-main .btn-group{width: 20%;}
    .head-main{width: 90%;}
    .room-left>div{margin-top: -50%;}
    .room-left .people-img{width: 45%;}
    .mask-content{margin-top: 100px;}
    .mask-content .li-img{width: 100%;}
    .logBg, .logWrap{width: 320px;margin: -160px -160px;}
    .logReg, .logRegs{margin-top: -180px;}
    .mask .box{left: 0;margin-left: 0;}
    .comon-head{line-height: 50px;}
    .shop-list{margin-left: 0;}
    .shop-list li{width: 100%;margin-right: 0;}
    .choice li{margin-right: 0;}
    .choice li{width: 100%;margin-right: 0;}
    .div-bg .type{width: 100%;max-width: 500px;}
    .deposit{width: 50%;}
    .w80 .li4{width: 100%;}
    .room-information li{padding-left: 0;}
    .shop-list li a .item-b .main .money{left: 66%;}
    .wr-content>.title{padding: 0 10px;}
    .payment li{width: 50%;margin-top: 5px;}
    .new-house .w80{width: 100%;}
    .item-ul1 li{width: 100%;padding-bottom: 48px;}
    #video{position: absolute;left:50%;top:20%;width: 98%;margin-left: -49%;margin-top: 0;}
    .item-ul1 li .main,.item-ul li .main{width: 80%;}

    .house-infor{border-top: 0;margin-top: 0;}
    .house-infors{width: 100%;}
    .house-span1{display: inline-block;width: 80%;}
    .house-title{position: relative;top: 0;vertical-align: top;}
    .tool-title{position: relative;left: 25px;}
    .tool-group.mb0{margin-bottom: 0;}
    .mobile-room li{margin-right: 0;width: 100%;display: none;}
    .mobile-room li.active{display: inline-block;}
    .mobile-room li:first-child{margin-top: 0;}
    .mobile-room li .img-responsive{height: auto;width: 100%;}

    .that-title{display:inline-block;width: 100%;height: 40px;line-height: 40px;background: #99c9f1;color: #fff;font-size: 18px;text-indent: 25px;margin-top: 10px;padding: 0;}
    .that-title .fa{position: relative;right: 20px;font-size: 24px;}

    .footer .fl li a{font-size: 16px;}
    .footer .fr{position: relative;top: 15px;}
    .apartment-display{width: 100%;left: 0;top: 0;height: auto;}
    .houser{margin: 0 4%; width: 109px; float: left;height: auto;}
    .num-infor{}
    .num-infor .name{}
    .num-infor .phone{font-size: 16px;}
    .num-infor .phone-img{margin-top: 10px;width: 35px;}
    .shopping-infor{margin-top: 0;}
    .sInfor{margin-bottom:0;}
    .shopping-infor>img{width: 100%;max-width: 640px;}
    #myCarousel .carousel-control.left, #myCarousel .left-bg, #myCarousel .carousel-control.right, #myCarousel .right-bg{display: none;}
    .item-ul1 li .img-responsive,.item-ul li .img-responsive{width: 100%;}
    .item-ul1 li .infor-mask, .item-ul1 li .infor-mask-bg{bottom: 49px;}
    .video{left: 0;margin-left: 0;height: 320px;margin-top: -160px;}
    .serversMoney-infor{left: 0;margin-left: 0;}
}

@media screen and (max-width: 414px) {
    .item-ul1 li{height: 330px;}
    .item-ul1 li .img-responsive{height: 280px;}
    .w80 .item-ul1 li .play{background: #000;color: #fff;}
}

@media screen and (max-width: 420px) {
    .bridge li span{width: 60%;font-size: 14px;}
    .content-foot{margin-top: 75%;}
    .shop-list li a .item-b .main .money{left: 62%;}
}

@media screen and (max-width: 432px) {
    .information-div{width: 68%;}
}

@media screen and (max-width: 320px) {
    .shop-list li a .item-b .main .money{left: 59%;}
}