.weui_cell_vcode{padding: 0 15px;}
.weui_vcode_btn{padding: 8px 0.4rem;min-width: 6.25rem;text-align: center;display: block;margin: 5px 0;background: #61b1f0;color: #fff;border-radius: 4px;}
.weui_vcode_btn.disabled{background: #eee;color: #333;}
a:active{opacity: 0.8;}
.weui_cell .weui_label img{width: 15%;}
.weui-agree {
    display: block;
    padding: .5em 15px;
    font-size: 13px;
    position: relative;
}
.weui_cells_form input.weui-agree__checkbox {
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    font-size: 0;
    border: 1px solid #D1D1D1;
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 13px;
    height: 13px;
    position: relative;
    vertical-align: 0;
    top: 2px;
}
.weui-agree__text {
    color: #999999;
}
.weui-agree a {
    color: #7fcb82;
}
.productLink{color: #60b1f0;}
.positionMenu.style.limr15 li>a .positionJob{margin-left: 1rem;}
.positionMenu.style.bb0 li{border-bottom: 0;}
#content.styles{top: 7.5rem;bottom: 0;}
.weui-agree:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.weui-agree__checkbox:checked:before {
    font-family: "weui";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    speak: none;
    display: inline-block;
    vertical-align: middle;
    text-decoration: inherit;
    content: "\EA08";
    color: #09BB07;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -48%) scale(0.73);
    transform: translate(-50%, -48%) scale(0.73);
}
.page.bgfff{background: #fff;}
.weui_btn_area a.weui_btn.weui_btn_primary.cancel,.weui_btn_area .sure{width: 48%;float: left;margin-top: 0;font-size: 18px;}
.weui_btn_area a.weui_btn.weui_btn_primary.cancel{float: right;}
.weui_btn_area .sure{background: #61b1f0;}
.weui_btn_area .sure:active{opacity: 0.8;background: #61b1f0;}
.weui_label{width: 90px;}

/*positionList*/
#content{position: fixed;bottom: 3rem;}
.positionMenu.style li>a{display: flex;padding-bottom: 0.5rem;}
.positionMenu.style li>a .companyh{width: 4rem;height: 4rem;}
.positionMenu.style li>a .positionJob{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;margin-left: 0.5rem;}
.positionMenu.style li>a .positionJob p.clearfix{display: block;}
.positionMenu.style li>a .positionJob p .money{color:#61b1f0 ;}
.positionMenu.style li>a .positionJob p .name{color:#666 ;}
.positionMenu.style li>a .positionJob p .time{font-size: 0.625rem;color: #666;}
.weui_search_inner .weui_search_input {
width: 89%;
    padding: 4px 0 4px 5px;
}

/*personInfor*/
.weui_cell.bt0{padding-top: 0;}
.weui_cell.bt0 textarea{background: #f1f2f4;}
.weui_cell.bt0:before {
    content: " ";
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.personHead{text-align: center;padding: 1rem 0;background: #fff;font-size: 0.875rem;color: #999;margin-bottom: 0.625rem;border-bottom: 1px solid #dbdbdb;}
.personHead .personHimg{display: inline-block;width: 5rem;height: 5rem;border-radius: 100%;position: relative;border: 2px solid #ddd;}
.personHead .personHimg .portrait{width: 100%;height: 100%;border-radius: 100%;}
.personHead .personHimg .modifys{position: absolute;right: 0;bottom: 0;width: 2rem;height: 2rem;}


/*foot*/
.foot.p0{padding: 0;}
.foot{position: fixed;left: 0;right: 0;bottom: 0;height: 3rem;text-align: center;line-height: 3rem;background: #fff;padding: 5px 0;}
.tabMenu{width: 100%;display: block;height: 100%;border-top: 1px solid #efefef;}
.tabMenu li{width: 33.33%;float: left;position: relative;}
.tabMenu li:after{position: absolute;top: 0;right: 0;border-right: 1px solid #efefef;content: "";width: 1px;height: 100%;}


.tabMenu li.active a{display: block;color: #61b1f0;}
.tabMenu li a{display: block;font-size: 1rem;height:3rem;line-height:3rem;color: #333;position: relative;width: 100%;}



/*positionInfor*/
.positionMenu li>a .money{color: #61b1f0;}
.comInfor.style .positionMenu li>a{border-bottom: 0;}
.positionMenu li .companyInfor.style{padding: 0 3% 1%;}
.prosuct.b0 .goodMenu li{border: 0;}
.prosuct .goodMenu{margin-top: 0;}
.tabbar .weui_btn_area{margin:0 3rem 1rem;}
.companyImgList.style{background: transparent;border: 0;}
.btnFreeDiv{position: relative;}
.btnFreeDiv .btnFree{position: absolute;width: 8rem;height: 2.2rem;line-height: 2.2rem;font-family: "Microsoft Yahei";text-align: center;background: #fff;color: #61b1f0;border-radius: 0.4rem;left: 50%;top: 50%;margin-left: -4rem;margin-top: -1.1rem;}
.weui_tab .weui_tabbar{background: #fff;}
.weui_tab .weui_tabbar a, .weui_tab .weui_tabbar a p{color: #333;}
.weui_tab .weui_tabbar a{text-align: center;}
.weui_tab .weui_tabbar a{position: relative;}
.weui_tab .weui_tabbar:before{border-top: 1px solid #efefef;}
.weui_tab .weui_tabbar a:after{position: absolute;top: 2px;right: 0;content: "";width: 1px;height: 100%;background: #efefef;}
.prosuct.style{padding: 0;}
.weui_tab .weui_tabbar a.active{background: #60b1f0;color: #fff;text-align: center;}

.weui_tab .weui_tabbar a.active p{color: #fff;}
.weui_tab .weui_tabbar a:last-child:after{background: transparent;}
.weui_cell_hd .companyh{width: 4rem;height: 4rem;margin-right: 0.2rem;}

.weui_cell .integral{font-size: 16px;color: #333;}
.weui_cell .integral span.num{color: #60b1f0;}
.weui_cells_access.m10{background: transparent;}
.weui_cells_access.m10 a.weui_cell{margin-top: 0.625rem;background: #fff;border-bottom: 1px solid #efefef;}
.weui_cells_access.m10 .weui_cell.no_access{background: #fff;border-bottom: 1px solid #efefef;}
.weui_btn_primary.bgf6{background: #60b1f0;}
.weui_btn_primary.bgf6:active{background: #60b1f0;}


#content.style{top: 0;bottom: 3.5rem;}
#content.style .positionMenu.style li:first-child{margin-top: 0;}


.well-left {
    text-align: right;
    color: #999999;
    position: absolute;top: 46%;
    right: -2%;
}


.well-left:after {
    content: " ";
    display: inline-block;
    height: 8px;
    width: 8px;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 2px;
}

.positionMenu.style.w90 li>a{width: 92%;}
.positionInfor .jobRecord span .color{color: #61b1f0;font-size: 1rem;}
.jobStep li img.star{left: -4px;}
.jobStep li.last div p.status{color: #61b1f0;}
.positionMenu.style li>a .positionJob p.clearfix.style{display: flex;}
.positionMenu.style li>a .positionJob p.clearfix.style span{ flex:1;text-align: center;font-size: 0.875rem;color: #666;}
.positionMenu li>a p:first-child span{font-size: 1rem;}
.positionMenu li>a p span{font-size: 0.875rem;}



.companyHinfor{position: relative;background: url(../images/img2.0/compangHeBg.png) no-repeat;background-size: 100% 100%;height: 300px;}
.companyHinfor a>img.comImg{margin: 20px 0 10px;}
.companyHinfor a>img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: inline-block;
    margin: 65px 0 10px;
}
.companyHinfor>img.comImg{margin: 20px 0 10px;}
.companyHinfor>img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: inline-block;
    margin: 65px 0 10px;
}
.addRess{position: absolute;right: 1rem;top: 1rem;font-size: 0.875rem;color: #fff;}
.addRess img{width: 2rem;}
.eyeList{display: block;margin: 1rem 2rem 0.5rem;}
.eyeList li{width: 33.3%;float: left;text-align: center;color: #fff;position: relative;font-size: 0.875rem;}
.eyeList li img{width: 2rem;height: 2rem;}
.eyeList li:last-child img{width: 2.6rem;}
.eyeList li:after{content: "";position: absolute;top: 0.6rem;right: 0;width: 1px;bottom: 0.6rem;background: #dbdbdb;}
.eyeList li:last-child:after{width: 0;}
.eyeList li .num{font-size: 1.2rem;}
.page .comInfors .title{color: #333;font-size: 1rem;padding-right: 0.625rem;}
.know{width: 94%;padding: 0.625rem 3%;background: #fff;}
.know{margin-top: 0.625rem;}
.know .knowTitle{font-size: 1rem;color: #61b1f0;}
.knowList{display: block;}
.knowList li{float: left;width: 30%;margin-right: 5%;font-size: 0.875rem;color: #333;margin-top: 0.4rem;}
.knowList li.mr0{margin-right: 0;}
.knowList li div img{width: 2rem;height: 2rem;}
.knowList li>div{color: #5fbe63;border: 1px solid #5fbe63;border-radius: 0.3rem;text-align: center;padding: 0.3rem 0;}
.knowList li img{}
.comInfors p:after{height: 0;}
.comInfors p{padding: 0.1rem 0.625rem;}


.companyBriefIntroduction.style .comBIContent.hAuto{height: auto;}
.wSstyle{width: 100%;display: flex;}
.wSstyle>div{width:100px;position: relative;}
.wSstyle>div .caretB{position: absolute;right: 0;bottom: 0;width: 0.6rem;}
.wSstyle>div input{text-align: center;}
.weui_cell_select .caretB{position: absolute;bottom: 0.5rem;right: 0;width: 0.6rem;}
.weui_cell_select.style .weui_cell_bd:after{border: 0;}
.styleBgff a.weui_btn.weui_btn_primary{font-size: 18px;background: #fff;border-radius: 0;border: 1px dashed #dbdbdb;color: #333;}
.weui_cells_form.pt{padding-top: 1.5rem;}
.weui_cells_form .close{position: absolute;right: 0.5rem;top: 0.5rem;width: 1.2rem;z-index: 100;}
.weui_cells_form .close img {width: 100%;}
.weui_cell.bt0:before{border-top: 0;}
.weui_dialog_ft a.weui_dialog_btn.default{border-right: 1px solid #efefef;color: #666;}

/*myMoney*/
.presentDiv{background: #fff;padding: 1rem 0;border-bottom: 1px solid #dbdbdb;text-align: center;}
.presentDiv p{font-size: 1rem;color: #333;}
.presentDiv .color{font-size: 1.2rem;color: #61b1f0;}
.presentDiv .applyBtn{background: #61b1f0;color: #fff;padding: 0.6rem 2.5rem;font-family: "Microsoft YaHei";border-radius: 0.5rem;font-size: 1rem;}
.presentRecord{    width: 96%;

    border-bottom: 1px solid #dbdbdb;
    padding: 4%; }
.presentRecord{border-top: 1px solid #dbdbdb;}
.positionMenu.mt0 li{margin-top: 0;border-top: 0;}
.positionMenu.style li>a .positionJob p .money>span.hide{display: none;}
.positionMenu.style li>a .positionJob p .money .success{color: greenyellow;}
.positionMenu.style li>a .positionJob p .money .fail{color: #f00b0d;}
.positionMenu.style li>a .positionJob p .money .going{color: #61b1f0;}
.weui_mask{z-index: 11;}



.pb48>.bgfff{background: #fff;}
.person-head .portrait{border-radius: 100%;}
.person-head.style .portrait{width: 20%;}
.person-head.style p{margin: 5% 0;font-size: 1rem;}
.person-head.style p.name{color: #000;}
.person-head.style .personIfor{width: 50%;}
.bqList{display: block;}
.bqList.top10{margin-top: 0.625rem;}
.bqList li{float: left;padding: 0.3rem 3%;color: #43b549;font-size: 1rem;border:1px solid #43b549;margin-left: 2%;margin-bottom: 0.5rem;border-radius: 1rem;min-width: 2.5rem;text-align: center;}
.companyHinfor .bottomDiv p.fs20{font-size: 1.2rem;}


/*myResume*/
.myResume{margin-bottom: 3rem;padding-top: 1px;width: 100%;height: 16rem;background: url("../../mobile/images/img2.0/myResuneBg.png") no-repeat;background-size: 100% 100%;padding-bottom: 2rem;position: relative;}
.myResume .name{font-size: 1.25rem;color: #fff;margin: 9rem 0 0.3rem 1rem;}
.myResume .name img{width: 1.2rem;}
.myResume img{width: 2rem;}
.myResume .infor{font-size: 0.875rem;color: #efefef;margin-left: 1rem;}
.myResume .portraitDiv{border: 0.25rem solid #efefef;width: 5rem;height: 5rem;position: absolute;border-radius: 100%;bottom: -2rem;left: 1rem;}
.portraitDiv img{width: 100%;height: 100%;border-radius: 100%;}
.interactionNum{display: block;position: absolute;bottom: -1.5rem;right: 1rem;}
.interactionNum li{float: left;padding: 0.5rem 1rem;text-align: center;position: relative;}
.interactionNum li:after{position: absolute;top: 1rem;bottom: 1rem;right: 0;content: "";width: 1px;background: #dbdbdb;}
.interactionNum li:last-child:after{width: 0;}
.interactionNum li span{color: #666;}
.interactionNum li span.nums{color: #333;font-size: 1.25rem;}



.resumeInfor{background: #fff;margin-bottom: 0.625rem;}
.inforTitle{padding: 0.5rem 1rem;border-bottom: 1px solid #dbdbdb;}
.inforTitle p{font-size: 0.875rem;color: #61b1f0;display: block;}
.inforTitle p>span{}
.inforTitle p>span.title{color: #333;}
.inforTitle p img.pencilModify{width: 1.2rem;position: relative;top: 0.2rem;}
.inforTitle p>span .birTile{font-size: 1.6rem;}
.inforTitle p>span  .zy{font-size: 0.625rem;color: #333;}
.inforCons{}
.inforList{padding-top: 0.5rem;}
.inforList li{position: relative;padding:0 2rem 0.8rem 2rem;}
.inforList li .dot{position: absolute;left: 0.8rem;top: 0.4rem;width: 0.6rem;}
.inforList li .xian{position: absolute;top: 0.6rem;left: 1.05rem;width: 1px;background: #44b549;bottom: -1rem;}
.inforList li:last-child .xian{bottom: 0;}
.inforList li .inforP{font-size: 1rem;color: #666;}
.inforList li p{font-size:0.875rem;color: #666;margin-bottom: 0.2rem;}
.inforList li p.titles{font-size: 1rem;color: #333;}
.inforList li p .span-icon{display: inline-block;}
.inforList li p .span-icon.nameIcon{width: 1rem;height: 1rem;background: url("../../../assets/mobile/images/companyIcon.png") no-repeat;background-size: 100% 100%;position: relative;top: 0.1rem;}
.inforList li p .span-icon.timeIcon{width: 1rem;height: 1rem;background: url("../../../assets/mobile/images/endTimeIcon.png") no-repeat;background-size: 100% 100%;position: relative;top: 0.1rem;}
.resumeLinkList li{padding: 0.8rem 1rem;display: block;border-bottom: 1px solid #dbdbdb;}
.resumeLinkList li img{width: 2.5rem;margin-right: 1rem;}
.resumeLinkList li p{color: #666;}
.resumeLinkList li:last-child{border-bottom: 0;}
.resumeInfor:last-child{margin-bottom: 0;}
.resumeInfor:last-child .inforTitle{border-bottom: 0;padding: 0 1rem}
.resumeInfor .inforTitle.bb0{border-bottom: 0;}
.resumeInfor{border-top: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;}


/*index*/
.indexBg{position: relative;width: 100%;min-height: 30rem;background: url("../../../assets/mobile/images/img2.0/IndexBg.png") no-repeat;background-size: 100% 100%;margin-bottom: 1rem;}
.tipInfor{position: absolute;font-size: 0.625rem;color: #fff;left: 11%;background: #ff716a;padding: 0.2rem 0.5rem;border-radius: 5rem;top: -0.38rem;}
.tipInfor .spanIcon{display: inline-block;width: 0.8rem;height: 0.8rem;position: relative;top: 0.1rem;}
.tipInfor .goodIcon{background: url("../../../assets/mobile/images/img2.0/goodIcon.png") no-repeat;background-size: 100% 100%;}
.tipInfor .hotIcon{background: url("../../../assets/mobile/images/img2.0/hotIcon.png") no-repeat;background-size: 100% 100%;}
.peopleInfor{position: relative;left: 10%;top: 1.4rem;display: table;width: 70%;}
.peopleImg,.peopleIn{display: table-cell;vertical-align: middle;}
.peopleImg{width: 5rem;height: 5rem;border-radius: 100%;margin-right: 0.4rem;}
.peopleImg img{width: 100%;height: 100%;border: 0.2rem solid #fff;border-radius: 100%;}
.peopleIn{position: relative;left: 0.5rem;top: 0rem;}
.peopleIn p{font-size: 0.875rem;color: #999;}
.peopleIn .name{font-size: 1rem;color: #61b1f0;}
.peopleIn .positionJob{color: #666;}
.peopleIn .personInfor{ display: -webkit-box;   -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;line-height: 1rem;}
.companyIn{position: relative;left: 18%;top: 2.5rem;width: 54.5%;}
.companyIn p{font-size: 0.875rem;color: #999;}
.companyIn p.companyInP{display: -webkit-box;   -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;line-height: 1.2rem;width: 100%;text-align: center;}
.companyIn .name{font-size: 1rem;color: #666;}


.productIn{position: relative;left: 38%;top: 4.8rem;width: 49.5%}
.productIn p{font-size: 0.875rem;color: #999;}
.productIn p.companyInP{display: -webkit-box;   -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;line-height: 1.2rem;width: 100%;}
.productIn .name{font-size: 1rem;color: #666;}
.productIn .wantJoin{display: block;width: 4rem;height: 1rem;position: absolute;bottom: -1.25rem;right: -0.5rem;
    font-size: 0.625rem;color: #fff;text-align: center;}


.moreInfors{position: relative;left: 22%;top: 8.1rem;width: 49.5%}
.moreInfors p{font-size: 0.875rem;color: #999;}
.moreInfors .moreA{color: #666;}
.moreInfors .jobNum{width: 4rem;height:4rem;line-height: 4rem;text-align:center;
    position: absolute;top:-0.55rem;right: -25%;
    color: #fff;font-size: 2rem;border-radius: 100%;}

.knowMore{position: relative;padding: 0.1rem 0.5rem;font-size: 0.875rem;color: #fff;left: 50%;margin-left: -4rem;background: #60b1f0;border-radius: 2rem;display: inline-block;top: 11.5rem;}



/*technicalExpertise*/
.skillList{padding: 1rem;}
.skillList .title{font-size: 1rem;color: #666;text-align: left;padding: 0;}
.skillMenu{display: block;border-bottom: 1px solid #dbdbdb;padding-bottom: 1rem;}
.skillMenu li{float: left;margin-right: 3%;text-align: left;padding: 0.2rem 2rem 0.2rem 1rem;position: relative;margin-top: 0.5rem;border: 1px solid #44b549;color: #44b549;font-size: 0.875rem;border-radius: 3rem;}
.skillMenu li .fa{position: absolute;right: 0.3rem;top: 0.4rem;color: #666;}

.oftenSkill{padding: 0 1rem;padding-bottom: 2rem;}
.oftenSkill .title{font-size: 1rem;color: #666;text-align: left;padding: 0;}
.oftenSkillList{display: block;}
.oftenSkillList li{float: left;padding: 0.5rem;background: #bababa;color: #fff;font-size: 0.875rem;margin: 0.5rem 0.5rem 0 0;}
.oftenSkillList li.active{background: #44b549;}
.oftenSkill a{float: right;font-size: 0.875rem;color: #61b1f0;}
.bgfff{background: #fff;}
.bgfff.bb1{border-bottom: 1px solid #dbdbdb;}
.describe{padding: 1rem;}
.describe .title{font-size: 1rem;color: #666;text-align: left;margin-bottom: 0.5rem;padding: 0;}
.describeDiv{display: flex;}
.describeDiv>div.addSkillDiv{width: 70%;position: relative;}
.addSkillDiv .close{  position: absolute;
    top: 0.9rem;
    right: 0.7rem;
    display: inline-block;
    width: 0.875rem;
    height: 0.875rem;
    background: url("../images/img2.0/clear.png");
    background-size: 100% 100%;}
.addSkillDiv .close.hide{display: none;}
.describeInput{width: 97%;padding: 0.8rem 0 0.8rem 3%;position: relative;border: 1px dashed #dbdbdb;font-family: "微软雅黑";}
.describeBtn{    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;background: #fff;color: #333;position: relative;border: 1px dashed #dbdbdb;font-family: "微软雅黑";}

.weui_btn_area.clearfix{display: block;margin: 0 1rem;}



@media screen and (max-width: 320px) {
    .tipInfor{left: 8.5%;    top: -0.52rem;}

    .peopleImg {
        width: 4rem;
        height: 4rem;
    }
    .indexBg {
        min-height: 26rem;
    }
    .companyIn {
        position: relative;
        left: 19%;
        top: 2rem;
        width: 54%;
    }
    .productIn {
        top: 3.5rem;
    }
    .productIn .wantJoin {
        display: block;
        width: 4rem;
        height: 1rem;
        position: absolute;
        bottom: -0.95rem;
        right: -0.8rem;

    }
    .moreInfors {
        top: 6rem;

        color: #fff;
    }
    .moreInfors .jobNum{right: -28%;}
    .knowMore{top: 9rem;}
}












