body,html{margin:0;padding:0;font-size:30px;color:#000;font-family:"Microsoft YaHei","微软雅黑";line-heihgt:20px;height:100%;background-color: #f6f4f5;}
ul,li,img{margin:0;padding:0;list-style:none;border:none; vertical-align:middle;}
a{color:#000;text-decoration:none;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;}
html[xmlns] .clearfix {display: block;}
/*Backstage Ma*/
.warpper{width: 100%;height: 100%;position: relative;}
.w_header{width:88.7%;height: 73px;line-height: 70px;background: #80c5f9;padding-right: 30px;position:absolute;top: 0;left: 185px;z-index: 500; }

input{outline: none;}
.wh_right{width: 420px;height: 100%;float: right;vertical-align: middle;font-size: 15px;position: relative;}

.wh_i1{margin-right: 10px;}
.wh_i2{margin: 0 15px 0 20px;}
.wh_i3{margin: 0 20px 0 15px;}
.wh_i4{margin-right: 20px;}
.inblocka{height: 100%;width: 118px;display: inline-block;*display:inline;zoom: 1;position: relative;z-index: 1;line-height: 73px;}
.inblocka:hover{background: #60c5f9;}
.wh_block{display: inline-block;*display: inline;zoom: 1;width: 0;height: 0;border:6px solid #f7f6f2;
    border-left-color: transparent;border-bottom-color: transparent;border-right-color: transparent;position: relative;top: 5px;left: 5px;*top: -5px;}
.wr_san{position: absolute;z-index: 200;top: 77px;right: 78px;}
.whri_ul{position: absolute;z-index: 100;right: 28px;top: 85px;}
.whri_ul li{width: 116px;height: 50px;background: #ffffff;border: 1px solid #80c5f9;border-bottom: none;border-top: none;line-height: 50px;text-align: center;}
.whri_ul li a{font-size: 14px;color: #202532;}
.whri_ul li img{vertical-align: -3px; }
.whri_ul .whri_uli1{ border-radius: 10px 10px 0 0;border-top: 1px solid #80c5f9;}
.whri_ul .whri_uli3{ border-radius: 0 0 10px 10px;border-bottom: 1px solid #80c5f9;}
.w_lc{width: 184px;background: #e1e1e3;border-right: 1px solid #cfcfd2;float: left;position: relative;z-index: 5;}
.w_content{width: 100%;margin-top: -8px;}

.wlc_div{width: 184px;height: 73px;border-top: 1px solid #cdcccc;line-height: 73px;text-align: center;font-size: 16px;background: #f5f5f5;border-bottom: 1px solid #cdcccc;position: relative;z-index: 6;}
.wlc_div .icon1{position: absolute;left: 17px;top: 27px;font-size:20px;}
.wlc_div  .fa-bars{top:28px;}
.wlc_div .icon2{position: relative;left: 30px;font-size: 20px;}
.lan{background: #0389cc; color: #FFF;}
.wul_ul{width: 184px;background: #fcfcfc;position: relative;z-index: 7;display: none;}
.on{display: block;}
.w_lc .on ul{display: block;}
.bag{position: relative;z-index: 5;left: 26px;}
.wul_ul li{width: 184px;height: 53px;border: 0;line-height: 53px;font-size: 14px;color: #353a3e;
    background: url("../images/icon7.png") no-repeat 25px -2px;overflow: hidden;}
/*.wul_ul li:last-child{height: 52px;}*/
.wul_ul li a{position: relative;top: 2px;display: inline-block;*display: inline;zoom: 1;width: 72.8%;height: 100%;
 left: 50px;}


.w_rc{width: 86.54%;height: 100%;background: #f8f8f8;margin:0 185px;padding: 0 35px;*margin-top: -820px;position:relative;z-index: 20;}
.wrc_c{width: 100%;position: relative;z-index: 10;*top: -510px;;}
.wrc_c0{position: relative;top: 20px;}
.wrc_c0 table{margin-top: 15px;}
.caption{text-align: left;background: #d9edf7; border: 1px solid #cccccc; border-radius: 5px 5px 0 0;font-size: 18px;height: 50px;line-height: 50px;text-indent: 10px;color: #555;position: relative;top: 15px;}
.caption a{width: 200px;height: 30px;line-height: 30px;text-align: center;background-color: #e3503e;color: #fff;font-size: 13px;float: right;margin-top: 10px;border-radius: 2px;}
.wrc_c0 table{width: 100%;}
.wrc_c0 table th{background: #ebebeb;font-weight: 700;}
.wrc_c0 table tr td{height: 50px;}
.tr3{text-align: left;text-indent: 10px;}
.wrc_head{width: 100%;height: 60px;line-height: 60px;border-bottom: 1px dashed #aeaeae;font-size: 16px;color: #202532;vertical-align: middle;}
.wrc_ul{float: right;position: relative;z-index: 20;*margin-top: -60px;}
.btna{display: inline-block;*display: inline;zoom: 1;width: 86px;height: 27px;border-radius: 3px;line-height: 27px;text-align: center;color: #f8f9fb;font-size: 14px;}
.wrc_ul li{display: inline-block;*display: inline;zoom: 1;margin-left: 10px;position: relative;}
 .li_lan{color: #2792cf;}
.wrc_img{position: relative;left: 40px;}

.wrc_img1{position: relative;top: 15px;z-index: 5;width:100%;}
.wrc_img2{height: 100%;}
.wrcc_ul{width: 100%;height: 68%;margin: 1% auto;position: relative;z-index: 5;top: -10px;}
.wrcc_ul li{width: 183px;height: 215px;float: left;margin-left: 38px;margin-bottom: 20px;position: relative;*left:-40px;text-align: center;top: 20px;*margin-left: 35px;}
.wrcc_zi{font-size: 16px;color: #020202;}
/*Backstage Ma*/


/*tal*/
.wrc_c1{top: -141px;}
.wrc_c2{top: -378px;}
.wrc_c3{top: -315px;}
.wrc_c4{top: -332px;}
.wrc_c5{top: -800px;}
.wrc_c6{top: -425px;}
.wrc_c8{top: -644px;}

.wrc_img3{height: 157px;}
.wrc_img4{height: 264px;top: -115px;}
.wrc_img5{height: 331px;}
.wrc_img6{height: 348px;}
.wrc_img7{height: 814px;}
.wrc_img8{height: 440px;}
.wrc_img10{height: 660px;}
.wrc_img11{height: 218px;width: 89%;position: absolute;left: 100px;top: 167px;}
.wrcc_h{width: 100%;height: 40px;line-height: 40px;font-size: 14px;color: #201f1f;text-indent: 20px;}
.wrcc_c{width: 100%;height: 120px;display: inline-block;*display: inline;zoom: 1;line-height: 120px;text-indent: 20px;font-size: 12px;position: relative;*left: -20px;}
.wrccc_i{width: 165px;height: 28px;padding-left: 10px;position: relative;line-height: 28px;border: 1px solid #d7d6d6;top:-1px;*top: 10px;}
.inblock{display: inline-block;*display: inline;zoom: 1;width: 20px;}
.inblock0{width: 15px;}
.inblock15{width:5px;}
.relati{position: relative;}
.block{display: inline-block;*display: inline;zoom: 1;position: absolute;left: 0;z-index: 200;top: 25px;background: #fff;}
.hide{display: none;}
.block li{height: 28px;border: 1px solid #d7d6d6;width: 190px;padding-left: 20px;line-height: 27px;color: #565656;border-top: none;}
.inblock2{width: 36px;}
.inblock3{width: 25px;}
.inblock4{width: 80px;;height: 30px;border: 1px solid #d7d6d6;line-height: 30px;position: relative;top: 0px;background: #fafafa;border-left: none;margin-right: 60px;}
.inblock5{border-left:1px solid #d7d6d6;width: 100px;text-indent: 12px;}
.inblock6{height: 30px;border: 1px solid #d7d6d6;width: 35px;line-height: 29px;text-align: center;background: #f1f1f1;position: relative;*left: -2px;*top: 1px;}
.inblock7{width: 86px;}
.inblock8{width: 96px;}
.inblock10{width: 52px;}
.inblock11{width: 86px;}
.inblock12{width: 94px;}
.inblock14{width: 130px;}
.inblock18{width: 44px;*width: 47px;}
.inblock16{width: 36px;background: #f9f9f9;height: 35px;text-align: center;line-height: 35px;position: absolute;right: 80px;top: 0;z-index: 5;*line-height: 35px;}
.inblock17{width: 45px;height: 33px;background: #ffffff;border: 1px solid #d7d6d6;line-height: 33px;text-align: center;position: absolute;right: 0;top: 0}
.inblock9{width: 120px;height: 25px;border: 1px solid #c9c9c9;position: relative;left: 86px;line-height: 25px;text-align: center;}
.inblock13{width: 80px;text-align: right;position: relative;left: 5px;}
.wrc_c9{width: 89%;height: 218px;position: absolute;z-index: 20;top: 167px;left: 100px;}
.bljb{width: 108px;padding-left: 10px;border: 1px solid #d7d6d6;height: 28px;
    background: -webkit-gradient(linear,left top, left bottom,from(#fff),to(#e7e7e7));
    background:-moz-gradient(linear,left top, left bottom,from(#fff),to(#e7e7e7));border-radius: 8px;line-height: 28px;position: relative;*top: 10px;}
.bljb1{width: 80px;height: 28px;border: 1px solid #d7d6d6;line-height: 28px;padding-left:10px;position: relative;*top: 10px;}
.zhi{width: 40px;height: 28px;text-align: center;line-height: 28px;position: relative;*top: 10px;border: 1px solid #d7d6d6;border-left: none;border-right: none;}
.sou{display: inline-block;*display: inline;width: 70px;height: 28px;border-radius: 4px;background: #fa9867;zoom: 1;
    position: relative;left: 10px;*top: -17px;color: #fff;border: none;font-size: 14px;}
.top{position: relative;top: -46px;color: #fff;}
table{ border-collapse:collapse;width: 98%;margin: 3px auto;}
tr th{background: #dbe3e9;font-weight: 200;}
tr th,tr td{ text-align:center;font-size: 14px;border:1px solid #cccccc;color: #565656;height: 2.6em;}
.rl{position: relative;left: -15px;*left: 0;}
.tda{position: relative;top: 1px;color: #e0331d;font-size: 12px;}
.tda0{color: #46ac46}
.tda1{color: #2776a0;}
.tda2{color: #555;font-size: 12px;}
.bangd{color: #829091;}
.wrcc_f{width: 100%;height: 32px;font-size: 12px;margin-top: 35px;}
.wrccf_ul{width: 332px;height: 32px;margin: 0 auto;}
.wrccf_ul li{float: left;width: 30px;height: 30px;border: 1px solid #e0e0e0;border-left: none;text-align: center;line-height: 30px;font-size: 12px;color: #989898;}
.l_li{border-radius:0 5px 5px 0;}
.wrccf_ul .f_li{border-left: 1px solid #e0e0e0; border-radius: 5px 0 0 5px;}
.wrccf_ul .z_li{background: #438cca;color: #fff;}
.wrccf_ul .l_lil{width: 153px;border-left: 1px solid #cccccc;position: relative;left: 20px;}
.d_left{float: left;margin-left: 15px;}
.d_right{float: right;margin: -30px 30px;}
.p_shan{display: inline-block;*display: inline;zoom: 1;width: 80px;height: 30px;background: #e45644;
    line-height: 30px;text-align: center;color: #fff;border-radius: 5px;}
/*tal*/


/*as*/
.wrc_hh{font-size: 12px;margin-top: 15px;*margin:5px 0 10px 0;}
.tr1{width: 110px;}
.tr_span{display: inline-block;*display: inline;zoom: 1;width: 70px;height: 2.6em;margin: 0 auto;line-height: 2.6em;text-align: right;}
.tr2{width: 20px;border: none;background: transparent;}
.tr_span1{color: #7fcffe;}

.wrcc_y{font-size: 12px;padding: 15px 20px 15px 20px;color: #111111;border-bottom: 1px dashed #dedede;}
.wr_jia1{width: 430px;height: 35px;position: relative;left: 38px;margin-bottom: 15px;}
.wr_jia{width: 351px;height: 35px;background: #eee;}
.wrjia_in{width: 305px;border: none;height: 25px;margin: 5px 0 5px 10px;line-height: 25px;background: #eee;}
.fa-calendar{position: relative;*top: 10px;}
.wrcc_y1{border: none;}

select{outline: none;}
.wc_in{height: 32px;border: 1px solid #d7d6d6;width: 220px;padding-left: 10px;line-height: 27px;color: #565656;position: relative;*top: 7px;}
.wc_in3,.inblock62{position: relative;left: 45px;*left: 45px;}
.wc_in1{height: 28px;width: 212px;position: relative;left: 4px;}
.wc_img{position: relative;left: -16px;top:-1px;height: 30px;width: 16px;}
.textarea{padding-left: 10px; outline: none;width:90%;height:120px;overflow: hidden;border: 1px solid #d7d6d6;position: relative;top: 10px;left: 89px;line-height: 30px;}
.wr_a{width: 80px;height: 32px;border-radius: 5px;text-align: center;line-height: 32px;color: #fff;position: relative;left: 83px;top: 20px;font-size: 14px;}
.che{position: relative;top: 2px;}
.bzhu{color: #6f6f6f;}
.bxian{width: 98%;margin: 15px 1%;height: 30px;border-bottom: 1px solid #cfcfcf;position: relative;z-index: -1;}
.bxian1{width: 100%;margin-left:0; }
.kao{width: 90px;height: 30px;position: relative;font-size: 14px;color: #201f1f;line-height: 30px;border: 1px solid #cfcfcf; border-bottom:1px solid transparent;
    background: #fff;text-align: center;border-radius: 5px 5px 0 0;float: left;}
.kao0{border: none;background: #f8f8f8;}
.kao1{background: #f8f8f8;}

/*as*/
/*taon*/
.wrcc_tu{width: 98%;height: 500px;margin-left: 20px;font-size: 14px;color: #201f1f;}
.mbb img{vertical-align: -3px;}
.mbb{margin-top: 11px;}
.mbb1{width: 520px;height: 340px;border: 1px solid #616362;}
.mbb_sp{}
.mbb_in{width: 213px;height: 30px;border: 1px solid #c9c9c9;padding-left: 10px;font-size: 12px;color: #565656;}
.lingyi{margin: 15px 107px;}
/*taon*/





/*人员管理*/
.butn{position: relative;left: -27px;}

/*人员管理*/

/*系统设置*/
.center{width: 100%;height: 300px;font-size: 12px;color: #111111;overflow: hidden;}
.shuru{width: 88%;height: 28px;border: 1px solid #cacaca;line-height: 28px;padding-left: 10px;position: relative;*top: 5px;}
.center p{margin-top: 20px;}
.c_wwc{width: 96.5%;height: 174px;padding: 0 20px;font-size: 14px;}
.c_wc{width: 100%;margin: 0 auto;height: 50%;border-bottom: 1px solid #e9e9e9;line-height: 87px;}
.c_wc1{border-bottom: none;;}
a{cursor: pointer;}
/*系统设置*/

/*时钟样式*/
.popover.bottom{}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    white-space: normal
}
.text-primary {
    color: #428bca
}
.popover.top {
    margin-top: -10px
}

.popover.right {
    margin-left: 10px
}

.popover.bottom {
    margin-top: 10px
}

.popover.left {
    margin-left: -10px
}

.popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0
}

.popover-content {
    padding: 9px 14px
}

.popover > .arrow, .popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.popover > .arrow {
    border-width: 11px
}

.popover > .arrow:after {
    border-width: 10px;
    content: ""
}

.popover.top > .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, .25);
    bottom: -11px
}

.popover.top > .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #fff
}

.popover.right > .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25)
}

.popover.right > .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #fff
}

.popover.bottom > .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25);
    top: -11px
}

.popover.bottom > .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #fff
}

.popover.left > .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, .25)
}

.popover.left > .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #fff;
    bottom: -10px
}

/*时钟样式*/