<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div class="container js_container absolute errDailog">
        <div class="page">
            <div class="head">
                <i class="fa fa-angle-left"></i>
                添加教育经历
            </div>
            <div class="bd">
                <form action="#" id="form" onsubmit="return false">
                    <div class="weui_cells weui_cells_form mt0">
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label class="weui_label"><img src="../../assets/mobile/images/schoolIcon.png" alt=""/>学校</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" type="text" id="schoolName" placeholder="请填写学校名称"/>
                            </div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label for="" class="weui_label"><img src="../../assets/mobile/images/startTimeIcon.png" alt=""/>开始日期</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input id="start" class="Wdate" type="text" style="border: none;height: 18px;" placeholder="2015-02-05" onfocus="WdatePicker()" readonly="">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label for="" class="weui_label"><img src="../../assets/mobile/images/endTimeIcon.png" alt=""/>结束日期</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input id="end" class="Wdate" type="text" style="border: none;height: 18px;"placeholder="2015-02-06" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'start\')}',readOnly:true})" readonly="">　
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                        <div class="weui_cell weui_cell_select">
                            <div class="weui_cell_hd"><label class="weui_label"><img src="../../assets/mobile/images/educationIcon.png" alt=""/>学历</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <select class="weui_select" name="select1">
                                    <option selected="" value="高中">高中</option>
                                    <option value="大专">大专</option>
                                    <option value="本科">本科</option>
                                    <option value="研究生">研究生</option>
                                </select>
                            </div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label class="weui_label"><img src="../../assets/mobile/images/majorIcon.png" alt=""/>专业</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" type="text" id="specialName" placeholder="请填写专业名称"/>
                            </div>
                        </div>
                    </div>
                    <div class="weui_btn_area">
                        <input type="submit" class="weui_btn weui_btn_primary saveEducation" id="saveBtn" value="保存">
                    </div>
                </form>
                <script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
            </div>
        </div>
    </div>
    <script src="../../assets/mobile/js/global.js"></script>
    <script src="../../assets/mobile/js/errMsg.js"></script>
    <script>
        $("#saveBtn").click(function(){
            if($("#schoolName").val() == '') {
                showMsg('学校名不能为空');
                return false;
            }
            else if($("#start").val() == '') {
                showMsg('开始时间不正确');
            }
            else if($("#end").val() == '') {
                showMsg('结束时间不正确');
            }
            else if($("#specialName").val() == '') {
                showMsg('专业名不正确');
            }else{
                window.location.href = "addEducation.html"
            }
            return true;
        })
    </script>
</body>
</html>