<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>

</head>
<body>
<div class="container js_container absolute errDailog">
    <div class="page">
        <div class="bd">
            <form action="#" id="form" onsubmit="return false">
                <div class="weui_cells weui_cells_form mt0">
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label"><img src="../../assets/mobile/images/caseDetailsIcon.png" alt=""/>项目描述</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <textarea name="" id="caseDetails" class="weui_textarea" placeholder="项目描述" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="weui_btn_area">
                    <input type="submit"  class="weui_btn weui_btn_primary saveOtherInfor" id="saveBtn" value="完成">
                </div>
            </form>
        </div>
    </div>
</div>
    <script src="../../assets/mobile/js/global.js"></script>
    <script src="../../assets/mobile/js/errMsg.js"></script>
    <script>
        $("#saveBtn").click(function(){
            if($("#caseDetails").val() == '') {
                showMsg('项目描述不能为空');
                return false;
            }else{
                window.location.href = "fiilResumeSuccess.html";
            }
            return true;
        })
    </script>
</body>
</html>