<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container js_container">
        <div class="page">
            <div class="bd absolute pb48">
                <ul class="entryList mt0 bt0">
                    <li>
                        <a href="resourcesInfor.html">
                            <div class="couponImg style">
                                <img src="../../assets/mobile/images/shop1.jpg" class="couponImg1" alt=""/>
                            </div>
                            <span class="inforList">
                                <span class="title">
                                    <span class="inforTitle">求购二手钢琴</span>
                                    <span class="right color">￥2000~3000</span>
                                </span>
                                <span>易优弧有限公司</span>
                                <span><img src="../../assets/mobile/images/startTimeIcon.png" class="startTimeIcon" alt=""> 2016.5.5 15 : 55</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="resourcesInfor.html">
                            <div class="couponImg style">
                                <img src="../../assets/mobile/images/shop1.jpg" class="couponImg1" alt=""/>
                            </div>
                            <span class="inforList">
                                <span class="title">
                                    <span class="inforTitle">求购二手钢琴</span>
                                    <span class="right color">￥2000~3000</span>
                                </span>
                                <span>易优弧有限公司</span>
                                <span><img src="../../assets/mobile/images/startTimeIcon.png" class="startTimeIcon" alt=""> 2016.5.5 15 : 55</span>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="weui_btn_area fixed">
                    <a href="personCenter.html" class="weui_btn b0 weui_btn_primary">返回个人中心</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>

</body>
</html>