<li>
    <a href="companyInfor.html">
        <img src="../../assets/mobile/images/img2.0/companyh.png" class="companyh" alt=""/>
        <div class="positionJob">
            <p class="clearfix">
                <span class="titles left">重庆易优弧科技有限公司</span>

            </p>
            <p class="clearfix">
                <span class="name left">互联网/电子商务</span>
            </p>
            <p class="clearfix style">
                                        <span >
                                            <i class="fa fa-eye"></i>
                                            浏览
                                            22
                                        </span>
                <span >
                                             <i class="fa fa-share"></i>
                                            转发
                                            22
                                        </span>
                <span >
                                             <i class="fa fa-heart-o"></i>
                                            点赞
                                            10
                                        </span>
            </p>
        </div>
    </a>
</li>
<li>
    <a href="companyInfor.html">
        <img src="../../assets/mobile/images/img2.0/companyh.png" class="companyh" alt=""/>
        <div class="positionJob">
            <p class="clearfix">
                <span class="titles left">重庆易优弧科技有限公司</span>

            </p>
            <p class="clearfix">
                <span class="name left">互联网/电子商务</span>
            </p>
            <p class="clearfix style">
                                        <span >
                                            <i class="fa fa-eye"></i>
                                            浏览
                                            22
                                        </span>
                <span >
                                             <i class="fa fa-share"></i>
                                            转发
                                            22
                                        </span>
                <span >
                                             <i class="fa fa-heart-o"></i>
                                            点赞
                                            10
                                        </span>
            </p>
        </div>
    </a>
</li>