<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>

</head>
<body>
<div class="container js_container" id="container">
    <div class="page">
        <div class="bd">
            <div class="companyDetails">
                <div class="companyImg">
                    <img src="../../assets/mobile/images/companyInforImg1.jpg" class="w100" alt=""/>
                    <a href="companyInfor.html">
                        <img src="../../assets/mobile/images/company1.jpg" alt="" class="company-icon">
                    </a>
                </div>
                <div class="comInfor">
                    <div class="comInforTitle">
                        <a href="companyInfor.html">重庆易优弧有限公司</a>
                    </div>
                </div>
            </div>
            <div class="weui_search_bar" id="search_bar">
                <form class="weui_search_outer">
                    <div class="weui_search_inner">
                        <i class="weui_icon_search"></i>
                        <input type="search" class="weui_search_input" id="search_input" placeholder="请输入关键词" required="">
                        <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
                    </div>
                    <label for="search_input" class="weui_search_text" id="search_text">
                        <i class="weui_icon_search"></i>
                        <span>搜索</span>
                    </label>
                </form>
                <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
            </div>
            <div class="weui_cells weui_cells_access search_show" id="search_show" style="display: none;">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>实时搜索文本</p>
                    </div>
                </div>
            </div>
            <ul class="positionMenu companyMenu style">
                <li>
                    <a href="positionInfor.html">
                        <img src="../../assets/mobile/images/zr.png" class="zr" alt=""/>
                        <span class="clearfix positionDiv">
                            <span class="left">
                                <span class="conpanyName">JAVA开发</span><br/>
                                <span class="industry">重庆3~5年/本科</span>
                            </span>
                            <span class="right">
                                <span class="lookNum">薪资 : ￥3000~5000</span><br/>
                                <span class="peopleNum">发布时间 : 2016.5.2 15 : 55</span>
                            </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="positionInfor.html">
                        <img src="../../assets/mobile/images/zr.png" class="zr" alt=""/>
                        <span class="clearfix positionDiv">
                            <span class="left">
                                <span class="conpanyName">JAVA开发</span><br/>
                                <span class="industry">重庆3~5年/本科</span>
                            </span>
                            <span class="right">
                                <span class="lookNum">薪资 : ￥3000~5000</span><br/>
                                <span class="peopleNum">发布时间 : 2016.5.2 15 : 55</span>
                            </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="positionInfor.html">
                        <img src="../../assets/mobile/images/zr.png" class="zr" alt=""/>
                        <span class="clearfix positionDiv">
                            <span class="left">
                                <span class="conpanyName">JAVA开发</span><br/>
                                <span class="industry">重庆3~5年/本科</span>
                            </span>
                            <span class="right">
                                <span class="lookNum">薪资 : ￥3000~5000</span><br/>
                                <span class="peopleNum">发布时间 : 2016.5.2 15 : 55</span>
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script>
    $(function(){
        /*搜索条*/
        $('.container').on('focus', '#search_input', function () {
            var $weuiSearchBar = $('#search_bar');
            $weuiSearchBar.addClass('weui_search_focusing');
        }).on('blur', '#search_input', function () {
            var $weuiSearchBar = $('#search_bar');
            $weuiSearchBar.removeClass('weui_search_focusing');
            if ($(this).val()) {
                $('#search_text').hide();
            } else {
                $('#search_text').show();
            }
        })
//          .on('input', '#search_input', function () {
//                var $searchShow = $("#search_show");
//                if ($(this).val()) {
//                    $searchShow.show();
//                } else {
//                    $searchShow.hide();
//                }
//            })
                .on('touchend', '#search_cancel,#search_clear', function () {
                    $("#search_show").hide();
                    $('#search_input').val('');
                })

    });
</script>
</body>
</html>