<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global2.0.css"/>
</head>
<body>
<div class="container">
    <div class="page">
        <div class="bd pb48">
                <div class="companyHinfor">
                    <a href="companyInfor.html" class="companyInfor">
                        <img src="../../assets/mobile/images/img2.0/companyh.png" class="comImg" alt="">
                    </a>
                    <div class="addRess">
                        <img src="../../assets/mobile/images/img2.0/addRess.png" alt=""><br>
                        <span>上门观望</span>
                    </div>
                    <ul class="eyeList clearfix">
                        <li>
                            <img src="../../assets/mobile/images/img2.0/userIcon1.png" class="userIcon1" alt="">
                            <br>
                            浏览
                            <span class="num">50</span>
                        </li>
                        <li>
                            <img src="../../assets/mobile/images/img2.0/shareIcon1.png" class="shareIcon1" alt="">
                            <br>
                            转发
                            <span class="num">50</span>
                        </li>
                        <li>
                            <img src="../../assets/mobile/images/img2.0/heart1.png" class="heart1" alt="">
                            <br>
                            点赞
                            <span class="num">50</span>
                        </li>
                    </ul>
                    <div class="bottomDiv">
                        <p class="fs20">易优弧有限公司</p>
                        <p class="fs18">www.yiyuhu.com</p>
                    </div>
                </div>
                <div class="indexBg">
                    <div class="tipInfor">
                        <span class="spanIcon goodIcon"></span> 支持　
                        <span class="spanIcon hotIcon"></span> 热度 300
                    </div>
                    <div class="peopleInfor">
                        <div class=" peopleImg">
                            <img src="../../assets/mobile/images/personPortrait.png" class="portrait" alt="">
                        </div>
                        <div class=" peopleIn">
                            <p>
                                <span class="name">陈洁</span>　
                                <span class="positionJob">产品经理</span>
                            </p>
                            <p class="personInfor">
                                我希望每一天都是开兴的一天!
                                我希望每一天都是开兴的一天!
                            </p>
                        </div>
                    </div>
                    <div class="companyIn">
                        <p class="name">公司介绍</p>
                        <p class="companyInP">球160多个国家和地区的电信运营商和企业网客户提供3.创新技术方,国家和地区的电信运营国家和地区的电信运营</p>
                    </div>
                    <div class="productIn">
                        <p class="name">产品介绍</p>
                        <p class="companyInP">球160多个国家和地区的电信运营商和企业网客户提供3.创新技术方企业网客户提供创新技术方企业网客户提供</p>
                        <a href="productInfor.html" class="wantJoin">点击加入</a>
                    </div>

                    <div class="moreInfors">
                        <p>想了解更多的职位?</p>
                        <p><a href="###" class="moreA">更多职位</a></p>
                        <span class="jobNum">20</span>
                    </div>
                    <div class="knowMore">
                        我们让您知道得更多!
                    </div>
                </div>
                <div id="container" style="min-width: 310px; max-width: 400px; height: 400px; margin: 0 auto">

        </div>
    </div>
        <div class="weui_btn_area fixed">
            <a href="enterpriseList.html" class="weui_btn b0 bgf6 weui_btn_primary">返回企业广场</a>
        </div>
    </div>
</div>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/global/plugins/highCharts/js/highcharts.js"></script>
<script src="../../assets/global/plugins/highCharts/js/highcharts-more.js"></script>
<script src="../../assets/global/plugins/highCharts/js/exporting.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script>
    $(function () {
        $('#container').highcharts({
            chart: {
                polar: true
            },
            title: {
                text: ''
            },
            pane: {
                startAngle: 0,
                endAngle: 360
            },
            xAxis: {
                tickInterval: 45,
                min: 0,
                max: 360,
                labels: {
                    formatter: function () {
                        return this.value + '°';
                    }
                }
            },
            yAxis: {
                min: 0
            },
            plotOptions: {
                series: {
                    pointStart: 0,
                    pointInterval: 45
                },
                column: {
                    pointPadding: 0,
                    groupPadding: 0
                }
            },
            series: [{
                type: 'column',
                name: 'Column',
                data: [0.5, 1, 1, 1, 1, 1, 1, 1],
                pointPlacement: 'between'
            }]
        });
    });

</script>
</body>
</html>