<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container js_container">
        <div class="page">
            <div class="head">
                <i class="fa fa-angle-left"></i>
                求职记录
            </div>
            <div class="bd">
                <div class="weui_cells mt0 weui_cells_access">
                    <a class="weui_cell" href="jobStatus.html">
                        <div class="weui_cell_bd weui_cell_primary positionInfor">
                            <p class="positionName">软件测试</p>
                            <p class="companyName"><img src="../../assets/mobile/images/companyIcon.png" alt=""/><span>易优弧</span></p>
                            <p class="jobRecord"><img src="../../assets/mobile/images/recordIcon.png" alt=""/><span>求职进度:评审通过</span></p>
                            <p class="time"><img src="../../assets/mobile/images/timeIcon.png" alt=""/><span>投递时间 : 2015-5-5</span></p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                    <a class="weui_cell" href="jobStatus.html">
                        <div class="weui_cell_bd weui_cell_primary positionInfor">
                            <p class="positionName">软件测试</p>

                            <p class="companyName"><img src="../../assets/mobile/images/companyIcon.png" alt=""/><span>易优弧</span></p>
                            <p class="jobRecord"><img src="../../assets/mobile/images/recordIcon.png" alt=""/><span>求职进度:评审通过</span></p>

                            <p class="time"><img src="../../assets/mobile/images/timeIcon.png" alt=""/><span>投递时间 : 2015-5-5</span></p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                    <a class="weui_cell" href="jobStatus.html">
                        <div class="weui_cell_bd weui_cell_primary positionInfor">
                            <p class="positionName">软件测试</p>

                            <p class="companyName"><img src="../../assets/mobile/images/companyIcon.png" alt=""/><span>易优弧</span></p>
                            <p class="jobRecord"><img src="../../assets/mobile/images/recordIcon.png" alt=""/><span>求职进度:评审通过</span></p>

                            <p class="time"><img src="../../assets/mobile/images/timeIcon.png" alt=""/><span>投递时间 : 2015-5-5</span></p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                    <a class="weui_cell" href="jobStatus.html">
                        <div class="weui_cell_bd weui_cell_primary positionInfor">
                            <p class="positionName">软件测试</p>

                            <p class="companyName"><img src="../../assets/mobile/images/companyIcon.png" alt=""/><span>易优弧</span></p>
                            <p class="jobRecord"><img src="../../assets/mobile/images/recordIcon.png" alt=""/><span>求职进度:评审通过</span></p>

                            <p class="time"><img src="../../assets/mobile/images/timeIcon.png" alt=""/><span>投递时间 : 2015-5-5</span></p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                </div>
                <div class="notConTip hide">
                    <img src="../../assets/mobile/images/notContent.png" alt=""/>
                    <p class="notInfor">
                        没搜索到医生
                    </p>
                </div>
                <div class="weui_btn_area">
                    <a href="personCenter.html" class="weui_btn weui_btn_primary">返回个人中心</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>