<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container js_container">
        <div class="page">
            <div class="head">
                <i class="fa fa-angle-left"></i>
                求职记录状态
            </div>
            <div class="bd">
                <div class="weui_cells mt0 weui_cells_access fbf">
                    <a class="weui_cell" href="javascript:;">
                        <div class="weui_cell_bd weui_cell_primary positionInfor">
                            <p class="positionName">软件测试</p>
                            <p class="companyName"><img src="../../assets/mobile/images/companyIcon.png" alt=""/><span>易优弧</span></p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                </div>
                <div class="positionInfor pd15">
                    <p class="dtepTitle">当前进度</p>
                    <p class="jobRecord"><img src="../../assets/mobile/images/recordIcon.png" alt=""/><span>评审通过</span></p>
                    <p class="time" style="width: 100%;"><img src="../../assets/mobile/images/timeIcon.png" alt=""/><span>投递时间 : 2015-5-5</span></p>
                </div>
                <div class="stepDiv">
                    <p class="dtepTitle">进度历史</p>
                    <ul class="jobStep">
                        <li class="clearfix">
                            <img src="../../assets/mobile/images/stepJop.png" alt=""/>
                            <div>
                                <p class="status">简历投递成功</p>
                                <p class="time">2016-04-06 18:05</p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="../../assets/mobile/images/stepJop.png" alt=""/>
                            <div>
                                <p class="status">HR查阅了简历</p>
                                <p class="time">2016-04-06 18:05</p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="../../assets/mobile/images/stepJop.png" alt=""/>
                            <div>
                                <p class="status">简历评审通过</p>
                                <p class="time">2016-04-06 18:05</p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="../../assets/mobile/images/stepJop.png" alt=""/>
                            <div>
                                <p class="status">面试通过</p>
                                <p class="time">2016-04-06 18:05</p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="../../assets/mobile/images/star.png" alt="" class="star"/>
                            <div>
                                <p class="status">入职</p>
                                <p class="time">2016-04-06 18:05</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="weui_btn_area">
                    <a href="jobRecord.html" class="weui_btn weui_btn_primary">返回求职记录</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>