<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container js_container errDailog absolute">
        <div class="page">
            <div class="head">
                <i class="fa fa-angle-left"></i>
                修改个人信息
            </div>
            <div class="bd">
                <div class="person-head center clearfix">
                    <img src="../../assets/mobile/images/portrait.png" alt="" class="portrait"/>
                </div>
                <form action="#">
                    <div class="weui_cells mt0 weui_cells_access">
                        <a class="weui_cell" href="modifyName.html">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>姓名</p>
                            </div>
                            <div class="weui_cell_ft">陈小洁</div>
                        </a>
                        <a class="weui_cell" href="modifyPhone.html">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>手机</p>
                            </div>
                            <div class="weui_cell_ft">13678478463</div>
                        </a>
                    </div>
                    <div class="weui_btn_area">
                        <a href="personCenter.html" class="weui_btn weui_btn_primary" id="saveBtn">返回个人中心</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>