<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的简历</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/swiper/dist/css/swiper.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global2.0.css"/>
</head>
<body>
<div class="container">
    <div class="page">
        <div class="bd pb48">
            <div class="myResume">
                <div class="name">
                    陈洁
                    <a href="personInfor.html">
                        <img src="../../assets/mobile/images/img2.0/pencil.png" alt="">
                    </a>
                </div>
                <div class="infor">
                    希望能在这里找到一份好工作！
                </div>
                <div class="portraitDiv">
                    <img src="../../assets/mobile/images/portrait.png" alt="">
                </div>
                <ul class="interactionNum clearfix">
                    <li>
                        <span class="nums">30</span><br>
                        <span>来访次数</span>
                    </li>
                    <li>
                        <span class="nums">30</span><br>
                        <span>浏览次数</span>
                    </li>
                </ul>
            </div>

            <div class="personInfors">
                <div class="resumeInfor">
                    <div class="inforTitle">
                        <p class="clearfix">
                            <span class="left title">工作经历</span>
                            <span class="right">
                                <a href="addJobExperience.html">
                                    <img src="../../assets/mobile/images/img2.0/pencilModify.png" class="pencilModify" alt="">
                                </a>
                            </span>
                        </p>
                        <p class="clearfix">
                            <span class="left">
                                <span class="birTile">3年</span>
                                工作经验
                            </span>
                        </p>
                    </div>
                    <div class="inforCons">
                        <ul class="inforList">
                            <li>
                                <img src="../../assets/mobile/images/img2.0/dot.png" class="dot" alt="">
                                <div class="xian"></div>
                                <div class="inforP">
                                    <p class="titles">商品策划</p>
                                    <p>
                                        <span class="span-icon nameIcon"></span>
                                        重庆易优弧有限公司
                                    </p>
                                    <p>
                                        <span class="span-icon timeIcon"></span>
                                        重庆易优弧有限公司
                                    </p>
                                </div>
                            </li>
                            <li>
                                <img src="../../assets/mobile/images/img2.0/dot.png" class="dot" alt="">
                                <div class="xian"></div>
                                <div class="inforP">
                                    <p class="titles">商品策划</p>
                                    <p>
                                        <span class="span-icon nameIcon"></span>
                                        重庆易优弧有限公司
                                    </p>
                                    <p>
                                        <span class="span-icon timeIcon"></span>
                                        重庆易优弧有限公司
                                    </p>
                                </div>
                            </li>
                            <li>
                                <img src="../../assets/mobile/images/img2.0/dot.png" class="dot" alt="">
                                <div class="xian"></div>
                                <div class="inforP">
                                    <p class="titles">商品策划</p>
                                    <p>
                                        <span class="span-icon nameIcon"></span>
                                        重庆易优弧有限公司
                                    </p>
                                    <p>
                                        <span class="span-icon timeIcon"></span>
                                        重庆易优弧有限公司
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="resumeInfor">
                    <div class="inforTitle">
                        <p class="clearfix">
                            <span class="left title">项目经历</span>
                            <span class="right">
                                <a href="addCase.html">
                                    <img src="../../assets/mobile/images/img2.0/pencilModify.png" class="pencilModify" alt="">
                                </a>
                            </span>
                        </p>
                        <p class="clearfix">
                            <span class="left">
                                <span class="birTile">5项</span>
                                所有项目
                            </span>
                        </p>
                    </div>
                    <div class="inforCons">
                        <ul class="inforList">
                            <li>
                                <img src="../../assets/mobile/images/img2.0/dot.png" class="dot" alt="">
                                <div class="xian"></div>
                                <div class="inforP">
                                    <p class="titles">随走辅助品牌研发</p>
                                    <p>
                                        <span class="span-icon timeIcon"></span>
                                        2016年2月-至今
                                    </p>
                                    <p>
                                        球160多个国家和地区的电信运营商和企业网客户提供3.创新技术与产品解决方案，让全世界用户享有语音、数据多媒体、无线宽带等全方
                                    </p>
                                </div>
                            </li>
                            <li>
                                <img src="../../assets/mobile/images/img2.0/dot.png" class="dot" alt="">
                                <div class="xian"></div>
                                <div class="inforP">
                                    <p class="titles">随走辅助品牌研发</p>
                                    <p>
                                        <span class="span-icon timeIcon"></span>
                                        2016年2月-至今
                                    </p>
                                    <p>
                                        球160多个国家和地区的电信运营商和企业网客户提供3.创新技术与产品解决方案，让全世界用户享有语音、数据多媒体、无线宽带等全方
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="resumeInfor">
                    <div class="inforTitle">
                        <p class="clearfix">
                            <span class="left title">教育经历</span>
                            <span class="right">
                                <a href="addJobStudy.html">
                                    <img src="../../assets/mobile/images/img2.0/pencilModify.png" class="pencilModify" alt="">
                                </a>
                            </span>
                        </p>
                        <p class="clearfix">
                            <span class="left">
                                <span class="birTile">本科</span>
                                重庆邮电大学 <span class="zy">(计算机专业)</span>
                            </span>
                        </p>
                    </div>
                    <div class="inforCons">
                        <ul class="inforList">
                            <li>
                                <img src="../../assets/mobile/images/img2.0/dot.png" class="dot" alt="">
                                <div class="xian"></div>
                                <div class="inforP">
                                    <p class="titles">重庆大学</p>
                                    <p>
                                        <span class="span-icon nameIcon"></span>
                                        本科|艺术设计
                                    </p>
                                    <p>
                                        <span class="span-icon timeIcon"></span>
                                        2013年5月-2016年1月
                                    </p>
                                </div>
                            </li>
                            <li>
                                <img src="../../assets/mobile/images/img2.0/dot.png" class="dot" alt="">
                                <div class="xian"></div>
                                <div class="inforP">
                                    <p class="titles">重庆大学</p>
                                    <p>
                                        <span class="span-icon nameIcon"></span>
                                        本科|艺术设计
                                    </p>
                                    <p>
                                        <span class="span-icon timeIcon"></span>
                                        2013年5月-2016年1月
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="resumeInfor">
                    <div class="inforTitle bb0">
                        <p class="clearfix">
                            <span class="left title">技能专长</span>
                            <span class="right">
                                <a href="addSkill.html">
                                    <img src="../../assets/mobile/images/img2.0/pencilModify.png" class="pencilModify" alt="">
                                </a>
                            </span>
                        </p>
                        <ul class="bqList top10 clearfix">
                            <li>UI/网页设计</li>
                            <li>设计</li>
                            <li>前端</li>
                            <li>UI</li>
                            <li>平面设计</li>
                        </ul>
                    </div>
                </div>

                <div class="resumeInfor">
                    <div class="inforTitle">
                        <p class="clearfix">
                            <span class="left title">联系方式</span>
                        </p>
                    </div>

                    <div class="inforCons">
                        <ul class="resumeLinkList">
                            <li class="clearfix">
                                <img class="left" src="../../assets/mobile/images/img2.0/mobileIcon1.png"  alt="">
                                <div class="left">
                                    <p>联系电话</p>
                                    <p>15086688885</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img class="left" src="../../assets/mobile/images/img2.0/box1.png"  alt="">
                                <div class="left">
                                    <p>邮箱</p>
                                    <p>282802292@qq.com</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>
        <div class="weui_btn_area fixed">
            <a href="personCenter.html" class="weui_btn b0 bgf6 weui_btn_primary">返回个人中心</a>
        </div>
        <!--<div class="ft">-->
        <!--powered by <span>suizou</span>-->
        <!--</div>-->
    </div>
</div>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script src="../../assets/global/plugins/swiper/dist/js/swiper.min.js"></script>
<script>
    swiper = new Swiper('#swiper-container1', {
//        prevButton:'.swiper-button-prev',
//        nextButton:'.swiper-button-next',
        slidesPerView: 1,
        pagination:'.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 0,
        loop:true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false
    });

    swiper = new Swiper('#swiper-container2', {
//        prevButton:'.swiper-button-prev',
//        nextButton:'.swiper-button-next',
        slidesPerView: 1,
        pagination:'.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 0,
        loop:true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false
    });

    /*查看全部信息*/
    $(".btnAll").on("click",function(){
        var moreInfor = $(this).prev().find(".moreInfor");
        if(moreInfor.css("display")=="none"){
            moreInfor.slideDown();
            $(this).text("收起");
        }else{
            moreInfor.slideUp();
            $(this).text("显示全部");
        }
    })
</script>
</body>
</html>