<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>我发布的职位</title>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content bg2">
        <div class="description">
            <p class="title">您还没有发布任何职位！PC打开</p>
            <p><span class="color">hr.suizou.com</span></p>
            <p>微信扫一扫直接登录，<span class="color">3</span>分钟搞定新职位</p>
        </div>
        <div class="c_iim">
            <img src="../../assets/mobile/images/shaowx.png" alt="" class="c_wu"/>
        </div>

        <div class="meng hide">
            <img src="../../assets/mobile/images/loading.gif" alt="" class="loading"/>
        </div>
        <div class="ft">
            powered by <span>suizou</span>
        </div>
    </div>
</body>
</html>