<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="container js_container">
    <div class="page relative">
        <div class="bd">
            <div class="personIforImg">
                <button type="button" class="btnInfor">其他信息</button>
            </div>
            <div class="personIforP">
                <p>介绍 : <br/><span>百度网盘是百度推出的一项云存储服务，是百度云的其中一个服务，首次注册即有机会获得15GB的空间，目前有Web版、Windows</span></p>
                <button class="btn-modify">编辑</button>
            </div>
            <!--<div class="personIforP auto">-->
            <!--<a href="#" class="btnAddwe">+增加一条项目经历</a>-->
            <!--</div>-->
            <div class="weui_btn_area">
                <a class="weui_btn weui_btn_primary modifyOtherInfor">完成</a>
            </div>
        </div>
    </div>
</div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>