<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container js_container">
        <div class="page">

            <div class="bd">
                <div class="person-head clearfix">
                    <img src="../../assets/mobile/images/portrait.png" alt="" class="portrait"/>
                    <div class="personIfor">
                        <p class="name">陈小洁</p>

                        <p class="integral">积分: <span>90</span></p>

                        <p class="phone mb0">15062425462</p>
                    </div>
                    <a href="modifyInfor.html">
                        <img src="../../assets/mobile/images/modiflyIcon.png" alt="" class="modiflyIcon"/>
                    </a>
                </div>
                <div class="weui_cells mt0 weui_cells_access">
                    <a class="weui_cell" href="resumeCenter.html">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>我的简历</p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                    <a class="weui_cell" href="jobRecord.html">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>求职记录</p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                    <a class="weui_cell" href="desirePosition.html">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>感兴趣的职位</p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                    <a class="weui_cell" href="forwardingRecord.html">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>转发记录</p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                </div>
                <div class="weui_btn_area">
                    <a href="#" class="weui_btn weui_btn_primary">退出登录</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>