<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container js_container">
        <div class="page">
            <div class="head">
                <i class="fa fa-angle-left"></i>
                职位信息
            </div>
            <div class="bd tabbar pb48">
                <div class="companyDetails">
                    <div class="companyImg">
                        <img src="../../assets/mobile/images/companyInforImg1.jpg" class="w100" alt=""/>
                        <img src="../../assets/mobile/images/company1.jpg" alt="" class="company-icon">
                    </div>
                    <div class="comInfor">
                        <div class="comInforTitle">
                            <span>重庆易优弧有限公司</span>
                        </div>
                        <div class="comInforCon">
                            <ul class="positionMenu companyMenu b0 bb1">
                                <li>
                                    <a href="javascript:;">
                                        <span class="clearfix positionDiv">
                                            <span class="left">
                                                <span class="conpanyName">JAVA开发</span><br/>
                                                <span class="industry">3~5年/本科</span>
                                            </span>
                                            <span class="right">
                                                <span class="lookNum">10000元/月</span><br/>
                                                <span class="peopleNum">10人</span>
                                            </span>
                                        </span>
                                    </a>
                                    <div class="companyInfor">
                                        <span><img src="../../assets/mobile/images/cnforIcon1.jpg" alt=""/> 重庆</span>
                                        <span><img src="../../assets/mobile/images/cnforIcon3.jpg" alt=""/> 今日跟新</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="tdInfor">
                                <p>
                                    <span>所属部门 : 研发部</span>
                                    <span>招聘人数 : 10人</span>
                                </p>

                                <p>
                                    <span>招聘类型 : 社招</span>
                                    <span>工作性质 : 全职</span>
                                </p>

                                <p>
                                    <span class="w100">工作地点 : 重庆市九龙坡袁家岗11-10</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="companyBriefIntroduction">
                    <p class="comBItitle">
                        职位职责
                    </p>
                    <p class="comBIContent">
                        <span><span>1.</span><span>全球领先的综合通信解决方案提供商。公司通过为全</span> </span><br/>
                        <span><span>2.</span><span>球160多个国家和地区的电信运营商和企业网客户提供</span></span><br/>
                        <span><span>3.</span><span>创新技术与产品解决方案,让全世界用户享有语音数</span></span><br/>
                        <span><span>4.</span><span>据多媒体、无线宽带等全方位沟通。</span></span>
                    </p>
                    <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default">更多+</a>
                </div>
                <div class="companyBriefIntroduction">
                    <p class="comBItitle">
                        任职条件
                    </p>
                    <p class="comBIContent">
                        <span><span>1.</span><span>全球领先的综合通信解决方案提供商。公司通过为全</span> </span><br/>
                        <span><span>2.</span><span>球160多个国家和地区的电信运营商和企业网客户提供</span></span><br/>
                        <span><span>3.</span><span>创新技术与产品解决方案,让全世界用户享有语音数</span></span><br/>
                        <span><span>4.</span><span>据多媒体、无线宽带等全方位沟通。</span></span>
                    </p>
                    <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default">更多+</a>
                </div>
                <div class="prosuct">
                    <div class="prosuctTitle">福利待遇</div>
                    <ul class="goodMenu clearfix">
                        <li>
                            <i class="fa fa-star"></i>
                            <span class="goodName">带薪年假</span>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                            <span class="goodName">五险一金</span>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                            <span class="goodName">公费旅游</span>
                        </li>
                    </ul>
                </div>
                <div class="companyImgList">
                    <div class="companyImgListTitle">公司图片</div>
                    <img src="../../assets/mobile/images/companyInforImg2.png" alt="" class="w100"/>
                    <img src="../../assets/mobile/images/codeIcon.jpg" alt="" class="codeIcon"/>
                    <p>关注企业公众号，获取更多企业咨询</p>
                </div>
                <div class="weui_btn_area">
                    <a href="#" class="weui_btn weui_btn_primary">查看公司所有职位</a>
                </div>
                <div class="positionList">
                    <p class="positionListtitle">相关职位推荐</p>
                    <div class="weui_cells mt0 weui_cells_access">
                        <a class="weui_cell" href="javascript:;">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>10000元/月</p>
                            </div>
                            <div class="weui_cell_ft">10000元/月</div>
                        </a>
                        <a class="weui_cell" href="javascript:;">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>10000元/月</p>
                            </div>
                            <div class="weui_cell_ft">10000元/月</div>
                        </a>
                    </div>
                </div>
                <div class="weui_tab fixed">
                    <div class="weui_tabbar">
                        <a href="javascript:;" class="weui_tabbar_item" id="share">
                            <div class="weui_tabbar_icon">
                                <i class="fa fa-share"></i>
                            </div>
                            <p class="weui_tabbar_label">推荐分享</p>
                        </a>
                        <a href="javascript:;" class="weui_tabbar_item">
                            <div class="weui_tabbar_icon">
                                <i class="fa fa-heart"></i>
                            </div>
                            <p class="weui_tabbar_label">感兴趣</p>
                        </a>
                        <a href="javascript:;" class="weui_tabbar_item">
                            <div class="weui_tabbar_icon">
                                <i class="fa fa-home"></i>
                            </div>
                            <p class="weui_tabbar_label">立即投递</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="maskHide hide">
                <div class="reward hide">
                    <img src="../../assets/mobile/images/shareIcon.png" alt=""/>
                    <p>转发给朋友或分享朋友圈，领取积分奖励！</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script src="../../assets/mobile/js/mobileLeft.js"></script>
    <script>
        $(function(){
            /*左边滑动导航*/
            mobileLeft.init($(".page"))
        })
    </script>
    <script>
        $(function(){
            $("#share").on("touchend",function(){
                $(".maskHide,.reward").removeClass("hide");
                $(".reward").addClass("shake");
                $($(".reward")).on('webkitAnimationEnd', function (){
                    $(this).removeClass('shake');
                }).on('animationend', function (){
                    $(this).removeClass('shake');
                });
            });
            $(".page").delegate(".maskHide","touchend",function(){
                $(this).addClass("hide");
                $(".reward").addClass("hide");
            });
            $(".reward").on("touchend",function(e){
                e.stopPropagation();
            })
        })
    </script>
</body>
</html>