<li>
    <a href="positionInfor.html">
        <img src="../../assets/mobile/images/zr.png" class="zr" alt=""/>
        <img src="../../assets/mobile/images/img2.0/companyh.png" class="companyh" alt=""/>
        <div class="positionJob">
            <p class="clearfix">
                <span class="titles left">产品助理</span>
                <span class="right money">400/月</span>
            </p>
            <p class="clearfix">
                <span class="name left">易优弧</span>
            </p>
            <p class="clearfix">
                                            <span class="time right">
                                                发布时间 : 2016-5-3 18 : 02
                                            </span>
            </p>
        </div>
    </a>
</li>
<li>
    <a href="positionInfor.html">
        <img src="../../assets/mobile/images/zr.png" class="zr" alt=""/>
        <img src="../../assets/mobile/images/img2.0/companyh.png" class="companyh" alt=""/>
        <div class="positionJob">
            <p class="clearfix">
                <span class="titles left">产品助理</span>
                <span class="right money">400/月</span>
            </p>
            <p class="clearfix">
                <span class="name left">易优弧</span>
            </p>
            <p class="clearfix">
                                            <span class="time right">
                                                发布时间 : 2016-5-3 18 : 02
                                            </span>
            </p>
        </div>
    </a>
</li>