<li>
    <a href="positionInfor.html">
        <span class="clearfix positionDiv">
            <span class="left">
                <span class="conpanyName">JAVA开发</span><br/>
                <span class="industry">3~5年/本科</span>
            </span>
            <span class="right">
                薪资 : <span class="lookNum">10000元/月</span><br/>
                人数 : <span class="peopleNum">100人</span>
            </span>
        </span>
    </a>
    <div class="companyInfor w30">
        <span><img src="../../assets/mobile/images/cnforIcon1.jpg" alt=""/> 重庆</span>
        <span><i class="fa fa-eye"></i> 200次</span>
        <span><img src="../../assets/mobile/images/cnforIcon3.jpg" alt=""/> 今日更新</span>
    </div>
</li>
<li>
    <a href="positionInfor.html">
        <span class="clearfix positionDiv">
            <span class="left">
                <span class="conpanyName">JAVA开发</span><br/>
                <span class="industry">3~5年/本科</span>
            </span>
            <span class="right">
                薪资 : <span class="lookNum">10000元/月</span><br/>
                人数 : <span class="peopleNum">100人</span>
            </span>
        </span>
    </a>
    <div class="companyInfor w30">
        <span><img src="../../assets/mobile/images/cnforIcon1.jpg" alt=""/> 重庆</span>
        <span><i class="fa fa-eye"></i> 20次</span>
        <span><img src="../../assets/mobile/images/cnforIcon3.jpg" alt=""/> 今日更新</span>
    </div>
</li>