<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container js_container">
        <div class="page relative">
            <div class="bd">
                <!--<img src="../../assets/mobile/images/infor-bg.png" alt="" class="infotBg"/>-->
                <div class="personIforImg">
                    <!--<div class="personIforImgDiv">-->
                        <!--<img src="../../assets/mobile/images/personPortrait.png" alt=""/>-->
                    <!--</div>-->
                    <!--<p class="name">张珊</p>-->
                    <!--<p class="phone">13478478463</p>-->
                    <button type="button" class="btnInfor">项目经历</button>
                </div>
                <div class="personIforP starDiv">
                    <i class="fa fa-star"></i>
                    <p><span class="type">项目名称</span> : <span>百度网盘</span></p>
                    <p><span class="type">项目周期</span> : <span>1991-10-4~至今</span></p>
                    <p><span class="type">项目描述</span> : <br/><span>百度网盘是百度推出的一项云存储服务，是百度云的其中一个服务，首次注册即有机会获得15GB的空间，目前有Web版、Windows</span></p>
                    <a class="btn-modify modifyProjectExperience"><i class="fa fa-pencil"></i> 编辑</a>
                </div>
                <div class="personIforP auto style">
                    <a href="#" class="btnAddwe modifyProjectExperience">+增加一条项目经历</a>
                </div>
                <div class="weui_btn_area">
                    <a class="weui_btn weui_btn_primary modifyProjectExperience">新增</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>