<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container js_container hiddenx">
        <div class="page">
            <div class="head">
                <i class="fa fa-angle-left"></i>
                简历中心
            </div>
            <div class="bd spacing">
                <div class="resumeCenter">
                    <div class="progress">
                        <p class="resumeTitle">简历</p>
                        <div class="weui_progress">
                            <a href="addDetailedBasicInfor.html" style="display: inline-block;width: 100%;">
                                <div class="weui_progress_bar">
                                    <div class="weui_progress_inner_bar js_progress" style="width: 10%;"></div>
                                </div>
                            </a>
                            <span class="complete">完成10%</span>
                            <a href="FillBasicInformation.html" class="weui_progress_opr">
                                <img src="../../assets/mobile/images/modiflyIcon.png" alt="" class="modiflyIcon"/>
                            </a>
                        </div>
                        <span class="time">更新于2016-03-05 9:00</span>
                    </div>
                </div>
                <!--无简历提示-->
                <div class="personIforP auto b0 mt15">
                    <p style="text-align: center;font-size: 18px;color: #999;padding: 10px 0;">您尚未创建简历</p>
                    <a href="addDetailedBasicInfor.html" class="btnAddwe">+创建一份简历</a>
                </div>
                <div class="weui_btn_area">
                    <a href="personCenter.html" class="weui_btn weui_btn_primary" id="btnStartProgress">返回个人中心</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>