<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/swiper/dist/css/swiper.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div class="swiper-container ma0 w100 swiper-container-horizontal errDailog" id="swiper-container2">
        <div class="swiper-wrapper w100"  style="transition-duration: 0ms; ">
            <div class="swiper-slide">
                <div class="container js_container" >
                    <div class="page">
                        <div class="bd ">
                            <div class="personIforImg">
                                <button type="button" class="btnInfor">基本信息</button>
                                <a href="personCenter.html" class="weui_btn weui_btn_mini weui_btn_primary style nextBtn">返回个人中心</a>
                            </div>
                            <div class="personIforP">
                                <p><span class="type">姓　　名</span> : <span>张三</span></p>
                                <p><span class="type">出生年月</span> : <span>1991-10-4</span></p>
                                <p><span class="type">身高(cm)</span> : <span>170</span></p>
                                <p><span class="type">体重(kg)</span> : <span>70</span></p>
                                <p><span class="type">户　　籍</span> : <span>重庆</span></p>
                                <p><span class="type">所在城市</span> : <span>重庆</span></p>
                                <p><span class="type">工作经验</span> : <span>1-3年</span></p>
                                <p><span class="type">联系电话</span> : <span>15086677745</span></p>
                                <p><span class="type">联系邮箱</span> : <span>729278592@qq.com</span></p>
                                <p><span class="type">工作状态</span> : <span>在职</span></p>
                                <a class="btn-modify modifyBasicInfor">
                                    <i class="fa fa-pencil"></i>
                                    编辑
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container js_container">
                    <div class="page">
                        <div class="bd">
                            <div class="personIforImg">
                                <button type="button" class="btnInfor">教育背景</button>
                                <a href="personCenter.html" class="weui_btn weui_btn_mini weui_btn_primary style nextBtn">返回个人中心</a>
                            </div>
                            <div class="personIforP starDiv">
                                <i class="fa fa-star"></i>
                                <p><span class="type">学　　校</span> : <span>北京大学</span></p>
                                <p><span class="type">在校时间</span> : <span>1991-10-4~至今</span></p>
                                <p><span class="type">教育学历</span> : <span>本科</span></p>
                                <p><span class="type">所属专业</span> : <span>计算机专业</span></p>
                                <a class="btn-modify modifyEducation">
                                    <i class="fa fa-pencil"></i>
                                    编辑
                                </a>
                            </div>
                            <div class="personIforP starDiv">
                                <i class="fa fa-star"></i>
                                <p><span class="type">学　　校</span> : <span>北京大学</span></p>
                                <p><span class="type">在校时间</span> : <span>1991-10-4~至今</span></p>
                                <p><span class="type">教育学历</span> : <span>本科</span></p>
                                <p><span class="type">所属专业</span> : <span>计算机专业</span></p>
                                <a class="btn-modify modifyEducation">
                                    <i class="fa fa-pencil"></i>
                                    编辑
                                </a>
                            </div>
                            <div class="personIforP auto style">
                                <a href="#" class="btnAddwe modifyEducation addEducation">+增加一条教育经历</a>
                            </div>
                            <!--<div class="weui_btn_area">-->
                                <!--<a class="weui_btn weui_btn_primary  addEducation">新增</a>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container js_container">
                    <div class="page">
                        <div class="bd">
                            <div class="personIforImg">
                                <button type="button" class="btnInfor">工作经历</button>
                                <a href="personCenter.html" class="weui_btn weui_btn_mini weui_btn_primary style nextBtn">返回个人中心</a>
                            </div>
                            <div class="personIforP starDiv">
                                <i class="fa fa-star"></i>
                                <p><span class="type">所属公司</span> : <span>百度科技</span></p>
                                <p><span class="type">在职时间</span> : <span>1991-10-4~至今</span></p>
                                <p><span class="type">所属行业</span> : <span>互联网</span></p>
                                <p><span class="type">公司职位</span> : <span>Java开发工程师</span></p>
                                <a class="btn-modify modifyJobExperience"><i class="fa fa-pencil"></i> 编辑</a>
                            </div>
                            <div class="personIforP starDiv">
                                <i class="fa fa-star"></i>
                                <p><span class="type">所属公司</span> : <span>百度科技</span></p>
                                <p><span class="type">在职时间</span> : <span>1991-10-4~至今</span></p>
                                <p><span class="type">所属行业</span> : <span>互联网</span></p>
                                <p><span class="type">公司职位</span> : <span>Java开发工程师</span></p>
                                <a class="btn-modify modifyJobExperience"><i class="fa fa-pencil"></i> 编辑</a>
                            </div>
                            <div class="personIforP auto style">
                                <a href="#" class="btnAddwe modifyJobExperience">+增加一条工作经历</a>
                            </div>
                            <!--<div class="weui_btn_area">-->
                                <!--<a class="weui_btn weui_btn_primary modifyJobExperience">新增</a>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container js_container">
                    <div class="page">
                        <div class="bd">
                            <div class="personIforImg">
                                <button type="button" class="btnInfor">项目经历</button>
                                <a href="personCenter.html" class="weui_btn weui_btn_mini weui_btn_primary style nextBtn">返回个人中心</a>
                            </div>
                            <div class="personIforP starDiv">
                                <i class="fa fa-star"></i>
                                <p><span class="type">项目名称</span> : <span>百度网盘</span></p>
                                <p><span class="type">项目周期</span> : <span>1991-10-4~至今</span></p>
                                <p><span class="type">项目描述</span> : <br/><span>百度网盘是百度推出的一项云存储服务，是百度云的其中一个服务，首次注册即有机会获得15GB的空间，目前有Web版、Windows</span></p>
                                <a class="btn-modify modifyProjectExperience"><i class="fa fa-pencil"></i> 编辑</a>
                            </div>
                            <div class="personIforP auto style">
                                <a href="#" class="btnAddwe modifyProjectExperience">+增加一条项目经历</a>
                            </div>
                            <!--<div class="weui_btn_area">-->
                                <!--<a class="weui_btn weui_btn_primary modifyProjectExperience">新增</a>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container js_container">
                    <div class="page">
                        <div class="bd">
                            <div class="personIforImg">
                                <button type="button" class="btnInfor">简历标签</button>
                                <a href="personCenter.html" class="weui_btn weui_btn_mini weui_btn_primary style nextBtn">返回个人中心</a>
                            </div>

                            <form action="#" id="form" onsubmit="return false">
                                <div class="button-label bt0">
                                    <p class="moreTag"><span class="required">*</span>最多只能添加5个标签</p>
                                    <!--<a href="#" class="keyword-dashed-button">-->
                                    <!--<span class="add-span">+</span>-->
                                    <!--添加-->
                                    <!--</a>-->
                                    <!--<div class="keyword-div have hide">-->
                                    <!--<input type="text" class="keyword-input" placeholder="请输入标签名"/>-->
                                    <!--<i class="fa fa-check-circle"></i>-->
                                    <!--<i class="weui_icon_clear"></i>-->
                                    <!--</div>-->
                                    <a href="#" class="keyword-button">
                                        <span class="keyword-button-content">s</span>
                                        <i class="weui_icon_clear"></i>
                                    </a>
                                </div>
                                <!--<div class="weui_btn_area">-->
                                    <!--<a class="weui_btn weui_btn_primary addTag" id="saveBtn">新增</a>-->
                                <!--</div>-->
                                <div class="personIforP auto style">
                                    <a href="#" class="btnAddwe addTag" id="saveBtn">+增加一条简历标签</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container js_container">
                    <div class="page">
                        <div class="bd">
                            <div class="personIforImg">
                                <button type="button" class="btnInfor">其他信息</button>
                                <a href="personCenter.html" class="weui_btn weui_btn_mini weui_btn_primary style nextBtn">返回个人中心</a>
                            </div>
                            <div class="personIforP">
                                <p>介绍 : <br/><span>百度网盘是百度推出的一项云存储服务，是百度云的其中一个服务，首次注册即有机会获得15GB的空间，目前有Web版、Windows</span></p>
                                <button class="btn-modify modifyOtherInfor"><i class="fa fa-pencil"></i> 编辑</button>
                            </div>
                            <!--<div class="personIforP auto">-->
                            <!--<a href="#" class="btnAddwe">+增加一条项目经历</a>-->
                            <!--</div>-->
                            <div class="weui_btn_area">
                                <a class="weui_btn weui_btn_primary" href="modifyResumeSuccess.html">完成</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-pagination padd"></div>
    </div>
    <script src="../../assets/global/plugins/swiper/dist/js/swiper.min.js"></script>
    <script src="../../assets/mobile/js/errMsg.js"></script>
    <script>
        $(function(){
            swiper = new Swiper('#swiper-container2', {
                slidesPerView: 1,
                pagination:'.swiper-pagination',
                paginationClickable: true,
                spaceBetween: 0,
                loop:true,
                autoplay: false,
                autoplayDisableOnInteraction: false
            });
        });
    </script>
    <script>
        $(function(){
            var bd = $(".bd");

            /*基本信息的操作*/
            bd.delegate(".modifyBasicInfor","click",function(){
                var that = $(this);
                $.ajax({
                    type : "POST",
                    url : "addDetailedBasicInfor.html",
                    dataType : "html",
                    cache : false,
                    success : function(data) {
                        var $data = $(data);
                        that.closest(".bd").html($data.find(".bd").html());
                    }
                });
            });
            bd.delegate(".saveBasic","click",function(){
                var reg = /^0?(13[0-9]|15[012356789]|18[0236789]|14[57])[0-9]{8}$/;
                if($("#start").val() == '') {
                    showMsg('时间不能为空');
                    return false;
                }
                else if($("#bodyHeight").val() == '') {
                    showMsg('身高不能为空');
                    return false;
                }
                else if($("#weight").val() == '') {
                    showMsg('体重不能为空');
                    return false;
                }
                else if($("#address").val() == '') {
                    showMsg('出生地不能为空');
                    return false;
                }
                else if($("#address").val() == '') {
                    showMsg('现住地不能为空');
                    return false;
                }
                else if($("#mobile").val() == '') {
                    showMsg('手机号不能为空');
                    return false;
                }
                else if($("#mobile").get(0)&&!reg.test($("#mobile").val())){
                    showMsg('手机号格式不正确');
                }
                else if($("#email").val() == '') {
                    showMsg('邮箱不能为空');
                    return false;
                }
                else{
                    var that = $(this);
                    $.ajax({
                        type : "POST",
                        url : "basicInformation.html",
                        dataType : "html",
                        cache : false,
                        success : function(data) {
                            var $data = $(data);
                            that.closest(".bd").html($data.find(".bd").html());
                        }
                    });
                }
                return true;
            });

            /*教育信息的操作*/

            $('#start').on('input propertychange',function(){

                console.log($(this).val());
            });

            bd.delegate(".modifyEducation","click",function(){
                var that = $(this);
                $.ajax({
                    type : "POST",
                    url : "addEducation.html",
                    dataType : "html",
                    cache : false,
                    success : function(data) {
                        var $data = $(data);
                        if(that.is(".addEducation")){
                            $data.find(".saveEducation").addClass("addData");
                        }
                        that.closest(".bd").html($data.find(".bd").html());
                    }
                });
            });
            bd.delegate(".saveEducation","click",function(){
                if($("#schoolName").val() == '') {
                    showMsg('学校名不能为空');
                    return false;
                }
                else if($("#start").val() == '') {
                    showMsg('开始时间不能为空');
                }
                else if($("#end").val() == '') {
                    showMsg('结束时间不能为空');
                }
                else if($("#specialName").val() == '') {
                    showMsg('专业名不能为空');
                }
                else{
                    var that = $(this);
                    $.ajax({
                        type  : "POST",
                        url   : "educationList.html",
                        dataType : "html",
                        cache : false,
                        success : function(data) {
                            var $data = $(data);
                            if(that.is(".addData")){
                                var str =  '<div class="personIforP starDiv">'+
                                                '<i class="fa fa-star"></i>'+
                                                '<p><span class="type">学校</span> : <span>ss</span></p>'+
                                                '<p><span class="type">在校时间</span> : <span>1991-10-4~至今</span></p>'+
                                                '<p><span class="type">学历</span> : <span>本科</span></p>'+
                                                '<p><span class="type">专业</span> : <span>计算机专业</span></p>'+
                                                '<a class="btn-modify modifyEducation">编辑</a>'+
                                            '</div>';
                                that.removeClass("addData");
                                $data.find(".weui_btn_area").before(str);
                                $data.find(".weui_btn_area .modifyEducation").addClass("addEducation");
                                that.closest(".bd").html($data.find(".bd").html());
                            }else {
                                that.closest(".bd").html($data.find(".bd").html());
                            }
                        }
                    });
                }
                return true;
            });

            /*工作信息的操作*/
            bd.delegate(".modifyJobExperience","click",function(){
                var that = $(this);
                $.ajax({
                    type : "POST",
                    url : "addJobExperience.html",
                    dataType : "html",
                    cache : false,
                    success : function(data) {
                        var $data = $(data);
                        that.closest(".bd").html($data.find(".bd").html());
                        
                    }
                });
            });
            bd.delegate(".saveJobExperience","click",function(){
                if($("#start").val() == '') {
                    showMsg('开始时间不能为空');
                    return false;
                }
                else  if($("#end").val() == '') {
                    showMsg('结束时间不能为空');
                    return false;
                }
                else if($("#companyName").val() == '') {
                    showMsg('公司名不能为空');
                    return false;
                }
                else if($("#position").val() == '') {
                    showMsg('行业不能为空');
                    return false;
                }
                else  if($("#job").val() == '') {
                    showMsg('职位不能为空');
                    return false;
                }
                else{
                    var that = $(this);
                    $.ajax({
                        type : "POST",
                        url : "educationList.html",
                        dataType : "html",
                        cache : false,
                        success : function(data) {
                            var $data = $(data);
                            that.closest(".bd").html($data.find(".bd").html());
                            
                        }
                    });
                }
                return true;
            });

            /*项目信息的操作*/
            bd.delegate(".modifyProjectExperience","click",function(){
                var that = $(this);
                $.ajax({
                    type : "POST",
                    url : "addProjectExperience.html",
                    dataType : "html",
                    cache : false,
                    success : function(data) {
                        var $data = $(data);
                        that.closest(".bd").html($data.find(".bd").html());
                        
                    }
                });
            });
            bd.delegate(".saveProjectExperience","click",function(){
                if($("#start").val() == '') {
                    showMsg('开始时间不能为空');
                    return false;
                }
                else  if($("#end").val() == '') {
                    showMsg('结束时间不能为空');
                    return false;
                }
                else if($("#companyName").val() == '') {
                    showMsg('公司名不能为空');
                    return false;
                }
                else if($("#position").val() == '') {
                    showMsg('行业不能为空');
                    return false;
                }
                else  if($("#job").val() == '') {
                    showMsg('职位不能为空');
                    return false;
                }
                else{
                    var that = $(this);
                    $.ajax({
                        type : "POST",
                        url : "projectExperienceList.html",
                        dataType : "html",
                        cache : false,
                        success : function(data) {
                            var $data = $(data);
                            that.closest(".bd").html($data.find(".bd").html());
                        }
                    });
                }
                return true;
            });

            /*标签的操作*/
            bd.delegate(".addTag","click",function(){
                var that = $(this);
                $.ajax({
                    type : "POST",
                    url : "addTag.html",
                    dataType : "html",
                    cache : false,
                    success : function(data) {
                        var $data = $(data);
                        that.closest(".bd").html($data.find(".bd").html());
                    }
                });
            });
            bd.delegate(".saveTag","click",function(e){
                e.preventDefault();
                var that = $(this);
                $.ajax({
                    type : "POST",
                    url : "tagInfor.html",
                    dataType : "html",
                    cache : false,
                    success : function(data) {
                        var $data = $(data);
                        that.closest(".bd").html($data.find(".bd").html());
                    }
                });
                return true;
            });

            /*其他信息的操作*/
            bd.delegate(".modifyOtherInfor","click",function(){
                var that = $(this);
                $.ajax({
                    type : "POST",
                    url : "addOtherInfor.html",
                    dataType : "html",
                    cache : false,
                    success : function(data) {
                        var $data = $(data);
                        that.closest(".bd").html($data.find(".bd").html());
                        
                    }
                });
            });
            bd.delegate(".saveOtherInfor","click",function(e){
                var that = $(this);
                if($("#caseDetails").val() == '') {
                    showMsg('项目描述不能为空');
                    return false;
                }else{
                    $.ajax({
                        type : "POST",
                        url : "otherInforList.html",
                        dataType : "html",
                        cache : false,
                        success : function(data) {
                            var $data = $(data);
                            that.closest(".bd").html($data.find(".bd").html());
                            
                        }
                    });

                }
                return true;
            });
        });
    </script>
</body>
</html>