<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container js_container">
        <div class="page">
            <div class="head">
                <i class="fa fa-angle-left"></i>
                简历操作
            </div>
            <div class="bd">
                <div class="largeTitle">
                    填写随走标签简历，让您的竞争力一目了然！
                </div>
                <div class="weui_cells mt0 weui_cells_access">
                    <a class="weui_cell c666" href="fillBasicInformation.html">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>填写标签简历</p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                </div>
                <div class="haveResume">
                    <div class="smallTtle pb0 bb1">
                        选择已有简历
                    </div>
                    <div class="resumeCenter spacing fff">
                        <div class="progress relative">
                            <div class="weui_cells weui_cells_checkbox mt0 bt0 style">
                                <label class="weui_check_label bt0  p0" for="s11">
                                    <div class="weui_cell_hd">
                                        <input type="checkbox" class="weui_check" name="checkbox1" id="s11" checked="checked">
                                        <i class="weui_icon_checked"></i>
                                    </div>
                                </label>
                            </div>
                            <div style="display: inline-block;width: 90%;">
                                <p class="resumeTitle">简历1</p>
                                <div class="weui_progress">
                                    <div class="weui_progress_bar">
                                        <div class="weui_progress_inner_bar js_progress" style="width: 10%;"></div>
                                    </div>
                                    <span class="complete">完成10%</span>
                                    <!--<a href="javascript:;" class="weui_progress_opr">-->
                                    <!--<img src="../../assets/mobile/images/modiflyIcon.png" alt="" class="modiflyIcon"/>-->
                                    <!--</a>-->
                                </div>
                                <span class="time">更新于2016-03-05 9:00
                                     <a href="resumeDetailsInfor.html">
                                         <img src="../../assets/mobile/images/modiflyIcon.png" alt="" class="modiflyIcon" style="width: 15px;position: absolute;right: 15px;bottom: 15px;"/>
                                     </a>
                                </span>
                            </div>

                        </div>
                        <div class="weui_btn_area">
                            <a class="weui_btn weui_btn_primary" href="javascript:" id="showTooltips">投递</a>
                        </div>
                    </div>
                    <div class="notResume">
                        <div class="personIforP auto b0 mt15">
                            <p style="text-align: center;font-size: 18px;color: #999;padding: 10px 0;">您尚未创建简历</p>
                            <a href="addDetailedBasicInfor.html" class="btnAddwe">+创建一份简历</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>