<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container js_container">
        <div class="page">
            <div class="head">
                <i class="fa fa-angle-left"></i>
                性别选择
            </div>
            <div class="bd">
                <img src="../../assets/mobile/images/resume2.jpg" alt="" class="resume"/>
                <form action="#" id="form" onsubmit="return false">
                    <div class="weui_cells weui_cells_checkbox mt0 bt0 h153">
                        <label class="weui_cell weui_check_label w50" for="s11">
                            <img src="../../assets/mobile/images/woman.png" alt="" class="sexImg"/>
                            <div class="weui_cell_hd">
                                <input type="radio" class="weui_check" name="sex" id="s11" checked="checked">
                                <i class="weui_icon_checked"></i>
                            </div>
                        </label>
                        <label class="weui_cell weui_check_label bt0 w50" for="s12">
                            <img src="../../assets/mobile/images/man.png" alt="" class="sexImg"/>
                            <div class="weui_cell_hd">
                                <input type="radio" name="sex" class="weui_check" id="s12">
                                <i class="weui_icon_checked"></i>
                            </div>

                        </label>
                    </div>
                    <div class="weui_btn_area">
                        <input type="submit" class="weui_btn weui_btn_primary" id="saveBtn" value="下一步">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script src="../../assets/mobile/js/errMsg.js"></script>
    <script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
    <script>
        $("#saveBtn").click(function(){
            window.location.href = "fillEducationList.html";
            return true;
        })
    </script>
</body>
</html>