<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container js_container">
        <div class="page relative">
            <div class="head">
                <i class="fa fa-angle-left"></i>
                简历标签
            </div>
            <div class="bd">
                <div class="personIforImg">
                    <button type="button" class="btnInfor">简历标签</button>
                </div>
                <form action="#" id="form" onsubmit="return false">
                    <div class="button-label bt0">
                        <p class="moreTag"><span class="required">*</span>最多只能添加5个标签</p>
                        <!--<a href="#" class="keyword-dashed-button">-->
                        <!--<span class="add-span">+</span>-->
                        <!--添加-->
                        <!--</a>-->
                        <!--<div class="keyword-div have hide">-->
                        <!--<input type="text" class="keyword-input" placeholder="请输入标签名"/>-->
                        <!--<i class="fa fa-check-circle"></i>-->
                        <!--<i class="weui_icon_clear"></i>-->
                        <!--</div>-->
                        <a href="#" class="keyword-button"><span class="keyword-button-content">s</span></a>
                    </div>
                    <div class="weui_btn_area">
                        <a class="weui_btn weui_btn_primary addTag" id="saveBtn">新增</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>