<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>随走</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container js_container">
        <div class="page">
            <div class="bd absolute pb48">
                <div class="personIforImg">
                    <button type="button" class="btnInfor">工作经验</button>
                </div>
                <div class="personIforP starDiv">
                    <i class="fa fa-star"></i>
                    <p><span class="type">所属公司</span> : <span>百度科技</span></p>
                    <p><span class="type">在职时间</span> : <span>1991-10-4~至今</span></p>
                    <p><span class="type">所属行业</span> : <span>互联网</span></p>
                    <p><span class="type">公司职位</span> : <span>Java开发工程师</span></p>
                    <a class="btn-modify modifyJobExperience"><i class="fa fa-pencil"></i> 编辑</a>
                </div>
                <div class="personIforP starDiv">
                    <i class="fa fa-star"></i>
                    <p><span class="type">所属公司</span> : <span>百度科技</span></p>
                    <p><span class="type">在职时间</span> : <span>1991-10-4~至今</span></p>
                    <p><span class="type">所属行业</span> : <span>互联网</span></p>
                    <p><span class="type">公司职位</span> : <span>Java开发工程师</span></p>
                    <a class="btn-modify modifyJobExperience"><i class="fa fa-pencil"></i> 编辑</a>
                </div>
                <div class="weui_btn_area fixed">
                    <a class="weui_btn weui_btn_primary b0 modifyJobExperience">新增</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>