<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>咨询详情</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container">
        <div class="page">
            <div class="bd pd40">
                <div class="weui_panel weui_panel_access">
                    <div class="weui_panel_bd l15 r15 relative">
                        <span class="weui_media_box l0 weui_media_appmsg">
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title auto">希望大夫帮我分析下，我是不是得了乙肝啊，谢谢您
                                </h4>
                                <p class="weui_media_desc middle">
                                    <span class="spanImg">
                                         <img src="../../assets/mobile/images/personImg.png" alt=""/>
                                    </span>
                                    <span class="spanInfor">
                                        李建国　男　46岁 <br/> 更新时间：2016-05-10  9:08
                                    </span>
                                </p>
                            </div>
                            <div class="weui_media_hd mr0 lh0">
                                <img class="weui_media_appmsg_thumb portrait1" src="../../assets/mobile/images/waitFor.png">
                                <img class="weui_media_appmsg_thumb portrait2 hide" src="../../assets/mobile/images/ok.png">
                                <button class="btnResolved">已解决</button>
                                <button class="btnResolvedDisabled hide">已解决</button>
                            </div>
                        </span>
                    </div>
                    <div class="describe">
                        <div class="caretUpDiv">
                            <img src="../../assets/mobile/images/caretUp.png" alt="" class="caretUp"/>
                        </div>
                        <div class="describeTitle">
                            <img src="../../assets/mobile/images/describeImg.png" alt=""/> 
                            <span class="title">描述 : </span>
                        </div>
                        <div class="describeCon">
                            <p>
                                乙肝表面抗原 + 15.657
                            </p>

                            <p>乙肝表面抗体 — 0.171</p>

                            <p>乙肝E抗原 — 0.504</p>

                            <p>乙肝E抗体 + 0.301</p>

                            <p>乙肝核心抗体 + 0.630</p>

                            <p>我去查了肝功的,肝功是正常的,但不知道乙肝检查的情况怎么样</p>

                            <p>想得到怎样的帮助 : </p>

                            <p>请问我有没有得乙肝,严不严重,会不会传染,需不需要吃药？谢谢!</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="dataTitle">
                            <img src="../../assets/mobile/images/dataImg.png" alt=""/>
                            <span class="title">检查资料 : </span>
                        </div>
                        <div class="dataCon">
                            <img src="../../assets/mobile/images/data1.jpg" alt=""/>
                            <img src="../../assets/mobile/images/data2.jpg" alt=""/>
                            <img src="../../assets/mobile/images/data3.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="bg">

                    </div>
                    <div class="weui_panel_bd">
                        <span class="weui_media_box l0 weui_media_appmsg">
                            <div class="weui_media_hd">
                                <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/doctorImg.png">
                            </div>
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title">李建国 <span class="rank">副教授</span></h4>
                                <p class="inforB">
                                    <span>你好，你病毒量不是太高，但胆红素有些高肝功能有些异常，你查出乙肝有多少？医生给你开的什么药？ </span>
                                </p>
                                <p class="weui_media_desc">
                                    <span>2016-05-10 9:08</span>
                                </p>
                            </div>
                        </span>
                        <span class="weui_media_box l0 weui_media_appmsg">
                            <div class="weui_media_hd">
                                <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/personImg.png">
                            </div>
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title">李建国</h4>
                                <p class="inforB">
                                    <span>
                                        张教授，您好，我吃的是恩卡韦胶囊，吃了1年了。目前刚开始阿德福韦酯联合恩替卡韦的治疗，像这种情况以后还有继续可服用的抗病毒药吗
                                    </span>
                                </p>
                                <p class="weui_media_desc">
                                    <span>2016-05-10 9:08</span>
                                </p>
                            </div>
                        </span>
                    </div>
                </div>
                <div id="toast" style="display: none;">
                    <div class="weui_mask_transparent"></div>
                    <div class="weui_toast">
                        <i class="weui_icon_toast"></i>
                        <p class="weui_toast_content">已解决</p>
                    </div>
                </div>
            </div>
            <div class="foot ">
                <div class="footBg h50">
                    <form action="#">
                        <input type="text" class="inputBtn" placeholder="回复张医生"/>
                        <button type="submit" class="btnTj">提交</button>
                    </form>
                </div>
                <a href="consultingPage.html" class="hide">
                    <img src="../../assets/mobile/images/consultationIcon.png" alt="">
                    在线咨询
                </a>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script>
        $(function(){
            $(".btnResolved").on("touchend",function(){
                var that = $(this);
                that.closest(".weui_media_hd").find(".portrait1").addClass("hide");
                that.closest(".weui_media_hd").find(".portrait2").removeClass("hide");
                $(".btnResolved").addClass("hide");
                that.closest(".weui_media_hd").find(".btnResolvedDisabled").removeClass("hide");
                $('#toast').show();
                $(".weui_toast").addClass("weui_toastshow");
                setTimeout(function () {
                    $(".weui_toast").removeClass("weui_toastshow");
                    $('#toast').hide();
                }, 3000);
            });
        })
    </script>
</body>
</html>