<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>李建国的主页</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container errDailog absolute ">
        <div class="page">
            <div class="bd absolute pd40">
                <div class="overflowy">
                    <div class="weui_panel weui_panel_access">
                        <div class="weui_panel_bd">
                        <span class="weui_media_box r15 weui_media_appmsg">
                            <div class="weui_media_hd">
                                <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/doctorImg.png">
                            </div>
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title">李建国 <span class="rank">副教授</span></h4>
                                <p class="weui_media_desc w60">
                                    <span>重庆西南医院 传染病</span>
                                </p>
                                <button type="button" class="mainDoctor bgfff zIndex1999">
                                    <img src="../../assets/mobile/images/mainDoctorIcon.png" alt=""/>
                                    设为主治医生
                                </button>
                                <span class="myDoctor hide">我的主治医生</span>
                            </div>
                        </span>
                            <div class="score bt0 mb0">
                                <span style="color: #6cb7ee;font-size: 14px;">就诊评价 : </span>
                                <a href="doctorEvaluationList.html" class="commentA">
                                    <ul class="starList clearfix fs14 mr2">
                                        <li>
                                            <i class="fa fa-star-o"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star-o"></i>
                                        </li>
                                    </ul>
                                    <span class="fraction fs14">
                                        <span class="numFraction">0</span>分
                                    </span>
                                    <span class="commentNum zIndex1999">
                                        <span class="left">
                                            共10001条
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <article class="weui_article">
                        <h1 class="tittle">医生简介 : </h1>
                        <section>
                            <p>
                                诊治乙、丙肝、PBC等免疫性肝炎、脂肪肝、酒精肝、原因不明ALT升高和原因不明的肝硬化、各种肝硬化、重症肝炎、阻断乙肝母婴传染、甲胎蛋白升高等病,对长效干扰素、普通干扰素和拉米夫定、阿德福韦酯、替比夫定、恩替卡韦和替诺福韦等抗病毒应用和病毒基因变异耐药处理经验丰富。
                            </p>
                        </section>
                        <h1 class="tittle">擅长领域 : </h1>
                        <section>
                            <p>
                                被《好大夫在线》评为《2014年度好大夫》、《2015年度好大夫》。上海医科大学医学系毕业后，一直供职于复旦大学附属华山医院感染病科。由于本人增担任国际和国内拉米夫定、阿德福韦。恩替卡韦、替比夫定等核苷(酸)类似物和聚乙二醇干扰素(派罗欣和佩罗能)临床验证负责人(PI),因而对核苷类似物和聚乙二醇干扰素临床使用经验丰富,也擅长治疗脂肪肝、PBC等免疫性肝炎、酒精肝、原因不明转氨酶升高、肝硬化、重症肝炎等病。
                            </p>
                        </section>
                    </article>
                    <div class="weui_panel weui_panel_access" style="margin:6px 2% 0;width: 96%;">
                        <div class="weui_panel_bd relative">
                            <a href="#" class="weui_media_box l0 weui_media_appmsg">
                                <div class="weui_media_bd relative">
                                    <h4 class="weui_media_title auto">恩替卡位分散片 <span style="color: #6cb7ee;">100元3盒</span>
                                    </h4>
                                    <p class="weui_media_desc">
                                        <span>全网最大优惠,仅售3天</span>
                                    </p>
                                </div>
                                <div class="weui_media_hd mr0" style="width: 30%;">
                                    <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/drugImg.png" >
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="weui_panel weui_panel_access">
                        <p class="caseTitle">
                            咨询案例
                            <a href="moreConsulting.html" class="moreConsulting">查看更多》</a>
                        </p>
                        <div class="weui_panel_bd l15 r15 relative">
                            <a href="consultingInfor.html" class="weui_media_box l0 weui_media_appmsg">
                                <div class="weui_media_bd relative">
                                    <h4 class="weui_media_title auto">希望大夫帮我分析下，我是不是得了乙肝啊，谢谢您
                                    </h4>
                                    <p class="weui_media_desc">
                                        <span class="Verdana">更新时间：2016-05-10  9:08</span>
                                    </p>
                                </div>
                                <div class="weui_media_hd mr0">
                                    <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/waitFor.png">
                                </div>
                            </a>
                        </div>
                        <div class="weui_panel_bd l15 r15 relative">
                            <a href="consultingInfor.html" class="weui_media_box l0 weui_media_appmsg">
                                <div class="weui_media_bd relative">
                                    <h4 class="weui_media_title auto">希望大夫帮我分析下，我是不是得了乙肝啊，谢谢您
                                    </h4>
                                    <p class="weui_media_desc">
                                        <span class="Verdana">更新时间：2016-05-10  9:08</span>
                                    </p>
                                </div>
                                <div class="weui_media_hd mr0">
                                    <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/waitFor.png">
                                </div>
                            </a>
                        </div>
                        <div class="weui_panel_bd l15 r15 relative">
                            <a href="consultingInfor.html" class="weui_media_box l0 weui_media_appmsg">
                                <div class="weui_media_bd relative">
                                    <h4 class="weui_media_title auto">希望大夫帮我分析下，我是不是得了乙肝啊，谢谢您
                                    </h4>
                                    <p class="weui_media_desc">
                                        <span class="Verdana">更新时间：2016-05-10  9:08</span>
                                    </p>
                                </div>
                                <div class="weui_media_hd mr0">
                                    <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/waitFor.png">
                                </div>
                            </a>
                        </div>
                        <div class="weui_panel_bd l15 r15 relative">
                            <a href="consultingInfor.html" class="weui_media_box l0 weui_media_appmsg">
                                <div class="weui_media_bd relative">
                                    <h4 class="weui_media_title auto">希望大夫帮我分析下，我是不是得了乙肝啊，谢谢您
                                    </h4>
                                    <p class="weui_media_desc">
                                        <span class="Verdana">更新时间：2016-05-10  9:08</span>
                                    </p>
                                </div>
                                <div class="weui_media_hd mr0">
                                    <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/waitFor.png">
                                </div>
                            </a>
                        </div>
                        <div class="weui_panel_bd l15 r15 relative">
                            <a href="consultingInfor.html" class="weui_media_box l0 weui_media_appmsg">
                                <div class="weui_media_bd relative">
                                    <h4 class="weui_media_title auto">希望大夫帮我分析下，我是不是得了乙肝啊，谢谢您
                                    </h4>
                                    <p class="weui_media_desc">
                                        <span class="Verdana">更新时间：2016-05-10  9:08</span>
                                    </p>
                                </div>
                                <div class="weui_media_hd mr0">
                                    <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/waitFor.png">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="foot zIndex1999">-->
                <!--<a href="consultingPage.html">-->
                    <!--<img src="../../assets/mobile/images/consultationIcon.png" alt=""/>-->
                    <!--在线咨询-->
                <!--</a>-->
            <!--</div>-->
            <div class="weui_btn_area btnStyle w100 fixed foot zIndex1999">
                <a href="consultingPage.html"  class="weui_btn weui_btn_primary bg4">
                    <img src="../../assets/mobile/images/consultationIcon.png" alt=""/>
                    在线咨询
                </a>
            </div>
        </div>
        <!--第一次加载处理-->
        <div class="maskHide">
            <div class="tipImgs">
                <img src="../../assets/mobile/images/mainDoctor.png" alt="" class="mainDoctorImg1"/>
                <img src="../../assets/mobile/images/mainDoctor1.png" alt="" class="mainDoctorImg"/>
                <button class="btnOk">我知道了</button>
            </div>
            <div class="sumbitInfor hide">
                <img src="../../assets/mobile/images/personInforBg.png" alt="" class="personInforBg"/>
                <i class="fa fa-remove"></i>
                <form action="#" class="personForm" onsubmit="return false;">
                    <div class="input-group">
                        <span class="type">姓　名 : </span>
                        <input type="text" id="personName" placeholder="请输入姓名"/>
                    </div>
                    <div class="input-group">
                        <span class="type">手　机 : </span>
                        <input type="tel" id="mobile" placeholder="请输入手机号"/>
                    </div>
                    <div class="input-group">
                        <span class="type">验证码 : </span>
                        <input type="number" class="inputText inputCode" id="code" placeholder="请输入验证码"/><button class="getCode" id="getCode">获取验证码</button>
                    </div>
                    <button class="btnSumbit" id="showTooltips" type="submit">提交</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script src="../../assets/mobile/js/mobileLeft.js"></script>
    <script src="../../assets/mobile/js/messageTip.js"></script>

    <script>
        $(function(){
            /*左边滑动导航*/
            mobileLeft.init($(".container"));

            /*第一次加载时的蒙版处理*/
            $(".mainDoctor").on("touchend",function(){
                $(".tipImgs").addClass("hide");
                if($(".maskHide").is(".hide")){
                    $(".maskHide").removeClass("hide")
                }
                $(".sumbitInfor").removeClass("hide");
                $(".foot,.mainDoctor,.commentNum").removeClass("zIndex1999");
                $(".bd.absolute>div").addClass("overflowy");
            });
            $(".sumbitInfor .fa-remove").on("touchend",function(){
                $(this).closest(".maskHide").addClass("hide");
                $(this).closest(".sumbitInfor").addClass("hide");
                $(".bd.absolute>div").removeClass("overflowy");
            });

            /*去除样式*/
            $(".btnOk").on("touchend",function(){
                $(this).closest(".maskHide").addClass("hide");
                $(".foot,.mainDoctor,.commentNum").removeClass("zIndex1999");
                $(".bd.absolute>div").removeClass("overflowy");
            });


            /*数据提交*/
            $("#showTooltips").click(function(){
                var reg = /^0?(13[0-9]|15[012356789]|18[0236789]|14[57])[0-9]{8}$/;
                if($.trim($("#personName").val()) == '') {
                    showErrMsg('姓名不能为空');
                    return false;
                }
                else if($.trim($("#mobile").val()) == ''){
                    showErrMsg('手机号不能为空');
                }
                else if($("#mobile").get(0)&&!reg.test($("#mobile").val())){
                    showErrMsg('手机号格式不正确');
                }
                else{
                    showLoading("数据提交中","提交成功")
                }
                return true;
            });


            $("#getCode").on("click",function(){

                var btn = $(this);
                var count = 60;
                var resend = setInterval(function(){
                    count--;
                    if (count > 0){
                        btn.addClass("disabled");
                        btn.text(count+"秒后可重新获取");
                    }else {
                        clearInterval(resend);
                        btn.removeClass("disabled");
                        btn.text("获取验证码").removeAttr('disabled style');
                    }
                }, 1000);
                showErrMsg('验证码发送成功');
                btn.attr('disabled',true);
            });
        })
    </script>
</body>
</html>