<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医生主页</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container js_container">
        <div class="page">
            <div class="bd pd40">
                <div class="weui_panel weui_panel_access">
                    <div class="weui_panel_bd">
                        <a href="#" class="weui_media_box r15 weui_media_appmsg">
                            <div class="weui_media_hd">
                                <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/personImg.png">
                            </div>
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title">李建国 <span class="rank">副教授</span></h4>
                                <p class="weui_media_desc w60">
                                    <span>重庆西南医院 传染病</span>
                                </p>
                                <button type="button" class="mainDoctor">
                                    <img src="../../assets/mobile/images/mainDoctorIcon.png" alt=""/>
                                    设为主治医生
                                </button>
                            </div>
                        </a>
                        <div class="score bt0 mb0">
                            <span style="color: #6cb7ee;font-size: 14px;">就诊评分 : </span>
                            <ul class="starList clearfix fs14">
                                <li>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-o"></i>
                                </li>
                            </ul>
                            <span class="fraction fs14">
                                <span class="numFraction">0</span> 分
                            </span>
                        </div>
                    </div>
                </div>
                <article class="weui_article">
                    <h1 class="tittle">医生简介 : </h1>
                    <section>
                        <p>
                            诊治乙、丙肝、PBC等免疫性肝炎、脂肪肝、酒精肝、原因不明ALT升高和原因不明的肝硬化、各种肝硬化、重症肝炎、阻断乙肝母婴传染、甲胎蛋白升高等病,对长效干扰素、普通干扰素和拉米夫定、阿德福韦酯、替比夫定、恩替卡韦和替诺福韦等抗病毒应用和病毒基因变异耐药处理经验丰富。
                        </p>
                    </section>
                    <h1 class="tittle">擅长领域 : </h1>
                    <section>
                        <p>
                            被《好大夫在线》评为《2014年度好大夫》、《2015年度好大夫》。上海医科大学医学系毕业后，一直供职于复旦大学附属华山医院感染病科。由于本人增担任国际和国内拉米夫定、阿德福韦。恩替卡韦、替比夫定等核苷(酸)类似物和聚乙二醇干扰素(派罗欣和佩罗能)临床验证负责人(PI),因而对核苷类似物和聚乙二醇干扰素临床使用经验丰富,也擅长治疗脂肪肝、PBC等免疫性肝炎、酒精肝、原因不明转氨酶升高、肝硬化、重症肝炎等病。                        </p>
                    </section>
                </article>
                <div class="weui_panel weui_panel_access" style="margin:6px 2% 0;width: 96%;">
                    <div class="weui_panel_bd relative">
                        <a href="#" class="weui_media_box l0 weui_media_appmsg">
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title auto">恩替卡位分散片 <span style="color: #6cb7ee;" ">100元3盒</span>
                                </h4>
                                <p class="weui_media_desc">
                                    <span>全网最大优惠,仅售3天</span>
                                </p>
                            </div>
                            <div class="weui_media_hd mr0" style="width: 30%;">
                                <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/drugImg.png" >
                            </div>
                        </a>
                    </div>
                </div>
                <div class="weui_panel weui_panel_access">
                    <p class="caseTitle">案例咨询</p>

                    <div class="weui_panel_bd l15 r15 relative">
                        <a href="#" class="weui_media_box l0 weui_media_appmsg">
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title auto">希望大夫帮我分析下，我是不是得了乙肝啊，谢谢您
                                </h4>
                                <p class="weui_media_desc">
                                    <span>更新时间：2016-05-10  9:08</span>
                                </p>
                            </div>
                            <div class="weui_media_hd mr0">
                                <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/waitFor.png">
                            </div>
                        </a>
                    </div>
                    <div class="weui_panel_bd l15 r15 relative">
                        <a href="#" class="weui_media_box l0 weui_media_appmsg">
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title auto">希望大夫帮我分析下，我是不是得了乙肝啊，谢谢您
                                </h4>
                                <p class="weui_media_desc">
                                    <span>更新时间：2016-05-10  9:08</span>
                                </p>
                            </div>
                            <div class="weui_media_hd mr0">
                                <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/waitFor.png">
                            </div>
                        </a>
                    </div>
                    <div class="weui_panel_bd l15 r15 relative">
                        <a href="#" class="weui_media_box l0 weui_media_appmsg">
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title auto">希望大夫帮我分析下，我是不是得了乙肝啊，谢谢您
                                </h4>
                                <p class="weui_media_desc">
                                    <span>更新时间：2016-05-10  9:08</span>
                                </p>
                            </div>
                            <div class="weui_media_hd mr0">
                                <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/waitFor.png">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="foot">
                    <button type="button">
                        <img src="../../assets/mobile/images/consultationIcon.png" alt=""/>
                        在线咨询
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script src="../../assets/mobile/js/stars.js"></script>
    <script>
        $(function(){
            commentStars.init($(".starList li"))
        })
    </script>
</body>
</html>