<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医生列表</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container js_container">
        <div class="page">
            <div class="bd">
                <ul class="screenDoctor clearfix">
                    <li class="title">
                        地区
                    </li>
                    <li class="select">
                        <select name="">
                            <option value="沙坪坝">沙坪坝</option>
                            <option value="渝中">渝中</option>
                            <option value="渝北">渝北</option>
                            <option value="九龙坡">九龙坡</option>
                            <option value="北碚">北碚</option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </li>
                    <li class="title">
                        医院
                    </li>
                    <li class="select">
                        <select name="">
                            <option value="西南医院">西南医院</option>
                            <option value="西南医院">西南医院</option>
                            <option value="西重庆是的实打实医院">西重庆是的实打实医院</option>
                            <option value="西南医院">西南医院</option>
                            <option value="西南医院">西南医院</option>
                            <option value="西南医院">西南医院</option>
                            <option value="西南医院">西南医院</option>
                        </select>
                    </li>
                    <li class="title">
                        科室
                    </li>
                    <li class="select">
                        <select name="">
                            <option value="妇产科">妇产</option>
                            <option value="传染病科">传染病</option>
                            <option value="妇产科">妇产</option>
                            <option value="传染病科">传染病</option>
                            <option value="妇产科">妇产</option>
                            <option value="传染病科">传染病</option>
                            <option value="妇产科">妇产</option>
                            <option value="传染病科">传染病</option>
                        </select>
                    </li>
                    <li class="last">
                        <i class="fa fa-bars"></i>
                    </li>
                </ul>
                <div class="weui_panel weui_panel_access mt0">
                    <div class="weui_panel_bd">
                        <a href="doctorIndex.html" class="weui_media_box r15 weui_media_appmsg">
                            <div class="weui_media_hd">
                                <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/doctorImg.png">
                            </div>
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title">李建国 <span class="rank">副教授</span></h4>
                                <p class="weui_media_desc w60">
                                    <span>重庆西南医院 传染病</span>
                                </p>
                                <button class="cancelFollow hide">取消关注</button>
                                <button class="addFollow">+ 关注</button>
                            </div>
                        </a>
                        <a href="doctorIndex.html" class="weui_media_box r15 weui_media_appmsg">
                            <div class="weui_media_hd">
                                <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/doctorImg.png">
                            </div>
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title">李建国 <span class="rank">副教授</span></h4>
                                <p class="weui_media_desc w60">
                                    <span>重庆西南医院 传染病</span>
                                </p>
                                <button class="cancelFollow hide">取消关注</button>
                                <button class="addFollow">+ 关注</button>
                            </div>
                        </a>
                        <a href="doctorIndex.html" class="weui_media_box r15 weui_media_appmsg">
                            <div class="weui_media_hd">
                                <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/doctorImg.png">
                            </div>
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title">李建国 <span class="rank">副教授</span></h4>
                                <p class="weui_media_desc w60">
                                    <span>重庆西南医院 传染病</span>
                                </p>
                                <button class="cancelFollow hide">取消关注</button>
                                <button class="addFollow">+ 关注</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script>
        $(function(){
            $(".addFollow").on("click",function(e){
                e.preventDefault();
                $(this).closest(".weui_media_bd").find(".cancelFollow").removeClass("hide");
                $(this).addClass("hide");
            });
            $(".cancelFollow").on("click",function(e){
                e.preventDefault();
                $(this).closest(".weui_media_bd").find(".addFollow").removeClass("hide");
                $(this).addClass("hide");
            });
        })
    </script>
</body>
</html>