<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医生信息</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container js_container">
        <div class="page">
            <div class="bd">
                <div class="person-head clearfix">
                    <div class="tableCell personImg">
                        <img src="../../assets/mobile/images/doctorImg.png" alt="portrait"/>
                    </div>
                    <div class="tableCell personInfor">
                        <p class="name">李建国 <a href="#">副教授</a></p>
                        <p class="year">重庆西南医院 传染病科</p>
                    </div>
                    <div class="tableCell btnDiv">
                        <a href="#" class="btnModify">
                            <i class="fa fa-pencil"></i>
                            编辑资料
                        </a>
                    </div>
                </div>
                <div class="weui_cells mt0 weui_cells_access">
                    <a class="weui_cell l0" href="#">
                        <div class="weui_cell_hd">
                            <img src="../../assets/mobile/images/personIcon4.png" class="personIcon" style="width:20px;margin-right:5px;display:block">
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>患者咨询</p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                    <a class="weui_cell l0" href="#">
                        <div class="weui_cell_hd">
                            <img src="../../assets/mobile/images/personIcon2.png" class="personIcon" style="width:20px;margin-right:5px;display:block">
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>我的患者</p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>