<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的医生</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container">
        <div class="page">
            <div class="bd">
                <div class="weui_panel weui_panel_access">
                    <div class="weui_panel_hd relative l0">
                        <div class="sign bg"></div>
                        我的主治医生
                    </div>
                    <div class="weui_panel_bd ">
                        <a href="doctorIndex.html" class="weui_media_box l0 weui_media_appmsg">
                            <div class="weui_media_hd">
                                <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/doctorImg.png">
                            </div>
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title">李建国 <span class="rank">副教授</span></h4>
                                <p class="weui_media_desc w60">
                                    <span>重庆西南医院 传染病</span>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="notConTip mt15 hide">
                        <img src="../../assets/mobile/images/notContent.png" alt="" class="w10"/>
                        <p class="notInfor">
                            无主治医生,进入<a href="doctorList.html">名医馆</a>
                        </p>
                    </div>
                    <div class="weui_panel_hd top1 relative l0">
                        <div class="sign bg1"></div>
                        关注的其他医生
                        <a href="doctorList.html" class="doctorListA">
                            <img src="../../assets/mobile/images/doctorIcon1.png" alt=""/>
                            进入名医馆
                        </a>
                    </div>
                    <div class="weui_panel_bd ">
                        <a href="doctorIndex.html" class="weui_media_box r15 weui_media_appmsg">
                            <div class="weui_media_hd">
                                <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/doctorImg.png">
                            </div>
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title">李建国 <span class="rank">副教授</span></h4>
                                <p class="weui_media_desc w60">
                                    <span>重庆西南医院 传染病</span>
                                </p>
                                <button class="cancelFollow">取消关注</button>
                            </div>
                        </a>
                        <a href="doctorIndex.html" class="weui_media_box r15 weui_media_appmsg">
                            <div class="weui_media_hd">
                                <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/doctorImg.png">
                            </div>
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title">李建国 <span class="rank">副教授</span></h4>
                                <p class="weui_media_desc w60">
                                    <span>重庆西南医院 传染病</span>
                                </p>
                                <button class="cancelFollow">取消关注</button>
                            </div>
                        </a>
                        <a href="doctorIndex.html" class="weui_media_box r15 weui_media_appmsg">
                            <div class="weui_media_hd">
                                <img class="weui_media_appmsg_thumb portrait" src="../../assets/mobile/images/doctorImg.png">
                            </div>
                            <div class="weui_media_bd relative">
                                <h4 class="weui_media_title">李建国 <span class="rank">副教授</span></h4>
                                <p class="weui_media_desc w60">
                                    <span>重庆西南医院 传染病</span>
                                </p>
                                <button class="cancelFollow">取消关注</button>
                            </div>
                        </a>
                    </div>
                    <div class="notConTip mt15 hide">
                        <img src="../../assets/mobile/images/notContent.png" alt="" class="w10"/>
                        <p class="notInfor">
                            无主治医生,进入<a href="doctorList.html">名医馆</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>