<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的档案</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container errDailog absolute">
        <div class="page">
            <div class="bd pd40">
                <form action="#">
                    <div class="weui_cells mt0 weui_cells_form">
                        <!--<div class="weui_cell l0">-->
                        <!--<div class="weui_cell_hd"><label class="weui_label">qq</label></div>-->
                        <!--<div class="weui_cell_bd weui_cell_primary">-->
                        <!--<input class="weui_input" type="number" pattern="[0-9]*" placeholder="请输入qq号">-->
                        <!--</div>-->
                        <!--</div>-->
                        <a href="#" style="display: inline-block;width: 100%;">
                            <div class="weui_cell l0 imgUpload">
                                <div class="weui_cell_hd"><label class="weui_label">头　　像 :</label></div>
                                <div class="weui_cell_bd weui_cell_primary">
                                    <img src="../../assets/mobile/images/doctorImg.png" alt="" class="right"/>
                                </div>
                            </div>
                        </a>
                        <div class="weui_cell l0">
                            <div class="weui_cell_hd"><label class="weui_label">姓　　名 :</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" type="text" id="personName" placeholder="张志平">
                            </div>
                        </div>
                        <!--<div class="weui_cell l0 weui_cell_select">-->
                            <!--<div class="weui_cell_hd"><label class="weui_label">职称 :</label></div>-->
                            <!--<div class="weui_cell_bd weui_cell_primary">-->
                                <!--<select class="weui_select" name="select1">-->
                                    <!--<option selected="" value="副教授">副教授</option>-->
                                    <!--<option value="教授">教授</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="weui_cell l0">
                            <div class="weui_cell_hd"><label class="weui_label">出生年月 :</label></div>
                            <div class="weui_cell_bd weui_cell_primary date">
                                <input class="weui_input" type="date" value="2014-04-30">
                            </div>
                        </div>
                        <div class="weui_cell l0">
                            <div class="weui_cell_hd"><label class="weui_label">手机号码 :</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" type="number" id="mobile" pattern="[0-9]*" placeholder="1689898989">
                            </div>
                        </div>
                        <div class="weui_cell l0">
                            <div class="weui_cell_hd"><label class="weui_label">地　　址 :</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" type="text" id="address"  placeholder="袁家岗中心城上城">
                            </div>
                        </div>
                    </div>
                    <!--<div class="foot">-->
                        <!--<input type="submit" class="bg3" value="提交" id="showTooltips"/>-->
                    <!--</div>-->
                    <div class="weui_btn_area btnStyle w100 fixed foot">
                        <a class="weui_btn weui_btn_primary bg3" id="showTooltips">
                            <button  type="submit">
                                提交
                            </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script src="../../assets/mobile/js/messageTip.js"></script>
    <script>
        $("#showTooltips").click(function(){
            var reg = /^0?(13[0-9]|15[012356789]|18[0236789]|14[57])[0-9]{8}$/;
            if($.trim($("#personName").val()) == '') {
                showErrMsg('姓名不能为空');
                return false;
            }
            else if($.trim($("#mobile").val()) == ''){
                showErrMsg('手机号不能为空');
            }
            else if($("#mobile").get(0)&&!reg.test($("#mobile").val())){
                showErrMsg('手机号格式不正确');
            }
            else if($.trim($("#address").val()) == ''){
                showErrMsg('地址不能为空');
            }
            else{
                showLoading("数据提交中","提交成功");
            }
            return true;
        });
    </script>
</body>
</html>