<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>患者信息</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container">
        <div class="page">
            <div class="bd">
                <div class="person-head clearfix">
                    <div class="tableCell personImg">
                        <img src="../../assets/mobile/images/personImg.png" alt="portrait"/>
                    </div>
                    <div class="tableCell personInfor">
                        <p class="name">李建国</p>

                        <p class="year">56岁</p>

                        <p class="doctorName mb0">主治医生 :<a href="doctorIndex.html" class="b0">张雅平</a>
                        </p>
                    </div>
                    <div class="tableCell btnDiv">
                        <a href="myRecord.html" class="btnModify">
                            <i class="fa fa-pencil"></i>
                            编辑资料
                        </a>
                    </div>
                </div>
                <div class="weui_cells mt0 weui_cells_access">
                    <a class="weui_cell l0" href="prescriptionRecord.html">
                        <div class="weui_cell_hd">
                            <img src="../../assets/mobile/images/personIcon1.png" class="personIcon" style="width:20px;margin-right:5px;display:block">
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>处方记录</p>
                        </div>
                        <div class="weui_cell_ft">
                            <span class="not">(尚未上传)</span>
                            <span class="hide">共3份处方单</span>
                        </div>
                    </a>
                    <a class="weui_cell l0" href="medicalRecord.html">
                        <div class="weui_cell_hd">
                            <img src="../../assets/mobile/images/personIcon2.png" class="personIcon" style="width:20px;margin-right:5px;display:block">
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>病历档案</p>
                        </div>
                        <div class="weui_cell_ft">
                            <span class="not hide">(尚未上传)</span>
                            <span>共3份病历单</span>
                        </div>
                    </a>
                    <a class="weui_cell l0" href="myDoctor.html">
                        <div class="weui_cell_hd">
                            <img src="../../assets/mobile/images/personIcon3.png" class="personIcon" style="width:20px;margin-right:5px;display:block">
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>我的名医</p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                    <a class="weui_cell l0" href="myConsultingList.html">
                        <div class="weui_cell_hd">
                            <img src="../../assets/mobile/images/personIcon4.png" class="personIcon" style="width:20px;margin-right:5px;display:block">
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>咨询记录</p>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>