<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>上传处方</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <style>
        .weui_uploader_file img{width: 100%;}
    </style>
</head>
<body>
    <div class="container">
        <div class="page absolute bgfff">
            <div class="bd">
                <form action="#">
                    <div class="weui_cells bb0 mt0 weui_cells_form">
                        <div class="upload">
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <div class="weui_uploader">
                                        <!--<div class="weui_uploader_hd weui_cell">-->
                                        <!--<div class="weui_cell_bd weui_cell_primary">图片上传</div>-->
                                        <!--<div class="weui_cell_ft">0/2</div>-->
                                        <!--</div>-->
                                        <div class="weui_uploader_bd">
                                            <ul class="weui_uploader_files">
                                                <li class="weui_uploader_file">
                                                    <img src="http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/" alt=""/>
                                                </li>
                                                <li class="weui_uploader_file weui_uploader_status" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/)">
                                                    <div class="weui_uploader_status_content">
                                                        <i class="weui_icon_warn"></i>
                                                    </div>
                                                </li>
                                                <li class="weui_uploader_file weui_uploader_status" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/)">
                                                    <div class="weui_uploader_status_content">50%</div>
                                                </li>
                                            </ul>
                                            <div class="weui_uploader_input_wrp">
                                                <input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block">
                                <span class="fs16">上传图片资料</span><br/>
                                <span class="fs14">最多可上传1张图片</span>
                            </span>
                        </div>
                        <div class="weui_cell pd0 bt0">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p style="padding: 10px 15px 0;font-size: 16px;">病历描述 : </p>
                                <textarea name="" id="caseDetails" class="weui_textarea pd10 pd15" placeholder="请输入病历描述..." cols="30" rows="6"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="foot">
                        <input type="submit" class="bg3" value="提交"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>