<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>上传处方</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>

</head>
<body>
    <div class="container">
        <div class="page absolute bgfff">
            <div class="bd">
                <form action="#">
                    <input type="hidden" id="uploadfile" name="images" value="">
                    <div class="weui_cells bb0 mt0 weui_cells_form">
                        <div class="upload">
                            <div class="weui_cell">
                                <div class="weui_cell_bd weui_cell_primary">
                                    <div class="weui_uploader">
                                        <!--<div class="weui_uploader_hd weui_cell">-->
                                        <!--<div class="weui_cell_bd weui_cell_primary">图片上传</div>-->
                                        <!--<div class="weui_cell_ft">0/2</div>-->
                                        <!--</div>-->
                                        <div class="weui_uploader_bd">
                                            <ul class="weui_uploader_files clearfix">
                                                <li class="weui_uploader_file">
                                                    <img src="http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/" alt=""/>
                                                </li>
                                                <li class="weui_uploader_file weui_uploader_status" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/)">
                                                    <div class="weui_uploader_status_content">
                                                        <i class="weui_icon_warn"></i>
                                                    </div>
                                                </li>
                                                <li class="weui_uploader_file weui_uploader_status" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/)">
                                                    <div class="weui_uploader_status_content">50%</div>
                                                </li>
                                            </ul>
                                            <div class="weui_uploader_input_wrp block" id="chooseImage">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block">
                                <span class="fs16">上传图片资料</span><br/>
                                <span class="fs14">最多可上传1张图片</span>
                            </span>
                        </div>
                        <div class="weui_cell pd0 bt0">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p style="padding: 10px 15px 0;font-size: 16px;">病历描述 : </p>
                                <textarea name="" id="caseDetails" class="weui_textarea pd10 pd15" placeholder="请输入病历描述..." cols="30" rows="6"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="foot">
                        <input type="submit" class="bg3" value="提交"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script type="text/javascript">

        $(function(){
            $.getJSON("/weixin/helper/jssdk/sign.do",{wechatId:"gh_fb964f127af7", url:location.href.split("#")[0]},function(data){
                wx.config({
                    debug: false,
                    appId: "wx9f05f2bbcfd90ddc",
                    timestamp: "1466672466",
                    nonceStr: "02e5ced1-e6ef-4dd9-b735-503178af1a63",
                    signature: "4a5df1cd820380ee9266818a5e97d5f6a25276a7",
                    jsApiList: [
                        'chooseImage',
                        'uploadImage'
                    ]
                });
            })
        });

        var serverId;
        var localIds;

        var images = {
            localId: [],
            serverId: []
        };

        wx.ready(function () {
            document.querySelector('#chooseImage').onclick = function () {
                wx.chooseImage({
                    count: 1, // 默认9
                    sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                    success: function (res) {
                        images.localId = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                        //alert("已选择" + res.localIds.length + "张图片");
                        try{
                            wx.uploadImage({
                                localId: images.localId[0], // 需要上传的图片的本地ID，由chooseImage接口获得
                                isShowProgressTips: 1, // 默认为1，显示进度提示
                                success: function (res) {
                                    serverId = res.serverId; // 返回图片的服务器端ID
                                    $("#uploadfile").val(serverId);
                                    $(".weui_uploader_files").html('<li class="weui_uploader_file"><img src="'+images.localId[0]+'"/></li>');

                                },
                                fail: function (res) {
                                    alert(JSON.stringify(res));
                                }
                            });
                        }catch(e){
                            alert(e);
                        }
                    }
                });
            }
        });

    </script>
</body>
</html>