@charset "utf-8";
body{min-width: 1170px;background: #f5f5f7;}

#focus,.content,.center,#focus ul li,.page_content{width: 1170px;}
.center{position: absolute;left: 50%;margin-left: -585px;}
.layout{margin-top: 50px;}
.zhong{position:relative;top: 40px;}
#focus ul li img{width: 1170px;height: 415px;}
.hotPic .JQ-slide .wrap{width:1010px;}
.hotPic .JQ-slide{width:1100px;}
.hotPic .imgList li{margin:0 55px;}
.solution_content .first{width: 44.2%}
.customer_service_case{width: 1170px;}
#bei_introduce_imgfor{left: 66px;}
.dynamic_div{width: 47%;padding: 30px 5px;}
.dynamic_div>.dynamic_div_div{padding-right: 20px;margin-right: 20px;position: relative;left: 40px;}
.fcc_ul{margin: 0 445px;}
.fcc_ul1{margin: 5px 232px;}
.contact_us,.page_content_right{width: 970px;}
.about_us,.company_profile,.estate{width: 960px;float: right;padding-right: 10px;}
.about_us_div_content .block{border-right: none;}
.talents,.team{width: 910px;}
.employee{left: 15px;}
.enterprise{margin-left: 310px;}
.company_profile_div_head .block{left: 410px;}
.course_ul{left: 140px;}
.team_content{left: 80px;}
.team_content li{width: 41%;}
.footer{float: left;}
.climb_img{margin: 0 100px;}
.contact_us_content .left{width: 440px;}
.contact_us_content .right{width: 425px;}
.introdution_project_ul li{margin-right: 113px;}
.page_content_right_footer{padding-bottom: 20px;}






