@charset "utf-8";
body,html{margin:0;padding:0;font-family:"Microsoft YaHei","微软雅黑";height:100%;}
p{margin: 0;padding: 0;}
ul,li,img{margin:0;padding:0;list-style:none;border:none; vertical-align:middle;}
a{color:#000;text-decoration:none;}
a:hover{cursor: pointer;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;}
html[xmlns] .clearfix {display: block;}



/*header*/
.wrapper{width: 100%;background: #f5f5f7;position: relative;height: 100%;min-height: 800px;}
.header{width: 100%;height: 50px;background: rgba(0,0,0,.5);position: relative;}
.header .fl,.header .fr{height: 50px;}
.header .fl .login{width: 130px;}
.header .fl li,.header .fr li{float: left;height: 50px;line-height: 50px;margin-right: 5.5%;}
.header .fl li a,.header .fr li a{color: #fff;display: inline-block;}
.header .fr li {margin-right: 4%;}
.header .fr li a{padding: 0 15px;background: #0289ff;height: 30px;line-height: 30px;border-radius: 5px;color: #fff;text-decoration: none;}
.header .fl .last{margin-right: 0;}
.header .fr{float: right;}
.header .fr .last a{background: #fff;color: #333;}
.header .fr .first{position: absolute;right: 65px;}
.header .fr .last{position: absolute;right: 0;}


/*registration_form1 of content*/
.content{width: 100%;}
.row>.title{font-size: 24px;text-align: center;margin-top: 20px;}
.row>.col-lg-12.title{font-size: 24px;text-align: center;margin-top: 10px;}
.row>.col-lg-12.title.last{margin: 0 0 20px 0;}
.recommend{margin-top: 30px;text-align: center;}
.recommend .height1px{background: #cdcdcd;height: 1px;width: 100%;}
.recommend .defalut{width: 30%;margin: 0 auto;border-radius: 10px;border: 1px solid #dadadb;margin-top: -13px;background: #fff;height: 30px;line-height: 27px;}
.content_main{margin: 20px auto 0;width: 100%;}
.content_main>li{border: 1px solid #dcdbdc;background: #fff;text-align: center;position: relative;color: #888;margin-bottom: 20px;}
.content_main>li .icon{position: absolute;left: 5%;top: -10px;width: 50px;}
.content_main .first{position: relative;left: -15px;}
.content_main .last{position: relative;left: 15px;}
.content_main>li .btn{display: inline-block;width: 50%;height: 30px;line-height: 15px;color: #fff;margin: 20px 0;}
.content_main>li .btn-insert{background: #d95450;}
.content_main>li .btn-clear{background: #5cc0de;}
.content_main>li .btn-taste{background: #9cd14e;}
.content_main>li .title{font-size: 20px;color: #333;margin: 10px 0 20px 0;}
.content_main .col-lg-4{padding: 0;}
.content_main li .suizou_img{margin-top: 18px;}
.glyphicon-triangle-top{color: #e5e8ea;position: relative;top: 9px;z-index: 5;}
.step{background: #e5e8ea;padding-top: 10px;width: 100%;}
.step li{display: inline-block;}
.step li .glyphicon-menu-right{position: relative;top: -27px;left: 65px;}
.registration_form{width: 100%;margin-top: 10px;margin-left: -15px;}
.registration_form li{padding: 0;}
.registration_form li .caret{width: 0;height: 0;border-top: 30px solid transparent;border-right: 30px solid transparent;border-left: 30px solid transparent;border-bottom: 30px solid transparent;color: #fff;}
.registration_form li .first_triangle{ border-left: 30px solid #3caee2;}
.registration_form li .second_triangle{ border-left: 30px solid #9cd14e;}
.registration_form li .number{font-size: 16px;position: relative;left: -27px;z-index: 10;top: -10px;}
.registration_form li .first{position: relative;top: -15px;left: -27px;}
.registration_form li .last{position: relative;top: -25px;left: 40px;}
.registration_form li a{color:#3bade2 }


/*index of content*/
.superiority{width: 93%;margin: 0 3.5% 0;}
.superiority li{border: 1px solid #c1c1c1;padding: 10px 20px;float: left;margin:0 4.1%;position: relative;text-align: center;margin-bottom: 20px;}
.superiority .title{position: absolute;top: -10px;left:10px;display: inline-block;width: 30px;height: 20px;background: #eeeeee}
.myCarousel,.myCarousel1,.product{width: 80%;position: relative;left: 50%;margin-left: -40%;margin-top: 20px;}
.myCarousel{background: url("../images/myCarousel_bg.jpg")no-repeat center center;background-size: cover;position: relative;padding-bottom: 1.30%;margin-bottom: 1.01%;}
.carousel-control {position: absolute;top: 45%;left: 0;width: 40px;height: 40px;margin-top: -20px;font-size: 60px;font-weight: 100;line-height: 22px;color: #FFF;text-align: center;background: #222 none repeat scroll 0 0;border: 3px solid #FFF;border-radius: 23px;opacity: 0.5;}
.myCarousel1 img{width: 100%;}

.myCarousel .item .img{margin: 12.5% 0;width: 24%;position: relative;left: 8%;display: none;}
.myCarousel .item .describe{position: absolute;top: -20%;left: 34%;color: #fff;width: 60%;}
.myCarousel .item .describe p{font-size: 18px;color: #ffd478;margin-top: 4%;}
.item ul.product ul{width: 100%;}
.item ul li,.product ul li{float: left;margin-right: 1.33%;margin-bottom:1.33%;width: 24%;position: relative;overflow: hidden;}
.item ul .last,.product ul .last{margin-right: 0;}

.width100{width: 100%;}
.title_box{width: 100%;height: 100%;background: rgba(0,0,0,.5);position: absolute;top: 0;left: 0;text-align: center;color: #fff;font-size: 16px;}
.title_box span{position: relative;top: 45%;}
.product ul li .plus{width: 20px;height: 20px;background: rgba(0,0,0,.8);border-radius: 20px;line-height: 13px;text-align: center;color: #2691a7;position: absolute;top: 50%;margin-left: -10px;left: 50%;margin-top: -10px;font-size: 26px;}


/*.place{width: 100%;margin: 0 auto;position: relative;left: 50%;margin-left: -30%;}*/
/*.place li{float: left;margin-right: 10px;}*/
/*.place .one{}*/
/*.place .two{}*/
/*.place .three{}*/
/*.place .four{}*/
/*.place .five{}*/
.activity{margin: 30px 0;}
.activity .height1px{width: 100%;height: 1px;background: #b3b3b3;}
.activity p{text-align: center;font-size: 20px;width: 80px;height: 20px;background: #f5f5f7;margin: 0 auto;position: relative;top: -15px;color: #3a95cf;}

.myCarousel .close{position: absolute;top: 5px;right: 10px;width: 40px;height: 40px;text-align: center;line-height: 40px;background: #aaa;border-radius: 40px;color: #fff;}
.item .title{font-size: 20px;color: #000;margin: 10px 0 15px 0;}



.page_footer{padding: 2% 0;background: #eeeeee;}
.page_footer ul{width: 70%;position: relative;left: 50%;margin-left: -35%;}
.page_footer ul li{margin-bottom: 20px;}
.page_footer ul li span{display: inline-block;width: 100%;text-align: center;}
.page_footer ul li .title,.page_footer ul li a{display: inline-block;width: 100%;text-align: center;}
.page_footer ul li .title{font-size: 16px;line-height: 35px;font-weight: bold;color: #333;}





/*register of content*/
.form{width: 538px;position: absolute;left: 50%;top:50%;background: #fff;border-radius: 5px;margin: -200px -269px;padding: 50px 40px;}
.forget_password{text-align: right;line-height: 27px;color: #5ab2da;}
.forget_password a{color: #5ab2da;}
.login_type p{text-align: center;margin: 20px 0 24px;}
.login_type_img{margin: 0 160px;}
.form-horizontal .control-label {text-align: left;}
.immediately_log{background: #f68163;color: #fff;}
.btn:hover, .btn:focus, .btn.focus {color: #fff;}
.nav-pills{border-bottom: 1px solid #acb2b6;margin-bottom: 20px;}
.nav-pills>li.active>a{border: none;border-bottom: 2px solid #2c9ee9;background: transparent !important;color: #2c9ee9;border-radius: 0;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {color: #2c9ee9;background: transparent !important;}






/*product_introduction of content*/
.center {left: 50%;margin-left: -660px;position: relative;width: 1320px;}
.page_content{margin-top: 25px;width: 80%;position: relative;left: 50%;margin-left: -40%;}
.page_content_left{float: left;display: block;}
.page_content_left .wrap{margin-bottom: 13px;}
.wrap>div{width: 185px;height: 60px;line-height: 60px;text-align: center;background: #fff;position: relative;}
.wrap>div a{color: #333;background: #fff;border-top: 2px solid transparent;display: inline-block;width: 100%;height: 100%;position: relative;border: 1px solid #e7e7e7;}
.wrap a:hover,.wrap a:focus{text-decoration: none !important;}
.wrap>.active a{background: #d5d5d5;border-top: 2px solid #32b4f5;}
.page_content .menu {background: #fff;}
.page_content .menu li{border: 1px solid #e7e7e7;border-bottom: none;width: 185px;height: 49px;line-height: 49px;text-align: center;font-size: 14px;}
.page_content .menu .active a{background: #d5d5d5;}
.wrap>div .glyphicon-triangle-right{position: absolute;right: -21px;top: 17px;font-size: 30px;color:#d5d5d5;display: none}
.wrap>.active .glyphicon-triangle-right{display: inline-block;}
.wrap>div .glyphicon-menu-right{position: relative;left: 75px;top: -58px;font-size: 20px;color:#888;}
.page_content .menu li .fa-caret-right{position: relative;left: 96px;top: -48px;font-size: 20px;color:#d5d5d5;}
.page_content .menu li a{display: inline-block;width: 100%;height: 100%;color: #444;border-top: 2px solid transparent;}
.page_content .menu .last{border-bottom: 1px solid #e7e7e7;}





.page_content_right{float: right;}
.page_content_right_head .background{z-index: 10;height: 221px;background: #31b3f4;background-size: 100% 99%;color: #fff;overflow: hidden;}
.bg_content{width: 100%;position: relative;
    left: 50%;margin-left: -40%;top: 40px;}
.background img{float: left;margin-right: 10px;}
.background span{display: inline-block;width: 200px;height: 30px;}
.background .definition{position: relative;top: 15px;font-size: 16px;}
.background .introduction{font-size: 14px;position: relative;top: 10px;}
.background .btn{width: 100px;height: 30px;text-align: center;background: #ff9702;border-radius: 2px;color: #fff;position: relative;top: 30px;line-height: 10px;}
.page_content_right_content,.page_content_right_footer>.first{padding: 10px 20px 5px 20px;background: #fff;border: 1px solid #dbdbdb;}
.application{width: 100%;margin-bottom: 10px;position: relative;}

.common_head{border-bottom: 1px dashed #dbdbdb;margin-bottom: 10px;font-size: 16px;}
.application p{font-size: 14px;line-height: 20px;color: #555;}
.page_content_right_footer>.first{margin-top: 10px;position: relative;z-index: 10;padding-bottom: 30px;}
.page_content_right_footer>.first ul{width: 99%;position: relative;left: 50%;margin-left: -49.5%;
    text-align: center;}
.page_content_right_footer>.first ul li img{width: 50%;}
.page_content_right_footer>.last{width: 100%;margin-top: 10px;}
.page_content_right_footer>.last>li{float: left;width: 45.5%;background: #fff;padding: 8px 3% 50px;border: 1px solid #dbdbdb;}
.page_content_right_footer>.last>li ul li{list-style: disc;font-size: 14px;}
.page_content_right_footer>.last>li ul li a{color: #555;}
.page_content_right_footer>.last .last{float: right;}
.application_content{margin: 10px 0;}
.se1{background: #41bff4;}
.se2{background: #ffcc02;}
.se3{background: #9ecd57;}
.application_content li{width: 60px;height: 60px;border-radius: 60px;float: left;margin-right: 143px;}
.application_content .last{margin-right: 0;}
.application_content li a{display: inline-block;width: 100%;height: 100%;line-height: 60px;text-align: center;color: #fff;font-size: 20px;}
.application_content li .block{width: 100%;font-size: 14px;text-align: center; position: relative;top: 10px;}






/*specific_details of content*/
.specific_information{width: 80%;position: relative;left: 50%;margin-left: -40%;height: 100px;margin-top: 25px;}
.information_head{height: 40px;line-height: 40px;border-bottom: 1px solid #bdbdbe;}
.information_head .w2px{height: 25px;width: 2px;background: #2f8fcc;display: inline-block;position: relative;top: 4px;margin-right: 10px;}

.card{width: 32%;}
.information_content img{margin: 20px 0;}
.information_content span{line-height: 30px;}
.information_content .article{border-top: 1px solid #bdbdbe;margin-top: 40px;}
.information_content .article li{padding: 20px 0;}
.information_content .article li a{color: #2591ff;}
.information_content .article li a:hover{text-decoration: underline;}




/**/
.recruitment{}
.recruitment_head{background: #f5f5f7;text-align: center;padding-bottom: 50px;}
.recruitment_head span{line-height: 25px;}
.recruitment_content{}

.recruitment_content .menu{height: 50px;background: #f5f5f7;text-align: center;}
.recruitment_content .menu ul{width: 44%;position: relative;left: 50%;margin-left: -22%;height: 50px;}
.recruitment_content .menu ul li{height: 50px;line-height: 50px;}
.recruitment_content .menu ul li a{display: inline-block;width: 100%;height: 50px;line-height: 50px;border: 1px solid #e0e0e2;border-bottom: transparent;}
.recruitment_content .menu ul .active a{color: #fff;background: #3caee2;}
.recruitment_content .menu ul .active a:hover{text-decoration: none;}
.recruitment_pay{width: 50%;position: relative;left: 50%;margin-left: -25%;padding: 15px 0;background: red;}


.recruitment_pay .pay li div {display: inline-block;border: 1px solid #e0e0e2;width: 100%;padding-right: 10px;}
.recruitment_pay .pay li div img{float: left;margin: 10px;}
.recruitment_pay .station{padding: 0;}
.recruitment_pay .station li .station_name {border: 1px solid #e0e0e2;width: 100%;text-align: center;padding: 6px 0;}
/*footer*/
.footer{width: 100%;background: #323232;padding: 10px 0;position: absolute;bottom: 0;}
{height: 50px;font-size: 14px;width: 100%;}
.footer .fl{height: 50px;}
.footer .fl li{height: 50px;line-height: 50px;width: 70px;float: left;text-align: center;}
.footer .fl li a{color: #fff;}
.footer .fl li a:hover{text-decoration: underline;}
.footer .fr{height: 50px;line-height: 50px;color: #fff;text-align: right;}



@media screen and (max-width: 1350px) {
    .page_content_left .wrap{float: left;z-index: 100;margin-left: 15px;}
    .page_content_right{width: 100%;}
}

/*media*/
@media screen and (max-width: 1200px) {
    .recommend .defalut{width: 50%;}
    .footer_content .fr{text-align: center;}
    .footer_content .fl{height: 50px;width: 350px;margin: 0 auto;}
    .superiority{width:80%;position: relative;left: 50%;margin-left: -40%;}
    .step li .glyphicon-menu-right{left: 55px;}
    .page_content_right_footer>.first ul li img{width: 80%;}
}

@media screen and (max-width: 1130px) {
    .superiority{width:50%;position: relative;left: 50%;margin-left: -15%;}
}

@media screen and (max-width: 992px) {
    .header .fl .first{display: none;}
    .recommend .defalut{width: 50%;}
    .superiority{width:50%;position: relative;left: 50%;margin-left: -20%;}
    .step li .glyphicon-menu-right{left: 40px;top: -45px;}
    .title_box span{font-size: 14px;top: 35%;}
    .page_content_right_footer>.last>li{padding: 8px 5% 50px;}


    .recruitment_content .menu{float: left;background: transparent;margin-top: 20px;}
    .recruitment_content .menu ul li a{width: 100px;height: 50px;}
    .recruitment_content .menu ul .last a{border-bottom: 1px solid #e0e0e2;}
    .recruitment_pay{margin-left: -15%;margin-top: 20px;}
}

@media screen and (max-width: 768px) {
    .nav-justified > li {display: table-cell;width: 1%;margin-bottom: 0;}
    .nav-justified > li a{margin-bottom: 0;}
}

@media screen and (max-width: 640px) {
   .recommend .defalut{width: 80%;}
}

@media screen and (max-width: 391px) {
    .recommend .defalut{margin-top: -20px;}
}