@charset "utf-8";
body,html{font-family: Microsoft YaHei,Arial, Helvetica, sans-serif;-webkit-font-smoothing: antialiased;}
body,p,html{margin: 0;padding: 0;}
ul,li,img{margin:0;padding:0;list-style:none;border:none; vertical-align:middle;}
a{color:#000;text-decoration:none;}
.cc-ul li,.dc-head li,a,button,#left_but,#right_but,.rental_mode,label,.btn-screen,.btn-clear,.btn-order,.level li,.train-menu li,.tt-ul li,.technology-type li,.ac-mune li,.fa-remove,.js-active li .fa{cursor: pointer;}
a::selection,button::selection,.sc-menu li::selection{background:transparent;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;*display: inline;*zoom: 1;}
textarea,select,input,button{outline: none;border: none;font-family: "微软雅黑";}
.hide{display: none;}
.right{float: right;}
.left{float: left;}
a:link{text-decoration: none;}
.wrapper{width: 100%;position: relative;min-width: 1024px;}
html.overflow{overflow-y:hidden;}
.wrapper.style{position: absolute;top: 0;left: 0;background: #f7f7f7;}

/*head*/
.head{width: 100%;position: absolute;top: 0;z-index: 100;
    -webkit-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;}
.head.style{background: #83dbfd;}
.head.style:hover{background: #83dbfd;}
.head.hover {
    background-color: #fff;
    -webkit-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;}
.head-main{width: 90%;margin: 0 5%;}
.logoDiv{padding: 0 0;}
.logoDiv img{position: relative;top: 5px;}
.dm-menu{padding-left: 0px;padding-top: 23px;}
.dm-menu li{float: left;margin-left: 150px;}
.dm-menu li a{color: #4f4949;}
.dm-menu li.active a{color: #f16f05;}
.dm-shopping{padding-top: 25px;width: 95px;height: 20px;}
.dm-shopping a{color: #4f4949;}

/*index-content*/
.dm-video{width: 1024px;margin: 40px auto;}
.dm-list{width: 100%;}
.dm-list li{float: left;width: 50%;}
.dm-list li a{display: inline-block;width: 100%;position: relative;}
.dm-list li img{width: 100%;}
/*video-mask*/
.video-mask,.video-mask-bg{position: fixed;left: 0;right: 0;bottom: 0;top: 0;z-index: 10000;min-height: 650px;min-width: 1024px;}
.video-mask-bg{background: #000;opacity: 0.6;filter:alpha(opacity=60);}
.video-div{width: 960px;height: 600px;position: absolute;left: 50%;top: 50%;margin-left: -480px;margin-top: -300px;}
.video-div .close{opacity: .6;filter:alpha(opacity=60);position: absolute;right: -15px;top: -15px;width: 30px;height: 30px;line-height: 30px;text-align: center;font-size: 16px;color: #ededed;border-radius: 100%;border: 1px solid #ededed;z-index: 10;}
.video-div .close:hover{opacity: 1;filter:alpha(opacity=100);}
.play-on {position: absolute;width: 80px;height: 80px;left: 50%;top: 50%;margin-top: -40px;margin-left: -40px;background: url(../images/play.png);background-size: 80px 80px;}



/*brand-content*/
.content.pt69{padding-top: 69px;}
.brandStory{position: relative;min-height: 601px;width: 914px;margin: 0 auto 50px;top: 20px;}
#book-1{border-color: #87CEFA;border-radius: 4px;}
.bb-custom-wrapper{position: absolute;width: 914px;height: 601px;background-size: 100%;}
.page-layout-2:first-child,.page-layout-2{background: transparent;}
.bb-custom-wrapper > nav a{background: #87CEFA;color: #fff;opacity: 1;}
.bb-nav-prev{left: -60px;}
.bb-nav-next{right: -60px;}
.bb-item{background-color: transparent;}
.bb-custom-wrapper > nav a::before, .bb-custom-wrapper > nav a::after{background: #fff;}
.bb-page,.bb-custom-wrapper {background-color: transparent;}
.bb-custom-side .title{font-size: 20px;color: #7abc2b;text-align: center;padding: 5% 10%;}
.bb-custom-side .page-content{padding: 30% 2%;}
.bb-custom-side .page-content p{font-size: 14px;text-indent: 28px;color: #333;line-height: 20px;margin: 5px 0;font-family: "微软雅黑";font-style: normal;}
.page-layout-1 p,.page-layout-2 p{text-align: left;position: static;width: auto;max-width: 100%;left: 0;top: 0; -webkit-transform: translateY(0%) translateX(0%); }
.page-layout-1 p .largeTitle{font-size: 20px;}
.page-layout-2 div{position: static;padding: 0;width: auto;}
.page-layout-2:first-child {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
}
.page-layout-2:first-child,.page-layout-1:first-child{
    background: url(../images/shuBg1.jpg) no-repeat top left;
    background-size: cover;
}

.page-layout-2:last-child,.page-layout-1:last-child {
    background: url(../images/shuBg2.jpg) no-repeat top left;
    background-size: cover;
}

/*health-content*/
.health{width: 964px;padding:25px 30px;background: #fff;margin: 0 auto;}
.health-head{width: 100%;padding-bottom: 10px;border-bottom: 1px solid #83dbfd;margin-bottom: 10px;}
.health-head img{margin-right: 20px;}
.health-head span{display: inline-block;height: 44px;line-height: 44px;color: #83dbfd;}
.healthIcon{}
.health-content{}
.health-content .w100{width: 100%;}
.health-content .health-content-head{position: relative;width: 98%;padding: 5px 1%;background: #83dbfd;color: #fff;font-size: 14px;}
.color-block{position: absolute;top: 5px;bottom: 5px;width: 3px;background: #ff8105;}
.health-content .health-content-head span{position: relative;left: 15px;font-size: 16px;}
.health-content .health-content-content{margin: 5px 0 20px 0;}
.health-content .health-content-content p{font-size: 14px;color: #666;line-height: 20px;text-indent: 28px;}
.health-content .health-content-content .title{font-size: 16px;color: #333;text-indent: 0;margin-top: 10px;}
.health-content .w100{}
.health-content .w100{}
p.proty,p.phone{color: #ff8105;font-size: 14px;margin: 5px 0;}


/*contentUs-content*/
.contantUs{position: relative;left: 50%;margin: 15px 0 50px -512px;width: 1024px;}
.menu {float: left;background: #fff;}
.menu li{border: 1px solid #e7e7e7;border-bottom: none;width: 200px;height: 60px;line-height: 60px;text-align: center;}
.menu .active a{color: #fff;background: #ff869b;}
.menu li .fa{position: relative;left: 103px;top: -60px;font-size: 20px;color:#ff869b }
.menu li a{display: inline-block;width: 100%;height: 100%;color: #444;}
.menu .last{border-bottom:  1px solid #e7e7e7;}
.contantUsCon{float: right;width: 728px;padding: 26px 36px;background: #fff;}
.content.bg{background: #f4f4f4;}
.contantUsConHead{display: table;padding-bottom: 10px;border-bottom: 1px solid #85dbfd;width: 100%;}
.contantUsConHead .title,.contantUsConHead img{display: table-cell;vertical-align: middle;font-size: 14px;color: #666;margin-right: 10px;}
.contantUsConHead .title .companyName{font-size: 16px;color: #85dbfd;}
.contantUsConCon{padding-top: 10px;}
.contantUsConCon.style p{margin: 5px 0;font-size: 16px;color: #333;}
.contantUsConCon p{font-size: 14px;color: #999;margin: 20px 0;text-indent: 28px;}
.contantUsConCon .DM{float: right;}
.contantUsConCon .contantImg{width: 100%;}
.contantUsConCon.lh{line-height: 22px;color: #999;font-size: 14px;}
.contantUsConCon.lh .fs16{font-size: 16px;color: #81ae38;display: inline-block;margin-bottom: 5px;position: relative;left: -9px;}
.contantUsConCon.lh .bgColor{display: inline-block;width: 3px;height: 20px;background: #81ae38;position: relative;top: 5px;}
.produtionInfor{padding:0 10px;border: 1px solid #efefef;position: relative;top: 6px;}
.caretUpDiv{width: 25px;height: 13px;position: absolute;top: -13px;left: 174px;background: #fff;}
.produtionInfor .caretUp{position: relative;top: -5px;}

/*foot*/
.foot{width: 100%;background: #242424;}
.foot.bottom0{position: absolute;bottom: 0;z-index: 100;}
.footMain{width: 1024px;margin: 0 auto;}
.ourMenuDiv{width: 100%;border-bottom: 1px solid #444;text-align: center;height: 51px;}
.ourMenu{width: 80%;margin: 0 auto;height: 20px;overflow: hidden;padding: 25px 0;}
.ourMenu li{float: left;text-align: center;width: 33%;height: 20px;overflow: hidden;position: relative;top: -10px;}

.ourMenu li a{display: inline-block;height: 40px;line-height: 20px;transition:.5s all ease;
    -webkit-transition:.5s all ease;-moz-transition:.5s all ease;position: relative;top: 0;width: 99%;border-right: 1px solid #555;color:#aaa;font-size: 14px;}

.ourMenu li a p.first{color: #aaa;}
.ourMenu li a p.last{color: #fff;}
.ourMenu li a:hover{top: -20px;}
.ourMenu li.last a{border-right: none;}
.ourInfor{padding: 0 0 0 159px;}
.copyright{color: #676767;border-right: 1px solid #444;padding: 20px 40px 20px 0;}
.copyright p{padding-bottom: 10px;}
.copyright .large{font-size: 16px;}
.copyright .large span{font-size: 12px;}
.copyright .small{font-size: 14px;}
.ourImg{padding-left: 40px;}
.ourImg .title{font-size: 12px;color: #676767;margin: 15px 0;}
.iconMenu{}
.iconMenu li{font-size: 18px;float: left;border-radius: 100%;width: 45px;height: 45px;border: 1px solid #444;line-height: 45px;text-align: center;color: #676767;margin-right: 10px;}
.iconMenu li span{font-weight: bold;}
.iconMenu li .fa{font-size: 22px;}
.iconMenu li:hover{color: #efefef;background: rgba(255,255,255,0.5);}



.weixin {position: relative;z-index: 99;}
.weixin:hover .weixinB {display: inline-block;}
.weixinB {position: absolute;left: -165px;bottom: -10px; background: #fff;
    transition: .5s;padding: 8px;display: none;width: 130px;height: 130px;}
.weixinB span { position: absolute;width: 14px;height: 21px;background: url(../images/weixinIco.png) no-repeat center center;right: -14px;bottom: 10px;}
.copyright .weibo{color: #333;}
.weibo:hover i{-webkit-animation: toTopFromBottom .3s forwards;-moz-animation: toTopFromBottom .3s forwards;animation: toTopFromBottom .3s forwards}


/*media*/
@media screen and (max-width: 1024px) {


}
