<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>参与活动</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <style>
        .dong{top:478px;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="head">
        <div class="head-main">
            <div class="logo left"></div>
            <ul class="menu right clearfix">
                <li>
                    <a href="index.html">
                        <span class="icon icon1"></span>
                    </a>
                </li>
                <li>
                    <a href="personal-journal.html">
                        <span class="icon icon2"></span>
                    </a>
                </li>
                <li>
                    <a href="map-case.html">
                        <span class="icon icon3"></span>
                    </a>
                </li>
                <li>
                    <a href="company-introduction.html">
                        <span class="icon icon4"></span>
                    </a>
                </li>
                <li>
                    <a href="investment.html">
                        <span class="icon icon5"></span>
                    </a>
                </li>
                <li class="last">
                    <a href="activity.html">
                        <span class="icon icon6"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
        <div class="content">
            <div class="content-main clearfix">
                <div class="activity-left left">
                    <ul class="menu-left" id="menu-left">
                        <div class="details">
                            <img src="../../assets/frontend/images/portrait.jpg" alt="" class="head-portrait"/><br/>
                            <span class="name">陈洁</span>
                        </div>
                        <div class="dong" id="dong"></div>
                        <li>
                            <a href="#">
                            <span class="icon icon1">
                                <i class="fa fa-gear"></i>
                            </span>
                                <span>个人信息</span>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <span class="icon icon2">
                                <i class="fa fa-book"></i>
                            </span>
                                <span>我的项目</span>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <span class="icon icon3">
                                <i class="fa fa-cloud"></i>
                            </span>
                                <span>工作发布</span>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="magazine-published.html">
                            <span class="icon icon3">
                                <i class="fa fa-bars"></i>
                            </span>
                                <span>个人杂志</span>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="activity.html">
                                <span class="icon icon4">
                                    <i class="fa fa-gift"></i>
                                </span>
                                <span>参与活动</span>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <span class="icon icon5">
                                <i class="fa fa-link"></i>
                            </span>
                                <span>连接的人</span>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" style="border-bottom: none;">
                            <span class="icon icon7">
                                <i class="fa fa-sitemap"></i>
                            </span>
                                <span>关注的项目</span>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="activity-middle left">
                    <div class="comments">
                        <div class="c-head">发表内容</div><!--评论头部-->
                        <div class="c-content">
                            <textarea name="" id="" cols="30" rows="10" style="resize: none" placeholder="请输入要发送的内容"></textarea>
                        </div><!--评论内容-->
                        <div class="c-foot clearfix">
                            <img src="../../assets/frontend/images/comments.jpg" alt="" class="comments-img"/>
                            <button class="c-btn">发布</button>
                        </div><!--评论底部-->
                    </div>
                    <div class="application clearfix">
                        <img src="../../assets/frontend/images/application1.jpg" alt="" class="application-img"/>
                        <div class="a-content">
                            <p class="title">移动办公系统</p>
                            <div class="details">
                                <p>
                                    重庆易优弧有限公司-公司库阿发了一个企业办公系统,简化了工作流程,
                                    缩短了办公时间,大大的提高了办公效率,使用难度低,操作简便,是办公的好能手,缩短了办公时间,大大的提高了办公效率,使用难度低,操作简便,是办公的好能手
                                </p>
                            </div>
                            <hr/>
                            <p class="address">
                                <span>中国</span>
                                <span>重庆</span>
                            </p>
                            <p>2天前发布</p>
                            <p>
                                <span class="right">
                                    <img src="../../assets/frontend/images/praise.jpg" alt="赞" class="praise-img"/>
                                    <span class="num">30</span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="application clearfix">
                        <img src="../../assets/frontend/images/application2.jpg" alt="" class="application-img"/>
                        <div class="a-content">
                            <p class="title">随走为办公系统</p>
                            <div class="details">
                                <p>
                                    重庆易优弧有限公司-公司库阿发了一个企业办公系统,简化了工作流程,
                                    缩短了办公时间,大大的提高了办公效率,使用难度低,操作简便,是办公的好能手,缩短了办公时间,大大的提高了办公效率,使用难度低,操作简便,是办公的好能手
                                </p>
                            </div>
                            <hr/>
                            <p class="address">
                                <span>中国</span>
                                <span>重庆</span>
                            </p>
                            <p>2天前发布</p>
                            <p>
                                <span class="right">
                                    <img src="../../assets/frontend/images/praise.jpg" alt="" class="praise-img"/>
                                    <span class="num">30</span>
                                </span>
                            </p>
                        </div>

                    </div>
                    <div class="application clearfix">
                        <img src="../../assets/frontend/images/application1.jpg" alt="" class="application-img"/>
                        <div class="a-content">
                            <p class="title">移动办公系统</p>
                            <div class="details">
                                <p>
                                    重庆易优弧有限公司-公司库阿发了一个企业办公系统,简化了工作流程,
                                    缩短了办公时间,大大的提高了办公效率,使用难度低,操作简便,是办公的好能手,缩短了办公时间,大大的提高了办公效率,使用难度低,操作简便,是办公的好能手
                                </p>
                            </div>
                            <hr/>
                            <p class="address">
                                <span>中国</span>
                                <span>重庆</span>
                            </p>
                            <p>2天前发布</p>
                            <p>
                                <span class="right">
                                    <img src="../../assets/frontend/images/praise.jpg" alt="" class="praise-img"/>
                                    <span class="num">30</span>
                                </span>
                            </p>
                        </div>

                    </div>
                    <div class="application clearfix">
                        <img src="../../assets/frontend/images/application2.jpg" alt="" class="application-img"/>
                        <div class="a-content">
                            <p class="title">随走为办公系统</p>
                            <div class="details">
                                <p>
                                    重庆易优弧有限公司-公司库阿发了一个企业办公系统,简化了工作流程,
                                    缩短了办公时间,大大的提高了办公效率,使用难度低,操作简便,是办公的好能手,缩短了办公时间,大大的提高了办公效率,使用难度低,操作简便,是办公的好能手
                                </p>
                            </div>
                            <hr/>
                            <p class="address">
                                <span>中国</span>
                                <span>重庆</span>
                            </p>
                            <p>2天前发布</p>
                            <p>
                                <span class="right">
                                    <img src="../../assets/frontend/images/praise.jpg" alt="" class="praise-img"/>
                                    <span class="num">30</span>
                                </span>
                            </p>
                        </div>

                    </div>
                </div>
                <div class="activity-right left">
                    <div class="hot-case">
                        <p class="title">热门项目</p>
                        <ul class="ul-case">
                            <li>
                                <a href="#" class="active">
                                    <span class="circle"></span>
                                    2014-4-17重庆金融投资
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="circle"></span>
                                    2014-4-17重庆金融投资
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="circle"></span>
                                    2014-4-17重庆金融投资
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="circle"></span>
                                    2014-4-17重庆金融投资
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <span class="circle"></span>
                                    2014-4-17重庆金融投资
                                </a>
                            </li>
                        </ul>
                        <a href="#" class="more right">查看更多》</a>
                    </div>
                    <div class="announcement">
                        <p class="title">实时公告</p>
                        <ul class="ul-announcement">
                            <li>
                                <a href="#" class="active">
                                    <span class="circle"></span>
                                    2014-4-17重庆金融投资
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="circle"></span>
                                    2014-4-17重庆金融投资
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="circle"></span>
                                    2014-4-17重庆金融投资
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="circle"></span>
                                    2014-4-17重庆金融投资
                                </a>
                            </li>
                            <li class="last">
                                <a href="#">
                                    <span class="circle"></span>
                                    2014-4-17重庆金融投资
                                </a>
                            </li>
                        </ul>
                        <a href="#" class="more right">查看更多》</a>
                    </div>
                </div>
            </div>
        </div>
    <div class="foot clearfix">
        <div class="foot-main ">
            <ul class="clearfix f-menu">
                <li class="foot-list1">
                    <ul class="fl-ul">
                        <li>
                            <span class="f-logo"></span>
                        </li>
                        <li>
                            <a href="#">关于WITWORK</a>
                        </li>
                        <li>
                            <a href="#">伙伴合作</a>
                        </li>
                        <li>
                            <a href="#">人才招聘</a>
                        </li>
                        <li>
                            <a href="#">联系我们</a>
                        </li>
                    </ul>
                </li>
                <li class="foot-list2">
                    <ul class="fl-ul">
                        <li>
                            <a href="#" class="title">Studio Station个人工作站</a>
                        </li>
                        <li>
                            <a href="#">AMSTERDAM</a><a href="#">AUSTIN</a>
                        </li>
                        <li>
                            <a href="#">BSTON</a><a href="#">LONDON</a>
                        </li>
                        <li>
                            <a href="#">MILAN</a><a href="#">MUNICH</a>
                        </li>
                        <li>
                            <a href="#">NEW YORK</a><a href="#">SAN FRANCISCO</a>
                        </li>
                        <li>
                            <a href="#">SEATTLE</a><a href="#">SHANGHAI</a>
                        </li>
                        <li>
                            <a href="#">SINGAPQRE</a>
                        </li>
                    </ul>
                </li>
                <li class="foot-list3">
                    <ul class="fl-ul fl-ul3">
                        <li>
                            <a href="#" class="title">WitWork Sharing在线办公分享</a>
                        </li>
                        <li>
                            <a href="#">原品咖啡</a><a href="">林卡咖啡</a>
                            <a href="#">咖啡花</a><a href="#">逸美时光咖啡</a>
                        </li>
                        <li>
                            <a href="#">MTE</a><a href="#">知竹茶馆</a>
                        </li>
                        <li>
                            <a href="#">交大众创中心</a><a href="#" class="a-ibw">创投咖啡黄泥磅</a>
                        </li>
                        <li>
                            <a href="#">重大众创中心</a><a href="#" class="a-ibw">罗曼酒庄</a>
                        </li>
                        <li>
                            <a href="#">李众创</a><a href="#" class="a-ibw">正石拍摄</a>
                        </li>
                        <li>
                            <div class="weixin">
                                <i class="fa fa-weixin"></i>
                                <span class="weixinS"></span>
                                <div class="weixinB">
                                    <span></span>
                                    <img src="../../assets/frontend/images/weixin.png">
                                </div>
                            </div>
                            <a href="#" class="weibo"><i class="fa fa-weibo"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="copyright">
                <div class="copyright">
                    <span>©2014~2015　重庆智谷众创商业管理有限公司　渝ICP备15002338号-1</span>　
                    <span>版权所有</span>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/error/js/error.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script>
        $(function(){
            var menuLeft = document.getElementById("menu-left");
            var a = menuLeft.getElementsByTagName("a");
            var height = a[0].offsetHeight;
            var Dong = document.getElementById("dong");
            for(var i = 0;i< a.length;i++){
                a[i].index = i;
                a[i].onmouseover = function(){
                    var a = this.index;
                    move(Dong,{top:((height*a)+154)})
                };
                a[i].onmouseout = function(){
                    move(Dong,{top:478})
                }
            }
        });
    </script>
</html>