<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>预约信息</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <span class="left">
                <i class="fa fa-angle-left"></i>
            </span>
            预约信息
        </div>
        <div class="content bg-ecec">
            <div class="booking-form">
                <form action="#">
                    <div class="height-con">
                        <div class="form-group w100">
                            <div class="service-head bg-fff mt15">
                                <span class="dot"></span>
                                <span class="title">服务详情</span>
                            </div>
                            <div class="h10"></div>
                        </div>
                        <div class="form-group">
                            <p class="title">请选择服务时间</p>
                             <span class="span-wdate">
                                <input class="Wdate" placeholder="2015-5-5" type="text" id="d15" onFocus="WdatePicker({minDate:'%y-%M-{%d}',isShowClear:false,readOnly:true})"/>
                                <img class="Wdate-img" onclick="WdatePicker({minDate:'%y-%M-{%d}',el:'d15'})" src="../../assets/global/plugins/My97DatePicker/skin/datePicker.gif" width="16" height="22">
                            </span>
                            <select name="" class="select-time select-time1">
                                <option value="8:00">8:00</option>
                                <option value="9:00">9:00</option>
                                <option value="10:00">10:00</option>
                                <option value="11:00">11:00</option>
                                <option value="12:00">12:00</option>
                                <option value="13:00">13:00</option>
                                <option value="14:00">14:00</option>
                                <option value="15:00">15:00</option>
                                <option value="16:00">16:00</option>
                                <option value="17:00">17:00</option>
                                <option value="18:00">18:00</option>
                            </select>
                            到
                            <select name="" class="select-time select-time2">
                                <option value="9:00">9:00</option>
                                <option value="10:00">10:00</option>
                                <option value="11:00">11:00</option>
                                <option value="12:00">12:00</option>
                                <option value="13:00">13:00</option>
                                <option value="14:00">14:00</option>
                                <option value="15:00">15:00</option>
                                <option value="16:00">16:00</option>
                                <option value="17:00">17:00</option>
                                <option value="18:00">18:00</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <p class="title">请选择服务地址</p>
                            <select name="" class="select-address">
                                <option value="重庆市">重庆市</option>
                                <option value="重庆市">重庆市1</option>
                                <option value="重庆市">重庆市2</option>
                            </select>
                            <select name="" class="select-address">
                                <option value="渝中区">渝中区</option>
                                <option value="大渡口区">大渡口区</option>
                                <option value="南坪区">南坪区</option>
                            </select>
                            <select name="" class="select-address">
                                <option value="袁家岗">袁家岗</option>
                                <option value="袁家岗">袁家岗</option>
                                <option value="袁家岗">袁家岗</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <p class="title">请输入详细地址</p>
                            <textarea style="resize: none;" name="" cols="10" rows="3" class="textarea" placeholder="请输入详细地址"></textarea>
                        </div>
                        <div class="form-group">
                            <p class="title">请输入联系人</p>
                            <input type="text" class="input" placeholder="张三"/>
                        </div>
                        <div class="form-group">
                            <p class="title">请输入联系号码</p>
                            <input type="text" class="input" placeholder="13678478463"/>
                        </div>
                    </div>
                    <div class="form-group submit-div">
                        <input type="submit" class="input bg" value="预约"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="foot">
            <ul class="f-menu clearfix">
                <li>
                    <a href="index.html">
                                    <span>
                                        <i class="fa fa-home"></i>
                                    </span>
                        <span>首页</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="brand-service.html">
                                    <span>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                        <span>星级服务</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="person-center.html">
                                    <span>
                                        <i class="fa fa-user"></i>
                                    </span>
                        <span>个人中心</span>
                    </a>
                </li>
            </ul>
            <div class="copyright">
                <div class="copyright-head">
                    <img src="../../assets/mobile/images/index-logo.png" alt="" class="index-logo"/>
                    家服汇
                </div>
                <p>
                    重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-1
                </p>
            </div>
        </div>
    </div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
<script src="../../assets/mobile/js/btnHandle.js"></script>
<script>
        $(function(){
            /*下拉框时间控制*/
            var num1,str1,num;
            $(".form-group").delegate(".select-time1","change",function(){
                num1 = parseInt($(this).find("option:selected").text());
                num  = parseInt($(this).find("option:last").text())-num1;
                str1 = "";
                for(var i = 0;i<num;i++){
                    str1 += '<option value="">'+ ++num1 +':00</option>';
                }
                $(this).closest(".form-group").find(".select-time2").html(str1);
            })
        });
</script>
</html>