<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>保洁</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="wrapper">
    <div class="content bg-ecec">
        <div class="service-head">
            <span class="dot"></span>
            <img src="../../assets/mobile/images/order.png"/>
            <span class="title">我的订单 <i class="fa fa-angle-right"></i></span>
            <a href="#" class="right">查看更多订单 <i class="fa fa-angle-right"></i></a>
        </div>
        <ul class="order-menu bg-fff">
            <li class="clearfix">
                <img src="../../assets/mobile/images/order-img1.jpg" class="left"/>
                <div class="order-infor">
                    <p class="title">订单编号：241515321351</p>
                    <p>家居基础保洁</p>
                    <button class="btn-comment right">评论</button>
                </div>
            </li>
            <li class="clearfix">
                <img src="../../assets/mobile/images/order-img1.jpg" class="left"/>
                <div class="order-infor">
                    <p class="title">订单编号：241515321351</p>
                    <p>家居基础保洁</p>
                    <button class="btn-comment right">评论</button>
                </div>
            </li>
        </ul>
        <div class="service-head">
            <span class="dot"></span>
            <img src="../../assets/mobile/images/package.png"/>
            <span class="title">我的套餐 <i class="fa fa-angle-right"></i></span>
            <a href="#" class="right">查看全部套餐 <i class="fa fa-angle-right"></i></a>
        </div>
        <ul class="order-menu bg-fff">
            <li class="clearfix">
                <img src="../../assets/mobile/images/order-img1.jpg" class="left"/>
                <div class="order-infor">
                    <p class="title">订单编号：241515321351</p>
                    <p>家居基础保洁</p>
                    <button class="btn-comment right">预约</button>
                </div>
            </li>
            <li class="clearfix">
                <img src="../../assets/mobile/images/order-img1.jpg" class="left"/>
                <div class="order-infor">
                    <p class="title">订单编号：241515321351</p>
                    <p>家居基础保洁</p>
                    <button class="btn-comment right">预约</button>
                </div>
            </li>
        </ul>
        <div class="service-head bg-fff">
            <a href="#" class="top0">
                <span class="dot"></span>
                <img src="../../assets/mobile/images/address.png"/>
                <span class="title">地址管理 <i class="fa fa-angle-right"></i></span>
                <span class="right"><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
        <div class="service-head bg-fff">
            <a href="#" class="top0">
                <span class="dot"></span>
                <img src="../../assets/mobile/images/lock.png"/>
                <span class="title">修改密码 <i class="fa fa-angle-right"></i></span>
                <span class="right"><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>
    <div class="foot">
        <ul class="f-menu clearfix">
            <li>
                <a href="index.html">
                    <div class="bt"></div>
                            <span>
                                <i class="fa fa-home"></i>
                            </span><br/>
                    <span>首页</span>
                    <div class="br"></div>
                </a>
            </li>
            <li class="active">
                <a href="brand-service.html">
                    <div class="bt"></div>
                            <span>
                                <i class="fa fa-bars"></i>
                            </span><br/>
                    <span>品牌服务</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="my-community.html">
                    <div class="bt"></div>
                            <span>
                                <i class="fa fa-th-large"></i>
                            </span><br/>
                    <span>我的社区</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="person-center.html">
                    <div class="bt"></div>
                            <span>
                                <i class="fa fa-user"></i>
                            </span><br/>
                    <span>个人中心</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</html>