<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>居家保洁</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/swiper/dist/css/swiper.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css?v=33"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <span class="left">
                <i class="fa fa-angle-left"></i>
            </span>
            居家保洁
        </div>
        <div class="content heightauto">
            <div class="swiper-container swiper-container-horizontal pc-none">
                <div class="swiper-wrapper" id="swiper-wrapper" style="transition-duration: 0ms;">
                    <div class="swiper-slide">
                        <img src="../../assets/mobile/images/clean-slider1.jpg" class="img-responsive"/>
                        <div class="clean-mask">
                            我们的保洁服务人员将会最快速、最认真、最完善的完成您的任务
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/mobile/images/clean-slider2.jpg" class="img-responsive"/>
                        <div class="clean-mask">
                            我们的保洁服务人员将会最快速、最认真、最完善的完成您的任务
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/mobile/images/clean-slider3.jpg" class="img-responsive"/>
                        <div class="clean-mask">
                            我们的保洁服务人员将会最快速、最认真、最完善的完成您的任务
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/mobile/images/clean-slider1.jpg" class="img-responsive"/>
                        <div class="clean-mask">
                            我们的保洁服务人员将会最快速、最认真、最完善的完成您的任务
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <!--<div class="swiper-button-next"></div>-->
                <!--<div class="swiper-button-prev"></div>-->
            </div>
            <ul class="list-service bb0 height">
                <li>
                    <div class="head-title bb1 lh0">
                        <div class="service-head">
                            <span class="title">日常居家深度保洁</span>
                            <span class="small-title">钟点保洁/大扫除</span>
                            <i class="fa fa-angle-down right"></i><br/>
                        </div>
                    </div>
                    <div class="">
                        <ul class="order-menu pd0">
                            <li>
                                <div class="table-cell caret-ddd">
                                    钟点保洁
                                    <!--<img src="../../assets/mobile/images/clean-caret1.png" alt=""/>-->
                                </div>
                                <div class="table-cell second">
                                    <p class="title">钟点保洁</p>

                                    <p class="p-second">2小时起</p>

                                    <p class="money">￥ : 0元/小时</p>
                                </div>
                                <div class="table-cell">
                                    <a href="hourly-cleaning.html" class="btn-rightOrder">立即预订</a>
                                </div>
                            </li>
                            <li class="bb0">
                                <div class="table-cell caret-ddd">
                                    大扫除
                                </div>
                                <div class="table-cell second">
                                    <p class="title">大扫除</p>

                                    <p class="p-second">70平方米起</p>

                                    <p class="money">￥ : 0元/平方</p>
                                </div>
                                <div class="table-cell">
                                    <a href="Cleaning.html" class="btn-rightOrder">立即预订</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="head-title bb1 lh0">
                        <div class="service-head">
                            <span class="title">家庭单项保洁服务</span>
                            <span class="small-title">开荒清洁/地板保养/壁纸保养等</span>
                            <i class="fa fa-angle-right right"></i>
                        </div>
                    </div>
                    <div class="hide">
                        <ul class="order-menu pd0">
                            <li>
                                <div class="table-cell caret-ddd">
                                    开荒清洁
                                </div>
                                <div class="table-cell second">
                                    <p class="title">专业开荒-深度清洁</p>
                                    <p class="money">￥ : 8元/平方</p>
                                </div>
                                <div class="table-cell">
                                    <a href="individual-services.html" class="btn-rightOrder">立即预订</a>
                                </div>
                            </li>
                            <li>
                                <div class="table-cell caret-ddd">
                                    地板保养
                                </div>
                                <div class="table-cell second">
                                    <p class="title">地板保养-精油护理</p>

                                    <p class="money">￥ : 12元/平方</p>
                                </div>
                                <div class="table-cell">
                                    <a href="#" class="btn-rightOrder">立即预订</a>
                                </div>
                            </li>
                            <li>
                                <div class="table-cell caret-ddd">
                                    壁纸保养
                                </div>
                                <div class="table-cell second">
                                    <p class="title">定期保养-美观整洁</p>


                                    <p class="money">￥ : 20/元/年</p>
                                </div>
                                <div class="table-cell">
                                    <a href="#" class="btn-rightOrder">立即预订</a>
                                </div>
                            </li>
                            <li>
                                <div class="table-cell caret-ddd">
                                    地毯保养
                                </div>
                                <div class="table-cell second">
                                    <p class="title">深层清洁-专业护理</p>
                                    <p class="money">￥ : 200/元/次</p>
                                </div>
                                <div class="table-cell">
                                    <a href="#" class="btn-rightOrder">立即预订</a>
                                </div>
                            </li>
                            <li>
                                <div class="table-cell caret-ddd">
                                    窗帘保养
                                </div>
                                <div class="table-cell second">
                                    <p class="title">各种材质-专业清洗</p>
                                    <p class="money">￥ : 60/元/片</p>
                                </div>
                                <div class="table-cell">
                                    <a href="#" class="btn-rightOrder">立即预订</a>
                                </div>
                            </li>
                            <li>
                                <div class="table-cell pd30 caret-ddd">
                                    厨房深度保洁
                                </div>
                                <div class="table-cell second">
                                    <p class="title">厨房深度清理</p>
                                    <p class="money">￥ : 350/元/次</p>
                                </div>
                                <div class="table-cell">
                                    <a href="#" class="btn-rightOrder">立即预订</a>
                                </div>
                            </li>
                            <li>
                                <div class="table-cell caret-ddd">
                                    卫生间保洁
                                </div>
                                <div class="table-cell second">
                                    <p class="title">卫生间深度保洁-健康舒适</p>
                                    <p class="money">￥ : 200/元/次</p>
                                </div>
                                <div class="table-cell">
                                    <a href="#" class="btn-rightOrder">立即预订</a>
                                </div>
                            </li>
                            <li>
                                <div class="table-cell caret-ddd">
                                    空调清洗
                                </div>
                                <div class="table-cell second">
                                    <p class="title">空调深度清洗</p>
                                    <p class="money">￥ : 100/元/台</p>
                                </div>
                                <div class="table-cell">
                                    <a href="#" class="btn-rightOrder">立即预订</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="foot">
            <ul class="f-menu clearfix">
                <li>
                    <a href="index.html">
                            <span>
                                <i class="fa fa-home"></i>
                            </span>
                        <span>首页</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="brand-service.html">
                            <span>
                                <i class="fa fa-star-o"></i>
                            </span>
                        <span>星级服务</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="person-center.html">
                            <span>
                                <i class="fa fa-user"></i>
                            </span>
                        <span>个人中心</span>
                    </a>
                </li>
            </ul>
            <div class="copyright">
                <div class="copyright-head">
                    <img src="../../assets/mobile/images/index-logo.png" alt="" class="index-logo"/>
                    家服汇
                </div>
                <p>
                    重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-1
                </p>
            </div>
        </div>
    </div>
</body>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script src="../../assets/mobile/js/btnHandle.js"></script>
    <script src="../../assets/mobile/js/service-list.js"></script>
    <script src="../../assets/global/plugins/swiper/dist/js/swiper.min.js"></script>
    <script>
        $(function(){
            swiper = new Swiper('.swiper-container', {
                //        prevButton:'.swiper-button-prev',
                //        nextButton:'.swiper-button-next',
                slidesPerView: 1,
                pagination:'.swiper-pagination',
                paginationClickable: true,
                spaceBetween: 0,
                loop:true,
                autoplay: 5000,
                autoplayDisableOnInteraction: false
            });
        });
    </script>
</html>