<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>服饰搭配</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <span class="left">
            <i class="fa fa-angle-left"></i>
        </span>
        服饰搭配
    </div>
    <div class="content bg-ecec">
        <img src="../../assets/mobile/images/ward4.jpg" class="img-responsive"/>
        <div class="service-infor">
            <p class="large-title">服饰风格搭配</p>

            <p class="small-title">风格设计/形象顾问</p>

            <p class="money">￥ : 50元/套(10套起订)</p>
        </div>
        <ul class="service-menu clearfix">
            <li>
                <img src="../../assets/mobile/images/service1.png" class="service-img"/><br/>
                <span class="title">及时响应</span>
                <img src="../../assets/mobile/images/brone.png" class="brone"/><br/>
            </li>
            <li>
                <img src="../../assets/mobile/images/service2.png" class="service-img"/><br/>
                <span class="title">品质保证</span>
                <img src="../../assets/mobile/images/brone.png" class="brone"/><br/>
            </li>
            <li>
                <img src="../../assets/mobile/images/service3.png" class="service-img"/><br/>
                <span class="title">安全保证</span>
                <img src="../../assets/mobile/images/brone.png" class="brone"/><br/>
            </li>
            <li>
                <img src="../../assets/mobile/images/service4.png" class="service-img"/><br/>
                <span class="title">实名认证</span>
                <img src="../../assets/mobile/images/brone.png" class="brone"/><br/>
            </li>
            <li class="br0">
                <img src="../../assets/mobile/images/service5.png" class="service-img"/><br/>
                <span class="title">补实保证</span>
            </li>
        </ul>
        <div class="user-comment">
            <p class="title">用户评价</p>
            <div class="comment-div">
                <img src="../../assets/mobile/images/good.png" class="good"/>
                已经有 <span class="num">2222</span>人评价此服务
                <i class="right fa fa-angle-right"></i>
            </div>
        </div>
        <div class="reserve">
            <p class="title">在线预订</p>
            <div class="reserve-indormation">
                <p class="title">请选择服务时间</p>
                <div class="reserve-date clearfix">
                    <div class="div-wdate left">
                        <input name="serviceDate" class="Wdate inputDisable" type="text" value="2016-03-29" onFocus="WdatePicker({minDate:'%y-%M-{%d+1}'})"/>
                        <i class="fa fa-calendar"></i>
                    </div>
                    <select name="serviceTime" id="serviceTime2" class="select-time right inputDisable">
                        <option value="">时间</option>
                        <option value="8:00">8:00</option>
                        <option value="10:00">10:00</option>
                        <option value="13:00">13:00</option>
                        <option value="16:00">16:00</option>
                    </select>
                </div>

                <p class="title pt0">请输入鞋柜长度</p>
                <div class="clearfix services-type">
                    <input type="text" class="spinnerExample"/>
                    <span class="right company">套</span>
                </div>
                <p class="title pt0">最小预订：<span class="num">2套</span></p>
                <p class="title pt0">单价：<span class="num">20元</span></p>


                <p class="title pt0">更多需求</p>
                <textarea style="resize: none" name=""  cols="50" rows="3" class="textarea"   placeholder="您可以在这里备注需求"></textarea>
                <p class="title total-title pt0">￥ : <span class="num total">0</span></p>
                <p class="title pt0">
                    <label>
                        <input type="checkbox"/> 我已经阅读并同意
                    </label>
                    <a href="#">《家服汇用户使用协议》</a>
                </p>
                <div class="div-order">
                    <a href="#" class="btn-order">下单</a>
                    <!--<input type="submit" value="下单" class="btn-order"/>-->
                </div>
            </div>
        </div>
        <div class="service-head">
            <span class="title">服务介绍</span>
        </div>
        <div class="pd2">
            <ul class="list-service">
                <li>
                    <div class="head-title">
                        <div class="service-head">
                            <span class="title">服饰搭配-服务介绍</span>
                            <i class="fa fa-angle-right right"></i>
                        </div>
                    </div>
                    <div class="hide div-pd2">
                        <p class="first">
                            对于个人服饰风格的分类以及各种风格类型人的装扮方法，在世界时尚界早有共识，但具体到当您面对不同的社交场合时，如何快速而准确地给 出符合您自身规律的风格类型结果,并且能够被对象领会、掌握,使我们的装扮生活变得科学而规律化呢？家服汇为了解时尚人士的穿着搭配烦恼,特别推出服饰搭配服务。我们专业的造型设计是亲自上门为您的穿着搭配提出最具时尚前沿的意见和建议,显著提升您的形象气质。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="head-title">
                        <div class="service-head">
                            <span class="title">服饰搭配-服务说明</span>
                            <i class="fa fa-angle-right right"></i>
                        </div>
                    </div>
                    <div class="hide div-pd2">
                        <p class="first">
                            家服汇高端私人形象设计师上门服务。其提出的服饰搭配意见和建议均是根据其多年的造型设计经验和根据用户实际情况为基础设计。
                        </p>
                    </div>
                </li>
                <li>
                    <div class="head-title">
                        <div class="service-head">
                            <span class="title">服饰搭配-服务流程</span>
                            <i class="fa fa-angle-right right"></i>
                        </div>
                    </div>
                    <div class="hide div-pd2">
                        <img src="../../assets/mobile/images/waod-standar.jpg" class="img-responsive">
                    </div>
                </li>
                <li>
                    <div class="head-title">
                        <div class="service-head">
                            <span class="title">服饰搭配-资深团队</span>
                            <i class="fa fa-angle-right right"></i>
                        </div>
                    </div>
                    <div class="hide div-pd2">
                        <ul class="si-menu active-ul js-active clearfix">
                            <li class="item">
                                <div class="clearfix">
                                    <img src="../../assets/frontend/images/wa1.jpg" alt=""/>
                                    <div class="common-infor hide">
                                        <i class="fa fa-remove"></i>
                                        <div class="left">
                                            <img src="../../assets/frontend/images/wa1.jpg" alt="">
                                        </div>
                                        <div class="mask-p left">
                                            <p class="title">
                                                <span class="name">于佳</span>
                                            </p>
                                            <div class="common-content">
                                                <p>
                                                    年龄：32 <br/>
                                                    身高：160<br/>
                                                    体重：46KG<br/>
                                                    常驻地：重庆<br/>
                                                    职业：衣橱管理师/形象设计师/高级色彩搭配师/形象管理培训师<br/>
                                                    　　中国流行色协会会员。2006年进入形象设计行业至今，为很多顾客提供整体形象设计、衣橱整理方案。为企业提供关于化妆，服饰搭配等讲座。负责个人形象设计师的教学及教案的编写。
                                                    形象培训企业对象：华润万象城、新世纪永川商都、重庆银监会、中信银行上清寺分行、中国人寿保险公司渝中、南坪、鱼洞、江北、铜梁分公司、重百江北商场等。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nws-infor">
                                        <p class="title">于佳</p>
                                        <div class="p-ti">
                                            <p>衣橱管理师/形象设计师/高级色彩搭配师/形象管理培训师</p>
                                        </div>
                                        <a href="#" class="btn-look">查看详情</a>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <img src="../../assets/frontend/images/wa2.jpg" alt=""/>
                                    <div class="common-infor hide">
                                        <i class="fa fa-remove"></i>
                                        <div class="left">
                                            <img src="../../assets/frontend/images/wa2.jpg" alt="">
                                        </div>
                                        <div class="mask-p left">
                                            <p class="title">
                                                <span class="name">郑钰璇</span>
                                            </p>
                                            <div class="common-content">
                                                <p>
                                                    年龄：28 <br/>
                                                    身高：164<br/>
                                                    体重：48KG<br/>
                                                    常驻地：重庆<br/>
                                                    职业：衣橱管理师/服装设计师/形象顾问<br/>
                                                    　　北京兰亭色彩高级形象顾问，服饰搭配师，任职期间曾服务于不同风格类型的多位顾客。可以根据色彩特性依据专业知识对顾客做最适合的色彩和风格定位。根据服饰款式不同可以针对客户或市场做不同风格的最佳搭配。擅长掩盖缺陷身材。曾服务于中国移动，美国强生，北京军区总医院等多家知名企业员工个人形象培训。 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nws-infor">
                                        <p class="title">郑钰璇</p>
                                        <div class="p-ti">
                                            <p>衣橱管理师/服装设计师/形象顾问</p>
                                        </div>
                                        <a href="#" class="btn-look">查看详情</a>
                                    </div>
                                </div>
                                <div class="mr0 clearfix">
                                    <img src="../../assets/frontend/images/wa3.jpg" alt=""/>
                                    <div class="common-infor hide">
                                        <i class="fa fa-remove"></i>
                                        <div class="left">
                                            <img src="../../assets/frontend/images/wa3.jpg" alt="">
                                        </div>
                                        <div class="mask-p left">
                                            <p class="title">
                                                <span class="name">高腾</span>
                                            </p>
                                            <div class="common-content">
                                                <p>
                                                    年龄：29 <br/>
                                                    身高：168<br/>
                                                    体重：50KG<br/>
                                                    常驻地：重庆<br/>
                                                    职业：衣橱管理师/形象顾问/国家高级化妆师/形象管理培训师<br/>
                                                    　　萧曼美育形象管理中心形象顾问，EP雅莹服装品牌专业服装顾问。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nws-infor">
                                        <p class="title">高腾</p>
                                        <div class="p-ti">
                                            <p>衣橱管理师/形象顾问/国家高级化妆师/形象管理培训师</p>
                                        </div>
                                        <a href="#" class="btn-look">查看详情</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="head-title">
                        <div class="service-head">
                            <span class="title">服饰搭配-订单须知</span>
                            <i class="fa fa-angle-right right"></i>
                        </div>
                    </div>
                    <div class="hide div-pd2">
                        <img src="../../assets/mobile/images/waod-standar1.jpg" class="img-responsive">
                    </div>
                </li>
                <li>
                    <div class="head-title">
                        <div class="service-head">
                            <span class="title">服饰搭配-服务保障</span>
                            <i class="fa fa-angle-right right"></i>
                        </div>
                    </div>
                    <div class="hide div-pd2">
                        <img src="../../assets/mobile/images/waod-standar2.jpg" class="img-responsive">
                    </div>
                </li>
                <li>
                    <div class="head-title">
                        <div class="service-head">
                            <span class="title">服饰搭配-专业造型师</span>
                            <i class="fa fa-angle-right right"></i>
                        </div>
                    </div>
                    <div class="hide div-pd2">
                        <img src="../../assets/mobile/images/waod-standar3.jpg" class="img-responsive">
                    </div>
                </li>
                <li>
                    <div class="head-title">
                        <div class="service-head">
                            <span class="title">服饰搭配-整理的意义</span>
                            <i class="fa fa-angle-right right"></i>
                        </div>
                    </div>
                    <div class="hide div-pd2">
                        <img src="../../assets/mobile/images/waod-standar4.jpg" class="img-responsive">
                    </div>
                </li>
                <li class="bb0">
                    <div class="head-title bb0">
                        <div class="service-head">
                            <span class="title">服饰搭配-个性化服务</span>
                            <i class="fa fa-angle-right right"></i>
                        </div>
                    </div>
                    <div class="hide div-pd2">
                        <img src="../../assets/mobile/images/waod-standar5.jpg" class="img-responsive">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="foot">
        <ul class="f-menu clearfix">
            <li>
                <a href="index.html">
                        <span>
                            <i class="fa fa-home"></i>
                        </span>
                    <span>首页</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="brand-service.html">
                        <span>
                            <i class="fa fa-star-o"></i>
                        </span>
                    <span>星级服务</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="person-center.html">
                        <span>
                            <i class="fa fa-user"></i>
                        </span>
                    <span>个人中心</span>
                </a>
            </li>
        </ul>
        <div class="copyright">
            <div class="copyright-head">
                <img src="../../assets/mobile/images/index-logo.png" alt="" class="index-logo"/>
                家服汇
            </div>
            <p>
                重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-1
            </p>
        </div>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script src="../../assets/mobile/js/service-list.js"></script>
<script src="../../assets/global/plugins/jquery-spinner/js/jquery.spinner.js"></script>
<script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
    $('.spinnerExample').spinner({});
</script>
</html>