<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <style>
        .col-sm-8{padding-right: 0;}
        .col-sm-3{padding-left: 0;}
        .help-block{color: #fb7f53;}
    </style>
</head>
<body>
<div class="wrapper">
    <div class="head fixed">
        <span class="left">
            <i class="fa fa-angle-left"></i>
        </span>
        忘记密码
    </div>
    <div class="content bg">
        <form action="#" class="login-form" id="register-form">
            <div class="form-group clearfix">
                <div class="col-sm-12 col-xs-12 col-md-12">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </span>
                        <input type="text" class="form-control" placeholder="请输入您的手机号码" id="mobile" name="mobile">
                    </div>
                </div>
            </div>
            <div class="form-group w100 clearfix">
                <div class="col-sm-6 col-xs-6 col-md-6">
                    <input type="text" class="form-control" placeholder="请输入验证码">
                </div>
                <div class="col-sm-6 col-xs-6 col-md-6">
                    <input type="button" id="getting" class="code form-control" value="获取验证码">
                </div>

            </div>
            <div class="form-group clearfix">
                <div class="col-sm-12 col-xs-12 col-md-12">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                        <input type="password" class="form-control" placeholder="请输入您的新密码" id="password" name="password">
                    </div>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-sm-12 col-xs-12 col-md-12">
                    <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                        <input type="password" class="form-control" placeholder="请确认密码" name="confirmPwd">
                    </div>
                </div>
            </div>
            <div class="form-group w100 clearfix">
                <div class="col-sm-12 col-xs-12 col-md-12">
                    <input type="submit" class="btn btn-sure col-sm-4 col-xs-4 col-md-4" value="确定">
                    <a href="login.html" class="btn right btn-retureLogin col-sm-4 col-xs-4 col-md-4">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script src="../../assets/global/plugins/jquery-validate/jquery.validate.min.js"></script>
<script src="../../assets/global/plugins/jquery-validate/messages_zh.js"></script>
<script>
    $(function(){

        $('#getting').click(function(){
            var btn = $(this);
            var count = 60;
            var resend = setInterval(function(){
                count--;
                if (count > 0){
                    btn.val(count+"秒后可重新获取");
                    btn.addClass("active");
//                        $.cookie("captcha", count, {path: '/', expires: (1/86400)*count});
                }else {
                    clearInterval(resend);
                    btn.removeClass("active");
                    btn.val("获取验证码").removeAttr('disabled style');
                }
            }, 1000);
            btn.attr('disabled',true).css('cursor','not-allowed');
        });



    })
    $("#register-form").validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-block help-block-error', // default input error message class
        rules: {
//                    mobile:{
//                        required:true,
//                        phone:true,
//                        remote: {
//                            url: "/isExistPhone.do",    //后台处理程序
//                            type: "post",               //数据发送方式
//                            dataType: "json",           //接受数据格式
//                            data: {//要传递的数据
//                                phone: function (){
//                                    return $("#mobile").val();
//                                }
//                            }
//                        }
//                    },
            mobile:{
                required:true,
                phone:true
            },
            password:{
                required:true,
                maxlength:16,
                minlength:6
            },
            confirmPwd: {
                required: true,
                equalTo: "#password"
            },

            validateCode:{
                required:true
            }
        },

        messages: {
            validateCode:{
                required:"请输入验证码"
            },

            password:{
                required:"请输入密码",
                minlength: jQuery.validator.format("密码不能少于 {0} 个字符"),
                maxlength: jQuery.validator.format("密码不能多于 {0} 个字符")
            },

            confirmPwd: {
                required: "请输入确认密码",
                equalTo: "两次输入密码不相同"
            },

//                    mobile:{
//                        required:"请输入手机号码",
//                        remote:"该手机已被注册"
//                    }
            mobile:{
                required:"请输入手机号码",
                phone:"请输入正确手机号码"
            }
        },

        errorPlacement: function (error, element) { // render error placement for each input type
            if (element.parent(".input-group").size() > 0) {
                error.insertAfter(element.parent(".input-group"));
            } else {
                error.insertAfter(element); // for other inputs, just perform default behavior
            }
        },

        highlight: function (element) { // hightlight error inputs
            $(element).closest('.input-group').removeClass("has-success").addClass('has-error'); // set error class to the control group
        },

        unhighlight: function (element) { // revert the change done by hightlight
            $(element).closest('.input-group').removeClass('has-error'); // set error class to the control group
        },

        success: function (label, element) {
            label.closest('.input-group').removeClass('has-error'); // set success class to the control group
        },

        submitHandler: function(form) {
//                    register();
        }
    });

</script>
</html>