<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>家服汇</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/swiper/dist/css/swiper.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <img src="../../assets/mobile/images/index-logo.png" alt="" class="index-logo"/>
            家服汇
        </div>
        <div class="content bg-ecec">
            <div class="swiper-container swiper-container-horizontal" id="swiper-container1">
                <div class="swiper-wrapper" style="transition-duration: 0ms; ">
                    <div class="swiper-slide">
                        <img src="../../assets/mobile/images/mobile-index1.jpg" class="img-responsive" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/mobile/images/mobile-index2.jpg" class="img-responsive" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/mobile/images/mobile-index3.jpg" class="img-responsive" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <!--<div class="swiper-button-next"></div>-->
                <!--<div class="swiper-button-prev"></div>-->
            </div>
            <ul class="service-list clearfix">
                <li class="first">
                    <a href="clean-list.html">
                        <img src="../../assets/mobile/images/cleaning-index.jpg" class="img-responsive" />
                        <div class="div-title">
                            <span class="title color">家居保洁</span><br/>
                            <span>标准流程作业</span>
                        </div>
                    </a>
                </li>
                <li class="mr0">
                    <a href="#">
                        <img src="../../assets/mobile/images/nursing-index.jpg" class="img-responsive" />
                        <div class="div-title">
                            <span class="title color">医院专业护理</span><br/>
                            <span>24小时全天服务</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="maternal-list.html">
                        <img src="../../assets/mobile/images/maternity-index.jpg" class="img-responsive" />
                        <div class="div-title">
                            <span class="title color">母婴月嫂</span><br/>
                            <span>贴心月嫂精心护理</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="wardrobe-finishing-list.html">
                        <img src="../../assets/mobile/images/wardrobe-index.jpg" class="img-responsive" />
                        <div class="div-title">
                            <span class="title color">衣柜整理</span><br/>
                            <span>专业团队量身定制</span>
                        </div>
                    </a>
                </li>
                <li class="mr0">
                    <a href="leatherShoesNursing-list.html">
                        <img src="../../assets/mobile/images/leather-index.jpg" class="img-responsive" />
                        <div class="div-title">
                            <span class="title color">鞋类护理</span><br/>
                            <span>上门服务省事省心</span>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="shop-store">
                <div class="store-head clearfix">
                    <div class="left">
                        <p><img src="../../assets/mobile/images/store-title.png"/></p>
                        <p>家服汇综合服务商城</p>
                    </div>
                    <div class="right">
                        <a href="#">点击进入 <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <ul class="store-list clearfix">
                    <li>
                        <a href="clean-list.html">
                            <img src="../../assets/mobile/images/store1.jpg" class="img-responsive" />
                            <div class="div-title">
                                宜居 <span></span> 护养
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="maternal-list.html">
                            <img src="../../assets/mobile/images/store2.jpg" class="img-responsive" />
                            <div class="div-title">
                                爱子 <span></span> 母婴
                            </div>
                        </a>
                    </li>
                    <li class="mr0">
                        <a href="wardrobe-finishing-list.html">
                            <img src="../../assets/mobile/images/store3.jpg" class="img-responsive" />
                            <div class="div-title">
                                生活 <span></span> 居家
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="more-list clearfix">
                <li>
                    <a href="#">
                        <img src="../../assets/mobile/images/more1.png" class="img-responsive" />
                    </a>
                </li>
                <li class="mr0">
                    <a href="#">
                        <img src="../../assets/mobile/images/more2.png" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../assets/mobile/images/more4.png" class="img-responsive" />
                    </a>
                </li>
                <li class="mr0">
                    <a href="#">
                        <img src="../../assets/mobile/images/more3.png" class="img-responsive" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="foot">
            <ul class="f-menu clearfix">
                <li class="active">
                    <a href="index.html">
                        <span>
                            <i class="fa fa-home"></i>
                        </span>
                        <span>首页</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="brand-service.html">
                        <span>
                            <i class="fa fa-star-o"></i>
                        </span>
                        <span>星级服务</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="person-center.html">
                        <span>
                            <i class="fa fa-user"></i>
                        </span>
                        <span>个人中心</span>
                    </a>
                </li>
            </ul>
            <div class="copyright">
                <div class="copyright-head">
                    <img src="../../assets/mobile/images/index-logo.png" alt="" class="index-logo"/>
                    家服汇
                </div>
                <p>
                    重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-1
                </p>
            </div>
        </div>
    </div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script src="../../assets/global/plugins/swiper/dist/js/swiper.min.js"></script>
<script>
    swiper = new Swiper('#swiper-container1', {
//        prevButton:'.swiper-button-prev',
//        nextButton:'.swiper-button-next',
        slidesPerView: 1,
        pagination:'.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 0,
        loop:true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false
    });
</script>
</html>