<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我家附近</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>

</head>
<body>
    <div class="wrapper">
        <div class="foot">
            <ul class="f-menu clearfix">
                <li class="active">
                    <a href="index.html">
                        <div class="bt"></div>
                            <span>
                                <i class="fa fa-home"></i>
                            </span><br/>
                        <span>首页</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="notification-center.html">
                        <div class="bt"></div>
                            <span>
                                <i class="fa fa-comments-o"></i>
                            </span><br/>
                        <span>消息</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="administrative-operation.html">
                        <div class="bt"></div>
                            <span>
                                <i class="fa fa-dribbble"></i>
                            </span><br/>
                        <span>发现</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="my-balance.html">
                        <div class="bt"></div>
                            <span>
                                <i class="fa fa-user"></i>
                            </span><br/>
                        <span>我</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</html>