<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>家服汇</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/swiper/dist/css/swiper.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head-input clearfix">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="搜索商品" class="search-input"/>
            <button class="btn-search">搜索</button>
        </div>
        <div class="content">
            <div class="swiper-container swiper-container-horizontal pc-none">
                <div class="swiper-wrapper" id="swiper-wrapper" style="transition-duration: 0ms; ">
                    <div class="swiper-slide">
                        <img src="../../assets/mobile/images/mobile-index1.jpg" class="img-responsive" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/mobile/images/mobile-index1.jpg" class="img-responsive" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/mobile/images/mobile-index1.jpg" class="img-responsive" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <!--<div class="swiper-button-next"></div>-->
                <!--<div class="swiper-button-prev"></div>-->
            </div>
            <ul class="search-type clearfix">
                <li>
                    <a href="clean-list.html">
                        <img src="../../assets/mobile/images/icon1.png"/><br/>
                        <span>保洁</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../assets/mobile/images/icon2.png"/><br/>
                        <span>护工</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../assets/mobile/images/icon3.png"/><br/>
                        <span>皮鞋保养</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../assets/mobile/images/icon4.png"/><br/>
                        <span>衣柜整理</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../assets/mobile/images/icon5.png"/><br/>
                        <span>月嫂</span>
                    </a>
                </li>
            </ul>
            <div class="active-new">
                <img src="../../assets/mobile/images/active-bg.png" class="img-responsive" /><br/>
                <div class="active-p">
                    <p>
                        <a href="#">
                            <span class="caret-dian"></span>
                            家服汇全新上线了，我们有全新的服务快来参加了...
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            <span class="caret-dian"></span>
                            家服汇全新上线了，我们有全新的服务快来参加了...
                        </a>
                    </p>
                </div>
            </div>
            <img src="../../assets/mobile/images/gift1.jpg" class="img-responsive" />
            <img src="../../assets/mobile/images/recharge.jpg" class="img-responsive recharge"/>
            <ul class="money-ul clearfix">
                <li>
                    <a href="#">
                        <img src="../../assets/mobile/images/money1.png" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../assets/mobile/images/money2.png" class="img-responsive" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../assets/mobile/images/money3.png" class="img-responsive" />
                    </a>
                </li>
                <li class="mr0"><a href="#"><img src="../../assets/mobile/images/money4.png" class="img-responsive" /></a></li>
            </ul>
            <img src="../../assets/mobile/images/gift2.jpg" class="img-responsive" />
            <div class="bgccc">
                <ul class="clearfix search-chioce">
                    <li>
                        <a href="#">
                            <img src="../../assets/mobile/images/seavice1.jpg" class="img-responsive" />
                        </a>
                        <div class="item">
                            <p class="title">保洁服务</p>
                            <p><span class="last">￥ : 4500</span> <span class="num">￥ : 3300</span></p>
                        </div>
                    </li>
                    <li class="mr0">
                        <a href="#">
                            <img src="../../assets/mobile/images/seavice1.jpg" class="img-responsive" />
                        </a>
                        <div class="item">
                            <p class="title">衣柜整理</p>
                            <p><span class="last">￥ : 4500</span> <span class="num">￥ : 3300</span></p>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix search-chioce search-chioce1">
                    <li>
                        <a href="#">
                            <img src="../../assets/mobile/images/seavice4.jpg" class="img-responsive" />
                        </a>
                        <div class="item">
                            <p class="title">月嫂服务</p>
                            <p><span class="last">￥ : 4500</span> <span class="num">￥ : 3300</span></p>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../assets/mobile/images/seavice4.jpg" class="img-responsive" />
                        </a>
                        <div class="item">
                            <p class="title">皮鞋护理</p>
                            <p><span class="last">￥ : 4500</span> <span class="num">￥ : 3300</span></p>
                        </div>
                    </li>
                    <li class="mr0">
                        <a href="#">
                            <img src="../../assets/mobile/images/seavice4.jpg" class="img-responsive" />
                        </a>
                        <div class="item">
                            <p class="title">护工服务</p>
                            <p><span class="last">￥ : 4500</span> <span class="num">￥ : 3300</span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="foot">
            <ul class="f-menu clearfix">
                <li class="active">
                    <a href="index.html">
                        <div class="bt"></div>
                        <span>
                            <i class="fa fa-home"></i>
                        </span><br/>
                        <span>首页</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="brand-service.html">
                        <div class="bt"></div>
                        <span>
                            <i class="fa fa-bars"></i>
                        </span><br/>
                        <span>品牌服务</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="my-community.html">
                        <div class="bt"></div>
                        <span>
                            <i class="fa fa-th-large"></i>
                        </span><br/>
                        <span>我的社区</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="person-center.html">
                        <div class="bt"></div>
                        <span>
                            <i class="fa fa-user"></i>
                        </span><br/>
                        <span>个人中心</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script src="../../assets/global/plugins/swiper/dist/js/swiper.min.js"></script>
<script>
    swiper = new Swiper('.swiper-container', {
//        prevButton:'.swiper-button-prev',
//        nextButton:'.swiper-button-next',
        slidesPerView: 1,
        pagination:'.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 0,
        loop:true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false
    });
</script>
</html>