<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>皮鞋护理列表</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/swiper/dist/css/swiper.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <span class="left">
            <i class="fa fa-angle-left"></i>
        </span>
        鞋类护理
    </div>
    <div class="content">
        <div class="swiper-container swiper-container-horizontal pc-none">
            <div class="swiper-wrapper" id="swiper-wrapper" style="transition-duration: 0ms; ">
                <div class="swiper-slide">
                    <img src="../../assets/mobile/images/leathershoes-slider1.jpg" class="img-responsive"/>
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/mobile/images/leathershoes-slider2.jpg" class="img-responsive"/>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <!--<div class="swiper-button-next"></div>-->
            <!--<div class="swiper-button-prev"></div>-->
        </div>
        <ul class="order-menu pd0">
            <li>
                <div class="table-cell caret-ddd">
                    上门擦鞋
                </div>
                <div class="table-cell second">
                    <p class="title">鞋先生-上门鞋类护理</p>

                    <p class="p-second">清洁鞋面/上油保护</p>

                    <p class="money">￥ : 5元/双(5双起)</p>
                </div>
                <div class="table-cell">
                    <a href="leatherShoesDeepNursing.html" class="btn-rightOrder">立即预订</a>
                </div>
            </li>
            <li class="bb0">
                <div class="table-cell caret-ddd">
                    鞋柜清理
                </div>
                <div class="table-cell second">
                    <p class="title">鞋先生-鞋柜深度清理</p>

                    <p class="p-second">整体除垢/快速专业</p>

                    <p class="money">￥ : 20元/米</p>
                </div>
                <div class="table-cell">
                    <a href="leatherShoesCaret.html" class="btn-rightOrder">立即预订</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="foot">
        <ul class="f-menu clearfix">
            <li>
                <a href="index.html">
                        <span>
                            <i class="fa fa-home"></i>
                        </span>
                    <span>首页</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="brand-service.html">
                        <span>
                            <i class="fa fa-star-o"></i>
                        </span>
                    <span>星级服务</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="person-center.html">
                        <span>
                            <i class="fa fa-user"></i>
                        </span>
                    <span>个人中心</span>
                </a>
            </li>
        </ul>
        <div class="copyright">
            <div class="copyright-head">
                <img src="../../assets/mobile/images/index-logo.png" alt="" class="index-logo"/>
                家服汇
            </div>
            <p>
                重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-1
            </p>
        </div>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/global/plugins/swiper/dist/js/swiper.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>

<script>
    $(function(){
        swiper = new Swiper('.swiper-container', {
            //        prevButton:'.swiper-button-prev',
            //        nextButton:'.swiper-button-next',
            slidesPerView: 1,
            pagination:'.swiper-pagination',
            paginationClickable: true,
            spaceBetween: 0,
            loop:true,
            autoplay: 5000,
            autoplayDisableOnInteraction: false
        });
    })
</script>
</html>