<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登陆</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body class="height100">
    <div class="wrapper height100">
        <div class="head fixed">
            <span class="left">
                <i class="fa fa-angle-left"></i>
            </span>
            登陆
        </div>
        <div class="content bg">
            <!--<div class="logBodyBg"><img src="../../assets/mobile/images/d_mobilebg.jpg"></div>-->
            <form action="#" class="login-form">
                <div class="form-group clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="请输入您的昵称">
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="password" class="form-control" placeholder="请输密码">
                        </div>
                    </div>
                </div>


                <div class="form-group w100 clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12">


                        <input type="submit" class="form-control btn-register" value="立即登陆">
                    </div>
                </div>
                <div class="form-group w100 clearfix">
                    <!--<label class="checkboxs pl15"><input type="checkbox"/>下次自动登录</label>-->
                    <a href="forget-password.html" class="forgetPassword">忘记密码</a>
                    <a href="register.html" class="right" style="color: #666;position: relative;right: 5%;">无账号? 立刻注册</a>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script>
    $(function(){
//        function heightAuto(){
//            var d = $(".login-form");
//            d.each(function(){
//                var ht = -($(this).outerHeight(true)-$(".head").outerHeight(true))/2+"px";
//                $(this).get(0).style.marginTop = ht;
//            });
//        }
//            heightAuto();


        $('#getting').click(function(){
            var btn = $(this);
            var count = 60;
            var resend = setInterval(function(){
                count--;
                if (count > 0){
                    btn.val(count+"秒后可重新获取");
                    btn.addClass("active");
//                        $.cookie("captcha", count, {path: '/', expires: (1/86400)*count});
                }else {
                    clearInterval(resend);
                    btn.removeClass("active");
                    btn.val("获取验证码").removeAttr('disabled style');
                }
            }, 1000);
            btn.attr('disabled',true).css('cursor','not-allowed');
        });
    })
</script>
</html>