<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>月嫂</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <span class="left">
                <i class="fa fa-angle-left"></i>
            </span>
            月嫂
        </div>
        <div class="content bg-ecec">
            <img src="../../assets/mobile/images/wardrobe1.jpg" class="img-responsive"/>
            <div class="service-infor">
                <p class="large-title">月嫂服务</p>

                <p class="small-title">贴心月嫂精心福利</p>

                <p class="money">初级月嫂 ￥ : 7800元/月(26天)</p>
                <p class="money">中级月嫂 ￥ : 8800元/月(26天)</p>
                <p class="money">高级月嫂 ￥ : 9800元/月(26天)</p>
            </div>
            <ul class="service-menu clearfix">
                <li>
                    <img src="../../assets/mobile/images/service1.png" class="service-img"/><br/>
                    <span class="title">及时响应</span>
                    <img src="../../assets/mobile/images/brone.png" class="brone"/><br/>
                </li>
                <li>
                    <img src="../../assets/mobile/images/service2.png" class="service-img"/><br/>
                    <span class="title">品质保证</span>
                    <img src="../../assets/mobile/images/brone.png" class="brone"/><br/>
                </li>
                <li>
                    <img src="../../assets/mobile/images/service3.png" class="service-img"/><br/>
                    <span class="title">安全保证</span>
                    <img src="../../assets/mobile/images/brone.png" class="brone"/><br/>
                </li>
                <li>
                    <img src="../../assets/mobile/images/service4.png" class="service-img"/><br/>
                    <span class="title">实名认证</span>
                    <img src="../../assets/mobile/images/brone.png" class="brone"/><br/>
                </li>
                <li class="br0">
                    <img src="../../assets/mobile/images/service5.png" class="service-img"/><br/>
                    <span class="title">补实保证</span>
                </li>
            </ul>
            <div class="user-comment">
                <p class="title">用户评价</p>
                <a href="#">
                    <div class="comment-div">
                        <img src="../../assets/mobile/images/good.png" class="good"/>
                        已经有 <span class="num">2222</span>人评价此服务
                        <i class="right fa fa-angle-right"></i>
                    </div>
                </a>
            </div>
            <div class="reserve">
                <p class="title">在线预订</p>
                <div class="reserve-indormation">
                    <p class="title">级别选项</p>
                    <div class="fl-type clearfix bg5">
                        <button class="btn-type active left mb10">高级</button>
                        <button class="btn-type right mb10">中级</button>
                        <button class="btn-type left">初级</button>
                    </div>
                    <p class="title pt0">我的预产期</p>
                    <div class="reserve-date clearfix">
                        <div class="div-wdate left">
                            <input name="serviceDate" class="Wdate inputDisable" type="text" value="2016-03-29" onFocus="WdatePicker({minDate:'%y-%M-{%d+1}'})"/>
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <p class="title pt0">预约面试时间</p>
                    <div class="reserve-date clearfix">
                        <div class="div-wdate left">
                            <input name="serviceDate" class="Wdate inputDisable" type="text" value="2016-03-29" onFocus="WdatePicker({minDate:'%y-%M-{%d+1}'})"/>
                            <i class="fa fa-calendar"></i>
                        </div>
                        <select name="serviceTime" id="serviceTime2" class="select-time right inputDisable">
                            <option value="">时间</option>
                            <option value="8:00">8:00</option>
                            <option value="10:00">10:00</option>
                            <option value="13:00">13:00</option>
                            <option value="16:00">16:00</option>
                        </select>
                    </div>

                    <p class="title pt0">更多需求</p>
                    <textarea style="resize: none" name=""  cols="50" rows="3" class="textarea"   placeholder="您可以在这里备注需求"></textarea>
                    <p class="title total-title pt0">￥ : <span class="num total">0</span></p>
                    <p class="title pt0">
                        <label>
                            <input type="checkbox"/> 我已经阅读并同意
                        </label>
                        <a href="#">《家服汇用户使用协议》</a>
                    </p>
                    <div class="div-order">
                        <a href="#" class="btn-order btn-order1">预约面试</a>
                        <!--<input type="submit" value="下单" class="btn-order"/>-->
                    </div>
                </div>
            </div>
            <div class="service-head">
                <span class="title">服务介绍</span>
            </div>
            <div class="pd2">
                <ul class="list-service">
                    <li>
                        <div class="head-title">
                            <div class="service-head">
                                <span class="title">月嫂服务-服务介绍</span>
                                <i class="fa fa-angle-right right"></i>
                            </div>
                        </div>
                        <div class="hide div-pd2">
                            <img src="../../assets/mobile/images/maternity-standa10.jpg" class="img-responsive"/>
                        </div>
                    </li>
                    <li>
                        <div class="head-title">
                            <div class="service-head">
                                <span class="title">初级月嫂　7800/月(26天)</span>
                                <i class="fa fa-angle-right right"></i>
                            </div>
                        </div>
                        <div class="hide div-pd2">
                            <img src="../../assets/mobile/images/maternity-standa11.jpg" class="img-responsive"/>
                        </div>
                    </li>
                    <li>
                        <div class="head-title">
                            <div class="service-head">
                                <span class="title">中级月嫂　8800/月(26天)</span>
                                <i class="fa fa-angle-right right"></i>
                            </div>
                        </div>
                        <div class="hide div-pd2">
                            <img src="../../assets/mobile/images/maternity-standa12.jpg" class="img-responsive"/>
                        </div>
                    </li>
                    <li>
                        <div class="head-title">
                            <div class="service-head">
                                <span class="title">高级月嫂　9800/月(26天)</span>
                                <i class="fa fa-angle-right right"></i>
                            </div>
                        </div>
                        <div class="hide div-pd2">
                            <img src="../../assets/mobile/images/maternity-standa13.jpg" class="img-responsive"/>
                        </div>
                    </li>
                    <li>
                        <div class="head-title">
                            <div class="service-head">
                                <span class="title">月嫂服务-核心优势</span>
                                <i class="fa fa-angle-right right"></i>
                            </div>
                        </div>
                        <div class="hide div-pd2">
                            <img src="../../assets/mobile/images/maternity-standa1.jpg" class="img-responsive"/>
                        </div>
                    </li>
                    <li>
                        <div class="head-title">
                            <div class="service-head">
                                <span class="title">月嫂服务-服务理念</span>
                                <i class="fa fa-angle-right right"></i>
                            </div>
                        </div>
                        <div class="hide div-pd2">
                            <img src="../../assets/mobile/images/maternity-standa2.jpg" class="img-responsive"/>
                        </div>
                    </li>
                    <li>
                        <div class="head-title">
                            <div class="service-head">
                                <span class="title">月嫂服务-服务保障</span>
                                <i class="fa fa-angle-right right"></i>
                            </div>
                        </div>
                        <div class="hide div-pd2">
                            <img src="../../assets/mobile/images/maternity-standa3.jpg" class="img-responsive"/>
                        </div>
                    </li>
                    <li class="bb0">
                        <div class="head-title bb0">
                            <div class="service-head">
                                <span class="title">月嫂服务-服务承诺</span>
                                <i class="fa fa-angle-right right"></i>
                            </div>
                        </div>
                        <div class="hide div-pd2">
                            <img src="../../assets/mobile/images/maternity-standa4.jpg" class="img-responsive"/>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="foot">
            <ul class="f-menu clearfix">
                <li>
                    <a href="index.html">
                            <span>
                                <i class="fa fa-home"></i>
                            </span>
                        <span>首页</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="brand-service.html">
                            <span>
                                <i class="fa fa-star-o"></i>
                            </span>
                        <span>星级服务</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="person-center.html">
                            <span>
                                <i class="fa fa-user"></i>
                            </span>
                        <span>个人中心</span>
                    </a>
                </li>
            </ul>
            <div class="copyright">
                <div class="copyright-head">
                    <img src="../../assets/mobile/images/index-logo.png" alt="" class="index-logo"/>
                    家服汇
                </div>
                <p>
                    重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-1
                </p>
            </div>
        </div>
        <div class="mask hide">
            <div class="maternity-div hide">
                <div class="mc-head">
                    <p class="title">预约月嫂成功</p>
                    <i class="fa fa-remove"></i>
                </div>
                <div class="mc-content">
                    <p>您可在家服汇平台挑选您的月嫂,我们将优先为您安排选中的月嫂面试。</p>
                    <a href="maternity-search.html" class="btn-order btn-mother">找个好孕妈妈go》</a>
                    <!--<p>或者,您可勾选自己的个性需求,我们尽力推荐符合条件的月嫂面试。</p>-->
                    <!--<button class="btn-order btn-order1">平台推荐</button>-->
                    <!--<div class="ma-dailog hide">-->
                        <!--<i class="fa fa-remove"></i>-->
                        <!--<i class="fa fa-caret-down"></i>-->
                        <!--<div class="ma-infor">-->
                            <!--<p>-->
                                <!--<span class="type">籍贯:</span>-->
                                <!--<select name="">-->
                                    <!--<option value="河北省">河北省</option>-->
                                    <!--<option value="吉林省">吉林省</option>-->
                                    <!--<option value="山西省">山西省</option>-->
                                    <!--<option value="辽宁省">辽宁省</option>-->
                                    <!--<option value="黑龙江省">黑龙江省</option>-->
                                    <!--<option value="江苏省">江苏省</option>-->
                                    <!--<option value="浙江省">浙江省</option>-->
                                    <!--<option value="安徽省">安徽省</option>-->
                                    <!--<option value="福建省">福建省</option>-->
                                    <!--<option value="江西省">江西省</option>-->
                                    <!--<option value="山东省">山东省</option>-->
                                    <!--<option value="河南省">河南省</option>-->
                                    <!--<option value="湖北省">湖北省</option>-->
                                    <!--<option value="湖南省">湖南省</option>-->
                                    <!--<option value="广东省">广东省</option>-->
                                    <!--<option value="海南省">海南省</option>-->
                                    <!--<option value="四川省">四川省</option>-->
                                    <!--<option value="贵州省">贵州省</option>-->
                                    <!--<option value="云南省">云南省</option>-->
                                    <!--<option value="陕西省">陕西省</option>-->
                                    <!--<option value="甘肃省">甘肃省</option>-->
                                    <!--<option value="台湾省">台湾省</option>-->
                                    <!--<option value="青海省">青海省</option>-->
                                    <!--<option value="北京">北京</option>-->
                                    <!--<option value="天津">天津</option>-->
                                    <!--<option value="上海">上海</option>-->
                                    <!--<option value="重庆">重庆</option>-->
                                    <!--<option value="新疆维吾尔族自治区">新疆维吾尔族自治区</option>-->
                                    <!--<option value="广西壮族自治区">广西壮族自治区</option>-->
                                    <!--<option value="内蒙古自治区">内蒙古自治区</option>-->
                                    <!--<option value="宁夏回族自治区">宁夏回族自治区</option>-->
                                    <!--<option value="西藏自治区">西藏自治区</option>-->
                                <!--</select>-->
                            <!--</p>-->

                            <!--<p>-->
                                <!--<span class="type">语言:</span>-->
                                <!--<select name="">-->
                                    <!--<option value="汉语">汉语</option>-->
                                    <!--<option value="粤语">粤语</option>-->
                                    <!--<option value="藏语">藏语</option>-->
                                <!--</select>-->
                            <!--</p>-->

                            <!--<p>-->
                                <!--<span class="type">属相:</span>-->
                                <!--<select name="">-->
                                    <!--<option value="鼠">鼠</option>-->
                                    <!--<option value="牛">牛</option>-->
                                    <!--<option value="虎">虎</option>-->
                                    <!--<option value="兔">兔</option>-->
                                    <!--<option value="龙">龙</option>-->
                                    <!--<option value="蛇">蛇</option>-->
                                    <!--<option value="马">马</option>-->
                                    <!--<option value="羊">羊</option>-->
                                    <!--<option value="猴">猴</option>-->
                                    <!--<option value="鸡">鸡</option>-->
                                    <!--<option value="狗">狗</option>-->
                                    <!--<option value="猪">猪</option>-->
                                <!--</select>-->
                            <!--</p>-->

                            <!--<p>-->
                                <!--<span class="type">经验:</span>-->
                                <!--<select name="">-->
                                    <!--<option value="一年">一年</option>-->
                                    <!--<option value="两年">两年</option>-->
                                    <!--<option value="三年">三年</option>-->
                                <!--</select>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="type">星座:</span>-->
                                <!--<select name="">-->
                                    <!--<option value="鼠">鼠</option>-->
                                    <!--<option value="牛">牛</option>-->
                                    <!--<option value="虎">虎</option>-->
                                    <!--<option value="兔">兔</option>-->
                                    <!--<option value="龙">龙</option>-->
                                    <!--<option value="蛇">蛇</option>-->
                                    <!--<option value="马">马</option>-->
                                    <!--<option value="羊">羊</option>-->
                                    <!--<option value="猴">猴</option>-->
                                    <!--<option value="鸡">鸡</option>-->
                                    <!--<option value="狗">狗</option>-->
                                    <!--<option value="猪">猪</option>-->
                                <!--</select>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<button class="btn-submit">提交</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script src="../../assets/mobile/js/service-list.js"></script>
    <script src="../../assets/global/plugins/jquery-spinner/js/jquery.spinner.js"></script>
    <script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.spinnerExample').spinner({});

            /*母婴级别切换*/
            var ft = $(".fl-type");
            var bt = $(".btn-type");
            ft.each(function(){
                $(this).find(bt).on("click",function(){
                    $(this).addClass("active");
                    $(this).siblings(bt).removeClass("active");
                })
            });

            /*好孕妈妈弹窗显示*/
            $(".btn-order1").on("click",function(e){
                e.preventDefault();
                $(".mask,.maternity-div").removeClass("hide");
                var ht = -$(".maternity-div").get(0).offsetHeight/2+"px";
                $(".maternity-div").get(0).style.marginTop = ht;
            });

            /*好孕妈妈弹窗关闭*/
            $(".maternity-div").delegate(".mc-head .fa-remove","click",function(){
                $(".mask,.maternity-div").addClass("hide");
            });
        })
    </script>
</html>