<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>星宇花园</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/swiper/dist/css/swiper.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="swiper-container swiper-container-horizontal pc-none">
            <div class="swiper-wrapper" id="swiper-wrapper" style="transition-duration: 0ms; ">
                <div class="swiper-slide">
                    <img src="../../assets/mobile/images/my-commonty1.jpg" class="img-responsive" />
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/mobile/images/my-commonty1.jpg" class="img-responsive" />
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/mobile/images/my-commonty1.jpg" class="img-responsive" />
                </div>
                <div class="swiper-slide">
                    <img src="../../assets/mobile/images/my-commonty1.jpg" class="img-responsive" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <!--<div class="swiper-button-next"></div>-->
            <!--<div class="swiper-button-prev"></div>-->
        </div>
        <div class="service-head">
            <span class="dot"></span>
            <img src="../../assets/mobile/images/phone.png" />
            <span class="title">社区便民</span>
        </div>
        <ul class="mobile-phone">
            <li>
                <span class="left">社区街道 : 67889866</span>
                <span class="right">社区街道 : 67889866</span>
            </li>
            <li>
                <span class="left">社区街道 : 67889866</span>
                <span class="right">社区街道 : 67889866</span>
            </li>
            <li class="bb0">
                <span class="left">社区街道 : 67889866</span>
                <span class="right">社区街道 : 67889866</span>
            </li>
        </ul>
        <div class="service-head">
            <span class="dot"></span>
            <img src="../../assets/mobile/images/commonty.png" />
            <span class="title">社区便民</span>
            <a href="#" class="right">更多></a>
        </div>
        <ul class="search-type clearfix">
            <li>
                <a href="clean-list.html">
                    <img src="../../assets/mobile/images/icon1.png"/><br/>
                    <span>保洁</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../assets/mobile/images/icon2.png"/><br/>
                    <span>护工</span>
                </a>
            </li>
            <li>
                <a href="leatherShoesNursing-list.html">
                    <img src="../../assets/mobile/images/icon3.png"/><br/>
                    <span>皮鞋保养</span>
                </a>
            </li>
            <li>
                <a href="wardrobe-finishing-list.html">
                    <img src="../../assets/mobile/images/icon4.png"/><br/>
                    <span>衣柜整理</span>
                </a>
            </li>
            <li>
                <a href="maternal-list.html">
                    <img src="../../assets/mobile/images/icon5.png"/><br/>
                    <span>母婴</span>
                </a>
            </li>
        </ul>

        <div class="service-head">
            <span class="dot"></span>
            <img src="../../assets/mobile/images/home.png" />
            <span class="title">周边服务</span>
            <a href="#" class="right">更多></a>
        </div>
        <ul class="service-more">
            <li class="clearfix">
                <a href="#">
                    <img src="../../assets/mobile/images/c-seavice1.jpg"  class="left"/>
                    <div class="seavice-infor left">
                        <p class="title">开锁</p>
                        <div class="p-infor clearfix">
                            <p class="left">上门维修更中鞋类，质量保证，老师傅维修</p>
                            <i class="left fa fa-angle-right"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="clearfix">
                <a href="#">
                    <img src="../../assets/mobile/images/c-seavice1.jpg"  class="left"/>
                    <div class="seavice-infor left">
                        <p class="title">开锁</p>
                        <div class="p-infor clearfix">
                            <p class="left">上门维修更中鞋类，质量保证，老师傅维修</p>
                            <i class="left fa fa-angle-right"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="clearfix mb0">
                <a href="#">
                    <img src="../../assets/mobile/images/c-seavice1.jpg"  class="left"/>
                    <div class="seavice-infor left">
                        <p class="title">开锁</p>
                        <div class="p-infor clearfix">
                            <p class="left">上门维修更中鞋类，质量保证，老师傅维修</p>
                            <i class="left fa fa-angle-right"></i>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="service-head">
            <span class="dot"></span>
            <img src="../../assets/mobile/images/shopping-cart.png" />
            <span class="title">社区超市</span>
            <a href="#" class="right">更多></a>
        </div>
        <ul class="shopping-menu clearfix">
            <li>
                <a href="#">
                    <img src="../../assets/mobile/images/shopping1.jpg" /><br/>
                </a>
                <p class="title">巧克力豆豆</p>
            </li>
            <li>
                <a href="#">
                    <img src="../../assets/mobile/images/shopping2.jpg" /><br/>
                </a>
                <p class="title">巧克力豆豆</p>
            </li>
            <li class="mr0">
                <a href="#">
                    <img src="../../assets/mobile/images/shopping3.jpg"/><br/>
                </a>
                <p class="title">巧克力豆豆</p>
            </li>
            <li>
                <a href="#">
                    <img src="../../assets/mobile/images/shopping4.jpg"/><br/>
                </a>
                <p class="title">巧克力豆豆</p>
            </li>
            <li>
                <a href="#">
                    <img src="../../assets/mobile/images/shopping5.jpg"/><br/>
                </a>
                <p class="title">巧克力豆豆</p>
            </li>
            <li class="mr0">
                <a href="#">
                    <img src="../../assets/mobile/images/shopping6.jpg"/><br/>
                </a>
                <p class="title">巧克力豆豆</p>
            </li>
        </ul>
        <div class="service-head">
            <span class="dot"></span>
            <img src="../../assets/mobile/images/user.png"/>
            <span class="title">社区教育</span>
            <a href="#" class="right">更多></a>
        </div>
        <ul class="train-menu">
            <li class="clearfix">
                <a href="#">
                    <img src="../../assets/mobile/images/train1.jpg"  class="left"/>
                    <div class="train-infor left">
                        <p class="title">保姆的培训</p>
                        <div class="p-ti"><p>保姆培训包括护理的基本常识问题还抱过应急处理的知识，学习包括范围广</p></div>
                        <p>
                        <span class="left">
                            <i class="fa fa-clock-o"></i>
                            <span class="num">6</span>课时
                        </span>
                        <span class="right">
                            <i class="fa fa-user"></i>
                            <span class="num">4555</span>在学习
                        </span>
                        </p>
                    </div>
                </a>
            </li>
            <li class="clearfix">
                <a href="#">
                    <img src="../../assets/mobile/images/train2.jpg"  class="left"/>
                    <div class="train-infor left">
                        <p class="title">保姆的培训</p>
                        <div class="p-ti"><p>保姆培训包括护理的基本常识问题还抱过应急处理的知识，学习包括范围广</p></div>
                        <p>
                        <span class="left">
                            <i class="fa fa-clock-o"></i>
                            <span class="num">6</span>课时
                        </span>
                        <span class="right">
                            <i class="fa fa-user"></i>
                            <span class="num">4555</span>在学习
                        </span>
                        </p>
                    </div>
                </a>
            </li>
            <li class="clearfix">
                <a href="#">
                    <img src="../../assets/mobile/images/train3.jpg"  class="left"/>
                    <div class="train-infor left">
                        <p class="title">保姆的培训</p>
                        <div class="p-ti"><p>保姆培训包括护理的基本常识问题还抱过应急处理的知识，学习包括范围广</p></div>
                        <p>
                        <span class="left">
                            <i class="fa fa-clock-o"></i>
                            <span class="num">6</span>课时
                        </span>
                        <span class="right">
                            <i class="fa fa-user"></i>
                            <span class="num">4555</span>在学习
                        </span>
                        </p>
                    </div>
                </a>
            </li>
            <li class="clearfix">
                <a href="#">
                    <img src="../../assets/mobile/images/train4.jpg"  class="left"/>
                    <div class="train-infor left">
                        <p class="title">保姆的培训</p>
                        <div class="p-ti"><p>保姆培训包括护理的基本常识问题还抱过应急处理的知识，学习包括范围广</p></div>
                        <p>
                        <span class="left">
                            <i class="fa fa-clock-o"></i>
                            <span class="num">6</span>课时
                        </span>
                        <span class="right">
                            <i class="fa fa-user"></i>
                            <span class="num">4555</span>在学习
                        </span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
        <div class="service-head">
            <span class="dot"></span>
            <img src="../../assets/mobile/images/radio.png" />
            <span class="title">社区咨讯</span>
            <a href="#" class="right">更多></a>
        </div>
        <ul class="news-menu clearfix">
            <li>
                <a href="#">
                    <img src="../../assets/mobile/images/news1.jpg"/>
                </a>
                <p>2015重庆 家政服务打开全新...</p>
            </li>
            <li class="mr0">
                <a href="#">
                    <img src="../../assets/mobile/images/news2.jpg"/>
                </a>
                <p>2015重庆 家政服务打开全新...</p>
            </li>
            <li>
                <a href="#">
                    <img src="../../assets/mobile/images/news3.jpg"/>
                </a>
                <p>2015重庆 家政服务打开全新...</p>
            </li>
            <li class="mr0">
                <a href="#">
                    <img src="../../assets/mobile/images/news4.jpg"/>
                </a>
                <p>2015重庆 家政服务打开全新...</p>
            </li>
        </ul>
    </div>
    <div class="foot">
        <ul class="f-menu clearfix">
            <li>
                <a href="index.html">
                    <div class="bt"></div>
                    <span>
                        <i class="fa fa-home"></i>
                    </span><br/>
                    <span>首页</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="brand-service.html">
                    <div class="bt"></div>
                    <span>
                        <i class="fa fa-bars"></i>
                    </span><br/>
                    <span>品牌服务</span>
                    <div class="br"></div>
                </a>
            </li>
            <li class="active">
                <a href="my-community.html">
                    <div class="bt"></div>
                    <span>
                        <i class="fa fa-th-large"></i>
                    </span><br/>
                    <span>我的社区</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="person-center.html">
                    <div class="bt"></div>
                    <span>
                        <i class="fa fa-user"></i>
                    </span><br/>
                    <span>个人中心</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script src="../../assets/global/plugins/swiper/dist/js/swiper.min.js"></script>
<script>
    swiper = new Swiper('.swiper-container', {
//        prevButton:'.swiper-button-prev',
//        nextButton:'.swiper-button-next',
        slidesPerView: 1,
        pagination:'.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 0,
        loop:true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false
    });
</script>
</html>