<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的面试</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <span class="left">
            <i class="fa fa-angle-left"></i>
        </span>
        我的面试
    </div>
    <div class="content bg-ecec">
        <div class="service-head bg-fff mt15">
            <span class="dot"></span>
            <img src="../../assets/mobile/images/order.png"/>
            <span class="title">最近面试 <i class="fa fa-angle-right"></i></span>
        </div>
        <ul class="order-menu pd2 pt15 bg-fff">
            <li>
                <p class="clearfix">
                    <span class="left">高级月嫂 : 面试人</span>
                    <span class="right">定金 : 100</span>
                </p>
                <p class="clearfix">
                    <span class="left">面试时间 : 2016-2-2</span>
                    <span class="right">全款 : 1000</span>
                </p>
                <p class="clearfix">
                    <span class="left">支付状态 : 已付定金</span>
                    <span class="right">订单状态 : 待服务</span>
                </p>
                <p class="clearfix">
                    <a href="#" class="btn-ALLMoney right">支付全款</a>
                </p>
            </li>
            <li>
                <p class="clearfix">
                    <span class="left">高级月嫂 : 面试人</span>
                    <span class="right">定金 : 100</span>
                </p>
                <p class="clearfix">
                    <span class="left">面试时间 : 2016-2-2</span>
                    <span class="right">全款 : 1000</span>
                </p>
                <p class="clearfix">
                    <span class="left">支付状态 : 已付定金</span>
                    <span class="right">订单状态 : 待服务</span>
                </p>
                <p class="clearfix">
                    <a href="#" class="btn-ALLMoney right">支付全款</a>
                </p>
            </li>
            <li>
                <p class="clearfix">
                    <span class="left">高级月嫂 : 面试人</span>
                    <span class="right">定金 : 100</span>
                </p>
                <p class="clearfix">
                    <span class="left">面试时间 : 2016-2-2</span>
                    <span class="right">全款 : 1000</span>
                </p>
                <p class="clearfix">
                    <span class="left">支付状态 : 已付定金</span>
                    <span class="right">订单状态 : 待服务</span>
                </p>
                <p class="clearfix">
                    <a href="#" class="btn-ALLMoney right">支付全款</a>
                </p>
            </li>
            <li>
                <p class="clearfix">
                    <span class="left">高级月嫂 : 面试人</span>
                    <span class="right">定金 : 100</span>
                </p>
                <p class="clearfix">
                    <span class="left">面试时间 : 2016-2-2</span>
                    <span class="right">全款 : 1000</span>
                </p>
                <p class="clearfix">
                    <span class="left">支付状态 : 已付定金</span>
                    <span class="right">订单状态 : 待服务</span>
                </p>
                <p class="clearfix">
                    <a href="#" class="btn-ALLMoney right">支付全款</a>
                </p>
            </li>
            <li>
                <p class="clearfix">
                    <span class="left">高级月嫂 : 面试人</span>
                    <span class="right">定金 : 100</span>
                </p>
                <p class="clearfix">
                    <span class="left">面试时间 : 2016-2-2</span>
                    <span class="right">全款 : 1000</span>
                </p>
                <p class="clearfix">
                    <span class="left">支付状态 : 已付定金</span>
                    <span class="right">订单状态 : 待服务</span>
                </p>
                <p class="clearfix">
                    <a href="#" class="btn-ALLMoney right">支付全款</a>
                </p>
            </li>
        </ul>
    </div>
    <div class="foot">
        <ul class="f-menu clearfix">
            <li>
                <a href="index.html">
                                <span>
                                    <i class="fa fa-home"></i>
                                </span>
                    <span>首页</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="brand-service.html">
                                <span>
                                    <i class="fa fa-star-o"></i>
                                </span>
                    <span>星级服务</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="person-center.html">
                                <span>
                                    <i class="fa fa-user"></i>
                                </span>
                    <span>个人中心</span>
                </a>
            </li>
        </ul>
        <div class="copyright">
            <div class="copyright-head">
                <img src="../../assets/mobile/images/index-logo.png" alt="" class="index-logo"/>
                家服汇
            </div>
            <p>
                重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-1
            </p>
        </div>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</html>