<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>历史订单</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="wrapper">
    <div class="content bg-ecec">
        <div class="service-head bg-fff mt15">
            <span class="dot"></span>
            <img src="../../assets/mobile/images/order.png"/>
            <span class="title">最近订单 <i class="fa fa-angle-right"></i></span>
        </div>
        <ul class="order-menu pt15 bg-fff">
            <li class="clearfix">
                <img src="../../assets/mobile/images/order-img1.jpg" class="left"/>
                <div class="order-infor">
                    <p class="title">订单编号：241515321351</p>
                    <p>家居基础保洁</p>
                    <p>订单状态 <span class="num1">已指派</span></p>
                    <a href="#" class="btn-comment right">评论</a>
                </div>
            </li>
            <li class="clearfix">
                <img src="../../assets/mobile/images/order-img1.jpg" class="left"/>
                <div class="order-infor">
                    <p class="title">订单编号：241515321351</p>
                    <p>家居基础保洁</p>
                    <p>订单状态 <span class="num">已完成</span></p>
                    <a href="#" class="btn-comment bg-ccc right">已评论</a>
                </div>
            </li>
            <li class="clearfix">
                <img src="../../assets/mobile/images/order-img1.jpg" class="left"/>
                <div class="order-infor">
                    <p class="title">订单编号：241515321351</p>
                    <p>家居基础保洁</p>
                    <p>订单状态 <span class="num">已完成</span></p>
               <a href="#" class="btn-comment right">评论</a>
                </div>
            </li>
            <li class="clearfix">
                <img src="../../assets/mobile/images/order-img1.jpg" class="left"/>
                <div class="order-infor">
                    <p class="title">订单编号：241515321351</p>
                    <p>家居基础保洁</p>
                    <p>订单状态 <span class="num">已完成</span></p>
               <a href="#" class="btn-comment right">评论</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="foot">
        <ul class="f-menu clearfix">
            <li>
                <a href="index.html">
                    <div class="bt"></div>
                    <span>
                        <i class="fa fa-home"></i>
                    </span><br/>
                    <span>首页</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="brand-service.html">
                    <div class="bt"></div>
                    <span>
                        <i class="fa fa-bars"></i>
                    </span><br/>
                    <span>品牌服务</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="my-community.html">
                    <div class="bt"></div>
                    <span>
                        <i class="fa fa-th-large"></i>
                    </span><br/>
                    <span>我的社区</span>
                    <div class="br"></div>
                </a>
            </li>
            <li class="active">
                <a href="person-center.html">
                    <div class="bt"></div>
                    <span>
                        <i class="fa fa-user"></i>
                    </span><br/>
                    <span>个人中心</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</html>