<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <span class="left">
                <i class="fa fa-angle-left"></i>
            </span>
            个人中心
        </div>
        <div class="content bg-ecec">
                <div class="person-div clearfix">
                    <img src="../../assets/mobile/images/person-bg.jpg" class="img-responsive person-bg" />
                    <img src="../../assets/mobile/images/potrite.png" class="potrite left"/>
                    <div class="person-infor left">
                        <p>陈小洁</p>
                        <p>15086677745</p>
                        <p>重庆市巴南区恒大城<a href="modify-personInfor.html" class="btn-infor">编辑</a></p>
                    </div>
                </div>
                <ul class="money-infor clearfix">
                    <li>
                        <a href="#">
                            <span class="num">800元</span><br/>
                            <span>余额</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="num">0张</span><br/>
                            <span>优惠券</span>
                        </a>
                    </li>
                    <li class="br0">
                        <a href="#">
                            <span class="num">7</span><br/>
                            <span>积分</span>
                        </a>
                    </li>
                </ul>
                <div class="service-head">
                    <span class="dot"></span>
                    <img src="../../assets/mobile/images/order.png"/>
                    <span class="title">我的订单 <i class="fa fa-angle-right"></i></span>
                    <a href="#" class="right">查看更多订单 <i class="fa fa-angle-right"></i></a>
                </div>
                <ul class="order-menu bg-fff">
                    <li class="clearfix">
                        <img src="../../assets/mobile/images/order-img1.jpg" class="left"/>
                        <div class="order-infor">
                            <p class="title">订单编号：241515321351</p>
                            <p>家居基础保洁 <span class="right money">80.00</span></p>
                            <p>支付状态 : <span class="pay-type">已支付</span></p>
                            <p>订单状态 :
                                <a href="javascript:;" class="btn-payMoney btn-pay" dataPayStyle="订金" dataServiceName="初级月嫂" dataLittleMoney="0.01" dataAllMoney="500"><span class="distribution-type">付款</span></a>

                                </p>
                            <a href="#" class="btn-comment bg-ccc">评论</a>
                        </div>
                    </li>
                    <li class="clearfix">
                        <img src="../../assets/mobile/images/order-img1.jpg" class="left"/>
                        <div class="order-infor">
                            <p class="title">订单编号：241515321351</p>
                            <p>家居基础保洁 <span class="right money">80.00</span></p>
                            <p>支付状态 : <span class="pay-type">已支付</span></p>
                            <p>订单状态 : <span class="distribution-type">已分配</span></p>
                            <a href="#" class="btn-comment bg-ccc">评论</a>
                        </div>
                    </li>
                </ul>
                <div class="service-head">
                    <span class="dot"></span>
                    <img src="../../assets/mobile/images/package.png"/>
                    <span class="title">我的面试 <i class="fa fa-angle-right"></i></span>
                    <a href="#" class="right">查看全部面试 <i class="fa fa-angle-right"></i></a>
                </div>
                <ul class="order-menu pd2 pdt0 bg-fff">
                    <li>
                        <p class="clearfix">
                            <span class="left">高级月嫂 : 面试人</span>
                            <span class="right">定金 : 100</span>
                        </p>
                        <p class="clearfix">
                            <span class="left">面试时间 : 2016-2-2</span>
                            <span class="right">全款 : 1000</span>
                        </p>
                        <p class="clearfix">
                            <span class="left">支付状态 : 已付定金</span>
                            <span class="right">订单状态 : 待服务</span>
                        </p>
                        <p class="clearfix">
                            <a href="#" class="btn-ALLMoney right">支付全款</a>
                        </p>
                    </li>
                    <li>
                        <p class="clearfix">
                            <span class="left">高级月嫂 : 面试人</span>
                            <span class="right">定金 : 100</span>
                        </p>
                        <p class="clearfix">
                            <span class="left">面试时间 : 2016-2-2</span>
                            <span class="right">全款 : 1000</span>
                        </p>
                        <p class="clearfix">
                            <span class="left">支付状态 : 已付定金</span>
                            <span class="right">订单状态 : 待服务</span>
                        </p>
                        <p class="clearfix">
                            <a href="#" class="btn-ALLMoney right">支付全款</a>
                        </p>
                    </li>
                </ul>
                <div class="service-head bg-fff">
                    <a href="modify-address.html" class="top0">
                        <span class="dot"></span>
                        <img src="../../assets/mobile/images/address.png"/>
                        <span class="title">地址管理</span>
                        <span class="right"><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
                <div class="service-head bg-fff">
                    <a href="modify-password.html" class="top0">
                        <span class="dot"></span>
                        <img src="../../assets/mobile/images/lock.png"/>
                        <span class="title">修改密码</span>
                        <span class="right"><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            <div class="service-head bg-fff btn-returnLogin">
                <a href="login.html" class="top0 ">
                    退出登录
                </a>
            </div>
        </div>
        <div class="foot">
            <ul class="f-menu clearfix">
                <li>
                    <a href="index.html">
                                    <span>
                                        <i class="fa fa-home"></i>
                                    </span>
                        <span>首页</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="brand-service.html">
                                    <span>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                        <span>星级服务</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="person-center.html">
                                    <span>
                                        <i class="fa fa-user"></i>
                                    </span>
                        <span>个人中心</span>
                    </a>
                </li>
            </ul>
            <div class="copyright">
                <div class="copyright-head">
                    <img src="../../assets/mobile/images/index-logo.png" alt="" class="index-logo"/>
                    家服汇
                </div>
                <p>
                    重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-1
                </p>
            </div>
        </div>
        <div class="payStyle hide">
            <div class="payStyle-content">

            </div>
        </div>
    </div>
</body>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script src="../../assets/mobile/js/payDailog.js"></script>
<script>
    $(function(){
        /*面试弹窗*/
        function heightAuto(){
            var ht = -$(".payStyle-content,.payment-money").get(0).offsetHeight/2+"px";
            $(".payStyle-content,.payment-money").get(0).style.marginTop = ht;
        }

        $(".payment-money").delegate(".fa-remove","click",function(){
            $(".mask-bg,.mask,.payment-money").addClass("hide");
        });
        $(".btn-interviewSuccess").on("click",function(e){
            e.preventDefault();
            $(".mask-bg,.mask,.payment-money").removeClass("hide");
            heightAuto()
        });

        $(".btn-sure").on("click",function(){
            $(".mask-bg,.mask,.payment-money").addClass("hide");
        });


        /*支付弹窗*/
        $(".order-menu").delegate(".btn-payMoney,.btn-payAllMoney","click",function(e){
            $(".payStyle-bg,.payStyle").removeClass("hide");
            e.preventDefault();
            $(this).payStyle({
                dataPayStyle:$(this).attr("dataPayStyle"),
                dataServiceName:$(this).attr("dataServiceName"),
                dataLittleMoney:$(this).attr("dataLittleMoney"),
                dataAllMoney:$(this).attr("dataAllMoney")
            });
        });
        $(".payStyle-content").delegate(".fa-remove","click",function(){
            $(".payStyle-bg,.payStyle").addClass("hide");
        });
    })
</script>
</html>