<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>充值记录</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <span class="left">
                <i class="fa fa-angle-left"></i>
            </span>
            充值记录
        </div>
        <div class="content">
            <div class="height-con">
                <div class="service-head bg-fff mt15">
                    <span class="title">余额 : 800.00</span>
                </div>
                <div class="h10"></div>
                <div class="service-head bg-fff mt0">
                    <span class="dot"></span>
                    <img src="../../assets/mobile/images/order.png"/>
                    <span class="title">充值记录 <i class="fa fa-angle-right"></i></span>
                </div>
                <div class="h10"></div>
                <table class="record-table">
                    <tr>
                        <th>充值金额</th>
                        <th>充值时间</th>
                        <th>支付状态</th>
                        <th>订单状态</th>
                    </tr>
                    <tr>
                        <td>100.0</td>
                        <td>2016-03-24 14:35:28</td>
                        <td>已支付</td>
                        <td>已完成</td>
                    </tr>
                    <tr>
                        <td>100.0</td>
                        <td>2016-03-24 14:35:28</td>
                        <td>已支付</td>
                        <td>已完成</td>
                    </tr>
                    <tr>
                        <td>100.0</td>
                        <td>2016-03-24 14:35:28</td>
                        <td>已支付</td>
                        <td>已完成</td>
                    </tr>
                </table>
                <div class="money-div">
                    请选择充值金额 :
                    <select id="" class="select-money">
                        <option value="50.00">50.00</option>
                        <option value="100.00">100.00</option>
                        <option value="100.00">100.00</option>
                    </select>
                </div>
            </div>
            <div class="form-group mb0 submit-div">
                <input type="submit" class="input bg" value="充值"/>
            </div>
        </div>
        <div class="foot">
            <ul class="f-menu clearfix">
                <li>
                    <a href="index.html">
                                    <span>
                                        <i class="fa fa-home"></i>
                                    </span>
                        <span>首页</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="brand-service.html">
                                    <span>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                        <span>星级服务</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="person-center.html">
                                    <span>
                                        <i class="fa fa-user"></i>
                                    </span>
                        <span>个人中心</span>
                    </a>
                </li>
            </ul>
            <div class="copyright">
                <div class="copyright-head">
                    <img src="../../assets/mobile/images/index-logo.png" alt="" class="index-logo"/>
                    家服汇
                </div>
                <p>
                    重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-1
                </p>
            </div>
        </div>
    </div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script src="../../assets/mobile/js/btnHandle.js"></script>
</html>