<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>注册</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <style>
        .help-block{color: #fb7f53;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="head fixed">
            <span class="left">
                <i class="fa fa-angle-left"></i>
            </span>
            注册
        </div>
        <div class="content bg">
            <div class="logBodyBg"><img src="../../assets/mobile/images/d_mobilebg.jpg"></div>
            <form action="#" class="login-form" id="register-form">
                <div class="form-group clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="请输入您的手机号码" id="mobile" name="mobile">
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="password" class="form-control" placeholder="请输密码" id="password" name="password">
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                            <input type="password" class="form-control" placeholder="请再次输密码" name="confirmPwd">
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-bars"></i>
                                </span>
                            <input type="text" class="form-control" placeholder="邀请码">
                        </div>
                    </div>
                </div>
                <div class="form-group w100 clearfix">
                    <div class="col-sm-6 col-xs-6 col-md-6">
                        <input type="text" class="form-control" placeholder="请输入验证码">
                    </div>
                    <div class="col-sm-6 col-xs-6 col-md-6">
                        <input type="button" id="getting" class="code form-control" value="获取验证码">
                    </div>

                </div>
                <div class="form-group w100 clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12" style="color: #fff;">
                        <label class="checkboxs"><input type="checkbox"/>我已阅读并接受</label> <a href="#" style="color: #fbb432">《网站注册服务条款》</a>
                    </div>
                </div>
                <div class="form-group w100 clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <input type="submit" class="form-control btn-register" value="立即注册" readonly="readonly">
                    </div>
                </div>
                <div class="form-group w100 clearfix">
                    <a href="login.html" class="right" style="color: #fff;position: relative;right: 5%;">已有账号? 立刻登录</a>
                </div>
            </form>
        </div>
        <div class="foot">
            <ul class="f-menu clearfix">
                <li>
                    <a href="index.html">
                                    <span>
                                        <i class="fa fa-home"></i>
                                    </span>
                        <span>首页</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="brand-service.html">
                                    <span>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                        <span>星级服务</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="person-center.html">
                                    <span>
                                        <i class="fa fa-user"></i>
                                    </span>
                        <span>个人中心</span>
                    </a>
                </li>
            </ul>
            <div class="copyright">
                <div class="copyright-head">
                    <img src="../../assets/mobile/images/index-logo.png" alt="" class="index-logo"/>
                    家服汇
                </div>
                <p>
                    重庆至尚科技发展有限公司 CopyRight@2014-2019 备案号：渝ICP备15005428号-1
                </p>
            </div>
        </div>
    </div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script src="../../assets/global/plugins/jquery-validate/jquery.validate.min.js"></script>
<script src="../../assets/global/plugins/jquery-validate/messages_zh.js"></script>
<script>
    $(function(){
                    function heightAuto(){
                var d = $(".login-form");
                d.each(function(){
                    var ht = -$(this).get(0).offsetHeight/2+"px";
                    $(this).get(0).style.marginTop = ht;
                });
            }
            heightAuto();
        $('#getting').click(function(){
            var btn = $(this);
            var count = 60;
            var resend = setInterval(function(){
                count--;
                if (count > 0){
                    btn.val(count+"秒后可重新获取");
                    btn.addClass("active");
//                        $.cookie("captcha", count, {path: '/', expires: (1/86400)*count});
                }else {
                    clearInterval(resend);
                    btn.removeClass("active");
                    btn.val("获取验证码").removeAttr('disabled style');
                }
            }, 1000);
            btn.attr('disabled',true).css('cursor','not-allowed');
        });



        $("#register-form").validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            rules: {
//                    mobile:{
//                        required:true,
//                        phone:true,
//                        remote: {
//                            url: "/isExistPhone.do",    //后台处理程序
//                            type: "post",               //数据发送方式
//                            dataType: "json",           //接受数据格式
//                            data: {//要传递的数据
//                                phone: function (){
//                                    return $("#mobile").val();
//                                }
//                            }
//                        }
//                    },
                mobile:{
                    required:true,
                    phone:true
                },
                password:{
                    required:true,
                    maxlength:16,
                    minlength:6
                },
                confirmPwd: {
                    required: true,
                    equalTo: "#password"
                },

                validateCode:{
                    required:true
                }
            },

            messages: {
                validateCode:{
                    required:"请输入验证码"
                },

                password:{
                    required:"请输入密码",
                    minlength: jQuery.validator.format("密码不能少于 {0} 个字符"),
                    maxlength: jQuery.validator.format("密码不能多于 {0} 个字符")
                },

                confirmPwd: {
                    required: "请输入确认密码",
                    equalTo: "两次输入密码不相同"
                },

//                    mobile:{
//                        required:"请输入手机号码",
//                        remote:"该手机已被注册"
//                    }
                mobile:{
                    required:"请输入手机号码",
                    phone:"请输入正确手机号码"
                }
            },

            errorPlacement: function (error, element) { // render error placement for each input type
                if (element.parent(".input-group").size() > 0) {
                    error.insertAfter(element.parent(".input-group"));
                    heightAuto();
                } else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                }
            },

            highlight: function (element) { // hightlight error inputs
                $(element).closest('.input-group').removeClass("has-success").addClass('has-error'); // set error class to the control group
            },

            unhighlight: function (element) { // revert the change done by hightlight
                $(element).closest('.input-group').removeClass('has-error'); // set error class to the control group
            },

            success: function (label, element) {
                label.closest('.input-group').removeClass('has-error'); // set success class to the control group
            },

            submitHandler: function(form) {
//                    register();
            }
        });
    })
</script>
</html>