<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>下单信息</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="wrapper">
    <div class="content bg-ecec">
        <div class="booking-form">
            <form action="#">
                <div class="height-con">
                    <div class="form-group w100">
                        <div class="service-head bg-fff mt15">
                            <span class="dot"></span>
                            <span class="title">收货信息</span>
                        </div>
                        <div class="h10"></div>
                    </div>

                    <div class="form-group mb0 w100">
                        <div class="btn-addAddress">
                            <a href="地址列表.html">
                                +添加地址
                            </a>
                        </div>
                        <ul class="infor-list hide">
                            <li>
                                <span class="time">时间 : 2015-11-1</span><br/>
                                <span class="address-infor">地址 : 重庆市渝中区袁家岗长江二路</span><br/>
                                <span class="name">联系人 : 张三</span><br/>
                                <span class="phone">联洗电话 : 1367847863</span>
                                <a href="修改地址.html" class="btn-modiflyAddress">修改地址</a>
                            </li>
                            <li>
                                <span class="time">时间 : 2015-11-1</span><br/>
                                <span class="address-infor">地址 : 重庆市渝中区袁家岗长江二路</span><br/>
                                <span class="name">联系人 : 张三</span><br/>
                                <span class="phone">联洗电话 : 1367847863</span>
                                <a href="修改地址.html" class="btn-modiflyAddress">修改地址</a>
                            </li>
                        </ul>
                        <div class="h10"></div>
                    </div>
                    <div class="form-group">
                        <p class="title">请选择服务时间</p>
                        <span class="span-wdate">
                            <input class="Wdate" placeholder="2015-5-5" type="text" id="d15" onFocus="WdatePicker({minDate:'%y-%M-{%d}',isShowClear:false,readOnly:true})"/>
                            <img class="Wdate-img" onclick="WdatePicker({minDate:'%y-%M-{%d}',el:'d15'})" src="../../assets/global/plugins/My97DatePicker/skin/datePicker.gif" width="16" height="22">
                        </span>
                        <select name="" class="select-time select-time1">
                            <option value="8:00">8:00</option>
                            <option value="9:00">9:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                        </select>
                        到
                        <select name="" class="select-time select-time2">
                            <option value="9:00">9:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                        </select>
                    </div>

                <div class="form-group w100">
                    <div class="h10"></div>

                    <div class="service-head bg-fff mt15">
                        <span class="dot"></span>
                        <span class="title">订单信息</span>
                    </div>
                    <div class="h10"></div>
                </div>
                    <div class="form-group w100">
                        <ul class="order-list">
                            <li>
                                <div class="div-img">
                                    <img src="../../assets/frontend/images/m-img1.jpg" alt="" class="order-img"/>
                                </div>
                                <div class="orderList-infor">
                                    <span>服务类型 : 保洁</span><br/>
                                    <span>服务项目 : 开荒</span><br/>
                                    <span>价格(元) : <span class="num">0.01</span></span><br/>
                                    <span>数量 : <span class="num">0</span></span>
                                </div>
                            </li>
                        </ul>
                        <div class="h10"></div>
                    </div>
                    <div class="form-group w100">
                        <div class="sale-infor">
                            <span>渠道商优惠 : 80%</span>
                            <span>小计(元)0.02</span>
                        </div>



                        <div class="weui_cells weui_cells_checkbox">
                            <label class="weui_cell weui_check_label" for="s11">
                                <div class="weui_cell_hd">
                                    <input type="radio" class="weui_check" name="checkbox1" id="s11" checked="checked">
                                    <i class="weui_icon_checked"></i>
                                </div>
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>使用点券 <span class="right num">xxx优惠券(显示优惠券信息)</span></p>
                                </div>
                            </label>
                            <label class="weui_cell weui_check_label" for="s12">
                                <div class="weui_cell_hd">
                                    <input type="radio" name="checkbox1" class="weui_check" id="s12">
                                    <i class="weui_icon_checked"></i>
                                </div>
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p>使用电子钱包 <span class="right num">余额90.00</span></p>
                                </div>
                            </label>
                        </div>


                    </div>
                </div>
                <div class="form-group submit-div">
                    <input type="submit" class="input bg" value="提交"/>
                </div>
            </form>
        </div>
    </div>
    <div class="foot">
        <ul class="f-menu clearfix">
            <li>
                <a href="首页.html">
                    <div class="bt"></div>
                        <span>
                            <i class="fa fa-home"></i>
                        </span><br/>
                    <span>首页</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="品牌服务.html">
                    <div class="bt"></div>
                        <span>
                            <i class="fa fa-bars"></i>
                        </span><br/>
                    <span>品牌服务</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="我的社区.html">
                    <div class="bt"></div>
                        <span>
                            <i class="fa fa-th-large"></i>
                        </span><br/>
                    <span>我的社区</span>
                    <div class="br"></div>
                </a>
            </li>
            <li class="active">
                <a href="个人中心.html">
                    <div class="bt"></div>
                        <span>
                            <i class="fa fa-user"></i>
                        </span><br/>
                    <span>个人中心</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
<!--<script src="../../assets/mobile/js/btnHandle.js"></script>-->
<script>
    $(function(){
        /*下拉框时间控制*/
        var num1,str1,num;
        $(".form-group").delegate(".select-time1","change",function(){
            num1 = parseInt($(this).find("option:selected").text());
            num  = parseInt($(this).find("option:last").text())-num1;
            str1 = "";
            for(var i = 0;i<num;i++){
                str1 += '<option value="">'+ ++num1 +':00</option>';
            }
            $(this).closest(".form-group").find(".select-time2").html(str1);
        })
    });
</script>
</html>