<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>个人注册</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-main">
                <i class="fa fa-bars left"></i>
                <span class="title">注册</span>
            </div>
            <div class="mask-head hide">
                <ul class="menu-list">
                    <li>
                        <a href="">
                            <i class="fa fa-home"></i>　
                            <span>首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-bars"></i>　
                            <span>品牌服务</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-th-large"></i>　
                            <span>我的社区</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-user"></i>　
                            <span>个人中心</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script>
    $(function(){
        /*手机顶部页面切换*/
        var hg = $(".head-main .fa-bars");
        var mm = $(".mask-head");
//        hg.on("click", function () {
//            if (mm.css("display") == "none") {
//                mm.css({"display": "inline-block"});
//                mm.animate({"marginLeft": "0"}, 100);
//
//            }
//        });
//
//        mm.on("click", function () {
//            $(this).animate({"marginLeft": "-100%"}, 100,function(){
//                $(this).css({"display": "none"});
//            });
//        });



        hg.on("click", function (e) {
            e.stopPropagation();
            mm.removeClass("hide");
            mm.addClass('slideIn');
            mm.removeClass('slideOut');
        });

        mm.on("click", function () {
            $(this).addClass('hide');
            $(this).removeClass('slideIn');
            $(this).addClass('slideOut');

        });




    })
</script>
</html>