<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <style>
        .col-sm-8{padding-right: 0;}
        .col-sm-3{padding-left: 0;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content hide bg-ecec">
                <div class="person-div clearfix">
                    <img src="../../assets/mobile/images/person-bg.jpg" class="img-responsive person-bg" />
                    <img src="../../assets/mobile/images/potrite.png" class="potrite left"/>
                    <div class="person-infor left">
                        <p>陈小洁</p>
                        <p>15086677745</p>
                        <p>重庆市巴南区恒大城<a href="#" class="btn-infor">编辑</a></p>
                    </div>
                </div>
                <ul class="money-infor clearfix">
                    <li>
                        <a href="#">
                            <span class="num">800元</span><br/>
                            <span>余额</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="num">0张</span><br/>
                            <span>优惠券</span>
                        </a>
                    </li>
                    <li class="br0">
                        <a href="#">
                            <span class="num">7</span><br/>
                            <span>积分</span>
                        </a>
                    </li>
                </ul>
                <div class="service-head">
                    <span class="dot"></span>
                    <img src="../../assets/mobile/images/order.png"/>
                    <span class="title">我的订单 <i class="fa fa-angle-right"></i></span>
                    <a href="#" class="right">查看更多订单 <i class="fa fa-angle-right"></i></a>
                </div>
                <ul class="order-menu bg-fff">
                    <li class="clearfix">
                        <img src="../../assets/mobile/images/order-img1.jpg" class="left"/>
                        <div class="order-infor">
                            <p class="title">订单编号：241515321351</p>
                            <p>家居基础保洁 <span class="right money">80.00</span></p>
                            <p>支付状态 : <span class="pay-type">已支付</span></p>
                            <p>订单状态 : <span class="distribution-type">已分配</span></p>
                            <a href="#" class="btn-comment bg-ccc">评论</a>
                        </div>
                    </li>
                    <li class="clearfix">
                        <img src="../../assets/mobile/images/order-img1.jpg" class="left"/>
                        <div class="order-infor">
                            <p class="title">订单编号：241515321351</p>
                            <p>家居基础保洁 <span class="right money">80.00</span></p>
                            <p>支付状态 : <span class="pay-type">已支付</span></p>
                            <p>订单状态 : <span class="distribution-type">已分配</span></p>
                            <a href="#" class="btn-comment bg-ccc">评论</a>
                        </div>
                    </li>
                </ul>
                <div class="service-head">
                    <span class="dot"></span>
                    <img src="../../assets/mobile/images/package.png"/>
                    <span class="title">我的面试 <i class="fa fa-angle-right"></i></span>
                    <a href="#" class="right">查看全部面试 <i class="fa fa-angle-right"></i></a>
                </div>
                <ul class="order-menu pd2 bg-fff">
                    <li>
                        <p class="clearfix">
                            <span class="left">高级月嫂 : 面试人</span>
                            <span class="right">定金 : 100</span>
                        </p>
                        <p class="clearfix">
                            <span class="left">面试时间 : 2016-2-2</span>
                            <span class="right">全款 : 1000</span>
                        </p>
                        <p class="clearfix">
                            <span class="left">支付状态 : 已付定金</span>
                            <span class="right">订单状态 : 待服务</span>
                        </p>
                        <p class="clearfix">
                            <a href="#" class="btn-ALLMoney right">支付全款</a>
                        </p>
                    </li>
                    <li>
                        <p class="clearfix">
                            <span class="left">高级月嫂 : 面试人</span>
                            <span class="right">定金 : 100</span>
                        </p>
                        <p class="clearfix">
                            <span class="left">面试时间 : 2016-2-2</span>
                            <span class="right">全款 : 1000</span>
                        </p>
                        <p class="clearfix">
                            <span class="left">支付状态 : 已付定金</span>
                            <span class="right">订单状态 : 待服务</span>
                        </p>
                        <p class="clearfix">
                            <a href="#" class="btn-ALLMoney right">支付全款</a>
                        </p>
                    </li>
                </ul>
                <div class="service-head bg-fff">
                    <a href="#" class="top0">
                        <span class="dot"></span>
                        <img src="../../assets/mobile/images/address.png"/>
                        <span class="title">地址管理 <i class="fa fa-angle-right"></i></span>
                        <span class="right"><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
                <div class="service-head bg-fff">
                    <a href="#" class="top0">
                        <span class="dot"></span>
                        <img src="../../assets/mobile/images/lock.png"/>
                        <span class="title">修改密码 <i class="fa fa-angle-right"></i></span>
                        <span class="right"><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>


        </div>
        <div class="content hide bg">
            <div class="logBodyBg"><img src="../../assets/mobile/images/d_mobilebg.jpg"></div>
            <form action="#" class="login-form">
                <div class="form-group clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </span>
                            <input type="text" class="form-control" placeholder="请输入您的昵称">
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                            <input type="password" class="form-control" placeholder="请输密码">
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                            <input type="passwordrecord" class="form-control" placeholder="请再次输密码">
                        </div>
                    </div>
                </div>
                <div class="form-group w100 clearfix">
                    <div class="col-sm-8 col-xs-8 col-md-8">
                        <input type="text" id="mobile" class="form-control" placeholder="请输入验证码">
                    </div>
                    <div class="col-sm-4 col-xs-4 col-md-4">
                        <input type="button" id="getting" class="code form-control" value="获取验证码">
                    </div>

                </div>
                <div class="form-group w100 clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12" style="color: #fff;">
                        <label class="checkboxs"><input type="checkbox"/>我已阅读并接受</label> <a href="#" style="color: #fbb432">《网站注册服务条款》</a>
                    </div>
                </div>
                <div class="form-group w100 clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <input type="submit" class="form-control btn-register" value="立即注册">
                    </div>
                </div>
                <div class="form-group w100 clearfix">
                    <a href="logo.html" class="right" style="color: #fff;position: relative;right: 5%;">已有账号? 立刻登录</a>
                </div>
            </form>
        </div>

        <div class="content bg">
            <div class="logBodyBg"><img src="../../assets/mobile/images/d_mobilebg.jpg"></div>
            <form action="#" class="login-form">
                <div class="form-group clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </span>
                            <input type="text" class="form-control" placeholder="请输入您的昵称">
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                            <input type="password" class="form-control" placeholder="请输密码">
                        </div>
                    </div>
                </div>
                <div class="form-group w100 clearfix">
                    <div class="col-sm-8 col-xs-8 col-md-8">
                        <input type="text" id="mobile" class="form-control" placeholder="请输入验证码">
                    </div>
                    <div class="col-sm-4 col-xs-4 col-md-4">
                        <input type="button" id="getting" class="code form-control" value="获取验证码">
                    </div>

                </div>
                <div class="form-group w100 clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12" style="color: #fff;">
                        <label class="checkboxs"><input type="checkbox"/>下次自动登录</label>
                    </div>
                </div>
                <div class="form-group w100 clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <input type="submit" class="form-control btn-register" value="立即登陆">
                    </div>
                </div>
                <div class="form-group w100 clearfix">
                    <a href="logo.html" class="right" style="color: #fff;position: relative;right: 5%;">无账号? 立刻注册</a>
                </div>
            </form>
        </div>
        <div class="foot">
            <ul class="f-menu clearfix">
                <li>
                    <a href="首页.html">
                        <div class="bt"></div>
                            <span>
                                <i class="fa fa-home"></i>
                            </span><br/>
                        <span>首页</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="品牌服务.html">
                        <div class="bt"></div>
                            <span>
                                <i class="fa fa-bars"></i>
                            </span><br/>
                        <span>品牌服务</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="我的社区.html">
                        <div class="bt"></div>
                            <span>
                                <i class="fa fa-th-large"></i>
                            </span><br/>
                        <span>我的社区</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li class="active">
                    <a href="个人中心.html">
                        <div class="bt"></div>
                            <span>
                                <i class="fa fa-user"></i>
                            </span><br/>
                        <span class="hide">个人中心</span>
                        <span>登陆</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script>
//        $(function(){
//            function heightAuto(){
//                var d = $(".login-form");
//                d.each(function(){
//                    var ht = -$(this).get(0).offsetHeight/2+"px";
//                    $(this).get(0).style.marginTop = ht;
//                });
//            }
//            heightAuto();
//        })
    </script>
</html>