<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>品牌服务</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <ul class="service-menu clearfix">
            <li>
                <img src="../../assets/mobile/images/service1.png" class="service-img"/><br/>
                <span class="title">及时响应</span>
                <img src="../../assets/mobile/images/brone.png" class="brone"/><br/>
            </li>
            <li>
                <img src="../../assets/mobile/images/service2.png" class="service-img"/><br/>
                <span class="title">品质保证</span>
                <img src="../../assets/mobile/images/brone.png" class="brone"/><br/>
            </li>
            <li>
                <img src="../../assets/mobile/images/service3.png" class="service-img"/><br/>
                <span class="title">安全保证</span>
                <img src="../../assets/mobile/images/brone.png" class="brone"/><br/>
            </li>
            <li>
                <img src="../../assets/mobile/images/service4.png" class="service-img"/><br/>
                <span class="title">实名认证</span>
                <img src="../../assets/mobile/images/brone.png" class="brone"/><br/>
            </li>
            <li>
                <img src="../../assets/mobile/images/service5.png" class="service-img"/><br/>
                <span class="title">补实保证</span>
            </li>
        </ul>
        <img src="../../assets/mobile/images/train-img.jpg" class="img-responsive train-img"/>
        <ul class="searvice-menu">
            <li class="clearfix">
                <img src="../../assets/mobile/images/service-type1.jpg" class="service-type left"/>
                <div class="searvice-infor left">
                    <p class="title">家居保洁</p>
                    <p>
                        <span>
                            <span class="yuan"></span>
                            <span>1+N服务模式</span>
                        </span>
                       <span>
                            <span class="yuan"></span>
                            <span>7区49项</span>
                        </span>
                    </p>
                    <p>
                        <span>
                            <span class="yuan"></span>
                            <span>全程无死角</span>
                        </span>
                        <span>
                            <span class="yuan"></span>
                            <span>引进台湾专业设备</span>
                        </span>
                    </p>
                </div>
            </li>
            <li class="clearfix">
                <img src="../../assets/mobile/images/service-type1.jpg" class="service-type left"/>
                <div class="searvice-infor left">
                    <p class="title bg1">母婴护理</p>
                    <p>
                        <span>
                            <span class="yuan bg1"></span>
                            <span>1+N服务模式</span>
                        </span>
                       <span>
                            <span class="yuan bg1"></span>
                            <span>7区49项</span>
                        </span>
                    </p>
                    <p>
                        <span>
                            <span class="yuan bg1"></span>
                            <span>全程无死角</span>
                        </span>
                        <span>
                            <span class="yuan bg1"></span>
                            <span>引进台湾专业设备</span>
                        </span>
                    </p>
                </div>
            </li>
            <li class="clearfix">
                <img src="../../assets/mobile/images/service-type1.jpg" class="service-type left"/>
                <div class="searvice-infor left">
                    <p class="title bg2">专业护理</p>
                    <p>
                        <span>
                            <span class="yuan bg2"></span>
                            <span>1+N服务模式</span>
                        </span>
                       <span>
                            <span class="yuan bg2"></span>
                            <span>7区49项</span>
                        </span>
                    </p>
                    <p>
                        <span>
                            <span class="yuan bg2"></span>
                            <span>全程无死角</span>
                        </span>
                        <span>
                            <span class="yuan bg2"></span>
                            <span>引进台湾专业设备</span>
                        </span>
                    </p>
                </div>
            </li>
            <li class="clearfix">
                <img src="../../assets/mobile/images/service-type1.jpg" class="service-type left"/>
                <div class="searvice-infor left">
                    <p class="title bg3">衣柜整理</p>
                    <p>
                        <span>
                            <span class="yuan bg3"></span>
                            <span>1+N服务模式</span>
                        </span>
                       <span>
                            <span class="yuan bg3"></span>
                            <span>7区49项</span>
                        </span>
                    </p>
                    <p>
                        <span>
                            <span class="yuan bg3"></span>
                            <span>全程无死角</span>
                        </span>
                        <span>
                            <span class="yuan bg3"></span>
                            <span>引进台湾专业设备</span>
                        </span>
                    </p>
                </div>
            </li>
            <li class="clearfix">
                <img src="../../assets/mobile/images/service-type1.jpg" class="service-type left"/>
                <div class="searvice-infor left">
                    <p class="title bg4">鞋类护理</p>
                    <p>
                        <span>
                            <span class="yuan bg4"></span>
                            <span>1+N服务模式</span>
                        </span>
                       <span>
                            <span class="yuan bg4"></span>
                            <span>7区49项</span>
                        </span>
                    </p>
                    <p>
                        <span>
                            <span class="yuan bg4"></span>
                            <span>全程无死角</span>
                        </span>
                        <span>
                            <span class="yuan bg4"></span>
                            <span>引进台湾专业设备</span>
                        </span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="foot">
        <ul class="f-menu clearfix">
            <li>
                <a href="首页.html">
                    <div class="bt"></div>
                    <span>
                        <i class="fa fa-home"></i>
                    </span><br/>
                    <span>首页</span>
                    <div class="br"></div>
                </a>
            </li>
            <li class="active">
                <a href="品牌服务.html">
                    <div class="bt"></div>
                    <span>
                        <i class="fa fa-bars"></i>
                    </span><br/>
                    <span>品牌服务</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="我的社区.html">
                    <div class="bt"></div>
                    <span>
                        <i class="fa fa-th-large"></i>
                    </span><br/>
                    <span>我的社区</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="个人中心.html">
                    <div class="bt"></div>
                    <span>
                        <i class="fa fa-user"></i>
                    </span><br/>
                    <span>个人中心</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</html>