<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>月嫂搜索</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="content bg-fff">
            <p class="title-action">
                <a href="#" class="left select-return">返回 <i class="fa fa-angle-right"></i></a>
            </p>
        </div>
        <div class="foot">
            <ul class="f-menu clearfix">
                <li>
                    <a href="首页.html">
                        <div class="bt"></div>
                                <span>
                                    <i class="fa fa-home"></i>
                                </span><br/>
                        <span>首页</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li class="active">
                    <a href="品牌服务.html">
                        <div class="bt"></div>
                                    <span>
                                        <i class="fa fa-bars"></i>
                                    </span><br/>
                        <span>品牌服务</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="我的社区.html">
                        <div class="bt"></div>
                                    <span>
                                        <i class="fa fa-th-large"></i>
                                    </span><br/>
                        <span>我的社区</span>
                        <div class="br"></div>
                    </a>
                </li>
                <li>
                    <a href="个人中心.html">
                        <div class="bt"></div>
                                    <span>
                                        <i class="fa fa-user"></i>
                                    </span><br/>
                        <span>个人中心</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</html>