<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登陆</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
    <style>
        .col-sm-8{padding-right: 0;}
        .col-sm-3{padding-left: 0;}
    </style>
</head>
<body>
<div class="wrapper">
<div class="content bg">
    <div class="logBodyBg"><img src="../../assets/mobile/images/d_mobilebg.jpg"></div>
    <form action="#" class="login-form">
        <div class="form-group clearfix">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="请输入您的昵称">
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" class="form-control" placeholder="请输密码">
                </div>
            </div>
        </div>


        <div class="form-group w100 clearfix">
            <div class="col-sm-12 col-xs-12 col-md-12">


                <input type="submit" class="form-control btn-register" value="立即登陆">
            </div>
        </div>
        <div class="form-group w100 clearfix">
            <!--<label class="checkboxs pl15"><input type="checkbox"/>下次自动登录</label>-->
            <a href="忘记密码.html" class="forgetPassword">忘记密码</a>
            <a href="注册.html" class="right" style="color: #fff;position: relative;right: 5%;">无账号? 立刻注册</a>
        </div>
    </form>
</div>

<div class="foot">
    <ul class="f-menu clearfix">
        <li>
            <a href="首页.html">
                <div class="bt"></div>
                            <span>
                                <i class="fa fa-home"></i>
                            </span><br/>
                <span>首页</span>
                <div class="br"></div>
            </a>
        </li>
        <li>
            <a href="品牌服务.html">
                <div class="bt"></div>
                            <span>
                                <i class="fa fa-bars"></i>
                            </span><br/>
                <span>品牌服务</span>
                <div class="br"></div>
            </a>
        </li>
        <li>
            <a href="我的社区.html">
                <div class="bt"></div>
                            <span>
                                <i class="fa fa-th-large"></i>
                            </span><br/>
                <span>我的社区</span>
                <div class="br"></div>
            </a>
        </li>
        <li class="active">
            <a class="hide" href="个人中心.html">
                <div class="bt"></div>
                <span>
                    <i class="fa fa-user"></i>
                </span><br/>
                <span>个人中心</span>
            </a>
            <a href="登陆.html">
                <div class="bt"></div>
                <span>
                    <i class="fa fa-user"></i>
                </span><br/>
                <span>登陆</span>
            </a>
        </li>
    </ul>
</div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script>
    $(function(){
            function heightAuto(){
                var d = $(".login-form");
                d.each(function(){
                    var ht = -$(this).get(0).offsetHeight/2+"px";
                    $(this).get(0).style.marginTop = ht;
                });
            }
            heightAuto();


        $('#getting').click(function(){
            var btn = $(this);
            var count = 60;
            var resend = setInterval(function(){
                count--;
                if (count > 0){
                    btn.val(count+"秒后可重新获取");
                    btn.addClass("active");
//                        $.cookie("captcha", count, {path: '/', expires: (1/86400)*count});
                }else {
                    clearInterval(resend);
                    btn.removeClass("active");
                    btn.val("获取验证码").removeAttr('disabled style');
                }
            }, 1000);
            btn.attr('disabled',true).css('cursor','not-allowed');
        });
    })
</script>
</html>