<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>育婴师</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="wrapper">
    <div class="content bg-fff">
        <img src="../../assets/mobile/images/wardrobe-img3.jpg" class="img-responsive"/>
        <div class="reserve">
            <p class="title bgfff color">育婴师</p>
            <p class="title bg5">在线预订</p>
            <div class="reserve-indormation">
                <p class="title">级别选项</p>
                <div class="fl-type clearfix bg5">
                    <button class="btn-type active left mb10">高级</button>
                    <button class="btn-type right mb10">中级</button>
                    <button class="btn-type left">初级</button>
                </div>
                <p class="title pt0">预约面试时间</p>
                <div class="reserve-date clearfix">
                    <div class="div-wdate left">
                        <input name="serviceDate" class="Wdate inputDisable" type="text" value="2016-03-29" onFocus="WdatePicker({minDate:'%y-%M-{%d+1}'})"/>
                        <i class="fa fa-calendar"></i>
                    </div>
                    <select name="serviceTime" id="serviceTime2" class="select-time right inputDisable">
                        <option value="">时间</option>
                        <option value="8:00">8:00</option>
                        <option value="10:00">10:00</option>
                        <option value="13:00">13:00</option>
                        <option value="16:00">16:00</option>
                    </select>
                </div>


                <p class="title pt0">更多需求</p>
                <textarea style="resize: none" name=""  cols="50" rows="3" class="textarea"   placeholder="您可以在这里备注需求"></textarea>
                <p class="title total-title pt0">￥ : <span class="num total">0</span></p>
                <p class="title pt0">
                    <label>
                        <input type="checkbox"/> 我已经阅读并同意
                    </label>
                    <a href="#">《家服汇用户使用协议》</a>
                </p>
                <div class="div-order">
                    <a href="#" class="btn-order">预约面试</a>
                    <!--<input type="submit" value="下单" class="btn-order"/>-->
                </div>
            </div>
        </div>
        <div class="h10 bgfff"></div>
        <div class="service-head">
            <span class="dot"></span>
            <img src="../../assets/mobile/images/order.png" />
            <span class="title">初级育婴师: 照顾3个月至3岁幼儿　4000元/月</span>
        </div>
        <div class="pd2">
            <p class="small-infor c67">
                服务范围
            </p>
            <p>
                <img src="../../assets/frontend/images/ma-caret.png" alt=""/> 房间清洁
            </p>

            <p>
                <img src="../../assets/frontend/images/ma-caret.png" alt=""/> 幼儿饮食照料
            </p>

            <p><img src="../../assets/frontend/images/ma-caret.png" alt=""/> 幼儿生活护理</p>
            <p><img src="../../assets/frontend/images/ma-caret.png" alt=""/> 幼儿日常生活与保健</p>
            <br/>
            <p>备注：初级育婴师具有1年以上工作经验</p>
        </div>
        <div class="service-head">
            <span class="dot"></span>
            <img src="../../assets/mobile/images/order.png" />
            <span class="title">中级育婴师: 照顾3个月至3岁幼儿　4500元/月</span>
        </div>
        <div class="pd2">
            <p class="small-infor c67">
                服务范围
            </p>
            <p>
                <img src="../../assets/frontend/images/ma-caret.png" alt=""/> 房间清洁
            </p>

            <p>
                <img src="../../assets/frontend/images/ma-caret.png" alt=""/> 幼儿饮食照料
            </p>

            <p><img src="../../assets/frontend/images/ma-caret.png" alt=""/> 幼儿生活护理</p>
            <p><img src="../../assets/frontend/images/ma-caret.png" alt=""/> 幼儿日常生活与保健</p>
            <p><img src="../../assets/frontend/images/ma-caret.png" alt=""/> 幼儿日常生活习惯培养</p>
            <br/>
            <p>备注：中级育婴师具有2年以上工作经验</p>
        </div>
        <div class="service-head">
            <span class="dot"></span>
            <img src="../../assets/mobile/images/order.png" />
            <span class="title">高级育婴师: 照顾3个月至3岁幼儿　5000元/月</span>
        </div>
        <div class="pd2">
            <p class="small-infor c67">
                服务范围
            </p>
            <p>
                <img src="../../assets/frontend/images/ma-caret.png" alt=""/> 房间清洁
            </p>

            <p>
                <img src="../../assets/frontend/images/ma-caret.png" alt=""/> 幼儿饮食照料
            </p>

            <p><img src="../../assets/frontend/images/ma-caret.png" alt=""/> 幼儿生活护理</p>
            <p><img src="../../assets/frontend/images/ma-caret.png" alt=""/> 幼儿日常生活与保健</p>
            <p><img src="../../assets/frontend/images/ma-caret.png" alt=""/> 幼儿日常生活习惯培养</p>
            <p><img src="../../assets/frontend/images/ma-caret.png" alt=""/> 幼儿早期教育培养</p>
            <br/>
            <p>备注：高级育婴师具有3年以上工作经验</p>
        </div>


        <div class="service-head">
            <span class="dot"></span>
            <img src="../../assets/mobile/images/order.png" />
            <span class="title">平台保障</span>
        </div>
        <div class="pd2">
            <p><img src="../../assets/frontend/images/ma-caret.png"/> 必须持有三证（上岗证、专项证或初级育婴员证、身份证、健康证）

            </p>

            <p><img src="../../assets/frontend/images/ma-caret.png"/>
                经过专业培训，掌握对婴幼儿护理基本知识与技能。
            </p>

            <p><img src="../../assets/frontend/images/ma-caret.png"/>
                做好婴幼儿生活管理工作。
            <p><img src="../../assets/frontend/images/ma-caret.png"/>
                能吃苦、有耐心、爱心、责任心。
            </p>
        </div>
    </div>
    <div class="foot">
        <ul class="f-menu clearfix">
            <li>
                <a href="首页.html">
                    <div class="bt"></div>
                            <span>
                                <i class="fa fa-home"></i>
                            </span><br/>
                    <span>首页</span>
                    <div class="br"></div>
                </a>
            </li>
            <li class="active">
                <a href="品牌服务.html">
                    <div class="bt"></div>
                                <span>
                                    <i class="fa fa-bars"></i>
                                </span><br/>
                    <span>品牌服务</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="我的社区.html">
                    <div class="bt"></div>
                                <span>
                                    <i class="fa fa-th-large"></i>
                                </span><br/>
                    <span>我的社区</span>
                    <div class="br"></div>
                </a>
            </li>
            <li>
                <a href="个人中心.html">
                    <div class="bt"></div>
                                <span>
                                    <i class="fa fa-user"></i>
                                </span><br/>
                    <span>个人中心</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script src="../../assets/global/plugins/jquery-spinner/js/jquery.spinner.js"></script>
<script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
    $('.spinnerExample').spinner({});
    var ft = $(".fl-type");
    var bt = $(".btn-type");
    ft.each(function(){
        $(this).find(bt).on("click",function(){
            $(this).addClass("active");
            $(this).siblings(bt).removeClass("active");
        })
    });
</script>
</html>