$color-wechat-blue: #25a9ff;
$color-gray: #999;
$color-gray-bbb: #bbb;
$color-orange: #ff3600;
$color-red: #ff2d55;
$color-yellow: #ffbf3e;
$color-green: #46bc62;
$color-blue: #51aafd;
$color-black: #313131;