<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>产品展示</title>
    <link rel="stylesheet" type="text/css" href="../../assets/global/plugins/threeDimensional/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/global/plugins/threeDimensional/css/bookblock.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/global/plugins/threeDimensional/css/component.css" />
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.css"/>
    <script src="../../assets/global/plugins/threeDimensional/js/modernizr.custom.js"></script>

</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="headMain">
                <img src="../../assets/frontend/images/logo.png" alt="" class="logo"/>
                <ul class="clearfix navMeun">
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    <li class="active">
                        <a href="productDisplay.html">
                            产品展示
                        </a>
                    </li>
                    <li>
                        <a href="afterSaleService.html">
                            售后服务
                        </a>
                    </li>
                    <li>
                        <a href="aboutUs.html">
                            关于我们
                        </a>
                    </li>
                    <li class="last">
                        <a href="#">
                            <i class="fa fa-phone"></i>
                            400-68610177
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="contentMain">
                <div class="center">
                    <div class="clearfix poduction">
                        <div class="poductionSlider left">
                            <img src="../../assets/frontend/images/poductionImg.jpg" alt=""/>
                        </div>
                        <div class="poductionInfor left">
                            <p class="title">多功能DM内衣宝</p>
                            <p class="detailsInfor">
                                DM洗衣液采用国际最先进的超声波高频振荡器，通过振动产生近真空的“空腔泡“，空腔泡在水中不断碰撞、消失、合并的过程中引起各种化(断裂、裂解、氧化、还原、分解、化合)和物理变化(溶解、吸附、乳化、分散等),从而完成洗涤过程
                            </p>
                            <div class="colorDiv">
                                <p class="name">颜色选择 : </p>
                                <ul class="clearfix colorChioce">
                                    <li>
                                        <div class="color1"></div>
                                    </li>
                                    <li>
                                        <div class="color2"></div>
                                    </li>
                                    <li>
                                        <div class="color3"></div>
                                    </li>
                                    <li>
                                        <div class="color4"></div>
                                    </li>
                                </ul>

                            </div>
                            <div class="commentDiv">
                                <p class="name">想购买值 : </p>
                                <ul class="commontMenu clearfix">
                                    <li class="active">
                                        <i class="fa fa-heart"></i>
                                    </li>
                                    <li class="active">
                                        <i class="fa fa-heart"></i>
                                    </li>
                                    <li class="active">
                                        <i class="fa fa-heart"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-heart"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-heart"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menuBar">
                    <ul class="secondMenu clearfix">
                        <li class="active">
                            <a>详情</a>
                        </li>
                        <li><a>品牌故事</a></li>
                        <li><a>使用指南</a></li>
                        <li><a>参数</a></li>
                    </ul>
                </div>
                <div class="center">
                    <ul class="productList">
                        <li class="active parameter">
                            <img src="../../assets/frontend/images/productList1.jpg" alt=""/>
                            <img src="../../assets/frontend/images/productList2.jpg" alt=""/>
                            <img src="../../assets/frontend/images/productList3.jpg" alt=""/>
                            <img src="../../assets/frontend/images/productList4.jpg" alt=""/>
                        </li>
                        <li class="brandStory">
                            <div id="scroll-wrap" class="container hide container hide-overflow">
                                <div class="main">
                                    <div id="bookshelf" class="bookshelf">
                                        <figure>
                                            <div class="book" data-book="book-1"></div>
                                            <div class="buttons"><a href="#">Look inside</a><a href="#">Details</a></div>
                                            <div class="details"></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="bb-custom-wrapper show" id="book-1">
                                <div class="bb-bookblock">
                                    <div class="bb-item">
                                        <div class="bb-custom-side page-layout-3">
                                            <img src="../../assets/global/plugins/threeDimensional/img/productInforImg1.png" alt=""/>
                                        </div>
                                        <div class="bb-custom-side page-layout-3">
                                            <img src="../../assets/global/plugins/threeDimensional/img/productInforImg2.png" alt=""/>
                                        </div>
                                    </div>
                                    <div class="bb-item">
                                        <div class="bb-custom-side page-layout-1">
                                            <img src="../../assets/global/plugins/threeDimensional/img/productInforImg1.png" alt=""/>
                                        </div>
                                        <div class="bb-custom-side page-layout-1">
                                            <img src="../../assets/global/plugins/threeDimensional/img/productInforImg2.png" alt=""/>
                                        </div>
                                    </div>
                                    <div class="bb-item">
                                        <div class="bb-custom-side page-layout-2">
                                            <img src="../../assets/global/plugins/threeDimensional/img/productInforImg1.png" alt=""/>
                                        </div>
                                        <div class="bb-custom-side page-layout-2">
                                            <img src="../../assets/global/plugins/threeDimensional/img/productInforImg2.png" alt=""/>
                                        </div>
                                    </div>
                                </div>
                                <nav>
                                    <a href="#" class="bb-nav-prev">Previous</a>
                                    <a href="#" class="bb-nav-next">Next</a>
                                    <a href="#" class="bb-nav-close hide">Close</a>
                                </nav>
                            </div>

                        </li>
                        <li class="useGuide">
                            <div class="useGuideCon">
                                <p class="title">在安装、使用本产品前，请您仔细阅读本使用指南  </p>
                                <p class="smallTitle">
                                    由于不遵守该使用及安装说明书中规定的注意事项，所引起的任何故障和损失均不在厂家亦不承担任何相关责任。请妥善保管好所有文件。如有疑问,请与当地的客户服务中心或经销商联系。
                                </p>
                                <div class="downTip">
                                    <img src="../../assets/frontend/images/downLoad.jpg" alt=""/>
                                    <button type="button" class="btnDown"></button>
                                </div>
                            </div>
                        </li>
                        <li class="parameter">
                            <img src="../../assets/frontend/images/productList5.jpg" alt=""/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="footMain">
                <div class="ourMenuDiv">
                    <ul class="clearfix ourMenu">
                        <li>
                            <a href="companyInfor.html">
                                <p class="first">公司简介</p>
                                <p class="last">公司简介</p>
                            </a>
                        </li>
                        <li>
                            <a href="talentRecruitment.html">
                                <p class="first">人才招聘</p>
                                <p class="last">人才招聘</p>
                            </a>
                        </li>
                        <li>
                            <a href="brandCooperation.html">
                                <p class="first">品牌合作</p>
                                <p class="last">品牌合作</p>
                            </a>
                        </li>
                        <li class="last">
                            <a href="aboutUs.html">
                                <p class="first">关于我们</p>
                                <p class="last">关于我们</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ourInfor clearfix">
                    <div class="copyright left">
                        <p class="large">
                            售后客服电话 : 023-58001118 <span>(周一至周五9:00-18:00)</span>
                        </p>
                        <p class="small">
                            渝ICP备15002338号-1 Copyright © 2014~2015 重庆都漫科技有限公司 版权所有
                        </p>
                    </div>
                    <div class="left clearfix ourImg">
                        <div class="left">
                            <p class="title">关注我们:</p>
                            <ul class="iconMenu clearfix">
                                <li>
                                    <span>
                                        贴
                                    </span>
                                </li>
                                <li>
                                    <i class="fa fa-weixin"></i>
                                </li>
                                <li>
                                    <i class="fa fa-weibo"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="left">
                            <img src="../../assets/frontend/images/erCode.jpg" alt="" class="codeJpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../assets/global/plugins/threeDimensional/js/bookblock.min.js"></script>
    <script type="text/javascript" src="../../assets/global/plugins/threeDimensional/js/bookshelf.js"></script>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script>
        $(function(){
            $(".secondMenu li a").each(function(i){
                $(this).on("click",function(){
                    $(this).parent("li").addClass("active");
                    $(this).parent("li").siblings("li").removeClass("active");
                    $(".productList li").eq(i).addClass("active");
                    $(".productList li").eq(i).siblings("li").removeClass("active");
                })
            })
        })
    </script>
</body>
</html>