@charset "utf-8";


/*common style*/
body,html{margin:0;padding:0;font-family: "微软雅黑";}
p{margin: 0;padding: 0;}
ul,li,img{margin:0;padding:0;list-style:none;border:none; vertical-align:middle;}
a{color:#000;text-decoration:none;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;}
html[xmlns] .clearfix {display: block;}
a,button,input,img,table,ul,li,tr,td,div{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.hide    {display: none;}
.block   {display: block;}
.inline-block{display: inline-block;}
.fl      {float:left;}
.fr      {float:right;}
.relative{position:relative;}
.absolute{position: absolute;}
.fix     {position: fixed;}
.left{float: left;}
.right{float: right;}
textarea,input,button,select{border: none;outline: none;}
.hidden{visibility: hidden;}
.wrapper{width: 100%;background: #fff;max-width: 640px;margin: 0 auto;position: relative;}
.content{width: 100%;padding-bottom: 60px;}
.content.bg-ecec{background: #ececec;padding-top: 1px;}
.foot{}
.mask{position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,.5)}
a:hover{text-decoration: none;}



/*index*/

.foot{width: 100%;background: #402e09;position: fixed;bottom: 0;left: 0;}
.foot .f-menu{width: 100%;}
.foot .f-menu li{width: 25%;float: left;background: #402e09;}
.foot .f-menu li.active a{color: #d04d0d;}
.foot .f-menu li a{display: inline-block;padding: 10px 0;text-align: center;width: 100%;position: relative;color: #fff;}
.foot .f-menu li a .fa{position: relative;left: 3px;font-size: 30px;}
.foot .f-menu li a .bt{width: 100%;height: 1px;position: absolute;top: 0;background: #dbdbdb;}
.foot .f-menu li a .br{width: 1px;height: 100%;position: absolute;right: 0;background: #dbdbdb;top: 0;}
.foot .f-menu li a>span{font-size: 16px;}


.head-input{width: 100%;padding: 8px 0;position: relative;background: #fcc35b;}
.head-input .fa{font-size: 20px;color: #333;position: absolute;left: 6%;top: 15px;}
.head-input .search-input{width: 70%;height: 35px;background: #fff9ef;margin: 0 0 0 4%;padding-left: 8%;font-family: "微软雅黑";font-size: 16px;float: left;}
.head-input .btn-search{height: 35px;width: 20%;background: #fc883d;color: #fff;font-family: "微软雅黑";float: left;position: relative;left: 5px;}
.wrapper .swiper-container{margin: 0;margin-top: -2px;}
.swiper-pagination-bullet-active{background: #ff580b;}
.search-type{width: 100%;}
.search-type li{width: 20%;text-align: center;padding: 10px 0;float: left;}
.search-type li a{display: inline-block;width: 100%;}
.search-type li a img{margin-bottom: 5px;width: 60%;}
.search-type li a span{font-size: 16px;color: #333;}
.active-new{padding-top: 1px;background-size: 100%;position: relative;height: 60px;}
.active-new>img{width: 100%;height: 60px;}
.active-new .active-p{width: 70%;position: absolute;left: 20%;top: 17%;}
.active-new .active-p p{width: 100%;display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.active-new p .caret-dian{display: inline-block;width: 8px;height: 8px;background: #f32f20;border-radius: 66px;font-size: 16px;color: #666;}
.recharge{margin:10px 0;}
.money-ul{width: 94%;margin: 0 3%;margin-bottom: 10px;}
.money-ul li{width: 24.2%;float: left;margin-right: 1%;}
.money-ul li.mr0{margin-right: 0;}
.bgccc{background: #ececec;margin-top: 10px;}
.search-chioce{width: 100%;margin: 0 0 10px 0;padding:0 3%;}
.search-chioce li{float: left;width: 49%;margin-right: 2%;}
.search-chioce li.mr0{margin-right: 0;}
.search-chioce li .item{padding: 5px;background: #fff;}
.search-chioce li .item p{}
.search-chioce li .item .title{font-size: 18px;}
.search-chioce li .item .last{text-decoration:line-through}
.search-chioce li .item .num{color: #f32f20;position: relative;left: 20px;}
.search-chioce1 li{width: 32%;}
.search-chioce1 li .item .num{left: 0;}


.service-head{padding: 5px 15px;background: #ececec;height: 45px;}
.service-head.bg-fff{background: #fff;margin-top: 1.5%;line-height: 35px;}
.service-head.mt15{margin-top: 1.5%;}
.service-head img{position: relative;top: -8px;width: 5%;}
.service-head .dot{display: inline-block;width: 2px;height: 30px;background: #fca511;position: relative;top: 4px;}
.service-head .title{font-size: 20px;position: relative;top: -4px;color: #666;}
.service-head a{color: #666;position: relative;top: 12px;}
.service-head a.top0{top: 0;display: inline-block;width: 100%;height: 100%;}
.mobile-phone{width: 100%;padding: 0 4%;background: #1cbc9d;}
.mobile-phone li{border-bottom: 1px dashed #fff;height: 40px;line-height: 40px;width: 100%;}
.mobile-phone li.bb0{border-bottom: 0;}
.mobile-phone li span{font-size: 16px;color:#fff;}

.service-more{width: 94%;padding-top: 1px;margin: 0 3%;background: #ececec;}
.service-more li{width: 100%;margin-bottom: 1%;background: #fff;}
.service-more li.mb0{margin-bottom: 0;}
.service-more li img{margin-right: 10px;width:50%;}
.service-more .seavice-infor{width: 45%;}
.seavice-infor .title{font-size: 20px;color: #333;margin:10px 0 10% 0;}
.seavice-infor .p-infor{width: 100%;height: 44px;}
.seavice-infor .p-infor span{width: 95%;display: inline-block;line-height: 17px;}
.seavice-infor .p-infor .fa{width: 5%;text-align: right;display: inline-block;}
.seavice-infor p{font-size: 14px;color: #666;}
.seavice-infor .fa{font-size: 30px;}


.shopping-menu{width: 94%;margin: 2% 3% 0;}
.shopping-menu li{width: 32%;margin-right: 2%;text-align: center;float: left;}
.shopping-menu li img{width: 100%;}
.shopping-menu li.mr0{margin-right: 0;}
.shopping-menu li .title{font-size: 16px;color: #666;padding: 10px 0;}


.train-menu{width: 94%;margin: 3% 3%;}
.train-menu li{width: 100%;border: 1px solid #dbdbdb;margin-bottom: 1.5%;}
.train-menu li img{width: 40%;margin-right: 10px;}
.train-menu li .train-infor{width: 55%;color: #666;font-size: 14px;}
.train-menu li .train-infor .title{font-size: 20px;color: #333;margin-bottom: 4px;}
.train-menu li .train-infor p .num{color: #ff580b;}
.train-menu li .train-infor .fa{}
.train-menu li .train-infor .p-ti{width: 100%;height: 44px;}
.train-menu li .train-infor .p-ti span{width: 95%;display: inline-block;line-height: 17px;}



.news-menu{width: 94%;margin: 2% 3%;}
.news-menu li{width: 49.25%;margin-right: 1.5%;float: left;margin-bottom: 1.5%;}
.news-menu li img{width: 100%;}
.news-menu li.mr0{margin-right: 0;}
.news-menu li p{width: 100%;padding: 2%;background: #52ba92;color: #fff;font-size: 16px;display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}

.service-menu{width: 100%;background: #fab433;}
.service-menu li{position: relative;width: 20%;padding: 10px;text-align: center;font-size: 16px;color: #fff;float: left;}
.service-menu li .title{display: inline-block;width: 100%;}
.service-menu li .service-img{width: 50%;}
.service-menu li .brone{position: absolute;right: 0;width: 1px;top: 8%;bottom: 10px;height: 70px;}
.train-img{margin: 1.5% 0;}

.searvice-menu{width: 100%;}
.searvice-menu li{width: 100%;margin-bottom: 1.5%;}
.searvice-menu li .service-type{width: 36%;}
.searvice-menu li .searvice-infor{width: 64%;}
.searvice-infor p{font-size: 16px;color: #666;width: 100%;}
.searvice-infor .title{font-size: 20px;color: #fff;padding: 2% 0;background: #fcb83a;text-align: center;}
.searvice-infor p>span{width: 49%;text-indent: 3%;padding: 10px 0 0 0 ;font-size: 16px;float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.searvice-infor p>span .yuan{display: inline-block;width: 12px;height: 12px;border-radius: 12px;background: #fcb83a;}
.searvice-infor .title.bg1{background: #4db990;}
.searvice-infor p>span .yuan.bg1{background: #4db990;}
.searvice-infor .title.bg2{background: #6cc9ff;}
.searvice-infor p>span .yuan.bg2{background: #6cc9ff;}
.searvice-infor .title.bg3{background: #a03e65;}
.searvice-infor p>span .yuan.bg3{background: #a03e65;}
.searvice-infor .title.bg4{background: #cca26b;}
.searvice-infor p>span .yuan.bg4{background: #cca26b;}




.person-div{width: 100%;position: relative;;}
.person-bg{position: absolute;}
.person-div .potrite{width: 20%;margin-right: 2%;position: relative;z-index: 10;margin-top: 3%;margin-left: 5%;}
.person-infor{position: relative;z-index: 10;margin-top: 8%;}
.person-infor p{font-size: 18px;color: #333;line-height: 24px;}
.money-infor{width: 100%;background: #fff;padding: 4% 10% 2%;}
.money-infor li{width: 33%;border-right: 1px solid #dbdbdb;font-size: 16px;color: #333;text-align: center;float: left;}
.money-infor li.br0{border-right: 0;}
.money-infor li span{}
.money-infor li .num,.order-menu li .num{color: #fcac25;}
.order-menu li .num1{color: #53ba93;}
.order-menu li .num2{color: #333;}
.order-menu{width: 100%;}
.order-menu.bg-fff li,.order-menu.fff{background: #fff;}
.order-menu.pt15 li:first-child{padding-top: 1.5%;}
.order-menu li{padding: 0 2% 0;width: 100%;position: relative;margin: 2% 0 0 0;}
.order-menu li .fa{position: absolute;right: 4%;font-size: 24px;}
.order-menu li img{margin-right: 3%;width: 30%;}
.order-menu li .clean{width: 50%;}
.order-menu li .title{font-size: 20px;}
.order-menu li .btn-comment{padding: 5px 5%;border-radius: 4px;background: #fbb432;color: #fff;position: absolute;bottom: 8%;right: 2%;}
.order-menu li .btn-comment.bg-ccc{background: #b2b1b0;}
.order-menu li .btn-comment.left{left: 52%;}
.order-menu li p{font-size: 14px;}
.order-menu li .order-infor{color: #666;}


.swiper-wrapper .swiper-slide{position: relative;}
.clean-mask{position: absolute;padding: 15px;background: rgba(30, 188, 158, 0.60);color: #fff;font-size: 14px;z-index: 100;top: 5%;left: 2%;width: 26%;max-height: 120px;}


.mask{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,.5);max-width: 640px;margin: 0 auto;}


/*clean-menu*/
.clean-title{width: 100%;padding:1.5% 3%;font-size: 18px;color: #825708;border-bottom: 1px solid #825708;}
.clean-infor{width: 100%;padding: 1% 3% 0;}
.clean-infor p{font-size: 14px;color: #666;}
.clean-list{width: 96%;margin: 1% 2%;}
.clean-list li{width: 18%;margin-right: 2%;float: left;background: #eee;border-radius: 10px;color: #333;font-size: 16px;text-align: center;padding: 1% 0;}
.clean-list li.mr0{margin-right: 0;}
.pay-infor{width: 100%;margin-top: 2%;}
.pay-infor .last-money{text-decoration: line-through;font-size: 18px;}
.pay-infor .now-money{color: #ff580b;font-size: 18px;}
.pay-infor .btn-order{padding: 5px 25px;color: #fff;border-radius: 4px;background: #ff580b;}









/*media*/
@media screen and (max-width: 640px) {

}

@media screen and (min-width: 623px) {
    .seavice-infor .p-infor{margin-top: 10px;}
    .seavice-infor .p-infor span{position: relative;top: 8px;}
}

@media screen and (max-width: 568px) {


}

@media screen and (max-width: 480px) {
    .search-chioce1 li .item .num{display: block;}
    .search-type li a span{font-size: 14px;}
    .search-chioce li .item .title{font-size: 14px;}
    .foot .f-menu li a .fa{font-size: 16px;}
    .foot .f-menu li a>span{font-size: 14px;}
    .mobile-phone li span{font-size: 14px;}
    .service-head .title{font-size: 16px;}
    .service-head img{top: -7px;}
    .searvice-infor .title{font-size: 16px;}
    .searvice-infor p>span{font-size: 1px;}
    .service-menu li .title{font-size: 14px;}
    .person-infor p{font-size: 14px;line-height: 20px;}
    .order-menu li .title{font-size: 17px;}
    .clean-list li{font-size: 14px;}
    .clean-mask{font-size: 12px;}
}


@media screen and (max-width: 414px) {
    .person-infor{margin-top: 6%;}
}

@media screen and (max-width: 375px) {
    .person-infor{margin-top: 4%;}
}

@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {

}