@charset "utf-8";


/*common style*/
body,html{margin:0;padding:0;font-family: "微软雅黑";}
p{margin: 0;padding: 0;}
ul,li,img{margin:0;padding:0;list-style:none;border:none; vertical-align:middle;}
a{color:#000;text-decoration:none;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;}
html[xmlns] .clearfix {display: block;}
a,button,input,img,table,ul,li,tr,td,div{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.hide    {display: none;}
.block   {display: block;}
.inline-block{display: inline-block;}
.fl      {float:left;}
.fr      {float:right;}
.relative{position:relative;}
.absolute{position: absolute;}
.fix     {position: fixed;}
.left{float: left;}
.right{float: right;}
textarea,input,button,select{border: none;outline: none;}
.hidden{visibility: hidden;}
.wrapper{width: 100%;background: #fff;max-width: 640px;margin: 0 auto;position: relative;}
.content{width: 100%;padding-bottom: 10px;}
.content.bg-ecec{background: #ececec;padding-top: 1px;}
a:hover{text-decoration: none;}



/*index*/
.foot{width: 100%;background: #028dd7;}
.foot .f-menu{width: 80%;margin: 0 10%;height: 40px;}
.foot .f-menu li{width: 33.3%;float: left;background: #028dd7;height: 40px;}
.foot .f-menu li.active a{color: #aaa;}
.foot .f-menu li a{display: inline-block;padding: 2px 0;text-align: center;width: 100%;position: relative;color: #fff;margin-top: 7px;}
.foot .f-menu li a .fa{position: relative;left: 3px;font-size: 30px;}
.foot .f-menu li a .bt{width: 100%;height: 1px;position: absolute;top: 0;background: #dbdbdb;}
.foot .f-menu li a .br{width: 1px;height: 100%;position: absolute;right: 0;background: #dbdbdb;top: 0;}
.foot .f-menu li a>span{font-size: 16px;}
.foot .copyright{background: #0279b7;text-align: center;font-size: 12px;color: #aaa;}
.foot .copyright p{width: 90%;margin: 0 5%;}
.copyright-head{background: #0279b7;width: 100%;}
.head{width: 100%;height: 40px;line-height: 40px;background: #028dd7;color: #fff;text-align: center;font-size: 18px;}
.head.fixed{position: relative;z-index: 10;top: 0;}
.head span.left{position: relative;left: 6%;font-size: 20px;}
.copyright-head{width: 100%;height: 40px;line-height: 40px;color: #fff;text-align: center;font-size: 18px;}
.head .index-logo,.copyright-head .index-logo{width:30px;position: relative;left: -6px;top: -2px;}
.wrapper .swiper-container{margin: 0;}
.swiper-pagination-bullet-active{background: #ff580b;}
.search-type{width: 100%;}
.search-type li{width: 20%;text-align: center;padding: 10px 0;float: left;}
.search-type li a{display: inline-block;width: 100%;}
.search-type li a img{margin-bottom: 5px;width: 60%;}
.search-type li a span{font-size: 16px;color: #333;}
.active-new{padding-top: 1px;background-size: 100%;position: relative;height: 60px;display: table;}


.active-new{background: url("../images/active-bg.png") ;width: 100%;height: 60px;background-size: 100% 60px;}
.newsSlider{overflow-y: hidden;width: 70%;height: 44px;position: relative;left: 20%;top: 7px;}
.news-list{position: absolute;top: 0;width: 100%;}
.newsSlider li{height: 44px;}





.active-new .active-p{width: 100%;}
.active-new .active-p p{width: 100%;display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.active-new p .caret-dian{display: inline-block;width: 8px;height: 8px;background: #f32f20;border-radius: 66px;font-size: 16px;color: #666;}
.recharge{margin:10px 0;}
.money-ul{width: 94%;margin: 0 3%;margin-bottom: 10px;}
.money-ul li{width: 24.2%;float: left;margin-right: 1%;}
.money-ul li.mr0{margin-right: 0;}
.bgccc{background: #ececec;}
.search-chioce{width: 100%;margin: 0 0 10px 0;padding:0 3%;}
.search-chioce li{float: left;width: 49%;margin-right: 2%;margin-bottom: 2%;}
.search-chioce li.mr0{margin-right: 0;}
.search-chioce li .item{padding: 5px;background: #fff;}
.search-chioce li .item p{}
.search-chioce li .item .title{font-size: 16px;color: #f32f20;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;}
.search-chioce li .item .last{text-decoration:line-through}
.search-chioce li .item .num{color: #f32f20;position: relative;left: 15px;}
.search-chioce1 li{width: 32%;}
.search-chioce1 li .item .num{left: 0;}

.service-head{padding: 5px 15px;background: #ececec;height: 45px;position: relative;}
.service-head>.title{color: #333;font-size: 16px;}
.head-title.lh0 .service-head>.title{top: -14px;}
.service-head>.small-title{position: absolute;top: 32px;left: 15px;color: #666;}
.service-head.bg-fff{background: #fff;margin-top: 1.5%;line-height: 35px;}
.service-head.bg-fff.mt0{margin-top: 0;}
.service-head.mt15{margin-top: 1.5%;}
.service-head img{position: relative;top: -8px;width: 5%;}
.service-head .dot{display: inline-block;width: 2px;height: 30px;background: #fca511;position: relative;top: 4px;}
.service-head .title{font-size: 16px;position: relative;top: -4px;color: #333;}
.service-head a{color: #666;position: relative;top: 9px;}
.service-head a.top0{top: 0;display: inline-block;width: 100%;height: 100%;}
.service-head.bg-fff.btn-returnLogin{text-align: center;padding: 0;}
.service-head.bg-fff.btn-returnLogin a{display: inline-block;width: 100%;height: 100%;text-align: center;background: #ff2d55;color:#fff;line-height: 45px;}
.mobile-phone{width: 100%;padding: 0 4%;background: #1cbc9d;}
.mobile-phone li{border-bottom: 1px dashed #fff;height: 40px;line-height: 40px;width: 100%;}
.mobile-phone li.bb0{border-bottom: 0;}
.mobile-phone li span{font-size: 16px;color:#fff;}

.service-more{width: 94%;padding-top: 1px;margin: 0 3%;background: #ececec;}
.service-more li{width: 100%;margin-bottom: 1.5%;background: #fff;}
.service-more li.mb0{margin-bottom: 0;}
.service-more li img{margin-right: 10px;width:50%;}
.service-more .seavice-infor{width: 45%;}
.seavice-infor .title{font-size: 20px;color: #333;margin:10px 0 5% 0;}
.seavice-infor .p-infor{width: 100%;height: 44px;}
.seavice-infor .p-infor p{width: 95%;display: inline-block;line-height: 17px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;}
.seavice-infor .p-infor .fa{width: 5%;text-align: right;display: inline-block;}
.seavice-infor p{font-size: 14px;color: #666;}
.seavice-infor .fa{font-size: 30px;}


.shopping-menu{width: 94%;margin: 2% 3% 0;}
.shopping-menu li{width: 32%;margin-right: 2%;text-align: center;float: left;}
.shopping-menu li img{width: 100%;}
.shopping-menu li.mr0{margin-right: 0;}
.shopping-menu li .title{font-size: 16px;color: #666;padding: 10px 0;}


.train-menu{width: 94%;margin: 3% 3%;}
.train-menu li{width: 100%;border: 1px solid #dbdbdb;margin-bottom: 1.5%;}

.train-menu li .p-ti p{
    display: block;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;}

.train-menu li img{width: 40%;margin-right: 10px;}
.train-menu li .train-infor{width: 55%;color: #666;font-size: 14px;}
.train-menu li .train-infor .title{font-size: 16px;color: #333;}
.train-menu li .train-infor p .num{color: #ff580b;display: inline-block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 42px;position: relative;top: 6px;}
.train-menu li .train-infor .fa{}
.train-menu li .train-infor .p-ti,.order-menu li .order-infor .p-ti{width: 100%;height: 44px;}
.train-menu li .train-infor .p-ti span{width: 95%;display: inline-block;line-height: 17px;}


.news-menu{width: 96%;margin: 2%;}
.news-menu li{width: 49.25%;margin-right: 1.5%;float: left;margin-bottom: 1.5%;}
.news-menu li img{width: 100%;}
.news-menu li.mr0{margin-right: 0;}
.news-menu li p{width: 100%;padding: 2%;background: #52ba92;color: #fff;font-size: 16px;display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}

.service-menu{width: 100%;background: #fafafa;border-top: 1px solid #b2e4fd;border-bottom: 1px solid #b2e4fd;}
.service-menu li{position: relative;width: 20%;padding: 5px 10px;text-align: center;font-size: 16px;color: #999;float: left;border-right: 1px solid #b2e4fd;}
.service-menu li.br0{border-right: 0;}
.service-menu li .title{display: inline-block;width: 100%;}
.service-menu li .service-img{width: 50%;}
.service-menu li .brone{position: absolute;right: 0;width: 1px;top: 0;bottom: 0;}
.train-img{margin: 1.5% 0;}

.searvice-menu{width: 100%;}
.searvice-menu li{width: 100%;margin-bottom: 1.5%;}
.searvice-menu li .service-type{width: 36%;}
.searvice-menu li .searvice-infor{width: 64%;}
.searvice-infor p{font-size: 16px;color: #666;width: 100%;}
.searvice-infor .title{font-size: 20px;color: #fff;padding: 2% 0;background: #fcb83a;text-align: center;}
.searvice-infor p>span{width: 49%;text-indent: 3%;padding: 10px 0 0 0 ;font-size: 16px;float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.searvice-infor p>span .yuan{display: inline-block;width: 12px;height: 12px;border-radius: 12px;background: #fcb83a;}
.searvice-infor .title.bg1{background: #4db990;}
.searvice-infor p>span .yuan.bg1{background: #4db990;}
.searvice-infor .title.bg2{background: #6cc9ff;}
.searvice-infor p>span .yuan.bg2{background: #6cc9ff;}
.searvice-infor .title.bg3{background: #a03e65;}
.searvice-infor p>span .yuan.bg3{background: #a03e65;}
.searvice-infor .title.bg4{background: #cca26b;}
.searvice-infor p>span .yuan.bg4{background: #cca26b;}



.user-comment{width: 100%;padding: 0 2%;}
.user-comment .title{font-size: 16px;color: #333;padding: 10px 0;}
.comment-div{width: 100%;padding: 2% 5%;font-size: 14px;color: #666;background: #fff;border: 1px solid #efefef;}
.comment-div .good{width: 6%;}
.comment-div span.num{color: #ff0404;}
.comment-div .fa-hand-o-up{font-size: 30px;color: #fab433;}
.comment-div .fa-angle-right{font-size: 24px;color: #666;position: relative;top: -2px;}



.person-div{width: 100%;position: relative;;}
.person-bg{position: absolute;}
.person-div .potrite{width: 20%;margin-right: 2%;position: relative;z-index: 10;margin-top: 3%;margin-left: 5%;}
.person-infor{position: relative;z-index: 10;margin-top: 8%;}
.person-infor p{font-size: 18px;color: #333;line-height: 24px;}
.person-infor p .btn-infor{display: inline-block;padding: 3px 10px;background: #54ba94;color: #fff;font-size: 14px;border-radius: 2px;position: relative;left: 5%;}
.money-infor{width: 100%;background: #fff;padding: 4% 10% 2%;}
.money-infor li{width: 33%;border-right: 1px solid #dbdbdb;font-size: 16px;color: #333;text-align: center;float: left;}
.money-infor li.br0{border-right: 0;}
.money-infor li span{}
.money-infor li .num,.order-menu li .num{color: #fcac25;}
.order-menu li .num1{color: #53ba93;}
.order-menu li .num2{color: #333;}
.order-menu{width: 100%;}
.order-menu.pd0 li{padding: 0;}
.order-menu.pd0 li.mt0{margin-top: 0;}
.order-menu.pd0 li a{display: block;width: 100%;}
.order-menu.bg-fff li,.order-menu.fff{background: #fff;}
.order-menu.mb10 li{background: #fff;}
.order-menu.pt15 li:first-child{padding-top: 1.5%;}
.order-menu.pd2 li{padding: 2% 2%;}
.order-menu li{padding: 0 2% 0;width: 100%;position: relative;}
.order-menu li .fa{position: absolute;right: 4%;font-size: 24px;}
.order-menu li img{margin-right: 3%;width: 30%;}
.order-menu li .clean{width: 50%;}
.order-menu li .title{font-size: 16px;color: #ad9072;}
.order-menu li .title.color5{color: #53ba93;}
.order-menu li .title.color2{color: #fbb432;}

.order-menu li .btn-comment{padding: 5px 0;border-radius: 4px;background: #fbb432;color: #fff;position: absolute;bottom: 8%;right: 2%;display: inline-block;width: 60px;text-align: center;}
.order-menu li .btn-comment.bg-ccc{background: #b2b1b0;font-size: 12px;}
.order-menu li .btn-comment.left{left: 52%;}
.order-menu li .p-ti p{display: block;
    display: -webkit-box;
    width: 46%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;}
.order-menu li p{font-size: 14px;}
.order-menu li .order-infor{color: #666;}
.order-menu li .order-infor .money{color: #fbb435;position: relative;right: 2%;}
.order-menu li .order-infor .pay-type{color: #fbb435;}
.order-menu li .order-infor .distribution-type{color: #53ba93;}
.order-menu li p a{margin-right:1%;}
.order-menu li p .btn-ALLMoney{font-size:12px;display: inline-block;padding: 5px 10px;color: #fff;border-radius: 4px;background:#fbb435; }
.order-menu li p.clearfix{margin: 5px 0;}
.order-menu.pd2.bg-fff li p.clearfix{display:block;}



/**/
.order-menu li{display: table;}
.order-menu.pd0 li.bb0{border-bottom: none;}
.order-menu li .table-cell{display: table-cell;padding: 3%;vertical-align: middle;
    background: #fff;border-bottom: 1px solid #dbdbdb;font-size: 14px;color: #666;border-right: none;border-left: none;}
.order-menu li .table-cell:last-child{text-align: center;width: 30%;}
.order-menu li .table-cell .money{color: #ff3b30;}
.order-menu li .table-cell .p-second{display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;}
.order-menu li .table-cell .btn-rightOrder{color: #666;padding: 5px 6px;border: 1px solid #efefef;border-radius: 2px;}
.order-menu li .table-cell:first-child{text-align: center;}
.order-menu li .table-cell.caret-ddd img{color: #fff;width:80%;}
.order-menu li .table-cell.second{width: 40%;}
.swiper-wrapper .swiper-slide{position: relative;}
.clean-mask{position: absolute;padding: 5px;background: rgba(30, 188, 158, 0.60);color: #fff;font-size: 14px;z-index: 100;top: 10%;left: 2%;width: 26%;max-height: 120px;}

.img-responsive{width: 100%;}
.mask{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,.5);max-width: 640px;margin: 0 auto;z-index: 1000;}



.fl-type{width: 100%;}
.fl-type .btn-type{width: 47%;height: 36px;line-height: 36px;background: #fff;color: #666;font-family: "微软雅黑";background: #efefef;}
.fl-type .btn-type.active{background: #28b1de;color: #fff;}
.fl-type .btn-type.mb10{margin-bottom: 10px;}
.fl-type.bg5 .btn-type.active{background: #68b586;}


.service-list{width: 100%;padding: 3% 0 1%;background: #fff;border-bottom: 1px solid #bbb;}
.service-list li{float: left;width: 32.7%;position: relative;margin-right: 0.9%;}
.service-list li a{display: inline-block;position: relative;top: 0;bottom: 0;left: 0;right: 0;}
.service-list li a img{height: 100%;}
.service-list li.first{width: 66.3%;margin-right: 0.9%;}
.service-list li.mr0{margin-right: 0;}
.service-list li span{font-size: 14px;color: #666;}
.service-list li span.title{font-size: 16px;}
.service-list li span.color{color: #d9823a;}
.service-list li span.color1{color: #3d9fdf;}
.service-list li span.color2{color: #64bf9e;}
.service-list li span.color3{color: #d6c1a9;}
.service-list li span.color4{color: #821d2f;}
.service-list li .div-title{position: absolute;top: 5%;left: 3%;line-height: 18px;}


.shop-store{width: 100%;padding: 2%;background: #fff;border-top: 1px solid #bbb;margin-top: 2%;border-bottom: 1px solid #bbb; }
.store-head{width: 100%;font-size: 14px;color: #666;margin-bottom: 10px;}
.store-head a{font-size: 16px;color: #fca613;}
.store-head img{width: 80%;}
.store-head a .fa{display: inline-block;border-radius: 100%;border: 1px solid #fca613;width: 20px;height: 20px;text-align: center;line-height: 18px;}
.store-list{width: 100%;}
.store-list li{width: 32.3%;margin-right: 1.5%;float: left;position: relative;}
.store-list li a{position: relative;top: 0;bottom: 0;right: 0;left: 0;display: inline-block;}
.store-list li.mr0{margin-right: 0;}
.store-list li .div-title{font-size: 16px;color: #fff;position: absolute;top: 2%;left:4%;z-index: 10;}
.store-list li .div-title span{display: inline-block;width: 6px;height: 6px;background: #fff;position: relative;top: -3px;border-radius: 6px;}


.more-list{width: 100%;padding: 2%;background: #ececec;}
.more-list li{width: 49.5%;margin-right: 1%;float: left;margin-bottom: 5px;}
.more-list li.mr0{margin-right: 0;}
/*leathershoes-infor*/
.order-menu li .title.color1{color: #8e365a;}
.area-menu{width: 100%;}
.area-menu.w18 li{width: 18%;margin-right: 2.4%;}
.area-menu.w18 li>p{font-size: 12px;top: 0;}
.area-menu.ml15{margin-left: -15px;}
.area-menu li{float: left;border: 1px solid #fab432;text-align: center;width: 23%;margin-right: 2.666%;}
.area-menu li.mr0{margin-right: 0;}
.area-menu20 li{padding: 0 11px;margin: 0 0 0 15px;}
.area-menu li .area-num{text-align: center;line-height: 86px;color: #fff;font-size: 12px;width: 100%;}
.area-menu li span.fb5{color: #fb6555;display: block;margin-top: 5px;font-size: 14px;}
.area-menu li .area-num img{width: 90%;top: 0;left: 0;margin: 5%;}
.area-menu.bg1 li {border-color: #8b3357;}
.area-menu.bg1 li>p {color: #8b3357;border-top-color: #8b3357;}
.area-menu li>p {text-align: center;border-top: 1px solid #fab432;color: #fab432;font-size: 14px;padding: 6px 2px;margin: 0 auto;position: relative;top: 2px;display: inline-block;}
.title-infor{color: #666;font-size: 14px;padding: 2% 0;}
.pd2{padding: 2%;color: #666;width: 96%;margin: 0 2%;background: #fff;border: 1px solid #dbdbdb;border-radius: 8px;}
.list-service{width: 100%;}
.list-service .head-title.bb1 {border-bottom: 1px solid #efefef;}
.head-title.lh0 .service-head{line-height: 0;}
.list-service .head-title.bb0{border-bottom: 0;}
.list-service>li{border-bottom: 1px solid #dbdbdb;}
.list-service.bb0>li{border-bottom: none;}
.list-service>li.bb0{border-bottom: none;}
.service-head>.title{line-height: 45px;}
.pd2.pdt0{padding: 0 2%;}
.small-infor{color: #63bf9d;}
.p-list{line-height: 22px;color: #666;}

.pd2 .prompt{color: #999;font-size: 14px;padding: 0;}
.div-inputs {
    width: 100%;
    background: #fff;
    color: #666;

}
.div-inputs select {
    width: 100%;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    color: #666;
    border: 1px solid #efefef;
}


.reserve{width: 100%;padding: 0 2%;}
.reserve>.title{width: 100%;color: #333;height: 45px;line-height: 45px;font-size: 16px;}
.reserve>.title.bgfff{background: #fff;color: #821d2f;font-size: 16px;}
.reserve>.title.color{color: #61bd8a;}
.reserve>.title.color2{color: #fca613;}
.reserve>.title.color3{color: #d6c1a9;}
.reserve>.title.bg{background: #28b1de;}
.reserve>.title.bg1{background: #821d2f;}
.reserve>.title.bg2{background: #d6c1a8;}
.reserve>.title.bg5{background: #68b586;}
.reserve-indormation{background: #fff;width: 100%;padding: 0 2%;padding-bottom: 30px;}
.reserve-indormation .text{width: 100%;height: 40px;line-height: 40px;padding-left: 10px;}
.reserve-indormation.bf1{background: #e4f3fa;}
.reserve-indormation>.title,.active-div .title{padding: 10px 0;color: #999;font-size: 14px;}
.reserve-indormation>.title.num{color: #fbb433;}
.reserve-indormation>.title a{color: #fbb433;}
.reserve-indormation>.title a:hover{cursor: pointer;}
.reserve-indormation>.pt0{padding-top: 0;}
.reserve-indormation>.pt0>label>input[type=checkbox]{top: 0;}
.reserve-indormation>.ta{text-align: center;}
p>label>input{position: relative;top: 2px;}



.services-type{width: 100%;background:#fff;}
.services-type .company{width: 25%;height: 44px;line-height: 44px;}

.services-type .spinner .spinnerExample{width: 72%;}
.services-type .input-area{float: left;height: 44px;line-height: 44px;padding-left: 10px;width: 75%;border: 1px solid #dbdbdb;}

.div-wdate{width: 70%;height: 40px;background: #fff;position: relative;}
.div-wdate .Wdate{border: 1px solid #efefef;background: transparent;width: 100%;height: 40px;line-height: 40px;position: relative;z-index: 5;padding-left: 10px;}
.div-wdate.w100{width: 310px;}
.div-wdate .Wdate.text{width: 300px;}
.div-wdate .fa{position: absolute;right: 10px;top: 10px;color: #52ba92;}
.reserve-date{width: 100%;}
.services-type .decrease, .services-type .increase {
    height: 42px;line-height: 42px;
}
.reserve-date .select-time {
    height: 40px;
    line-height: 40px;
    background: #fff;
    border: 1px solid #efefef;
    width: 28%;
    padding-left: 5px;
    color: #999;
}
.num {
    color: #fca511;
}
.reserve-indormation .textarea{width: 100%;font-size: 14px;color: #666;border: 1px solid #efefef;}
.div-order {
    width: 100%;
    text-align: center;
    position: relative;
}
.btn-order {
    width: 100px;
    height: 34px;
    line-height: 34px;
    background: #fbb432;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
}
.area-menu li>p{text-align: center;border-top: 1px solid #fab432;color: #fab432;font-size: 12px;padding: 6px 2px;margin: 0 auto;position: relative;top: 6px;display: inline-block;}
.area-menu.bg1 li>p{color: #8b3357;border-top-color: #8b3357;}
.area-menu.bg1 li{border-color: #8b3357;}
.area-menu.bg2 li>p{color: #d6c1a8;border-top-color: #d6c1a8;}
.area-menu.bg2 li{border-color: #d6c1a8;}
.area-menu.bg2.area-menu20 li{border-color: transparent;}
.area-menu.bg5 li>p{color: #52ba92;border-top-color: #52ba92;}
.area-menu.bg5 li{border-color: #52ba92;}




.maternity-list{width: 100%;}
.maternity-list li{width: 100%;background: #ececec;margin-bottom: 2%;display: table;}
.maternity-list li .list-div,.maternity-list li .maternity-infor{display: table-cell;vertical-align: middle;}
.maternity-list li .list-div{width: 35%;}
.maternity-list li .list-div img{width: 100%;}
.maternity-list li .maternity-infor{padding-left: 5%;color: #666;}
.title-action{height: 34px;line-height: 34px;font-size: 14px;color: #666;background: #f6fffa;width: 100%;padding: 0 3%;}
.title-action .screen-action{position: relative;right: 2%;color: #fba85c;}
.title-action .select-return{position: relative;left: 2%;color: #fba85c;}


.service-infor{width: 100%;padding: 0 2.5% 1%;background: #fff;}
.service-infor p{padding-top: 1% ;}
.service-infor p.large-title{font-size: 18px;color: #825708;}
.service-infor p.small-title{color: #666;font-size: 14px;}
.service-infor p.money{font-size: 16px;color: #ff3b30}


/*clean-menu*/
.clean-title{width: 100%;padding:1.5% 3%;font-size: 18px;color: #825708;border-bottom: 1px solid #825708;}
.clean-infor{width: 100%;padding: 1% 3% 0;}
.clean-infor p{font-size: 14px;color: #666;}
.clean-list{width: 96%;margin: 1% 2%;}
.clean-list li{width: 18%;margin-right: 2%;float: left;background: #eee;border-radius: 10px;color: #333;font-size: 16px;text-align: center;padding: 1% 0;}
.clean-list li.mr0{margin-right: 0;}
.pay-infor{width: 100%;margin-top: 2%;}
.pay-infor .last-money{text-decoration: line-through;font-size: 18px;}
.pay-infor .now-money{color: #ff580b;font-size: 18px;}
.pay-infor .btn-order{padding: 5px 25px;color: #fff;border-radius: 4px;background: #ff580b;display: inline-block;}
.keeper-no{width: 100%;}
.keeper-no li{float:left;width: 18%;margin-right: 2.5%;text-align: center;}
.keeper-no li img{width: 80%;}
.keeper-no li span{display:inline-block;width: 100%;padding: 5px 0;}
.keeper-no li.mr0{margin-right: 0;}
.charge-infor{width: 100%;padding: 1% 3% 0;}
.charge-infor p{line-height: 25px;font-size: 14px;color: #666;}
.charge-infor>.title{color: #fca613;font-size: 16px;}
.order-step{width: 100%;margin-top: 10px;padding-left: 4.5%;}
.order-step li{width: 25%;float: left;}
.order-step li span{display: inline-block;width: 80%;height: 30px;border-radius: 30px;font-size: 14px;color: #fff;
    text-align: center;line-height: 30px;background: #f9a003;}
.order-step li .fa{font-size: 24px;display: inline-block;width: 10%;text-align: center;height: 34px;position: relative;top: 5px;left: 1%;color: #666;}
.prompt{font-size: 16px;color: #666;padding: 2% 3%;}
.charge-infor p span{display: inline-block;width: 64%;color: #666;vertical-align: top;}
.charge-infor p .title{width: 34%;color: #333;}
.charge-infor1 p{line-height: 20px;margin-top: 6px;}
.sale-service{font-size: 14px;color: #666;padding: 2% 3%;}
.h10{height: 5px;width: 100%;background: #ececec;}
.h10.bgfff{background: #fff;}
.contact-type{padding: 20px 0;text-align: center;background: #fff;}
.contact-type p{font-size: 18px;color: #666;}
.contact-type p.phone-num{color: #f9a003;font-size: 20px;}

/*change_address*/
.add{display: inline-block;text-align: center;position: relative;margin-bottom: 10px;}
.add.mb0{margin-bottom: 0;}
.add>img{width: 100%;}
.add .add-btn{display: inline-block;width: 50px;height: 50px;background: #ff6863;line-height: 50px;color: #fff;font-size: 30px;border-radius: 100%;margin-right: 10px;}
.add-span{position: absolute;top: 37%;font-size: 18px;font-weight: bold;}
.add-span1{left: 10%;font-size: 16px;color: #666;}
.add-span2{right: 10%;}
.add-span2 .btn-address{background: #52ba92;color: #fff;font-size: 14px;width: 80px;height: 34px;line-height: 34px;font-family: "微软雅黑";border-radius: 6px;display: inline-block;}
.address-img{width: 20%;}
.address-group{padding: 2% 3.2%;background: #fff;position: relative;font-size: 14px;color: #999;border-bottom: 1px solid #dbdbdb;}
.address-group .phone{position: absolute;right: 6%;top: 15px;color: #666;}
.address-group .fa{position: absolute;right: 2%;top: 30%;font-size: 30px;color: #666;}
.address-group .people{position: absolute;top: 13px;color: #666;}
.address-group .address{;position:relative;bottom: 0;width: 95%;display: inline-block;padding: 0;color: #666;}
.address-group .address1{font-size: 12px;color: #999;}
.address-group .default{color: #ff0404;font-size: 14px;position: absolute;top: 55%;left: 3.5%;}
.add_address{position: fixed;left: 0;right: 0;bottom:0;background: #fc6b32;text-align: center;color: #fff;font-size: 18px;padding: 3% 0;display: inline-block;max-width: 640px;}
.span-address{display: inline-block;width: 8%;height: 100%;}
.btn-menu{width: 100%;}
.btn-menu li{width: 50%;float: left;}
.btn-menu li button{display: inline-block;text-align: center;padding: 5% 0;color: #fff;font-size: 14px;width: 100%;font-family: "微软雅黑";}
.btn-menu li .btn-remove{background: #fbb432;}
.btn-menu li .btn-save{background: #f04102;}
.height-con{background: #fff;}


.address-group{padding: 2% 3.2%;background: #fff;margin: 10px 0;position: relative;font-size: 14px;color: #666;}
.address-group .phone{position: absolute;left: 65%;top: 15px;}
.address-group .fa{position: absolute;right: 4%;top: 36%;font-size: 30px;color: #666;}
.address-group .people{position: absolute;top: 13px;}
.address-group .address{;position:relative;bottom: 0;width: 88%;display: inline-block;left: 9%;padding: 0;}
.address-group>a>.address{left:2%;}
.address-group .default{color: #ff0404;font-size: 14px;position: absolute;top: 55%;left: 3.5%;}
.add_address{position: fixed;left: 0;right: 0;bottom:0;background: #fc6b32;text-align: center;color: #fff;font-size: 18px;padding: 3% 0;display: inline-block;max-width: 640px;}
.span-address{display: inline-block;width: 8%;height: 100%;}


/*booking-information*/
.booking-form{background: #fff;margin-top: 1.5%;}
.booking-form .title{font-size: 14px;color: #666;padding: 2% 0;}
.booking-form .span-wdate{display: inline-block; width:45%;position: relative;}
.booking-form .span-wdate .Wdate{padding-left: 6px;border: 1px solid #dbdbdb;width: 100%;}
.Wdate-img{position: absolute;right: 2%;top: 4px;}
.select-time{height: 30px;border: 1px solid #dbdbdb;color: #666;font-size: 14px;padding-left: 5px;width: 21%;}
.booking-form .form-group{position: relative;margin: 0 2% 5px;width: 96%;}
.booking-form .form-group .num{font-size: 18px;color: #fb8054;}
.booking-form .form-group.w100{width: 100%;margin: 0 0 5px 0;}
.booking-form .form-group .dw-span{position: absolute;right: 10px;bottom: 5px;font-size: 14px;color: #666;}
.booking-form .form-group.submit-div{margin:15px 0 0 0;width: 100%;}
.form-group .select-address{border: 1px solid #dbdbdb;width: 32.1%;padding-left: 1%;font-size: 14px;height: 30px;color: #666;}
.form-group .textarea{border: 1px solid #dbdbdb;width: 100%;}
.form-group .input{border: 1px solid #dbdbdb;width: 100%;height: 30px;line-height: 30px;padding-left: 2%;}
.form-group .input.bg{border: none;background: #fab432;color: #fff;font-size: 16px;height: 50px;line-height: 50px;}
.form-group .input.w60{width: 68%;}
.form-group .labelW40{width: 30%;display: inline-block;color: #666;}
.form-group.mb0{margin-bottom: 0;}
.decrease,.increase{width: 14%;height: 32px;background: #fff;}
.spinner{display: inline-block;border: 1px solid #dbdbdb;width: 75%;float: left;}
.spinner .spinnerExample{width: 70%;height: 30px;padding-left: 10px;line-height: 30px;text-align: center;border-left: 1px solid #dbdbdb;border-right: 1px solid #dbdbdb;}
.company{height: 34px;border: 1px solid #dbdbdb;display: inline-block;width: 24%;float:left;border-left: none;text-align: center;line-height: 34px;}


.btn-addAddress{width: 100%;text-align: center;font-size: 14px;border-bottom: 1px solid #dbdbdb;height: 34px;line-height: 34px;}
.btn-addAddress a{display: inline-block;width: 100%;height: 100px;color: #666;}
.infor-list{}
.infor-list li{padding: 2%;line-height: 20px;border-bottom: 1px solid #dbdbdb;position: relative;}
.infor-list li span{display: inline-block;width: 100%;}
.infor-list li .btn-modiflyAddress{position: absolute;right: 4%;bottom: 4%;padding: 5px 10px;background: #fba85c;color: #fff;border-radius: 4px;font-size: 12px;}
.booking-form .form-group.mb0{margin-bottom: 0;}
.order-list{width: 100%;}
.order-list li{width: 100%;padding: 2%;display: table;}
.order-list li .div-img{}
.order-list li .order-img{width: 100%;}
.order-list li .orderList-infor{font-size: 14px;color: #666;width: 68%;padding-left: 2%;}
.order-list li .orderList-infor p{line-height: 18px;}
.order-list li a,.order-list li .orderList-infor{display: table-cell;vertical-align: middle;}



body{    line-height: 1.6;}
.weui_cells_title + .weui_cells {
    margin-top: 0;
}
.weui_cells {
    margin-top: 0;
    background-color: #FFFFFF;
    line-height: 1.45;
    overflow: hidden;
    position: relative;
    color: #666;font-size: 14px;
}

.weui_cell {
    padding: 10px 15px;
    display: block;
    position: relative;
}

.weui_cell {
    position: relative;
}
.weui_cells_checkbox .weui_cell_hd {
    padding-right: 0.35em;
}
.weui_cell_primary {
    width: 2000px;
    white-space: normal;
}
.weui_cell_hd, .weui_cell_bd, .weui_cell_ft {
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
}
.booking-form .form-group .weui_cell_bd .num{font-size: 14px;}
.weui_check {
    position: absolute;
    left: -9999em;
}
.sale-infor{width: 100%;}
.sale-infor span{display: inline-block;width: 48%;text-align: center;font-size: 14px;color: #666;padding: 5px 0;}





/*recharge-record*/
.record-table{ background: #fff;width: 96%;margin: 2%;}
.record-table tr th{background: #eeefef;color: #333;font-size: 14px;font-weight: bold;}
.record-table tr th,.record-table tr td{ text-align:center;font-size: 14px;border:1px solid #dbdbdb;color: #999;height: 2.6em;}
.money-div{width: 90%;margin: 10px auto;font-size: 14px;color: #666;}
.money-div .select-money{border: 1px solid #dbdbdb;padding-left: 10px;height: 30px;line-height: 30px;}






/*registr*/
.login-form{width: 100%;background: rgba(2,2,3,0.5);padding: 20px 0 0 0;position: absolute;z-index: 10;top: 43.5%;overflow-y:auto;max-height: 400px;}
.form-group.w100{width: 100%;}
.form-group.w100 .forgetPassword{position: relative;left: 15px;color: #fff;}
.form-group.w100 .checkboxs.pl15{color: #fff;position: relative;left: 15px;}
.form-group.w100 .checkboxs input{;}
.form-group .code{background: #4489dc;color: #fff;font-size: 12px;}
.form-group .code:hover{opacity: 0.9;filter:alpha(opacity=90);}
.form-group.w100 .form-control.btn-register{background: #fab433;color:#fff;}

.content.bg{background: #fff;position: fixed;top: 40px;right: 0;left: 0;bottom: 0;}

.logBodyBg{width: 100%;height: 100%;position: fixed;z-index: 1;left: 0;top: 0;overflow: hidden;}
.logBodyBg img{width: 100%;height: 100%;}


.btn-sure{background: #fab432;color: #fff;}
.btn-retureLogin{background: #dbdbdb;color: #333;}
.btn-interview{padding: 6px 12px;background: #52ba93;color: #fff;font-size: 14px;margin-bottom: 10px;border-radius: 4px;}

/*maternal-details*/
.content>div.pa10{padding:0 10px;}
.ma-div{width: 100%;display: table;}
.ma-div>div.ma-infor,.ma-div>.ma-img{display: table-cell;vertical-align: middle;}
.ma-div>.ma-img{width: 80%;}
.ma-div>div.ma-infor{width: 60%;font-size: 14px;color: #333;}

.ma-title{width: 100%;padding: 6px 0 6px 10px;font-size: 14px;background: #52ba93;color: #fff;}
.ma6{margin: 10px 0;color: #666;}

.head-title .service-head{background: #fff;line-height: 40px;}
.head-title .service-head>.title{font-size: 16px;color: #333;}
.head-title .service-head .fa-angle-right,.head-title .service-head .fa-angle-down{position: relative;top: 8px;font-size: 18px;}

/*maternity-search*/
.type-form{width: 100%;padding: 0 2%;font-size: 14px;color: #666;}
.search-terms{width: 100%;}
.search-terms li{width: 100%;display: table;padding: 2px 0;}
.search-terms li>div{width: 100%;padding-top: 10px;}
.search-terms li select{border: 1px solid #dbdbdb;width: 73%;padding: 5px 0 5px 5px;}

.search-terms li .w10{display: inline-block;width: 23%;vertical-align: middle;}
.search-terms li .w73{display: inline-block;width: 75%;vertical-align: middle;margin-left: 2%;}
.search-terms li .rental_mode{padding: 5px 5px;background: #f3f3f3;color: #666;font-family: "微软雅黑";font-weight: 100;border-radius: 3px;margin-left: 5px;font-size: 12px;}
.search-terms li .rental_mode.active{background: #fb8643;color: #fff;}
.operation-btn{margin: 10px 0;}
.btn-screen,.btn-clear{padding: 5px 12px;background: #fb8643;color: #fff;border-radius: 2px;}


/*maternity*/
.mc-head{width: 100%;background: #52ba92;position: relative;height: 34px;line-height: 34px;border-radius: 4px 4px 0 0;text-align: center;}
.mc-head .fa-remove{position: absolute;right: 10px;font-size: 14px;top: 10px;color: #fff;}
.mc-head .fa-remove:hover{cursor: pointer;}
.mc-content{padding: 3%;width: 94%;text-align: center;font-size: 14px;color: #fff;}
.mc-head .title{font-size: 16px;margin-top: 0;color: #fff;}
.mc-content p{font-size: 14px;color: #666;margin: 10px 0;}
.maternity-div{padding: 15px 15px;background: #fff;color: #666;position: fixed;top: 50%;width: 100%;z-index: 100;max-width: 640px;}
.maternity-div>.left{margin-right: 20px;}
.maternity-div>.title{border: 1px solid #dbdbdb;font-size: 14px;padding: 5px 15px;text-align: center;margin: 15px 0 40px;width: 140px;}

.maternity-div .btn-order{width:150px;height:34px;line-height: 34px;background: #fbb432;color: #fff;border-radius: 4px;display: inline-block;text-align: center;}

/*分页*/
.paging{position: relative;left: 50%;margin-top: 20px;width: 240px;}
.page-pre,.page-next{float: left;border-radius: 4px;background: #f2f2f2;color: #666;font-size: 16px;width: 40px;height: 30px;text-align: center;line-height: 30px;}
.page-next{margin-left: 5px;}
.page-menu{float: left;}
.page-menu li{float: left;border-radius: 4px;background: #f2f2f2;margin-left: 5px;color: #999;width: 40px;height: 30px;text-align: center;line-height: 30px;font-size: 12px;}
.page-menu li.active{background: #ff6702;color: #fff;}
.page-pre:hover,.page-next:hover{cursor: pointer;}
.page-next{margin-right: 4px;}
.page-menu li:hover{cursor: pointer;}
.page-num{border: 1px solid #ccc;text-align: center;width: 50px;height: 25px;line-height: 25px;color: #666;font-size: 12px;}
.btn-jump{width: 50px;height: 30px;text-align: center;background: #ff6702;font-size: 12px;color: #fff;font-family: "微软雅黑";}
.page-num:focus{color: #ff6702;}
.list-service .head-title .service-head>.title{font-size: 14px;}



/*paySuccess*/
.paySuccess{text-align: center;margin-top: 100px;color: #666;}
.paySuccess a{color: #fca715;}
.paySuccess a:hover{text-decoration: underline;}

/*media*/
@media screen and (max-width: 640px) {

}

@media screen and (min-width: 623px) {
    .seavice-infor .p-infor{margin-top: 10px;}
    .seavice-infor .p-infor span{position: relative;top: 8px;}
}

@media screen and (max-width: 568px) {


}

@media screen and (max-width: 480px) {
    .search-chioce1 li .item .num{display: block;}
    .search-type li a span{font-size: 14px;}
    .search-chioce li .item .title{font-size: 12px;}
    .foot .f-menu li a .fa{font-size: 16px;}
    .foot .f-menu li a>span{font-size: 14px;}
    .mobile-phone li span{font-size: 14px;}
    .service-head .title{font-size: 16px;}
    .service-head img{top: -7px;}
    .searvice-infor .title{font-size: 16px;}
    .searvice-infor p>span{font-size: 12px;}
    .service-menu li .title{font-size: 12px;}
    .person-infor p{font-size: 14px;line-height: 20px;}
    .order-menu li .title{font-size: 16px;}
    .clean-list li{font-size: 14px;}
    .clean-mask{font-size: 12px;}
    .order-step li span{font-size: 12px;}
    .news-menu li p{font-size: 14px;}
    .service-head .title{top: -6px;}
    .service-head.lh0 .title{float: left;}
    .service-head .small-title{}
    .add-span{top: 30%;}
    .address-img{width: 16%;}
    .address-group .address{margin: 8px 0;}
    .seavice-infor .title{font-size: 16px;}
}


@media screen and (max-width: 414px) {
    .person-infor{margin-top: 6%;}
    .service-list li span{font-size: 12px;}
    .service-list li span.title{font-size: 14px;}
}

@media screen and (max-width: 375px) {
    .person-infor{margin-top: 4%;}
    .address-group .address{width: 87%;left: 2%;}
    .address-group .people{position: absolute;top: 13px;left: 5%;}
    .form-group .code{text-indent: -3px;}
    .service-head .title.fs12{font-size: 12px;}
}

@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {
    .add-span{top: 26%;}
}