<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>案场个人中心</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../assets/global/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body >
    <div class="wrapper">
        <div class="dishContent">
            <div class="person_infor">
                <div class="fcInfor">
                    <div class="fcImg">
                        <img src="../../assets/mobile/images/fcImg.jpg" alt="">
                    </div>
                    <div class="fcDetails">
                        <p class="title">奥林匹克花园</p>
                        <p>案场账号</p>
                    </div>
                </div>
                <div class="fcAnimate">
                    <div class="fcAnimateDiv df">
                        <div class="flex">
                            <img src="../../assets/mobile/images/perIcon1.png" alt=""> <br>
                            <span>到访</span><br>
                            <span class="color">6</span>
                        </div>
                        <div class="flex">
                            <img src="../../assets/mobile/images/perIcon2.png" alt=""> <br>
                            <span>成交</span><br>
                            <span class="color">7</span>
                        </div>
                        <a class="cz">本月</a>
                    </div>
                    <div class="fcAnimateDiv lj hide">
                        <div class="flex">
                            <img src="../../assets/mobile/images/perIcon1.png" alt=""> <br>
                            <span>到访</span><br>
                            <span class="color">60</span>
                        </div>
                        <div class="flex">
                            <img src="../../assets/mobile/images/perIcon2.png" alt=""> <br>
                            <span>成交</span><br>
                            <span class="color">70</span>
                        </div>
                        <a class="calj">累计</a>
                    </div>
                </div>
            </div>
            <div class="weui-cells mt10">
                <a class="weui-cell weui-cell_access" href="acMyCustomer.html">
                    <div class="weui-cell__bd">
                        <p>
                            <span class="span_icon spa_juan"></span>
                            <span class="text">
                                我的客户
                            </span>
                        </p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
                <a class="weui-cell weui-cell_access" href="acqyRecord.html">
                    <div class="weui-cell__bd">
                        <p>
                            <span class="span_icon spa_regard"></span>
                            <span class="text">
                                签约记录
                            </span>
                        </p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script>
     $(function () {
         var $cz = $(".cz"),
             $calj = $(".calj"),
             $fclj = $(".fcAnimateDiv.lj"),
             slideInRight = "slideInRight",
             slideOutRight = "slideOutRight",
             hide = "hide";

         leftAnite($cz,$fclj,slideInRight,hide);
         rightAnite($calj,$fclj,slideOutRight,hide);
     })
    </script>
</body>
</html>



