<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>推荐人信息</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../assets/global/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="wrapper">
    <div class="dishContent">
        <div class="person_infor">
            <ul class="customer">
                <li>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <a>
                                <img src="../../assets/mobile/images/man.jpg" alt="">
                            </a>
                        </div>
                        <div class="weui-cell__bd">
                            <p class="clearfix">
                                <span class="left">张三1</span>
                                <span class="right">
                                    <a href="tel:13678457846" class="span_icon spa_phone"></a>
                                    <a href="sms:13678478463" class="span_icon spa_code"></a>
                                </span>
                            </p>
                            <p class="num">本月新增客户 : <span class="colorNew verdana">100</span></p>
                            <p class="num">本月新增成交 : <span class="colorNew verdana">100</span></p>
                            <p class="time">更新时间 : <span class="verdana">2016.5.3 15:35</span></p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="fcAnimate">
                <div class="fcAnimateDiv df">
                    <div class="flex">
                        <img src="../../assets/mobile/images/perIcon1.png" alt=""> <br>
                        <span>到访</span><br>
                        <span class="color">7</span>
                    </div>

                    <div class="flex">
                        <img src="../../assets/mobile/images/perIcon2.png" alt=""> <br>
                        <span>成交</span><br>
                        <span class="color">7</span>
                    </div>
                    <a class="cz">本月</a>
                </div>
                <div class="fcAnimateDiv lj hide">
                    <div class="flex">
                        <img src="../../assets/mobile/images/perIcon1.png" alt=""> <br>
                        <span>到访</span><br>
                        <span class="color">7</span>
                    </div>

                    <div class="flex">
                        <img src="../../assets/mobile/images/perIcon2.png" alt=""> <br>
                        <span>成交</span><br>
                        <span class="color">7</span>
                    </div>
                    <a class="calj">累计</a>
                </div>
            </div>
        </div>
        <ul class="customer mt10" id="customer">

        </ul>

        <!--无参与记录结束-->
        <div class="notData hide">
            无更多数据
        </div>
    </div>
    <!--无参与记录开始-->
    <div class="notConTip hide">
        <img src="../../assets/mobile/images/notContent.png" alt=""/>
        <p class="notInfor">
            暂无数据！
        </p>
    </div>
</div>
<script src="../../assets/global/plugins/jquery.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script src="../../assets/mobile/js/weui.js"></script>
<script src="../../assets/mobile/js/loadMore.js"></script>
<script>
    $(function(){

        /*滚动加载*/
        var customer = $('#customer');
        customer.scrollLoad({
            limit: 6, //限制条数
            startNum:8, //初始化显示条数
            infers:"../../assets/mobile/data/myCustomer.json", //接口
            ajaxRecord:function(obj,wajxHtml){ //数据结构

                wajxHtml += '<li>'+
                                '<a href="qdCustomerInfor.html" class="weui-cell">'+
                                    '<div class="weui-cell__hd">'+
                                        '<img src="'+obj.headImg+'" alt="">'+
                                    '</div>'+
                                    '<div class="weui-cell__bd">'+
                                        '<p class="clearfix">'+
                                            '<span class="left">'+obj.name+'</span>'+
                                            //colorNew新客户  colorDefault默认  colorSuccess成功签约  colorXd已下定  colorFp已分配  colored已到访
                                            '<span class="right colorNew">'+obj.type+'</span>'+
                                        '</p>'+
                                        '<p class="time">更新时间 : <span class="verdana">'+obj.time+'</span></p>'+
                                    '</div>'+
                                    '<div class="weui-cell__ft"></div>'+
                                '</a>'+
                            '</li>';
                return wajxHtml;
            }
        });

        var $cz = $(".cz"),
            $calj = $(".calj"),
            $fclj = $(".fcAnimateDiv.lj"),
            slideInRight = "slideInRight",
            slideOutRight = "slideOutRight",
            hide = "hide";

        leftAnite($cz,$fclj,slideInRight,hide);
        rightAnite($calj,$fclj,slideOutRight,hide);
    })
</script>
</body>
</html>



