<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>客户信息</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="wrapper">
    <div class="dishContent">
        <div class="person_infor">
            <div class="fcInfor">
                <div class="fcImg">
                    <img src="../../assets/mobile/images/default.png" alt="">
                </div>
                <div class="fcDetails">
                    <p class="title clearfix">
                        <span class="left">陈小洁</span>
                        <span class="right color">成功签约</span>
                    </p>
                    <p class="time">
                        更新时间 : <span class="verdana">2016.5.3 15:55</span>
                    </p>
                </div>
            </div>

        </div>
        <div class="cusInfor style mt10">
            <div class="title">
                客户信息
            </div>
            <div class="weui-cells mt0">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p><span class="color">*</span> 姓名</p>
                    </div>
                    <div class="weui-cell__ft">刘涛</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p><span class="color">*</span> 手机号码</p>
                    </div>
                    <div class="weui-cell__ft verdana">13245785463</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p><span class="color">*</span> 性别</p>
                    </div>
                    <div class="weui-cell__ft">男</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p><span class="color hidden">*</span> 置业类型</p>
                    </div>
                    <div class="weui-cell__ft">住宅/商铺</div>
                </div>
                <div class="weui-cell mb10">
                    <div class="weui-cell__bd">
                        <p><span class="color hidden">*</span>  预算范围</p>
                    </div>
                    <div class="weui-cell__ft verdana">50~80W</div>
                </div>

                <div class="personLx bt1">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p><span class="color hidden">*</span> 其他联系人</p>
                        </div>
                        <div class="weui-cell__ft">张三</div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p><span class="color hidden">*</span> 手机号码</p>
                        </div>
                        <div class="weui-cell__ft verdana">13654578456</div>
                    </div>
                </div>
                <div class="personLx ">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p><span class="color hidden">*</span> 其他联系人</p>
                        </div>
                        <div class="weui-cell__ft">张三</div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p><span class="color hidden">*</span> 手机号码</p>
                        </div>
                        <div class="weui-cell__ft verdana">13654578456</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
</body>
</html>



