<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>渠道个人信息</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="wrapper">
    <div class="dishContent">
        <div class="person_head">
            <img src="../../assets/mobile/images/woman.jpg" alt="" class="defaultImg"/>
        </div>
        <div class="personInfor">
            <div class="weui-cells mt0">
                <a class="weui-cell weui-cell_access" href="modifyName.html">
                    <div class="weui-cell__bd">
                        <span class="span_icon spa_juan"></span>
                        <span class="text">姓　名</span>
                    </div>
                    <div class="weui-cell__ft">张三</div>
                </a>
                <a class="weui-cell weui-cell_access" href="modifyPhone.html">
                    <div class="weui-cell__bd">
                        <span class="span_icon spa_mobile"></span>
                        <span class="text">
                                    手机号
                            </span>
                    </div>
                    <div class="weui-cell__ft"><span class="verdana">15015122542</span></div>
                </a>
                <a class="weui-cell weui-cell_access" href="modifyAddress.html">
                    <div class="weui-cell__bd">
                        <span class="span_icon spa_address"></span>
                        <span class="text">
                                    所在地
                            </span>
                    </div>
                    <div class="weui-cell__ft">
                        成都,重庆,上海
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="../../assets/global/plugins/jquery.min.js"></script>
<script src="../../assets/mobile/plugins/jweixin-1.0.0.js"></script>
<script src="../../assets/mobile/js/weixin.js"></script>
</body>
</html>



