<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>渠道推荐人列表</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../assets/global/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="wrapper style">
    <div class="hd">
        <div class="search">
            <div class="search_div">
                <div class="searchInput">
                    <input type="text" class="search_input" placeholder="请输入关键词">
                    <span class="close hide">
                        <img src="../../assets/mobile/images/clear.png" alt="">
                    </span>
                </div>
                <a class="search_bar">
                    <img src="../../assets/mobile/images/search.png" alt="">
                </a>
            </div>
            <div class="screen_div">
                <img src="../../assets/mobile/images/screen.png" alt="">
                筛选
            </div>
        </div>
    </div>
    <div class="dishContent relative pt50">
        <ul class="customer"></ul>

        <!--无参与记录结束-->
        <div class="notData hide">
            无更多数据
        </div>
    </div>
    <!--无参与记录开始-->
    <div class="notConTip hide">
        <img src="../../assets/mobile/images/notContent.png" alt=""/>
        <p class="notInfor">
            暂无数据！
        </p>
    </div>
    <div class="weui_dialog_ext hide">
        <div class="weui_mask"></div>
        <div class="playFlex">
            <form action="">
                <div class="plyFlexs">
                    <div class="condition">
                        <ul class="conditionMenu">
                            <li class="active">
                                <a href="#type">客户状态</a>
                            </li>
                            <li><a href="#time">排序方式</a></li>
                        </ul>
                    </div>
                    <div class="condition">
                        <ul class="conditionList active" id="type">
                            <li>新客户</li>
                            <li>已分配</li>
                            <li>已到访</li>
                            <li>已下定</li>
                            <li>成功签约</li>
                            <li>重新分配</li>
                        </ul>
                        <ul class="conditionList" id="time">
                            <li>提交时间 由近到远</li>
                            <li>提交时间 由远到近</li>
                        </ul>
                    </div>
                </div>
                <ul class="btnMenu">
                    <li class="sure">
                        <button type="button">确认</button>
                    </li>
                    <li class="clear">
                        <button type="button">清空</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<script src="../../assets/global/plugins/jquery.min.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script src="../../assets/mobile/js/weui.js"></script>
<script src="../../assets/mobile/js/loadMore.js"></script>
<script>
    $(function(){

        /*滚动加载*/
        var customer = $('.customer');
        customer.scrollLoad({
            limit: 6, //限制条数
            startNum:4, //初始化显示条数
            infers:"../../assets/mobile/data/qdAgentList.json", //接口
            ajaxRecord:function(obj,wajxHtml){ //数据结构
                wajxHtml += '<li style="position: relative;">'+
                                '<a class="weui-cell" href="agentInfor.html">'+
                                    '<div class="weui-cell__hd">'+
                                        '<img src="'+obj.headImg+'" alt="">'+
                                    '</div>'+
                                    '<div class="weui-cell__bd">'+
                                        '<p class="clearfix" style="height: 1.5rem;">'+

                                        '</p>'+
                                        '<p class="num">本月新增客户 : <span class="colorNew verdana">'+obj.cusNum+'</span></p>'+
                                        '<p class="num">本月新增成交 : <span class="colorNew verdana">'+obj.successM+'</p>'+
                                        '<p class="time">更新时间 : <span class="verdana">'+obj.time+'</span> </p>'+
                                    '</div>'+
                                    '<div class="weui-cell__ft"></div>'+
                                '</a>'+
                                '<p style="position: absolute;left: 5.5rem;top: 0.5rem;display: block;right: 1rem;">' +
                                    '<span class="left name">'+obj.name+'</span>'+
                                    '<span class="right">'+
                                        '<a href="tel:13678457846" class="span_icon spa_phone"></a>'+
                                        '<a href="sms:13678478463" class="span_icon spa_code"></a>'+
                                    '</span>'+
                                '</p>'+
                            '</li>';
                return wajxHtml;
            }
        });

        var $screen_div = $(".screen_div");
        var $weui_dialog_ext = $(".weui_dialog_ext");
        var slideInRight = "slideInRight";
        var slideOutRight = "slideOutRight";
        var hide = "hide";

        /*打开筛选选条件*/
        $screen_div.on("click",function(){
            leftAnite($weui_dialog_ext,slideInRight,hide);
        });

        /*关闭筛选选条件*/
        $weui_dialog_ext.on("click",function(e){
            e.preventDefault();
            rightAnite($weui_dialog_ext,slideOutRight,hide);
        });

        /*确定筛选选条件*/
        var $sure = $(".sure");
        $sure.on("click",function (e) {
            e.preventDefault();
            rightAnite($weui_dialog_ext,slideOutRight,hide);
        });

        /*清空筛选选条件*/
        var conditionMenuli = $(".conditionMenu li");
        var conditionListLi = $(".conditionList li");
        var $clear = $(".clear");
        $clear.on("click",function (e) {
            e.preventDefault();
            conditionMenuli.removeClass("active");
            conditionListLi.removeClass("active");
            rightAnite($weui_dialog_ext,slideOutRight,hide);
        })
    })
</script>
</body>
</html>



