<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>推荐客户</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="../../assets/mobile/plugins/ion.rangeslider/css/ion.rangeSlider.css"/>
    <link rel="stylesheet" href="../../assets/mobile/plugins/ion.rangeslider/css/ion.rangeSlider.Metronic.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
<div class="wrapper style">
    <div class="dishContent absolute pb50">
        <img src="../../assets/mobile/images/tkxx.jpg" class="w100" alt="">
        <div class="recomond mt0">
            <div class="title">置业类型</div>
            <div class="recomondBd">
                <ul class="recMenu clearfix">
                    <li class="active">住宅</li>
                    <li>写字楼</li>
                    <li class="mr0">商铺</li>
                    <li>商铺</li>
                </ul>
                <div class="house">
                    <ul class="houseType clearfix">
                        <li>
                            单配
                        </li>
                        <li>一室</li>
                        <li>两室</li>
                        <li>三室</li>
                    </ul>
                    <ul class="houseType clearfix hide">
                        <li>
                            单配
                        </li>
                        <li>一室</li>
                        <li>两室</li>
                        <li>三室</li>
                    </ul>
                    <ul class="houseType clearfix hide">
                        <li>
                            单配
                        </li>
                        <li>一室</li>
                        <li>两室</li>
                        <li>三室</li>
                    </ul>
                    <ul class="houseType clearfix hide">
                        <li>
                            单配
                        </li>
                        <li>一室</li>
                        <li>两室</li>
                        <li>三室</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="recomond">
            <div class="title">预算范围</div>
            <div class="recomondBd">
                <div class="recDiv">
                    <span class="tip">单位 : w</span>
                    <input id="range_1" type="text" name="range_1" value=""/>
                </div>
            </div>
        </div>
        <a class="next">
            跳过
            <i class="fa fa-angle-double-right"></i>
        </a>
        <div class="weui-btn_area style mt1">
            <a class="weui-btn weui-btn_primary" id="sureBtn">提交</a>
        </div>
    </div>
    <div class="foot">
        <ul class="tabMenu">
            <li>
                <a href="index.html">
                    <span class="home"></span>
                    <span>首页</span>
                </a>
            </li>
            <li class="active">
                <a href="fillCusInfor.html">
                    <span class="good"></span>
                    <span>推荐客户</span>

                </a>
            </li>
            <li>
                <a href="personCenter.html">
                    <span class="person"></span>
                    <span>我的</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="../../assets/global/plugins/jquery.min.js"></script>
<script src="../../assets/mobile/plugins/ion.rangeslider/js/ion-rangeSlider/ion.rangeSlider.js"></script>
<script src="../../assets/mobile/js/global.js"></script>
<script>
    jQuery(document).ready(function() {
        // 滚动插件
        $("#range_1").ionRangeSlider({
            min: 0,
            max: 500,
            from: 50,
            to: 400,
            type: 'double',
            step: 1,
            prefix: "$",
            prettify: false,
            hasGrid: true
        });

        var $recMenuLi = $(".recMenu li");
        var $recomondBd = $(".recomondBd");
        var $houseType = $(".houseType");
        var $houseTypeLi = $houseType.find("li");
        $recMenuLi.each(function (index) {
            $(this).on("click",function () {
                $(this).toggleClass("active");
                $houseType.eq(index).toggleClass("hide")
            })
        });

        $recomondBd.on("click",".houseType li",function () {
            $(this).toggleClass("active");
        })

    });
</script>
</body>
</html>