<form action="#" id="form_sample_1" class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-md-3 col-xs-3 col-sm-3">
            <span class="required"> * </span>　成立时间
        </label>
        <div class="col-md-6 col-xs-6 col-sm-6">
           <span class="timeSerch">
                <span class="spanInput">
                    <input id="d4311" class="Wdate form-control" name="time" type="text" placeholder="2015-02-05"  onFocus="WdatePicker({minDate:'%y-%M-{%d}'})" readonly="">
                    <i class="fa fa-calendar"></i>
                </span>
           </span>
        </div>
    </div>

    <div class="form-group knows">
        <div class="konwList clearfix">
            <label class="control-label col-md-3 col-xs-3 col-sm-3">
                <span class="required"> * </span>　知识产权储备
            </label>
            <div class="col-md-6 col-xs-6 col-sm-6 relative">
                <div class="col-md-4 col-xs-4 col-sm-4 relative p0">
                    <select name="" id="" class="selectCaret">
                        <option value="专利权">专利权</option>
                        <option value="专利权">专利权</option>
                    </select>
                    <i class="fa fa-caret-down"></i>
                </div>
                <div class="col-md-8 col-xs-8 col-sm-8 p0">
                    <input type="text" class="form-control" name="konwInfor" placeholder="请输入知识产权储备信息"/>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-xs-3 col-sm-3"></label>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <button type="button" class="addKnow">+添加知识产权</button>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3 col-xs-3 col-sm-3">
            <span class="required"> * </span>　投融资情况
        </label>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <input type="text" class="form-control" name="financing" placeholder="请输入投融资情况"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-xs-3 col-sm-3 pt0">
            <span class="required"> * </span>　项目介绍
        </label>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <textarea style="resize: none" name="caseInfor" rows="6" class="form-control" placeholder="请输入项目介绍"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-xs-3 col-sm-3">
            <span class="required">  </span>　图
        </label>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <input type="text" class="upLoad" value="上传图片" readonly/>
            <span class="help-block">图片支持jpg、png、gif格式 ; 图片大小不超过.....</span>
        </div>
    </div>
    <hr/>

    <div class="form-group">
        <div class="col-sm-6 col-xs-6 col-md-6 col-sm-offset-3 col-xs-offset-3 col-md-offset-3">
            <button class="btn btnSure" type="submit" id="btnSave">保存</button>
            <a href="#" class="btn btnReturn">取消</a>
        </div>
    </div>
    <div class="hide" id="know">
        <div class="konwList clearfix">
            <label class="control-label col-md-3 col-xs-3 col-sm-3"></label>
            <div class="col-md-6 col-xs-6 col-sm-6 relative">
                <div class="col-md-4 col-xs-4 col-sm-4 relative p0">
                    <select name="" class="selectCaret" aria-invalid="false">
                        <option value="专利权">专利权</option>
                        <option value="专利权">专利权</option>
                    </select>
                    <i class="fa fa-caret-down"></i>
                </div>
                <div class="col-md-8 col-xs-8 col-sm-8 p0">
                    <input type="text" class="form-control" name="konwInfor" placeholder="请输入知识产权储备信息">
                </div>
            </div>
            <div class="removeT">
                <i class="fa fa-trash"></i>
            </div>
        </div>
    </div>
</form>
<script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
<script>

//    var konwHtml = '<div class="knowList clearfix" style="margin-bottom: 10px;">'+
//        '<label class="control-label col-md-3 col-xs-3 col-sm-3">'+
//        '</label>'+
//        '<div class="col-md-6 col-xs-6 col-sm-6 relative">'+
//        '<div class="col-md-4 col-xs-4 col-sm-4 relative p0">'+
//        '<select name="" id="" class="selectCaret">'+
//        '<option value="专利权">专利权</option>'+
//        '<option value="专利权">专利权</option>'+
//        '</select>'+
//        '<i class="fa fa-caret-down"></i>'+
//        '</div>'+
//        '<div class="col-md-8 col-xs-8 col-sm-8 p0">'+
//        '<input type="text" class="form-control" placeholder="请输入知识产权储备信息"/>'+
//        '</div>'+
//        '<div class="removeT">'+
//        '<i class="fa fa-trash"></i>'+
//        '</div>'+
//        '</div>'+
//        '</div>';


    $(function () {
        
        /*添加知识产权*/
        var $addKnow = $(".addKnow");
        var $konw = $(".knows");
        var $konwList = $("#know .konwList");
        $addKnow.on("click",function () {
            $konw.append($konwList.clone());
        });

        /*删除知识产权*/
        $konw.on("click",".fa-trash",function () {
            $(this).parent().parent().remove();
        })
    })
</script>
<script src="../../assets/admin/js/companyForm.js"></script>