
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>活动详情</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta name="format-detection" content="telephone=yes">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/plugins/swiper/dist/css/swiper.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">

            <!--头部开始-->
            <div class="hd">
                <a class="left relative">
                    <i class="fa fa-angle-left"></i>
                </a>
                <ul class="h_menu l1">
                    <li>
                        <a>活动详情</a>
                    </li>
                </ul>
                <a class="right" href="lotteryRules.html">
                    开奖规则
                </a>
            </div>
            <!--头部结束-->

            <!--内容开始-->
            <div class="bd absolute pd48">
                <div class="swiper-container mt0 swiper-container-horizontal" id="swiper-container">
                    <div class="swiper-wrapper" style="transition-duration: 0ms; ">
                        <div class="swiper-slide">
                            <img src="../../assets/mobile/plugins/swiper/dist/images/activeSlider1.jpg" alt="" class="w100"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/mobile/plugins/swiper/dist/images/activeSlider2.jpg" alt="" class="w100"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/mobile/plugins/swiper/dist/images/activeSlider3.jpg" alt="" class="w100"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/mobile/plugins/swiper/dist/images/activeSlider4.jpg" alt="" class="w100"/>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <!--<div class="swiper-button-next"></div>-->
                    <!--<div class="swiper-button-prev"></div>-->
                </div>

                <div class="activeList p0">
                    <ul class="activeMenu">
                        <li>
                            <div class="b_d">
                                <div class="k_j">
                                    <span class="k_j_j">进行中</span>
                                    <span class="k_j_y hide">已开奖</span>
                                    <span class="k_j_k hide">开奖中</span>
                                    <strong>Apple iPhone7 64G</strong>
                                    <a class="share_icon"></a>
                                </div>
                                <p class="k_j_i">
                                    iOS 以非同寻常的个性化方式和强大功能，为 iPhone 和 iPad 注入强劲的生命力。它拥有优雅易用的界面，为什么 iPhone 和 iPad会让这么多人爱不释手
                                </p>

                                <!--未开奖开始-->
                                <div class="pross hide">
                                    <div class="pross_i">
                                        <p>
                                            期号 : 001 共10期
                                        </p>
                                        <div class="fatherNum">
                                            <span class="sonNum"></span>
                                        </div>
                                        <p class="style">
                                            总需:
                                            <span class="fatherSpan">200</span>人/<span class="other">33</span>剩余人次
                                        </p>
                                    </div>
                                    <div class="pross_h style">
                                        <a href="participationRecord.html">参与记录</a>
                                    </div>
                                </div>
                                <!--未开奖开始-->


                                <!--已开奖中奖者信息开始-->
                                <div class="zj_infor">
                                    <div class="clearfix block">
                                        <div class="left">
                                            <span>期号 : 001 共10期</span><br>
                                        <span class="color">
                                            幸运号  1000399980
                                        </span>
                                        </div>
                                        <a href="calculationInfor.html" class="right btn_js">计算详情</a>
                                    </div>
                                    <ul class="entryList bd100 mt0 pl0">
                                        <li>
                                            <a>
                                                <div class="couponImg style">
                                                    <img src="../../assets/mobile/images/shopping1.jpg" class="couponImg1" alt="">
                                                </div>
                                                <span class="inforList">
                                                    <span class="title">
                                                        丁丁芭比
                                                    </span>

                                                    <span>
                                                        ID：1000160
                                                    </span>
                                                    <span class="w150">
                                                        参与时间：2016-11-12
                                                    </span>
                                                </span>
                                                <span class="ykjBg">

                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!--已开奖中奖者信息结束-->

                                <div class="infor">
                                    <span class="icon icon_time"></span>
                                    <span>报名时间：2016-08-31至2016-09-02</span>
                                </div>
                                <div class="infor">
                                    <p class="title">商家信息</p>
                                    <div class="clearfix i_con">
                                        <div class="left">
                                            <div class="relative">
                                                <a href="###" class="w3">
                                                    <img src="../../assets/mobile/images/defaultP.png" alt="">
                                                </a>
                                                <img src="../../assets/mobile/images/gz.png" alt="" class="addressIcon">
                                            </div>
                                            <div class="activeTitle">暴走金刚</div>
                                        </div>
                                        <div class="right">
                                            <a class="btn_s">发私信</a>
                                            <a class="btn_l" href="tel:023-6786789">联系客服</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infor p0">
                                    <a href="###">
                                        <span class="icon icon_address"></span>
                                        <span class="b_s">任务地址：重庆市九龙坡区大坪万科景程</span>
                                        <span class="weui_cell_ft"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="active_p">
                    <ul class="active_n clearfix">
                        <li class="active">
                            <a>图文详情</a>
                        </li>
                        <li>
                            <a>晒单分享</a>
                        </li>
                        <li>
                            <a>往期揭晓</a>
                        </li>
                    </ul>

                    <!--图文相情开始-->
                    <div class="ac_in active">
                        <img src="../../assets/mobile/images/activeInforImg.jpg" alt="" class="w100">
                        <p class="ac_in_p">
                            <!--文字详情所在位置-->
                        </p>
                    </div>
                    <!--图文相情结束-->

                    <!--晒单分享开始-->
                    <div class="ac_in bt1">
                        <div class="ac_d">

                            <!--晒单数据开始-->
                            <ul class="ac_mu">
                                <li>
                                    <div class="ac_div">
                                        <a href="###" class="ac_a">
                                            <img src="../../assets/mobile/images/defaultP.png" alt="">
                                        </a>
                                    </div>
                                    <div class="per_in clearfix">
                                        <div class="per_i_i">
                                            <p class="title">暴走金刚</p>
                                            <p>
                                                <img src="../../assets/mobile/images/activeImg1.jpg" alt="">
                                                <img src="../../assets/mobile/images/activeImg1.jpg" alt="">
                                                <img src="../../assets/mobile/images/activeImg1.jpg" alt="">
                                                <img src="../../assets/mobile/images/activeImg1.jpg" alt="">
                                                <img src="../../assets/mobile/images/activeImg1.jpg" alt="">

                                            </p>
                                            <p>2016-7-2 08:30</p>
                                        </div>
                                        <ul class="starList starMenu clearfix">
                                            <li class="active">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="ac_div">
                                        <a href="###" class="ac_a">
                                            <img src="../../assets/mobile/images/defaultP.png" alt="">
                                        </a>
                                    </div>
                                    <div class="per_in clearfix">
                                        <div class="per_i_i">
                                            <p class="title">暴走金刚</p>
                                            <p>亲,写的好好啊</p>
                                            <p>2016-7-2 08:30</p>
                                        </div>
                                        <ul class="starList starMenu clearfix">
                                            <li class="active">
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <a class="btnLook bt0">
                                <span class="text">展开查看更多</span>
                                <span class="animatesBottom animates">
                                    <i class="fa fa-angle-double-down "></i>
                                </span>
                            </a>
                            <!--晒单数据结束-->

                            <!--无晒单数据开始-->
                            <div class="notConTip hide relative">
                                <img src="../../assets/mobile/images/noDate.png" alt=""/>
                                <p class="notInfor">
                                    暂无晒单！
                                </p>
                            </div>
                            <!--无晒单数据结束-->
                        </div>
                    </div>
                    <!--晒单分享结束-->

                    <!--往期揭晓开始-->
                    <div class="ac_in">
                        <ul class="entryList bd100 style mt0" id="wqjx">
                            <li>
                                <p class="clearfix">
                                    <span class="left">期号 : 001 共10期</span>
                                    <span class="numS right">开奖时间 : 2016-11-20</span>
                                </p>
                                <div>
                                    <div class="couponImg style left">
                                        <img src="../../assets/mobile/images/shopping1.jpg" class="couponImg1" alt="">
                                    </div>
                                    <span class="inforList w75">
                                        <span class="title">
                                            丁丁芭比
                                        </span>
                                        <span class="clearfix">
                                            <span class="left">ID:1000</span>
                                            <span class="right color1">幸运号</span>
                                        </span>
                                        <span class="clearfix">
                                            <span class="left">2011-10-31</span>
                                            <span class="right color2">10003355</span>
                                        </span>

                                    </span>
                                </div>

                            </li>
                            <li>
                                <p class="clearfix">
                                    <span class="left">期号 : 001 共10期</span>
                                    <span class="numS right">开奖时间 : 2016-11-20</span>
                                </p>
                                <div>
                                    <div class="couponImg style left">
                                        <img src="../../assets/mobile/images/shopping1.jpg" class="couponImg1" alt="">
                                    </div>
                                    <span class="inforList w75">
                                        <span class="title">
                                            丁丁芭比
                                        </span>
                                        <span class="clearfix">
                                            <span class="left">ID:1000</span>
                                            <span class="right color1">幸运号</span>
                                        </span>
                                        <span class="clearfix">
                                            <span class="left">2011-10-31</span>
                                            <span class="right color2">10003355</span>
                                        </span>

                                    </span>
                                </div>

                            </li>
                        </ul>
                        <a class="btnLook bt0">
                            <span class="text">展开查看更多</span>
                            <span class="animatesBottom animates">
                                <i class="fa fa-angle-double-down "></i>
                            </span>
                        </a>
                    </div>
                    <!--往期揭晓开始-->
                </div>
            </div>
            <!--内容结束-->

            <!--底部开始-->
            <div class="foot style">
                <ul class="tabMenu clearfix">
                    <li class="active">
                        <i class="fa fa-heart"></i>
                        <span>799</span>
                    </li>
                    <li>
                        <span class="fa fa-hand-o-up"></span>
                        <span>1.8k</span>
                    </li>
                    <li class="bold">
                        ￥1.00
                    </li>
                    <li>
                        <a class="btn_cy" id="joinActive">
                            立即参与
                        </a>
                        <a class="btn_yjs hide">
                            已参与
                        </a>
                        <a class="btn_cy hide">
                            参与下一期
                        </a>
                        <a class="btn_sd hide">
                            晒单
                        </a>
                        <a class="btn_yjs hide">
                            已结束
                        </a>

                    </li>
                </ul>
            </div>
            <!--底部结束-->

            <!--数量选择弹框开始-->
            <div class="weui_dialog_confirm hide">
                <div class="weui_mask"></div>
                <div class="weui_dialog vux-dialog-transition" style="display: inline-block;">
                    <div class="weui_dialog_hd">
                        请选择购买人次
                    </div>
                    <div class="weui_dialog_bd style">
                        <a class="num">
                            <span class="minus"></span>
                            <input type="number" class="buycount" value="1" maxlength="3" format="3N" />
                            <span class="plus" ></span>
                        </a>
                        <ul class="numChioce clearfix">
                            <li class="active">10</li>
                            <li>20</li>
                            <li>50</li>
                        </ul>
                        <p class="numInfor">
                            共 : $5.00/5H币
                        </p>
                    </div>
                    <div class="weui_dialog_ft">
                        <a href="javascript:;" class="weui_btn_dialog default" id="cancelJoin">取消</a>
                        <a href="javascript:;" class="weui_btn_dialog primary" id="sureJoin">确定</a>
                    </div>
                </div>
            </div>
            <!--数量选择弹框结束-->

        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/plugins/swiper/dist/js/swiper.min.js"></script>
    <script src="../../assets/mobile/js/progress.js"></script>
    <script src="../../assets/mobile/js/tips.js"></script>
    <script src="../../assets/mobile/js/spinner.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script>
        $(function(){
            /*数量选择*/
            $('.num').spinner({});
            var numChioce = $(".numChioce li");
            var joinActive = $("#joinActive");
            var weui = $(".weui_dialog_confirm");
            var cancelJoin = $("#cancelJoin");
            var sureJoin = $("#sureJoin");
            numChioce.on("touchend",function(){
                $(this).addClass("active");
                $(this).siblings("li").removeClass("active");
            });

            /*数量选择弹框*/
            joinActive.on("touchend",function(){
                weui.removeClass("hide");
            });

            /*取消参加活动*/
            cancelJoin.on("touchend",function(){
                weui.addClass("hide");
            });

            /*确定参加活动*/
            sureJoin.on("touchend",function(){
                weui.addClass("hide");
            });


            /*slider滑动*/
            var swiper = new Swiper('#swiper-container', {
                //prevButton:'.swiper-button-prev',
                //nextButton:'.swiper-button-next',
                slidesPerView: 1,
                pagination:'.swiper-pagination',
                paginationClickable: true,
                spaceBetween: 0,
                loop:true,
                autoplay: 5000,
                autoplayDisableOnInteraction: false
            });


            /*进度条*/
            var pross = $('.pross');
            pross.progress({});

            /*关注*/
            var addressIcon = $(".addressIcon");
            addressIcon.each(function(){
                $(this).on("touchend",function(){
                    $(this).addClass("hide");
                    tipMsg("关注成功");
                })
            });

            /*发私信*/
            var btn_s = $(".btn_s");
            btn_s.on("touchend",function(){
                tipMsg("请关注商家");
            });

            /*切换*/
            var active_n = $(".active_n li");
            var ac_in = $(".ac_in ");
            active_n.each(function(i){
                $(this).on("touchend",function(){
                    $(this).addClass("active");
                    $(this).closest("li").siblings("li").removeClass("active");
                    ac_in.eq(i).addClass("active");
                    ac_in.eq(i).siblings(ac_in).removeClass("active");
                });

            });

            /*展开更多*/
            var btnLookA = $("a.btnLook ");
            var text = $(".text");
            var animates = $(".animates");
            var wqjx = $("#wqjx");
            var wajxHtml = "";
            btnLookA.on("touchend",function(){
                var that = $(this);
                if(that.find("i").is(".fa-angle-double-up")){

                    /*隐藏ajax加载进来的部分*/
                    wqjx.find("li.active").removeClass("active").addClass("hide");

                    /*点击加载按钮的变化*/
                    that.find(animates).removeClass("animatesTop").addClass("animatesBottom");
                    that.find("i").removeClass("fa-angle-double-up").addClass("fa-angle-double-down");
                    that.find(text).text("展开查看全部");
                }else if(that.find("i").is(".fa-angle-double-down")){

                    /*判断是否第一次加载*/
                    if(wqjx.find("li").is(".hide")){

                        /*如果不是第一次加载显示影藏的部分*/
                        wqjx.find("li.hide").removeClass("hide").addClass("active");
                    }else {

                        /*第一次用ajax加载*/
                        $.post("../../assets/mobile/data/wqjx.json",{},function(data){
                            if(data.status == "ok"){//查询成功
                                var res = data.datas;
                                for(var i=0;i<res.length;i++){
                                    wajxHtml += '<li class="active">'+
                                                    '<p class="clearfix">'+
                                                        '<span class="left">期号 : '+res[i].num+' 共'+res[i].tatolNum+'期</span>'+
                                                        '<span class="numS right">开奖时间 : '+res[i].lotteryTime+'</span>'+
                                                    '</p>'+
                                                    '<div>'+
                                                        '<div class="couponImg style left">'+
                                                            '<img src="'+res[i].headImg+'" class="couponImg1" alt="">'+
                                                        '</div>'+
                                                        '<span class="inforList w75">'+
                                                            '<span class="title">'+res[i].lotteryName+'</span>'+
                                                            '<span class="clearfix">'+
                                                                '<span class="left">ID:'+res[i].id+'</span>'+
                                                                '<span class="right color1">幸运号</span>'+
                                                            '</span>'+
                                                            '<span class="clearfix">'+
                                                                '<span class="left">'+res[i].createTime+'</span>'+
                                                                '<span class="right color2">'+res[i].luckyNumber+'</span>'+
                                                            '</span>'+
                                                        '</span>'+
                                                    '</div>'+
                                                '</li class="active">';
                                }
                                wqjx.append(wajxHtml);

                            }
                            else{//没有更多
                                tipMsg("加载失败");
                            }

                        },"json");
                    }

                    /*点击加载按钮的变化*/
                    that.find(animates).removeClass("animatesBottom").addClass("animatesTop");
                    that.find("i").removeClass("fa-angle-double-down").addClass("fa-angle-double-up");
                    that.find(text).text("收起");
                }
            });
        })
    </script>
</body>
</html>