<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>支付结果</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/plugins/swiper/dist/css/swiper.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="content">
        <div class="page">
            <!--头部开始-->
            <div class="hd">
                <a class="left">
                    <i class="fa fa-angle-left"></i>
                </a>
                <ul class="h_menu">
                    <li>
                        <a>支付结果</a>
                    </li>
                </ul>
            </div>
            <!--头部结束-->

            <!--内容开始-->
            <div class="bd absolute pt bt1 bgfff">

                <div class="code_c">

                    <!--支付成功开始-->
                    <div class="c_img hide">
                        <img src="../../assets/mobile/images/success.png" alt="">
                        <p>
                            <span class="color">支付成功</span><br>
                            <span>兑奖码:001132,00023456</span><br>
                            <span>更多兑奖码请查看短信</span>
                        </p>

                        <div class="get_c">
                            <div class="weui_btn_area">
                                <a  class="weui_btn weui_btn_primary bg b0 mb10">返回活动列表</a>
                                <a  class="weui_btn weui_btn_primary bg1 b0 mb10">查看我的记录</a>
                            </div>
                        </div>
                    </div>
                    <!--支付成功结束-->

                    <!--支付失败开始-->
                    <div class="c_img style hide">
                        <img src="../../assets/mobile/images/fail.png" alt="">
                        <p class="mb30">
                            <span class="color">很遗憾,您的H币不足</span><br>

                        </p>
                        <div class="c_infor">
                            H币余额20
                        </div>
                    </div>
                    <div class="c_img style">
                        <img src="../../assets/mobile/images/fail.png" alt="">
                        <p class="mb30">
                            <span class="color">很遗憾,支付失败</span><br>
                            如有疑问请联系客户
                        </p>
                        <div class="c_infor color">
                            失败可能性原因 :<br>
                            1、微信余额不足 <br>
                            2、网络不通畅
                        </div>
                    </div>
                    <!--支付失败结束-->
                </div>
            </div>
            <!--内容结束-->
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>