<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="../../assets/admin/css/asgo.css"/>
    <link rel="stylesheet" href="../../assets/admin/css/asgocommon.css"/>
    <link rel="stylesheet" href="../../assets/admin/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <title>公司</title>
</head>
<body>
    <div id="admin-wrapper">
        <div class="nav">
            <div class="main-nav">
                <div class="logo-wrapper">
                    <div class="logo logo-left">
                        随走
                    </div>
                </div>
                <ul class="main-nav-list">
                    <li data="home">
                        <a href="adminIndex.html" class="clearfix" title="首页">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/home1.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li data="Employer">
                        <a href="mobileExhibition.html" class="clearfix" title="雇主品牌">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/Employer1.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li data="position">
                        <a href="application.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/position1.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li data="recruit">
                        <a href="positionManagement.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/recruit1.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li data="special">
                        <a href="specialList.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/special1.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li data="statistics">
                        <a href="jobDataStatistics.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/statistics1.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li data="set" class="last active">
                        <a href="companyInfor.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/set.png" alt=""/>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-nav-w158">
                <ul class="main-nav-list">
                    <div class="logoDiv">
                        <img src="../../assets/admin/images/logo.png" alt="" class="logoIcon"/>
                    </div>
                    <li>
                        <a href="adminIndex.html" class="clearfix list">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">首页</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="mobileExhibition.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">雇主品牌</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="application.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">职位管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="positionManagement.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">招聘管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="specialList.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">专题管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="jobDataStatistics.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">数据统计</span>
                            </div>
                        </a>
                    </li>
                    <li class="last active">
                        <a href="companyInfor.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">账号设置</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="admin-content-wrapper">
            <style>
                .companyTitle{top: -30px;}
            </style>
            <div class="content-header">
                <span class="content-title">账号资料</span>
                <div class="company-name right">
                    <span class="accountSettings">
                        <a href="#">
                            <img src="../../assets/admin/images/companyLogo.jpg" alt=""/>
                        </a>
                        易优弧
                    </span>
                    <ul class="account-selection hide">
                        <li>
                            <a href="companyInfor.html" class="companyInfor">
                                <i class="fa fa-gear"></i>
                                账号设置
                            </a>
                        </li>
                        <li class="signOut">
                            <a href="#">
                                <i class="fa fa-power-off"></i>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content content--side-main content--no-inner-nav-bar home">
                    <img src="../../assets/admin/images/companyGet.jpg" alt="" class="w100"/>
                    <div class="content-position mt40 ns-admin ns-setting ns-accountinfo ng-scope">
                        <ul class="companyTitle clearfix">
                            <li class="hover">
                                <a href="companyInfor.html" class="companyInfor">公司信息</a>
                            </li>
                            <li class="hover">
                                <a href="amountReward.html" class="amountReward">悬赏招聘</a>
                            </li>
                            <!--<li class="hover">-->
                                <!--<a href="userManagementList.html" class="userManagementList">用户管理(仅管理员权限)</a>-->
                            <!--</li>-->
                            <li class="active">
                                <a href="accountManagement.html" class="accountManagement">账号资料</a>
                            </li>
                            <!--<li class="hover">-->
                                <!--<a href="modifyPassword.html" class="modifyPassword">修改密码</a>-->
                            <!--</li>-->
                        </ul>
                        <div class="divForm">
                            <p class="title">
                                <span>账号资料</span>
                            </p>
                        </div>
                        <div class="content setting" style="padding: 0 0 5px;">
                            <div class="card setting-company setting-narrow" style="background: #f7f7f7;">
                                <form class="setting-info" name="settingInfoForm">
                                    <section class="setting-other">
                                        <!--<div class="form-line">-->
                                            <!--<label class="form-line-label">联系人邮箱</label>-->
                                            <!--<div class="form-line-input">-->
                                                <!--<input class="form-control-input hide" type="email" name="email">-->
                                                <!--<label class="form-control-input default hide"></label>-->
                                                <!--<label class="form-control-input default null-info">未填写</label>-->
                                            <!--</div>-->
                                            <!--<span class="error-message">邮箱格式不正确</span>-->
                                            <!--<label class="emailtip hide">验证邮件已发，请尽快登陆验证<br>24h内未验证将取消修改</label>-->

                                            <!--<a class="modify change"  href="">修改</a>-->
                                            <!--<a class="modify confirm hide" href="">确认</a>-->
                                            <!--<a class="modify cancel hide" href="">取消</a>-->
                                        <!--</div>-->
                                        <div class="form-line">
                                            <label class="form-line-label">免费体验版</label>
                                            <div class="form-line-input">
                                                <label class="form-control-input default">到期时间:2016.05.03</label>
                                            </div>
                                        </div>
                                        <div class="form-line personName">
                                            <label class="form-line-label">联系人姓名</label>
                                            <div class="form-line-input">
                                                <input class="form-control-input hide inputName" type="text" name="name">
                                                <label class="form-control-input default haveName">周先生</label>
                                                <label class="form-control-input default null-info hide">未填写</label>
                                            </div>
                                            <span class="error-message">联系人不能为空</span>
                                            <a class="modify change">修改</a>
                                            <a class="modify confirm hide">确认</a>
                                            <a class="modify cancel hide">取消</a>
                                        </div>

                                        <div class="form-line mobile">
                                            <label class="form-line-label">联系人手机</label>
                                            <div class="form-line-input">
                                                <input class="form-control-input hide inputPhone" type="text" name="mobile" placeholder="请输入新的手机号">
                                                <label class="form-control-input default havePhone">15683078668</label>
                                                <label class="form-control-input default null-info hide">未填写</label>
                                            </div>
                                            <span class="error-message">请输入11位手机号</span>
                                            <a class="modify change">修改</a>
                                        </div>

                                        <div class="form-line newMobile hide">
                                            <label class="form-line-label"></label>
                                            <div class="form-line-group-input pos">
                                                <input class="form-control-input code" type="text" name="code">
                                                <span>
                                                    <button class="form-control-button disabled" id="newCode" type="button" disabled="disabled" style="padding: 0;">
                                                        发送验证码
                                                    </button>
                                                </span>
                                                <a class="modify confirm mobile-confirm hide">确认</a>
                                                <a class="modify cancel mobile-cancel hide">取消</a>
                                            </div>
                                            <span class="error-message">请输入4位验证码</span>
                                        </div>

                                        <div class="form-line password">
                                            <label class="form-line-label">密码设置</label>
                                            <div class="form-line-input">
                                                <label class="form-control-input default hide">******</label>
                                                <label class="form-control-input default null-info hide">未设置</label>
                                            </div>
                                            <span class="error-message">密码</span>
                                            <a class="modify change hide">修改</a>
                                        </div>
                                        <div class="form-line passwd-md nowPassword">
                                            <label class="form-line-label"></label>
                                            <div class="form-line-input">
                                                <input class="form-control-input" type="password" name="password" placeholder="输入当前密码" >
                                                <!--<a href="#" class="forgetPassword">忘记密码</a>-->
                                            </div>
                                            <span class="error-message">密码需为6位数字字母组成</span>
                                        </div>
                                        <div class="form-line passwd-md newPassword">
                                            <label class="form-line-label"></label>
                                            <div class="form-line-input">
                                                <input class="form-control-input" type="password" name="password"  placeholder="输入新密码" >
                                            </div>
                                            <span class="error-message">密码需为6位数字字母组成</span>
                                        </div>

                                        <div class="form-line passwd-md confirmNewPassword">
                                            <label class="form-line-label"></label>
                                            <div class="form-line-input pos">
                                                <input class="form-control-input" type="password" name="confirm_password" placeholder="再次输入新密码" >
                                                <a class="modify confirm mobile-confirm disabled" disabled="disabled">确认</a>
                                                <a class="modify cancel mobile-cancel">取消</a>
                                            </div>
                                            <span class="error-message">密码不一致</span>
                                        </div>




                                    </section>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-backdrop  hide" style="z-index: 1040;"></div>
                <div class="modal  modal-tip hide">
                    <div class="position-phone-validate">
                        <div class="position-phone-validate-wrapper">
                            <i class="fa fa-remove close"></i>
                            <form name="phoneValidateForm" class="">
                                <p class="position-phone-validate-wrapper-tip">请先验证手机号</p>
                                <p class="position-phone-validate-wrapper-tip setting-phone">15683078668</p>
                                <div class="form-line">
                                    <div class="form-line-group-input ppv">
                                        <input class="form-control-input code-input" type="text" name="code" placeholder="请输入验证码">
                                        <span>
                                            <button class="form-control-button code-btn" type="button" id="btnTips">
                                                发送验证码
                                            </button>
                                        </span>
                                    </div>
                                    <span class="error-message ppv w100">请输入4位验证码</span>
                                </div>
                                <div class="ppv">
                                    <input class="form-control-submit disabled" readonly value="确认" disabled="disabled">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <script src="../../assets/admin/js/tips.js"></script>

            <script>
                $(function(){
                    /*密码验证错误提示*/
                    $(".form-line.passwd-md .form-control-input").on("keyup",function(){
                        var regPassword = /^(?=.*\d)(?=.*[a-zA-Z]).{6,}$/;
                        var passWord = $(this).closest(".passwd-md");
                        if(passWord.is(".nowPassword")){
                            if(regPassword.test($(this).val())){
                                passWord.removeClass("error");
                            }else{
                                passWord.addClass("error");
                            }
                        }
                        else if(passWord.is(".newPassword")){
                            if(regPassword.test($(this).val())){
                                passWord.removeClass("error");
                            }else{
                                passWord.addClass("error");
                            }
//
//                            if($(".modify.confirm").is("disabled")){
//                                if(($(this).val() == $(".newPassword").find(".form-control-input").val())&&(regPassword.test($(this).val()))){
//                                    passWord.removeClass("error");
//                                    $(".modify.confirm").removeClass("disabled").removeAttr("disabled");
//
//                                }else{
//                                    passWord.addClass("error");
//                                    $(".modify.confirm").addClass("disabled").addClass("disabled");
//                                }
//                            }

                        }
                        else if(passWord.is(".confirmNewPassword")){
                            if(($(this).val() == $(".newPassword").find(".form-control-input").val())&&(regPassword.test($(this).val()))){
                                passWord.removeClass("error");
                                $(".modify.confirm").removeClass("disabled").removeAttr("disabled");

                            }else{
                                passWord.addClass("error");
                                $(".modify.confirm").addClass("disabled").addClass("disabled");
                            }
                        }
                    });


                    $(".companyTitle li.hover a").hover(function(){
                        $(this).animate({
                            padding:"10px",
                            marginTop:"-10px"
                        },200)
                    },function(){
                        $(this).animate({
                            padding:"5px 10px",
                            marginTop:"0"
                        },200)
                    });
                    $(".companyTitle li a").ajaxify({
                        event: "click",
                        target:'#admin-content-wrapper'
                    });

                    /*账号操作*/
                    $(".accountSettings").on("click",function(e){
                        e.stopPropagation();
                        if($(".account-selection").is(".hide")){
                            $(".account-selection").removeClass("hide");
                        }else{
                            $(".account-selection").addClass("hide");
                        }
                    });

                    $(".modify.change").on("click",function(){
                        var formLine = $(this).closest(".form-line");
                        var isPersonName = formLine.is(".personName");
                        if(isPersonName){
                            var personName = $(".personName");
                            $(this).addClass("hide");
                            personName.find(".inputName").removeClass("hide");
                            personName.find(".confirm").removeClass("hide");
                            personName.find(".cancel").removeClass("hide");
                            personName.find(".modify").removeClass("hide");
                            if(!(personName.find(".haveName").is(".hide"))){
                                personName.find(".haveName").addClass("hide");
                                personName.find(".null-info").addClass("nullInfo");
                            }else if(!(personName.find(".null-info").is(".hide"))){
                                personName.find(".null-info").addClass("hide");
                                personName.find(".haveName").addClass("have-name");
                            }
                        }else if(formLine.is(".mobile")){
                            var mobile = $(".mobile");
                            $(".modal-backdrop,.modal-tip").removeClass("hide");
                            $(".modal-tip").find(".position-phone-validate").addClass("mobileDailog");
                            $("#admin-content-wrapper").css({"z-index":"13"});
                            if(!(mobile.find(".havePhone").is(".hide"))){
                                mobile.find(".havePhone").addClass("hide");
                                mobile.find(".null-info").addClass("nullInfo");
                            }else if(!(mobile.find(".null-info").is(".hide"))){
                                mobile.find(".null-info").addClass("hide");
                                mobile.find(".havePhone").addClass("have-phone");
                            }
                        }else if(formLine.is(".newMobile")){

                        }else if(formLine.is(".password")){
                            var password = $(".password");
                            $(".modal-backdrop,.modal-tip").removeClass("hide");
                            $(".modal-tip").find(".position-phone-validate").addClass("passwordDailog");
                            $("#admin-content-wrapper").css({"z-index":"13"});
                            if(!(password.find(".havePhone").is(".hide"))){
                                password.find(".havePhone").addClass("hide");
                                password.find(".null-info").addClass("nullInfo");
                            }else if(!(password.find(".null-info").is(".hide"))){
                                password.find(".null-info").addClass("hide");
                                password.find(".havePhone").addClass("have-phone");
                            }
                        }else if(formLine.is(".weixin")){

                        }
                    });


                    /*去除按钮的禁止点击事件*/
                    $(".modal-tip").delegate(".position-phone-validate.mobileDailog .code-input","keyup",function(){
                        if(($.trim($(this).val())=="")||($(this).val().length!=4)){
                            $(this).closest(".position-phone-validate.mobileDailog").find(".form-control-submit").addClass("disabled").attr({disabled:"disabled"});
                            $(this).closest(".position-phone-validate.mobileDailog").find(".form-line").addClass("error");
                        }else{
                            $(this).closest(".position-phone-validate.mobileDailog").find(".form-control-submit.disabled").removeClass("disabled").removeAttr("disabled");
                            $(this).closest(".position-phone-validate.mobileDailog").find(".form-line").removeClass("error");
                        }
                    });
                    $("#btnTips").on("click",function(){
                        tipsContent("验证码发送成功",$(".tips"),"success");
                        var btn = $(this);
                        var count = 60;
                        var resend = setInterval(function(){
                            count--;
                            if (count > 0){
                                btn.addClass("active");
                                btn.text(count+"秒后可重新获取");
                            }else {
                                clearInterval(resend);
                                btn.removeClass("active");
                                btn.text("获取验证码").removeAttr('disabled style');
                            }
                        }, 1000);
                        btn.attr('disabled',true).css('cursor','not-allowed');
                    });

                    /*确认验证信息发送成功后弹框处理*/
                    $(".modal-tip").delegate(".position-phone-validate.mobileDailog .form-control-submit","click",function(){
                        if($(".position-phone-validate.mobileDailog").find(".code-input").val()=="1234"){
                            $(".modal-tip,.modal-backdrop").addClass("hide");
                            $("#admin-content-wrapper").css({"z-index":"2"});
                            $(".modal-tip").find(".position-phone-validate").removeClass("mobileDailog");
                            $(".mobile").find(".inputPhone").removeClass("hide");
                            $(".mobile").find(".havePhone").addClass("hide");
                            $(".mobile").find(".modify.change").addClass("hide");
                            $(".newMobile").removeClass("hide");
                            $(".newMobile").find(".confirm").removeClass("hide");
                            $(".newMobile").find(".cancel").removeClass("hide");
                        }else{
                            tipsContent("验证码不正确",$(".tips"),"fail");
                        }
                    });


                    /*修改密码验证*/
                    $(".modal-tip").delegate(".position-phone-validate.passwordDailog .form-control-submit","click",function(){
                        if($(".position-phone-validate.passwordDailog").find(".code-input").val()=="1234"){
                            $(".modal-tip,.modal-backdrop").addClass("hide");
                            $("#admin-content-wrapper").css({"z-index":"2"});
                            $(".modal-tip").find(".position-phone-validate").removeClass("passwordDailog");

                        }else{
                            tipsContent("验证码不正确",$(".tips"),"fail");
                        }
                    });


                    /*修改手机号码提示*/
                    $(".mobile").find(".inputPhone").on("keyup",function(){
                        var reg = /^(1[38][0-9]|14[57]|15[012356789]|17[0678])[0-9]{8}$/;
                        if(($.trim($(this).val())=="")||(!reg.test($(this).val()))){
                            $(this).closest(".mobile").addClass("error");
                            $(this).closest(".mobile").find(".form-line-label").addClass("red");
                            $(this).closest(".mobile").find(".error-message").removeClass("red");
                            if(!($(".newMobile").find(".form-control-button").is(".disabled"))){
                                $(".newMobile").find(".form-control-button").addClass("disabled");
                                $(".newMobile").find(".form-control-button").attr({disabled:"disabled"});
                            }
                        }
                        else{
                            $(this).closest(".mobile").removeClass("error");
                            $(this).closest(".mobile").find(".form-line-label").removeClass("red");
                            $(this).closest(".mobile").find(".error-message").addClass("red");
                            $(".newMobile").find(".form-control-button").removeClass("disabled");
                            $(".newMobile").find(".form-control-button").removeAttr("disabled");
                        }
                    });


                    /*新手机验证提示*/
                    $("#newCode").on("click",function(){
//                        if($.trim($(".form-line.newMobile").find(".form-control-input.code").val())==""){
//                            tipsContent("验证码不能为空",$(".tips"),"fail");
//                        }
//                        else if($(".form-line.newMobile").find(".form-control-input.code").val()!="1234"){
//                            tipsContent("验证码不正确",$(".tips"),"fail");
//                        }
//                        else if($(".position-phone-validate.mobileDailog").find(".code-input").val().length!=6){
//                            tipsContent("验证码长度为6位",$(".tips"),"fail");
//                        }
//                        else{
//
//                        }

                        tipsContent("验证码发送成功",$(".tips"),"success");
                        var btn = $(this);
                        var count = 60;
                        var resend = setInterval(function(){
                            count--;
                            if (count > 0){
                                btn.addClass("disabled");
                                btn.text(count+"秒后可重新获取");
                            }else {
                                clearInterval(resend);
                                btn.removeClass("active");
                                btn.text("获取验证码").removeAttr('disabled style');
                            }
                        }, 1000);
                        btn.attr('disabled',true).css('cursor','not-allowed');
                    });


                    /*确认修改处理*/
                    $(".confirm").on("click",function(){
                        var formLine = $(this).closest(".form-line");
                        if(formLine.is(".personName")){
                            var personName = $(".personName");
                            var inputNameValue = personName.find(".inputName").val();
                            if($.trim(inputNameValue)==''){
//                                personName.find(".error-message").css({"display":"inline-block"});
//                                personName.find(".form-line-label").addClass("red");
//                                personName.addClass("error");
                                tipsContent("姓名未填写",$(".tips"),"fail");
                                personName.find(".haveName").addClass("hide");
                                personName.find(".null-info").removeClass("hide");
                                personName.find(".inputName").addClass("hide");
                                personName.find(".confirm").addClass("hide");
                                personName.find(".cancel").addClass("hide");
                            }
                            else{
                                tipsContent("姓名修改成功",$(".tips"),"success");
                                if(personName.find(".null-info").is(".nullInfo")){
                                    personName.find(".null-info").addClass("hide");
                                    personName.find(".haveName").removeClass("hide");
                                    personName.find(".null-info").removeClass("nullInfo");
                                }else if(personName.find(".haveName").is(".have-name")){
                                    personName.find(".haveName").addClass("hide");
                                    personName.find(".null-info").removeClass("hide");
                                    personName.find(".haveName").removeClass("have-name");
                                }
                                personName.find(".inputName").addClass("hide");
                                personName.find(".confirm").addClass("hide");
                                personName.find(".cancel").addClass("hide");
                                personName.find(".haveName").text( personName.find(".inputName").val())
                            }
                        }else if(formLine.is(".mobile")){

                        }else if(formLine.is(".newMobile")){
                            if($(".form-line.newMobile").find(".form-control-input.code").val()=="1234"){
                                $(".mobile").find(".inputPhone").addClass("hide");
                                $(".mobile").find(".havePhone").removeClass("hide");
                                $(".mobile").find(".modify.change").removeClass("hide");
                                $(".newMobile").addClass("hide");
                                $(".newMobile").find(".confirm").addClass("hide");
                                $(".newMobile").find(".cancel").addClass("hide");
                                if(($(".mobile").find(".havePhone").text())==($(".mobile").find(".inputPhone").val())){
                                    tipsContent("未修改信息",$(".tips"),"fail");
                                }

                                else{
                                    tipsContent("手机号修改成功",$(".tips"),"success");
                                }
                                $(".mobile").find(".havePhone").text($(".mobile").find(".inputPhone").val());


                            }else{
                                 if($.trim($(".mobile").find(".inputPhone").val())==""){
                                        tipsContent("未修改信息",$(".tips"),"fail");
                                        var newMobile = $(".newMobile");
                                        newMobile.addClass("hide");
                                        var mobile = $(".mobile");
                                        mobile.find(".inputPhone").addClass("hide");
                                        mobile.find(".modify").removeClass("hide");
                                        if(mobile.find(".null-info").is(".nullInfo")){
                                            mobile.find(".null-info").addClass("hide");
                                            mobile.find(".havePhone").removeClass("hide");
                                            mobile.find(".null-info").removeClass("nullInfo");
                                        }else if(mobile.find(".havePhone").is(".have-phone")){
                                            mobile.find(".havePhone").addClass("hide");
                                            mobile.find(".null-info").removeClass("hide");
                                            mobile.find(".havePhone").removeClass("have-phone");
                                        }
                                    }
                                 }
                        }else if(formLine.is(".password")){

                        }else if(formLine.is(".weixin")){

                        }
                    });

                    /*取消信息修改处理*/
                    $(".cancel").on("click",function(){
                        var formLine = $(this).closest(".form-line");
                        if(formLine.is(".personName")){
                            var personName = $(".personName");
                            var inputNameValue = personName.find(".inputName").val();
                            personName.find(".inputName").addClass("hide");
//                            personName.find(".inputName").val(" ");
                            personName.find(".confirm").addClass("hide");
                            personName.find(".cancel").addClass("hide");

                            if(personName.find(".null-info").is(".nullInfo")){
                                personName.find(".null-info").addClass("hide");
                                personName.find(".haveName").removeClass("hide");
                                personName.find(".null-info").removeClass("nullInfo");
                            }else if(personName.find(".haveName").is(".have-name")){
                                personName.find(".haveName").addClass("hide");
                                personName.find(".null-info").removeClass("hide");
                                personName.find(".haveName").removeClass("have-name");
                            }
                        }else if(formLine.is(".mobile")){

                        }else if(formLine.is(".newMobile")){
                            var newMobile = $(".newMobile");
                            newMobile.addClass("hide");
                            var mobile = $(".mobile");
                            mobile.find(".inputPhone").addClass("hide");
                            mobile.find(".modify").removeClass("hide");
                            if(mobile.find(".null-info").is(".nullInfo")){
                                mobile.find(".null-info").addClass("hide");
                                mobile.find(".havePhone").removeClass("hide");
                                mobile.find(".null-info").removeClass("nullInfo");
                            }else if(mobile.find(".havePhone").is(".have-phone")){
                                mobile.find(".havePhone").addClass("hide");
                                mobile.find(".null-info").removeClass("hide");
                                mobile.find(".havePhone").removeClass("have-phone");
                            }
                        }else if(formLine.is(".password")){

                        }else if(formLine.is(".weixin")){

                        }
                    });
                    $(".close").on("click",function(){
                        if($(this).closest(".position-phone-validate").is(".mobileDailog")){
                            $(".modal-tip,.modal-backdrop").addClass("hide");
                            $("#admin-content-wrapper").css({"z-index":"2"});
                            $(this).closest(".position-phone-validate").removeClass("mobileDailog");
                        }
                        else if($(this).closest(".position-phone-validate").is(".passwordDailog")){
                            $(".modal-tip,.modal-backdrop").addClass("hide");
                            $("#admin-content-wrapper").css({"z-index":"2"});
                            $(this).closest(".position-phone-validate").removeClass("passwordDailog");
                        }

                    })
                });
            </script>
        </div>
        <div class="slide-bar">
            <div class="slider-bar-l">
                <i class="fa fa-weixin"></i>
                <p>聊天</p>
            </div>
            <div class="slider-bar-w">
                <i class="fa">?</i>
                <p>反馈</p>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/ajaxify/jquery.history.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery-scrollto.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery.ajaxify.js"></script>
    <script src="../../assets/admin/js/globals.js"></script>
</body>
</html>