<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="../../assets/admin/css/asgo.css"/>
    <link rel="stylesheet" href="../../assets/admin/css/asgocommon.css"/>
    <link rel="stylesheet" href="../../assets/admin/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <title>公司</title>
</head>
<body>
    <div id="admin-wrapper">
        <div class="nav">
            <div class="main-nav">
                <div class="logo-wrapper">
                    <div class="logo logo-left">
                        随走
                    </div>
                </div>
                <ul class="main-nav-list">
                    <li>
                        <a href="index.html" class="clearfix" title="首页">
                            <div class="main-nav-icon">
                                <i class="fa fa-home"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="mobileExhibition.html" class="clearfix" title="雇主品牌">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/index.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="application.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/users.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="positionManagement.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/positionM.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="specialList.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/specilIcon.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="jobDataStatistics.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/staticIcon.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li class="last active">
                        <a href="companyInfor.html" class="clearfix">
                            <div class="main-nav-icon">
                                <i class="fa fa-gear"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-nav-w158">
                <ul class="main-nav-list">
                    <div class="logoDiv">
                        <img src="../../assets/admin/images/logo.png" alt="" class="logoIcon"/>
                    </div>
                    <li>
                        <a href="index.html" class="clearfix list">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">首页</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="mobileExhibition.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">雇主品牌</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="application.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">职位管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="positionManagement.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">招聘管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="specialList.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">专题管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="jobDataStatistics.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">数据统计</span>
                            </div>
                        </a>
                    </li>
                    <li class="last active">
                        <a href="companyInfor.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">账号设置</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="admin-content-wrapper">
            <style>
                .companyTitle{top: -30px;}
            </style>
            <div class="content-header">
                <span class="content-title">账号资料</span>
                <div class="company-name right">
                    <span class="accountSettings">
                        <a href="#">
                            <img src="../../assets/admin/images/companyLogo.jpg" alt=""/>
                        </a>
                        易优弧
                    </span>
                    <ul class="account-selection hide">
                        <li>
                            <a href="companyInfor.html" class="companyInfor">
                                <i class="fa fa-gear"></i>
                                账号设置
                            </a>
                        </li>
                        <li class="signOut">
                            <a href="#">
                                <i class="fa fa-power-off"></i>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content content--side-main content--no-inner-nav-bar home">
                    <img src="../../assets/admin/images/companyGet.jpg" alt="" class="w100"/>
                    <div class="content-position mt40 ns-admin ns-setting ns-accountinfo ng-scope">
                        <ul class="companyTitle clearfix">
                            <li class="hover">
                                <a href="companyInfor.html" class="companyInfor">公司信息</a>
                            </li>
                            <li class="hover">
                                <a href="amountReward.html" class="amountReward">悬赏招聘</a>
                            </li>
                            <!--<li class="hover">-->
                                <!--<a href="userManagementList.html" class="userManagementList">用户管理(仅管理员权限)</a>-->
                            <!--</li>-->
                            <li class="active">
                                <a href="accountManagement.html" class="accountManagement">账号资料</a>
                            </li>
                            <!--<li class="hover">-->
                                <!--<a href="modifyPassword.html" class="modifyPassword">修改密码</a>-->
                            <!--</li>-->
                        </ul>
                        <div class="divForm">
                            <p class="title">
                                <span>账号资料</span>
                            </p>
                        </div>
                        <div class="content setting" style="padding: 0 0 5px;">
                            <div class="card setting-company setting-narrow" style="background: #f7f7f7;">
                                <form class="setting-info" name="settingInfoForm">
                                    <section class="setting-other">
                                        <!--<div class="form-line">-->
                                            <!--<label class="form-line-label">联系人邮箱</label>-->
                                            <!--<div class="form-line-input">-->
                                                <!--<input class="form-control-input hide" type="email" name="email">-->
                                                <!--<label class="form-control-input default hide"></label>-->
                                                <!--<label class="form-control-input default null-info">未填写</label>-->
                                            <!--</div>-->
                                            <!--<span class="error-message">邮箱格式不正确</span>-->
                                            <!--<label class="emailtip hide">验证邮件已发，请尽快登陆验证<br>24h内未验证将取消修改</label>-->

                                            <!--<a class="modify change"  href="">修改</a>-->
                                            <!--<a class="modify confirm hide" href="">确认</a>-->
                                            <!--<a class="modify cancel hide" href="">取消</a>-->
                                        <!--</div>-->
                                        <div class="form-line personName">
                                            <label class="form-line-label">联系人姓名</label>
                                            <div class="form-line-input">
                                                <input class="form-control-input hide inputName" type="text" name="name">
                                                <label class="form-control-input default haveName ">周先生</label>
                                                <label class="form-control-input default null-info hide">未填写</label>
                                            </div>
                                            <span class="error-message">联系人不能为空</span>
                                            <a class="modify change">修改</a>
                                            <a class="modify confirm hide">确认</a>
                                            <a class="modify cancel hide">取消</a>
                                        </div>

                                        <div class="form-line mobile">
                                            <label class="form-line-label">联系人手机</label>
                                            <div class="form-line-input">
                                                <input class="form-control-input hide" type="text" name="mobile" placeholder="请输入新的手机号">
                                                <label class="form-control-input default">15683078668</label>
                                                <label class="form-control-input default null-info hide">未填写</label>
                                            </div>
                                            <span class="error-message">请输入11位手机号</span>
                                            <a class="modify change">修改</a>
                                        </div>

                                        <div class="form-line newMobile hide">
                                            <label class="form-line-label"></label>
                                            <div class="form-line-group-input pos">
                                                <input class="form-control-input code" type="text" name="code">
                                                <span>
                                                    <button class="form-control-button disabled" type="button" style="padding: 0;">
                                                        <span>
                                                             发送验证码
                                                         </span>
                                                    </button>
                                                </span>
                                                <a class="modify confirm mobile-confirm hide">确认</a>
                                                <a class="modify cancel mobile-cancel hide">取消</a>
                                            </div>
                                            <span class="error-message">请输入4位验证码</span>
                                        </div>

                                        <!--<div class="form-line weixin">-->
                                            <!--<label class="form-line-label">绑定微信号</label>-->
                                            <!--<div class="form-line-input">-->
                                                <!--<label class="form-control-input default">Su</label>-->
                                                <!--<label class="form-control-input default null-info hide">未绑定</label>-->
                                            <!--</div>-->
                                            <!--<span class="error-message">请输入11位手机号</span>-->
                                            <!--<a class="modify change">修改</a>-->
                                        <!--</div>-->
                                        <div class="form-line password">
                                            <label class="form-line-label">密码设置</label>
                                            <div class="form-line-input">
                                                <label class="form-control-input default">******</label>

                                                <label class="form-control-input default null-info hide">未设置</label>
                                            </div>
                                            <span class="error-message">密码</span>
                                            <a class="modify change">修改</a>
                                        </div>

                                        <div class="form-line passwd-md hide">
                                            <label class="form-line-label"></label>
                                            <div class="form-line-input">
                                                <input class="form-control-input" type="password" name="password" placeholder="输入新密码" >
                                            </div>
                                            <span class="error-message">密码需为6位数字字母组成</span>
                                        </div>

                                        <div class="form-line passwd-md hide">
                                            <label class="form-line-label"></label>
                                            <div class="form-line-input pos">
                                                <input class="form-control-input" type="password" name="confirm_password" placeholder="再次输入新密码" >
                                                <a class="modify confirm mobile-confirm hide">确认</a>
                                                <a class="modify cancel mobile-cancel hide">取消</a>
                                            </div>
                                            <span class="error-message">密码不一致</span>
                                        </div>

                                    </section>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-backdrop  hide" style="z-index: 1040;"></div>
                <div class="modal  modal-tip hide">
                    <div class="position-phone-validate">
                        <div class="position-phone-validate-wrapper">
                            <i class="fa fa-remove close"></i>
                            <form name="phoneValidateForm" class="">
                                <p class="position-phone-validate-wrapper-tip">请先验证手机号</p>
                                <p class="position-phone-validate-wrapper-tip setting-phone">15683078668</p>
                                <div class="form-line">
                                    <div class="form-line-group-input ppv">
                                        <input class="form-control-input code-input" type="text" name="code" placeholder="请输入验证码">
                                        <span>
                                            <button class="form-control-button code-btn" type="button">
                                                <span class="">
                                                    发送验证码
                                                 </span>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="error-message ppv">请输入4位验证码</span>
                                </div>
                                <div class="ppv">
                                    <input class="form-control-submit disabled" value="确认" disabled="disabled">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(function(){
                    $(".companyTitle li.hover a").hover(function(){
                        $(this).animate({
                            padding:"10px",
                            marginTop:"-10px"
                        },200)
                    },function(){
                        $(this).animate({
                            padding:"5px 10px",
                            marginTop:"0"
                        },200)
                    });
                    $(".companyTitle li a").ajaxify({
                        event: "click",
                        target:'#admin-content-wrapper'
                    });

                    /*账号操作*/
                    $(".accountSettings").on("click",function(e){
                        e.stopPropagation();
                        if($(".account-selection").is(".hide")){
                            $(".account-selection").removeClass("hide");
                        }else{
                            $(".account-selection").addClass("hide");
                        }
                    });

                    $(".modify.change").on("click",function(){
                        var formLine = $(this).closest(".form-line");
                        var isPersonName = formLine.is(".personName");
                        if(isPersonName){
                            var personName = $(".personName");
                            $(this).addClass("hide");
                            personName.find(".inputName").removeClass("hide");
                            personName.find(".confirm").removeClass("hide");
                            personName.find(".cancel").removeClass("hide");
                            personName.find(".modify").removeClass("hide");
                            if(!(personName.find(".haveName").is(".hide"))){
                                personName.find(".haveName").addClass("hide");
                                personName.find(".null-info").addClass("nullInfo");
                            }else if(!(personName.find(".null-info").is(".hide"))){
                                personName.find(".null-info").addClass("hide");
                                personName.find(".haveName").addClass("have-name");
                            }
                        }else if(formLine.is(".mobile")){
                            $(".modal-backdrop,.modal-tip").removeClass("hide");
                            $("#admin-content-wrapper").css({"z-index":"13"});
                        }else if(formLine.is(".newMobile")){

                        }else if(formLine.is(".password")){
                            $(".modal-backdrop,.modal-tip").removeClass("hide");
                            $("#admin-content-wrapper").css({"z-index":"13"});
                        }else if(formLine.is(".weixin")){

                        }
                    });
                    $(".confirm").on("click",function(){
                        var formLine = $(this).closest(".form-line");
                        if(formLine.is(".personName")){
                            var personName = $(".personName");
                            var inputNameValue = personName.find(".inputName").val();
                            if($.trim(inputNameValue)==''){
//                                personName.find(".error-message").css({"display":"inline-block"});
//                                personName.find(".form-line-label").addClass("red");
//                                personName.addClass("error");
                                personName.find(".haveName").addClass("hide");
                                personName.find(".null-info").removeClass("hide");
                                personName.find(".inputName").addClass("hide");
                                personName.find(".confirm").addClass("hide");
                                personName.find(".cancel").addClass("hide");
                            }
                            else{
                                if(personName.find(".null-info").is(".nullInfo")){
                                    personName.find(".null-info").addClass("hide");
                                    personName.find(".haveName").removeClass("hide");
                                    personName.find(".null-info").removeClass("nullInfo");
                                }else if(personName.find(".haveName").is(".have-name")){
                                    personName.find(".haveName").addClass("hide");
                                    personName.find(".null-info").removeClass("hide");
                                    personName.find(".haveName").removeClass("have-name");
                                }
                                personName.find(".inputName").addClass("hide");
                                personName.find(".confirm").addClass("hide");
                                personName.find(".cancel").addClass("hide");
                                personName.find(".haveName").text( personName.find(".inputName").val())
                            }
                        }else if(formLine.is(".mobile")){

                        }else if(formLine.is(".newMobile")){

                        }else if(formLine.is(".password")){

                        }else if(formLine.is(".weixin")){

                        }

                    });


                    $(".cancel").on("click",function(){
                        var formLine = $(this).closest(".form-line");
                        if(formLine.is(".personName")){
                            var personName = $(".personName");
                            var inputNameValue = personName.find(".inputName").val();
                            personName.find(".inputName").addClass("hide");
//                            personName.find(".inputName").val(" ");
                            personName.find(".confirm").addClass("hide");
                            personName.find(".cancel").addClass("hide");

                            if(personName.find(".null-info").is(".nullInfo")){
                                personName.find(".null-info").addClass("hide");
                                personName.find(".haveName").removeClass("hide");
                                personName.find(".null-info").removeClass("nullInfo");
                            }else if(personName.find(".haveName").is(".have-name")){
                                personName.find(".haveName").addClass("hide");
                                personName.find(".null-info").removeClass("hide");
                                personName.find(".haveName").removeClass("have-name");
                            }
                        }else if(formLine.is(".mobile")){

                        }else if(formLine.is(".newMobile")){

                        }else if(formLine.is(".password")){

                        }else if(formLine.is(".weixin")){

                        }

                    });

                    $(".close").on("click",function(){
                        $(".modal-tip,.modal-backdrop").addClass("hide");
                        $("#admin-content-wrapper").css({"z-index":"2"})
                    })

                });
            </script>
        </div>
        <div class="slide-bar">
            <div class="slider-bar-l">
                <i class="fa fa-weixin"></i>
                <p>聊天</p>
            </div>
            <div class="slider-bar-w">
                <i class="fa">?</i>
                <p>反馈</p>
            </div>
        </div>
    </div>
    <script src="../../assets/admin/js/globals.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery.history.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery-scrollto.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery.ajaxify.js"></script>
    <script>
        $(".nav a").ajaxify({
            event: "click",
            target:'#admin-content-wrapper'
        });
    </script>
</body>
</html>