<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="../../assets/admin/css/asgo.css"/>
    <link rel="stylesheet" href="../../assets/admin/css/asgocommon.css"/>
    <link rel="stylesheet" href="../../assets/admin/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <title>职位管理</title>
</head>
<body>
    <div id="admin-wrapper">
        <div class="nav">
            <div class="main-nav">
                <div class="logo-wrapper">
                    <div class="logo logo-left">
                        随走
                    </div>
                </div>
                <ul class="main-nav-list">
                    <li>
                        <a href="index.html" class="clearfix" title="首页">
                            <div class="main-nav-icon">
                                <i class="fa fa-home"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="mobileExhibition.html" class="clearfix" title="雇主品牌">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/index.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li class="active">
                        <a href="application.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/users.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="positionManagement.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/positionM.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="specialList.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/specilIcon.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="jobDataStatistics.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/staticIcon.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li class="last">
                        <a href="companyInfor.html" class="clearfix">
                            <div class="main-nav-icon">
                                <i class="fa fa-gear"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-nav-w158">
                <ul class="main-nav-list">
                    <div class="logoDiv">
                        <img src="../../assets/admin/images/logo.png" alt="" class="logoIcon"/>
                    </div>
                    <li>
                        <a href="index.html" class="clearfix list">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">首页</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="mobileExhibition.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">雇主品牌</span>
                            </div>
                        </a>
                    </li>
                    <li class="active">
                        <a href="application.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">职位管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="positionManagement.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">招聘管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="specialList.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">专题管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="jobDataStatistics.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">数据统计</span>
                            </div>
                        </a>
                    </li>
                    <li class="last">
                        <a href="companyInfor.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">账号设置</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="admin-content-wrapper">
            <div class="content-header">
                <span class="content-title">职位管理</span>
                <div class="company-name right">
                    <span class="accountSettings">
                        <a href="#">
                            <img src="../../assets/admin/images/companyLogo.jpg" alt=""/>
                        </a>
                        易优弧
                    </span>
                    <ul class="account-selection hide">
                        <li>
                            <a href="companyInfor.html" class="companyInfor">
                                <i class="fa fa-gear"></i>
                                账号设置
                            </a>
                        </li>
                        <li class="signOut">
                            <a href="#">
                                <i class="fa fa-power-off"></i>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content content--side-main">

                    <div class="application content-side">
                        <div class="card">
                            <div class="card-item card-title">
                                筛选职位
                            </div>
                            <div class="search card-item">
                                <div class="search-box-wrapper">
                                    <input type="text" id="position-list-search" class="search-box" placeholder="请输入职位名称"/>
                                    <i class="fa fa-search" ></i>
                                </div>
                            </div>
                            <div class="card-item g-form-radio-group">
                                <p class="card-sub-title">招聘状态</p>
                                <div class="position-radio" >
                                    <input type="radio" id="pos-stat-"   value="" class="" name="357" checked>
                                    <label for="pos-stat-" class="">全部</label>
                                </div>
                                <div class="position-radio">
                                    <input type="radio" id="pos-stat-0"  value="0"  name="357">
                                    <label for="pos-stat-0" >招聘中</label>
                                </div>
                                <div class="position-radio " >
                                    <input type="radio" id="pos-stat-2"  value="2"  name="357">
                                    <label for="pos-stat-2" class="">已撤下</label>
                                </div>
                            </div>
                            <div class="card-item g-form-radio-group">
                                <p class="card-sub-title">工作性质</p>
                                <div class="position-radio">
                                    <input type="radio" id="pos-recruit-type-" value="" name="363" checked>
                                    <label for="pos-recruit-type-" class="">全职</label>
                                </div>
                                <div class="position-radio">
                                    <input type="radio" id="pos-recruit-type-0" value="0" name="363">
                                    <label for="pos-recruit-type-0" class="">兼职</label>
                                </div>
                            </div>
                            <div class="card-item g-form-radio-group">
                                <p class="card-sub-title">所属部门</p>
                                <div class="position-radio">
                                    <input type="radio" id="pos-work-type-" value=""  name="369" checked>
                                    <label for="pos-work-type-" class="">研发部</label>
                                </div>
                                <div class="position-radio" >
                                    <input type="radio"  id="pos-work-type-1" value="1" name="369">
                                    <label for="pos-work-type-1" class="">测试部</label>
                                </div>
                            </div>
                        </div>
                        <div class="card hide">
                            <div class="card-item">
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="application content-main">
                        <!-- 数据总览 -->
                        <div class="card data-box">
                            <div class="card-item card-title">
                                数据总览
                                <a class="card-title-action dataStatistics" href="jobDataStatistics.html">
                                    查看详情
                                </a>
                            </div>
                            <div class="card-item data-box-content">
                                <div class="data-item clearfix">
                                    <img src="../../assets/admin/images/positionImg4.png" alt="" class="staticImg left"/>
                                    <div class="infor left">
                                        <span class="data-item-count data-item-count1">
                                            2
                                        </span>
                                        <p class="data-item-title">招聘中职位</p>
                                    </div>
                                </div>
                                <div class="data-item">
                                    <img src="../../assets/admin/images/positionImg5.png" alt="" class="staticImg left"/>
                                    <div class="infor left">
                                        <span class="data-item-count data-item-count2">
                                            42
                                        </span>
                                        <p class="data-item-title">
                                            职位浏览量
                                        </p>
                                    </div>
                                </div>
                                <div class="data-item">
                                    <img src="../../assets/admin/images/positionImg6.png" alt="" class="staticImg left"/>

                                    <div class="infor left">
                                        <span class="data-item-count data-item-count3">
                                            1
                                        </span>
                                        <p class="data-item-title">
                                            招职转发数
                                        </p>
                                    </div>
                                </div>
                                <!--<div class="data-box-collapse-handle">-->
                                <!--<i class="fa fa-caret-up"></i>-->
                                <!--收起-->
                                <!--</div>-->
                            </div>
                        </div>
                        <!-- 职位列表 -->
                        <div class="card common-list" style="position: relative;">
                            <div class="card-item card-title">
                                <span class="common-list-title">
                                    全部职位
                                </span>
                                <a class="card-title-action allHandle show">
                                    批量处理
                                    <i class="fa fa-angle-down">
                                    </i>
                                </a>
                                <a class="right postOffice fbxzw" href="postOffice.html">
                                    <i class="fa fa-plus"></i>
                                    <span>
                                        发布新职位
                                    </span>
                                </a>

                            </div>
                            <div class="batch card-item card-title hide">
                                <div class="squaredCheckBox">
                                    <input type="checkbox" id="position-batch-selection" name="check">
                                    <label for="position-batch-selection" class="selection">全选/取消</label>
                                </div>
                                <!-- <span class="selection">全选/取消</span> -->
                                <div class="batch-action republish">
                                    <i class="fa fa-send"></i>
                                    <a class="republish">重新发布选中职位</a>
                                </div>
                                <!--<div class="batch-action up">-->
                                    <!--<i class="fa fa-arrow-up"></i>-->
                                    <!--<a class="up">置顶选中职位</a>-->
                                <!--</div>-->
                                <div class="batch-action draw">
                                    <i class="fa fa-trash-o"></i>
                                    <a class="draw">撤下选中职位</a>
                                </div>
                            </div>
                            <!-- 职位列表 -->
                            <div class="positionList">
                                <div class="card-item common-list-item ns-position-item position">
                                    <div class="squaredCheckBox hide">
                                        <input type="checkbox" id="checkbox-57156" name="check">
                                        <label for="checkbox-57156"></label>
                                    </div>
                                    <div class="priority-triangle hide"></div>
                                    <div class="item-title">
                                        <p class="item-title__title">
                                            高级商务
                                        </p>
                                        <div class="item-title__withdraw hide">
                                            <span class="deadline ">
                                                14
                                            </span>
                                            天后将彻底消失
                                        </div>
                                    </div>
                                    <ul class="item-content">
                                        <li class="item-content-li">
                                            <span class="item-info-li">
                                                周先服饰 - 市场部
                                            </span>
                                        </li>
                                    </ul>
                                    <ul class="item-info ns-position_item-info">
                                        <!--<li class="item-info-li ">-->
                                            <!--社招-->
                                        <!--</li>-->
                                        <li class="item-info-li">
                                            <span class="">
                                                全职
                                            </span>
                                        </li>
                                        <li class="item-info-li">
                                            2016-04-26 发布
                                        </li>
                                    </ul>
                                    <ul class="item-actions">
                                        <!--<li class="item-action">-->
                                            <!--<a class="item-action-link">-->
                                                <!--<i class="fa fa-home"></i>-->
                                                <!--置顶-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <li class="item-action">
                                            <a class="item-action-link postOffice" href="postOffice.html">
                                                <i class="fa fa-pencil"></i>
                                                编辑
                                            </a>
                                        </li>
                                        <li class="item-action">
                                            <a class="item-action-link">
                                                <i class="fa fa-eye"></i>
                                                预览
                                            </a>
                                        </li>
                                        <!--<li class="item-action hide">-->
                                            <!--<i class="fa fa-share"></i>-->
                                            <!--分享-->
                                            <!--<div class="newbie-pulse scale">-->
                                            <!--</div>-->
                                        <!--</li>-->
                                        <li class="item-action status">
                                            <a class="hf" style="color: #4b525c;">
                                                <i class="fa fa-mail-reply"></i>
                                                恢复
                                            </a>
                                            <a class="cx hide" style="color: #4b525c;">
                                                <i class="fa fa-remove"></i>
                                                撤下
                                            </a>
                                        </li>
                                        <li class="item-action">
                                            <a class="item-action-link">
                                                <i class="fa fa-trash-o"></i>
                                                删除
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="item-count-info">
                                        <div class="item-count-info_item">
                                            <a class="position__resume position btn-hollow active" href="positionManagement.html">
                                                <span class="">
                                                    2 份简历
                                                </span>
                                                <span class="tips position-tips hide">
                                                    0 new
                                                    <img class="tip-tip" width="13" height="8" src="//static.moseeker.com/hr/common/images/tip_tip.png">
                                                </span>
                                            </a>
                                        </div>
                                        <div class="item-count-info_item scope-candidate">
                                            <a class="position__candidate candidate__count-btn" href="#">
                                                <span class="">
                                                    4 位重点关注
                                                </span>
                                                <span class="tips candidate-tips hide">
                                                    2 new
                                                    <img class="tip-tip" width="13" height="8" src="//static.moseeker.com/hr/common/images/tip_tip.png">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- 无职位去发布新职位 -->
                            <div class="positoin-new-one">
                                <p class="position-new-one__title">
                                    你还没发布任何职位!
                                </p>
                                <a class="publish-new btn postOffice" style="border-left: none;text-align: center;" href="postOffice.html">
                                    <div class="wrappers">
                                        <i class="fa fa-plus"></i>
                                        <span>
                                            发布新职位
                                        </span>
                                    </div>
                                </a>
                            </div>

                            <div class="position-tips hide">
                                <p class="application-new-one__title">
                                    该搜索条件下没有任何相关职位
                                </p>
                            </div>
                            <!-- 分页控件 -->
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(function(){
                    $(".allHandle").on("click",function(){
                        if($(this).is(".show")){
                            $(".batch.card-item.card-title").removeClass("hide");
                            $(".card-item.position .squaredCheckBox").removeClass("hide");
                            $(this).removeClass("show");
                        }
                        else{
                            $(".batch.card-item.card-title").addClass("hide");
                            $(".card-item.position .squaredCheckBox").addClass("hide");
                            $(this).addClass("show");
                        }
                    });

                    /*全选*/
                    $(".squaredCheckBox").on("click",function(){
                        if($(this).find("input").prop("checked")){
                            $(this).find("input").removeAttr("checked");
                            $(".card-item.position .squaredCheckBox").find("input").removeAttr("checked");
                            return false;
                        }else if(!($(this).find("input").prop("checked"))){
                            $(this).find("input").prop({checked:"checked"});
                            $(".card-item.position .squaredCheckBox").find("input").prop({checked:"checked"});
                            return false;
                        }
                    });

                    $(".dataStatistics,.position__resume,.postOffice").ajaxify({
                        event: "click",
                        target: '#admin-content-wrapper'
                    });



                    setTimeout(function(){
                        $(".loadingAnimate").addClass("hide")
                    },1000);

                    /*撤下和恢复状态切换*/
                    $(".status a").on("click",function(){
                        $(this).addClass("hide");
                        $(this).siblings("a").removeClass("hide");
                    });

                    $(".nav a,postOffice").ajaxify({
                        event: "click",
                        target: '#admin-content-wrapper'
                    });

                    /*账号操作*/
                    $(".accountSettings").on("click",function(e){
                        e.stopPropagation();
                        if($(".account-selection").is(".hide")){
                            $(".account-selection").removeClass("hide");
                        }else{
                            $(".account-selection").addClass("hide");
                        }
                    });
                })
            </script>
        </div>
        <div class="slide-bar">
            <div class="slider-bar-l">
                <i class="fa fa-weixin"></i>

                <p>聊天</p>
            </div>
            <div class="slider-bar-w">
                <i class="fa">?</i>

                <p>反馈</p>
            </div>
        </div>
    </div>
    <script src="../../assets/admin/js/globals.js"></script>
    <script src="../../assets/admin/js/loading.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery.history.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery-scrollto.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery.ajaxify.js"></script>
    <script>
        $(".nav a").ajaxify({
            event: "click",
            target: '#admin-content-wrapper'
        });
    </script>
</body>
</html>