<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="../../assets/admin/css/asgo.css"/>
    <link rel="stylesheet" href="../../assets/admin/css/asgocommon.css"/>
    <link rel="stylesheet" href="../../assets/admin/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <title>雇主品牌</title>
</head>
<body>
    <div id="admin-wrapper">
        <div class="nav">
            <div class="main-nav">
                <div class="logo-wrapper">
                    <div class="logo logo-left">
                        随走
                    </div>
                </div>
                <ul class="main-nav-list">
                    <li data="home">
                        <a href="adminIndex.html" class="clearfix" title="首页">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/home1.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li class="active" data="Employer">
                        <a href="mobileExhibition.html" class="clearfix" title="雇主品牌">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/Employer.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li data="position">
                        <a href="application.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/position1.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li data="recruit">
                        <a href="positionManagement.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/recruit1.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li data="special">
                        <a href="specialList.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/special1.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li data="statistics">
                        <a href="jobDataStatistics.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/statistics1.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li data="set" class="last">
                        <a href="companyInfor.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/set1.png" alt=""/>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-nav-w158">
                <ul class="main-nav-list">
                    <div class="logoDiv">
                        <img src="../../assets/admin/images/logo.png" alt="" class="logoIcon"/>
                    </div>
                    <li>
                        <a href="adminIndex.html" class="clearfix list">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">首页</span>
                            </div>
                        </a>
                    </li>
                    <li class="active">
                        <a href="mobileExhibition.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">雇主品牌</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="application.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">职位管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="positionManagement.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">招聘管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="specialList.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">专题管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="jobDataStatistics.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">数据统计</span>
                            </div>
                        </a>
                    </li>
                    <li class="last">
                        <a href="companyInfor.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">账号设置</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="admin-content-wrapper">
            <link rel="stylesheet" href="../../assets/global/plugins/webuploader/css/webuploader.css"/>
            <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
            <style>
                body{font-family: "微软雅黑",Arial, Helvetica, sans-serif;overflow-x: hidden;-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;;}
                a:hover{text-decoration: none;}
                .webuploader-pick{padding: 5px 10px;}
                .file-item {float: left; position: relative;margin: 0 15px 10px 0;padding: 4px;top: 10px;}
                .uploader-list {width: 100%;overflow: hidden;margin-bottom: 10px;}
                .file-item .closes{display: inline-block;border: 1px solid #dbdbdb;color: #333;font-size: 16px;border-radius: 100%;position: absolute;right: -10px;top: -10px;width: 25px;height: 25px;background: url(../../assets/admin/images/close.gif) no-repeat;background-size: 100% 100%;}
                .file-item .info {
                    position: absolute;left: 4px;bottom: 4px;right: 4px;
                    height: 20px;line-height: 20px;text-indent: 5px;
                    background: rgba(0, 0, 0, 0.6);color: white;overflow: hidden;
                    white-space: nowrap;text-overflow: ellipsis;font-size: 12px;z-index: 10;}
            </style>
            <div class="content-header">
                <span class="content-title">雇主品牌</span>
                <div class="company-name right">
                    <span class="accountSettings">
                        <a href="#">
                            <img src="../../assets/admin/images/companyLogo.jpg" alt=""/>
                        </a>
                        易优弧
                    </span>
                    <ul class="account-selection hide">
                        <li>
                            <a href="companyInfor.html" class="companyInfor">
                                <i class="fa fa-gear"></i>
                                账号设置
                            </a>
                        </li>
                        <li class="signOut">
                            <a href="#">
                                <i class="fa fa-power-off"></i>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content content--side-main content--no-inner-nav-bar home">
                    <div class="content-position">
                        <img src="../../assets/admin/images/brand.jpg" alt="" class="w100"/>
                        <div class="divForm">
                            <p class="title">
                                <span>雇主品牌</span>
                            </p>
                        </div>
                        <div class="companyInfors">
                            <div class="companyInfoTitles">
                                <a>
                                    公司信息
                                </a>
                            </div>
                            <div class="companyInfoContents">
                                <p>
                                    <span class="type">
                                        <span class="required">*</span> 公司名称
                                    </span>
                                    <span>易优弧科技有限公司</span>
                                </p>

                                <p>
                                    <span class="type">
                                        <span class="required">*</span> 公司ID
                                    </span>
                                    <span>eyohu</span>
                                </p>

                                <p>
                                    <span class="type">
                                        <span class="required">*</span> 公司简称
                                    </span>
                                    <span>易优弧</span>
                                </p>

                                <p>
                                    <span class="type">
                                        <span class="required">*</span> 所属行业
                                    </span>
                                    <span>互联网</span>
                                </p>

                                <p>
                                    <span class="type">
                                        <span class="required">*</span> 公司规模
                                    </span>
                                    <span>10~50人</span>
                                </p>
                                <p>
                                    <span class="type">
                                        <span class="required">*</span> 公司地址
                                    </span>
                                    <span>重庆市九龙坡区袁家岗</span>
                                </p>
                                <p>
                                    <span class="type">
                                        <span class="required">*</span> 公司官网
                                    </span>
                                    <span>www.eyohu.com</span>
                                </p>
                                <p>
                                    <span class="type">
                                        <span class="required">*</span> 公司logo
                                    </span>
                                    <span></span>
                                </p>
                                <p>
                                    <span class="type">
                                        <span class="required">*</span> 公众号二维码
                                    </span>
                                    <span></span>
                                </p>
                                <p class="pModify">
                                    <a href="modifyEmployerBrand.html" class="btnModify modifyEmployerBrand">修改</a><br/>
                                </p>

                            </div>
                            <p class="upFllow">
                                <a>
                                    <i class="fa fa-angle-double-up tops"></i><br/>
                                    <span>收起</span>
                                </a>
                            </p>
                        </div>
                        <form action="#" id="form_sample_1" class="form-horizontal" >
                            <div class="companyInfoTitles" style="margin-bottom: 50px;">
                                <a>
                                    品牌建设
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-xs-3 col-sm-3 pt0">
                                    <span class="required"> * </span>　公司简介
                                </label>
                                <div class="col-md-6 col-xs-6 col-sm-6">
                                    <textarea style="resize: none" name="" rows="6" class="form-control" placeholder=""></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-xs-3 col-sm-3 pt0">
                                    <span class="required"> * </span>　福利待遇
                                </label>
                                <div class="col-md-6 col-xs-6 col-sm-6">
                                    <textarea style="resize: none" name="" rows="6" class="form-control" placeholder=""></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-xs-3 col-sm-3">
                                    <span class="required">  </span>　公司
                                </label>
                                <div class="col-md-6 col-xs-6 col-sm-6">
                                    <!--<input type="text" class="upLoad" value="上传图片" readonly/>-->
                                    <div class="uploader-demo">
                                        <!--用来存放item-->
                                        <div id="fileList" class="uploader-list "></div>
                                        <div id="filePicker">上传图片</div>
                                    </div>
                                    <span class="help-block">图片支持jpg、png、gif格式 ; 图片大小不超过.....,图片尺寸宽和高最好为320px,140px,比例为16:7,以免出现图片变型;</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-xs-3 col-sm-3">
                                    <span class="required">  </span>　产品
                                </label>
                                <div class="col-md-6 col-xs-6 col-sm-6">
                                    <!--<input type="text" class="upLoad" value="上传图片" readonly/>-->
                                    <div class="uploader-demo">
                                        <!--用来存放item-->
                                        <div id="fileList1" class="uploader-list"></div>
                                        <div id="filePicker1">上传图片</div>
                                    </div>
                                    <span class="help-block">图片支持jpg、png、gif格式 ; 图片大小不超过.....</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-xs-6 col-md-6 col-sm-offset-3 col-xs-offset-3 col-md-offset-3">
                                    <button class="btn btnSure">保存</button>
                                    <a href="#" class="btn btnReturn">取消</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script src="../../assets/global/plugins/webuploader/js/webuploader.js"></script>
            <script src="../../assets/global/plugins/webuploader/js/upLoad.js"></script>
            <script>
                $(function(){
                    $(".upFllow a").on("click",function(){
                        if($(this).find("i").is(".fa-angle-double-up")){
                            $(this).closest(".companyInfors").find(".companyInfoContents").slideUp();
                            $(this).find("i").removeClass("fa-angle-double-up").addClass("fa-angle-double-down");
                            $(this).find("span").text("打开");
                        }else if($(this).find("i").is(".fa-angle-double-down")){
                            $(this).closest(".companyInfors").find(".companyInfoContents").slideDown();
                            $(this).find("i").removeClass("fa-angle-double-down").addClass("fa-angle-double-up");
                            $(this).find("span").text("收起");
                        }

                    });
                    $(".modifyEmployerBrand").ajaxify({
                        event: "click",
                        target:'#admin-content-wrapper'
                    });

                    /*账号操作*/
                    $(".accountSettings").on("click",function(e){
                        e.stopPropagation();
                        if($(".account-selection").is(".hide")){
                            $(".account-selection").removeClass("hide");
                        }else{
                            $(".account-selection").addClass("hide");
                        }
                    });
                })
            </script>
        </div>
        <div class="slide-bar">
            <div class="slider-bar-l">
                <i class="fa fa-weixin"></i>
                <p>聊天</p>
            </div>
            <div class="slider-bar-w">
                <i class="fa">?</i>
                <p>反馈</p>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/ajaxify/jquery.history.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery-scrollto.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery.ajaxify.js"></script>
    <script src="../../assets/admin/js/globals.js"></script>
</body>
</html>