<!DOCTYPE html>
<html>
<head lang="en">
    <title>忘记密码</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/admin/css/global.css"/>
</head>
<body class="overflow">
    <div class="wrapper">
        <div class="head">
            <div class="head-bg"></div>
            <div class="head-main">
                <div class="logo left">
                    <a href="#"></a>
                </div>
                <!--<ul class="menu right clearfix" id="menu">-->
                <!--<li>-->
                <!--<a href="index.html">-->
                <!--首页-->
                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#">-->
                <!--办公助手-->
                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#">-->
                <!--招聘助手-->
                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#">-->
                <!--营销助手-->
                <!--</a>-->
                <!--</li>-->
                <!--<li class="active">-->
                <!--<a href="login.html">-->
                <!--登录-->
                <!--</a>-->
                <!--</li>-->
                <!--</ul>-->
            </div>
        </div>
        <div class="logBodyBg">
            <img src="../../assets/admin/images/logoBg.jpg">
        </div>
        <div class="regWrap">
            <img src="../../assets/admin/images/loginPeople.png" alt="" class="loginPeople"/>
            <div class="regBox">
                <p class="title">密 码 找 回</p>
                <form action="#" class="form" id="form">
                    <div class="div-form active">
                        <div class="form-group">
                            <div class="w100">
                                <span class="type">账　号 : </span>
                                <input type="text" class="inputText" placeholder="请输入手机号" name="phone"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="w100">
                                <span class="type">验证码 : </span>
                                <input type="text" class="inputText w200" placeholder="请输入验证码" name="authCode"/>
                                <input class="getcode" type="button" id="getting" value="立即获取">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="w100">
                                <span class="type">密　码 : </span>
                                <input type="password" class="inputText" placeholder="请输入密码" name="password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="w100">
                                <span class="type">新密码 : </span>
                                <input type="password" class="inputText" placeholder="请再次输入新密码" name="confirmPwd"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group h34">
                        <div class="col-sm-9 col-xs-9 col-md-9 col-sm-offset-3 col-xs-offset-3 col-md-offset-3">
                            <button class="btn btnSure style">确定</button>
                            <a href="login.html" class="btn btnReturn style">返回</a>
                        </div>
                    </div>
                    <div class="form-group h54">
                        <a href="login.html" class="right">想起账号！立刻登陆</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="foot">
            <div class="foot-main">
                <div class="copyright left">
                    <span>版权所有：重庆至尚科技发展有限公司 CopyRight@2014-2019</span>　
                </div>
                <div class="right">
                    <span>联系电话 : 1544454645</span>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/admin/js/formHeightAuto.js"></script>
    <script src="../../assets/global/plugins/jquery-validate/jquery.validate.min.js"></script>
    <script src="../../assets/global/plugins/jquery-validate/messages_zh.js"></script>
    <script src="../../assets/global/plugins/jquery-validate/form-validation.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#getting').click(function(){
                var btn = $(this);
                var count = 60;
                var resend = setInterval(function(){
                    count--;
                    if (count > 0){
                        btn.val(count+"秒后可重新获取");
                        btn.addClass("active");
    //                        $.cookie("captcha", count, {path: '/', expires: (1/86400)*count});
                    }else {
                        clearInterval(resend);
                        btn.removeClass("active");
                        btn.val("获取验证码").removeAttr('disabled style');
                    }
                }, 1000);
                btn.attr('disabled',true).css('cursor','not-allowed');
            });
        });
    </script>
</body>
</html>