<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../assets/admin/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <title>首页</title>
</head>
<body>
    <div class="wrapper style">
        <div class="i_head">
            <div class="i_head_main clearfix">
                <img src="../../assets/admin/images/logo.png" alt=""/>
                <ul class="i_link clearfix">
                    <li>
                        <a href="###" class="person">求职入口</a>
                        <img src="../../assets/admin/images/suizou.jpg" alt="" class="suizou hide"/>
                    </li>
                    <li>
                        <a href="login.html" class="company">企业登录</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="i_content">
            <div class="i_con_head">
                <img src="../../assets/admin/images/indexHeadBg.jpg" alt="" class="auto-img"/>
            </div>
            <div class="i_con_con">
                <div class="bg1">
                    <div class="clearfix w1024">
                        <div class="left">
                            <p class="title">雇主品牌</p>
                            <p class="smallTitle">企业移动门户宣传产品信息，推广公司文化</p>
                            <div class="div_text">
                                <p class="text">
                                    通过微信建立企业专属的移动招聘门户，利用微信朋友圈、Html5、图文来进行精准、持续的宣传推广，建立自己的雇主品牌，完善企业品牌，让潜在人才关注公司，做好人才储备。通过传播链接到更大范围的社群，为公司未来发展奠定基础。
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <img src="../../assets/admin/images/i_img1.png" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="bg2">
                    <div class="clearfix w1024 style">
                        <div class="left">
                            <img src="../../assets/admin/images/i_img2.png" alt=""/>
                        </div>
                        <div class="right">
                            <p class="title">招聘营销</p>
                            <p class="smallTitle">不再是传统的招聘广告，H5招聘专题+品牌营销</p>
                            <div class="div_text">
                                <p class="text">
                                    人才战略、招聘不仅仅是HR的工作，是包括CEO在内的所有人都应该积极参与的。要招聘，更要打造一场招聘营销，让更多人了解公司，了解职位。想更快找到优秀人才，还可以设立职位赏金，吸引更多人来进行推荐，赢取赏金。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg3">
                    <div class="clearfix w1024">
                        <p class="largeTitle">ATS 招聘管理系统</p>
                        <p>从招聘发布到入职管理，一个系统贯穿整个招聘过程!</p>
                        <ul class="clearfix sis_menu">
                            <li>
                                <img src="../../assets/admin/images/i_img4_1.png" alt=""/>
                            </li>
                            <li>
                                <img src="../../assets/admin/images/i_img4_2.png" alt=""/>
                            </li>
                            <li>
                                <img src="../../assets/admin/images/i_img4_3.png" alt=""/>
                            </li>
                            <li class="mr0">
                                <img src="../../assets/admin/images/i_img4_4.png" alt=""/>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bg4">
                    <div class="clearfix w1024">
                        <div class="left">
                            <p class="title">朋友圈招聘</p>
                            <p class="smallTitle">转发招聘获取积分，推广更有动力，刷爆朋友圈</p>
                            <div class="div_text">
                                <p class="text">
                                    通过公司同事以及朋友进行精准推荐，目前是最高效的招聘方法，通过优秀交互的H5，引爆你的朋友圈，吸引更优秀的人才。每次转发、每次阅读都将进行记录，可以看到准确的数据分析，转发有积分，入职有奖励，优秀人才找上门。
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <img src="../../assets/admin/images/i_img3.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="i_foot">
            <!--<div class="foot_link">-->
                <!--<ul class="clearfix ourMenu">-->
                    <!--<li>-->
                        <!--<a href="###">-->
                            <!--<p class="first">公司简介</p>-->
                            <!--<p class="last">公司简介</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="###">-->
                            <!--<p class="first">人才招聘</p>-->
                            <!--<p class="last">人才招聘</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="brandCooperation.html">-->
                            <!--<p class="first">品牌合作</p>-->
                            <!--<p class="last">品牌合作</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="aboutUs.html">-->
                            <!--<p class="first">关于我们</p>-->
                            <!--<p class="last">关于我们</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="last">-->
                        <!--<a href="aboutUs.html">-->
                            <!--<p class="first">联系我们</p>-->
                            <!--<p class="last">联系我们</p>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <div class="foot_copyright">
                <p style="color: #fff;text-align: center;margin-bottom: 6px;">服务热线：400-023-5595 </p>
                <p class="copyright">渝ICP备14007819号-2   Copyright  2014~2016 随走微信招聘 版权所有</p>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            /*全屏图片居中*/
            var ai = $(".auto-img");
            ai.each(function(){
                $(this).get(0).style.width ="1903px";
                var that = $(this);
                function toResize(){
                    var veiwidth = $(window).width();
                    if(veiwidth>1205){
                        that.get(0).style.left = -(parseInt(that.get(0).style.width) - veiwidth)/2 + "px"
                    }
                }
                toResize();
                $(window).on("resize",function(){
                    toResize()
                });
            });


            /*多行打省略号*/
            var ds = $(".div_text");
            ds.each(function(i){
                var divH = $(this).height();
                var $p = $("p", $(this)).eq(0);
                while ($p.outerHeight() > divH) {
                    $p.text($p.text().replace(/(\s)*([a-zA-Z0-9]+|\W)(\.\.\.)?$/, "..."));
                }
            });
            $(".person").on("click",function(e){
                e.stopPropagation();
                $(this).closest("li").find(".suizou").removeClass("hide");
            });
            $("body").on("click",function(){
                $(".suizou").addClass("hide");
            });
            $(".suizou").on("click",function(e){
                e.stopPropagation();
            })
        })
    </script>
</body>
</html>