<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="../../assets/admin/css/asgo.css"/>
    <link rel="stylesheet" href="../../assets/admin/css/asgocommon.css"/>
    <link rel="stylesheet" href="../../assets/admin/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/admin/js/askMask.js"></script>
    <script src="../../assets/global/plugins/webuploader/js/webuploader.js"></script>
    <title>首页</title>
</head>
<body>
    <div id="admin-wrapper">
        <div class="nav">
            <div class="main-nav">
                <div class="logo-wrapper">
                    <div class="logo logo-left">
                        随走
                    </div>
                </div>
                <ul class="main-nav-list">
                    <li class="active">
                        <a href="index.html" class="clearfix" title="首页">
                            <div class="main-nav-icon">
                                <i class="fa fa-home"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="mobileExhibition.html" class="clearfix" title="雇主品牌">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/index.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="application.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/users.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="positionManagement.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/positionM.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="specialList.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/specilIcon.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="jobDataStatistics.html" class="clearfix">
                            <div class="main-nav-icon">
                                <img src="../../assets/admin/images/staticIcon.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li class="last">
                        <a href="companyInfor.html" class="clearfix">
                            <div class="main-nav-icon">
                                <i class="fa fa-gear"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-nav-w158">
                <ul class="main-nav-list">
                    <div class="logoDiv">
                        <img src="../../assets/admin/images/logo.png" alt="" class="logoIcon"/>
                    </div>
                    <li class="active">
                        <a href="index.html" class="clearfix list">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">首页</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="mobileExhibition.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">雇主品牌</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="application.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">职位管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="positionManagement.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">招聘管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="specialList.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">专题管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="jobDataStatistics.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">数据统计</span>
                            </div>
                        </a>
                    </li>
                    <li class="last">
                        <a href="companyInfor.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">账号设置</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="admin-content-wrapper">
            <link rel="stylesheet" href="../../assets/global/plugins/webuploader/css/webuploader.css"/>
            <link rel="stylesheet" href="../../assets/global/plugins/bootstrap-3.3.5/css/bootstrap.min.css"/>
            <style>
                body{font-family: "微软雅黑",Arial, Helvetica, sans-serif;overflow-x: hidden;-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;;}
                a:hover{text-decoration: none;}
                .webuploader-pick{padding: 5px 10px;}
                .file-item {float: left; position: relative;margin: 0 10px 10px 0;padding: 4px;}
                .uploader-list {width: 100%;overflow: hidden;}
                .file-item .info {
                    position: absolute;left: 4px;bottom: 4px;right: 4px;
                    height: 20px;line-height: 20px;text-indent: 5px;
                    background: rgba(0, 0, 0, 0.6);color: white;overflow: hidden;
                    white-space: nowrap;text-overflow: ellipsis;font-size: 12px;z-index: 10;}
            </style>
            <div class="content-header">
                <span class="content-title">雇主首页</span>
                <div class="company-name right">
                    <span class="accountSettings">
                        <a href="#">
                            <img src="../../assets/admin/images/companyLogo.jpg" alt=""/>
                        </a>
                        易优弧
                    </span>
                    <ul class="account-selection hide">
                        <li>
                            <a href="companyInfor.html" class="companyInfor">
                                <i class="fa fa-gear"></i>
                                账号设置
                            </a>
                        </li>
                        <li class="signOut">
                            <a href="#">
                                <i class="fa fa-power-off"></i>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content content--side-main content--no-inner-nav-bar home">
                    <div class="content-side">
                        <div class="card company-logo">
                            <div class="basic-info">
                                <div class="basic-img">
                                    <img alt="" src="../../assets/admin/images/companyIcon.jpg"/><br/>
                                    <span>公司logo</span>
                                </div>
                                <div class="company-info">
                                    <p class="ft14" >重庆易优弧科技有限公司</p>
                                    <p class="ft14" >互联网行业/500+人</p>
                                    <p class="ft14" >www.eyohu.com</p>
                                </div>
                            </div>
                            <div class="clearfix moneyzp">
                                <span class="left ">未开通悬赏招聘</span>
                                <span class="left color1 hide">已开通悬赏招聘 <span>余额 : 800.00元</span></span>
                                <a href="amountReward.html" class="right amountReward">什么是悬赏招聘?</a>
                                <a href="#" class="right hide lookDetaile">查看详情</a>
                            </div>
                            <div class="dinLink">
                                <!--<p class="title">品牌主页 : </p>-->
                                <!--<p>-->
                                    <!--<a href="">www.4399.com</a>-->
                                <!--</p>-->
                                <p class="title">职位列表 : </p>
                                <p class="copy">
                                    <span class="copyTip">
                                        已复制,可粘贴
                                        <i class="fa fa-caret-down"></i>
                                    </span>
                                    <input type="button" class="btnCopy right" value="复制" />
                                    <a href="#" class="copyA">
                                        <textarea readonly style="resize: none;" rows="" id="txt">https://hr.moseeker.com/admin/setting/accountinfo</textarea>
                                    </a>
                                </p>
                                <p class="smsgzpp clearfix">
                                    <a href="javascript:;" class="howPosition">
                                        如何绑定职位
                                        <span class="detailsPosition">
                                            <i class="fa fa-caret-left"></i>
                                            <span>1 : 绑定职位需要注意绑定职位需要注意绑定职位需要注意绑定职位需要注意</span><br/>
                                            <span>2 : 绑定职位需要注意.......</span><br/>
                                            <span>3 : 绑定职位需要注意.......</span><br/>
                                        </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="card qr-code">
                            <div class="qx-qrcode">
                                <img src="../../assets/admin/images/code.jpg" alt=""/>
                                <p class="qx-qrcode-text">关注易优弧招聘助手</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-main">
                        <div class="inner-content">
                            <div class="card">
                                <div class="card-item card-title">职位管理</div>
                                <div class="card-item data-box-content">
                                    <div class="data-item">
                                        <p class="data-item-title">在招职位数</p>
                                        <a class="data-item-count application" href="application.html">5</a>
                                    </div>
                                    <div class="data-item high-light">
                                        <a class="high-light-dashed" href="postOffice.html">
                                        </a>
                                    </div>
                                </div>
                                    <!--<img  alt="发布第一个职位吧" width="355" height="199" class="newbieguide-arrow"></div>-->
                                <div class="card-item card-title bg">在招职位
                                    <a href="postOffice.html" class="card-title-action postOffice">更多</a>
                                </div>
                                <div class="card-item card-content" id="home-pos-list">
                                    <div class="position-list">
                                        <a href="postOffice.html" class="postOffice">
                                            <i class="dot green"></i>
                                            <p class="nala_db">
                                                <span>ss</span>
                                                <span>dd</span>
                                                <span>dd</span>
                                                <span>dd</span>发布
                                            </p>
                                        </a>
                                    </div>
                                    <div class="position-list">
                                        <a href="postOffice.html" class="postOffice">
                                            <i class="dot green"></i>
                                            <p class="nala_db">
                                                <span>ss</span>
                                                <span>dd</span>
                                                <span>dd</span>
                                                <span>dd</span>发布
                                            </p>
                                        </a>
                                    </div>
                                    <div class="notPosition hide">
                                        暂无职位
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inner-content">
                            <div class="card">
                                <div class="card-item card-title">招聘管理</div>
                                <div class="card-item data-box-content">
                                    <div class="data-item br1">
                                        <p class="data-item-title">新增投递量</p>
                                        <a class="data-item-count positionManagement" href="positionManagement.html">6</a>
                                    </div>
                                    <div class="data-item">
                                        <p class="data-item-title">简历总量</p>
                                        <a class="data-item-count positionManagement" href="positionManagement.html">6</a>
                                    </div>
                                </div>
                                <div class="card-item card-title bg">新增简历
                                    <a href="interviewerInformation.html" class="card-title-action interviewerInformation">更多</a>
                                </div>
                                <div class="card-item card-content" id="home-app-list">
                                    <div class="position-list" >
                                        <a href="interviewerInformation.html" class="interviewerInformation">
                                            <i class="dot green"></i>
                                            <p class="nala_db">
                                                <span>Java开发</span>
                                                <span>战三</span>
                                                <span>本科</span>
                                                <span>一</span>年工作经验
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="../../assets/global/plugins/webuploader/js/upLoadfk.js"></script>
            <script>
                $(function(){
                    $(window).on("click",function(){
                        $(".account-selection").addClass("hide");
                    });

                    $(".high-light-dashed,.postOffice,.positionManagement,.application,.interviewerInformation,.companyInfor,.amountReward").ajaxify({
                        event: "click",
                        target:'#admin-content-wrapper'
                    });

                    /*账号操作*/
                    $(".accountSettings").on("click",function(e){
                        e.stopPropagation();
                        if($(".account-selection").is(".hide")){
                            $(".account-selection").removeClass("hide");
                        }else{
                            $(".account-selection").addClass("hide");
                        }
                    });

                    $(".btnCopy").on("click",function(){
                        var t = document.getElementById("txt");
                        t.select();
                        document.execCommand("Copy"); // 执行浏览器复制命令
                        var that = $(this)
                        that.attr({disabled:"disabled"});
                        $(".copyTip").animate({
                            opacity:1,
                            top:"-40px",
                            zIndex:"2"
                        },500,function(){
                            setTimeout(function(){
                                $(".copyTip").animate({
                                    opacity:0,
                                    top:"20px",
                                    zIndex:"0"
                                },500);
                                that.removeAttr("disabled");
                            },2000)
                        })
                    })
                })
            </script>
        </div>
        <div class="slide-bar">
            <div class="slider-bar-l">
                <i class="fa fa-weixin"></i>
                <p>聊天</p>
            </div>
            <div class="slider-bar-w">
                <i class="fa">?</i>
                <p>反馈</p>
            </div>
        </div>
    </div>
    <script src="../../assets/admin/js/globals.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery.history.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery-scrollto.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery.ajaxify.js"></script>

    <script>
        $(".nav a").ajaxify({
            event: "click",
            target:'#admin-content-wrapper'
        });
    </script>
</body>
</html>