<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="../../assets/admin/css/asgo.css"/>
    <link rel="stylesheet" href="../../assets/admin/css/asgocommon.css"/>
    <link rel="stylesheet" href="../../assets/admin/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <title>职位数据统计</title>
</head>
<body>
    <div id="admin-wrapper">
        <div class="nav">
            <div class="main-nav">
                <div class="logo-wrapper">
                    <div class="logo logo-left">
                        随走
                    </div>
                </div>
                <ul class="main-nav-list">
                    <li>
                        <a href="index.html" class="clearfix" title="首页">
                            <div class="main-nav-icon">
                                <i class="fa fa-home"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="mobileExhibition.html" class="clearfix" title="雇主品牌">
                            <div class="main-nav-icon">
                                <i class="fa fa-bars"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="application.html" class="clearfix">
                            <div class="main-nav-icon">
                                <i class="fa fa-th"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="positionManagement.html" class="clearfix">
                            <div class="main-nav-icon">
                                <i class="fa fa-hand-paper-o"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="specialList.html" class="clearfix">
                            <div class="main-nav-icon">
                                <i class="fa fa-file"></i>
                            </div>
                        </a>
                    </li>
                    <li class="active">
                        <a href="jobDataStatistics.html" class="clearfix">
                            <div class="main-nav-icon">
                                <i class="fa fa-arrows"></i>
                            </div>
                        </a>
                    </li>
                    <li class="last">
                        <a href="companyInfor.html" class="clearfix">
                            <div class="main-nav-icon">
                                <i class="fa fa-gear"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-nav-w158">
                <ul class="main-nav-list">
                    <div class="logoDiv">
                        <img src="../../assets/admin/images/logo.png" alt="" class="logoIcon"/>
                    </div>
                    <li>
                        <a href="index.html" class="clearfix list">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">首页</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="mobileExhibition.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">雇主品牌</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="application.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">职位管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="positionManagement.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">招聘管理</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="specialList.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">专题管理</span>
                            </div>
                        </a>
                    </li>
                    <li class="active">
                        <a href="jobDataStatistics.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">数据统计</span>
                            </div>
                        </a>
                    </li>
                    <li class="last">
                        <a href="companyInfor.html" class="clearfix">
                            <div class="main-nav-item">
                                <span class="main-nav-item-name">账号设置</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="admin-content-wrapper">
            <div class="content-header" id="content-header">
                <span class="content-title">职位统计</span>
                <div class="company-name right">
                    <a href="#">
                        <img src="../../assets/admin/images/companyLogo.jpg" alt=""/>
                    </a>
                    易优弧
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content content--side-main content--no-inner-nav-bar home pt120">
                    <div class="content-position pd0">
                        <ul class="companyTitle clearfix top30">
                            <li class="active">
                                <a href="jobDataStatistics.html" class="dataHtml">职位统计</a>
                            </li>
                            <li class="hover">
                                <a href="specialDataStastics.html" class="dataHtml">专题统计</a>
                            </li>
                        </ul>
                        <div class="dataStatisticsHead">
                            <form action="#">
                                <span class="title">筛选职位</span>
                                <span class="dataOperation">
                                    <input type="text" class="dataIput" placeholder="请输入您要搜索的职位"/>
                                    <button class="btnSubmit" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                <span class="timeSerch right">
                                    <span class="spanInput">
                                        <input id="start" class="Wdate" type="text" placeholder="2015-02-05" onfocus="WdatePicker({minDate:'%y-%M-{%d}',maxDate:'#F{$dp.$D(\'end\')}',readOnly:true})" readonly="">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <span class="spanInput">
                                        <input id="end" class="Wdate" type="text" placeholder="2015-02-06" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'start\')||\'%y-%M-{%d+1}\'}',readOnly:true})" readonly="">　
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </span>
                            </form>
                        </div>
                        <div class="dataContent">
                            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="../../assets/global/plugins/My97DatePicker/WdatePicker.js"></script>
            <script src="../../assets/global/plugins/highCharts/js/highcharts.js"></script>
            <script src="../../assets/global/plugins/highCharts/js/exporting.js"></script>
            <script type="text/javascript">
                $(function(){
                    $('#container').highcharts({
                        chart: {
                            type: 'area'
                        },
                        title: {
                            text: 'US and USSR nuclear stockpiles'
                        },
                        subtitle: {
                            text: 'Source: <a href="http://thebulletin.metapress.com/content/c4120650912x74k7/fulltext.pdf">' +
                                    'thebulletin.metapress.com</a>'
                        },
                        xAxis: {
                            allowDecimals: false,
                            labels: {
                                formatter: function () {
                                    return this.value; // clean, unformatted number for year
                                }
                            }
                        },
                        yAxis: {
                            title: {
                                text: 'Nuclear weapon states'
                            },
                            labels: {
                                formatter: function () {
                                    return this.value / 1000 + 'k';
                                }
                            }
                        },
                        tooltip: {
                            pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
                        },
                        plotOptions: {
                            area: {
                                pointStart: 2016,
                                marker: {
                                    enabled: false,
                                    symbol: 'circle',
                                    radius: 2,
                                    states: {
                                        hover: {
                                            enabled: true
                                        }
                                    }
                                }
                            }
                        },
                        series: [{
                            name: 'USA',
                            data: [null, null, null, null, null, 6, 11, 32, 110, 235, 369, 640,
                                1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468, 20434, 24126,
                                27387, 29459, 31056, 31982, 32040, 31233, 29224, 27342, 26662,
                                26956, 27912, 28999, 28965, 27826, 25579, 25722, 24826, 24605,
                                24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344, 23586,
                                22380, 21004, 17287, 14747, 13076, 12555, 12144, 11009, 10950,
                                10871, 10824, 10577, 10527, 10475, 10421, 10358, 10295, 10104]
                        }, {
                            name: 'USSR/Russia',
                            data: [100, null, null, null, null, null, null, null, null, null,
                                1000, 25, 50, 120, 150, 200, 426, 660, 869, 1060, 1605, 2471, 3322,
                                4238, 5221, 6129, 7089, 8339, 9399, 10538, 11643, 13092, 14478,
                                15915, 17385, 19055, 21205, 23044, 25393, 27935, 30062, 32049,
                                33952, 35804, 37431, 39197, 45000, 43000, 41000, 39000, 37000,
                                35000, 33000, 31000, 29000, 27000, 25000, 24000, 23000, 22000,
                                21000, 20000, 19000, 18000, 18000, 17000, 16000]
                        }]
                    });
                });
            </script>
            <script>
                $(function(){
                    $(".companyTitle li.hover a").hover(function(){
                        $(this).animate({
                            padding:"10px",
                            marginTop:"-10px"
                        },200)
                    },function(){
                        $(this).animate({
                            padding:"5px 10px",
                            marginTop:"0"
                        },200)
                    });
                })
            </script>
        </div>
        <div class="slide-bar">
            <div class="slider-bar-l">
                <i class="fa fa-weixin"></i>
                <p>聊天</p>
            </div>
            <div class="slider-bar-w">
                <i class="fa">?</i>
                <p>反馈</p>
            </div>
        </div>
    </div>
    <script src="../../assets/admin/js/globals.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery.history.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery-scrollto.js"></script>
    <script src="../../assets/global/plugins/ajaxify/jquery.ajaxify.js"></script>
    <script>
        $(".nav a,.high-light-dashed,.dataHtml").ajaxify({
            event: "click",
            target:'#admin-content-wrapper'
        });
    </script>
</body>
</html>