<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>活动详情</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container">
        <div class="page">
            <div class="bd absolute pd40">
                <div class="activeCon">
                    <article class="weui_article">
                        <section class="mb0">
                            <section>
                                <div class="weui_panel_hd  pd0 r15 color">防晒霜-避免费领取理肤泉防晒霜啦！</div>
                                <p class="first">
                                    <span class="left">
                                        <span class="spanIcon addressIcon"></span>
                                        重庆市，渝中区，解放碑CBD
                                    </span>
                                    <span class="right">
                                        <span class="spanIcon loveIcon"></span>
                                        <span class="color">30</span>报名
                                    </span>
                                </p>
                                <p>
                                    <span class="left">
                                        <span class="spanIcon timeIcon"></span>
                                        活动时间：2016-6-6
                                    </span>
                                </p>
                                <p>
                                    <span class="left">
                                        <span class="spanIcon moneyIcon"></span>
                                        免费
                                    </span>
                                </p>
                                <p class="fs12 clearfix">
                                    <span class="left">
                                        <span class="spanIcon shareTime"></span>
                                        发布时间 : <br/>　2015-5-5
                                    </span>
                                    <span class="left">
                                        <span class="spanIcon shareRead"></span>
                                        阅读 : 5784
                                    </span>
                                    <span class="left">
                                        <span class="spanIcon shareTimes"></span>
                                        分享 : 4754
                                    </span>
                                </p>
                            </section>
                        </section>
                    </article>
                    <div class="weui_panel_hd l0">
                        <span class="colorBlock"></span>
                        <span class="title">报名名单( 8/不限 )</span>
                        <a class="right" href="activeEntryList.html">
                            更多 <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                    <ul class="entryList bb1 mt0 mb6">
                        <li>
                            <a href="javascript:;">
                                <div class="imgDiv">
                                    <img src="../../assets/mobile/images/personImg.png" alt=""/>
                                </div>
                                <span class="name">小红</span>
                                <span class="infor">5分钟 报名</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div class="imgDiv">
                                    <img src="../../assets/mobile/images/personImg.png" alt=""/>
                                </div>
                                <span class="name">小红</span>
                                <span class="infor">5分钟 报名</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div class="imgDiv">
                                    <img src="../../assets/mobile/images/personImg.png" alt=""/>
                                </div>
                                <span class="name">小红</span>
                                <span class="infor">5分钟 报名</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div class="imgDiv">
                                    <img src="../../assets/mobile/images/personImg.png" alt=""/>
                                </div>
                                <span class="name">小红</span>
                                <span class="infor">5分钟 报名</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="activeCon">
                    <div class="weui_panel_hd l0">
                        <span class="colorBlock"></span>
                        <span class="title">活动介绍</span>
                        <a class="right">
                            更多 <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                    <article class="weui_article">
                        <section>
                            <h2 class="title color">防晒霜</h2>
                            <section>
                                <div class="textStyle">
                                    防晒霜就是利用防晒原理制成的保护皮肤免受紫外线照射，从而避免黑色素的产生与积累的护肤品。 防晒霜的作用原理是将皮肤
                                </div>
                                <div class="textMargin">
                                    <img src="../../assets/mobile/images/activeList2.jpg" alt="">
                                </div>
                                <div class="textStyle">
                                    防晒霜就是利用防晒原理制成的保护皮肤免受紫外线照射，从而避免黑色素的产生与积累的护肤品。 防晒霜的作用原理是将皮肤
                                </div>
                            </section>
                        </section>
                    </article>
                </div>
                <div class="activeCon">
                    <div class="weui_panel_hd l0">
                        <span class="colorBlock"></span>
                        <span class="title">主办方</span>

                    </div>
                    <article class="weui_article">
                        <section>
                            <h2 class="title color">
                                <span style="width: 25%;display: inline-block;">
                                    <img src="../../assets/mobile/images/conpanyNameImg.jpg" alt=""/>
                                </span>
                                <span>闪闪品牌有限公司</span>
                            </h2>
                            <section>
                                <div class="textStyle">
                                    利用物理学原理，这种防晒霜的原子微粒是片状的，当在脸上涂开的时候，就象镜子一样，反射阳光，达到防晒的目的。 二氧化
                                </div>
                            </section>
                        </section>
                    </article>
                </div>
                <img src="../../assets/mobile/images/activetionImg.jpg" class="w100" alt="" style="margin: 0px 0 6px;"/>
                <div class="activeCon">
                    <div class="weui_panel_hd l0">
                        <span class="colorBlock"></span>
                        <span class="title">活动精选</span>
                        <a class="right" href="activeList.html">
                            更多 <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                    <article class="weui_article">
                        <section>
                            <h2 class="title clearfix">
                                <span class="largeTitle left">[6.18豪车够]</span><br/>
                                <span class="smallTitle color">
                                    活动时间 : 2015-05-06
                                </span>
                            </h2>
                            <section>
                                <div class="activeListImg">
                                    <a href="activeInfor.html">
                                        <img src="../../assets/mobile/images/activeList1.jpg" alt="">
                                    </a>
                                </div>
                                <p class="first">
                                    <span class="left">
                                        <span class="spanIcon addressIcon"></span>
                                        重庆市，渝中区，解放碑CBD
                                    </span>
                                    <span class="right">
                                        <span class="spanIcon loveIcon"></span>
                                        <span class="color">30</span>报名
                                    </span>
                                </p>
                            </section>
                        </section>
                        <section>
                            <h2 class="title clearfix">
                                <span class="largeTitle left">[6.18豪车够]</span><br/>
                                <span class="smallTitle color">
                                    活动时间 : 2015-05-06
                                </span>
                            </h2>
                            <section>
                                <div class="activeListImg">
                                    <a href="activeInfor.html">
                                        <img src="../../assets/mobile/images/activeList1.jpg" alt="">
                                    </a>
                                </div>
                                <p class="first">
                                    <span class="left">
                                        <span class="spanIcon addressIcon"></span>
                                        重庆市，渝中区，解放碑CBD
                                    </span>
                                    <span class="right">
                                        <span class="spanIcon loveIcon"></span>
                                        <span class="color">30</span>报名
                                    </span>
                                </p>
                            </section>
                        </section>
                        <section>
                            <h2 class="title clearfix">
                                <span class="largeTitle left">[6.18豪车够]</span><br/>
                                <span class="smallTitle color">
                                    活动时间 : 2015-05-06
                                </span>
                            </h2>
                            <section>
                                <div class="activeListImg">
                                    <a href="activeInfor.html">
                                        <img src="../../assets/mobile/images/activeList1.jpg" alt="">
                                    </a>
                                </div>
                                <p class="first">
                                    <span class="left">
                                        <span class="spanIcon addressIcon"></span>
                                        重庆市，渝中区，解放碑CBD
                                    </span>
                                    <span class="right">
                                        <span class="spanIcon loveIcon"></span>
                                        <span class="color">30</span>报名
                                    </span>
                                </p>
                            </section>
                        </section>
                        <section>
                            <h2 class="title clearfix">
                                <span class="largeTitle left">[6.18豪车够]</span><br/>
                                <span class="smallTitle color">
                                    活动时间 : 2015-05-06
                                </span>
                            </h2>
                            <section>
                                <div class="activeListImg">
                                    <a href="activeInfor.html">
                                        <img src="../../assets/mobile/images/activeList1.jpg" alt="">
                                    </a>
                                </div>
                                <p class="first">
                                    <span class="left">
                                        <span class="spanIcon addressIcon"></span>
                                        重庆市，渝中区，解放碑CBD
                                    </span>
                                    <span class="right">
                                        <span class="spanIcon loveIcon"></span>
                                        <span class="color">30</span>报名
                                    </span>
                                </p>
                            </section>
                        </section>
                    </article>
                </div>
            </div>
            <div class="foot">
                <ul class="tabMenu w30 clearfix">
                    <li>
                        <a href="#"  id="share">
                            <i class="fa fa-share"></i><br/>
                            <span>分享</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-heart"></i><br/>
                            <span>感兴趣</span>
                        </a>
                    </li>
                    <li class="last active">
                        <a href="#">
                            <i class="fa fa-user"></i><br/>
                            <span>我要参加</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="maskHide hide">
            <img src="../../assets/mobile/images/shareImg1.png" alt="" class="shareImg1"/>
            <div class="reward hide">
                <img src="../../assets/mobile/images/shareImg.png" alt="" class="shareImg"/>
                <p>转发给朋友或分享朋友圈，领取积分奖励！</p>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script>
        $(function(){
            $("#share").on("touchend",function(){
                $(".maskHide,.reward").removeClass("hide");
                $(".reward").addClass("shake");
                $($(".reward")).on('webkitAnimationEnd', function (){
                    $(this).removeClass('shake');
                }).on('animationend', function (){
                    $(this).removeClass('shake');
                });
            });
            $(".container").delegate(".maskHide","touchend",function(){
                $(this).addClass("hide");
                $(".reward").addClass("hide");
            });

            $(".reward").on("touchend",function(e){
                e.stopPropagation();
            });
        })
    </script>
</body>
</html>