<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>活动列表</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/swiper/dist/css/swiper.min.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container ">
        <div class="page">
            <div class="bd absolute pd40">
                <div class="swiper-container mt0 swiper-container-horizontal" id="swiper-container">
                    <div class="swiper-wrapper" style="transition-duration: 0ms; ">
                        <div class="swiper-slide">
                            <img src="../../assets/mobile/images/swiper1.jpg" alt="" class="w100"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/mobile/images/swiper2.jpg" alt="" class="w100"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/mobile/images/swiper3.jpg" alt="" class="w100"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/mobile/images/swiper4.jpg" alt="" class="w100"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="../../assets/mobile/images/swiper5.jpg" alt="" class="w100"/>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <!--<div class="swiper-button-next"></div>-->
                    <!--<div class="swiper-button-prev"></div>-->
                </div>
                <div class="activeCon">
                    <div class="weui_panel_hd l0">
                        <span class="colorBlock"></span>
                        <span class="title">活动精选</span>
                        <a class="right">
                            更多 <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                    <article class="weui_article">
                        <section>
                            <h2 class="title clearfix">
                                <span class="largeTitle left">[6.18豪车够]</span>
                                <span class="smallTitle right hide">
                                    <span class="spanIcon moneyIcon"></span>
                                    免费
                                </span>
                            </h2>
                            <section>
                                <div class="activeListImg">
                                    <a href="#">
                                        <img src="../../assets/mobile/images/activeList1.jpg" alt="">
                                    </a>
                                </div>
                                <p class="first">
                                    <span class="left">
                                        <span class="spanIcon addressIcon"></span>
                                        重庆市，渝中区，解放碑CBD
                                    </span>
                                    <span class="right">
                                        <span class="spanIcon loveIcon"></span>
                                        <span class="color">30</span>报名
                                    </span>
                                </p>
                                <p>
                                    <span class="left">
                                        <span class="spanIcon timeIcon"></span>
                                        活动时间：2016-6-6
                                    </span>
                                </p>
                                <p>
                                    <span class="left">
                                        <span class="spanIcon moneyIcon"></span>
                                        免费
                                    </span>
                                </p>
                            </section>
                        </section>
                        <section>
                            <h2 class="title clearfix">
                                <span class="largeTitle left">[6.18豪车够]</span>
                                <span class="smallTitle right">
                                    <span class="spanIcon moneyIcon"></span>
                                    免费
                                </span>
                            </h2>
                            <section>
                                <div class="activeListImg">
                                    <a href="#">
                                        <img src="../../assets/mobile/images/activeList1.jpg" alt="">
                                    </a>
                                </div>
                                <p class="first">
                                    <span class="left">
                                        <span class="spanIcon addressIcon"></span>
                                        重庆市，渝中区，解放碑CBD
                                    </span>
                                    <span class="right">
                                        <span class="spanIcon loveIcon"></span>
                                        <span class="color">30</span>报名
                                    </span>
                                </p>
                                <p>
                                    <span class="left">
                                        <span class="spanIcon timeIcon"></span>
                                        活动时间：2016-6-6
                                    </span>
                                </p>
                                <p>
                                    <span class="left">
                                        <span class="spanIcon moneyIcon"></span>
                                        免费
                                    </span>
                                </p>
                            </section>
                        </section>
                        <section>
                            <h2 class="title clearfix">
                                <span class="largeTitle left">[6.18豪车够]</span>
                                <span class="smallTitle right">
                                    <span class="spanIcon moneyIcon"></span>
                                    免费
                                </span>
                            </h2>
                            <section>
                                <div class="activeListImg">
                                    <a href="#">
                                        <img src="../../assets/mobile/images/activeList1.jpg" alt="">
                                    </a>
                                </div>
                                <p class="first">
                                    <span class="left">
                                        <span class="spanIcon addressIcon"></span>
                                        重庆市，渝中区，解放碑CBD
                                    </span>
                                    <span class="right">
                                        <span class="spanIcon loveIcon"></span>
                                        <span class="color">30</span>报名
                                    </span>
                                </p>
                                <p>
                                    <span class="left">
                                        <span class="spanIcon timeIcon"></span>
                                        活动时间：2016-6-6
                                    </span>
                                </p>
                                <p>
                                    <span class="left">
                                        <span class="spanIcon moneyIcon"></span>
                                        免费
                                    </span>
                                </p>
                            </section>
                        </section>
                        <section>
                            <h2 class="title clearfix">
                                <span class="largeTitle left">[6.18豪车够]</span>
                                <span class="smallTitle right">
                                    <span class="spanIcon moneyIcon"></span>
                                    免费
                                </span>
                            </h2>
                            <section>
                                <div class="activeListImg">
                                    <a href="#">
                                        <img src="../../assets/mobile/images/activeList1.jpg" alt="">
                                    </a>
                                </div>
                                <p class="first">
                                    <span class="left">
                                        <span class="spanIcon addressIcon"></span>
                                        重庆市，渝中区，解放碑CBD
                                    </span>
                                    <span class="right">
                                        <span class="spanIcon loveIcon"></span>
                                        <span class="color">30</span>报名
                                    </span>
                                </p>
                                <p>
                                    <span class="left">
                                        <span class="spanIcon timeIcon"></span>
                                        活动时间：2016-6-6
                                    </span>
                                </p>
                                <p>
                                    <span class="left">
                                        <span class="spanIcon moneyIcon"></span>
                                        免费
                                    </span>
                                </p>
                            </section>
                        </section>
                    </article>
                </div>
                <div class="notConTip hide">
                    <img src="../../assets/mobile/images/notContent.png" alt=""/>
                    <p class="notInfor">
                        无数据
                    </p>
                </div>
            </div>
            <div class="foot">
                <ul class="tabMenu clearfix">
                    <li>
                        <a href="#">
                            <i class="fa fa-home"></i><br/>
                            <span>首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-book"></i><br/>
                            <span>内容</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="fa fa-gift"></i><br/>
                            <span>活动</span>
                        </a>
                    </li>
                    <li class="last">
                        <a href="#">
                            <i class="fa fa-hand-scissors-o"></i><br/>
                            <span>商盟</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/swiper/dist/js/swiper.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
    <script>
        $(function(){
            swiper = new Swiper('#swiper-container', {
//                prevButton:'.swiper-button-prev',
//                nextButton:'.swiper-button-next',
                slidesPerView: 1,
                pagination:'.swiper-pagination',
                paginationClickable: true,
                spaceBetween: 0,
                loop:true,
                autoplay: 5000,
                autoplayDisableOnInteraction: false
            });
        })
    </script>
</body>
</html>