<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>电影娱乐</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container">
        <div class="page">
            <div class="head">
                <div class="headCon">
                    <div class="headConImg">
                        <img src="../../assets/mobile/images/personImg.png" alt=""/>
                    </div>
                    <div class="headConInfor">
                        <p>
                            <span class="name">张三</span><img src="../../assets/mobile/images/good.png" class="good" alt=""/>VIP会员
                        </p>

                        <p>
                            <span class="jf">积分80</span>
                        </p>

                        <p>离v2会员还差300分</p>

                        <p>
                            <button class="btnSj">加速升级Tips</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="bd">
                <div class="contentHd">
                    <ul class="listMenu clearfix">
                        <li>
                            <a href="membershipPrivileges.html">餐饮美食( 8 )</a>
                        </li>
                        <li class="active">
                            <a href="activeMovieEntertainment.html">电影娱乐( 10 )</a>
                        </li>
                    </ul>
                </div>
                <ul class="caseList">
                    <li>
                        <a href="#">
                            <div class="caseInfor">
                                <p class="title"></p>
                                海底总动员
                                <p class="caseInforText">
                                    仅售50元！价值89元的特色爆米花1份。
                                </p>
                            </div>
                            <div class="caseImg">
                                <img src="../../assets/mobile/images/caseImg.jpg" alt=""/>
                            </div>
                            <div class="angleDiv">
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="caseInfor">
                                <p class="title"></p>
                                味鲜缘砂锅
                                <p class="caseInforText">
                                    仅售3.9元！价值6元的特色小面1份，提供免费WiFi。
                                </p>
                            </div>
                            <div class="caseImg">
                                <img src="../../assets/mobile/images/caseImg.jpg" alt=""/>
                            </div>
                            <div class="angleDiv">
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="caseInfor">
                                <p class="title"></p>
                                味鲜缘砂锅
                                <p class="caseInforText">
                                    仅售3.9元！价值6元的特色小面1份，提供免费WiFi。
                                </p>
                            </div>
                            <div class="caseImg">
                                <img src="../../assets/mobile/images/caseImg.jpg" alt=""/>
                            </div>
                            <div class="angleDiv">
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="caseInfor">
                                <p class="title"></p>
                                味鲜缘砂锅
                                <p class="caseInforText">
                                    仅售3.9元！价值6元的特色小面1份，提供免费WiFi。
                                </p>
                            </div>
                            <div class="caseImg">
                                <img src="../../assets/mobile/images/caseImg.jpg" alt=""/>
                            </div>
                            <div class="angleDiv">
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="notConTip hide">
                    <img src="../../assets/mobile/images/notContent.png" alt=""/>
                    <p class="notInfor">
                        无数据
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>