<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>活动记录-已参加</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no;">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/weui.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/weUi/css/example.css"/>
    <link rel="stylesheet" href="../../assets/mobile/css/global.css"/>
</head>
<body>
    <div class="container ">
        <div class="page">
        <div class="bd">
            <div class="contentHd">
                <ul class="listMenu clearfix">
                    <li class="active">
                        <a href="activeRecordGo.html">参加的( 8 )</a>
                    </li>
                    <li>
                        <a href="activeEntryNotGo.html">感兴趣( 10 )</a>
                    </li>
                </ul>
            </div>
            <div class="activeCon">
                <article class="weui_article">
                    <section>
                        <h2 class="title clearfix">
                            <span class="largeTitle left">[6.18豪车够]</span>
                            <span class="smallTitle right hide">
                                <span class="spanIcon moneyIcon"></span>
                                免费
                            </span>
                        </h2>
                        <section>
                            <div class="activeListImg">
                                <a href="activeInfor.html">
                                    <img src="../../assets/mobile/images/activeList1.jpg" alt="">
                                </a>
                            </div>
                            <p class="first">
                                <span class="left">
                                    <span class="spanIcon addressIcon"></span>
                                    重庆市，渝中区，解放碑CBD
                                </span>
                                <span class="right">
                                    <span class="spanIcon loveIcon"></span>
                                    <span class="color">30</span>报名
                                </span>
                            </p>
                            <p>
                                <span class="left">
                                    <span class="spanIcon timeIcon"></span>
                                    活动时间：2016-6-6
                                </span>
                            </p>
                            <p>
                                <span class="left">
                                    <span class="spanIcon moneyIcon"></span>
                                    免费
                                </span>
                            </p>
                        </section>
                    </section>
                    <section>
                        <h2 class="title clearfix">
                            <span class="largeTitle left">[6.18豪车够]</span>
                            <span class="smallTitle right">
                                <span class="spanIcon moneyIcon"></span>
                                免费
                            </span>
                        </h2>
                        <section>
                            <div class="activeListImg">
                                <a href="activeInfor.html">
                                    <img src="../../assets/mobile/images/activeList1.jpg" alt="">
                                </a>
                            </div>
                            <p class="first">
                                <span class="left">
                                    <span class="spanIcon addressIcon"></span>
                                    重庆市，渝中区，解放碑CBD
                                </span>
                                <span class="right">
                                    <span class="spanIcon loveIcon"></span>
                                    <span class="color">30</span>报名
                                </span>
                            </p>
                            <p>
                                <span class="left">
                                    <span class="spanIcon timeIcon"></span>
                                    活动时间：2016-6-6
                                </span>
                            </p>
                            <p>
                                <span class="left">
                                    <span class="spanIcon moneyIcon"></span>
                                    免费
                                </span>
                            </p>
                        </section>
                    </section>
                    <section>
                        <h2 class="title clearfix">
                            <span class="largeTitle left">[6.18豪车够]</span>
                            <span class="smallTitle right">
                                <span class="spanIcon moneyIcon"></span>
                                免费
                            </span>
                        </h2>
                        <section>
                            <div class="activeListImg">
                                <a href="activeInfor.html">
                                    <img src="../../assets/mobile/images/activeList1.jpg" alt="">
                                </a>
                            </div>
                            <p class="first">
                                <span class="left">
                                    <span class="spanIcon addressIcon"></span>
                                    重庆市，渝中区，解放碑CBD
                                </span>
                                <span class="right">
                                    <span class="spanIcon loveIcon"></span>
                                    <span class="color">30</span>报名
                                </span>
                            </p>
                            <p>
                                <span class="left">
                                    <span class="spanIcon timeIcon"></span>
                                    活动时间：2016-6-6
                                </span>
                            </p>
                            <p>
                                <span class="left">
                                    <span class="spanIcon moneyIcon"></span>
                                    免费
                                </span>
                            </p>
                        </section>
                    </section>
                    <section>
                        <h2 class="title clearfix">
                            <span class="largeTitle left">[6.18豪车够]</span>
                            <span class="smallTitle right">
                                <span class="spanIcon moneyIcon"></span>
                                免费
                            </span>
                        </h2>
                        <section>
                            <div class="activeListImg">
                                <a href="activeInfor.html">
                                    <img src="../../assets/mobile/images/activeList1.jpg" alt="">
                                </a>
                            </div>
                            <p class="first">
                                <span class="left">
                                    <span class="spanIcon addressIcon"></span>
                                    重庆市，渝中区，解放碑CBD
                                </span>
                                <span class="right">
                                    <span class="spanIcon loveIcon"></span>
                                    <span class="color">30</span>报名
                                </span>
                            </p>
                            <p>
                                <span class="left">
                                    <span class="spanIcon timeIcon"></span>
                                    活动时间：2016-6-6
                                </span>
                            </p>
                            <p>
                                <span class="left">
                                    <span class="spanIcon moneyIcon"></span>
                                    免费
                                </span>
                            </p>
                        </section>
                    </section>
                </article>
            </div>
            <div class="notConTip hide">
                <img src="../../assets/mobile/images/notContent.png" alt=""/>
                <p class="notInfor">
                    无数据
                </p>
            </div>
        </div>
        </div>
    </div>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/mobile/js/global.js"></script>
</body>
</html>