<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>家得利|关于我们</title>
    <link rel="stylesheet" href="../../assets/frontend/plugins/slider/css/slider.css"/>
    <link rel="stylesheet" href="../../assets/frontend/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/globle.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head_main">
                <div class="logo">
                    <a href="index.html">
                        <img src="../../assets/frontend/images/logo.jpg" alt=""/>
                    </a>
                </div>
                <ul class="menu clearfix">
                    <!--<li>-->
                        <!--<a href="index.html">首页</a>-->
                    <!--</li>-->
                    <li>
                        <a href="scIndex.html">网上商城</a>
                    </li>
                    <li>
                        <a href="consultingCenter.html">资讯中心</a>
                    </li>
                    <li>
                        <a href="talentRecruitment.html">人才招聘</a>
                    </li>
                    <li class="active">
                        <a href="about.html">关于我们</a>
                    </li>
                    <li>
                        <a href="contactUs.html">联系我们</a>
                    </li>
                    <!--<li class="mr0">-->
                        <!--<a href="###">商家登录</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <div class="content mb0 pt0">
            <img src="../../../jdePc/images/about1.jpg" alt="" class="autoImg"/>
            <div class="l_contact">
                <div class="contact">
                    <div class="c_type">
                        家得利
                    </div>
                    <div class="l_about" style="padding-top: 0;">
                        <p>什么是家得利消费全返模式？</p>
                        <p class="infor">
                            消费返利是商家为了提高消费者忠诚度、吸引消费者持续消费的一种有效手段，是商家将自己在销售产品或服务
                        </p>
                    </div>
                    <div class="contact_block">

                    </div>
                    <div class="c_type">
                        核心行业
                        <img src="../../../jdePc/images/about1.png" alt=""/>

                    </div>
                    <div class="center">
                        <p>
                            国家政府提出并高度支持“互联网+”计划，目的是彻底打通上下游供应链，充分利用互联网 技术应用，实现渠道扁平化，发展壮大新兴业
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../assets/frontend/js/global.js"></script>
</body>
</html>