<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>家得利|资讯中心</title>
    <link rel="stylesheet" href="../../assets/frontend/plugins/slider/css/slider.css"/>
    <link rel="stylesheet" href="../../assets/frontend/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/globle.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head_main">
                <div class="logo">
                    <a href="index.html">
                        <img src="../../assets/frontend/images/logo.jpg" alt=""/>
                    </a>
                </div>
                <ul class="menu clearfix">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a href="scIndex.html">网上商城</a>
                    </li>
                    <li class="active">
                        <a href="consultingCenter.html">资讯中心</a>
                    </li>
                    <li>
                        <a href="talentRecruitment.html">人才招聘</a>
                    </li>
                    <li>
                        <a href="about.html">关于我们</a>
                    </li>
                    <li>
                        <a href="contactUs.html">联系我们</a>
                    </li>
                    <li class="mr0">
                        <a href="###">商家登录</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content pt0">
            <img src="../../assets/frontend/images/consultings1.jpg" alt="" class="autoImg"/>
            <div class="l_consulting" style="padding-bottom: 60px;">
                <ul class="l_consulting_menu">
                    <li>
                        <div class="consulting clearfix">
                            <div class="consulting_img left">
                                <img src="../../assets/frontend/images/consulting1.jpg" alt=""/>
                            </div>
                            <div class="consulting_infor left">
                                <p class="title">
                                    共建和谐人际互联的创新事业，共享资源聚合效应的创富人生</p>

                                <p class="consulting_con">
                            　　2016年10月12日，以“共建和谐人际互联的创新事业，共享资源聚合效应的创富人生”为主题的共创债事处理系统大商城活动在汇润国际举行。
                                    活动中，豪恩帮电子商务公司详细阐述了我公司开创的债务债事链接电子商城的新型商业模式，来宾对此表现出非常大的兴趣，在会议结束之后仍然继续在会场与豪恩帮的工作人员进行交流咨询。
                                </p>
                                <p class="consulting_link">
                                    <a href="consultingInfor.html">查看详情></a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="consulting clearfix">
                            <div class="consulting_infor style left">
                                <p class="title">
                                    家得利+消费赠送返还：中国人发明颠覆世界的商业模式</p>

                                <p class="consulting_con">
                            　　
                                    无论线上还是线下，只要在全返通平台上交易，您买东西花的钱，全返通100%全额返还给您；您卖东西收的钱，全返通100%全额返还给您的客户！无论线上还是线下，只要在全返通平台上交易，您买东西花的钱，全返通100%全额返还给您；您卖东西收的钱，全返通100%全额返还给您的客户！无论线上还是线下，只要在全返通平台上交易，您买东西花的钱，全返通100%全额返还给您；您卖东西收的钱，全返通100%全额返还给您的客户！无论线上还是线下，只要在全返通平台上交易，您买东西花的钱，全返通100%全额返还给您；您卖东西收的钱，全返通100%全额返还给您的客户！

                                </p>
                                <p class="consulting_link">
                                    <a href="consultingInfor.html">查看详情></a>
                                </p>
                            </div>
                            <div class="consulting_img left">
                                <img src="../../assets/frontend/images/consulting2.jpg" alt=""/>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="consulting clearfix">
                            <div class="consulting_img left">
                                <img src="../../assets/frontend/images/consulting3.jpg" alt=""/>
                            </div>
                            <div class="consulting_infor left">
                                <p class="title">
                                    家得利+消费赠送返还：中国人发明颠覆世界的商业模式</p>

                                <p class="consulting_con">
                            　　
                                    无论线上还是线下，只要在全返通平台上交易，您买东西花的钱，全返通100%全额返还给您；您卖东西收的钱，全返通100%全额返还给您的客户！无论线上还是线下，只要在全返通平台上交易，您买东西花的钱，全返通100%全额返还给您；您卖东西收的钱，全返通100%全额返还给您的客户！无论线上还是线下，只要在全返通平台上交易，您买东西花的钱，全返通100%全额返还给您；您卖东西收的钱，全返通100%全额返还给您的客户！无论线上还是线下，只要在全返通平台上交易，您买东西花的钱，全返通100%全额返还给您；您卖东西收的钱，全返通100%全额返还给您的客户！

                                </p>
                                <p class="consulting_link">
                                    <a href="consultingInfor.html">查看详情></a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="consulting clearfix">
                            <div class="consulting_infor style left">
                                <p class="title">

                                    家得利+消费赠送返还：中国人发明颠覆世界的商业模式</p>

                                <p class="consulting_con">
                            　　
                                    无论线上还是线下，只要在全返通平台上交易，您买东西花的钱，全返通100%全额返还给您；您卖东西收的钱，全返通100%全额返还给您的客户！无论线上还是线下，只要在全返通平台上交易，您买东西花的钱，全返通100%全额返还给您；您卖东西收的钱，全返通100%全额返还给您的客户！无论线上还是线下，只要在全返通平台上交易，您买东西花的钱，全返通100%全额返还给您；您卖东西收的钱，全返通100%全额返还给您的客户！无论线上还是线下，只要在全返通平台上交易，您买东西花的钱，全返通100%全额返还给您；您卖东西收的钱，全返通100%全额返还给您的客户！

                                </p>
                                <p class="consulting_link">
                                    <a href="consultingInfor.html">查看详情></a>
                                </p>
                            </div>
                            <div class="consulting_img left">
                                <img src="../../assets/frontend/images/consulting4.jpg" alt=""/>
                            </div>
                        </div>
                    </li>
                </ul>

                <!--分页-->
                <div class="paging clearfix">
                    <ul class="page-menu clearfix">
                        <p class="page-pre" data-pagenum="1"><i class="fa fa-angle-left"></i></p>

                        <li class="active">1</li>

                        <li class="liPage">2</li>

                        <li class="liPage">3</li>

                        <li class="liPage">4</li>

                        <li class="liPage">5</li>

                        <li class="liPage">6</li>

                        <li class="liPage">7</li>

                    </ul>
                    <input type="text" class="page-num" id="pageNumTarget">
                    <button type="button" class="btn-jump" id="targetButton">跳转</button>
                    <p class="page-next" data-pagenum="2"><i class="fa fa-angle-right"></i></p>
                    <input type="hidden" value="447" id="totalPages">
                </div>

            </div>
        </div>

    </div>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../assets/frontend/js/global.js"></script>
    <script>
        jQuery(document).ready(function() {
            /*分页居中*/
            var ml = ($(".paging").outerWidth()+$(".page-num").outerWidth()+$(".btn-jump").outerWidth())/2;
            $(".paging").get(0).style.marginLeft = -ml+"px";
        });
    </script>
</body>
</html>