<!DOCTYPE html>
<html>
<head lang="en">
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../../assets/frontend/css/index.css" type="text/css">
    <link rel="stylesheet" href="../../assets/frontend/css/global.css" type="text/css">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css">
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="nav-wrap">
            <div class="nav">
                <ul class="nav-list cf">
                    <li><a href="###">首页</a></li>
                    <li><a href="###">优惠活动</a></li>
                    <li><a class="on" href="###">图片素材</a></li>
                    <li><a href="###">JS代码</a></li>
                    <li><a href="###">关于我们</a></li>
                    <li><a href="###">联系我们</a></li>
                    <li><a href="###">在线留言</a></li>
                </ul>
                <div class="goods">
                    <h2 class="title">商品分类</h2>
                    <div class="all-goods">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../assets/frontend/js/tNav.js"></script>
    <script type="text/javascript" src="../../assets/frontend/js/global.js"></script>
</html>