<!DOCTYPE html>
<html>
<head lang="en">
    <title>商铺-商品</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/frontend/css/global.css" type="text/css">
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head_main">
                <div class="logo">
                    <a href="index.html">
                        <img src="../../assets/frontend/images/logo.jpg" alt=""/>
                    </a>
                </div>
                <ul class="menu clearfix">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li class="active">
                        <a href="scIndex.html">网上商城</a>
                    </li>
                    <li>
                        <a href="consultingCenter.html">资讯中心</a>
                    </li>
                    <li>
                        <a href="talentRecruitment.html">人才招聘</a>
                    </li>
                    <li>
                        <a href="about.html">关于我们</a>
                    </li>
                    <li>
                        <a href="contactUs.html">联系我们</a>
                    </li>
                    <li class="mr0">
                        <a href="###">商家登录</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">

            <!--所有商品分类-->
            <div class="nav-wrap">
                <div class="navWrap">
                    <div class="goods left">
                        <h2 class="title">
                            所有商品分类
                            <i class="fa fa-angle-down right"></i>
                        </h2>
                        <div class="all-goods">
                        </div>
                    </div>
                    <ul class="nav-list cf left">
                        <li><a href="scIndex.html">商城</a></li>
                        <!--<li><a href="###">热门</a></li>-->
                        <li><a class="on" href="onlinem-mall.html">商铺</a></li>
                        <!--<li><a href="###">个人中心</a></li>-->
                        <li><a href="shopping.html">所有商品</a></li>
                    </ul>
                    <div id="search-2014" class="left">
                        <div class="form">
                            <div class="type">
                                <div class="search-type">
                                        <span class="type-name">
                                            店铺
                                        </span>
                                    <i class="fa fa-angle-down"></i>
                                    <div class="w1">
                                    </div>
                                </div>
                                <ul class="type-menu hide">
                                    <li>宝贝</li>
                                    <li>店铺</li>
                                </ul>
                            </div>
                            <input type="text" class="text" placeholder="请输入关键字">
                            <button  class="button cw-icon"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!--所有商品分类-->

            <!--面包屑导航-->
            <div class="breadDiv">
                <div class="center">
                    <ul class="breadNav clearfix left">
                        <li>
                            <a href="scIndex.html">
                                商城
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="onlinem-mall.html">
                                商铺
                            </a>

                        </li>
                    </ul>
                    <div class="right shopNum">
                        为你搜到相关
                        <span class="color">4554</span>
                        件商品
                    </div>
                </div>
            </div>
            <!--面包屑导航-->

            <div style="background: #f6f6f6;padding-top: 1px">

                <!--商铺信息-->
                <div class="shopsInfor clearfix">
                    <div class="s_i_h left">
                        <img src="../../assets/frontend/images/shopLog.jpg" alt="">
                        <p class="title">美容在线</p>
                    </div>
                    <div class="left s_i_c">
                        <div>
                            <p class="title">店铺介绍</p>
                            <p>是一家10年老店,品质保证安全第一</p>
                        </div>
                        <div>
                            <p class="title">评分</p>
                            <ul class="star_menu clearfix">
                                <li class="active">
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <li class="active">
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <li class="active">
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <li class="active">
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-o"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="left s_i_c">
                        <div>
                            <p class="title">主营产品</p>
                            <p>房产,数码</p>
                        </div>
                        <div>
                            <p class="title">创店时间</p>
                            <p>2016-09-16</p>
                        </div>
                    </div>
                </div>
                <!--商铺信息-->

                <!--商铺商品列表-->
                <div id="shops" class="pb100">
                    <div class="shop_ist style clearfix" style="padding: 15px 15px 65px;border: 1px solid #dbdbdb;">
                        <p class="title">全部商品</p>
                        <ul class="shop_menu clearfix">
                            <li>
                                <a href="###">
                                    <img src="../../assets/frontend/images/shopList.jpg" alt="">
                                </a>
                                <div class="s_m_f">
                                    <p class="s_m_t">最新款衣服出售</p>
                                    <p class="s_m_f_f clearfix">
                                        <span class="money left">￥360</span>
                                <span class="right buyNum">
                                    销量 : 50
                                </span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="###">
                                    <img src="../../assets/frontend/images/shopList1.jpg" alt="">
                                </a>
                                <div class="s_m_f">
                                    <p class="s_m_t">最新款衣服出售</p>
                                    <p class="s_m_f_f clearfix">
                                        <span class="money left">￥360</span>
                                <span class="right buyNum">
                                    销量 : 50
                                </span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="###">
                                    <img src="../../assets/frontend/images/shopList2.jpg" alt="">
                                </a>
                                <div class="s_m_f">
                                    <p class="s_m_t">最新款衣服出售</p>
                                    <p class="s_m_f_f clearfix">
                                        <span class="money left">￥360</span>
                                <span class="right buyNum">
                                    销量 : 50
                                </span>
                                    </p>
                                </div>
                            </li>
                            <li class="mr0">
                                <a href="###">
                                    <img src="../../assets/frontend/images/shopList3.jpg" alt="">
                                </a>
                                <div class="s_m_f">
                                    <p class="s_m_t">最新款衣服出售</p>
                                    <p class="s_m_f_f clearfix">
                                        <span class="money left">￥360</span>
                                <span class="right buyNum">
                                    销量 : 50
                                </span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="###">
                                    <img src="../../assets/frontend/images/shopList1.jpg" alt="">
                                </a>
                                <div class="s_m_f">
                                    <p class="s_m_t">最新款衣服出售</p>
                                    <p class="s_m_f_f clearfix">
                                        <span class="money left">￥360</span>
                                <span class="right buyNum">
                                    销量 : 50
                                </span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="###">
                                    <img src="../../assets/frontend/images/shopList2.jpg" alt="">
                                </a>
                                <div class="s_m_f">
                                    <p class="s_m_t">最新款衣服出售</p>
                                    <p class="s_m_f_f clearfix">
                                        <span class="money left">￥360</span>
                                <span class="right buyNum">
                                    销量 : 50
                                </span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="###">
                                    <img src="../../assets/frontend/images/shopList3.jpg" alt="">
                                </a>
                                <div class="s_m_f">
                                    <p class="s_m_t">最新款衣服出售</p>
                                    <p class="s_m_f_f clearfix">
                                        <span class="money left">￥360</span>
                                <span class="right buyNum">
                                    销量 : 50
                                </span>
                                    </p>
                                </div>
                            </li>
                            <li class="mr0">
                                <a href="###">
                                    <img src="../../assets/frontend/images/shopList.jpg" alt="">
                                </a>
                                <div class="s_m_f">
                                    <p class="s_m_t">最新款衣服出售</p>
                                    <p class="s_m_f_f clearfix">
                                        <span class="money left">￥360</span>
                                <span class="right buyNum">
                                    销量 : 50
                                </span>
                                    </p>
                                </div>
                            </li>
                        </ul>

                        <!--分页-->
                        <div class="paging clearfix" style="margin-top: 5px;">
                            <ul class="page-menu clearfix">
                                <p class="page-pre" data-pagenum="1"><i class="fa fa-angle-left"></i></p>
                                <li class="active">1</li>
                                <li class="liPage">2</li>
                                <li class="liPage">3</li>
                                <li class="liPage">4</li>
                                <li class="liPage">5</li>
                                <li class="liPage">6</li>
                                <li class="liPage">7</li>
                            </ul>
                            <input type="text" class="page-num" id="pageNumTarget">
                            <button type="button" class="btn-jump" id="targetButton">跳转</button>
                            <p class="page-next" data-pagenum="2"><i class="fa fa-angle-right"></i></p>
                            <input type="hidden" value="447" id="totalPages">
                        </div>
                        <!--分页-->

                    </div>
                </div>
                <!--商铺商品列表-->

            </div>

            <!--无数据提示-->
            <div class="notDataTips hide">
                <img src="../../assets/frontend/images/notDataTips.png" alt=""/><br/>
                暂无数据
            </div>
            <!--无数据提示-->
        </div>
    </div>
</body>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../assets/frontend/js/tNav.js"></script>
    <script type="text/javascript" src="../../assets/frontend/js/global.js"></script>
    <script>
        $(function(){
            /*分页居中*/
            var paging = $(".paging");
            var ml = (paging.outerWidth())/2;
            paging.get(0).style.marginLeft = -ml+"px";
        })
    </script>
</html>