<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>家得利|人才招聘</title>
    <link rel="stylesheet" href="../../assets/frontend/plugins/slider/css/slider.css"/>
    <link rel="stylesheet" href="../../assets/frontend/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/globle.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head_main">
                <div class="logo">
                    <a href="index.html">
                        <img src="../../assets/frontend/images/logo.jpg" alt=""/>
                    </a>
                </div>
                <ul class="menu clearfix">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a href="scIndex.html">网上商城</a>
                    </li>
                    <li>
                        <a href="consultingCenter.html">资讯中心</a>
                    </li>
                    <li class="active">
                        <a href="talentRecruitment.html">人才招聘</a>
                    </li>
                    <li>
                        <a href="about.html">关于我们</a>
                    </li>
                    <li>
                        <a href="contactUs.html">联系我们</a>
                    </li>
                    <li class="mr0">
                        <a href="###">商家登录</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content pt0 bg mb0">
            <img src="../../assets/frontend/images/zp1.jpg" alt="" class="autoImg"/>
            <div class="l_talent">
                <div class="talent">
                    <div class="l_talent_head clearfix">
                        <div>职位名称</div>
                        <div>类别</div>
                        <div>地点</div>
                        <div>人数</div>
                    </div>
                    <ul class="l_talent_menu">
                        <li class="on">
                            <div class="l_talent_name clearfix">
                                <div>采购员</div>
                                <div>综合</div>
                                <div>成都</div>
                                <div>4</div>
                            </div>
                            <div class="l_talent_infor">
                                【岗位职责】<br>
                                1、负责线上平台的招商<br>
                                2、负责品类的线下招商及推广<br>
                                3、新商品的引入，滞销品的淘汰<br>
                                4、滞销品与不良品的处理<br>
                                5、联系潜在供应商，表明合作意向，提出自己的条件要求，根据供应商所给条件进行谈判，筛选供应商。<br><br>

                                【任职要求】<br>
                                1、专科以上学历，市场营销类专业，一年以上工作经验;<br>
                                2、熟悉实体商场或电商平台的运营模式；<br>
                                3、良好的沟通表达能力，能够承受一定工作压力;<br>
                                4、有超市、大型商超采购经验者优先。<br>

                                <!--<img src="images/code1.png" alt="">-->
                                <!--<p style="font-size: 16px;">扫二维码投递简历</p>-->

                                <button class="btn_td">投递简历</button>

                            </div>

                        </li>
                        <li>
                            <div class="l_talent_name clearfix">
                                <div>会计</div>
                                <div>财务</div>
                                <div>成都</div>
                                <div>4</div>
                            </div>
                            <div class="l_talent_infor">
                                【岗位职责】<br>
                                1、协助财务预算、审核、监督工作，按照公司及政府有关部门要求及时编制各种财务报表并报送相关部门；<br>
                                2、负责员工报销费用的审核、凭证的编制和登帐；<br>
                                3、对已审核的原始凭证及时填制记帐；<br>
                                4、固定资产和低值易耗品的登记和管理；<br>
                                5、负责与银行、税务等部门的对外联络；<br><br>

                                【任职要求】<br>
                                1、本科以上学历，会计、财经类相关专业，3年以上工作经历；<br>
                                2、熟悉会计报表的处理，会计法规和税法，熟练使用财务软件；<br>
                                3、会成本核算，有商超，贸易类行业工作经验优先；<br>

                                <!--<img src="images/code1.png" alt="">-->
                                <!--<p style="font-size: 16px;">扫二维码投递简历</p>-->

                                <button class="btn_td">投递简历</button>
                            </div>
                        </li>
                        <li>
                            <div class="l_talent_name clearfix">
                                <div>招商人员</div>
                                <div>综合</div>
                                <div>成都</div>
                                <div>4</div>
                            </div>
                            <div class="l_talent_infor">
                                【岗位职责】<br>
                                1、针对销售目标进行分解和实施，制订可执行的产品策略，根据不同目标市场，建议适合的相应体系，指导相关部门实施市场推广计划；<br>
                                2、负责市场信息的收集、分析、报告、处理以及汇总工作，为公司提供业务发展战略的依据。<br>
                                3、拓展客户并维护客情关系、执行推广营销计划及地推计划；<br>
                                4、执行公司的招商政策，达成招商目标；<br><br>

                                【任职要求】<br>
                                1、专科以上学历，市场营销类专业，一年以上工作经验。<br>
                                2、 熟悉实体商场或电商平台的运营模式；<br>
                                3、 良好的沟通表达能力，能够承受一定工作压力。<br>


                                <!--<img src="images/code1.png" alt="">-->
                                <!--<p style="font-size: 16px;">扫二维码投递简历</p>-->

                                <button class="btn_td">投递简历</button>
                            </div>
                        </li>
                        <li>
                            <div class="l_talent_name clearfix">
                                <div>项目策划</div>
                                <div>综合</div>
                                <div>成都(出差)</div>
                                <div>4</div>
                            </div>
                            <div class="l_talent_infor">
                                【岗位职责】<br>
                                1、项目整体定位及包装<br>
                                2、现场道具安排与制作<br>
                                3、项目销售节点制定及推进<br>
                                4、销售价格制定及产值预估<br>
                                5、活动策划与造势<br>
                                6、阶段性广告推进计划报告<br>
                                7、对销售部提供的客户资料信息情况做出精准的市场定位分析<br><br>

                                【任职要求】<br>
                                1、本科以上学历，2年以上房地产策划工作经验<br>
                                2、熟悉房地产策划，能够完成前期策划报告、营销策划报告、推广策划书等房地产开发过程中的策划和撰写工作；<br>
                                3、熟悉城市建设、房地产行业，熟悉房地产国家相关法律法规；<br>
                                4、及时掌握房地产市场动态，具有敏锐的市场洞察力、判断力；<br>
                                5、热爱房地产策划事业，上进心强，对市场、客户需求有一定的敏感性；<br>
                                6、能独立进行市场研究、项目可行性分析、产品策划、客户分析工作；<br>
                                7、优秀的文案写作功底和良好的语言沟通能力，熟练运用PPT等办公软件。<br>

                                <!--<img src="images/code1.png" alt="">-->
                                <!--<p style="font-size: 16px;">扫二维码投递简历</p>-->

                                <button class="btn_td">投递简历</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../assets/frontend/js/global.js"></script>
    <script>
        $(function(){
            $(".l_talent_menu li").hover(function(){
                if($(this).find(".l_talent_infor").css("display")=="none"){
                    $(this).addClass("on");
                    $(this).find(".l_talent_infor").slideDown();
                    $(this).siblings("li").removeClass("on");
                    $(this).siblings("li").find(".l_talent_infor").slideUp();
                }else{

                }
            },function(){

            });
        })
    </script>
</body>
</html>