<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>站内介绍</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <div class="head-main">
            <div class="logo left"></div>
            <ul class="menu right clearfix">
                <li>
                    <a href="index.html">
                        <span class="icon icon1"></span>
                    </a>
                </li>
                <li>
                    <a href="case.html">
                        <span class="icon icon2"></span>
                    </a>
                </li>
                <li>
                    <a href="map-case.html">
                        <span class="icon icon3"></span>
                    </a>
                </li>
                <li>
                    <a href="create-activity.html">
                        <span class="icon icon4"></span>
                    </a>
                </li>
                <li class="last">
                    <a href="participate-activities.html">
                        <span class="icon icon6"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-main clearfix">
            <div class="content-left left">
                <div class="person-infomation">
                    <img src="../../assets/frontend/images/founder.jpg" alt="" class="" style="width: 100%;"/>
                    <div class="per-infor"><!--创始人信息-->
                        <div class="details">
                            <p class="name">刘大拿</p>
                            <p>脸书创始人 CEO</p>
                        </div>
                        <a href="participate-activities.html">
                            <img src="../../assets/frontend/images/per-inf.png" alt="" class=""/>
                        </a>
                    </div>
                </div>
                <div class="cl-content">
                    <p>
                        <span class="f-span">
                            <span class="title">个性签名</span>　　<span>风中之舞</span>　　　　　
                        </span>
                        <span class="title">自我介绍</span>　　<span>生活热爱者</span>
                    </p>
                    <p>
                        <span class="f-span">
                            <span class="title">性别</span>　　<span>男</span>　　　
                        </span>
                        <span class="title">出生年月</span>　　<span>80后</span>　　　　　　　
                        <span class="title">星座</span>　　<span>白羊</span>

                    </p>
                    <p>
                        <span class="f-span">
                            <span class="title">血型</span>　　<span>AB型</span>　　　　　　　
                        </span>
                        <span class="title">性格</span>　　<span>活跃 开放 交际</span>
                    </p>
                    <p>
                        <span class="f-span">
                            <span class="title">标签位置</span>　　<span>重庆杨家坪解放路星星大厦首座23F-12室</span>　　　
                        </span>
                        <span class="title">常出没地</span>　　<span>北京　重庆　上海</span>
                    </p>
                    <p>
                        <span class="f-span">
                            <span class="title">工作职业</span>　　<span>软件工程师</span>　　　　　
                        </span>
                        <span class="title">毕业学校</span>　　<span>重庆邮电大学</span>　　　　　
                    </p>
                    <p>
                        <span class="f-span">
                            <span class="title">专业教育</span>　　<span>心理学　计算机工程学　互联网金融</span>
                        </span>
                        <span class="title">个人专长</span>　　<span>网络编程　长跑　网络　文学创作　钢琴</span>　　　 　
                    </p>
                    <p>
                        <span class="f-span">
                            <span class="title">关系圈子</span>　　<span>共创社　21世纪创新读书会</span>　　 　　　　
                        </span>
                        <span class="title">共享家当</span>　　<span>宝马私车拼车　个性咖啡馆沙龙 书</span>
                    </p>
                    <p>
                        <span class="f-span">
                            <span class="title">关注话题</span>　　<span>互联网创业　硅谷创新</span>
                        </span>
                        <span class="title">个人爱好</span>　　<span>茶和咖啡　步行　长跑</span>
                    </p>
                    <p>
                        <span class="f-span">
                            <span class="title">最爱电影</span>　　<span>这个杀手不太冷</span>
                        </span>
                        <span class="title">最爱音乐</span>　　<span>迈克</span>
                    </p>
                    <p>
                        <span class="title">协作项目</span>　　
                        <span>《玩偶大师》主编程师　《龙湖社区智能平台》主架构师　《中国银行适中能机器》主要工程师</span>
                    </p>
                    <p>
                        <span class="title">正在项目</span>　　<span>《大话西游》电影主编程工程师</span>
                    </p>
                    <p>
                        <span class="f-span">
                            <span class="title">标签编号</span>　　<span>122</span>　　　
                        </span>
                        <span class="title">工作星级</span>　　<span>AAAA</span>
                    </p>
                    <p>
                        <span class="f-span">
                            <span class="title">WW红包</span>　　<span>点击提现</span>　　　　
                        </span>
                        <span class="title">注册时间</span>　　<span>2015-10-26</span>
                    </p>
                    <p>
                        <span class="title">个人图集 168</span>　
                        <img src="../../assets/frontend/images/person.jpg" alt="" class="person"/>
                        <img src="../../assets/frontend/images/person.jpg" alt="" class="person"/>
                        <img src="../../assets/frontend/images/person.jpg" alt="" class="person"/>
                        <img src="../../assets/frontend/images/person.jpg" alt="" class="person"/>
                        <img src="../../assets/frontend/images/person.jpg" alt="" class="person"/>
                        <img src="../../assets/frontend/images/person.jpg" alt="" class="person"/>
                        <img src="../../assets/frontend/images/person.jpg" alt="" class="person"/>
                    </p>
                    <p>
                        <span class="title">个人视频</span>　
                        <img src="../../assets/frontend/images/person.jpg" alt="" class=""/>
                        <img src="../../assets/frontend/images/person.jpg" alt="" class=""/>
                        <img src="../../assets/frontend/images/person.jpg" alt="" class=""/>
                    </p>
                    <div class="common-title">协作需求发布</div>
                    <p>
                        <span class="f-span">
                            <span class="title">任务名称</span>　　<span>房地产广告设计</span>　　　
                        </span>
                        <span class="title">协作酬金</span>　　<span>4万元</span>
                    </p>
                    <p>
                        <span class="title">任务详述</span>　　<span>为谋房地产项目提供标识和主形象广告设计。作业时长一周左右。详情面谈</span>　　　
                    </p>
                    <p>
                        <span class="title">协作要求</span>　　<span>有5年以上房地产设计的个人或团队</span>　　　
                    </p>
                    <p>
                        <span class="title">联系电话</span>　　<span>电话18623324042</span>　　　
                    </p>
                    <div class="common-title">创业项目发布</div>
                    <p>
                        <span class="f-span">
                            <span class="title">项目名称</span>　　<span>移动智手环</span>　　　
                        </span>
                        <span class="title">项目需求</span>　　<span>天使投资200万元</span>
                    </p>
                    <p>
                        <span class="title">项目介绍</span>　　<span>男将家居产品、男装以及一间Saint-Louis水晶店</span>　　　
                    </p>
                    <p>
                        <span class="f-span">
                            <span class="title">核心团队</span>　　<span>刘大拿 吴杨文 陈小京</span>　　　
                        </span>
                        <span class="title">出让股权</span>　　<span>商议</span>
                    </p>
                    <p>
                        <span class="title">联系电话</span>　　<span>电话19623324042</span>　　　
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="foot clearfix">
        <div class="foot-main ">
            <ul class="clearfix f-menu">
                <li class="foot-list1">
                    <ul class="fl-ul">
                        <li>
                            <span class="f-logo"></span>
                        </li>
                        <li>
                            <a href="#">关于WITWORK</a>
                        </li>
                        <li>
                            <a href="#">伙伴合作</a>
                        </li>
                        <li>
                            <a href="#">人才招聘</a>
                        </li>
                        <li>
                            <a href="#">联系我们</a>
                        </li>
                    </ul>
                </li>
                <li class="foot-list2">
                    <ul class="fl-ul">
                        <li>
                            <a href="#" class="title">Studio Station个人工作站</a>
                        </li>
                        <li>
                            <a href="personal-journal.html">AMSTERDAM</a><a href="personal-journal.html">AUSTIN</a>
                        </li>
                        <li>
                            <a href="#">BSTON</a><a href="#">LONDON</a>
                        </li>
                        <li>
                            <a href="#">MILAN</a><a href="#">MUNICH</a>
                        </li>
                        <li>
                            <a href="#">NEW YORK</a><a href="#">SAN FRANCISCO</a>
                        </li>
                        <li>
                            <a href="#">SEATTLE</a><a href="#">SHANGHAI</a>
                        </li>
                        <li>
                            <a href="#">SINGAPQRE</a>
                        </li>
                    </ul>
                </li>
                <li class="foot-list3">
                    <ul class="fl-ul fl-ul3">
                        <li>
                            <a href="#" class="title">WitWork Sharing在线办公分享</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 交大众创中心</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 原品咖啡</a><a href=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 林卡咖啡</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 逸美时光咖啡</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 咖啡花</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> MTE</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 知竹茶馆</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 交大众创中心</a><a href="#" class=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 创投咖啡黄泥磅</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 重大众创中心</a><a href="#" class=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 罗曼酒庄</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 李众创</a><a href="#" class=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 正石拍摄</a>
                        </li>

                    </ul>
                </li>
            </ul>
            <div class="copyright">
                <span>©2014~2015　重庆智谷众创商业管理有限公司　渝ICP备15002338号-1</span>　
                <span>版权所有</span>
                <div class="weixin">
                    <i class="fa fa-weixin"></i>
                    <span class="weixinS"></span>
                    <div class="weixinB">
                        <span></span>
                        <img src="../../assets/frontend/images/weixin.png">
                    </div>
                </div>
                <a href="#" class="weibo"><i class="fa fa-weibo"></i></a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/global/plugins/error/js/error.js"></script>
<script src="../../assets/frontend/js/global.js"></script>
</html>