<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>创建活动</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <link href="../../assets/global/plugins/video/video-js.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
    <div class="head">
        <div class="head-main">
            <div class="logo left"></div>
            <ul class="menu right clearfix">
                <li>
                    <a href="index.html">
                        <span class="icon icon1"></span>
                    </a>
                </li>
                <li>
                    <a href="case.html">
                        <span class="icon icon2"></span>
                    </a>
                </li>
                <li>
                    <a href="map-case.html">
                        <span class="icon icon3"></span>
                    </a>
                </li>
                <li>
                    <a href="c-active.html">
                        <span class="icon icon4"></span>
                    </a>
                </li>
                <li class="last">
                    <a href="participate-activities.html">
                        <span class="icon icon6"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-main">
            <ul class="we-feed clearfix" id="we-feed">
                <li>
                    <img src="../../assets/frontend/images/summer_camp.jpg" alt=""/>
                    <div class="play-on">
                        <span class="play"></span>
                        <span class="words">
                            <h4>Play Video</h4>
                        </span>
                    </div>
                    <p class="active-mask-bg"></p>
                    <div class="active-mask">
                        <span class="show">冲浪，冲上人生巅峰，迎娶白富美</span>
                        <div class="play-on">
                            <span class="play"></span>
                            <span class="words">
                                <h4>Play Video</h4>
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../../assets/frontend/images/summer_camp.jpg" alt=""/>
                    <div class="play-on">
                        <span class="play"></span>
                        <span class="words">
                            <h4>Play Video</h4>
                        </span>
                    </div>
                    <p class="active-mask-bg"></p>
                    <div class="active-mask">
                        <span class="show">冲浪，冲上人生巅峰，迎娶白富美</span>
                        <div class="play-on">
                            <span class="play"></span>
                            <span class="words">
                                <h4>Play Video</h4>
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../../assets/frontend/images/summer_camp.jpg" alt=""/>
                    <div class="play-on">
                        <span class="play"></span>
                        <span class="words">
                            <h4>Play Video</h4>
                        </span>
                    </div>
                    <p class="active-mask-bg"></p>
                    <div class="active-mask">
                        <span class="show">冲浪，冲上人生巅峰，迎娶白富美</span>
                        <div class="play-on">
                            <span class="play"></span>
                            <span class="words">
                                <h4>Play Video</h4>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="creat-active">
                <div class="columns">
                    <h2 class="header section-header normal">Host Your Event at WeWork</h2>
                    <div class="section-text"><p>Want some feedback on your app? Ready to launch your product? Want to teach a class or host a workshop? Or perhaps you're just ready to celebrate something? Our members are welcome to host an event in one of our flexible event spaces.</p></div>
                    <a class="button small shout" href="#">Host an Event</a>
                </div>
            </div>
            <div class="activiy">
                <p class="a-head">活动于Witwork</p>
                <ul class="activiy-ul clearfix">
                    <li>
                        <img src="../../assets/frontend/images/activiy1.jpg" alt="" class="active-img"/>
                        <h5 class="date">November 19 | 10:00AM -  3:00PM</h5>
                        <h3 class="name">收电费收费的风格的个人水电费水电费水电费沙发问问</h3>
                        <p class="location">Berkeley, 7th Floor</p>
                    </li>
                    <li>
                        <img src="../../assets/frontend/images/activiy1.jpg" alt="" class="active-img"/>
                        <h5 class="date">November 19 | 10:00AM -  3:00PM</h5>
                        <h3 class="name">是电饭锅电饭锅的任务二</h3>
                        <p class="location">Berkeley, 7th Floor</p>
                    </li>
                    <div class="clearfix visible-lg-block"></div>
                    <li>
                        <img src="../../assets/frontend/images/activiy1.jpg" alt="" class="active-img"/>
                        <h5 class="date">November 19 | 10:00AM -  3:00PM</h5>
                        <h3 class="name">收电费收费的风格的个人水电费水电费水电费沙发问问</h3>
                        <p class="location">Berkeley, 7th Floor</p>
                    </li>
                    <li>
                        <img src="../../assets/frontend/images/activiy1.jpg" alt="" class="active-img"/>
                        <h5 class="date">November 19 | 10:00AM -  3:00PM</h5>
                        <h3 class="name">是电饭锅电饭锅的任务二</h3>
                        <p class="location">Berkeley, 7th Floor</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="foot clearfix">
        <div class="foot-main ">
            <ul class="clearfix f-menu">
                <li class="foot-list1">
                    <ul class="fl-ul">
                        <li>
                            <span class="f-logo"></span>
                        </li>
                        <li>
                            <a href="#">关于WITWORK</a>
                        </li>
                        <li>
                            <a href="#">伙伴合作</a>
                        </li>
                        <li>
                            <a href="#">人才招聘</a>
                        </li>
                        <li>
                            <a href="#">联系我们</a>
                        </li>
                    </ul>
                </li>
                <li class="foot-list2">
                    <ul class="fl-ul">
                        <li>
                            <a href="#" class="title">Studio Station个人工作站</a>
                        </li>
                        <li>
                            <a href="personal-journal.html">AMSTERDAM</a><a href="personal-journal.html">AUSTIN</a>
                        </li>
                        <li>
                            <a href="#">BSTON</a><a href="#">LONDON</a>
                        </li>
                        <li>
                            <a href="#">MILAN</a><a href="#">MUNICH</a>
                        </li>
                        <li>
                            <a href="#">NEW YORK</a><a href="#">SAN FRANCISCO</a>
                        </li>
                        <li>
                            <a href="#">SEATTLE</a><a href="#">SHANGHAI</a>
                        </li>
                        <li>
                            <a href="#">SINGAPQRE</a>
                        </li>
                    </ul>
                </li>
                <li class="foot-list3">
                    <ul class="fl-ul fl-ul3">
                        <li>
                            <a href="#" class="title">WitWork Sharing在线办公分享</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 交大众创中心</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 原品咖啡</a><a href=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 林卡咖啡</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 逸美时光咖啡</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 咖啡花</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> MTE</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 知竹茶馆</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 交大众创中心</a><a href="#" class=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 创投咖啡黄泥磅</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 重大众创中心</a><a href="#" class=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 罗曼酒庄</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 李众创</a><a href="#" class=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 正石拍摄</a>
                        </li>
                        <li>
                            <div class="weixin">
                                <i class="fa fa-weixin"></i>
                                <span class="weixinS"></span>
                                <div class="weixinB">
                                    <span></span>
                                    <img src="../../assets/frontend/images/weixin.png">
                                </div>
                            </div>
                            <a href="#" class="weibo"><i class="fa fa-weibo"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="copyright">
                <span>©2014~2015　重庆智谷众创商业管理有限公司　渝ICP备15002338号-1</span>　
                <span>版权所有</span>
            </div>
        </div>
    </div>
    <div class="mask-bg hide"></div>
    <div class="mask hide">
        <div style="width: 100%;height: 150px;"></div>
        <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="640" height="400"
               poster="http://video-js.zencoder.com/oceans-clip.png"
               data-setup="{}">
            <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
            <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
            <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
            <track kind="captions" src="../../assets/global/plugins/video/demo.captions.vtt" srclang="en" label="English"><!-- Tracks need an ending tag thanks to IE9 -->
            <track kind="subtitles" src="../../assets/global/plugins/video/demo.captions.vtt" srclang="en" label="English"><!-- Tracks need an ending tag thanks to IE9 -->
        </video>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/global/plugins/error/js/error.js"></script>
<script src="../../assets/frontend/js/global.js"></script>
<script src="../../assets/global/plugins/move/js/move.js"></script>
<script>

</script>
<script src="../../assets/global/plugins/video/video.js"></script>
<script type="text/javascript">
    $(function(){
        /*活动蒙版效果*/
        var wefeed = document.getElementById("we-feed");
        var li      = wefeed.getElementsByTagName("li");
        for(var i=0;i<li.length;i++){
            li[i].onmouseover = function (){
                move($(this).find(".active-mask-bg")[0],{opacity:"80"},function(){
                    move($(this).next().find($(".show"))[0],{top:"50"})
                })
            };
            li[i].onmouseout = function (){
                move($(this).find(".active-mask-bg")[0],{opacity:"0"},function(){
                    move($(this).next().find($(".show"))[0],{top:"-50"})
                })
            };
        }
        /*视频控制*/
        videojs.options.flash.swf = "video-js.swf";
        var mbm = $(".mask-bg,.mask");
        var p = $(".play");
        var myPlayer;
        var ev = document.getElementById("example_video_1");
        p.on("click",function(){
            mbm.removeClass("hide");
            myPlayer = videojs('example_video_1');
            videojs("example_video_1").ready(function(){
                var myPlayer = this;
                myPlayer.play();
            });
            var oDiv = document.createElement('div');
            oDiv.className = "close";
            oDiv.title = "关闭";
            oDiv.innerText = "x";
            ev.parentNode.appendChild(oDiv)
        });
        $(ev).parent().delegate(".close","click",function(){
            mbm.addClass("hide");
            myPlayer = videojs('example_video_1');
            videojs("example_video_1").ready(function(){
                var myPlayer = this;
                myPlayer.pause();
            });
        })
    });
</script>
</html>