<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>首页</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <link rel="stylesheet" href="../../assets/global/plugins/autoSlider/css/autoSlider.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="head-main">
                <div class="logo left"></div>
                <ul class="menu right clearfix">
                    <li>
                        <a href="index.html">
                            <span class="icon icon1"></span>
                        </a>
                    </li>
                    <li>
                        <a href="case.html">
                            <span class="icon icon2"></span>
                        </a>
                    </li>
                    <li>
                        <a href="map-case.html">
                            <span class="icon icon3"></span>
                        </a>

                    </li>
                    <li>
                        <a href="create-activity.html">
                            <span class="icon icon4"></span>
                        </a>
                    </li>
                    <li class="last">
                        <a href="participate-activities.html">
                            <span class="icon icon6"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content-main">
                <div id="focus">
                    <div id="focus-main">
                        <div><img src="../../assets/global/plugins/autoSlider/images/slider1.jpg"/></div>
                        <div><img src="../../assets/global/plugins/autoSlider/images/slider2.jpg"/></div>
                        <div><img src="../../assets/global/plugins/autoSlider/images/slider1.jpg"/></div>
                        <div><img src="../../assets/global/plugins/autoSlider/images/slider2.jpg"/></div>
                        <div><img src="../../assets/global/plugins/autoSlider/images/slider1.jpg"/></div>
                    </div>
                    <p>
                        <span class="current"></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </p>
                </div>
                <ul class="advertisement clearfix">
                    <li>
                        <a href="company-introduction.html" class="a-first">
                            <img src="../../assets/frontend/images/img1.jpg" alt=""/>
                            <div class="b-bottom">
                                <p class="title">
                                    易优弧移动服务科技
                                </p>
                                <p>当互联网重构你的广告视界，一个新的汽 车媒体时代宣告到来..</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="company-introduction.html" class="a-second">
                            <img src="../../assets/frontend/images/img2.jpg" alt=""/>
                            <div class="b-top">
                                <p class="title">天使互联网广告商</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="company-introduction.html" class="a-last">
                            <img src="../../assets/frontend/images/img3.jpg" alt=""/>
                            <div class="b-bottom b-bottom1">
                                <p class="title">ＷＷ又添联合办公</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="activity">
                    <li class="li1">
                        <img src="../../assets/frontend/images/animation.jpg" alt=""/>
                        <span class="title">共创社活动</span>
                        <p>
                            Read<span class="color">#TheRideAhead</span>,our colledtion on the future of personal transportation
                            <a href="#" class="color">http://t.co/QHIvX6CXPA</a>
                            <a href="#" class="color">http://t.co/V3aMpqoOci</a>
                        </p>
                        <div class="b-bottom">
                            活动报名中...
                        </div>
                    </li>
                    <li class="li2">
                        <a href="#">
                            <img src="../../assets/frontend/images/people.jpg" alt=""/>
                        </a>
                        <div class="br"></div>
                    </li>
                    <li class="li3">
                        <div class="div-p">
                            <p class="title">Findeo TV</p>
                            <p class="title">一个自导演的梦想</p>
                            <p class="li-con">The 20th issue of DesignMind explores personal trasnportion,with a specific focus on hpu cinnectivety is reshaping our experiences with cars,m
                                motorcucles and scooters</p>
                        </div>
                        <div class="br"></div>
                        <div class="bb"></div>
                     </li>
                    <li class="li3 li4">
                        <div class="div-p">
                            <p class="title">美军的果七刀</p>
                            <p class="title">大学生创业样板</p>
                            <p class="title">求天使投</p>
                            <p class="li-con">The 20th issue of DesignMind explores personal trasnportion,with a specific focus on hpu cinnectivety is reshaping our experiences with</p>
                        </div>
                    </li>
                    <li class="li5">
                        当肯大牛孵化器
                    </li>
                    <li class="li3">
                        <div class="div-p">
                            <p class="title title-large">白泽阳一</p>
                            <p class="title">我的故事</p>
                            <p class="li-con">The 20th issue of DesignMind explores personal trasnportion,with a specific focus on hpu cinnectivety is reshaping our experiences with cars,m
                                motorcucles and scooters</p>
                        </div>
                        <div class="br"></div>
                    </li>
                    <li class="li3">
                        <div class="div-p">
                            <p class="title title-large">原品咖啡</p>
                            <p class="title">咖啡发烧友的自白</p>
                            <p class="li-con">The 20th issue of DesignMind explores personal trasnportion,with a specific focus on hpu cinnectivety is reshaping our experiences with cars,m
                                motorcucles and scooters</p>
                        </div>
                    </li>
                    <li class="li6">
                        <img src="../../assets/frontend/images/hun.jpg" alt=""/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="foot clearfix">
            <div class="foot-main ">
                <ul class="clearfix f-menu">
                    <li class="foot-list1">
                        <ul class="fl-ul">
                            <li>
                                <span class="f-logo"></span>
                            </li>
                            <li>
                                <a href="#">关于WITWORK</a>
                            </li>
                            <li>
                                <a href="#">伙伴合作</a>
                            </li>
                            <li>
                                <a href="#">人才招聘</a>
                            </li>
                            <li>
                                <a href="#">联系我们</a>
                            </li>
                        </ul>
                    </li>
                    <li class="foot-list2">
                        <ul class="fl-ul">
                            <li>
                                <a href="#" class="title">Studio Station个人工作站</a>
                            </li>
                            <li>
                                <a href="personal-journal.html">AMSTERDAM</a><a href="personal-journal.html">AUSTIN</a>
                            </li>
                            <li>
                                <a href="#">BSTON</a><a href="#">LONDON</a>
                            </li>
                            <li>
                                <a href="#">MILAN</a><a href="#">MUNICH</a>
                            </li>
                            <li>
                                <a href="#">NEW YORK</a><a href="#">SAN FRANCISCO</a>
                            </li>
                            <li>
                                <a href="#">SEATTLE</a><a href="#">SHANGHAI</a>
                            </li>
                            <li>
                                <a href="#">SINGAPQRE</a>
                            </li>
                        </ul>
                    </li>
                    <li class="foot-list3">
                        <ul class="fl-ul fl-ul3">
                            <li>
                                <a href="#" class="title">WitWork Sharing在线办公分享</a>
                            </li>
                            <li>
                                <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 交大众创中心</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 原品咖啡</a><a href=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 林卡咖啡</a>
                            </li>
                            <li>
                                <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 逸美时光咖啡</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 咖啡花</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> MTE</a>
                            </li>
                            <li>
                                <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 知竹茶馆</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 交大众创中心</a><a href="#" class=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 创投咖啡黄泥磅</a>
                            </li>
                            <li>
                                <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 重大众创中心</a><a href="#" class=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 罗曼酒庄</a>
                            </li>
                            <li>
                                <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 李众创</a><a href="#" class=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 正石拍摄</a>
                            </li>
                            <li>
                                <div class="weixin">
                                    <i class="fa fa-weixin"></i>
                                    <span class="weixinS"></span>
                                    <div class="weixinB">
                                        <span></span>
                                        <img src="../../assets/frontend/images/weixin.png">
                                    </div>
                                </div>
                                <a href="#" class="weibo"><i class="fa fa-weibo"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="copyright">
                    <span>©2014~2015　重庆智谷众创商业管理有限公司　渝ICP备15002338号-1</span>　
                    <span>版权所有</span>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/global/plugins/error/js/error.js"></script>
    <script src="../../assets/frontend/js/global.js"></script>
    <script src="../../assets/global/plugins/move/js/move.js"></script>
    <script src="../../assets/global/plugins/autoSlider/js/autoSlider.js"></script>
</html>