<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>杂志发表</title>
    <link rel="stylesheet" href="../../assets/global/plugins/font/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/frontend/css/global.css"/>
    <style>
        .dong{top:397px;}
    </style>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <div class="head-main">
            <div class="logo left"></div>
            <ul class="menu right clearfix">
                <li>
                    <a href="index.html">
                        <span class="icon icon1"></span>
                    </a>
                </li>
                <li>
                    <a href="case.html">
                        <span class="icon icon2"></span>
                    </a>
                </li>
                <li>
                    <a href="map-case.html">
                        <span class="icon icon3"></span>
                    </a>
                </li>
                <li>
                    <a href="create-activity.html">
                        <span class="icon icon4"></span>
                    </a>
                </li>
                <li class="last">
                    <a href="participate-activities.html">
                        <span class="icon icon6"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-main clearfix">
        <div class="activity-left left">
            <ul class="menu-left" id="menu-left">
                <div class="details">
                    <img src="../../assets/frontend/images/portrait.jpg" alt="" class="head-portrait"/><br/>
                    <span class="name">陈洁</span>
                </div>
                <div class="dong" id="dong"></div>
                <li>
                    <a href="#">
                        <span class="icon icon1">
                            <i class="fa fa-gear"></i>
                        </span>
                        <span>个人信息</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon2">
                            <i class="fa fa-book"></i>
                        </span>
                        <span>我的项目</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon3">
                            <i class="fa fa-cloud"></i>
                        </span>
                        <span>工作发布</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="magazine-published.html">
                        <span class="icon icon3">
                            <i class="fa fa-bars"></i>
                        </span>
                        <span>个人杂志</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="participate-activities.html">
                        <span class="icon icon4">
                            <i class="fa fa-gift"></i>
                        </span>
                        <span>参与活动</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon5">
                            <i class="fa fa-link"></i>
                        </span>
                        <span>连接的人</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#" style="border-bottom: none;">
                        <span class="icon icon7">
                            <i class="fa fa-sitemap"></i>
                        </span>
                        <span>关注的项目</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="activity-middle left">
            <div class="published">
                <div class="p-head">杂志发表</div><!--杂志头部-->
                <div class="p-content">
                    <h4>标题</h4>
                    <div class="wordCount">
                        <textarea placeholder="" class="textarea1"></textarea>
                        <span class="wordwrap"><var class="word">64</var>/64</span>
                    </div>
                    <h4>作者</h4> <span class="dbdb">(选填)</span>
                    <div class="wordCount">
                        <textarea placeholder="" class="textarea1"></textarea>
                        <span class="wordwrap"><var class="word">8</var>/8</span>
                    </div>
                    <h4>摘要</h4> <span class="dbdb">(选填,在摘要只在发送图文消息为单挑时显示)</span>
                    <div class="wordCount">
                        <textarea placeholder=""></textarea>
                        <span class="wordwrap"><var class="word">120</var>/120</span>
                    </div>
                </div><!--杂志内容-->

            </div>
        </div>
    <!--<div class="activity-right left">-->
        <!--<div class="hot-case">-->
            <!--<p class="title">热门项目</p>-->
            <!--<ul class="ul-case">-->
                <!--<li>-->
                    <!--<a href="#" class="active">-->
                        <!--<span class="circle"></span>-->
                        <!--2014-4-17重庆金融投资-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<span class="circle"></span>-->
                        <!--2014-4-17重庆金融投资-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<span class="circle"></span>-->
                        <!--2014-4-17重庆金融投资-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<span class="circle"></span>-->
                        <!--2014-4-17重庆金融投资-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="last">-->
                    <!--<a href="#">-->
                        <!--<span class="circle"></span>-->
                        <!--2014-4-17重庆金融投资-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<a href="#" class="more right">查看更多》</a>-->
        <!--</div>-->
        <!--<div class="announcement">-->
            <!--<p class="title">实时公告</p>-->
            <!--<ul class="ul-announcement">-->
                <!--<li>-->
                    <!--<a href="#" class="active">-->
                        <!--<span class="circle"></span>-->
                        <!--2014-4-17重庆金融投资-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<span class="circle"></span>-->
                        <!--2014-4-17重庆金融投资-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<span class="circle"></span>-->
                        <!--2014-4-17重庆金融投资-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<span class="circle"></span>-->
                        <!--2014-4-17重庆金融投资-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="last">-->
                    <!--<a href="#">-->
                        <!--<span class="circle"></span>-->
                        <!--2014-4-17重庆金融投资-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<a href="#" class="more right">查看更多》</a>-->
        <!--</div>-->
    <!--</div>-->
    </div>
    </div>
    <div class="foot clearfix">
        <div class="foot-main ">
            <ul class="clearfix f-menu">
                <li class="foot-list1">
                    <ul class="fl-ul">
                        <li>
                            <span class="f-logo"></span>
                        </li>
                        <li>
                            <a href="#">关于WITWORK</a>
                        </li>
                        <li>
                            <a href="#">伙伴合作</a>
                        </li>
                        <li>
                            <a href="#">人才招聘</a>
                        </li>
                        <li>
                            <a href="#">联系我们</a>
                        </li>
                    </ul>
                </li>
                <li class="foot-list2">
                    <ul class="fl-ul">
                        <li>
                            <a href="#" class="title">Studio Station个人工作站</a>
                        </li>
                        <li>
                            <a href="personal-journal.html">AMSTERDAM</a><a href="personal-journal.html">AUSTIN</a>
                        </li>
                        <li>
                            <a href="#">BSTON</a><a href="#">LONDON</a>
                        </li>
                        <li>
                            <a href="#">MILAN</a><a href="#">MUNICH</a>
                        </li>
                        <li>
                            <a href="#">NEW YORK</a><a href="#">SAN FRANCISCO</a>
                        </li>
                        <li>
                            <a href="#">SEATTLE</a><a href="#">SHANGHAI</a>
                        </li>
                        <li>
                            <a href="#">SINGAPQRE</a>
                        </li>
                    </ul>
                </li>
                <li class="foot-list3">
                    <ul class="fl-ul fl-ul3">
                        <li>
                            <a href="#" class="title">WitWork Sharing在线办公分享</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 交大众创中心</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 原品咖啡</a><a href=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 林卡咖啡</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 逸美时光咖啡</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 咖啡花</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> MTE</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 知竹茶馆</a><a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 交大众创中心</a><a href="#" class=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 创投咖啡黄泥磅</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 重大众创中心</a><a href="#" class=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 罗曼酒庄</a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/frontend/images/address-icon.png" alt=""/> 李众创</a><a href="#" class=""><img src="../../assets/frontend/images/address-icon.png" alt=""/> 正石拍摄</a>
                        </li>

                    </ul>
                </li>
            </ul>
            <div class="copyright">
                <span>©2014~2015　重庆智谷众创商业管理有限公司　渝ICP备15002338号-1</span>　
                <span>版权所有</span>
                <div class="weixin">
                    <i class="fa fa-weixin"></i>
                    <span class="weixinS"></span>
                    <div class="weixinB">
                        <span></span>
                        <img src="../../assets/frontend/images/weixin.png">
                    </div>
                </div>
                <a href="#" class="weibo"><i class="fa fa-weibo"></i></a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../assets/global/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="../../assets/global/plugins/error/js/error.js"></script>
<script src="../../assets/frontend/js/global.js"></script>
<script src="../../assets/global/plugins/move/js/move.js"></script>
<script>
    $(function(){
        /*左边菜单栏滑动效果的处理*/
        var menuLeft = document.getElementById("menu-left");
        var a = menuLeft.getElementsByTagName("a");
        var height = a[0].offsetHeight;
        var Dong = document.getElementById("dong");
        for(var i = 0;i< a.length;i++){
            a[i].index = i;
            a[i].onmouseover = function(){
                var a = this.index;
                move(Dong,{top:((height*a)+154)})
            };
            a[i].onmouseout = function(){
                move(Dong,{top:397})
            }
        }

        /*输入框字数的控制*/
        var wordCount = $(".wordCount");
        wordCount.each(function(){
            var textArea = $(this).find("textarea"),
                word = $(this).find(".word");
            statInputNum(textArea,word);
        });

        function statInputNum(textArea,numItem) {
            var max = numItem.text(),curLength;
            textArea.attr("maxlength",max);
            curLength = textArea.val().length;
            numItem.text(max - curLength);
            textArea.on('input propertychange',function () {
                numItem.text(max - $(this).val().length);
            });
        }
    });
</script>
</html>