@charset "utf-8";


/*common style*/
body,html{margin:0;padding:0;height:100%;font-family: "Helvetica Neue", Helvetica, STHeiTi, Microsoft Yahei, Arial;}
p{margin: 0;padding: 0;}
ul,li,img{margin:0;padding:0;list-style:none;border:none; vertical-align:middle;}
a{color:#000;text-decoration:none;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix{display: inline-block;}
html[xmlns] .clearfix {display: block;}
a,button,input,img,table,ul,li,tr,td,div{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.hide    {display: none;}
.block   {display: block;}
.inline-block{display: inline-block;}
.fl      {float:left;}
.fr      {float:right;}
.relative{position:relative;}
.absolute{position: absolute;}
.fix     {position: fixed;}
input,button,select{border: none;outline: none;}
.wrapper{width: 100%;background: #fff;position: relative;max-width: 640px;margin: 0 auto;}
.content{width: 93.6%;padding: 3.2%;}
.input-group{margin-bottom: 5%;text-align: center;}
.p-group{margin-bottom: 4%;font-size: 18px;color: #666;}
.div-group{width: 93.6%;padding:0 3.2%;height: 50px;line-height: 50px;color: #666;font-size: 18px;}
.input,select{width: 88%;height: 40px;line-height: 40px;padding-left: 2%;background: #efecec;border-radius: 5px;font-size: 18px;}
select{width: 90%;color: #666;}
input.btn{width: 50%;height: 35px;line-height: 35px;}
.requried{display: inline-block;width: 2%;color: #fcc991;}
.hidden{visibility: hidden;}



/*personal_information*/
.btn_confirm,.btn_submit,.btn_recharge{background: #fc6b32;border-radius: 7px;color: #fff;font-size: 18px;left: 50%;margin-left: -25%;}
input.btn_submit{margin: 20px 0 20px -25%;}



/*authorization_information*/
.certificate{width: 100%;}
.search{font-size: 30px;position: relative;top: -39px;color: #444;left: -10px;}



/*goods_list*/
.goods-group{width: 100%;}
.goods-group .goods-type{height: 50px;line-height: 50px;color: #333;font-size: 18px;background: #efecec;width: 93.6%;padding:0 3.2%;font-weight: bold;}
.ul-group{width: 93.6%;padding: 1% 3.2%;}
.goods-ul{width: 100%;margin-left: 2%;}
.goods-ul li{width: 45%;float: left;padding: 1%;border: 1px solid #dbdbdb;margin-right: 3%;margin-bottom: 1%;}
.goods-ul .last{margin-right: 0;}
.goods-ul li p{padding-bottom: 3%;color: #999;}
.goods-ul li .goods-img{width: 100%;}
.goods-buy{width: 100%;position: relative;border-top: 1px dashed #aaa;padding: 2% 0 0 0;}
.goods-buy .buy{padding: 3%;text-align: center;font-size: 12px;position: absolute;right: 0;top: 0px;background: #fdc457;color: #fff;border-radius: 3px;}
.goods-buy .money{color: #c53336;display: inline-block;width: 30%;font-size: 18px;}
.shopping_card{position: fixed;right: 2%;bottom: 10%;}
.mask{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,.5);max-width: 640px;margin: 0 auto;}
.mask .purchase_process{position: fixed;left: 0;right: 0;padding: 20px 0 0;background: #fff;bottom: 0;max-width: 640px;margin: 0 auto;}
.mask .shopping-goods{padding:2% 3.2%;position: relative; border-bottom: 1px solid #dbdbdb;}
.mask .shopping-goods .div-img{width: 32%;padding: .7%;background: #fff;margin-top: -10%;border-radius: 10px;}
.mask .shopping-goods .goods-img{width: 100%;border-radius: 10px;}
.mask .shopping-goods .money{position: absolute;left: 35%;top: 15%;color: #ff4040;font-size: 18px;font-weight: bold;}
.mask .shopping-goods .inventory_number{position: absolute;left: 35%;top: 40%;font-size: 18px;color: #666;}
.mask .shopping{padding:5% 3.2%;position: relative;color: #333;}
.mask .shopping>span{font-weight: bold;}
.operation li{width: 50%;float: left;height: 50px;line-height: 50px;text-align: center;}
.operation li button{color: #fff;width: 100%;height: 100%;font-size: 18px;}
.operation li .active{background: #fcad32;}
.mask .spinner{position: absolute;top: 25%;right: 3.2%;}
.recharge_details{display: inline-block;width: 100%;height: 100%;}



/*historical_order*/
.div-group .fr .fa{color: #fc6b32;font-size: 25px;position: relative;top: 2px;display: inline-block;width: 10px;}
.order-group{width: 100%;display: none;}
.order-group li{width: 90%;padding: 1% 5%;border-bottom: 1px solid #eee;}
.order-group li img{float: left;}
.order-group li .details{font-size: 18px;color: #999;}
.order-group li .details span{padding:0 4.2%;}
.order-group li .product{top: 10px;}
.order-group li .number{top: 30px;}
.order-group li .money{top: 50px;color: #ff6965;font-weight: bold;}



/*announcement*/
.a-group{display: inline-block;width: 100%;height: 100%;color: #666;position: relative;}
.a-group .name{font-size: 18px;color: #333;}
.a-group .notice-content{display: inline-block;width: 35%;font-size: 16px;color: #988473;position: absolute;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;left: 15%;}
.a-group .fr .time{font-size: 14px;top: 5px;}



/*announcement_details*/
.notice-details{background: #fdfafa;width: 93.6%;padding: 0 3.2%;}
.notice-details p{width: 100%;border-bottom: 1px solid #d6d3d3;height: 100%;padding: 15px 0;font-size: 18px;color: #333;font-weight: bold;}
.notice-details p .fr{color: #666;font-weight: 100;}
.conference_content{text-indent: 33px;display: block;margin-top: 10px;font-size: 16px;color: #999;font-weight: 100;}



/*information*/
.menu{width: 100%;border-bottom: 1px solid #fcad32;}
.menu li{width: 33.33333%;text-align: center;float: left;font-size: 18px;border-bottom: 4px solid transparent;position: relative;line-height: 50px;height: 50px;}
.menu1 li{width: 50%;}
.menu li img{float: right;height: 54px;width: 1px;}
.menu .active{border-bottom: 4px solid #fcad32;background: #f9f1e2;color: #fcad32;}
.personal_data{width: 100%;}
.personal_data li{padding: 10px 3%;border-bottom: 1px solid #dbdbdb;position: relative;}
.personal_data li>.a{width: 100%;height: 100%;display: inline-block;}
.personal_data li>.a .fa:first-child{color: #fcad32;display: inline-block;width: 20px;text-align: center;}
.personal_data li>.a .fa:last-child{display: inline-block;width: 5px;}
.personal_data li>.a .compellation{position: relative;left: 3%;color: #333;}
.personal_data li>.a .fr{color: #aaa;}
.personal_data li>.a .fr span{position: relative;right: 2%;}
.personal_data li> .qu{position: absolute;right: 7%;top: 7px;display: inline-block;padding: .5% 1.5%;background: #fcad32;border-radius: 5px;color: #fff;}
.total_amount{color: #ff6965;text-align: center;padding: 10% 0;font-size: 18px;}



/*shipped_details*/
.shipped_details li{width: 93.6%;padding:15px 3.2%;color: #666;font-size: 18px;border-bottom: 1px solid #dbdbdb;}
.shipped_details .last{border-bottom: none;}



/*change_address*/
.address-group{padding: 2% 3.2%;background: #fff;margin: 10px 0;position: relative;font-size: 18px;color: #666;}
.address-group .phone{position: absolute;right: 6%;top: 15px;}
.address-group .fa{position: absolute;right: 2%;top: 30%;font-size: 30px;color: #666;}
.address-group .people,.address-group .address{position: absolute;left: 15%;}
.address-group .address{bottom: 8px;}
.address-group .people{top: 13px;}
.address-group .default{color: #ff0404;font-size: 14px;}
.add_address{position: fixed;left: 0;right: 0;bottom:0;background: #fc6b32;text-align: center;color: #fff;font-size: 18px;padding: 3% 0;display: inline-block;max-width: 640px;}



/*chioce_address*/
.add{display: inline-block;text-align: center;position: relative;}
.add img{width: 100%;}
.add .add-btn{display: inline-block;width: 50px;height: 50px;background: #ff6863;line-height: 50px;color: #fff;font-size: 30px;border-radius: 100%;margin-right: 10px;}
.add-span{position: absolute;top: 30%;left: 50%;font-size: 18px;margin-left: -50px;font-weight: bold;}
.order-group .check{float: left;font-size: 25px;color: #ff8680;display: inline-block;margin-top: 10%;position: relative;left: -10px;}
.total_quantity,.total{padding:3% 3.2% 0;font-size: 18px;font-weight: bold;}
.total{color: #ff8680;}
.title{padding: 2% 3.2%;}
.title .name{font-size: 20px;color: #333;font-weight: bold;}
.title .money{font-size: 24px; color: #ff6864;}
.comment{border-top: 1px solid #d4d4d4;border-bottom: 1px solid #d4d4d4;width: 100%;}
.comment li{width: 20%;float: left;height: 50px;line-height: 50px;text-align: center;position: relative;font-weight: bold;color: #666;font-size: 16px;}
.comment li .fa{color: #ff6864;}
.comment li img{position: absolute;right: 0;}
.details-title{padding: 0 3.2%;height: 50px;line-height: 50px;font-weight: bold;color: #666;font-size: 18px;border-bottom: 1px solid #d4d4d4;background: #eeeeee;}
.details-content{padding: 2% 3.2% 0;}
.details-content P{font-size: 16px;color: #666;line-height: 30px;}
.add-car{width: 100%;height: 50px;line-height: 50px;color: #fff;text-align: center;background: #fcad32;font-size: 18px;}



/*product_details*/
.product-img{width: 100%;margin-bottom: 10px;}



/*notice_announcement*/
.common_style{width: 92%;padding: 10px 4%;border-top: 1px solid #dadbdc;font-size: 14px;color: #626c78;}
.common_style .field{position: relative;left: 15px;}
.common_style .type{font-size: 18px;}
.common_style .fa{font-size: 18px;}
.bg_fff,.receive_person,.copy_person{background: #fff;}
.textarea{background: #e9e9ea;padding-left: 10px; outline: none;border-radius: 10px;border: 0;width:98%;overflow: hidden;box-shadow: inset 0 0 2px 2px #c6c6c7;font-size: 14px;padding-top: 5px;}
.person{font-size: 16px;color: #f5785b;}
.receive_person,.copy_person{border-bottom: 1px solid #dadbdc;}
.copy_person,.receive_person{padding-right: 0;padding-left: 8%;}
.common_style .people{border-radius: 30px;width: 60px;height: 60px;}
.copy_person .common li,.receive_person .common li{float: left;position: relative;padding-right: 30px;margin-top: 10px;}
.receive_person .common .delete,.copy_person .common .delete{position: absolute;left: 40px;top: 0;}
.receive_person .common .name,.copy_person .common .name{display: inline-block;width: 60px;text-align: center;}
.registered_person_head{color: #f89980;font-size: 16px;}
.fr{float: right;position: relative;right: 5px;}
.add_human_information{background: #fff;padding: 0 4%;font-size: 16px;}
.bb{border-bottom:1px solid #DADBDC;border-top: 0;}
.add_human_information .second .last, .add_human_information .three .last{border-bottom: none;}
.add_human_information ul .first{padding: 12px 0;font-size: 16px;}
.add_human_information ul li ul li{border-bottom: 1px solid #eee;padding: 12px 0;}
.three ul li{padding: 4px 0;border-bottom:1px solid #DADBDC;}
.three ul .last{border-bottom: none;}
.three ul li .fa{position: relative;top: 10px;}
.three ul li .fa-check-circle{color: #f89980;}
.f12{color: #bbb;position: relative;left: 25px;}
.personal_information li .name{position: relative;left: 15px;}
.left{width: 100%;}
.left li{float: left;width: 100%;}
.scroller{ width:80%; padding: .625em; margin: 0 0 0 2%; border: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;text-align: center;}
.confirm_btn{width: 100%;}
.confirm_btn li{width: 50%;height: 30px;text-align: center;float: left;}
.confirm_btn li input{width: 100%;height: 30px;border: none;color: #fff;font-size: 14px;background: #c4c3c1;display: block;}
.confirm_btn li .last{background: #ed7c5e;}
.alert_btn,.dialog_btn{width: 100%;}
.alert_btn li,.dialog_btn li{width: 100%;height: 30px;text-align: center;}
.alert_btn li input,.dialog_btn li input{height: 30px;font-size: 12px;border-radius: 0 0 5px 5px;width: 100%;border: none;color: #fff;background: #ed7c5e;display: block;}
#pop_up_box{width: 260px;background: #fff;border: 1px solid #ccc;position: absolute;top: 0;z-index: 10000;left: 50%;margin-left: -130px;margin-top: -50px;border-radius: 5px;}
.pop_up_box_head{font-size: 14px;color: #fff;position: relative;width: 100%;border-radius: 5px 5px 0 0;background: #f68261;height: 30px;}
.pop_up_box_head span{position: absolute;left: 100px;top: 5px;}
.pop_up_box_head img{position: absolute;top: -8px;left: -13px;}
.pop_up_box_content{width: 100%;border-radius: 0 0 5px 5px;font-size: 16px;text-align: center;padding: 10% 0;}
.close{width: 18px;height: 18px;line-height: 18px;text-align: center;background: rgba(0,0,0,.7);border-radius: 12px;position: absolute;right: 5px;top: 5px;-webkit-transition:1s ease all;-moz-transition:1s ease all;font-size: 12px;color: #fff;}
.close:hover{color: #fff;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg); position:absolute;}
.dong{
    -webkit-animation: yi 1s infinite;
    -moz-animation: yi 1s infinite;
    -webkit-animation-iteration-count:1;
    -moz-animation-iteration-count:1;
}
@-webkit-keyframes yi {
    0%  {margin-top: -50px}
    25% {margin-top: -60px}
    50% {margin-top: -70px}
    100% {margin-top: -60px}}
@-moz-keyframes yi {
    0%  {margin-top: -50px}
    25% {margin-top: -60px}
    50% {margin-top: -70px}
    100% {margin-top: -60px}
}


/*pull_people*/
.error_box{width: 200px;height: 80px;background: rgba(0,0,0,.4);position: absolute;left: 50%;top: 50%;margin-left: -100px;margin-top: -40px;border-radius: 10px;
    line-height: 80px;text-align: center;font-size: 16px;display: none;color: #fff;}
.swing{
    -webkit-animation: yi 0.1s infinite;
    -moz-animation: yi 0.1s infinite;
    -webkit-animation-iteration-count:3;
    -moz-animation-iteration-count:3;
}
@-webkit-keyframes yi {
    0%  {margin-left: -120px}
    25% {margin-left: -100px}
    50% {margin-left: -80px}
    100% {margin-left: -100px}
}
@-moz-keyframes yi {
    0%  {margin-left: -120px}
    25% {margin-left: -100px}
    50% {margin-left: -80px}
    100% {margin-left: -100px}
}




@media screen and (max-width: 640px) {

}

@media screen and (max-width: 600px) {
    .goods-ul li{margin-right: 1%;}
    .order-group li .details span{padding:0 2.6%;}
}

@media screen and (max-width: 568px) {
    .order-group li .details span{padding:0 2.4%;}
}

@media screen and (max-width: 480px) {
    .order-group li img{width: 30%;}
    .order-group li .details span{padding:0 2%;font-size: 16px;}
    .order-group li .product{top: 12px;}
    .order-group li .number{top: 26px;}
    .order-group li .money{top: 34px;}
    .a-group .notice-content{left: 25%;}
    .mask .spinner{top: 20%;}
    .address-group{font-size: 16px;}
}

@media screen and (max-width: 414px) {
    .order-group li .details span{padding:0 1.1%;}
    .order-group li .product{top: 18px;left: 10px;}
    .order-group li .number{top: 25px;left: 10px;}
    .order-group li .money{top: 32px;left: 10px;}
    .mask .spinner{top: 15%;}
    .add .add-btn{width: 30px;height: 30px;line-height: 30px;}
    .add .add-btn{font-size: 16px;}
    .scroller{width: 70%;}
}

@media screen and (max-width: 375px) {
    .mask .shopping-goods .div-img{margin-top: -12%;}
    .mask .shopping-goods .money{top: 10%;font-size: 16px;}
    .mask .shopping-goods .inventory_number{top: 35%;font-size: 16px;}
    .mask .spinner{top: 10%;}
}

@media screen and (max-width: 360px) {
    .order-group li .details span{padding:0 .2%;}
    .order-group li .product{top: 7px;}
    .order-group li .number{top: 12px;}
    .order-group li .money{top: 16px;}
}

@media screen and (max-width: 320px) {
    .mask .shopping-goods .money{top: 0;}
    .mask .shopping-goods .inventory_number{top: 25%;}
    .mask .spinner{top: 7%;}
}